<div style="TEXT-ALIGN: center" align="left">
<br> 
By <span style="COLOR: #3333ff">woo hyuk</span>. <br>
<strong>Fandom:</strong> Fullmetal Alchemist. <br>
<strong>Status:</strong> One-shot (Completed) <br>
<strong>Disclaimer:</strong> Họ không phải của tôi. Nhân vật trong FMA thuộc về Hiromu-sensei. <br>
<strong>Pairing:</strong> Havoc x Roy. <br>
<strong>Gender:</strong> SA, Khùng-fic, Nhảm-fic. <br>
<strong>Rating:</strong> R. Đừng đọc nếu bạn là một người nhạy cảm. <br>
<strong>Warning:</strong> Đọc kĩ phần Rating. <br>
<strong>A/N:</strong> Mở đầu cho thứ bình yên dịu nhẹ tớ đã từng nghĩ đến, fic này chỉ là kết quả của một chút hứng thú bất chợt tối qua. Bạn nào thích kẹo bông có thể vui vẻ xem fic này *cười bịn*. <br>
<br>
<strong>Summary:</strong> November rain, November cloud, November coldness, November hurt, November felling… <br>
<br>
</div> <p align="left"><br>
<br>
----- <br>
<br>
<br>
<br>
<em>“Đại tá!” <br>
<br>
“Gì?” <br>
<br>
“Ghé môi lại đây.” <br>
<br>
“Không phải lúc…ưm…”</em> <br>
<br>
Hơi thuốc lá từ miệng anh ép qua khiến người ấy sặc. Một thoáng nhăn mặt vì cú đẩy quá mạnh, anh vẫn không nhìn vào đôi mắt người đối diện đang mở to nhìn thẳng vào anh vẻ phản đối và kéo cả hai chìm sâu hơn vào một nụ hôn nghẹt thở, hài lòng thấy đôi mắt ấy dần nhắm nghiền, và đôi môi cũng buông lỏng hơn trong vị cay của khói thuốc và một vị nồng đắng khác không biết từ đâu. <br>
<br>
<br>
Hé mắt ra và thấy bóng mình phản chiếu trong tận đáy đôi mắt đen sáng, anh nhếch môi cười, tự dưng dấy lên một cảm xúc lạ lẫm. <br>
<br>
<em>“Sao đấy?” <br>
<br>
“Không, chỉ là tự dưng muốn hôn.” <br>
<br>
“Nhầm người nhầm chỗ rồi.” <br>
<br>
“Chắc vậy…” <br>
<br>
“Làm việc tiếp đi, và bỏ thuốc lá xuống.” <br>
<br>
“Vâng, thưa ngài!”</em> <br>
<br>
<br>
Khẽ cười, hơi thở hắt ra vẫn nằng nặng mùi khói thuốc. Vẫn không có nhiều những câu nói hoa mĩ sáo rỗng, ngắn gọn như chính những từ có thể nói về mối quan hệ ấy. Anh thấy mình chao đảo trên từng bước đi. <br>
<br>
Say, không phải do khói thuốc. <br>
<br>
<br>
Chiều Amestris lạnh. Khi những ánh nắng gần như cuối cùng trong năm nhạt dần dưới những đám mây dày đặc trên bầu trời xám, ngưòi ta dễ thấy lòng mình trống trải. Cái trống trải của những lỗ hổng vốn được lấp vụng về bằng nắng và bụi nay trơ ra trước những cơn gió. Cuối thu rồi. <br>
<br>
Nhặt nhạnh những hạt nắng yếu ớt vào đáy đôi mắt xanh nhạt, anh rời mắt khỏi khung cửa sổ mở toang. Chiếc cửa sổ không có rèm che, gió luồn thổi tung những tờ giấy trên bàn và đem theo vài chiếc lá. Anh ngắm nhìn gương mặt nghiêng với mái tóc đen mượt rối bù vì cơn gió. Người ấy vẫn chăm chú vào một bản báo cáo, bàn tay theo thói quen mân mê một cây bút trên bàn. Nét mày hơi nhíu lại, và nhịp thở rất đều. Căn phòng hoàn toàn yên tĩnh. <br>
<br>
Anh có thể đứng mãi, dựa vào bên cạnh chiếc cửa sổ và hướng về phía bức tranh tuyệt đẹp ấy. Nhưng một chút chuyển động, và đôi mắt đen lại mau chóng lấp đầy anh. <br>
<br>
<em>“Sao thế, có việc gì à?” <br>
<br>
“Không.” <br>
<br>
“Đóng cửa sổ lại đi, lạnh quá!”</em> <br>
<br>
Vừa tức thời nhận ra những tờ giấy trên sàn, và cả mái tóc rồi bù của mình, người ấy khẽ nhíu mày, rồi vứt tập hồ sơ xuống bàn, vươn vai và đưa tay bóp đằng sau cổ. Anh vẫn đứng yên nhìn với một vẻ trống rỗng dịu dàng. <br>
<br>
<em>“Có nghe thấy không đấy?” <br>
<br>
“Vâng, thưa ngài!”</em> <br>
<br>
Anh cười nhẹ trước ánh mắt hơi nheo lại nhìn mình. Cửa sổ được đóng kín, không còn nghe tiếng gió thốc vào những bức tường. Căn phòng rộng như bị thu nhỏ lại, và sự im lặng trở nên tuyệt đối hơn. Không khí như đặc lại. Anh cảm thấy khó thở, và lại lấy ra gói thuốc. <br>
<br>
Màn khói lờ mờ giăng trước mặt khiến hình ảnh ấy mờ nhạt và nhoè đi, và anh cũng thở dễ dàng hơn. Tiếng giấy lật sột soạt. Hơi thở của người ấy vẫn rất đều. <br>
<br>
Gương mặt chăm chú vào những dòng chữ càng lúc càng biến đổi. Một vài cái nhíu mày, hơi thở của người ấy nặng hơn khi lật tìm một vài tài liệu khác trên bàn. Một tiếng thở dài, rồi một lần nữa chúng được vứt lại, hoàn toàn lộn xộn và chưa được giải quyết. Người ấy nghiêng người rồi dựa thoải mái ra lưng chiếc ghế, và ngáp. Một vùng thâm nhàn nhạt dưới đôi mắt mệt mỏi nổi bật trên làn da trắng. Anh bất giác lại mỉm cười. <br>
<br>
Một chút ngọt và âm ấm không đủ khiến anh cảm thấy được lấp đầy. Ướt và ấm nóng, anh thả lỏng hơn bàn tay đang luồn qua những sợi tóc mềm, rời môi khỏi đôi môi đang hơi ngỡ ngàng rồi lại nhẹ nhàng tìm lại nó. Một cái siết nhẹ, rồi anh đặt môi mình lên trên khoé mắt sâu mệt mỏi, thở thật nhẹ để mùi bạc hà rất thanh phảng phất trên những sợi tóc không bay mất. Anh cảm thấy nhẹ nhõm, nhưng anh không thấy bình yên. <br>
<br>
<em>“Cậu thật sự làm sao thế?” <br>
<br>
“Không thật mà!” <br>
<br>
“Tuỳ cậu, nhưng đừng nói dối tôi” <br>
<br>
“Thật vậy nhé?” <br>
<br>
“Ừ, tôi sẽ nghe.” <br>
<br>
“Tôi nhớ anh.” <br>
<br>
“Tại sao? Tôi đang ở đây.” <br>
<br>
“Vì vậy mới nói không sao. Anh vẫn ở đây mà.”</em> <br>
<br>
<br>
Anh phì cười trước vẻ nghiêm túc của người đối diện. Người ấy bao giờ cũng tỏ ra ngiêm khắc và khó tính, khi phải nắm giữ chức vụ quá cao mà tuổi còn trẻ như vậy. Những mệnh lệnh khô khan cũng là cái anh hay được nhận. Nhưng khi nói chuyện với anh, dù là trong Bộ tư lệnh, chất sắc lạnh trong giọng nói ấy lúc nào cũng được giảm, không ấm áp nhưng cũng không giả tạo. Anh thoải mái và có chút vui vì điều ấy. <br>
<br>
<br>
Nhưng giọng người ấy có cả sự lo lắng bên trong những câu nói lạnh nhạt. Anh tự hỏi vấn đề gì đang xảy ra với mình. <br>
<br>
<br>
Bên ngoài trời bắt đầu mưa. Cùng những cơn gió thổi mạnh đám lá cây, những hạt nước cũng đập mạnh vào ô cửa kính tạo nên những vệt xước dài rồi tan chảy. Tiếng mưa len qua khe cửa đánh thức kẻ lười biếng mộng du. Màn mưa làm nhoè mọi thứ và làm không khí trong phòng lại dãn ra. Một cảm giác khác lạ. Anh hít một hơi dài, cảm thấy mình đã tìm được hơi thở. Hơn cả những nụ hôn kia. <br>
<br>
<br>
<em>“Tôi không thích sự mơ hồ.” <br>
<br>
“Tôi cũng vậy. Nhưng đôi khi mơ hồ và viển vông là những thứ không thể tránh khỏi hay tách rời.” <br>
<br>
“Tôi ghét một cậu như thế này.” <br>
<br>
“Vậy ‘tôi’ sẽ phải như thế nào?” <br>
<br>
“Tôi không biết. Đấy cũng lại là một sự mơ hồ. Cậu như thế này thì là…”</em> <br>
<br>
<br>
Mỉm cười. Người ấy cũng bật ra một tiếng cười khô khốc. Anh không thích tiếng cười ấy, không thích hơi thở nặng nề khi người ấy nói. Anh cảm thấy lồng ngực mình một lần nữa nghẹn lại, và anh khó thở. Khói thuốc sẽ làm anh dễ chịu hơn. <br>
<br>
<br>
<br>
<br>
---
<br>
<br>
<br>
<br>

Mưa đêm cũng khó chịu như những hơi thở vang không đều đặn từ gian phòng bên cạnh, sau cánh cửa khép hờ. Anh trăn trở rút một điếu thuốc và rót cho mình một ít chất lỏng đặc quánh cay nồng từ một trong những chiếc chai đặt trên kệ. Hơi cay của rượu khó chịu hơn của khói thuốc, nó thiêu đốt anh từ tận cuống họng, trôi xuống tận sâu thẳm trong người, và cháy bùng lên một thứ cảm giác cồn cào lo sợ không thể lý giải. Gió mở tung khung cửa sổ cao khép hờ và thổi bay chiếc rèm cửa. Nước xâm nhập vào căn phòng, từng giọt vội vã, và bị giam vĩnh viễn trong không gian tối và đặc ấy. Hơi nước khiến mùi rượu và thuốc loãng đi trong đầu anh, và anh im lặng nghe tiếng mưa, cũng như cố nghe tiếng thở ấy. <br>
<br>
Bóng tối trong anh ngày càng lớn, và ngọn đèn mờ mịt toả thứ nhiệt khó chịu khiến anh cảm thấy rất tệ. Nhấp môi và dốc hết những giọt cồn cay xè cuối cùng vào cổ họng, anh dụi điếu thuốc tàn quá nửa và đứng lên, đẩy cửa bước vào phòng. <br>
<br>
Người ấy đã ngủ say. Hàng mi khép hờ dưới những lọn tóc rối sáng lên dưới ánh đèn xa tít. Đêm mờ mịt nên trăng không trải trên gò má hơi gầy và đôi mắt sâu. Khuôn môi mạnh mẽ khẽ cử động theo từng hơi thở ngắn dài trong giấc ngủ sâu không tròn vẹn. Người ấy đang không yên bình trong giấc ngủ của mình. <br>
<br>
Anh cúi xuống hít một hơi đầy mùi bạc hà từ mái tóc đen rồi ngồi xuống đất phía cạnh chiếc giuờng, đưa tay vén nhẹ nó. Người ấy khẽ cựa mình, rồi hơi thở nhẹ dần. <br>
<br>
Anh gục đầu xuống cánh tay gác lên đầu gối đang co lại. Hơi rượu xộc lên mũi khiến anh khó thở. Khói thuốc lảng vảng khiến mắt cay. Căn phòng vẫn tối mờ với tiếng thở nhẹ và mùi bạc hà rất thoảng. Chơi vơi. <br>
<br>
<br>
<br>
<br>
---
<br>
<br>
<br>
<br>
Anh một lần nữa mở mắt trên chiếc giường quen thuộc. Chiếc pijama ẩm nước mưa đã được thay ra, và anh đang khoác trên người một chiếc sơmi trắng không cài nút. Mùi nắng hanh hao trên chiếc chăn anh dụi đầu vào khiến anh bất giác vội hít đầy lồng ngực. Một buổi sáng của tháng mười một với nắng rất nhẹ khó khăn len lỏi qua những đám mây xám xịt, nhưng trời dường như vẫn rất trong. <br>
<br>
Rúc sâu hơn nữa vào chiếc gối còn thoảng mùi bạc hà, mỉm cười vì vài sợi tóc đen còn vương lại, rồi anh lười biếng ngồi dậy bước xuống giường. <br>
<br>
Một tờ giấy nhắn được dán lên tấm gương trong phòng tắm. Có vẻ như hôm nay anh được nghỉ phép. Có vẻ như người ấy đã hơi lo và rất bực vì anh đã để người ướt ngồi ngủ dưới đất. Nhún vai, anh rửa mặt rồi chậm rãi bước ra ngoài, lấy một khoanh bánh mì và tờ báo sáng. Một cảm giác trống rỗng và bình yên đến giả tạo bao trùm lấy anh. Lũ chim thường nhặt vụn bánh mì ở quảng trường đối diện cửa sổ cũng không thấy đâu, và nắng thì dần biến mất trong thứ ánh sáng ban phát và cả cái lạnh se se nơi đầu ngón tay. Thở dài, rồi anh lại lấy quân phục mặc vào và ra khỏi nhà. <br>
<br>
Vốc từng vốc nước lớn vào mặt, anh nhìn vào gương, thấy một đôi mắt xanh trống rỗng đang nhìn mình. Gã đàn ông trong gương đưa tay vuốt những sợi tóc vàng ướt nước đang bết vào trán, và nhìn anh nghi hoặc. Anh mím môi rồi nhún vai bước ra, không có lấy một suy nghĩ khi bước chân về phía căn phòng quen thuộc, nơi vị đại tá với khuôn mặt lạnh lùng đẹp đến buốt tim ấy thường ngày vẫn ngồi làm việc. <br>
<br>
Anh có một sự ngạc nhiên thú vị khi trong phòng không có ai. Hồ sơ Hawkeye mang tới cùng với tờ giấy nhắc nhở vẫn để gọn gàng trên bàn, tức là vẫn chưa có ai đụng tới. Anh vô thức tiến đến gần bàn giấy, và ngồi vào chiếc ghế dựa. Đưa tay rút một tờ hồ sơ, anh lơ đãng nhìn khắp căn phòng từ vị trí ấy. Ánh sáng và vài cơn gió nhẹ thổi khiến lưng anh có cảm giác nhồn nhột, và anh phát hiện ngay bên trái bàn làm việc, tại ô cử tưởng chừng luôn đóng có một phần nhỏ không lắp kính, và gió vẫn vô tư luồn từ khe hở ấy vào. Thấy lòng mình dấy lên thứ cảm xúc khó chịu, anh quờ quạng trong cái bình yên được tạo dựng sơ sài ấy, và thấy mình trượt dần trong vô thức. <br>
<br>
<br>
Cảm giác nằng nặng trên ngực, anh mở mắt ra và thấy một chiếc áo khoác đen choàng lên người mình. Anh khẽ dụi mắt và thấy người ấy đang cầm một tập hồ sơ ngồi trầm ngâm trên chiếc ghế salon đặt ở góc phòng. <br>
<br>
<em>“Anh đã đi đâu vậy?” <br>
<br>
“Lấy một cốc cà phê” <br>
<br>
“Sao không gọi tôi dậy?” <br>
<br>
“Cậu lẽ ra đang phải ở nhà.”</em> <br>
<br>
<br>
Anh mỉm cười vì sự lo lắng và trách móc trong giọng nói ấy. Rời khỏi bàn làm việc, anh ngạc nhiên thấy cảm giác khó chịu và áp lực vô hình biến mất; anh ngồi xuống cạnh người ấy, đưa tay lấy và nhấp một ngụm cà phê không có đường. <br>
<br>
<br>
<em>“Không có tôi pha, anh uống cái thứ kinh tởm này sao?” <br>
<br>
“Cũng không đến nỗi.” <br>
<br>
“Có vẻ như anh chưa giải quyết được việc gì.” <br>
<br>
“Không biết, không ngồi ở bàn làm việc tôi không suy nghĩ được gì cả.” <br>
<br>
“Là vì thiếu đi cái áp lực ấy đúng không? Anh đã nghĩ gì khi nhìn bao quát căn phòng từ đó vậy?” <br>
<br>
“Một số thứ.”</em> <br>
<br>
<br>
Anh khịt mũi, và người ấy nhếch môi cười sau một cái nhìn rất sâu. <br>
<br>
<br>
<em>“Tôi biết rồi. Chúng ta đi thôi.” <br>
<br>
“Đi?” <br>
<br>
“Ừ, hôm nay tôi cũng nghỉ phép.” <br>
<br>
“Lạ thật đấy.”</em> <br>
<br>
<br>
Anh nói chiếu lệ, rồi nhanh chóng bước ra khỏi phòng sau khi vứt xấp giấy lên trên chồng hồ sơ dày cộm trên bàn. Choàng vào vai người ấy chiếc áo khoác bị từ chối ngay sau đó, anh cười khoác nó lên vai mình, cảm thấy chút gì đó thoải mái và dịu dàng. Có lẽ do anh và người ấy đang ở ngoài đường. Không ở nhà, cũng không ở trong toà nhà lúc nào cũng dày một thứ không khí căng thẳng và đầy áp lực ấy. Hít đầy một hơi thứ không khí lành lạnh bên dưới những hàng cây dài, anh nhìn sang người vẫn im lặng đi bộ bên cạnh mình. Họ đang ở một con đường rất nhỏ và vắng người ở Central city, và không có bất cứ hàng quán gì ở đây, chỉ có những ngôi nhà vắng đóng cửa im ỉm và lũ mèo hoang thi thoảng băng ngang đường. <br>
<br>
<em>“Roy!” <br>
<br>
“Hm?” <br>
<br>
“Nắm tay nhé?” <br>
<br>
“Cứ như trẻ con.”</em> <br>
<br>
<br>
Cưòi thoả mãn trước bàn tay trần không đeo găng nằm gọn trong tay mình, anh nhét nó vào túi áo khoác và siết chặt. Lẽ dĩ nhiên người ấy cũng phải đi sát anh hơn. Hơi ấm dễ chịu lan sang anh, và anh thấy lòng mình nhẹ lại. <br>
<br>
Họ vẫn đi, với tay phải của người ấy và tay trái của anh ở trong túi áo khoác của anh, và bàn tay còn lại an toàn trong chiếc găng giữ ấm. Mỉm cười dưới những tầng mây dày xốp mềm trên đầu, anh quay sang người bên cạnh, giọng nói thuần vui thích. <br>
<br>
<em>“Lên núi đi” <br>
<br>
“Tại sao?” <br>
<br>
“Mây đẹp quá.” <br>
<br>
“Thật vớ vẩn.” <br>
<br>
“Không thích à?” <br>
<br>
“Không dễ được nghỉ phép, sao không nghỉ ngơi?” <br>
<br>
“Nghỉ ngơi đấy thôi.” <br>
<br>
“Cậu đang bệnh.” <br>
<br>
“Uhm.” <br>
<br>
“Lạnh đấy, về lấy thêm áo đã.” <br>
<br>
“Toàn chiều tôi những cái vớ vẩn.”</em> <br>
<br>
<br>
Anh phì cười, siết chặt tay người ấy hơn. Nhún vai đi bên cạnh anh. Mấy vô lo ở đâu đó rất gần. <br>
<br>
Ngôi nhà hiện ra trước mặt. Tiến đến trước cửa, người ấy không vào mà đứng nhìn anh. Anh ngạc nhiên và nói là mình không mang chìa khoá. Đôi môi rất gần nhếch lên cười và bảo anh hãy bỏ tay ra. Giật mình và bói rối, anh bước vào trong nhà và cảm thấy hơi ấm vây xung quanh ngay khi người ấy búng tay về hướng những thanh củi trong lò sưởi. <br>
<br>
Người ấy bước vào phòng ngủ. Anh thấy mình đi theo sau, như một con mèo. Anh ngạc nhiên thấy người ấy lôi ra những chiếc áo và bắt anh thay, cũng như những viên thuốc màu trắng và một cốc nước. <br>
<br>
<br>
<em>“Tại sao?” <br>
<br>
“Phải uống thuốc và mặc đủ ấm mới được đi.” <br>
<br>
“Tôi đâu phải trẻ con.” <br>
<br>
“Tôi cũng không giỏi trông trẻ, nên quyết định nhanh đi.”</em> <br>
<br>
<br>
Anh nhăn mặt trước cái nhướn mày thờ ơ, rồi cười tinh quái khi vòng tay ôm người ấy từ đằng sau. <br>
<br>
<br>
<em>“Không uống, không mặc, không đi nữa.” <br>
<br>
“Thật trẻ con. Như vậy cũng tốt, vậy thì nằm ngủ ngay cho đến khi nào cậu khoẻ lại và hết cư xử quái lạ đi.”</em> <br>
<br>
<br>
Anh phì cười rồi kéo khuôn mặt đang nhăn lại cố trốn tránh đối diện với mình. Anh hôn lên trán và cằm người ấy, mơn man làn da mát lạnh. Và thấy tai mình bị véo không thương tiếc. <br>
<br>
Anh bị vứt xuống giường, và bị một núi chăn gối đè ngộp thở trước khi người ấy nhét thuốc vào miệng anh kèm sau đó là một chai nước vứt vào mặt. <br>
<br>
<br>
<em>“Không dịu dàng hơn được sao?” <br>
<br>
“Muốn được đối xử tử tế thì biết nghe lời chút đi.”</em> <br>
<br>
<br>
Người ấy nới hai chiếc nút sơ mi, thu gọn những quần áo trên giường và bước ra ngoài. Anh mỉm cười, rồi rúc sâu hơn vào chiếc chăn mùi nắng đã phai hẳn. <br>
<br>
<br>
<br>
<br>
---
<br>
<br>
<br>
<br>
Anh mơ hồ cảm thấy trời đêm lạnh lẽo siết dần lấy và nuốt chửng những hơi ấm cuối cùng của chiếc lò sưởi gần nguội lạnh. Mưa vỗ đều trên mái nhà và đập vào những mảnh kính hờ hững trên cửa sổ. Siết chặt chiếc chăn quấn quanh người, anh cảm thấy lòng mình trống trải đến đau đớn. Nỗi lo sợ không tên cứ kéo đến rồi lại đi, nuốt chửng lấy anh trong tiếng nước chảy rả rích và cả hơi thở ngắn rất nhẹ như tiếng thì thào của đêm. Anh cảm thấy đầu mình như vỡ ra từng mảnh khi những cảm giác không rõ ở đâu tràn về. <br>
<br>
Tên độc tài mang tên màn đêm vẫn khinh khỉnh bắt nhốt những bình yên vào trong lòng nó, và anh cảm thấy lạnh hơn bao giờ hết. Anh chạm vào da mình, thấy nó lạnh như chạm vào băng. Anh sờ lên môi mình và tưởng như nó sẽ nứt ra trong cái buốt tê người. Anh nhìn trừng trừng vào màn đêm đặc quánh, và choàng dậy rót một ly rượu đầy. Anh châm thuốc, cảm thấy ngón tay mình run rẩy. Hít một hơi thật dài thứ khói trắng xanh hăng hắc, anh cảm thấy hơi thở của mình trở về. Chất rượu chát đắng cay nồng xộc lên mũi anh, quấn lấy môi anh và tan chảy trong miệng anh. Cảm thấy thiếu vắng, anh thảng thốt nhìn vào lòng bàn tay mình. Cái lạnh đang khắc lên nó những đường nét cay nghiệt xa lạ. Anh vứt cốc rượu xuống sàn và nắm chặt hai bàn tay. Anh quị ngã, muốn nói lên điều gì đó, bất cứ điều gì… <br>
<br>
<br>
<em>“Havoc, sao thế?”</em> <br>
<br>
<br>
Anh giật mình trước bàn tay ấm nóng đang cố đỡ anh dậy. Hơi lạnh xung quanh khiến anh đau đớn. Bàn tay ấy khiến anh đau đớn. Anh lắc đầu mạnh, và cảm thấy mắt mình cay cay, một lần nữa không phải do khói thuốc. Anh cắn mạnh môi, cảm thấy máu chảy ra từ vết thương nhỏ cũng lạnh như nước đá. <br>
<br>
Vòng tay nhẹ bẫng ôm lấy vai anh, và đôi môi quen thuộc lướt trên trán anh, vùi trong tóc anh. Anh run rẩy thấy mình vô thức tim kiếm thứ gì đó, và vỡ oà khi bàn tay anh chạm vào khuôn mặt lo lắng, miết trên làn xa trắng đến xanh xao. Anh thấy mình được đỡ dậy, và được ôm rất chặt. Những lời nói xoa dịu vỗ về vang lên không ngừng trong tai anh. Anh thả lỏng người trong hơi ấm của vòng tay ấy, rồi giật mình khi một cơn gió đập cánh cửa sổ vào tường tạo ra một tiếng động mạnh. Hơi rượu xốc lên cùng với cái lạnh buốt ẩm ướt vồ lấy anh. Anh gạt vòng tay dịu dàng ấy ra, ấn con người ấy xuống đống chăn gối bên cạnh và ngấu nghiến hôn. <br>
<br>
Đôi mắt đen thẫm mở to sững sờ, rồi bàn tay hoảng hốt đẩy anh ra. Môi anh vẫn ấn chặt vào đôi môi đang cố mím lại và bắt nó mở ra, bàn tay thô bạo mở những chiếc nút áo và để lại những vết hằn đỏ trên lồng ngực người ấy. Một cảm giác đau rát ở mặt. Roy trừng trừng nhìn anh, giận dữ xen lẫn lo lắng. Anh cảm thấy tim mình nhói buốt trước ánh nhìn ấy, và gục đầu, đưa tay nắm chặt tóc của mình. Anh gần như bật khóc khi tiếng mưa vẫn vang vọng trong căn phòng tối. Và như mọi đêm, anh đau đớn trước nỗi sợ không rõ lý do của bản thân. <br>
<br>
Anh run rẩy khi vòng tay ấy một lần nữa choàng qua vai mình, và rúc đầu vào ngực người ấy. Roy khẽ khàng đặt anh xuống giường và đặt môi hôn lên những nơi có thể hôn trên mặt, và dừng lại trên môi anh. Anh tránh né, cảm thấy bản thân mình tồi tệ và ghê tởm. Đôi môi ấm nóng nhẹ nhàng tách môi anh ra, và hơi ấm dần làm anh thả lỏng người. Anh quờ quạng bấu víu lấy đôi vai người đối diện, vội vàng bắt lấy một chút ngọt ngào trên đầu lưỡi. Đẩy nụ hôn đi sâu hơn, anh nhận thấy sự chấp nhận của người ấy, và tiếp tục công việc của mình trong sự huyễn hoặc đầy đam mê. Không một lần buông ra cho hơi thở, anh gấp gáp hớp lấy từng ngụm không khí lạnh ngắt rồi làm nó nóng lên khi đầu luỡi của họ vẫn quấn lấy nhau trong sự vội vã của anh và sự dịu dàng của người ấy. Anh cảm thấy một thứ gì đó dâng đầy trong mắt mình, và khẽ rời môi người ấy ra. Hơi thở dồn dập át đi tiếng mưa lạnh lẽo bao trùm. Anh nhìn thấy nụ cười trên đôi môi hơi hé mở, và ôm chặt lấy con người trước mặt. <br>
<br>
Khẽ khàng đặt môi hôn lên bờ vai mạnh mẽ và ấm áp, anh đưa tay đặt trên làn da trắng, và ve vuốt nơi lồng ngực người ấy. Đôi môi lướt trên cổ, rồi dừng lại ở môi cho một nụ hôn nhẹ và sâu. Hơi thở của anh ấm lại, và sự khao khát chảy dọc toàn cơ thể khiến anh không còn cảm giác về một tảng băng. Luồn tay sâu hơn vào làn vải mỏng trên cơ thể người đối diện, anh thả trôi cảm xúc khi đôi tay ấy vòng qua người mình và để mặc bản năng và sự đam mê dẫn dắt, trong tai anh không còn tiếng mưa, chỉ còn những tiếng thở của chính anh, và tên anh được gọi khe khẽ lẫn trong nhịp thở của người ấy. <br>
<br>
Đêm còn rất ngắn thôi… <br>
<br>
<br>
<br>
<br>
---
<br>
<br>
<br>
<br>
Anh lại tỉnh dậy trên chiếc giường quen thuộc. Căn phòng vẫn trống rỗng, và trời không có nắng. Đã gần trưa. Anh thở dài lười biếng ngồi dậy. Chiếc chăn rơi ra, anh khẽ nhăn mặt khi nhìn nhận ra người mình chỉ khoác một chiếc áo sơ mi, một lần nữa lại không cài nút. <br>
<br>
Bước nhanh vào phòng tắm, uể oải xoay cơ thể mỏi nhừ, anh rửa mặt và ngâm mình trong nước nóng. Cảm thấy dễ chịu và thoải mái, anh bước ra ngoài, với lấy chiếc khăn lau tóc, tự hỏi người ấy đã đi từ bao giờ. <br>
<br>
<br>
<em>“Mặc quần áo vào rồi hãy đi lung tung trong nhà, gã ngốc!”</em> <br>
<br>
<br>
Anh giật mình, bối rối vì ánh mắt và cả gương mặt trêu chọc cùng nụ cười nửa miệng của người đang dựa vào cửa nhìn anh. Luống cuống đánh rơi chiếc khăn, anh tự rủa mình rồi hỏi, không giấu vẻ ngạc nhiên. <br>
<br>
<br>
<em>“Sao anh lại ở nhà?” <br>
<br>
“Sao chỉ mình cậu được trốn việc mà tôi lại không?”</em> <br>
<br>
<br>
Người ấy vẫn cười vẻ thích thú, bước tới nhặt chiếc khăn vứt lên đầu anh và lôi trong tủ ra một chiếc khăn tắm lớn choàng qua người anh. <br>
<br>
<br>
<em>“Tốt nhất nên làm ấm người trước khi cậu lại bỉ cảm tiếp.” <br>
<br>
“Tôi bị cảm từ lúc nào thế?”</em> <br>
<br>
<br>
Nhún vai. Anh nhăn mặt, lần đầu cảm thấy bực bội khi được chăm sóc như một đứa trẻ. Mặc vào bộ quần áo để sẵn trên giường, anh hơi đỏ mặt vì chiếc giường lộn xộn và cả mảnh vỡ của cốc rượu anh làm vỡ đêm qua. Anh bối rối đi thu dọn nó. <br>
<br>
<br>
<em>“Để nó đó đi. Tôi hứa là tôi sẽ bắt cậu dọn nó sau. Giờ thì ra ăn sáng nhanh lên.”</em> <br>
<br>
<br>
Anh bối rối thấy mình bị kéo ra ngoài, và lấy một khoanh bánh mì kẹp sẵn mứt, ngạc nhiên thấy hai chiếc ba lô lớn trên bàn. <br>
<br>
<br>
<em>“Anh sắp đi đâu sao?” <br>
<br>
“Phải, chúng ta sắp đi, vì vậy ăn nhanh lên.” <br>
<br>
“Đi đâu?” <br>
<br>
“Lên núi.”</em> <br>
<br>
<br>
Anh mở to mắt trước câu nói rất thản nhiên, rồi khịt mũi trước khi sự cảm động không đúng lúc dâng lên làm anh mất kiềm chế. Nhìn ra ngoài cửa sổ, mây vần vũ báo hiệu một trận mưa. Anh nhăn mặt. <br>
<br>
<em>“Sắp mưa rồi.” <br>
<br>
“Ừ.” <br>
<br>
“Vẫn lên núi sao?” <br>
<br>
“Ừ.” <br>
<br>
“Sao lại hào hứng thế?” <br>
<br>
“Vì mây rất đẹp.”</em> <br>
<br>
<br>
Anh hơi đỏ mặt vì câu nói châm chọc, rồi ăn nốt miếng bánh, ngượng nghịu lau mứt dính trên tay. Kẻ đối diện cười khẩy, chụp lên đầu anh cái mũ và xách ba lô bước ra khỏi nhà. <br>
<br>
<br>
<em>“Không, hôm nay tôi lái xe.”</em> <br>
<br>
<br>
Anh lại đứng trân trước câu nói cùng cái nhếch mép của người ấy, và thấy mình, như một thằng ngốc, bị tống sang ghế bên phải. <br>
<br>
<br>
Xe cứ đi, ra khỏi Central city, đến một nơi xa lạ. Anh vẫn không khỏi thắc mắc, nhưng thoải mái vô cùng từ khi chiếc xe rời khỏi thành phố ấy. Nhưng đến chiều, khi họ phải dừng lại để tiếp nhiên liệu thì anh không thể đừng thắc mắc, để rồi nhận lấy một nụ cười và một cái nhún vai. Anh nhíu mày, cảm thấy một chút gì đó bực bội xen lẫn thú vị. Biết không thể khai thác thêm, anh nhún vai và tiếp tục lên xe sau khi người ấy vẫn không để anh lái xe với lý do anh không biết đường đi. <br>
<br>
Trời tối hẳn thì xe dừng lại. Anh được đánh thức và luống cuống xuống xe trong khi ngưòi ấy phì cười trước bộ mặt đỏ bừng của mình. Người ấy khoác ba lô lên một bên vai, và chủ động nắm tay anh kéo đi trước sự ngạc nhiên của anh. Và anh càng ngạc nhiên nữa khi nơi họ đến, không phải một nhà trọ mà là một bãi đất đá cao ngất ngưởng. <br>
<br>
<br>
<em>“Đi đâu đây?” <br>
<br>
“Leo núi.” <br>
<br>
“Trong khi trời tối thế này?” <br>
<br>
“Ừ, biết sao được, vì chúng ta khởi hành trễ quá.”</em> <br>
<br>
<br>
Anh không thể chống lại sự bướng bỉnh của con nhười ấy, anh biết. Nên anh đi theo cái bóng trước mặt, lòng thầm mong sẽ không xảy ra chuyện gì. <br>
<br>
Hơn hai tiếng leo lên trên những hòn đá, mô đất trơn trượt kèm tiếng lầm bầm chửi rủa của anh, người ấy dừng lại, có vẻ đắc ý trước một cái hốc khá lớn và bằng phẳng. Nhìn về phía sau, một khung cảnh bao la và gió thổi mạnh cho thấy họ đang ở lưng chừng núi, giữa trời. <br>
<br>
<br>
<em>“Chúng ta sẽ nghỉ ở đây.” <br>
<br>
“Cái gì? Nghỉ lại á?” <br>
<br>
“Ừ, và đừng ca cẩm, dựng lều trước khi chúng ta chết cóng nhanh lên.” <br>
<br>
“Nhiều khi, Colonel, anh điên hơn tôi tưởng rất nhiều.”</em> <br>
<br>
<br>
Người ấy chỉ cười khẩy và nhướn mày. Anh than trời, cố gắng không buột miệng chửi. Tuy vậy, anh vẫn chăm chú dựng lên cái lều, trong khi người ấy gom một vài cành cây xếp gần đó, và đeo găng, cố đốt chúng. <br>
<br>
<br>
<em>“Cây ẩm ướt cả. Chịu thôi, mấý ngày nay hay mưa quá.” <br>
<br>
“Anh nói cái gì? Vậy chúng ta chết mất! Đây là trên núi, anh hiểu không?” <br>
<br>
“Ừm, đừng lo, tôi có mang đủ áo.”</em> <br>
<br>
<br>
Anh nghiến răng trước cái vẻ tỉnh bơ ấy, và thở dài. Dù sao anh cũng không cảm thấy khó chịu. Anh không hiểu, nhưng cái cảm giác khó chịu và đau đớn hành hạ anh mỗi đêm vẫn không đến, và như thế là quá đủ. Anh cúi người chui vào lều, và ngạc nhiên thấy người ấy lấy ra một tấm bạt, trải phía ngoài và ngồi lên đó. <br>
<br>
<br>
<em>“Sao không vào đây?” <br>
<br>
“Tôi chưa buồn ngủ. Cậu buồn ngủ rồi à?”</em> <br>
<br>
<br>
Anh mím môi. Sao có thể buồn ngủ khi ngày hôm nay anh đã ngủ quá nhiều như vậy? Ánh nhìn ấy và nụ cười ấy làm anh cảm thấy bức bối, và anh chui ra ngoài, ngồi xuống cạnh người ấy, quấn chặt hơn chiếc áo quanh người. Một chút gì đó lo sợ dấy lên khi anh nhìn vào khoảng không với rất nhiều sao trước mặt, và gió luồn vào cổ, vào mắt anh rát buốt. Tuy vậy, cái lo sợ không giống như khi anh ngồi trong phòng và những giọt thời gian đè nặng lấy anh trong màn đêm đặc quánh ấy. Cái bao la của gió và trời khiến anh hít thở rất sâu, và thấy mình nhẹ như có thể rơi bất cứ lúc nào. <br>
<br>
<br>
<em>“Cảm thấy thoải mái chứ?” <br>
<br>
“Đây là đâu?” <br>
<br>
“Câu hỏi hay đấy. Tôi không biết.” <br>
<br>
“Tại sao? Anh là người đưa chúng ta đến đây!”</em> <br>
<br>
<br>
Nhún vai và cười. Anh gần như phát điên lên. Đến cả người ấy cũng rất lạ, và cảm giác không quen thuộc này khiến anh cảm thấy không an toàn. <br>
<br>
<em>“Tôi chỉ đi khỏi nơi cậu cảm thấy khó chịu.”</em> <br>
<br>
Anh ngỡ ngàng nhìn người bên cạnh, và nhói lên khi thấy nụ cười ấy. Cảm giác như… người ấy biết tất cả, và hiểu tất cả. Anh khịt mũi, cố gạt đi suy nghĩ ấy. <br>
<br>
<br>
<em>“Tôi không biết cái gì làm cậu bất an mỗi đêm, và khiến cậu trở nên khác lạ, nhưng đó cũng là thứ khiến tôi cảm thấy không thoải mái.” <br>
<br>
“Anh biết?” <br>
<br>
“Phải, chắc là vậy.”</em> <br>
<br>
<br>
Ngưòi ấy mỉm cười, và anh cũng bật cười với sự xuẩn ngốc của bản thân, nhớ tới vị trí đầy cảm giác căng thẳng và những giấc ngủ không ngon của người ấy. Có lẽ người ấy biết những suy nghĩ của anh, nên bàn tay ấm nóng ấy đưa ra nắm lấy tay anh, đang dần lạnh cóng. <br>
<br>
<br>
<em>“Cậu từng hỏi, tôi nghĩ gì khi ngồi ở trong văn phòng, sau bàn làm việc và nhìn bao quát căn phòng, phải không? Vậy cậu nghĩ gì khi ngồi ở đó?” <br>
<br>
“Tôi chỉ cảm thấy nặng nề và khó chịu. Không hiểu sao anh có thể thích thú hay thậm chí kể cả ép mình ngồi ở đó.”</em> <br>
<br>
<br>
Anh nói khẽ, và cảm thấy giận mình. Anh hoàn toàn biết lý do người ấy cố gắng chịu đựng chúng. Chỉ là anh cảm thấy xót, và một chút hối hận tiếc nuối. <br>
<br>
<br>
<em>“Khi ở đó, tôi luôn ép mình chú tâm vào công việc, tuy không hiệu quả lắm. Tôi thường không nhìn lên khỏi những tờ giấy. Nhưng khi nhìn lên, có một thứ tôi bắt buộc phải thấy…” <br>
<br>
“Hm.”</em> <br>
<br>
<br>
Anh khịt mũi, đã biết câu trả lời. <br>
<br>
<br>
<em>“Ừ, là thế đấy. Nên đừng cố biến mất khỏi mắt tôi.” <br>
<br>
“Tôi đã không.” <br>
<br>
“Vậy cũng đừng đẩy tôi ra khỏi tầm mắt cậu. Nếu cậu là người luôn trấn an tôi khi tôi ngồi trong căn phòng ấy, hãy để tôi cũng là người xoa dịu cậu những trống trải cậu có mỗi đêm. Chúng ta phải sống trong những thứ áp lực vô nghĩa ấy.” <br>
<br>
“Anh nói nhiều hơn mọi khi, và hay hơn mọi khi.” <br>
<br>
“Chắc là tại gió núi. Nhưng sao tôi không thấy ‘mây đẹp quá’ của cậu nhỉ?” <br>
<br>
“Chúng ngay trên đầu anh đấy.” <br>
<br>
“Tôi chỉ thấy cậu trước mặt tôi thôi.”</em> <br>
<br>
<br>
Nhún vai và cười. Anh lại nhăn mặt, nhưng không thể không cảm thấy nhẹ nhõm. <br>
<br>
<br>
<em>“Roy.” <br>
<br>
“Hm?” <br>
<br>
“Hôn nhé?” <br>
<br>
“Không.” <br>
<br>
“Tại sao?” <br>
<br>
“Trẻ con.”</em> <br>
<br>
<br>
Người ấy dựa vào người anh. Hơi ấm toả ra khiến anh dễ chịu. Gió thổi thốc vào mặt, vào tai. Chiếc khăn quàng cổ bay nhè nhẹ cũng mớ đất cát và lá cây tung mù mịt. <br>
<br>
<br>
<em>“Vào lều thôi, nếu không sẽ thành hai cái ụ mối đấy.” <br>
<br>
“…” <br>
<br>
“Hey?”</em> <br>
<br>
<br>
Vị đại tá ngẩng lên, và phì cười khi thấy tên ngốc tóc vàng đã ngủ. Nói ra thì, anh đã không thấy khuôn mặt ngủ say của hắn trong suốt một thời gian dài. Một lần nữa cố sức nâng thân người cao hơn cả mình lên và đặt ngay ngắn trong lều, anh ngáp dài vì một ngày lái xe liên tục. Chỉnh lại chăn đắp trọn lên người Havoc, anh cũng nằm xuống bên cạnh sau khi kiểm tra độ chắc chắn của cái lều. Suy nghĩ cuối cùng của anh trước khi chìm vào giấc ngủ mặc kệ tiếng ngáy ồn ào của gã đàn ông bên cạnh, là sáng mai làm thế quái nào họ có thể tìm được đường để trở về. <br>
<br>
<br>
<br>
End. <br>
<br>
</p>
<p align="left"></p>
<p align="left">---</p>
<p align="left"></p>
<p align="left"></p>
<p align="left"></p>
<p align="left"></p>
<p align="left">.</p>woo hyuk