<div style="TEXT-ALIGN: center">How to <strong><em>cure</em></strong> a sick Alchemist? <br>
<br>
<span style="COLOR: #ff0000">By <strong>NekoRyu-chan</strong>.</span> <br>
<br>
<strong>Translator:</strong> <span style="COLOR: #009900">woo hyuk</span>. <br>
<strong>Fandom:</strong> Fullmetal Alchemist. <br>
<strong>Pairing:</strong> Jean Havoc x Roy Mustang. <br>
<strong>Gender:</strong> Romance *phiw..* , SA, OOC * whistle * <br>
<strong>Rating:</strong> T &lt;just for safe, I guess ^^&gt; <br>
<strong>Status:</strong> One-shot, completed. <br>
<strong>Disclaimer:</strong> NekoRyu does not own FMA’s characters, they all belong to Hiromu-sensei. </div> <div style="TEXT-ALIGN: center">
<strong>Summary:</strong> Làm thế nào để chữa bệnh cho một nhà Giả Kim? <br>
<br>
<br>
<br>
<br>
Okay, let’s go, eh! <br>
</div> <p align="left">. <br>
<br>
<br>
-------- <br>
</p>
<p align="left">. <br>
</p>
<p align="left"><br>
<br>
<br>
<br>
Đại tá Roy Mustang ghét một số thứ. Ngài ấy ghét mưa, bị ướt (khi Ngài ấy không muốn thế), và bất cứ thứ gì dính dáng tới Ngài ấy mà có nghĩa đại loại như “vô dụng” hay bất cứ cái gì tương tự thế. Ngài ấy cũng ghét tuyết. Suy cho cùng thì nó cũng chỉ là nước đóng băng lại và nếu cái thứ ấy mà rớt trên cái găng tạo lửa của Ngài ấy thì… <em><strong>Ài, dẹp đi!</strong></em> Roy Mustang cũng ghét làm việc ngoài giờ. Không chỉ ảnh hưởng tới mấy cái cuộc hẹn vĩ đại của Ngài ấy, nó còn phá hoại thời gian ngủ hiếm hoi tuyệt vời của Ngài. Ngài đại tá CẦN ngủ - Bất kì kẻ khốn kiếp nào dại dột lôi Ngài ấy dậy trong bất cứ cái ngày trời đánh tồi tệ nào đều sẽ hưởng một diễm phúc vô cùng lớn, là được ưu ái biến thành than. <br>
<br>
Ngẫu nhiên có một vài thứ khác cũng làm Mustang ghét. Ví dụ, Ngài ấy ghét <em><strong>tất cả</strong></em> các thể loại thức ăn nhạt nhẽo trên đời. Với Ngài, thức ăn phải thật ngọt, thật chua, hoặc thật… bất cứ thứ vị gì khác. Ngài ấy cũng ghét chuột. Ngài không <strong>sợ</strong> chúng, Ngài chỉ <strong>ghét</strong>. Cái lũ to đùng, béo núc, truyền bệnh, và không hề có chỗ trong thế giới loài người. Nếu có bất cứ một con chuột nào chạy qua trước mặt Ngài… ÔI CÂM ĐI! Roy Mustang cũng ghét kim chỉ, nhưng đó là một nỗi sợ mà Ngài ấy không muốn nhắc đến. <br>
<br>
<br>
Nhưng trên tất cả những thứ ấy, Roy Mustang ghét… - thứ là Ngài ấy ghét nhất trên đời… <br>
<br>
…Là bị <strong>bệnh</strong>. <br>
<br>
<br>
<br>
Và, không may là, ngôi sao hộ mạng, hay bất cứ cái khỉ gì tương tự như thế, đã không ở bên Ngài ấy hôm nay. <br>
<br>
<br>
<br>
. <br>
----- <br>
. <br>
<br>
<br>
<br>
<br>
<em>RIIIINGGG!</em> <br>
<br>
<em>RIIIINGGG!</em> <br>
<br>
RIIIINGGG! <br>
<br>
RII…- <br>
<br>
<br>
<strong>RẦM!</strong> <br>
<br>
<br>
<br>
Roy Mustang rên lên một cách ồn ào, trong lúc đập thẳng tay lên cái đồng hồ báo thức trên chiếc bàn cạnh giường. Anh nhìn xuống vật thể đang nằm dưới đất, xác nhận rằng mình đã phá hỏng cái đồng hồ thứ 5 trong tuần này, và thành thật mà nói, chỉ một trong số đó là do vô tình. <br>
<br>
Mustang tròn mắt nhìn con số trên mặt cái đồng hồ đã về với các lớp ông cha cùng cảnh ngộ đi trước. Mấy giờ rồi? Nó vừa mới reng hay đã réo cả chục lần (và anh vẫn yên chí ngủ tít)? Anh có trễ giờ làm không vậy? <br>
<br>
Anh thở dài, và ngồi dậy vươn vai. Anh hẳn đã ngáp, nếu như một cơn ho không đột ngột rầm rập kéo tới đàn áp. Không bật ra thẳng hay ẩm ướt như các cơn ho vẫn thường thế, nó khô khốc, ghìm thành từng đợt và khiến ngực anh đau nhói sau mỗi lần ho. Sau khoảng một phút rưỡi ho sù sụ, bao tử anh đột ngột quặn lên. Biết mình không thể kìm lại được, Roy Mustang chạy bổ vào phòng tắm, vừa kịp tống tiễn toàn bộ bữa tối của ngày hôm trước vào toilet. <br>
<br>
<em>‘Khốn kiếp… mà nó toàn là món ngon nữa chứ…’</em> Mustang đặt trán lên bề mặt sứ mát lạnh &lt;của cái gì thì tự biết&gt;. Anh ngạc nhiên cảm nhận thấy cái lạnh của thứ bên dưới trán mình. Sau khoảng một phút chờ đợi để chắc rằng sẽ không có cái gì biểu tình đòi ra nữa, Mustang run rẩy đứng dậy, loạng choạng bước tới chậu rửa mặt để đánh răng. Sau khi khoá vòi nước, vị đại tá nhìn mình trong gương. <br>
<br>
Ngoài việc trông rõ là mệt đứ đừ và yếu ớt cực kì thì xem chừng anh cũng ổn. Dù vậy thì làn da xanh tái cùng đôi má đỏ bừng kia cũng đã báo hiệu một điều gì đó. <br>
<br>
Được thôi, anh KHÔNG hề muốn thừa nhận điều ấy, nhưng anh đã BỆNH. Và bệnh khá nặng. <br>
<br>
Mustang khở ra khe khẽ, vì không muốn mời thêm một cơn ho chết tiệt nào nữa tới, khi bắt đầu cởi quần áo ra để tắm. <em>‘Nếu mình bệnh, tất cả những gì mình cần làm là uống vài viên thuốc và rồi mình sẽ chẳng làm sao cả. Mình chắc mình có một vài viên thuốc cảm ở đâu đó…’</em> Anh nghĩ trong khi bật nước nóng và bước vào trong làn nước. <br>
<br>
<br>
<br>
--- <br>
<br>
<br>
<br>
Bên ngoài đầy tuyết, nhờ ơn một trận bão tuyết lớn vài ngày trước. Tuy vậy trên đường vẫn khá sạch sẽ, vì những người dọn tuyết đã dọn chúng tại để người ta có thể lái xe. Trời rất lạnh, dù chẳng có tí gió nào. Hơi thở của mọi người đông cứng ngay trước mặt họ, như những đám sương mù. Người ta càng túm tụm lại với nhau hơn, và che đậy bít bùng bất cứ khoảng da nào có thể che đậy được. <br>
<br>
Mustang bước xuống đường, đầu óc rất mơ hồ. Anh mặc một chiếc áo khoác đen bằng len dày và đeo một đôi găng màu hạt dẻ siêu dày khác. Chiếc găng tạo lửa của anh quá mỏng so với cái thể loại thời tiết chết tiệt này. Một chiếc khăn trắng quàng quanh cổ anh để giữ ấm. Dù đã quấn kĩ nhiều lớp như vậy, anh vẫn thấy lạnh. Nhưng cái lạnh này khác với những cơn lạnh thong thường. <br>
<br>
<em>‘Cơn sốt chết tiệt! Mình đã uống thuốc, nên lẽ ra nó phải cút đi sơm sớm chứ…’</em> – Anh đã uống cả đống thuốc trước khi ra khỏi nhà. Sau khi kiểm tra kĩ để chắc rằng anh sẽ không chết nếu uống những thứ ấy cùng lúc, anh đã nuốt cả thuốc đau đầu, hạ sốt, chống nôn, giảm ho, sổ mũi, và giảm đau. Nói đúng ra thì, tất cả lũ thuốc ấy đã hoàn thành rất xuất sắc vai trò của mình trong nhiệm vụ làm đầu anh ong hết cả lên. <em>‘Điều may mắn duy nhất là mình đã không LÁI XE.’</em> – Anh nhủ. <br>
<br>
<br>
Khi cuối cùng anh cũng lết được tới Bộ tư lệnh, thì văn phòng trống trơn. Ngẩn người. Mustang liếc lên đồng hộ. 12h10’. ‘Tất cả đi ăn trưa rồi,’ – Anh tự nhủ, dợm cởi áo khoác, nhưng lập tức bỏ ngay ý định ấy khi cái lạnh trở lại tra tấn cơ thế mình. Anh treo găng tay và khăn quàng cổ lên giá áo và loạng choạng đi về phía bàn làm việc. <br>
<br>
“Có lẽ mình không nên đi làm…” – Anh lầm bẩm, khi quăng người xuống cái ghế. Anh không biết mình sốt cao cỡ nào, vì không có cái nhiệt kế nào ở nhà, cũng không biết bao giờ thì lũ thuốc chết tiệt mới có tác dụng. Nếu đầu óc anh tỉnh táo hơn, có lẽ anh đã mua thêm thuốc để phòng trường hợp những triệu chứng bệnh chết tiệt ấy trở lại. Và rõ ràng là nếu anh <strong><em>thông minh</em></strong>, thì anh hẳn là đã ở nhà. <br>
<br>
“Mình sắp chết rồi…” Mustang rên rỉ, nằm bò ra bàn, không quan tâm đến việc mình vừa đẩy rớt một đống lớn trong chồng giấy mà anh sẽ phải kí. Anh đặt trán lên bề mặt gỗ lạnh ngắt của chiếc bàn. <em>‘Mình muốn về nhà…’</em> <br>
<br>
</p>
<p align="left"><br>
. <br>
--- <br>
.</p>
<p align="left"><br>
<br>
<br>
Thiếu uý Jean Havoc đang trên đường trở lại văn phòng, vừa đi vừa kéo một điếu thuốc ra khỏi bao. Anh BIẾT là thứ ấy không tốt cho anh, nhưng vẫn không thể ngừng hút. Mà ngoài ra thì cũng làm gì có ai khuyên cản anh. Có lẽ nếu anh có bạn gái, hẳn cô ấy sẽ khuyên anh bỏ thuốc. Nhưng nhờ ơn một kẻ tóc đen, mắt màu onyx, nhà Giả Kim quốc gia đẹp trai, và cũng là một đại tá…, mà cơ hội có một cô bạn gái cúa Havoc mới mong manh ít ỏi làm sao… <br>
<br>
“Nếu mình có 1 đồng cho mỗi cô đá mình vì Mustang, mình sẽ giàu.” Havoc mở nắp chiếc bật lửa (món quà của bạn gái <em>cũ</em>), và châm thuốc, ngay khi đứng trước cửa văn phòng. Mustang đã đi trễ <em>kinh khủng</em> vào sáng nay. Lẽ ra anh ta phải có mặt vào lúc 9h, mà bây giờ đã là 12h40! Cho dù đại tá có lười… Hay anh ta có bất cứ lý do chết tiệt nào để trốn làm hôm nay… <br>
<br>
<br>
Ngay trước khi Havoc mở cửa, một tiếng động lớn vang lên trong phòng. Anh chớp mắt, lắng tai nghe. Có một tiếng rên nho nhỏ vang lên, sau đó là yên lặng. Vị thiếu uý ngập ngừng, trước khi đẩy cửa bước vào. <br>
<br>
<br>
Nằm trên sàn, ngay giữa phòng, ấy là đại tá Mustang. Anh ta nằm ngay trước mặt anh, tay chân duỗi thẳng ra trước. Vẻ mặt của đại tá đúng là cáu kỉnh hết sức. <br>
<br>
Khi Havoc đóng cánh cửa lại sau lưng, đôi mắt đen mệt mỏi của Mustang hướng lên nhìn anh. Trong một thoáng, sự bối rối và căng thẳng thoáng qua, trước khi dịu lại trong mắt họ với ánh nhìn thường ngày của mình. <br>
<br>
“Thiếu uý Havoc. Mừng được gặp cậu.” <br>
<br>
“Rất vui khi thấy cuối cùng ngài cũng chịu đi làm, thưa đại tá!” – Havoc nói với một nụ cười toe toét. Anh bước qua một Mustang cực kì cau có, vẫn đang nằm trên mặt đất. – “Nhân tiện, có thể cho tôi biết anh nằm trên sàn với mục đích gì không?” <br>
<br>
“Im đi!” – Mustang càu nhàu, trong khi nheo mắt lại và cố ngồi dậy. Nhưng tay chân anh không có một chút sức lực nào, và anh lại ngã xuống sàn với một thiếng 'thud’ nữa. – “Tôi bị ngã và… và tôi không đứng lên được…” <br>
<br>
“Hm?” <br>
<br>
Havoc chớp mắt, nhận thấy sự khác lạ trong giọng nói của Mustang. Thay vì chất giọng nghiêm khắc và cứng rắn hằng ngày, nó nhẹ nhàng hơn, và gần như là yếu ớt. Bấy giờ khi để ý, Havoc nhận ra rằng vị đại tá rất xanh xao và gò má lại rất đỏ. Đôi mắt, lẽ ra là sắc sảo như mọi khi, thì lại rất đờ đẫn và mệt mỏi. Trán anh ta đẫm mồ hôi, và dù trong phòng không lạnh, Havoc vẫn có thể thấy Mustang đang run. <br>
<br>
“Anh ổn chứ, đại tá?” - Havoc hỏi, quỳ xuống cạnh Mustang. Anh thở ra một hơi toàn khói thuốc, và người đối diện bắt đầu ho dữ dội. Thấy rằng khói thuốc làm Mustang đau sau mỗi cơn ho, Havoc dụi mẩu thuốc còn lại và ném nó vào gạt tàn. Trong lúc Mustang ho, Havoc đặt tay lên trán anh thử kiểm tra nhiệt độ, và lập tức rụt tay về. Mustang <em><strong>quá</strong></em> nóng. – “Đại… đại tá, anh bị sốt rồi!” <br>
<br>
“Nói cái gì mà tôi CHƯA biết á!” – Mustang đốp lại, gạt tay Havoc đi. Anh thử ngồi dậy một lần nữa, và thành công. Anh ngồi trên sàn chừng một phút, trước khi thu hai tay ôm chặt lấy vai mình. Anh lại cảm thấy lạnh. – “ Tôi… tôi đã uống thuốc, nên sẽ… sẽ khoẻ nhanh thôi…” – Mustang lắp bắp, vẫn lạnh run. <br>
<br>
“Với mọi sự kính trọng, thưa ngài, anh KHÔNG NÊN ở ĐÂY khi đang bị sốt như thế!” – Havoc nói, nỗi lo lắng hiện lên trong đôi mắt màu xanh da trời nhạt. Mắt của đại tá gặp mắt anh, và chúng dịu lại. Một cơn ho khác kéo tới, khiến Mustang lảo đảo. Khẽ kêu lên, Havoc nhoài người về phía trước, vừa kịp đỡ anh trên tay mình. Dù qua lớp quân phục, anh vẫn cảm thấy được sức nóng từ người đại tá. <br>
<br>
“Đại tá?” Havoc hỏi, hy vọng sự lo lắng không thể hiện rõ quá trong giọng nói của mình. Biểu hiện của đại tá lúc này khiến anh thật sự lo lắng. <br>
<br>
Mustang nhìn lên Havoc, một tia sáng rất lạ hiện lên trong mắt anh. Rồi anh vùi mặt vào ngực Havoc, nắm chặt quân phục của người trước mặt mình. – “Đưa tôi về.” <br>
<br>
“Hm?” <br>
<br>
“Đưa tôi VỀ NHÀ!” – Mustang nói lớn hơn. Trong một chốc, anh lại ho đến rung cả người. – “Tôi không muốn ai thấy tôi… như thế này…” <br>
<br>
<br>
Mắt Havoc dịu lại, và anh quàng tay quanh cơ thể Mustang, người không hề phản kháng lại. Thật ra, đại tá rúc sâu hơn vào người anh, và thở ra khe khẽ. Havoc biết Mustang đủ để hiểu rằng anh GHÉT tỏ ra yếu đuối trước mặt người khác như thế nào. Đây quả là khoảnh khắc vô cùng hiếm có. <br>
<br>
Nhưng ngay lúc này, Mustang đang bệnh, như một con cún con. Với lời yêu cầu của anh không ngừng xẹt qua xẹt lại trong đầu, Havoc nâng vị đại tá, đáng ngạc nhiên là vô cùng nhẹ, trên tay mình. <br>
<br>
<br>
<br>
</p>
<p align="left">. <br>
---</p>
<p align="left">.</p>
<p align="left"><br>
<br>
<br>
<br>
<br>
Len lén đưa một Mustang đang bệnh và yếu ra khỏi Bộ tư lệnh, Havoc đưa anh và cả mình vào một chiếc xe quân dụng sau khi, một lần nữa, lén chôm nó. Khi chắc chắn là vị đại tá đã thoải mái trên ghế, Havoc khởi động máy, đưa xe ra khỏi Bộ hướng về phía nhà Mustang. <br>
<br>
Vẫn cho xe chạy rất nhanh (hơi bị nhanh quá so với tình trạng tồi tệ của các con đường), Havoc đưa mắt nhìn sang người ngồi bên cạnh. Vì đại tá đã nói là anh thấy lạnh, nên Havoc đã quấn thêm áo khoác của anh bên ngoài chiếc áo khoác len của Mustang. Trông anh ta có vẻ thoải mái hơn với chúng. Giờ thì anh đang dựa vào cửa kính, áp cái trán nóng như chảo lửa vào lớp cửa kính mát lạnh. Da của anh trở nên rất nhợt nhạt và hơi thở của anh trở nên nặng nhọc hơn. Thật sự không ổn. <br>
<br>
Havoc bắt đầu lo. Từ khi rời khỏi Bộ tư lệnh, Mustang đã không nói lời nào. <em>‘Mình đoán là mình nên đưa anh ta tới bệnh viện thay vì…’</em> <br>
<br>
<br>
“…qua rồi…” <br>
<br>
“Hm?” <br>
<br>
“Cậu đi qua rồi. Nhà tôi ấy.” <br>
<br>
Havoc lầm bầm chửi, xoay vô-lăng và đánh một vòng chữ U quay ngược lại. Anh mới đến nhà Mustang có một đôi lần, nên đi qua nó cũng là điều dễ hiểu. <br>
<br>
Anh đậu xe trước cửa nhà, tắt máy xe và bước xuống đi vòng qua xe, trong khi Mustang đánh vật với cái cửa xe để mở nó ra. Người thiếu uý mỉm cười, rồi mở cửa giúp anh. Mustang chớp mắt một lúc rồi ngước lên nhìn Havoc. <br>
<br>
“Cứ để cho tôi, thưa sếp!” – Havoc nói, toét miệng cười. Anh nhoài người tới giúp Mustang ra khỏi xe, với tay của Mustang vòng qua cổ anh. – “Anh muốn tôi giúp anh vào nhà chứ?” <br>
<br>
“Tôi không nghĩ là tôi có thể đứng được…” – Mustang nói rất khẽ. Qua khoé mắt, anh có thể thấy mặt vị đại tá đỏ ửng lên. Anh nhoẻn cười, đỡ Mustang lên tay mình. <br>
<br>
“Ổn mà, với lại...- tôi không ngại bế anh thế này.” – Havoc nhún vai, dùng chân đóng cửa xe lại. Ôm sát Mustang vào ngực, anh bước đến mở cửa trước, ngạc nhiên vì nó không khoá. <br>
<br>
“Chắc sáng nay đi tôi quên khoá cửa…” – Mustang nói nhỏ, kéo sát áo khoác hơn nữa vào người. <br>
<br>
Havoc bước vào nhà, đóng cánh cửa sau lưng và bật đèn. Anh chớp mắt khi nhìn bên trong căn nhà. Bừa bãi khủng khiếp. <br>
<br>
“Có vẻ anh cần thuê người giúp việc đấy, đại tá!” <br>
<br>
“Im đi!” <br>
<br>
Havoc nhe răng cười và bắt đầu cẩn thận bước lên cầu thang. Anh biết phòng ngủ của Mustang ở đâu, sau một đêm họ trở về đây từ một quán bar, say mèm, và có một cuộc…ờ, gặp gỡ, khá lãng mạn. <br>
<br>
Người thiếu uý bước vào phòng và đặt Mustang nằm xuống giường. Người con trai tóc đen rùng mình vì đột ngột mất đi hơi ấm, và co người tại trong đống áo khoác. <br>
<br>
“Đầu tiên, chúng ta cần anh cởi quần áo ra.” – Havoc nói, chống tay lên hông. <br>
<br>
“Huh?” <br>
<br>
“Mustang nhìn Havoc, trao cho anh một ánh mắt kiểu nai-chạy-trước-ô-tô. Bị quấn trong đống áo khoác dày, dòm y như một con bọ, anh trông như thể một đứa trẻ cực kì ngây thơ. Havoc phì cười trước biểu hiện của vị đại tá trước mặt <br>
<br>
“Không phải NHƯ THẾ, đồ ngốc! Mấy cái áo ướt nhẹp mồ hôi đó chỉ làm anh lạnh thêm thôi.” <br>
<br>
“À… okay…” – Mustang nói, như hiểu ra. Anh tiếc nuối cởi áo khoác và cả quân phục, với sự giúp đỡ của Havoc. Đại tá rất yếu, nên Havoc giúp anh cởi những thứ khó xoay trở để gỡ khỏi người. Rồi, Mustang nằm lại xuống giường, không mặc gì ngoài một chiếc quần đùi cotton mỏng màu xám, do quá mệt để có thể ngồi dậy. <br>
<br>
Havoc không thể ngăn một vệt đỏ đang lan dần trên mặt mình. Ngay lúc này, Mustang đang ở trong một tư thế vô cùng khiêu gợi và quyến rũ, nằm ngửa trên giường với hai chân hơi mở ra và cánh tay đặt hờ hai bên hông. Cứ như thể anh đang MỜI GỌI Havoc nhảy lên trên và làm những chuyện-mà-khỏi-nghĩ-xa-xôi-cũng-hiểu-là-chuyện-gì-ấy. <br>
<br>
<em>‘Không. KHÔNG! Trên hết, Mustang đang bệnh, và mày cũng sẽ vô cùng Bệnh nếu lợi dụng một người bệnh như thế!’</em> – Havoc thấy não mình đang cố gào lên. – <em>‘Khốn kiếp, giờ đến quần mình cũng trở nên chật hơn rồi…’</em> <br>
<br>
<br>
“Jean?” <br>
<br>
Havoc giật mình khỏi dòng suy nghĩ bởi giọng nói yếu ớt của Mustang. Anh nhận ra đại tá đã gọi anh bằng TÊN, việc anh ta không hề làm gần đây. <br>
<br>
“Khô… không có gì, đừng lo…” – Havoc nguyền rủa cái giọng lắp bắp chết tiệt của mình. – “ Tôi chỉ là đang… suy nghĩ…” <br>
<br>
“Nghĩ là giờ tôi thật yếu ớt và đáng thương hả?” – Mustang hỏi với một nụ cười. Anh hơi nhấc đầu lên để nhìn Havoc, trước khi rớt lại xuống gối, mệt lử vì nỗ lực nho nhỏ ấy. <br>
<br>
Mắt Havoc dịu lại. Anh nhìn Mustang một lúc trước khi quay lưng lại và tìm một số quần áo trong chiếc tủ gần đó. – “Chỉ là một cơn sốt, Roy. Anh sẽ không làm gì được ngoài chịu đựng và chấp nhận một khi nó đã tóm được anh.” <br>
<br>
Mustang chớp mắt khi nhận ra Havoc đã gọi mình bằng tên. Anh mỉm cười với người thiếu uý tóc vàng. – “Có lẽ là vậy. Nhưng chắc tôi phải cố gắng hơn để thắng được nó.” <br>
<br>
“Với sự thiếu ngủ trầm trọng của anh, tôi thật sự ngạc nhiên là anh đã không bị bệnh sớm hơn.” – Havoc nói khi vẫn tìm kiếm trong tủ quần áo. – “Anh nên làm mọi việc đơn giản hơn một chút.” <br>
<br>
“Tôi KHÔNG biết làm thế nào để khiến nó đơn giản hơn.” Mustang làu nhàu, hơi trề môi. <br>
<br>
“Nghỉ ngơi khi có thể và để lính của anh giúp anh với chứ,” – Havoc nói, lôi ra một chiếc áo trắng dài tay có nút cài ở cổ.- “Chúng tôi ở bên anh cho việc đó, anh biết mà.” <br>
<br>
Mustang mỉm cười nhìn Havoc bước đến cạnh giường. – “Tôi sẽ, nhưng tôi sẽ phải chắc là mình không bắt các cậu làm quá nhiều…” <br>
<br>
Người thiếu uý gật đầu, giơ cái áo lên. – “Để tôi mặc nó cho anh.” <br>
<br>
Với Havoc giúp đỡ, vị đại tá cố ngồi dậy để có thể tròng chiếc áo lên người. Khi Havoc cài những chiếc nút, Mustang chăm chú nhìn anh. Havoc nhận ra khi anh vừa cài xong những cái nút cuối cùng. – “Roy, gì v…” <br>
<br>
Trước khi Havoc hoàn tất câu nói, Mustang, với một sức mạnh đáng ngạc nhiên, túm lấy cổ áo của người thiếu uý, và kéo anh vào một nụ hôn. <br>
<br>
Mắt Havoc mở lớn vì nụ hôn bất ngờ. Khẽ thở dài, anh chịu thua, và dịu dàng hôn lại Mustang. Lưỡi của đại tá lướt nhẹ lên môi dưới của anh, khéo léo tìm lối vào. Havoc hé môi, và Mustang tiến vào, quấn lấy anh đầy say mê. Havoc mút nhẹ lưỡi của người đang vòng tay qua đầu mình, thưởng thức vị nơi đầu lưỡi của đại tá, thứ vị mà anh vẫn nhớ. Mustang rên khẽ và kéo Havoc xuống giường. Người thiếu tá hơi ngần ngừ, khong muốn làm chuyện ấy với một người bệnh. Havoc đưa tay mơn man làn da bên dưới chiếc áo đại tá đang mặc, cùng lúc Mustang rời khỏi miệng anh một cách rất là, rất là gợi cảm và… <br>
<br>
… anh bắt đầu <strong><em>ho</em></strong>. <br>
<br>
<br>
Havoc vừa nguyền rủa cơn ho tơi bời vì sự không đúng lúc của nó, vừa nhẹ nhàng vỗ lên lưng Mustang - lúc này đã quay sang bên cạnh để khỏi ho vào anh. Rồi anh nguyền rủa bản thân vì đã để rơi vào nụ hôn liều mạng của Mustang và định làm việc ấy với một kẻ đang bị bệnh. <em>‘Khốn kiếp. Chỉ một chút nữa… Bệnh tật chết tiệt!”</em> <br>
<br>
“Có lẽ ta không nên làm việc này khi anh đang bệnh.” Havoc thở dài, vuốt ve gò má nhợt nhạt của vị đại tá, đã quay lại về phía anh. <br>
<br>
Mustang lắc đầu nguầy nguậy, kéo tay Havoc vào sát mặt mình hơn. – “Không, tôi CẦN nó. Tôi nghĩ nó tốt hơn bất kì thứ thuốc nào.” <br>
<br>
Havoc nghệt mặt trong giây lát. Khi Mustang ho khi nãy, tiếng ho đã bớt đục hơn và sắc hồng đã trở lại trên mặt anh. Không lẽ làm vậy với Mustang trong một thời gian ngắn như vậy đã là Chăm Sóc hay Điều Trị cho anh? <br>
<br>
“Thế này thì sao,” – Havoc nói, cúi về phía trước hôn lên trán vị đại tá. – “Khi nào anh khoẻ lại, đủ để có thể đi làm, và hết sốt, chúng ta sẽ làm chuyện đó, thật nóng bỏng, và vô số cái khác nữa, ngay tại đây, được không?” <br>
<br>
“Đó có phải một lời hứa không? Như chúng ta đã làm?” – Mustang hỏi với một nụ cười trên môi. <br>
<br>
Havoc cũng toe toét cười, đặt lên đôi môi trước mặt một nụ hôn nhẹ nhàng. “Hứa. Như chúng ta đã làm. Nhưng giờ thì anh cần nghỉ ngơi. Và đừng lo, tôi sẽ ở đây.” <br>
<br>
“Cậu hứa chứ?” – Mustang ngáp, hỏi nhỏ. Anh không muốn thừa nhận, nhưng anh đã MỆT PHỜ người. ‘Đó là thứ mình nhận được sau khi mình uống một đống thuốc’. Anh mệt mỏi nhìn Havoc cởi quân phục, giày, và nằm xuống cạnh mình. Havoc cũng như anh, chỉ mặc một chiếc quần đùi đơn giản. <br>
<br>
“Tôi hứa, Roy!” Havoc thì thầm, kéo vị đại tá sát vào mình, với lưng của Mustang dựa vào ngực anh. Anh vòng một tay qua eo của Mustang, và nắm lấy bàn tay trái của anh, trong khi cánh tay còn lại dùng làm gối cho vị đại tá. <br>
<br>
Mustang chìm vào giấc ngủ ngay khi đặt đầu xuống. Phì cười, Havoc ôm chặt lấy anh, và cũng ngủ ngay sau đó. <br>
<br>
</p>
<p align="left"><br>
<br>
Làm thế nào để chữa trị cho một nhà Giả kim bị bệnh? <br>
<br>
Hãy yêu anh ta. <br>
<br>
<br>
<br>
end &lt;xd&gt;. <br>
<br>
<br>
<br>
<br>
.</p>
<p align="left"></p>
<p align="left"></p>By <strong>NekoRyu-chan</strong>.woo hyuk