<div align="center">
<br>
<strong>Author:</strong> woo hyuk <br>
<strong>Fandom:</strong> FMA</div> <div align="center">
<strong>Pairing:</strong> RoyEd, oh yeah! :D</div> <div align="center">
<strong>Genres:</strong> Humor+Romance <br>
<strong>Rating:</strong> T or PG-13 <br>
<strong>Warning:</strong> SA <br>
<strong>Category:</strong> One shot. (one piece XD) <br>
<strong>Summary:</strong> Không cần Sum cho một thứ ngắn ngủn thế này . <br>
</div> <p><br>
<br>
<br>
<br>
--- <br>
<br>
<br>
"Lại những thứ này sao?" - Roy nhăn mặt rên rỉ khi ngồi vào bàn ăn.</p>
<p><br>
<br>
"Phải." <br>
</p>
<p><br>
"Đừng có nói đơn giản như thế! Chúng ta ăn sáng bằng thứ này cả một tháng nay rồi. Tôi ngán nó đến tận cổ rồi..." - Roy tiếp tục ẽo ẹt nhìn khuôn mặt tròn trĩnh của con người đang tỉnh bơ ngó xuống đĩa ăn và lau một cái muỗng, tuyệt nhiên không thèm nhìn lại anh một cái. <br>
</p>
<p><br>
"Mới có 28 ngày, không phải một tháng. Nhưng nếu không thích, anh có thể ra ngoài ăn. Tôi thích món này, vậy đó." <br>
</p>
<p><br>
"Nhưng lâu lâu cũng nên đổi món..." </p>
<p><br>
<br>
"Đừng than vãn nữa! Tôi đã bảo tôi thích món này! Anh không thích thì tự đi mà nấu ăn!" - Cái mặt tròn trĩnh ngẩng lên, Ed nhíu mày nhìn anh và sẵng giọng. <br>
</p>
<p><br>
"Này, đừng có thế chứ? Cậu lại muốn cãi nhau với tôi nữa sao?" <br>
</p>
<p><br>
"Ừ, nếu anh không ngừng than vãn!" - Ed ném cái muỗng xuống và đứng dậy gào vào cái mặt đang dần cứng lại vì tức của Roy.</p>
<p><br>
<br>
"Ai cũng sẽ phải than vãn nếu ngày nào cũng phải ăn cái thứ chán ngắt này vào bữa sáng!" - Roy đứng dậy, đáp trả lại, cũng không kém cạnh. Hàng xóm hai bên, hầu hết toàn là quân nhân, vội vàng ra khỏi nhà trước khi cuộc đấu võ mồm hàng sáng nổ ra gây tai họa cho lỗ tai và tài sản của họ. <br>
</p>
<p><br>
"Tốt thôi!" - Ed đập bàn - "Cứ việc đi ra ngoài kiếm cái gì khác mà ăn, không thì lôi ai đó về đây nấu ăn cho luôn cũng được, tôi càng khỏe!" - Chụp lấy cái đĩa trước mặt Roy. <br>
</p>
<p><br>
"Cậu làm cái gì vậy?" <br>
</p>
<p><br>
"Anh không ăn thì tôi đổ nó đi, còn gì nữa?"</p>
<p><br>
<br>
"Cậu..." - Tức - "Với một kẻ cứng đầu như cậu... sao tôi lại..."</p>
<p><br>
<br>
"Phải, tôi là vậy đó! Hối hận à? Vậy thì cứ đi kiếm đứa nào không cứng đầu mà yêu á!" - Hét lên. <br>
</p>
<p><br>
"Tôi đi làm đây! Đúng là điên mới cãi nhau với cậu, thiệt tức chết mà! Đúng là một kẻ không biết điều, ngày nào cũng phải gây vậy mới vừa lòng sao?"</p>
<p><br>
<br>
"Hôm qua kẻ gây chuyện là anh đấy chứ!" <br>
</p>
<p><br>
"Tốt thôi! Từ giờ đừng có mà nói chuyện với tôi đấy!"</p>
<p><br>
<br>
"Được, cũng đừng có mà mò vào phòng tôi sau khi gây chuyện như tối hôm qua nữa đó!" - Đáp trả lại không kém chút nào về mặt Volumme.</p>
<p><br>
<br>
"Mò vào phòng cậu?" - Roy lặp lại, quên cả tức giận, mặt ngẩn ra.</p>
<p><br>
<br>
"Hay lại định tráo trở bảo rằng tôi mới là kẻ chui qua chỗ anh?"</p>
<p><br>
<br>
"Nhưng tối qua tôi ngủ lại Central đến gần sáng mới về mà?" - Ngớ người.</p>
<p><br>
<br>
"Sao?"</p>
<p><br>
<br>
"Tôi có nhắn về cho cậu mà?" <br>
</p>
<p><br>
"Làm... làm gì có? Đừng có vờ vịt! Rõ ràng là anh... Tối qua anh..." Ed đỏ mặt cắn môi. Nhưng cậu cũng hơi hoang mang, vì rõ ràng Roy không phải là người nói dối giỏi. Và vẻ mặt anh bây giờ đúng là rõ ràng rất ngơ ngác.</p>
<p><br>
<br>
"Không! Tôi thề đấy! Có những người ở Central làm chứng mà! Hôm qua tôi phải thẩm vấn một tên tội phạm, đến 4h sáng mới xong hết hồ sơ..."</p>
<p><br>
<br>
"Nhưng..."</p>
<p><br>
<br>
Im lặng. <br>
</p>
<p><br>
"Vậy là..." - Roy nuốt nước bọt, nói từng tiếng - "Tối qua, 'tôi' đã vào phòng cậu, và không phải cậu mơ?"</p>
<p><br>
<br>
Gật đầu, vẫn rất hoang mang.</p>
<p><br>
<br>
"Vậy... Tôi đã làm những gì?" <br>
</p>
<p><br>
"Anh... ưm..." - Đỏ mặt - "Tôi còn phải nhắc lại sao? Anh rõ ràng..." <br>
</p>
<p><br>
"Cứ trả lời tôi!" Roy gắt lên, rồi thấy vẻ mặt của Ed, anh dịu giọng. "Nói tôi nghe đi, Ed!" <br>
</p>
<p><br>
"Ưm.. anh... xin lỗi vì đã lớn tiếng lúc sáng... rồi thì..." <br>
</p>
<p><br>
"Sao?" <br>
</p>
<p><br>
"Ưm..." <br>
</p>
<p><br>
Im lặng. <br>
</p>
<p><br>
Roy cảm thấy đầu mình sắp vỡ ra. Chuyện gì vậy? Đúng là hôm qua anh đã có ý định sẽ xin lỗi Ed khi trở về, nhưng cuối cùng anh đã phải ở lại làm việc suốt đêm. Hay là anh đã xuất hồn trở về mà không biết? Hay là anh đã phân thân? Hay anh đã mộng du và trở về mà anh không biết? Nhưng không, anh không hề ngủ tối qua, anh đã làm việc suốt đêm, dù là trong bất đắc dĩ dưới khẩu súng của Riza, và đã nổi sùng lên với tất cả mọi người. Nhưng Ed không nói dối. Vậy chuyện quái gì...? <br>
</p>
<p><br>
Ed cũng cảm thấy đầu mình sắp nổ ra. Cậu nhóc xấu hổ gần điên lên khi nhớ lại chuyện đêm qua. Nhưng nghĩ lại, thì Roy hôm qua cũng rất lạ, và hình như đúng là anh đã nhắn lại là sẽ không về, nhưng cậu lại không để ý và tưởng anh đã xong việc nên về sớm. Cái gì... <br>
</p>
<p><br>
Hai cái đầu, một đen một vàng, cứ gục lên gục xuống, trán nhăn tít, và sự im lặng cũng vẫn rất đáng sợ. <br>
</p>
<p><br>
Một tên đầu xanh cất giọng vui vẻ từ cái cây cạnh cửa sổ. <br>
</p>
<p><br>
"Hi! Buổi sáng vui quá nhỉ?" <br>
</p>
<p><br>
Roy và Ed cùng nhìn ra ngoài. <br>
</p>
<p><br>
Im lặng một giây. Rồi tất cả vỡ bùm. <br>
</p>
<p><br>
<strong>"ENVYYYYYYYYYYYY!!!!!" </strong><br>
<br>
</p>
<p>Ed hét lên cùng lúc với tiếng gầm của Roy. Cậu cảm thấy mặt mình bốc cháy vì tức và xấu hổ. Nhưng Ed vội giữ Roy lại khi anh định nhảy ra từ cửa sổ lầu 3 để nhào đến chỗ tên Homoculus đang cười đắc ý và chạy đi rất nhanh. <br>
<br>
</p>
<p>"Tránh ra, Ed! Tôi sẽ Giết nó!" - Roy vùng vẫy, gào lên. <br>
<br>
</p>
<p>"Không! Anh sẽ chết mất đấy!" - Ed cố lôi Roy lại bằng tất cả sức lực khiến anh mất thăng bằng, đập lưng vào cạnh bàn. <br>
<br>
</p>
<p>Roy rên lên vì đau. Cơn đau ở lưng cùng lúc nhớ lại vẻ mặt của Envy khiến anh điên lên. <br>
<br>
</p>
<p>"Sao lại cản tôi? Sợ tôi làm đau người tình của cậu à?" <br>
<br>
</p>
<p>"Anh đang nói cái quái gì vậy?" - Ed hét lên, tức giận. <br>
<br>
</p>
<p>"Không phải sao?" - Roy cũng hét trả, tức giận vì thái độ của Ed - "Tốt thôi! Hóa ra là vậy, tôi đúng là ngu nên mới tin cậu như vậy...!" <br>
</p>
<p>"Anh đúng là đồ ngu vô cùng! Anh có biết mình đang nói gì không hả?" - Ed nghiến răng, sắp bật khóc.</p>
<p><br>
<br>
"Biết chứ! Tôi đang nói Sự Thật, thế chứ gì?" <br>
</p>
<p><br>
"Không phải thế, anh phải nghe..." <br>
</p>
<p><br>
"Tôi đi đây! Tôi không muốn nghe cậu nói gì thêm nữa!" - Roy chụp áo khoác. "Cậu cứ làm cái gì cậu muốn, tôi không quan tâm. Đâu phải tôi không có gì để làm ngoài việc ngồi nghe cậu chọc tức và dối trá..." <br>
</p>
<p><br>
Ed nghẹn họng. Rồi cơn giận lại bùng lên. <br>
</p>
<p><br>
"Phải rồi, tôi quên là ngài đại tá là một kẻ đào hoa cực kì nhỉ. Vậy cứ đi mà vui vẻ với lũ con gái chết mê mệt vì anh đi, họ sẽ không lừa anh đâu..." <br>
<br>
</p>
<p>"Đúng đấy! Và chắc chắn họ sẽ nấu được những món ăn khác ngoài cái thứ đó. Tôi không sợ đói rồi..." - Dài giọng. <br>
<br>
</p>
<p>"Vậy sao anh không đi nhanh đi!" <br>
<br>
</p>
<p>"Không cần đuổi, tôi đi ngay đây!" - Roy xăm xăm bước ra khỏi phòng. Ed gào với theo. <br>
<br>
</p>
<p>"Và đừng có về trước khi tôi ngủ đấy! Tôi không muốn thấy cái mặt anh!" <br>
<br>
</p>
<p>"Đừng lo, tôi sẽ không về nữa đâu!" - Roy hét trả. Anh lái xe đi, và trên đường tới Central, cơn giận của anh gây ra khoảng hai chục vụ nổ nho nhỏ, làm 'ấm áp' cả một buổi sáng trong xanh. <br>
<br>
<br>
</p>
<p>Ed nghiến răng. Tên ngốc đó làm cậu phát điên lên được. Cậu nhanh chóng thay đồ, rồi cũng bước ra khỏi nhà với cơn giận điên người. <br>
<br>
<br>
</p>
<p><br>
--- <br>
</p>
<p><br>
<br>
</p>
<p>11h30 đêm hôm đó. <br>
<br>
<br>
</p>
<p>Roy bực bội đứng trước cửa nhà. Anh nghiến răng và ngần ngừ lục tìm chìa khóa. <br>
<br>
</p>
<p><br>
<em>*Flash back*</em> <br>
<br>
</p>
<p>"Đại tá, không được, tối nay bạn gái tôi tới nhà..." - Havoc cười sung sướng rồi sập cửa trước mặt anh. Roy nghiến răng, rồi quyết định tha cho tên mắt xệ một lần, và không đốt bừng cái nhà của hắn. Anh đi bộ đến chỗ Fuery. <br>
</p>
<p><br>
"Đang sửa lại ký túc xá, nên Farman và Breda cũng ở cùng tôi, mà ba người đã quá chật, không thể nhét thêm anh được..." <br>
<br>
</p>
<p>Anh lại nghiến răng và bất đắc dĩ bước đi. Cũng không thể qua chỗ Hughes. Trung úy Riza thì càng không. Hay đến nhà Amstrong? <br>
<br>
</p>
<p>Lạnh người trước ý nghĩ đó, Roy bước thật nhanh, và ngừng trước một khách sạn. Dợm chân định bước vào, anh rùng mình và quay ngược lại ngay khi nhìn thấy những kẻ màu mè gớm ghiếc đang ở trong. Anh lại bước đi, dưới cái thời tiết lạnh kinh người. <br>
<br>
</p>
<p>Lòng vòng một hồi, Roy nhận ra mình đang đứng trước một căn nhà quen thuộc. <br>
<br>
<em></em></p>
<p><em>*End Flash back*</em> <br>
<br>
</p>
<p></p>
<p><br>
<br>
Tra chìa khóa vào ổ, Roy ngạc nhiên và bực tức khi thấy không thể mở cửa ra được. Anh điên tiết đến nỗi định đeo găng vào và đốt quách cái cửa nhà mình đi. "Kệ, mình sẽ bảo Ed làm cái mới" , nghĩ vậy, và anh đeo găng vào. <br>
<br>
</p>
<p>"Không đốt được cái cửa đó đâu, đại tá Mustang!" <br>
<br>
</p>
<p>"Ồ, chào trung sĩ Noey. Anh chưa ngủ sao?" - Roy cười xã giao chào người hàng xóm của mình, dù nụ cười của anh nhìn thế nào cũng là một sự đe dọa. <br>
<br>
</p>
<p>"Vâng, tôi vừa đi tuần về. Anh cũng về muộn nhỉ?" <br>
<br>
</p>
<p>"À...có chút việc... Hồi nãy anh nói gì về cái cửa này cơ?" <br>
<br>
</p>
<p>"À, anh không đốt được nó đâu, hôm nay cậu Elric đã làm lại cái cửa đó rồi, hai khung sắt bắt thẳng vào tường, bốn lớp gỗ chắc chắn, lõi cửa hai lớp bằng hợp kim siêu nhẹ và hai mặt đều quét Gel chống cháy. Cực kì bền. Có vẻ lần trước nhà hai người bị trộm nhiều đồ lắm?" - Noey gõ gõ lên cửa, gật gù truóc vẻ mặt ngơ ra của Roy. <br>
<br>
</p>
<p>"Sao cơ? Sao anh biết?" <br>
<br>
</p>
<p>"Edward đã làm nó sáng nay mà. Cậu ấy có nhờ tôi giúp, bảo là cần làm lại cửa do bị trộm..." <br>
</p>
<p><br>
"Nhưng cậu ta lấy đâu ra những thứ vật liệu đó?" <br>
</p>
<p><br>
"Ở kho thiệt bị trung ương. Cậu ấy lấy nó bằng đồng hồ bạc của anh mà? Tôi tuởng anh bảo cậu ấy làm?" - Ngơ ngác.</p>
<p><br>
<br>
"À... ừ... Tôi quên mất..." <br>
</p>
<p><br>
"Anh quên mang chìa khóa sao?" <br>
</p>
<p><br>
"Phải.. ừ, thôi, anh cứ về trước, tôi chờ Fullmetal ra mở cửa..." <br>
</p>
<p><br>
"Vâng, tôi cũng mệt quá rồi. Anh cứ ở đây chờ nhé. Tôi chắc cậu ấy sẽ ra ngay thôi." <br>
</p>
<p><br>
"Cám ơn." <br>
</p>
<p><br>
Roy nhìn Noey bước vào nhà và đóng cửa, rồi lại nhìn cánh cửa siêu chắc chắn trước mặt. Anh nhíu mày. Ed làm lại cửa? Có vẻ như không muốn cho anh vào nhà đây mà! Dù anh nói là sẽ không về nhưng thằng nhóc đó không tin anh chắc? <em>*woo: phải, vì anh cũng mò về rồi đấy thôi*</em> <br>
<br>
</p>
<p>Roy bực bội tựa người vào tường. Anh lạnh. <br>
<br>
</p>
<p>Rồi anh ngước nhìn lên. Cửa sổ lầu ba vẫn mở. <br>
<br>
</p>
<p>Anh nghiến răng. <br>
<br>
<br>
</p>
<p></p>
<p>--- <br>
<br>
</p>
<p></p>
<p>Roy Mustang cuối cùng cũng bò được vào phòng sau hơn nửa tiếng đu đưa trên không, bám vách, và quần áo rách bươm. <br>
<br>
</p>
<p>"Khỉ ạ, sao cái cửa này nó cao thế. Cũng may hồi sáng mình không nhảy xuống..." - Roy vừa thở dốc vừa lầm bầm, rồi nghĩ tới Ed. Anh rót một cốc nước, uống cạn rồi bước về phòng Ed. <br>
<br>
</p>
<p>Cửa phòng không khóa. <em>"Rõ ràng tối qua bị vậy rồi mà còn không chừa, để hớ hênh thế này mời tên khốn đó vào chắc?" </em>Roy nghe mình đang rít lên. Anh vặn chốt và đẩy cửa ra... <br>
<br>
</p>
<p>..Và chết sững. <br>
<br>
</p>
<p></p>
<p>Người uớt nhẹp, anh gỡ cái xô đang úp trên đầu mình ra, và thấy mình đang đứng trong một cái lồng kín. <br>
<br>
</p>
<p>Nhìn xuống dưới chân, anh thấy một pháp trận. <br>
<br>
</p>
<p>Nhìn lên trên đầu, anh thấy một cọng dây trên cánh cửa để giữ xô nước vừa đổ lên người anh. <br>
<br>
</p>
<p>Nhìn thẳng quan sát cái lồng, anh thấy vài kí hiệu. <br>
<br>
</p>
<p>"Vòng tròn làm tê tiệt Homoculus à? Vậy là hột đậu đó cũng không đến nỗi ngốc..." - Roy mỉm cười khi thấy một pháp trận tương tự ở bên dưới cửa sổ căn phòng. - "Nhưng còn xô nước?" - Anh nhăn trán nhìn cái xô trống trong tay mình. <br>
<br>
</p>
<p>Roy đưa mắt nhìn. Ed đang ngủ say trên giường, quay lưng về phía anh. Roy cảm thấy ngại, và cố không nghĩ đến tình cảnh Ed thấy anh trong cái lồng này. Nhưng đứng mãi trong cái lồng hẹp này không phải là cách. Anh ngần ngừ, rồi quyết định gọi. <br>
<br>
</p>
<p>"Ed!" <br>
<br>
</p>
<p>"..." <br>
<br>
</p>
<p>"Ed!" <br>
<br>
</p>
<p>"..." <br>
<br>
</p>
<p>"Edward! Dậy đi..." <br>
<br>
</p>
<p>"..." <br>
<br>
</p>
<p>"Edward..." <br>
<br>
</p>
<p></p>
<p>Ed vẫn không có vẻ gì nghe anh gọi. Roy lớn giọng <br>
<br>
</p>
<p>"ED!" <br>
<br>
</p>
<p>Không trả lời. Anh bối rối, dở khóc dở cười. <br>
<br>
</p>
<p>Ed toét miệng cười nghe giọng nói đang gọi mình. Envy hay Roy thì cũng cứ đứng đấy đến sáng nhá! <em>"Mình đúng là quá thông minh..."</em> Cậu nghĩ, rồi lại chuẩn bị chìm vào giấc ngủ. <br>
<br>
</p>
<p>Nhưng Roy thì không nghĩ thế. <br>
<br>
</p>
<p>"ED! ED! EDDDDDDDDDDDDD!" <br>
<br>
</p>
<p>Đến nước này thì không giả vờ được nữa, Ed quay lại, ngồi dậy và suýt phì cười khi thấy Roy ướt như chuột, tay cầm cái xô và vẻ mặt đang vô cùng khó xử. <br>
<br>
</p>
<p>"Sao?" - Cậu ngồi dậy, bước lại gần cái lồng, khoanh tay nhìn kẻ bên trong. <br>
<br>
</p>
<p>"Mở cửa cho tôi..." <br>
<br>
</p>
<p>"Sao ta phải thả ngươi khi ngươi, một lần nữa, chui vàp phòng ta mà không có sự cho phép của ta, hả Envy?" - Ed cười cao ngạo, nhưng gằn giọng. <br>
<br>
</p>
<p>"Tôi không phải Envy! Tôi là..." <br>
<br>
</p>
<p>"Ừ, ngươi thì là ai mà chả được. Ta còn nhớ rất rõ khi ngươi biến thành ta và làm cho ta trở thành trò cười tồi tệ nhất thế giới nữa kìa." <br>
<br>
</p>
<p>"Không, Ed, tôi là Roy thật mà!" <br>
<br>
</p>
<p>"Roy Mustang không ngu đến nỗi đột nhập vào phòng ta và làm những trò ngu ngốc như tối qua đâu, Envy. Và cả như lúc này nữa..." - Ed bật cười. "Thôi, chờ gì nữa, trở lại hình dạng của ngươi đi, không cần lừa nữa, hôm nay thì ta biết chắc ngươi không phải Roy rồi, tối nay anh ta không về đâu!" <br>
<br>
</p>
<p>"Trò tối qua?" - Roy cố tình liếm môi. Anh, nếu may mắn, sẽ được biết chuyện gì đã xảy ra. <br>
<br>
</p>
<p>"Phải, trò <strong>ngu ngốc</strong> tối qua!" - Mắt Ed tóe lửa. <br>
<br>
</p>
<p>"Ta.. thấy nó vui đó chứ?" - Roy cố làm ra vẻ đắc ý và trêu chọc, mà thật ra cũng không cần cố lắm, vì đắc ý và trêu chọc Ed là nghề của anh rồi. <br>
<br>
</p>
<p>"Ờ, vui thật nhỉ? Nói một đống thứ sến rện lung tung đến khi ta lăn quay ra ngủ vì chán thì tô tô vẽ vẽ đầy mặt ta, buộc bới tóc ta, tròng thêm một bộ váy kinh tởm bên ngoài bộ đồ ngủ của ta và khiến ta phát điên lên khi nhìn vào gương buổi sáng. Ngươi gọi đấy là 'trang điểm' à?" - Tiếng nói chen cả tiếng nghiến răng. <br>
<br>
</p>
<p>"Chỉ...chỉ vậy thôi?" - Roy vừa nói vừa cười, mặt giãn hẳn ra. <br>
<br>
</p>
<p>"Ngươi còn đòi thế nào nữa? Ngươi làm ta phát điên lên đến nỗi chỉ muốn rút dao chém Roy-thật vào buổi sáng này! May cho ngươi là anh ta không sao đấy!" - Ed gào lên, nghiến răng ken két. <br>
<br>
</p>
<p>"Thật chứ? Cậu không làm gì với hắn?" <br>
<br>
</p>
<p>"Cái gì? 'Hắn' nào?" - Nhíu mày. <br>
<br>
</p>
<p>"Envy ấy, cậu không làm gì thật sao? Vậy sao sáng nay không giải thích?" <br>
<br>
</p>
<p>"Cái gì cơ?" <br>
<br>
</p>
<p>"Thả tôi ra, Ed." <br>
<br>
</p>
<p>"Đừng có cố bắt chước Roy. Ta khồng mắc lừa đâu. Ngươi sẽ đứng ở đấy đến sáng trong lúc ta ngủ êm ấm, và tốt nhất là đừng cử động. Vòng tròn đó rất mạnh đấy!" - Ed khoát tay, cuời nhếch mép và quay đi. <em>''Quái, tên Envy này đúng là nên đi làm diễn viên, nếu Homoculus cũng cần tiền và muốn nổi tiếng..."</em> <br>
<br>
</p>
<p>"Tôi là Roy này, đồ ngốc! Thả tôi ra!" - Roy gắt lên. <br>
<br>
</p>
<p>"Ngươi là Roy?" - Ed quay lại, nhíu mày nhìn kẻ đang gào lên trong lồng. <br>
<br>
</p>
<p>"Phải." <br>
<br>
</p>
<p>"Chứng minh đi!" <br>
<br>
</p>
<p>"Chứng minh bằng cách nào?" <br>
<br>
</p>
<p>"Bất cứ cách nào. Ví dụ như trở lại nguyên hình với cái đầu xanh và bảo "tôi là Roy này" chẳng hạn?" - Ed cười khẩy. <br>
<br>
</p>
<p>"Đã bảo tôi không phải Envy mà lại..." <br>
<br>
</p>
<p>"Vậy sao? Vậy chạm vào cái lồng đi!" <br>
<br>
</p>
<p>"..." <br>
<br>
</p>
<p>"Sao? Không dám chứ gì? Vì ngươi là Homoculus, ngươi sẽ không dám chạm vào nó. Nếu ngươi là Roy, ngươi sẽ không... ơ..." - Ed ngừng câu nói khi thấy Roy vứt quách cái xô xuống và dùng cả hai tay nắm chặt cái lồng, thậm chí còn lấy bàn tay di di lên cái vòng tròn cậu đã vẽ. <br>
<br>
</p>
<p>"Sao rồi, nhóc lùn? Tin tôi chưa?" <br>
<br>
</p>
<p>"Ơ...Roy...Sao..." <br>
<br>
</p>
<p>"Thả tôi ra được chưa?" - Roy nhíu mày. Anh mỏi chân vì phải đứng quá lâu. <br>
<br>
</p>
<p>"Ơ.. chờ chút..." - Ed luống cuống hóa giải pháp trận, tạm thời quên mất hai người đang trong thời kì chiến tranh. Nhưng cậu nhanh chóng nhớ lại khi thấy bộ quần áo rách nát do leo tường của Roy. <br>
<br>
</p>
<p>Cái lồng biến mất. Ed đang định vênh mặt mỉa mai Roy vì đã trở về nhà sau khi tuyên bố hùng hồn rằng sẽ đi luôn thì ngạc nhiên hết sức nhận thấy mình bị ôm rất chặt. <br>
<br>
</p>
<p>"Hơ...nè..?" <br>
<br>
</p>
<p>"Tôi xin lỗi, Ed!" - Roy dụi đầu vào tóc Ed, mỉm cười hít một hơi dài muùi hương tóc rất ngọt ấy. <br>
<br>
</p>
<p>"Roy?" <br>
<br>
</p>
<p>"Tha lỗi cho tôi nhé, được không?" - Roy thì thầm thật nhỏ vào tai Ed, nhận ra mặt cậu lại đang dần nóng lên. <br>
<br>
</p>
<p>"Ưm... Nhưng rõ ràng là anh..." <br>
<br>
</p>
<p>"Tôi xin lỗi, được chưa?" - Roy vẫn không buông Ed ra, anh chỉ hơi lỏng cánh tay và nhìn vào mắt cậu. - "Tha lỗi cho tôi, nhé?" <br>
<br>
</p>
<p>Ed ngây người trước nụ cười ấy, và thấy sự giận dỗi biến mất hoàn toàn. Cậu khẽ gật đầu, rồi dụi đầu vào ngực áo anh. <br>
<br>
</p>
<p>"Roy Mustang là đồ ngốc! Ngốc!" <br>
<br>
</p>
<p>"Ừ, tôi là đồ ngốc!" - Roy bật cười. Bị gọi là ngốc cũng không sao, vì anh sẽ được đền bù ngay bây giờ. <br>
<br>
</p>
<p>Anh gỡ tay Ed ra, nâng mặt cậu lên và đặt môi mình lên đôi môi nhỏ đang hơi hé ấy. Rồi, ngay sau đó là một nụ hôn thật sâu... <br>
<br>
</p>
<p>"Không được!" - Ed nói, gỡ tay Roy ra khi anh chuẩn bị bế cậu lên giường. <img alt="09.gif" src="http://www.accvietnam.vn/diendan/style_emoticons/yahoo/09.gif" border="0"> <br>
<br>
</p>
<p>"Sao vậy?" - Cười - "Tha lỗi cho tôi rồi mà?" <br>
<br>
</p>
<p>"Người anh bẩn quá! Đi tắm đi đồ ngốc!" - Ed chun mũi đẩy Roy ra khi anh vẫn tiếp tục đến gần hơn. <br>
<br>
</p>
<p>"Ồ...vậy sao? Vậy, tắm cùng tôi nhé?" - Roy cười tinh nghịch, cầm tay Ed lên và hôn lấy nó. Ed, một lần nữa, đỏ mặt. <br>
<br>
</p>
<p>"Không được, đồ ngốc!" <br>
<br>
</p>
<p>"Sao nữa?" <br>
<br>
</p>
<p>"Có ai nửa đêm đang ngủ thì dậy đi tắm không?" <br>
<br>
</p>
<p>"Vậy không chịu sao?" <br>
<br>
</p>
<p>"Không, tôi không muốn tắm. Nhưng..." <br>
<br>
</p>
<p>"Huh?" <br>
<br>
</p>
<p>"Nếu bảo tôi giúp anh tắm thì được..." <br>
<br>
</p>
<p>Roy cười lớn. Rồi anh bế xốc Ed lên, bước về phía phòng tắm. <br>
<br>
</p>
<p>"Vậy, làm ơn giúp tôi, nhà giả kim thuật dễ thương ơi...!" <br>
<br>
</p>
<p>"Thả...thả tôi xuống, đồ ngốc!" <br>
<br>
<br>
<br>
<br>
</p>
<p></p>
<p>--- <br>
<br>
</p>
<p></p>
<p></p>
<p>Sáng hôm sau. <br>
<br>
<br>
<br>
</p>
<p>"Tôi đã bảo tôi không thích ăn thứ này rồi mà? Cậu không đổi món được sao?" <br>
</p>
<p><br>
"Tôi cứ thích nấu món này đấy! Anh có ăn không thì bảo?" <br>
<br>
</p>
<p>"Tôi không nuốt được thứ này thêm nữa!" <br>
<br>
</p>
<p>"Tốt thôi, tôi mang cho Envy ăn. Dù sao hắn ta cũng sẽ không rầy rà như anh. Còn anh, đi mà bảo mấy cô fan của anh nấu cho mà ăn!" <br>
<br>
</p>
<p>Roy im lặng. Anh đã thua. <br>
<br>
</p>
<p>"Ed..." <br>
<br>
</p>
<p>"Gì? Tôi sẽ không nấu món khác đâu đó!" <br>
<br>
</p>
<p>"Cậu chỉ biết nấu món này, đúng không?" <br>
<br>
</p>
<p>"Cái gì? Tôi...." <br>
<br>
</p>
<p>"Cứ thừa nhận đi..." <br>
<br>
</p>
<p>"..." <br>
<br>
</p>
<p>"..." <br>
<br>
</p>
<p>"Ừ ĐÓ! <strong>RỒI SAO?</strong> Nếu anh không thích..." <br>
<br>
</p>
<p>"Tôi không bảo thế..." <br>
<br>
</p>
<p>"Dù sao tôi cũng chỉ làm được thế này, nếu anh không thể ăn thì..." - Ed nhỏ giọng, cắn môi. <br>
<br>
</p>
<p>"Edward!" <br>
<br>
</p>
<p>"..." <br>
<br>
</p>
<p>Roy tiến lại gần, ôm cậu nhóc đang chuẩn bị khóc đến nơi trước mặt. <br>
<br>
</p>
<p>"Từ giờ tôi sẽ là người nấu ăn, nhé? Vậy là được rồi, đúng không?" <br>
<br>
</p>
<p>"Được sao? Nhưng..." <br>
<br>
</p>
<p>"Bù lại, cậu phải thay cái cửa chính đi, hoặc cho tôi cái chìa khóa. Tôi không thích hợp leo trèo..." <br>
</p>
<p><br>
Ed bật cười nhìn Roy, cũng đang cười méo xệch. <br>
<br>
</p>
<p></p>
<p>Buổi sáng ấm và ngọt nhờ nụ hôn cậu gửi anh khi níu áo anh xuống và cười nhẹ. <br>
</p>
<p><br>
"Ừ, được mà Roy..." <br>
<br>
<br>
<br>
</p>
<p></p>
<p>--- <br>
</p>
<p><br>
End. <br>
<br>
<br>
<br>
</p>