<p></p>
<p></p>
<div style="TEXT-ALIGN: center"><strong>Sóng và cát.</strong></div> <div style="TEXT-ALIGN: center"><strong></strong></div> <p></p>
<div style="TEXT-ALIGN: center">
<strong>Full-metal Alchemist's fanfiction. <br>
</strong>By woo hyuk. </div> <div style="TEXT-ALIGN: center">
<strong>Disclaimer:</strong> They're not mine.<br>
<strong>Pairing:</strong> Roy Mustang x Edward Elric <br>
<strong>Genres:</strong> S.A, ... <br>
<strong>Rating:</strong> PG 13. </div> <div style="TEXT-ALIGN: center"><strong></strong></div> <div style="TEXT-ALIGN: center">
<strong>Summary:</strong> </div> <div style="TEXT-ALIGN: right"></div> <div style="TEXT-ALIGN: right">Quay lưng lại với những gì không thể...</div> <p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p><br>
---</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p><br>
“Fullmetal-alchemist, bắt đầu từ ngày hôm nay cậu chính thức từ bỏ danh hiệu nhà giả kim thuật quốc gia. Cậu sẽ không còn chịu sự giám sát và chi phối của quân đội kể từ lúc này.”</p>
<p>“Vâng, thưa ngài.”</p>
<p>“Quân đội đánh giá cao những đóng góp và nghiên cứu của cậu trong thời gian vừa qua, và hoan nghênh sự trở lại của cậu bất cứ lúc nào.”</p>
<p>“Vâng, thưa ngài.”</p>
<p>“Vậy, khi đã kí những xác nhận này, cậu hãy giao trả đồng hồ bạc, và hứa sẽ không dùng đến giả kim thuật với mục đích chống lại quân đội hay vi phạm điều cấm. Sau đó, cậu sẽ được tự do.”</p>
<p>“Tự do ư, thưa ngài?”</p>
<p>“Đó không phải là ý muốn của cậu sao? Hãy nhanh chóng làm xong những thủ tục cuối cùng này.”</p>
<p>“Vâng, thưa ngài.”</p>
<p></p>
<p>Nhếch mép cười, người thanh niên có mái tóc dài vàng óng khẽ kéo những tờ giấy trước mặt về phía mình và từ chối cây bút từ tay người đối diện. Cậu lấy trong túi áo khoác ra một cây bút máy và kí lên tờ giấy. Đôi mắt đen sâu thẳm lạnh lùng vẫn nhìn cậu không chớp.</p>
<p></p>
<p><br>
Chiếc đồng hồ cũ kĩ được lấy ra khỏi nơi đã quá quen thuộc với nó, và đặt trên xấp giấy. </p>
<p><br>
“Chắc nó sẽ được giao cho một nhà giả kim thuật quốc gia mới? Vậy tôi có cần làm mới nó lại không?”</p>
<p>“Không cần thiết. Mỗi chiếc đồng hồ bạc đều thuộc chủ quyền của chỉ một nhà giả kim thuật quốc gia dưới quyền quân đội. Khi cậu giao trả nó, nó sẽ được huỷ đi.”</p>
<p>“…Như chưa từng tồn tại? Cũng giống như tôi?” </p>
<p><br>
Một khoảng lặng, rồi chất giọng trầm và cứng vang lên, bình thản.</p>
<p><br>
“Thủ tục thế là xong. Cậu được tự do, Fullmetal-alchemist.”</p>
<p>“Cám ơn, thưa ngài. Nhưng không còn kẻ gọi là Fullmetal Alchemist nữa. Từ bây giờ, tôi chỉ là Edward Elric.”</p>
<p>“<em>Chỉ là</em>?”</p>
<p>“Vâng, thưa ngài.”</p>
<p>“Chúc cậu may mắn, Edward Elric.”</p>
<p>“Cám ơn ngài. Nhưng tôi không nghĩ mình xứng đáng với cái bắt tay của một nhân vật quan trọng như thế này. Tôi chỉ xin nhận lời chúc ấy.”</p>
<p>“Vậy sao?”</p>
<p></p>
<p><br>
[i]“Thưa tướng quân Mustang, buổi họp sắp bắt đầu sau năm phút nữa.” [/i] – Cánh cửa bật mở, một cô gái cúi người rồi khép nó lại sau cái gật đầu của người đàn ông đang đứng sau bàn làm việc bề bộn những giấy tờ. Thở dài.</p>
<p></p>
<p><br>
“Tôi rất bận, nên không thể tiễn. Cậu không phiền chứ?”</p>
<p>“Không đâu, thưa ngài.”</p>
<p>“Vậy, tạm biệt”</p>
<p>“Vâng, thưa ngài.”</p>
<p></p>
<p><br>
Chiếc áo khoác đỏ thẫm quay đi sau một cái chào nhà binh. Một thoáng hương cỏ ngọt lịm. Một chút chao đảo, rồi tất cả trở lại thinh không như chính bầu không khí lạnh lùng vẫn thường trực trong căn phòng sang trọng. Người đàn ông ngồi xuống chiếc ghế, chờ nghe một tiếng đóng cửa.</p>
<p><br>
“Còn một điều nữa, thưa ngài.”</p>
<p></p>
<p>Chậm rãi ngẩng đầu lên, ghi vào mắt hình ảnh sẽ cố quên. Chợt nghe lòng xót đau.</p>
<p></p>
<p>“Chắc ngài không ngờ đâu nhỉ, rằng tôi từng rất yêu ngài?”</p>
<p></p>
<p><br>
Nụ cười ấy thoảng nhẹ như không hề có. Ánh mắt sáng không ẩn chứa đau thương hay nuối tiếc, chỉ thuần một sự mỉa mai.</p>
<p></p>
<p></p>
<p><br>
Và, là anh tưởng tượng, hoặc giả đã tự liên tưởng tới một chút gì đó đang rất khẽ khàng xáo động trong người mình, hay ánh mắt ấy, nụ cười ấy thật sự chất chứa cả một chút cay đắng và đổ vỡ?</p>
<p></p>
<p><br>
“Vĩnh biệt, <em>đại tá</em>!”</p>
<p></p>
<p><br>
Cánh cửa khép lại rất khẽ. Thoảng trong không gian một chút ấm áp vương lại từ một tia nắng cuối ngày. Mây vẩn đục che đi màn trời xanh thẫm. Chiếc rèm cửa sau lưng bay nhè nhẹ theo một cơn gió đã rời khỏi căn phòng. </p>
<p></p>
<p><br>
Sâu trong đôi mắt sắc lạnh ấy vẫn là sự lạnh lùng và cứng rắn, sự mạnh mẽ thể hiện cả ở gương mặt đang hướng về phía cánh cửa đóng kín. Căn phòng sáng ánh đèn. </p>
<p></p>
<p><br>
Rồi một nụ cười phảng phất trên gương mặt nửa tối, tia nhìn khắc khoải hướng xuống chiếc đồng hồ nằm yên lặng trên xấp giấy tờ. Với lấy nó và mở nó ra. Chiếc nắp bật ra ngay khi vừa chạm đến. Tia mắt lướt kĩ trên dòng khắc đã mòn và mờ nét. Một hình ảnh quen thuộc lạ lẫm thoáng qua.</p>
<p></p>
<p></p>
<p><br>
Để lại nó vào trong ngăn kéo cùng với một vài thứ quan trọng, người đàn ông cho phép mình khẽ để một hơi thở dài buông nhẹ. Đôi bàn tay trần chống lấy mái tóc đen loà xoà, và cả vầng trán ấm nóng.</p>
<p></p>
<p>Căn phòng sáng trưng vẫn tối và trống đến lạ lùng.</p>
<p></p>
<p><br>
“Tôi biết chứ, Edward!...” </p>
<p></p>
<p></p>
<p><br>
Anh lẩm bẩm, và cắn nhẹ môi. Giọng nói trầm không còn cứng lạnh, mà nhẹ bẫng. </p>
<p></p>
<p></p>
<p></p>
<p></p>
<p><br>
Tiếng chuông điện thoại reo, người đàn ông nhấc máy, nói vài câu vào ống nghe rồi chậm rãi đứng dậy bước ra khỏi phòng. Người thư kí vội rời khỏi bàn làm việc phía ngoài và đi theo anh. Lơ đãng nghe những lời báo cáo của cô, anh nhìn ra bầu trời bên ngoài những chiếc cửa sổ dọc hành lang.</p>
<p></p>
<p></p>
<p>Trời đã tối.</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p><br>
…………………</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p><br>
Một lần nữa, bước thật chậm trên những hạt cát vàng óng. Thật gần.</p>
<p></p>
<p></p>
<p>Gió thổi tung mái tóc buộc hờ hững. Sắc vàng tan ngay trong mênh mông chói loà sắc đỏ. Tan trong trời chiều xanh thăm thẳm một màu biển bao la. </p>
<p></p>
<p>Gần hơn nữa. Bước song song. Hai cánh tay khẽ chạm vào nhau. Hơi ấm không đủ làm ấm lên ngọn gió chiều. Mùi hương tóc thoảng khẽ. Nắng vàng nhẹ lay. </p>
<p></p>
<p></p>
<p></p>
<p>Một cơn gió.</p>
<p></p>
<p></p>
<p>Bãi cát phẳng lì lác đác những mảnh vỏ sò đủ màu sắc. Vệt nước biển khẽ lay động theo từng đợt sóng ve vuốt bãi bờ. Ngồi xuống. Cạnh nhau. Hương biển nồng trong từng hơi thở. </p>
<p></p>
<p></p>
<p></p>
<p><br>
Xa xăm lắm, về phía trời kia…</p>
<p></p>
<p></p>
<p></p>
<p><br>
Nước ánh lên như một vỏ trai lóng lánh đỏ. Sóng đập đều đặn vào gờ đá xa xa, tạo nên những tiếng động buồn bã. Hai cánh tay đã không còn thi thoảng chạm khẽ vào nhau.</p>
<p></p>
<p></p>
<p>Nền trời xanh đến kì lạ. Ánh nắng mờ nhạt từ vầng thái dương lơ lửng rải những mảnh màu sắc rời rạc và cô độc. </p>
<p></p>
<p></p>
<p>Một tiếng cười. Rồi người thanh niên tóc vàng dài đứng dậy, bước tới sát mép nước nhặt lên những miếng vỏ sò. Cát ẩm ướt bị khoét lấm tấm những chiếc lỗ nhỏ khi những miếng vỏ bị nhấn một nửa trong cát được lôi lên. </p>
<p></p>
<p></p>
<p>Chìm ngập trong ánh nắng vàng rực, trơ trọi trong biển nước mênh mông, một đợt sóng ôm lấy đôi chân trần mơn man vỗ về. Mái tóc vàng bay nhẹ trong gió đẫm hương muối, mang ánh nắng hoà cùng không gian bé nhỏ xung quanh. Môi cười ướt đẫm nước biển.</p>
<p></p>
<p></p>
<p>Tung những chiếc vỏ đã được rửa sạch về với biển trước ánh mắt ngạc nhiên của kẻ ngồi nhìn từ phía xa, người thanh niên không trở lại với anh, mà chầm chậm trở về bãi cát và bước đi. Một chút ngập ngừng, rồi dáng người cao mạnh mẽ cũng đứng dậy, bước theo đôi vai nhỏ bé đẫm nước run nhẹ trong cơn gió lạnh đột ngột thổi qua.</p>
<p></p>
<p></p>
<p><br>
---</p>
<p></p>
<p></p>
<p></p>
<p><br>
“Sao không nói gì cả?”</p>
<p>“Nói gì, đại tá?”</p>
<p>“Lý do gọi tôi ra đây?”</p>
<p>“Chẳng có gì đặc biệt…”</p>
<p>“Tôi rất bận.”</p>
<p>“Tôi biết. Anh có thể trở về với công việc của mình được rồi.”</p>
<p>“Tôi không hiểu.”</p>
<p>“Không có gì quan trọng để hiểu. Cứ coi như anh đã dành một buổi chiều cho nắng và gió nơi đây không được sao? Cũng đâu đến nỗi tệ?”</p>
<p></p>
<p><br>
Nhoẻn cười, nhưng đôi mắt không cười. Chất chứa trong miên man sâu màu hổ phách ấy là những đợt sóng không yên.</p>
<p></p>
<p><br>
“Thôi được. Nếu không có việc gì, tôi sẽ trở về.”</p>
<p>“Một chút nữa thôi, được không?”</p>
<p>“Tôi rất bận.”</p>
<p>“……”</p>
<p>“Đến khi mặt trời lặn…”</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p>Nhoẻn cười. Đôi môi ướt hé mở, và câu nói rất khẽ hôm ấy đã vô tình bị một cơn gió thổi qua cuốn đi và tan ra trong mênh mông xanh thẳm trời và biển. Đôi mắt dịu lại, và một bàn tay ướt lạnh khẽ nắm lấy bàn tay ấm nóng, siết chặt. Anh đã không gạt nó đi.</p>
<p></p>
<p></p>
<p>Âm thanh duy nhất bao trùm vẫn chỉ là tiếng sóng và gió thổi lồng lộng qua các vách đá, lướt trong không gian dần tối. Hai đôi mắt cùng nhìn không rời về ánh tà dương đang khuất dần sau một đường chân trời vắt ngang qua mặt biển sẫm màu. Không xa nơi họ ngồi, một vài đụn cát nhô lên, rồi thi thoảng bị một cơn sóng vùi lấp, bằng phẳng không một dấu vết.</p>
<p></p>
<p></p>
<p>Một vài ngôi sao đã lộ ra trên nền trời lam tối. Tia sáng cuối cùng đang hắt trên mặt biển. Im lặng. Mái tóc vàng dựa nhẹ vào bờ vai mạnh mẽ. Một chút xáo động trên gương mặt lạnh lùng. Anh đã không đẩy cậu ra.</p>
<p></p>
<p></p>
<p>Rất lâu như thế, đến khi không gian xung quanh đã gần đen tối hẳn, và hơi ấm từ người anh đã không còn khiến cậu choáng váng, đến khi anh đã quen với một bên vai hơi nặng và một vài sợi tóc mơn man gương mặt mình. Tiếng thở nhẹ vang lên bên tai anh, rồi một chút hẫng đột ngột làm anh chao đảo. Nơi vai trái bỗng bị một cơn gió thổi qua, lạnh tê tái. Cậu đứng dậy, mỉm nụ cười buồn cô độc đến xót xa.</p>
<p></p>
<p><br>
“Tôi không hiểu lắm về sự dịu dàng hôm nay, nhưng rất cảm ơn.”</p>
<p>“……”</p>
<p>“Bây giờ thì trở về thôi, tôi đã lấy đi quá nhiều thời gian của anh rồi, đại tá!”</p>
<p>“Fullmetal…”</p>
<p>“Hãy xem như đây là một buổi chiều nghỉ phép đi, và nếu vì tôi mà nó trở nên tệ hại thì rất xin lỗi. Biển rất đẹp, đúng không? Tôi đã phát hiện ra nơi này năm ngoái, và đã rất muốn một lần được trở lại đây…”</p>
<div style="TEXT-ALIGN: right"><em>với anh…</em></div> <p>“……”</p>
<p>“Được rồi, trở về nào!...”</p>
<p>“Được.”</p>
<p>“Không giống anh chút nào. Sao không cằn nhằn về sự phiền phức của tôi thế?” </p>
<p>“Tôi đang nghĩ xem nên làm thế nào để Hawkeye hiểu đây hoàn toàn là lỗi của cậu và không giết tôi.”</p>
<p></p>
<p></p>
<p></p>
<p>Cười giòn tan. Lạc lõng trong tiếng sóng và tiếng gió. <br>
Thở dài. Hoà làm một với cơn gió thổi qua.</p>
<p></p>
<p></p>
<p></p>
<p>“Một ngày nào đó hãy dẫn bạn gái của anh đến đây nhé. Nhưng hãy dẫn từng cô một thôi…”</p>
<p>“Người yêu ư? Tôi không có thời gian cho chuyện đó. Vô nghĩa và phiền phức.”</p>
<p>“Vậy sao? Vô nghĩa ư? Thật không giống đại tá Mustang đào hoa…” - Cười. </p>
<p>“Còn cậu thì sao? Cô bé nhà Rockbell hẳn đã thành một cô gái xinh đẹp?”</p>
<p>“Winry? Phải, cô ấy rất xinh và là một cô gái tốt. Rất nhiều người đeo đuổi cô ấy đấy, thật không ngờ lại có nhiều kẻ bị vẻ ngoài của bà chằn đó đánh lừa đến vậy…”</p>
<p>“Ồ…Thật muốn một ngày nào đó được gặp lại cô bé ấy, giờ đã là một thiếu nữ xinh đẹp…”</p>
<p>“Anh đúng là tên háo sắc. Anh sẽ chết vì cả hai bà chằn tóc vàng ấy đấy.”</p>
<p></p>
<p></p>
<p></p>
<p>Cười. Biển sau lưng ồ ạt tung những đợt sóng đánh vào gờ đá, ào lên trên cát như muốn níu giữ những bước chân ngày càng xa hơn trong sâu thăm thẳm tiếc nuối và mênh mông những cơn gió nhẹ da diết buồn.</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p>---</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p>Người đàn ông kéo cao cổ chiếc áo khoác đen dài, bước chầm chậm trên bãi biển chiều. Sóng vẫn lăn tăn mơn man gót giầy không một chút cảm giác mềm mại hay ướt át, cuốn trôi những hạt cát vàng bám trên ấy.</p>
<p></p>
<p></p>
<p>Trở lại bãi cát nọ, người đàn ông nhìn đăm đăm vào ánh chiều tà đằng xa, tím thẫm khoảng trời phía trên mặt nước. Một cơn gió thổi qua. Bất giác đặt tay lên vai trái. Nhẹ tênh.</p>
<p>“Thì ra anh đang ở đây, đại tá!”</p>
<p></p>
<p><br>
Giật mình quay đầu lại, thót tim vì một thoáng tóc vàng.</p>
<p></p>
<p></p>
<p>Ánh mắt ngỡ ngàng tối hẳn lại, rồi sự thất vọng không lý giải được trong thăm thẳm màu đen ấy thay thế bởi màu trời.</p>
<p></p>
<p></p>
<p>“Sao lại biết tôi ở đây, trung uý?”</p>
<p>“Tôi và Havoc đã đi theo anh từ ở Bộ tư lệnh.”</p>
<p>“Đó không phải hành động đáng khen đối với cấp trên đâu.” - Bật cười. Rồi đôi mắt gói trọn cả khoảng trời nheo lại bởi cảm xúc ích kỉ về không gian vốn chỉ chia sẻ với một người. – “Nhưng tôi vẫn không hiểu được trừ phi cô giải thích tại sao lại theo dõi tôi?”</p>
<p>“Là vì chúng tôi lo cho anh. Gần đây anh rất lạ.”</p>
<p></p>
<p></p>
<p><br>
Cô gái trẻ nhíu mày, và giọng nói cứng lạnh cũng mềm mại hẳn. Phải chăng là vì tiếng sóng bao dung đã nuốt lấy hết những góc cạnh của quan hệ thuộc cấp và cấp trên, của những ràng buộc xã hội vô căn cứ?</p>
<p></p>
<p></p>
<p>Anh im lặng, rồi nghĩ đến giọng nói rất khẽ lúc ấy. Câu nói thoảng chìm trong tiếng gió và tiếng sóng lúc ấy có thể là gì? Anh đã không hỏi.</p>
<p></p>
<p></p>
<p>Hoặc, anh đã sợ biết đến câu trả lời.</p>
<p></p>
<p><br>
“Tôi không sao. Xin lỗi vì đã làm tốn thời gian của mọi người. Chúng ta về thôi.”</p>
<p>Người nữ quân nhân vẫn không rời bước. Sâu trong đôi mắt ấy là một sự thương cảm và lo lắng sâu sắc.</p>
<p>“Là vì…cậu bé ấy, đúng không?”</p>
<p>Nhoẻn cười, gương mặt của anh chứa đầy sự châm chọc và bình thản đến giả tạo.</p>
<p>“Cô đang nói gì vậy, trung uý?”</p>
<p>“Là vì cậu bé ấy, nên anh mới đau khổ thế? Vậy thì tại sao…”</p>
<p>“Tôi đã bảo là không có gì, trung uý. Đừng tự suy diễn như thế. Tôi chỉ là mệt mỏi vì công việc quá nhiều, và nơi này thì quả thực rất đẹp, cô không nghĩ vậy sao?”</p>
<p>Một lần nữa bao quát khung cảnh xung quanh. Đôi môi ai chợt cắn chặt , rồi một tiếng thở dài.</p>
<p>“Tôi hiểu, thưa ngài. Xin lỗi vì sự thiếu kiềm chế vừa rồi.”</p>
<p>“Cám ơn, trung uý. Chúng ta về thôi.”</p>
<p></p>
<p><br>
Bước chậm với một người đằng sau, anh kiềm lại ý muốn quay lại nhìn nơi vừa rời đi. Một thoáng cảm xúc lướt qua, anh lắc nhẹ đầu và nghĩ về công việc sắp phải giải quyết. Hương cỏ dịu ngọt vương đầy tâm tưởng, anh hít một hơi dài mùi biển mặn nồng, để rồi mê đi trong hồi ức mạnh mẽ về một buổi chiều đầy gió.</p>
<p></p>
<p><br>
“Đại tá…”</p>
<p>“Nói đi, trung uý!”</p>
<p>“Tôi chỉ muốn nói một câu không thuộc giới hạn với cấp trên, mà với tư cách một người bạn.”</p>
<p>“Tôi đang nghe đây, Riza.”</p>
<p>“Đừng tự lừa dối bản thân mình.”</p>
<p>“Tôi đâu có.” – Anh quay lại mỉm cười với người con gái đang nhìn mình và ngạc nhiên bởi cảm xúc đang hiện trên mặt cô. Khẽ khựng lại, rồi anh bước lại và đi song song với cô. – “Cảm ơn, tôi sẽ chú ý, được chứ?”</p>
<p>“……”</p>
<p>“Đi nhanh thôi, trời tối rồi…”</p>
<p>“Tôi sẽ về trước để bảo Havoc chuẩn bị xe. Anh ta đang chờ trong thành phố.” </p>
<p></p>
<p></p>
<p>Nói rồi cô gái bước nhanh lên phía trước cấp trên của mình. Còn lại một mình, anh đứng lại nhìn theo cô, rồi thở dài và hướng ánh mắt ra xa thật xa bên kia đại dương. </p>
<p></p>
<p><em>“Tự lừa dối bản thân? Sai rồi, tôi không hề làm như thế. Tôi đã không…”</em></p>
<p><em></em></p>
<p><em></em></p>
<p>Anh nói khẽ với chính mình, rồi nhìn về phía bãi cát. Hình ảnh buổi chiều kia thoáng hiện về trong cái lắc đầu buồn bã. Anh thấy mình như một gã hề không hơn. Cảm xúc ấy là gì, anh không biết rõ; cũng không hiểu lý do mình đã quay lại nơi này biết bao nhiêu lần kể từ hôm ấy. Tình cảm ấy là gì anh không biết, nhưng chắc chắn nó không thể là tình yêu, và với cậu cũng vậy.</p>
<p></p>
<p></p>
<p>Vô tình, anh dẫm chân lên một đụn cát nhỏ nhô lên gần mép nước. Anh không biết rằng một gợn sóng ngay sau đó cũng đã cuốn những mô cát nhỏ gần đó ra mãi phía xa.</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<div style="TEXT-ALIGN: right">Quay lưng lại với những gì không thể, <br>
Gặp con dã tràng trên bãi chiều nay. <br>
Cứ mải miết giả vờ xe cát, <br>
Hòn vỡ hòn lành <br>
Con sóng cợt đùa cuốn hết ra khơi...</div> <p></p>
<p></p>
<p></p>
<p></p>
<p><br>
Người thanh niên nhìn theo bóng người dần khuất sau một ngôi nhà đằng xa. Từ phiến đá nơi cậu ngồi chỉ có thể nhìn đến đấy, dù rằng dáng người ấy là thứ cậu khao khát nhìn hơn bất cứ gì trên đời. Cậu đã rất nhiều lần nhìn anh từ chỗ này, tìm dáng người cô độc bước từ xa tới, đứng lặng nhìn biển chiều, và luôn luôn, anh ngồi ngắm biển từ bãi cát gần bờ đá cậu đã từng ngồi với anh tối ấy.</p>
<p></p>
<p><br>
Cậu không thể hiểu được hành động ấy của anh. Con người ấy luôn lạnh lùng và chỉ biết đến công việc. Chính sự tự tin và trách nhiệm cùng lý tưởng rất cao thượng ấy đã khiến cậu từ ác cảm chuyển sang mến phục, và đã yêu anh tự lúc nào. </p>
<p></p>
<p></p>
<p>Yêu? Cậu bật cười vì ý nghĩ ngô nghê ấy. Sao có thể chứ?</p>
<p></p>
<p></p>
<p>Dù vậy, thứ tình cảm đang thiêu đốt rồi nhấn chìm cậu trong cơn gió lạnh buốt này cũng không phải là một điều dễ chịu. Cậu cảm thấy mình như một kẻ ngốc đi tìm thứ không thuộc về mình, cứ cố gắng và hy vọng dù chẳng biết để cho cái gì. Thật vậy, cậu đã không trông mong gì ở anh, ngoài một lần được nhìn bởi đôi mắt ấy. Cậu mong, dù chỉ một lần, anh nhận thấy cậu giữa vô cùng biển người anh ôm trong tim. Nhưng dù cho bất cứ biểu hiện gì cậu vô tình hay cố ý biểu lộ, anh cũng chỉ im lặng và gạt tất cả ra xa, nhẹ nhàng, tàn nhẫn nhưng rất đỗi lịch sự, như chính cách anh xử thế với những kẻ giả dối nịnh bợ xung quanh mình.</p>
<p></p>
<p></p>
<p>Mỉm cười ôm chặt hơn đôi vai lạnh băng, cậu đứng dậy và rời khỏi bờ đá. Nước biển ngập qua đầu gối khi cậu bước xuống. Trở lại với bãi cát, một nụ cười buồn bã hiện trên mặt khi cậu nhìn thấy chính mình trong con dã tràng đang mải miết dồn lên những đống cát nhỏ, để rồi bị nước biển cuốn trôi…</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p>---</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p>Anh có một giấc mơ. Vô chừng lắm, mơ hồ lắm, nhưng đầy cảm xúc. Giấc mơ về một miền cát vàng rực sáng trong ánh nắng mặt trời. Tia nắng ấy không chói loà, mà rất đỗi gần gũi. Rồi, nước và lửa khẽ nhấn chìm, thiêu đốt và vùi anh trong miên man vị muối mặn của biển. Anh quờ quạng, và bắt được một vạt áo đỏ mềm mại, cùng một thoáng hương nhẹ bẫng thân quen. Anh vô thức ôm ghì lấy nó, khắc khoải.</p>
<p></p>
<p>Mở mắt, anh nhìn xuông bàn tay mình. Chiếc đồng hồ bạc và dòng chữ “Don’t forget” đập vào mắt anh. Lại một lần nữa anh nhìn ra cửa sổ, và nghĩ về miền quê ấy. Nơi ấy, hay bất cứ nơi nào khác nữa, những lọn tóc vàng anh chưa từng một lần ve vuốt đang hiện hiện?</p>
<p></p>
<p>Và cả đôi mắt ấy, nét cười ấy…</p>
<p></p>
<p>Vang bên tai anh, hiện trong đầu anh, tiếng sóng dồn nén và biển tung trào bọt trắng. Con người không thể sống mãi với quá khứ, anh biết điều đó. Nhưng cũng có những thứ dù người ta cố quên cũng sẽ không thể quên. Dòng chữ ấy dường như đang cứa lấy tâm can anh, dù cho anh đã không hề cảm thấy điều đó từ lâu nay. Anh không biết rằng chiếc đồng hồ ấy vốn được đóng rất chặt bằng giả kim thuật.</p>
<p></p>
<p></p>
<p><br>
Thở dài, anh lại nhớ về buổi chiều hôm ấy.</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p>---</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p>Cậu một lần nữa vô thức cho tay vào túi quần. Cảm giác trống mất một thứ đã quá quen thuộc nhắc cậu nhớ rõ hơn về chuyện từ lúc này mình đã không còn lý do để trở về, để nhìn thấy, và để gặp mặt con người ấy nữa. Cậu chuyển chiếc vali sang tay trái để không lặp lại hành động đó, và nhìn lại Central city lần cuối cùng, trước khi lên tàu. Đây cùng chính là nơi cậu đã quen thuộc rất nhiều năm nay, là nơi có nhiều kỉ niệm nhất trong những nơi cậu đã từng qua, và là nơi cậu sẽ không trở lại thêm một lần nào.</p>
<p></p>
<p></p>
<p><br>
Hướng mắt nhìn về phía đại lộ, cậu mỉm cười khi nghĩ nơi mà con đường ấy sẽ dẫn đến. Đi vào, lên một tầng và rẽ trái… Sau cánh cửa ấy, cậu sẽ lại thấy anh.</p>
<p></p>
<p></p>
<p><br>
Đã từ rất lâu từ lần đầu tiên và duy nhất cậu cùng anh ngồi bên nhau ngắm nhìn mặt trời lặn trên bãi biển ấy, cũng từ rất lâu kể từ lần cuối cậu nhìn theo anh đi dọc bờ biển và lặng thinh để gió thổi tung mái tóc, mơn man gương mặt lạnh lùng. Thế nhưng, đôi khi có những thứ dù đã mờ phai theo thời gian vẫn không thể lãng quên trong tâm trí con người. Và hơi ấm buổi chiều ấy, cũng vậy.</p>
<p></p>
<p></p>
<p></p>
<div style="TEXT-ALIGN: right"></div> <div style="TEXT-ALIGN: right">
<br>
Phía bên kia là biển là trời <br>
Là bạt ngàn sóng, bạt ngàn gió nắng <br>
Là đắm say cười <br>
Là mắt nhìn cháy bỏng bờ môi…</div> <p></p>
<p></p>
<p></p>
<p></p>
<p><br>
---</p>
<p></p>
<p></p>
<p></p>
<p><br>
“Hôm nay Edward sẽ đáp chuyến tàu lúc mười một giờ ba mươi. Hai mươi phút nữa nó sẽ khởi hành.”</p>
<p>“Vậy sao, nghĩa là cậu ta vẫn chưa rời khỏi đây? Làm sao cô biết điều đó, thiếu tá?”</p>
<p>“Tôi đã gặp cậu ấy sau khi cậu ta rời khỏi Bộ tư lệnh hôm trước.”</p>
<p>“Thật vậy à? Bản báo cáo về tình hình ở miền Nam đã gửi đến chưa?”</p>
<p>“Cậu ấy sẽ không trở lại đây nữa.”</p>
<p>“Phải, vì cậu ta đã không còn là nhà giả kim thuật quốc gia, không được phép vào Bộ tư lệnh nữa. Tôi kí xong xấp hồ sơ này rồi, còn nữa không?”</p>
<p>“Cậu ấy sẽ không quay lại Central City nữa!”</p>
<p>“Cậu ta nói vậy với cô sao?”</p>
<p>“Không.”</p>
<p>“Vậy thì sao cô có thể chắc như vậy? Cậu ta sẽ quay lại nếu thích, và dù không như thế thì việc đó cũng không liên quan gì đến quân đội.”</p>
<p>“Cậu ta sẽ không bao giờ quay lại cho dù có chuyện gì xảy ra.”</p>
<p>“Tại sao cô dám chắc như vậy?”</p>
<p>“Vì cậu ta cũng là một kẻ ngốc như anh. Chính anh cũng sẽ không bao giờ đi tìm cậu ta cho dù có bất cứ chuyện gì đúng không?”</p>
<p></p>
<p></p>
<p><br>
Đôi mắt đen ngừng lướt qua những dòng chữ. Anh ngước lên nhìn cô và gặp một ánh nhìn cương quyết. Anh thấy tim mình nhói lên, và ruột gan nóng bỏng như bị thiêu đốt. Tuy vậy, giọng nói ấy vẫn thật trầm và bình thản.</p>
<p></p>
<p></p>
<p><br>
“Tôi nghĩ đây là lần cuối cùng chúng ta nói về Edward Elric. Cậu ta đã không còn làm việc cho quân đội. Không có lý do gì để phiền nhiễu về một người dân bình thường cả, thiếu tá Hawkeye!”</p>
<p></p>
<p>“Tôi không bắt anh gây cản trở cho cậu ta, không bắt anh cản cậu ta lại. Cái tôi muốn, như đã nói, là anh đừng lừa dối bản thân mình.”</p>
<p></p>
<p><br>
Anh nhìn thẳng, rồi lẩn tránh ánh nhìn cương nghị ấy. Sâu trong lòng anh là một cảm giác sục sôi và lo sợ. Nhưng chính anh cũng không biết nó là gì.</p>
<p></p>
<p><br>
“Tôi không bao giờ lừa dối ai, kể cả bản thân mình. Thiếu tá Hawkeye, lệnh của tôi, không bàn về chuyện này nữa.”</p>
<p></p>
<p></p>
<p>Anh nhíu mày nhìn cô. Người phụ nữ nhìn ra được cái đau trong ánh mắt và cả gương mặt bướng bỉnh trước mặt, và chợt cũng thấy lòng mình quặn đau.</p>
<p></p>
<p>“Vâng, thưa Tướng quân.”</p>
<p></p>
<p>“Tướng quân Mustang, xin lỗi đã làm phiền…”</p>
<p></p>
<p>“Vào đi.”</p>
<p></p>
<p></p>
<p>Anh ngẩng lên và nói lớn, nhẹ nhõm vì câu chuyện đã bị cắt ngang. Dù đã ra lệnh cho cô như thế, nhưng anh không chắc mình sẽ giữ được thái độ lạnh lùng như vậy được tới lúc nào.</p>
<p></p>
<p></p>
<p>“Thưa tướng quân, có tin khẩn từ đội hiến binh khu vực số 9.”</p>
<p>“Nói ngay đi.”</p>
<p>“Một nhóm tội phạm vừa tấn công nhà ga trung ương và dùng hành khách làm tù binh. Chúng đòi trao đổi tất cả tù binh với tên cầm đầu vừa bị bắt hồi tuần trước.”</p>
<p>“Nhà ga trung ương? Nhưng…” – Riza thốt lên kinh ngạc, rồi nhìn qua anh. Anh đưa tay ra hiệu cho cô rồi tiếp tục hỏi người quân nhân đang nhìn cô ngơ ngác.</p>
<p>“Hiện số quân ở đó có bao nhiêu, và chúng có bao nhiêu tên? Cả số lượng tù binh nữa?”</p>
<p>“Có hai tiểu đội đang bao vây toàn bộ cửa thoát hiểm và sơ tán dân chúng. Tù binh theo dánh sách hành khách thì khoảng trên dưới một trăm người. Chúng có hơn ba mươi tên trang bị súng và bom mini. Đang yêu cầu tăng viện.”</p>
<p>“Vậy trong danh sách…” – Anh chống tay lên bàn và cắn nhẹ môi. Một luồng suy nghĩ thoáng qua. – “…có nhà giả kim thuật nào không?”</p>
<p>“Đó chính là điều tôi muốn nói, thưa ngài! Bọn chúng đang khống chế một nhà giả kim thuật dường như là nhà giả kim thuật quốc gia, nhà Cang giả kim thuật…”</p>
<p></p>
<p></p>
<p>Thông tin ấy như dội lại trong đầu anh. Anh im lặng, và bảo người quân nhân hãy giữ liên lạc rồi gọi tăng viện đến nhà ga.</p>
<p></p>
<p>“Hãy liên lạc ngay với tôi khi bọn chúng gửi yêu cầu cụ thể, và ngay khi biết được kẻ cầm đầu cuộc tấn công này.”</p>
<p>“Vâng, thưa ngài!”</p>
<p></p>
<p></p>
<p>Người quân nhân trẻ đưa tay chào rồi nhanh chóng bước ra khỏi phòng. Anh dựa lưng ra sau chiếc ghế, và nhắm mắt lại. Đầu anh bắt đầu những cơn đau như muốn vỡ tung ra.</p>
<p></p>
<p></p>
<p>“Chỉ là vậy thôi? Chỉ là ‘thông báo cho anh’?” – Riza gắt khẽ, và anh từ từ mở mắt ra.</p>
<p>“Vậy tôi phải làm gì? Thiếu ta, cô đang định ra lệnh cho tôi giải quyết việc này theo cách có thể gây nguy hiểm cho con tin ư?”</p>
<p>“Không. Nhưng tôi không tin anh có thể bình tĩnh đến thế. Edward đang gặp nguy hiểm, anh biết điều đó!”</p>
<p>“Chuyện này giống với lần truớc khi cậu ta đến Central. Sẽ không có chuyện gì xảy ra. Bây giờ cậu ta thậm chí còn giỏi hơn lúc đó. Hay cô lo chuyện chuyến tàu sẽ không thể khởi hành đúng giờ?”</p>
<p>“Tên đàn ông ngu ngốc! Chẳng lẽ anh không thấy được chuyện quan trọng cần phải làm, ít ra là trong lúc này sao?”</p>
<p>“Tôi thấy được. Tôi cần phải giải quyết chuyện này êm đẹp, không ai bị thương cũng như tổn thất về nhân sự và tài sản. Tôi vẫn đang nghĩ cách.”</p>
<p>“Tướng quân Mustang, tôi xin phép…” – Nói rồi cô đi vòng qua bàn làm việc của anh, mở ngăn kéo và lấy ra chiếc đồng hồ bạc. Tim anh nhói lên ngỡ ngàng. – “…Tôi không nghĩ anh cho rằng điều đó quan trọng hơn chính anh, hay anh là một kẻ ngu ngốc đến tận mức này. Nhưng anh không xứng đáng để giữ vật này. Hãy huỷ nó đi theo quy định.” </p>
<p></p>
<p></p>
<p>Cô đặt nó xuống đất và rút súng ra. Anh vội chạy tới giật nó lại. Anh biết con đê cảm xúc trong người mình đang rung chuyển. Dòng chữ khắc mờ đập vào mắt anh, và anh cắn chặt môi.</p>
<p></p>
<p></p>
<p>“Điều kiện của tôi cho vật ấy, là hãy đến nhà ga.”</p>
<p>“Đến đấy để làm gì? Bọn tội phạm đang khống chế. Tôi phải chờ bọ chúng đưa ra điều kiện chính thức…”</p>
<p>“Anh đâu có như vậy nếu trên chuyến tàu đó không có Edward? Anh đang sợ điều gì vậy, Tướng quân?”</p>
<p>“……”</p>
<p>“Dù sao, cũng hãy đến đó. Trước khi có ai đó bị thương. Nhiệm vụ của anh, đúng không?”</p>
<p></p>
<p>Anh sực tỉnh, đút chiếc đồng hồ vào túi áo và lấy ra đôi găng tay.</p>
<p></p>
<p>“Bảo Havoc chuẩn bị xe, tôi sẽ tới đó ngay.”</p>
<p>“Tôi sẽ không đi theo bảo vệ anh trong hôm nay được. Hãy đi một mình, và cẩn thận trong mọi thứ.”</p>
<p>“Cô sẽ không đi?”</p>
<p>“Ở đây thay anh giữ liên lạc và điều quân.”</p>
<p>“Cám ơn. Và hãy làm tốt nhé!”</p>
<p>“Vâng, thưa ngài!”</p>
<p></p>
<p></p>
<p></p>
<p><br>
Bước ra ngoài, anh choáng váng vì bị ánh nắng giữa trưa làm loá mắt. Anh lên xe hướng về phía nhà ga ở cuối con đường, tưởng tượng đến chiếc áo đỏ, mái tóc vàng rực và nụ cười tự tin, hoặc giả là một gương măt tức giận đang đánh đập không thương tiếc những tên tội phạn đã dám khống chế mình. Anh bật cười và bảo Havoc tăng tốc. </p>
<p></p>
<p>“Không thể, Tướng quân. Khúc quẹo tới đầy dân thường kéo đến xem, không thể đi theo hướng đại lộ.”</p>
<p>“Vậy còn đường nào khác?”</p>
<p>“Đi đường vòng qua khu số 8 sẽ đến gần cửa phía nam nhà ga.”</p>
<p>“Vậy thì đi thôi.”</p>
<p>“Vâng. Anh đã nghe chuyện bọn chúng đang khống chế Edward chưa?”</p>
<p>“Rồi, nhưng cậu ta sẽ không sao, đùng lo.”</p>
<p>“Vậy sao? Nhưng tôi nghe người của đội hiến binh khu vực số 9 bảo là chúng tưởng cậu ta vẫn là nhà giả kim thuật quốc gia nên đã làm cậu ấy bị thương do căm thù quân đội…”</p>
<p>“Đi nhanh lên, Havoc!”</p>
<p>“Rõ, thưa ngài!”</p>
<p></p>
<p></p>
<p>Chiếc xe tăng tốc, tiếng động cơ và tiếng bánh xe cạ trên mặt đường gồ ghề vang trong buổi trưa yên tĩnh. Anh cảm thấy lòng mình chết lặng. Những bức tường rào anh tự dựng lên trong tâm trí mình dường như đang tự sụp đổ. Lòng như lửa đốt, anh đau đớn nghĩ tới ánh nắng vàng vương trên vai mình.</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p><br>
---</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p><br>
Cậu ngồi yên để người y tá trẻ quấn quanh tay mình vòng băng cuối cùng. Cậu đưa tay gạt nhẹ vết xước trên má, cảm thấy tê dại cả một bên vai. Bước tới đưa chân đạp vào kẻ đã tặng cậu vết thương ấy, rồi cậu nhíu mày lảng tránh những quân nhân đang xúm tới hỏi han mình. Cậu đưa mắt nhìn quanh, rồi bật cười về sự ngu ngốc của mình. Người đó sao có thể ở đây được, một tướng quân, “nhân vật quan trọng’’ – như chính cậu đã gọi ấy – sao có thể trực tiếp ra đây cơ chứ. Có thể anh không biết hôm nay cậu rời đi, cậu hy vọng như vậy, để ngăn sự thất vọng không đáng có dâng lên trong lòng mình.</p>
<p></p>
<p></p>
<p></p>
<p>Nhưng, sự việc này, và cả vết thương này chắc cũng sẽ là một kỉ niệm về nơi đây? Cậu nghĩ vậy, rồi cười một mình. Hỏi người trưởng ga liệu chuyến tàu có thể khởi hành không, cậu bực bội vì câu trả lời của ông. Quay người lại, rồi cậu ngỡ ngàng.</p>
<p></p>
<p></p>
<p></p>
<p><br>
---</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p>Anh bối rối trước sự phân vân về chuyện có nên tránh ánh mắt của cậu hay không. Rồi anh vội rời mắt đi để khỏi tan ra trong mênh mông màu hổ phách ấy, và chuyển sự chú ý lên vết thương trên tay, và trên mặt cậu. </p>
<p></p>
<p></p>
<p>Một lần nữa, anh thấy lòng mình quặn lên vì cảm xúc anh không biết từ đâu, và không thể giải thích được khi cậu tiến về phía anh.</p>
<p></p>
<p></p>
<p></p>
<p></p>
<div style="TEXT-ALIGN: right">Lẩn tránh mà chi cái điều không thể <br>
Loanh quanh suốt đời <br>
Đâu dễ gì ra khỏi bãi bờ nhau…</div> <p></p>
<p></p>
<p></p>
<p><br>
“Chào ngài, tướng quân!”</p>
<p>“Fullmeta…”</p>
<p>“Không, không phải Fullmetal!”</p>
<p>“Tôi đã quen với danh xưng đó rồi.”</p>
<p>“Không sửa được dù chỉ một lần sao?”</p>
<p>“Không sao, cũng đâu có gì quan trọng. Dù sao thì tôi cũng đâu có cơ hội gọi cậu nhiều lần nữa.”</p>
<p>“Vậy sao?... Phải rồi nhỉ…”</p>
<p></p>
<p></p>
<p><br>
Cậu mỉm cười. Vẫn là nụ cười buồn bã ấy, không phải trong màn tối dần của buổi chiều trên bờ biển, nên sự buồn bã ấy trái ngược hoàn toàn với màn nắng vàng rực chói loà giữa trưa, và khiến mọi thứ ngưng đọng lại, kể cả nhịp thở của anh. </p>
<p></p>
<p></p>
<p>Cậu đưa tay gạt một sợi tóc vướng trên mi mắt, và nhìn thẳng vào mắt anh. Đôi mắt đen lảng tránh ánh nhìn của cậu. Vô thức bật cười khẽ. Cậu đã lại hy vọng viển vông để rồi chuốc lấy sự tổn thương cho chính mình. </p>
<p></p>
<p></p>
<p>Giật mình trước tiếng cười của cậu, anh nhìn qua và thấy cậu vẫn nhìn mình chăm chú. Một thoáng tiếc nuối lướt qua trong mắt, anh cất giọng , ngạc nhiên về sự lạnh lùng có thể có được khi lồng ngực anh đang đập những hồi dồn dập như muốn dồn hết máu lên đôi môi đang mấp máy.</p>
<p></p>
<p></p>
<p>“Vậy là cậu đã lại giải quyết ổn thoả chuyện ở đây. Tôi lại một lần nữa mang ơn cậu rồi.”</p>
<p>“Phải, và giờ thì đâu thể thăng cấp cho tôi, đúng không thưa tướng quân?”</p>
<p></p>
<p></p>
<p></p>
<p>Cưòi giòn tan. Lạc lõng trong trưa nắng chói chang.</p>
<p></p>
<p></p>
<p></p>
<p>“Quân đội có thể tuyên dương và thưởng cho cậu như một lời cảm ơn…”</p>
<p>“Anh hiểu là tôi không cần đến chúng. Anh đến đây làm gì, tướng quân?”</p>
<p>“Còn gì hơn ngoài việc giải quyết những tên phiền phức ấy chứ? Chúng sẽ bị trừng phạt đích đáng vì dám gây chuyện tại nơi tôi phụ trách…”</p>
<p>“Vậy còn trung uý, à không, thiếu tá Hawkeye, cô ấy có đi cùng anh chứ?”</p>
<p>“Không, cô ấy ở Bộ tư lệnh thay tôi giải quyết công việc.”</p>
<p>“Vậy sao?...”</p>
<p></p>
<p><br>
Im lặng. Rất lâu. Rồi anh nghe cậu thở khẽ ra.</p>
<p></p>
<p></p>
<p><br>
“Được rồi, Tướng quân, hãy giải những tên đó về Bộ, và cho phép tàu rời ga. Trưởng ga vừa nói họ vẫn đang chờ sự cho phép của quân đội…”</p>
<p>“Cậu sẽ đi chuyến tàu này ư?”</p>
<p>“Vâng. Thật tình cờ để chúng ta gặp lại nhau, đúng không? Phải cảm ơn những tên khốn kiếp đó mới được.”</p>
<p>“Và cậu sẽ không bao giờ trở lại nơi này, cho dù có chuyện gì xảy ra đi chăng nữa?”</p>
<p>Sững lại một chút, rồi cậu nhoẻn cười.</p>
<p>“Sao anh lại nghĩ vậy?”</p>
<p>“……”</p>
<p>“Được rồi, dù sao thì việc đó cũng không ảnh hưởng gì đến quân đội, đúng không?”</p>
<p>“Phải.”</p>
<p></p>
<p><br>
Câu nói buột thốt ra không qua sự cố ý của anh. Cậu mở lớn đôi mắt vàng rực, rồi lại cười.</p>
<p></p>
<p><br>
“Thẳng thắn quá. Đến mức tôi biết rằng anh ghét tôi hơn cái mức tôi đã nghĩ rất nhiều…”</p>
<p>“……”</p>
<p>“Dù sao thì, lần trước tôi vẫn chưa nói lời tạm biệt. Vậy thì xin nhận lời cảm ơn và tạm biệt của kẻ đáng ghét này. Và cứ yên tâm là sau khi tôi nhận ra điều ấy thì việc ngài nói sẽ thành sự thật.”</p>
<p>“Ý tôi không phải như thế.”</p>
<p>“Không giống ngài chút nào. Khỏi khách sao với tôi, tướng quân!”</p>
<p>“Cậu sẽ đi đâu, Fullmetal?”</p>
<p>“Tôi sẽ về Resembool, và có thể sẽ kiếm cho mình một nơi để ổn định. Anh hãy giữ sức khoẻ nhé, tôi dù thế nào cũng sẽ chờ xem đất nước anh sẽ xây dựng.”</p>
<p>“Tất nhiên. Cậu cũng vậy nhé!” </p>
<p></p>
<p></p>
<p></p>
<p><br>
Anh một lần nữa đưa tay ra, chỉ khác là lần này không phải chỉ do khách sáo. Bức tường xây lên từ rất lâu đã nứt vỡ, nên anh không thể ngăn mình níu lấy cái ước muốn có thể giữ được hơi ấm ấy, một lần nữa; như lần cậu siết chặt tay anh.</p>
<p></p>
<p></p>
<p>Cậu cười buồn nhìn bàn tay trước mặt. Vẫn rất lịch sự, con người ấy làm cậu như điên lên với sự dày vò trong tâm tưởng chính mình. Cậu không nắm lấy bàn tay ấy, vì cậu sợ sẽ tan chảy trong cái ấm nóng của thân nhiệt nơi anh, cậu sợ chút quyết tâm dựng nên trong mình sẽ mất đi cùng với niềm khao khát đang dâng trào trong lòng.</p>
<p></p>
<p></p>
<p></p>
<p>“Tạm biệt, tướng quân. Tôi nghĩ đã đến lúc phải đi. Cho tôi gửi lời thăm mọi người trong Bộ tư lệnh.”</p>
<p>Cậu lùi lại và cúi đầu chào. Cánh tay anh buông thõng trong khoảng không ơ hờ. Đưa tay tới, không níu kịp lọn tóc vàng bay nhè nhẹ phía sau cậu. Nắm chặt. Lạnh băng.</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p>-</p>
<p></p>
<p><br>
Anh nhìn theo làn hơi nước bốc lên phía xa, bàn chân tê cứng trên sân ga nhốn nháo người. Câu nói chiều nào được cơn gió thu nhặt lại trên mênh mông những đám mây lửng lơ hôm ấy, đưa vào tai anh. Vị biển mặn dâng lên trong cổ họng, và một chút gì đó cay xè.</p>
<p></p>
<p>Đoàn tàu đỏ thẫm mất hút trong bầu trời xanh nhạt và ánh nắng chói chang, chỉ còn là một chấm nhỏ. Chiếc cờ hiệu ở toa cuối tung bay, mềm mại như vạt áo ai ngày trước.</p>
<p></p>
<p></p>
<p>Dư âm từ một chút xáo động vương vấn. Anh vẫn không thể chạy theo tiếc nuối ấy như điều mình muốn, cũng không thể nhìn mãi theo chấm đỏ đã mất hẳn nơi chân trời. Giống như con dã tràng mãi mãi xây lên những bức tường bằng cát để rồi bị biển cuốn trôi, anh cố gắng phủ nhận và che giấu cảm xúc của mình, để rồi tất cả trở nên vô dụng khi anh nhìn cậu, và nhìn vào chúng. Cơn sóng nào có thể cuốn đi được nỗi đau này đây?</p>
<p></p>
<p></p>
<p>Ngọn gió lạc lõng giữa trưa ve vuốt gương mặt anh và cả đôi môi cắn chặt. Anh thở dài, rồi quay lưng trở về phía đông đúc người. Chiếc đồng hồ bạc cộm lên trước ngực. Anh lấy nó ra và vô thức miết nhẹ lên dòng chữ khắc mờ ấy. Một lớp bạc rơi ra bên dưới những con chữ cũ mờ.</p>
<p></p>
<p></p>
<p></p>
<div style="TEXT-ALIGN: center">“Don’t Forget</div> <div style="TEXT-ALIGN: right">
<br>
How much I loved you. ”</div> <div style="TEXT-ALIGN: right"></div> <p></p>
<p></p>
<p></p>
<p>Sân ga trước mặt anh bỗng lặng như tờ. Mọi vật chao đảo. Một cơn đau nhói lên ở lồng ngực. Rồi anh nhìn về phía đoàn tàu đã khuất, và mím nhẹ môi. </p>
<p></p>
<p></p>
<p></p>
<p></p>
<p><br>
---</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p>Cậu nhìn ra phía ngoài cửa sổ. Biển vẫn ngăn ngắt một màu xanh như mọi ngày. Gió lồng lồng luồn vào cửa sổ toa tàu và mang đậm mùi mặn chát của muối. Bất chợt môi cậu cũng lờ lợ một thứ vị không tên. Mắt khô rát và lạnh vì gió thốc vào. </p>
<p></p>
<p></p>
<p><br>
Con tàu vẫn cứ một tốc độ tiến mãi xa nơi ấy. Nơi cậu biết con người cứng rắn đằng sau cũng vẫn sẽ bước đi bình thản và mạnh mẽ. Cậu không biết rằng, nơi ấy cũng có nắng và gió, nơi ấy cũng có hồi ức về biển.</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p>Và nơi ấy cũng có một tình yêu mãi mãi không thành lời.</p>
<p></p>
<p></p>
<p></p>
<p></p>
<div style="TEXT-ALIGN: right"></div> <div style="TEXT-ALIGN: right"></div> <div style="TEXT-ALIGN: right">Thì dã tràng ơi <br>
Sao không ném đi những hòn cát vữa <br>
Để được một lần <br>
Đối diện với biển khơi. <br>
Cứ mải miết giả vờ xe cát <br>
Hòn vỡ hòn lành <br>
Biển lại cợt đùa tung sóng cuốn ra khơi.</div> <p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p><br>
---</p>
<p><br>
-end.</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>