<div style="text-align:center;">
<strong><span style="BACKGROUND: #000000">S</span></strong><strong><span style="BACKGROUND: #000000">TIGMA</span></strong>
</div> <div style="text-align:center;">By Lishrayder</div> <div style="text-align:center;">
<br>
</div> <p><br>
</p>
<p><br>
</p>
<p><strong>Fandom</strong>: Fullmetal Alchemist</p>
<p><strong>Category</strong>: Yaoi - A little Dark.</p>
<p><strong>Pairing</strong>: LingxEdward</p>
<p><strong>Rating</strong>: M.</p>
<p><strong>Disclaimer</strong>: Lại nữa. Mấy tên Homoculus này không phải của tôi. Edward-Elric-xinh-đẹp cũng không nốt.</p>
<p><strong>A/N</strong>: Đã quyết định viết cho xong cái này, vì tự nhiên nổi hứng lại với LingEd. Một phấn vì bạn Woo nói thích nó nè. Mong bạn Woo vẫn thích nó với cái end này. Hi vọng mọi người ủng hộ tớ như mọi khi nghe, dù pair này có hơi... ^^"</p>
<p><strong>Summary</strong>: </p>
<p><br>
</p>
<p>Tóc<strong> </strong><strong>vàng</strong><strong> </strong>và<strong> </strong>ám ảnh<strong> </strong><strong><span style="BACKGROUND: #000000">bóng đêm.</span></strong><strong> </strong></p>
<div style="text-align:center;">
<br>
</div> <div style="text-align:center;">
<br>
</div> <div style="text-align:center;">
<br>
</div> <p><br>
</p>
<p><br>
</p>
<div style="text-align:center;">~*~</div> <p><br>
</p>
<p style="MARGIN-LEFT: 5.08cm"><em>"Ngươi có tham lam không?"</em></p>
<p style="MARGIN-LEFT: 5.08cm"><br>
</p>
<p style="MARGIN-LEFT: 5.08cm"><em>"Có thừa."</em></p>
<p style="MARGIN-LEFT: 5.08cm"><br>
</p>
<p style="MARGIN-LEFT: 5.08cm"><em>"Vậy... thỏa thuận chứ?"</em></p>
<p style="MARGIN-LEFT: 5.08cm"><br>
</p>
<p style="MARGIN-LEFT: 5.08cm"><em>*cười*</em></p>
<p><br>
</p>
<div style="text-align:center;">~*~</div> <p><br>
</p>
<p align="justify">Nó cứ chạy hoài. Nó ghét cái chỗ đó. Ghét lắm. Nước mắt nó nhem nhuốc trên mặt, máu và mồ hôi cùng quện lại, đắng chằng trong miệng nó. Nó không được khóc. Không được. Khóc có nghĩa là nó chấp nhận nó vô dụng. Khóc đồng nghĩa thừa nhận bản thân không hơn không kém thứ yếu mềm. Nó phải mạnh mẽ. Nó phải giành giật lấy những thứ nó xứng đáng phải có. Bằng bất cứ giá nào. Mẹ nó đã dạy nó như thế.</p>
<p align="justify"><br>
</p>
<p align="justify">Nhưng mà...</p>
<p align="justify"><br>
</p>
<p align="justify">Chân nó vấp phải một cái rễ cây, nó lộn nhào xuống hồ nước. Nước lạnh cứ thế tràn vào miệng, vào mũi, làm nó nghẹt thở. </p>
<p align="justify"><br>
</p>
<p align="justify">Nó không khóc nữa. Không khóc nữa. Mẹ nó sẽ thất vọng lắm. Mẹ nó sẽ buồn lắm.</p>
<p align="justify"><br>
</p>
<p align="justify">"Mẫu hậu... mẹ... mẹ ơi..."</p>
<p align="justify"><br>
</p>
<p align="justify">Viên nghẹn đắng ấy cứ vướng ở cổ, khiến từng tiếng nó cố gằn vụn ra trong một âm vực khác lạ, giống như tiếng chó con kêu oăng oẳng khi đói. Nó vuốt mắt liên tục, cứ như thể nếu còn thêm giọt nước mắt nào đọng trên mi, tức là sẽ khơi mào cho hàng mớ mớ những giọt nữa ào ra. </p>
<p align="justify"><br>
</p>
<p align="justify"><em>*Nhất định... con phải trở thành Quốc Vương. Vì con xứng đáng hơn tất cả bọn chúng*</em></p>
<p align="justify"><br>
</p>
<p align="justify">"Mẹ ơi... mẹ ơi..."</p>
<p align="justify"><br>
</p>
<p align="justify"><em>*Ling của mẹ. Quốc Vương của mẹ. Sống vì mẹ nhé con.*</em></p>
<p align="justify"><br>
</p>
<p align="justify">Nó không ngừng được. Nó căm ghét mình. Nó căm ghét cái thứ đang nức nở trong nó. Nhưng mà...</p>
<p align="justify"><br>
</p>
<p align="justify"><em>*Đừng bao giờ để chúng thấy con đau đớn. Đừng bao giờ.*</em></p>
<p align="justify"><br>
</p>
<p align="justify">Nó tự đấm vào mặt mình. Tự cấu mình. Cắn tay mình. Nó đánh đuổi thằng nhóc hèn nhát trong người nó. Thằng nhóc đó không thể tồn tại thêm một phút nào nữa. Kể từ bây giờ. </p>
<p align="justify"><br>
</p>
<p align="justify"><em>*Ta... không thể chở che cho con nữa rồi.*</em></p>
<p align="justify"><br>
</p>
<p align="justify">Nó nằm vật ra. Cổ họng rát buốt. Vẫn nấc lên từng hồi. Nhưng đã có gì bôi đen nó. Mắt nó hằn lại, nó thấy răng mình nghiến chặt, đến làm hai mép chảy máu. </p>
<p align="justify"><br>
</p>
<p align="justify">Chính bọn chúng... chính bọn chúng...</p>
<p align="justify"><br>
</p>
<p align="justify"><br>
</p>
<p align="justify"><br>
</p>
<p align="justify"><em>"Bà nên chết trước đi. Sẽ ra sao nếu Phụ Thân ta biết Ái Phi của ngài dám dan díu với Hoàng Thái Tử hả?" Gã cười khùng khục, khoác lên tấm áo bào lấp lánh kim sa, ném cho người phụ nữ cái nhìn đáng tởm hơn cầm thú.</em></p>
<p align="justify"><br>
</p>
<p align="justify"><em>"... súc sinh..." Đôi môi tím tái của bà mấp máy, nỗi căm hận trào lên, cấu xé.</em></p>
<p align="justify"><br>
</p>
<p align="justify"><em>"Ha... sao cũng được. Ta chỉ khuyên bà vậy thôi. Cám ơn về một đêm đáng nhớ." Không thèm quay đầu lại, gã bỏ đi ra.</em></p>
<p align="justify"><br>
</p>
<p align="justify"><em>Rất nhanh. Trong một khoảng khắc, cái cười tục tĩu đó là thứ duy nhất gã còn níu kéo được. Lưỡi dao đâm ngọt trên lưng gã, lún sâu tận cán. Máu hộc ra từ mồm và mũi, nhuốm bẩn thứ xiêm lụa hào nhoáng gã vận trên người. Gã đổ phịch xuống, co giật yếu ớt rồi im lìm thành đống thịt chết đang bốc mùi đáng tởm. </em></p>
<p align="justify"><br>
</p>
<p align="justify"><em>Người phụ nữ thở mạnh, con dao rớt khỏi tay bà, vương máu xuống nền thảm nhung đỏ, trông không khác gì nhau. Bà khuỵu xuống, tay vẫn run không kiểm soát, gương mặt trắng toát hơn cả những pho tượng ngọc cẩn đặt trên bàn. Ngay sau phút kinh hoàng ấy, bà tỉnh táo hiễu rõ thứ tai họa đã ập xuống mình. Bà loạng choạng đứng dậy, đến bên tủ quần áo. Bà lôi đứa trẻ đang hoảng loạn trong đó ra, ôm chặt nó vào lòng.</em></p>
<p align="justify"><br>
</p>
<p align="justify"><em>"Ling… Con của ta... nghe lời ta.. đi khỏi cung ngay... cứ làm như không biết gì... dù có chuyện gì xảy ra... dù ai có hỏi gì... con cứ nói là không biết..." Giọng bà đứt quãng, tay bà vuốt mãi mái tóc đen của đứa trẻ, vừa như muốn xoa dịu nó, vừa như đang xoa dịu mình. Đứa con bé bỏng của bà... </em></p>
<p align="justify"><br>
</p>
<p align="justify"><em>"Đi ngay đi. Ta… yêu con nhiều lắm." Gạt nước mắt, bà đẩy đứa trẻ ra. Nó cứ tần ngần, hết nhìn mẹ mình đến nhìn người anh lớn, giờ chỉ còn là một xác chết. </em></p>
<p align="justify"><br>
</p>
<p align="justify"><em>"ĐI ĐI!!!" Mẹ nó hét lên, và nó cắm đầu chạy. </em></p>
<p align="justify"><br>
</p>
<p align="justify"><em>Nó chạy. Nhưng nó có thể nghe tiếng tiếng cửa sập lại. Nó có thể nghe tiếng rên khẽ của mẹ nó, tiếng con dao lần nữa đâm xuống một da thịt. Và nó nghe tiếng đổ gục trên nền đất. Trong một phút chốc, nó đã đứng lại. Trong một phút chốc, nó muốn chạy ngược về. Nước mắt đã trào từ lúc nào nó không biết. Miệng nó ú ớ những âm thanh vô nghĩa. Nhưng rồi, nó lại quay mặt và chạy xa ra hậu viên.</em></p>
<p align="justify"><br>
</p>
<p align="justify"><br>
</p>
<p align="justify">Nó gào lên. Đến bục gan bể phổi. Lần đầu tiên trong đời, nó cảm nhận mọi thứ xung quanh rõ ràng đến thế. Từng giọt máu trong người nó như gai lên nỗi căm phẫn tột độ, châm chích vào da thịt. Não nó căng ra, nhức buốt. Nhưng nó tỉnh táo lắm. Tỉnh táo lắm. </p>
<p align="justify"><br>
</p>
<p align="justify">Nó chết rồi. Ngày hôm nay. Nó đã chết theo mẹ nó. Đứa con trai yếu đuối luôn khóc lóc chạy về với mẹ, đứa con trai nhút nhát nhất trong Hoàng Tộc. Nó chết rồi.</p>
<p align="justify"><br>
</p>
<p align="justify">Miệng nó chợt nở thành một nụ cười. Nước mắt từ lúc nào đã ngừng chảy, thay vào là nỗi căm hận sâu tận . </p>
<p align="justify"><br>
</p>
<p align="justify">Từ lúc này. Nó chỉ sẽ cười. Cười cợt nhã tất cả. Và khinh bỉ tất cả.</p>
<p align="justify"><br>
</p>
<p align="justify">Chỉ sẽ cười. </p>
<p align="justify"><br>
</p>
<p align="justify">Vì đã mất rồi người mà nó có thể khóc cho.</p>
<p align="justify"><br>
</p>
<div style="text-align:center;">~*~</div> <p><br>
</p>
<p align="justify">Gã đứng trên nóc của một căn nhà đã mòn vẹt đi một nửa, một phần vì bom đạn, một phần vì bụi cát sa mạc lồng lộng nơi này. Hơi ngúc ngắc cổ, gã chợt nghĩ, đây là lần thứ 2 trong đời, gã tái sinh. Lần nào cũng vậy, cứ xong là gã cảm thấy thật đủ đầy. Nhiều lúc gã nhận thức rõ bên trong mình luôn đói khát một bóng tối vô hữu hình. Và gã cười. Bởi cảm giác no đủ lúc nào cũng dễ chịu.</p>
<p align="justify"><br>
</p>
<p align="justify"><em>*Mi là thứ con người nào vậy?*</em></p>
<p align="justify"><br>
</p>
<p align="justify">Nhổ bãi nước bọt xuống đất, gã thấy lưỡi cứ khan khan. Không khí ở đất nước này làm gã khó ở. Thứ không khí đặc quyện mùi đen tối, quyền lực và tội ác. Cảm giác khó chịu đó là một cơn nghiện.</p>
<p align="justify"><br>
</p>
<p align="justify">Phì một nỗi khinh khi nhẹ nhàng nào đó qua mũi, gã nhún vai bước xuống, đi theo tên đồng loại mới, hình như tên hắn là Envy. Hắn có một điệu bộ khiến gã khó chịu không thể tả, vẻ nhả nhớt cứ tuôn ra qua từng ánh mắt, lời nói, đến cách hắn bước đi. Khó khăn lắm gã mới kiềm lại được cái chun mũi. </p>
<p align="justify"><br>
</p>
<p align="justify">Con người... à không, nếu nói là bản tính thì đúng hơn, thứ gã vừa sát nhập vào mình cứ quấy rầy tự nãy giờ. Nó cứ léo nhéo những điều nhức óc, thỉnh thoảng lại réo lên cười, dường như nó thích thú lắm với gã.</p>
<p align="justify"><br>
</p>
<p align="justify"><br>
</p>
<p align="justify"><em>*Mi là kẻ thú vị nhất ta từng gặp... giống như kẻ thích hợp nhất.*</em></p>
<p align="justify"><br>
</p>
<p align="justify">Không tỏ thái độ gì, gã thẳng chân đá mảnh sành vỡ cản đường. Trong gã, nhen nhóm nhiều đòi hỏi mà chính gã cũng không biết tên. Chỉ biết là, sẽ khó chịu lắm nếu gã không thỏa mãn được nhu cầu của mình.</p>
<p><br>
</p>
<div style="text-align:center;">~*~</div> <p><br>
</p>
<p align="justify">Người đàn ông bệ vệ đó mỉm cười nhìn gã, tay lão cầm ly rượu đỏ sền sệt, không khỏi khiến gã liên tưởng đến máu tươi. Lão đưa cho gã một ly giống vậy, rồi nhấp môi ly của mình. Gã cũng làm điều tương tự. Vị của nó thật kinh khủng. Hơi buồn cười, nói ra gã vẫn chưa đủ tuổi uống rượu. </p>
<p align="justify"><br>
</p>
<p align="justify">"Mừng ngươi nhập bọn." Tên Envy nhe răng "Thật may mắn là bây giờ gương mặt ngươi đỡ khó ưa hơn trước một chút."</p>
<p align="justify"><br>
</p>
<p align="justify">"Còn ngươi thì không." Gã nói thật lòng. Tên Homoculus ấy cau mày tỏ vẻ phật ý.</p>
<p align="justify"><br>
</p>
<p align="justify">"Nhưng cách ăn nói vẫn xấc xược nhỉ? Đằng nào ngươi cũng nhỏ tuổi hơn ta đấy."</p>
<p align="justify"><br>
</p>
<p align="justify">Gã cười khẩy một cái, có lẽ <em>nó </em>nói đúng, gã và <em>nó </em>giống nhau. Đức Cha - tức người đàn ông cầm ly rượu, gã nghe bọn chúng gọi lão như thế, ra hiệu cho gã lại gần. Gã đặt ly rượu xuống, tiến về phía cái ghế lằng nhằng những mạch dây. Chúng phập phồng như những mạch máu, với các dung dịch kì lạ chảy bên trong. Nó làm gã thấy mình giống đang đi giữa những xúc tu, leo vô miệng con bạch tuộc. Đôi mắt Đức cha nhìn gã dò xét, khoảnh khắc, gã nhận thấy đôi mắt lão rất giống một người, tuy nó không cháy rực ánh sáng mà lợn cợn xấu xa hơn nhiều.</p>
<p align="justify"><br>
</p>
<p align="justify">"Cảm giác tốt chứ, Greed?"</p>
<p align="justify"><br>
</p>
<p align="justify">À, phải rồi. Gã quên mất, bây giờ gã là Greed. Cũng hơi khó cho gã, gã chưa quen được cái tên quá <em>bộc trực</em> ấy.</p>
<p align="justify"><br>
</p>
<p align="justify">"Vâng, không tệ." Gã nghểnh cổ bẻ rắc, cười rộng miệng. "Xem ra thân thể và linh hồn này rất phù hợp."</p>
<p align="justify"><br>
</p>
<p align="justify">"Ta có thể thấy điều đó." Ánh nhìn lão cháy lên vẻ thâm độc, chợt nhiên gã hơi rùng mình. Cảm giác bằng cái nhìn đó, Đức Cha có thể thấu tận những dối trá trong gã, thấy được bản chất sự việc trong gã, thấy được lão chưa hoàn toàn làm chủ được gã, rằng gã vẫn còn tỉnh táo. Và gã cảm thấy sợ, khi bị dò xét bởi một trí tuệ xa xăm của thứ thế lực siêu hình.</p>
<p align="justify"><br>
</p>
<p align="justify">"Vậy... bây giờ tôi phải làm gì?" Gã nói để trốn chạy cũng như chấm dứt việc mình để Đức cha trấn áp. Lão ngả người ra sau ghế, nét mặt giãn ra, gã thở phào thật nhẹ.</p>
<p align="justify"><br>
</p>
<p align="justify">"Vẫn chưa. Nhiệm vụ của ngươi chưa tới. Cứ thong thả tận hưởng thân xác này một chút. Nhưng nhớ cẩn thận đấy."</p>
<p align="justify"><br>
</p>
<p align="justify">Mặt lão nở ra, bên mép nhếch lên. Giọng lão vừa như nhắc nhở, vừa như đe doạ. Rồi đột nhiên, cơn cuồn cuộn nào đó trào trong gã. Gã khuỵu xuống, gã thấy máu dồn lên não, thấy kinh mạch căng ra, hổn hển như bầy thú đói. </p>
<p align="justify"><br>
</p>
<p align="justify">"Không dễ chịu lắm, phải không?" Con bạch tuộc già nua ấy vẫn chậm rãi nói từng chữ rất bình thản, lão còn nhấp thêm một ngụm rượu. "Lần nào cũng vậy, chuyển thể thật đau đớn. Nhưng để có một thân xác gần như bất diệt, thì phải cắt đứt tất cả những gì thuộc về con người." Rồi lão cười lớn, đúng lúc cơn đau kinh khủng nhất gã từng trải qua hành hạ gã. "Ta cứ tưởng ngươi đã chuẩn bị tinh thần trước rồi chứ, Greed?"</p>
<p align="justify"><br>
</p>
<p align="justify">"Lão nói cứ như dễ lắm." Envy khinh khỉnh đáp "Chuyện đó tồi tệ tới mức ta chả bao giờ muốn phải trải qua nó lần nữa. Đó là lí do ta rất ghét phải đánh nhau. Chỉ nghĩ đến chuyện thân xác này tới cực hạn và cần đổi lốt, là ta đã muốn bệnh." Hắn lè lưỡi tỏ thái độ ngán ngẩm.</p>
<p align="justify"><br>
</p>
<p align="justify">Tai gã lùng bùng. Chết còn dễ chịu hơn như vầy. Gã nôn thốc nôn tháo vì ruột gan như siết lấy nhau, đau quặn. Nhưng gã cảm nhận được, những yếu ớt thể xác đang rời bỏ gã. Từng cơn đau càng lúc càng tồi tệ, kéo theo nó cái hữu hạn của hủy diệt mà gã có thể gặp phải. Gã đang biến chuyển. Để thoát khỏi kiếp người.</p>
<p align="justify"><br>
</p>
<p align="justify">Gã đã là một Homoculus.</p>
<p align="justify"><br>
</p>
<p><br>
</p>
<div style="text-align:center;">~*~</div> <p><br>
</p>
<p><br>
</p>
<p align="justify">Bàn tay gã đen tối, đưa ra hứng dòng sáng vô hình bên ngoài khe. Chỉ là một ánh đèn điện èo uột. Gã đã chờ. Dù có phần vô lí, nhưng gã thiết nghĩ cậu ta sẽ tới, cậu ta dễ dàng tin tưởng những thứ như thế này lắm. Mà giả cậu không tin, cậu cũng sẽ tới thôi. Ít nhất để giết gã, theo một mệnh lệnh nào đó nếu lời nhắn ấy không được cậu ta giữ bí mật như gã yêu cầu.</p>
<p><br>
</p>
<div style="text-align:center;"><em>"Dark Light Pub. 8h30 PM. Ta muốn gặp ngươi. Đừng cho ai biết."</em></div> <div style="text-align:center;"><em>-Greed-</em></div> <p><br>
</p>
<p><br>
</p>
<p align="justify">Tên bartender phì phèo điếu thuốc rẻ tiền, nhả khói điệu đàng rồi ném cho gã ly thức uống. Đó là một ly sữa tươi. Gã có thể thấy ánh nhìn trợn tròn của một ả mặt hoa da phấn, vẫn chăm chú nhìn gã nãy giờ. Nhún vai nhè nhẹ, gã giơ ly sữa sóng sánh lên, nháy mắt trêu ả ta một cái rồi ngon lành uống. </p>
<p align="justify"><br>
</p>
<p align="justify">"Ta biết ngươi đi gặp nó."</p>
<p align="justify"><br>
</p>
<p align="justify">Gã sặc. Bộ mặt xa lạ thì thầm bên tai gã, nhưng cái giọng nhừa nhựa này không lẫn đi được.</p>
<p align="justify"><br>
</p>
<p align="justify">"Envy!" Gã gắt lên, tên quái kia khằng khặc cười và ngồi xuống bên cạnh.</p>
<p align="justify"><br>
</p>
<p align="justify">"Đó không là chuyện ngươi cần bao đồng, nhỉ?" Cau mày khó chịu, gã bực bội ra mặt. Envy trong bộ dạng giả trang giơ tay từ chối khi lão bartender có ý định hỏi đến hắn.</p>
<p align="justify"><br>
</p>
<p align="justify">"Có chứ." Vẫn đeo bộ mặt cười, tên homoculus tiếp "Nó là nguồn nguyên liệu quý hiếm, nếu có gì với nó thì Đức Cha sẽ không hài lòng đâu." </p>
<p align="justify"><br>
</p>
<p align="justify">"Ta không cần ngươi dạy khôn. Ít ra ta chỉ muốn chào hỏi..."</p>
<p align="justify"><br>
</p>
<p align="justify">"Với tư cách gì? Như bạn bè cũ? Như kẻ thù sắp đến?"</p>
<p align="justify"><br>
</p>
<p align="justify">"Có thể. Thì đã sao?" Càng lúc gã càng thấy mình khó kiềm chế việc đấm cho hắn một quả vào mũi.</p>
<p align="justify"><br>
</p>
<p align="justify">"Hay là ngươi muốn chiếm đoạt nó?"</p>
<p align="justify"><br>
</p>
<p align="justify">Gã khựng, lại sặc nữa khi vừa đưa ly sữa lên uống. Tên Homoculus cười nham nhở, đưa tay vuốt lưng gã kiểu người ta vuốt cho con nít bị nghẹn.</p>
<p align="justify"><br>
</p>
<p align="justify">"Đừng lo! Đừng lo! Ta sẽ không mách cho ai biết đâu. Chí ít, ta cũng hiểu."</p>
<p align="justify"><br>
</p>
<p align="justify">"...!?"</p>
<p align="justify"><br>
</p>
<p align="justify">"À, thì là ta cũng từng nghĩ đến chuyện cưỡng bức nó đôi lần..."</p>
<p align="justify"><br>
</p>
<p align="justify">Lần này đến lượt gã trợn tròn mắt. Không hiểu vì lớp giả trang hay vì thái độ tỉnh lụi của hắn khi nói ra những điều đó, làm gã thấy con người đang cười trước mặt mình kì lạ hết sức.</p>
<p align="justify"><br>
</p>
<p align="justify">"Cái mặt ngươi ngó kì cục quá, Greed à. Ta có bao giờ nói cho ngươi biết là bộ mặt thằng nhóc mắt hí này mỗi lần đực ra là trông ngu lắm hay không?"</p>
<p align="justify"><br>
</p>
<p align="justify">"Hả?...à... ừm..." Không biết nói gì hơn, gã lại tiếp tục chú tâm vô ly đồ uống của mình. Lần đầu tiên suốt từ mấy ngày qua, ý nghĩ quái đản về chuyện kết tâm giao với tên biến thái này bắt đầu nhởn nhơ trong đầu gã, chuyện mà gã biết sẽ làm cái bản tính bên trong còn lại nổi khùng lên.</p>
<p align="justify"><br>
</p>
<p align="justify">"Dù sao ông già cũng bảo ta nên vui vẻ..." Cười cười, gã còn không thèm đính chính cái chuyện khùng điên mà tên Envy vừa gắn cho gã.</p>
<p align="justify"><br>
</p>
<p align="justify">"Ờ... coi như mừng ngày đổi lốt." Mắt hắn mơ màng, tay vân vê mái tóc vàng xoăn xoăn, trong một lúc, cái ánh tím đó lộ khỏi vẻ giả dạng hoàn hảo của tên Homoculus. "Tiếc thật, không ngờ ta lại nhường ngươi món đồ chơi ngon lành tới vậy."</p>
<p align="justify"><br>
</p>
<p align="justify">Một lúc im lặng. Envy có vẻ đuổi theo suy tưởng nào đó, còn gã thì đơ ra, cố nhớ lại xem rốt cuộc mình định hẹn cậu ta ra làm gì. Cuối cùng, tên ấy đứng dậy, chào tạm biệt gã rồi đi mất. Gã nhìn theo mà trong đầu chỉ hiện lên mỗi cái mặt hắn lúc nói ra cái ý tưởng bệnh hoạn ấy. </p>
<p align="justify"><br>
</p>
<p align="justify">Hơn 1 tiếng đồng hồ. Gã gọi thêm một phần nước nữa, lần này là rượu, trong lúc tiếp tục chờ. </p>
<p align="justify"><br>
</p>
<p align="justify">Vậy là cậu ta đã trễ rồi.</p>
<p><br>
</p>
<div style="text-align:center;">
<br>
</div> <div style="text-align:center;">~*~</div> <p><br>
</p>
<p align="justify">Chuông đổ khi cậu ta bước vào, nên hắn nhớ rõ lúc ấy đã 11h30. Cậu vận một chiếc sơ mi đen không thường trực, tóc thì xõa xuống vai cùng cái áo măng tô lạ lùng, không phải bộ đồ đỏ nổi bật thường ngày. Ling nhếch mép, Edward ngồi xuống bên cạnh gã, miệng thổi ra từng luồng hơi trăng trắng, bằng chứng cho cái lạnh buốt giá cuối thu ngoài trời đêm. Thật nhanh và thoáng qua, gã nghĩ cậu ta xinh xắn đến khó ngờ.</p>
<p align="justify"><br>
</p>
<p align="justify">"Cậu dùng gì?" Lão bồi bàn bước đến cùng vẻ nhàn nhã luôn luôn, tay lau lau cái cốc, điếu thuốc vẫn phì phèo trên miệng. Nhưng gã có thể nhận ra hắn cũng hơi để tia mắt mình chú tâm đến cậu trai xinh-hơn-bình-thường-một-cách-bất-ngờ ngồi cạnh gã.</p>
<p align="justify"><br>
</p>
<p align="justify">"Cà phê nóng. Tôi sắp đóng băng đây." Edward kéo mũ áo xuống, nói nhanh bằng giọng run run. Gã giật mình, phát hiện mình vừa liếm môi một cách không an toàn. </p>
<p align="justify"><br>
</p>
<p align="justify">"Một trà nóng. Tôi thì cần giải rượu." </p>
<p align="justify"><br>
</p>
<p align="justify">Lão bồi gật gà, quay lưng vào quầy làm nước. Gã nhìn cậu. Mái tóc xõa ấy che mất gương mặt, gã chỉ thấy sóng mũi cao cao cùng bờ môi có vẻ thô ráp và tái nhợt vì lạnh. Không hay rồi. Gã có tham vọng muốn ngậm lấy nó, và chắc chắn gã phải làm điều đó. Nhưng không phải bây giờ, càng không phải ở đây.</p>
<p align="justify"><br>
</p>
<p align="justify">"Vậy là..."</p>
<p align="justify"><br>
</p>
<p align="justify">"Bây giờ tôi đang tiếp chuyện với ai?" Gã vừa mở miệng liền bị cậu cắt lời "Nếu có thể, tôi yêu cầu được nói chuyện với Ling, hoàng tử nước Xing." </p>
<p align="justify"><br>
</p>
<p align="justify">"Sao lại nhất thiết là Ling? Bây giờ chỉ có ta thôi." Gã cười khẩy, thật thú vị. Cậu ta muốn nói chuyện với gã cơ đấy.</p>
<p align="justify"><br>
</p>
<p align="justify">"Vậy cậu là ai?" Edward quay sang, nhìn thẳng vào gã lần đầu tiên. Ánh mắt cậu dò xét chi li, cẩn trọng đến từng chút.</p>
<p align="justify"><br>
</p>
<p align="justify">"Có quan trọng không? Dù gì cậu cũng đã đến để gặp ta. Dù trễ 3 tiếng, nhưng đã đến. Ta đánh giá cao điều ấy." Giọng gã đưa đẩy thật lạ, chưa bao giờ gã nói chuyện kiểu này, tay gã muốn chạm vào tóc cậu ta, nhưng may gã vẫn đủ bình tĩnh để không làm chuyện đó. Nếu cậu ta bỏ đi thì không hay ho gì. Tình huống đó ép gã dùng đến vũ lực. Gã thì không thích thế.</p>
<p align="justify"><br>
</p>
<p align="justify">Tách cà phê nóng được bưng ra. Nụ cười nhếch mép vẫn treo đầu môi, gã phẩy tay:</p>
<p align="justify"><br>
</p>
<p align="justify">"Mời cậu. Cà phê nóng."</p>
<p align="justify"><br>
</p>
<p align="justify">Dè dặt, Ed rời mắt khỏi con người xa lạ ấy, đón lấy ly thức uống. Càng lúc càng khó khăn cho gã kiềm tiếng đen tối khoái trá. Cậu ta luôn như thế sao? Tin tưởng tuyệt đối vào mặt tốt của một con người, không mảy may lo sợ đến bóng tối trong họ? Hay vì cậu ta chưa phải thật sự đối đầu với bóng tối? </p>
<p align="justify"><br>
</p>
<p align="justify">Gã có cần đem nó đến cho cậu ta không nhỉ?</p>
<p align="justify"><br>
</p>
<p align="justify"><br>
</p>
<p align="justify">"Cậu vẫn giữ bí mật cuộc gặp mặt này chứ?" tên homoculus - vừa được hoài thai - hỏi.</p>
<p align="justify"><br>
</p>
<p align="justify">"Ít nhất để làm chuyện đó, tôi đã đến trễ 3 tiếng." </p>
<p align="justify"><br>
</p>
<p align="justify">"Rất tốt." Gã gật gù, nhẹ nhàng vuốt tóc.</p>
<p align="justify"><br>
</p>
<p align="justify">"Rốt cuộc muốn gặp tôi làm gì?" </p>
<p align="justify"><br>
</p>
<p align="justify">"Tối nay trông cậu rất tuyệt."</p>
<p align="justify"><br>
</p>
<p align="justify">Sặc. Lần này là cậu ta. Gã bật ra tiếng cười thích thú. </p>
<p align="justify"><br>
</p>
<p align="justify">"Xin lỗi, ta không cố tình. Nhưng đó là sự thật."</p>
<p align="justify"><br>
</p>
<p align="justify">Rồi gã đặt một tay lên gương mặt tròn trĩnh đó, véo nhẹ. Edward lập tức nảy ra, đập bốp vào tay gã.</p>
<p align="justify"><br>
</p>
<p align="justify">"Cậu điên à?" Đôi mắt vàng chau lại, giận dữ thật sự "Nếu thật sự cậu... à không, ngươi, là Greed, ta cảnh cáo vì ta không nương tay đâu, ngay cả ngươi đang trong hình dạng của Ling."</p>
<p align="justify"><br>
</p>
<p align="justify">"Thế cậu muốn làm gì? Giết ta à?" Gã nhún vai "Cứ tự nhiên. Ta rất sẵn lòng. Đừng ngại. Để tới giới hạn thì ta còn phải chết nhiều lần lắm." Nói rồi gã ngạo nghễ giang tay mời chào cậu.</p>
<p align="justify"><br>
</p>
<p align="justify">"Nói trắng ra, được một cậu-xinh-xắn như vầy giết thì không phí đâu."</p>
<p align="justify"><br>
</p>
<p align="justify"><strong>BỐP!</strong></p>
<p align="justify"><br>
</p>
<p align="justify">Hình như một bên má trái của gã đã bị dập nát, gã nếm được mùi máu sộc ra từ chân răng bị gãy. Lão bồi bàn nhướn mày nhìn chuyện vừa diễn ra, nhưng vẫn bình thản coi như không, lão quen quá rồi chăng?</p>
<p align="justify"><br>
</p>
<p align="justify">Edward xiết chặt nắm tay automail. Cậu hi vọng gì? Gặp lại Ling? Thật ngây thơ. Dù có biết cậu ấy chưa hoàn toàn biến mất trong Greed, nhưng việc quái gì cậu chắc chắn rằng tối nay cậu sẽ gặp và mang Ling trở về được. Dù cậu có hứa với Ranfan không để Ling biến mất, nhưng cậu đâu thể làm điều đó một sớm một chiều. Xuẩn ngốc.</p>
<p align="justify"><br>
</p>
<p align="justify">"Ta sẽ không xin lỗi. Dẫu rằng có thể Ranfan sẽ giết nếu biết ta đã làm bị thương thái tử Xing Quốc, nhưng ngươi đáng bị cái đấm đó, Greed."</p>
<p align="justify"><br>
</p>
<p align="justify">Nhanh chóng rút tay lại, Edward đứng dậy, đặt tờ bạc xuống bàn, và quay lưng bước đi. </p>
<p align="justify"><br>
</p>
<p align="justify">Không. Cậu không thể mang con người đó trở về. Ít nhất là lúc này. Đó không phải là Ling. Ling mà cậu biết, sẽ không bao giờ yêu cầu kẻ khác giết mình. Cậu ta không phải loại người như <em>bọn chúng</em>, không phải thứ quái vật có thể đùa bỡn trên sinh mạng của mình lẫn người khác. Cửa mở ra và sập vào, cậu cắn môi, cái lạnh bên ngoài lại dội vào cậu buốt giá. Một lần nữa trong đời, cậu chán ghét hơn bao giờ hết việc buông tay khỏi một người nào đó, dù chỉ là tạm thời.</p>
<p align="justify"><br>
</p>
<p align="justify">Toan bước về trong khi tâm trạng không tốt đẹp chút nào, nhưng không hay cho cậu, tối nay cậu sẽ không về nhà. Kế hoạch của gã đã được xếp đặt trước, tham vọng của gã cấp thiết được thỏa mãn. Không thể vì một quả đấm hay cơn giận dữ của con mồi, mà gã thay đổi kế hoạch của mình. </p>
<p align="justify"><br>
</p>
<p align="justify">Bàn tay gã lôi cậu vào một góc tường nhỏ tối tăm, gã nắm chặt vì không muốn cậu vùng chạy. Cậu rất mạnh, gã dư biết. Nhịp thở cậu tăng nhanh, một phần vì bị tấn công bất ngờ, một phần vì cái lạnh ngột ngạt của không gian. Môi cậu run run, có lẽ vì nhiệt độ lẫn cơn giận.</p>
<p align="justify"><br>
</p>
<p align="justify">"Đồ khốn! Đừng bắt ta phải đánh nhau với ngươi lúc này!"</p>
<p align="justify"><br>
</p>
<p align="justify">"Tùy cậu thôi. Nếu cậu khao khát ta tới thế."</p>
<p align="justify"><br>
</p>
<p align="justify">Nhoẻn miệng thích chí, gã kề môi vào bầu má, hôn. Đúng như gã nghĩ ngay lúc đầu, da thịt cậu mềm, ngon lành mùi sự sống. Cơn đói trong gã bùng lên, gã ngậm lấy môi cậu ta, thỏa thê cảm nhận. Edward gồng tay cố đầy gã ra, cả người ngập cảm giác bị nhục mạ tệ hại. Song vẫn như những lần đối đầu trước, cậu luôn nhận ra mình không thể chống chọi với một Homoculus trong những tình huống trực diện. </p>
<p align="justify"><br>
</p>
<p align="justify">Lưỡi gã còn muốn sục sạo nhiều hơn, nhưng gã sẽ để dành bữa ngon vào phút cuối, bây giờ vẫn chỉ là màn chào đầu. Cậu được buông tha tạm thời. </p>
<p align="justify"><br>
</p>
<p align="justify">"Cậu bảo Ranfan thế nào, Edward? Đau buồn ư? Không đâu. Cô ta sẽ phải vui chứ, khi biết Quốc vương tương lai giờ đây đã là kẻ mạnh nhất. Hoàn toàn là mạnh nhất." Ngón tay mơn trớn mái tóc dài, gã thì thầm bên tai cậu bằng cay cú lẫn căm hận vô phương bộc phát. </p>
<p align="justify"><br>
</p>
<p align="justify">Tê dại đột nhiên làm cậu mềm ra, chuyện gì thế này...?</p>
<p align="justify"><br>
</p>
<p align="justify">"Tại... tại sao...?" </p>
<p align="justify"><br>
</p>
<p align="justify">Nhưng Edward không thể thốt thêm điều gì. Miệng cậu bị bịt lại bởi bàn tay lạnh ngắt, tiếng suỵt dài từ con người không-thể-xác-định-là-ai trước mặt nhắc nhở nhẹ nhàng.</p>
<p align="justify"><br>
</p>
<p align="justify">"Đừng nào... đừng nói lớn thế... không hay đâu..."</p>
<p align="justify"><br>
</p>
<p align="justify">Đôi mắt nở to kinh hãi, cậu không dám nghĩ đến thứ suy tưởng vừa hiện lên trong đầu. Cậu chợt cảm thấy bàng hoàng, cậu không thể tin. Gã mỉm cười mê dại, lại cười.</p>
<p align="justify"><br>
</p>
<p align="justify">"Cậu chưa bao giờ lầm người, Edward. Là ta. Chính là Ling."</p>
<p><br>
</p>
<div style="text-align:center;">~*~</div> <p><br>
</p>
<p align="justify">Mười ngón tay gã ngập trong mớ tóc vàng mướt rượt, hơi thở trăng trắng thoát tra từ khuôn miệng đang khe khẽ thở của cậu ta làm gã khó chịu. Gã không thể bình tĩnh. Suy cho cùng, thứ lẽ ra gã cần ở cậu ta, giờ này gã đã có đầy đủ, lẽ ra nó nên biến mất. Gã đã nghĩ, đó chẳng qua là một thứ tham lam nhất thời, một ít trong số nhiều những dục vọng thể xác khác.</p>
<p align="justify"><br>
</p>
<p align="justify">Nhưng xem ra tình hình không phải thế.</p>
<p align="justify"><br>
</p>
<p align="justify">Không biết lần thứ mấy trong đêm nay, gã thèm khát nâng vai cậu ta lên và chộp lấy từng hơi thở đó. Từ đầu lưỡi đang sục soạn từng ngóc ngách, vơ vét từng chung đụng bên trong vành môi, gã kiếm tìm sự dung nhập tràn trề đến chán chê để đủ đầy, để dừng lại. Bàn tay gã chạy qua lớp da mềm mịn khó tưởng tượng, giày vò như muốn nhét gọn tất cả ấm áp mượt mà trong lòng bàn tay, rồi bỏ vào miệng nuốt chửng xuống bụng để thỏa cơn cồn cào nơi ấy.</p>
<p align="justify"><br>
</p>
<p align="justify">Có tiếng cậu sặc sụa, cậu muốn bỏ trốn. Những thực tại diễn ra nơi đây vượt ngoài một buổi tái ngộ bạn bè cũ, một cuộc nói chuyện, một vụ trao đổi. Vài sự thật chát chúa, cùng mớ hỗn mang này đang dần khiến Ed mong tât cả không hơn một giấc mộng khuya. </p>
<p align="justify"><br>
</p>
<p align="justify">Tấm drap giường co dúm lại lần nữa, tóc đen gã phủ xuống cậu, như tận cùng bóng đêm gã đem đến. Môi cậu bật ra thổn thức, rồi nhanh chóng nén chặt chúng đến bật máu trong cái nghiến mạnh. Mọi thứ lung lạc, vật vờ không trong sáng trước mắt, bóng điện mù mờ chỉ làm nhòa nhạt, chìm ngập hơn dưới làn hơi thở lạc lõng. </p>
<p align="justify"><br>
</p>
<p align="justify">Gã êm ái hôn, da cậu ta thật khác lạ. Không giống bất cứ thứ nào hắn từng nếm, nó tanh nồng vẻ tinh nguyên lẫn trong máu. Đối mắt vàng kia che giấu điều đen tối gì? Gã cấp thiết muốn thấu tận. Ngón tay gã chạm vào bờ môi khô, đánh cắp cái hôn rất bí mật hình thức, đê rồi chiếm hữu nó ngay theo sau. </p>
<p align="justify"><br>
</p>
<div style="text-align:center;">Tuyệt nhiên, không có một chút nước mắt hay phản kháng nào.</div> <div style="text-align:center;">
<br>
</div> <div style="text-align:center;">~*~</div> <div style="text-align:center;">
<br>
</div> <p align="justify">Cái hôn cuối cùng đó, ẩm ướt chan chứa nhiều hơn một nỗi tuyệt vọng. Gã không muốn biến đêm này thành ám ảnh của mình cả đời, nhưng đã thất bại. Cậu ta chậm rãi khoác xiêm y, luồn tay ra sau gáy để hất mớ tóc vàng còn vướng dưới cổ áo. Mắt gã bị cuốn theo từng cử chỉ nhỏ nhặt đó, vùng da dưới gáy cậu trắng trẻo tinh nguyên lạ kì... </p>
<p align="justify"><br>
</p>
<p align="justify">Càng gần sáng, cảnh vật lại càng tịch mịch, những bóng điện lì lợm nhất cũng đã phụt tắt. Rơi rớt lại không gian bóng tối và lặng im như một nấm mồ. Edward khẽ chớp mắt, thân xác rã rời này rổi sẽ tan nhanh vào bóng tối, vết nhơ này sẽ tan nhanh vào bóng tối. Bí mật tội lỗi được thỏa thuận phải câm nín trọn đời. </p>
<p align="justify"><br>
</p>
<p align="justify">Bàn tay cậu đặt trên tay nắm cửa, chợt nhiên câu hỏi vụt ra khỏi môi cậu, thảng thốt như một tiếng kêu, song cũng lạnh nhạt đến hiển nhiên.</p>
<p align="justify"><br>
</p>
<p align="justify">"Cậu đang ở đâu, Ling?"</p>
<p align="justify"><br>
</p>
<p align="justify">Gã ngẩn người. Tiếng cười ma quái nào đó vang âm âm trong gã, tựa hồ tiếng quỉ sứ. Và gã cười, thỏa mãn hơn bao giờ hết. Gã bước lại bên cậu ta, tấm lưng trần còn mướt mồ hôi va chạm với trời đêm, lạnh chờn vờn tựa bàn tay kim loại. Bàn tay gã lại nắm lấy tóc vàng, ôm lấy da thịt ấm nồng ấy. Nụ cười trên môi gã nở rộng, rít qua khóe môi tiếng thì thào mơn trớn, gã nói vào tai cậu.</p>
<p align="justify"><br>
</p>
<p align="justify">"Ở đây. Luôn luôn. Cứ đến tìm nếu thấy nhớ."</p>
<p align="justify"><br>
</p>
<p align="justify">Cậu ta vùng thoát khỏi vòng tay gã. Gã nghĩ mình nên để cậu ta đi, nhưng không hiểu sao bàn tay kia lại nắm giật lại. Gương mặt gã in hằn trong đôi mắt cậu, gã thấy rõ mình trong ấy, hoàn hảo xinh đẹp như tạo vật bóng đêm. Rồi không hề toan tính, môi gã tìm môi cậu, vô thức van nài một níu kéo. </p>
<p align="justify"><br>
</p>
<p align="justify">Cảm giác kì lạ run rẩy nơi mọi xúc giác, Edward bàng hoàng khi nhận thức hết thứ nụ hôn kia đang khao khát. Cơn quặn thắt quấn vào tim cậu, đau nhói.</p>
<p align="justify"><br>
</p>
<p align="justify">Cánh cửa bật tung. Tiếng chân cậu gấp gáp bỏ trốn. Tay gã với ra nửa chừng, nhưng nhanh chóng hạ xuống. Bóng đèn ngủ tờ mờ, trên giường chăn nệm nhăn nhàu, không khác lắm một bãi cát lún. Gã thảy mình xuống nó, không đóng cả cửa, giọng cười man dại vẫn vang lên liên hồi trong tâm trí, cười cợt gã, hay tán dương gã? Song gã không quan tâm nữa, gã nhắm mắt lại và hít thật sâu mùi hương nhạt nhòa sắp tan trên chăn gối, thầm ước ao mơ hồ sẽ được nuốt trọn, như dưới một bãi cát lún.</p>
<p><br>
</p>
<div style="text-align:center;">~*~</div> <p><br>
</p>
<p align="justify">Gã lại đang đứng trên tầng cao, tấm áo choàng đen phần phật trong gió nóng nồng nặc. Phóng tầm mắt rộng khắp, gã lặng lẽ nhìn. Amestris là một quốc gia to lớn, cũng to lớn đầy chết chóc như nước Xing. Nghĩ tới đấy gã không nhịn được cái phì cười khinh khi. </p>
<p align="justify"><br>
</p>
<p align="justify">"Đêm ân ái mặn nồng chứ, Greed?" </p>
<p align="justify"><br>
</p>
<p align="justify">Vẫn giọng nói nhừa nhựa của tên Envy, nhưng gã đã quen dần, không còn cảm thấy khó chịu khi nó đột ngột cất lên như những lần trước nữa. Cả cái bản ngã còn lại của gã, sau đêm qua cũng đã thôi quấy rầy gã nhiều. Tên đồng loại đặt một tay lên vai gã, hắn rinh rích ra chiều bỡn cợt.</p>
<p align="justify"><br>
</p>
<p align="justify">"Ôi... hay có kẻ chết vì tình rồi đây?"</p>
<p align="justify"><br>
</p>
<p align="justify">Gã phì cười "Đừng nói xàm, kẻo lại trách ta không biết đùa."</p>
<p align="justify"><br>
</p>
<p align="justify">"Vừa cười vừa nói ra câu ấy, thêm cái vẻ mặt hãm tài nữa, hơn lúc nào hết ta thấy ngươi giống y chang một thằng thất tình đấy, biết không?" Đoạn Envy vỗ vỗ vai gã "Dẫu sao như thế này, ngươi dễ thương hơn lúc trước nhiều, cố gắng duy trì nhé."</p>
<p align="justify"><br>
</p>
<p align="justify">"Cảm ơn. Nhưng ta không thấy nó giống như một lời khen đâu."</p>
<p align="justify"><br>
</p>
<p align="justify">"Tùy ngươi thôi."</p>
<p align="justify"><br>
</p>
<p align="justify"><br>
</p>
<p align="justify">Gió lại đem cát bay mù mịt, gã cau mày. Vị khô khốc lại nghẹt trong miệng gã, gã lại muốn nhổ một bãi nước bọt xuống đất. Phải. Toàn mùi cái chết, toàn mùi bóng tối. Thứ không khí khiến gã vừa kinh tởm vừa nghiện ngập.</p>
<p><br>
</p>
<p><br>
</p>
<div style="text-align:center;"><em>Cậu đang ở đâu...?</em></div> <p><br>
</p>
<p><br>
</p>
<p><br>
</p>
<p align="justify">"Ở đây. Luôn luôn."</p>
<p align="justify"><br>
</p>
<p align="justify">Envy tròn mắt nhìn gã "Ngươi vừa bảo gì?"</p>
<p align="justify"><br>
</p>
<p align="justify">Cười nhạt, gã nhún vai rồi quay lưng bỏ đi. Tên Homoculus tóc xanh hơi ngạc nhiên, nhưng rồi như bao lần khác, hắn nhanh chóng mặc kệ, chỉ là cơn chứng khí thường thấy của lũ tạo vật dị thường.</p>
<p align="justify"><br>
</p>
<p align="justify"><br>
</p>
<p align="justify">"Cứ đến tìm nếu thấy nhớ... không thì ta sẽ đi tìm cậu, Edward."</p>
<p align="justify"><br>
</p>
<p align="justify"><br>
</p>
<p align="justify">Tiếng thầm thì tan vào cát, trôi xa. Đong đưa trên môi gã, là cái cười rộng miệng luôn luôn, không rõ có phải thỏa mãn hay không.</p>
<p><br>
</p>
<p><br>
</p>
<p><br>
</p>
<p><br>
</p>
<div style="text-align:right;"><strong>END.</strong></div> <p><br>
</p>STIGMAbóng đêm.