<strong><span style="COLOR: orange">THERE’S A FAIRY IN THE AIR</span><br>
</strong>By <strong><span class="searchlite">Lishrayder</span><br>
<br>
Series:</strong> Fullmetal Alchemist (the movie)<br>
<strong>Category:</strong> Romance_SA_One shot<br>
<strong>Pairing:</strong> Alfons Heiderich &amp; Edward Elric<br>
<strong>Rating:</strong> K+<br>
<strong>Disclaimer:</strong> I don’t own any cute characters of Fullmetal Alchemist, they belongs to Square Enix -_________-<br>
<strong>Summary:</strong> <em>Tôi từng mơ những cơn mộng quá dài… nơi cỏ xanh và nắng nhạt, nơi sao rơi và đêm trắng, nơi tiếng harmonica đưa em vào giấc ngủ vụng về… em à… nó chẳng phảI thực tạI đâu em… </em><br>
<br>
<br>
~*~<br>
<br>
<span style="COLOR: green"><em><br>
Oh fairy fairy<br>
Take me to your side<br>
Clift me up to the sky<br>
Where sun won’t melt into light<br>
And shadow won’t make me cry<br>
Fairy fairy…<br>
</em></span><br>
<br>
~*~<br>
<br>
<em>Berlin <br>
Tháng 11 1921</em><br>
<br>
Edward đứng trước căn nhà cửa gỗ phủ sơn vàng. Cậu liếc nhìn lại vào mảnh giấy ghi địa chỉ trên tay để xác nhận, không sai, những con số trong tờ giấy và trên biển số nhà hoàn toàn trùng khớp. Hít một hơi thật sâu, Edward nắm chặt tay và đưa lên cửa gõ nhẹ…<br>
<br>
“Ano…?”<br>
<br>
<strong>RẦM!!!!!</strong><br>
<br>
“Uwah… Trễ mất rồi! Trễ mất rồi!!!!” Một cậu thanh niên tóc vàng cao lớn nhào từ phía trong của cánh cửa ra với một tốc độ mà bất cứ loại tên lửa nào cũng phải giật mình… à… nếu không đề cập đến chuyện lúc này vẫn chưa có tên lửa… “Chị Gracia! Em đi nhé! Chuẩn bị bữa trưa hộ em!” Cậu ta nhào từ chỗ cánh cửa qua cửa hàng hoa bên cạnh hét tướng vào, không hề nhận ra có một sinh vật khác đang ôm mũi chảy máu ròng ròng dưới chân mình.<br>
<br>
“Khoan…” Ed vừa lau máu mũi vừa yếu ớt lên tiếng mong gây một sự chú ý nhất định nào đó với con người kia, nhưng hình như không hiệu quả lắm, cậu ta phóng đi ngay mà không hề nhìn lại, ngoài một câu, mà chắc chắn là không phải nói vớI Ed. (Chứng tỏ cậu ta chưa biết ít ra tớI lúc này có ngườI khác tồn tại ở đó!)<br>
<br>
“Tạm biệt chị Gracia! Ngày mới tốt lành!”<br>
<br>
Và thế là mất dạng. Gió lạnh thổi qua, tàn tích vui vẻ của cuộc gặp gỡ chớp nhoáng là Edward được khuyến mãi từ anh bạn quí hoá kia một cái mũi máu chảy nham nhở cùng bộ mặt ngây dại vì sốc trông đến là tội. Cậu vẫn chưa tiếp nhận kịp tất cả những gì vừa diễn ra, nên vẫn cứ ngồi cứng đơ trên lớp tuyết đầu mùa còn âm ẩm. Chợt, một giọng nói khác vang lên từ cửa hàng hoa, quen thuộc đến mức làm Edward nảy người bởi một cảm xúc kì lạ. Cậu lật đật đứng dậy, vừa đúng lúc chủ nhân của giọng nói ấy, một phụ nữ trẻ đẹp dịu dàng có mái tóc màu dẻ bước ra.<br>
<br>
“Thiệt tình… Cái tật mãi không chừa! Sắp lấy vợ được rồi mà vẫn cứ… Ủa? Cậu là ai?” Cô gái trẻ ngạc nhiên khi nhìn thấy Ed nhìn mình bằng ánh mắt xúc động không nói thành lời.<br>
<br>
“Chị Gracia?” Cậu run rẩy<br>
<br>
“Huh? Ừ… Tôi đây, tôi từng gặp cậu à?” Gracia càng tròn mắt hơn khi nghe cậu bé tóc vàng buộc đuôi gà lạ mặt gọi đúng tên mình, cô không giấu vẻ tò mò khi nhìn Ed.<br>
<br>
“Không… không có gì…” Mỉm cười nhẹ, Ed khẽ lắc đầu. “A… em muốn hỏi…” Cậu bắt đầu lại vấn đề chính của mình, nhưng không để cậu nói hết câu, Gracia vỗ tay đốp một cái cắt ngang.<br>
<br>
“Tôi biết rồi! Cậu đến tìm Alfons đúng không?” Cô gái cười thật tươi, khẽ nháy mắt với Ed “Đừng lo, chờ 5 phút nữa đi, cậu ấy quanh lại ngay ấy mà!”<br>
<br>
“Huh?” Gương mặt Edward biểu lộ một cảm xúc nào đó được định nghĩa là khó hiểu, song Gracia chỉ mỉm cười đầy ẩn ý. “Ý chị là….”<br>
<br>
“UWAH!!!!!!!!!!! HỘP ĐỒ NGHỀ CỦA MÌNH!!!!” Một giọng la chói lói đáp lại như một bằng chứng hồn hùng nhất cho thấy Gracia không sai. Cậu thanh niên lúc nãy hớt hải chạy về từ hướng ngược lại, vẫn cái tốc độ làm tên lửa giật mình.<br>
<br>
“Chào chị Gracia! Em để quên đồ!” Cậu nói nhanh trước khi nhào về phía cánh cửa nhà mình.<br>
<br>
“Nhớ vào nhà thì chải đầu lại, mang lại vớ cho đúng đôi, xỏ giày cho đúng bên, mặc áo khoác thì mặc bề phải, lau kem đánh răng còn dính trên mép, thùng đồ nghề nằm ở dưới gầm cầu thang, bên phải đống quần áo bẩn và bên dưới cái lốp xe hôm qua cậu vác về…” Chị Gracia nói một cách bình tĩnh và trôi chảy khó ngờ trong khi bắt đầu lặt lá mấy cành hướng dương, còn Ed thì chết sững ngườI vì sốc tập hai.<br>
<br>
“À… nhớ mở cửa…”<br>
<br>
<br>
<strong>RẦM!!</strong><br>
<br>
<br>
“… trước khi vào nhà….” Chị Gracia nhận thấy rõ ràng là đã quá muộn cho một lời nhắc nhở.<br>
<br>
Alfons-tức cái cậu trai nãy giờ làm mọi việc rốI tinh lên ấy, bây giờ yên vị trên nền tuyết trắng, với cục u trước trán và hai con mắt quay mòng mòng. Chị Gracia thở dài, bước qua mở cửa ra.<br>
<br>
“Cậu vào nhà đi.” Chị mỉm cười vớI Edward.<br>
<br>
“Nhưng…”<br>
<br>
“Chả sao đâu, chuyện thường ngày ấy mà! Tỉnh dậy nó tự mò vào nhà thôi.” Chị phẩy tay, đẩy Ed vào sau cánh cửa. “Cậu không cần khách sáo, lẽ ra phải xin lỗi vì cậu là khách mà…”<br>
<br>
“Không sao!” Edward nói nhanh.<br>
<br>
“Ừ… vậy thì tốt. Cậu chờ một tí, để tôi ra bảo Alfons vào.”<br>
<br>
Nói rồi chị bước ra, Ed cười trừ, ngồi xuống cái ghế (nơi duy nhất không có vật nào khác bị treo, móc, hay phủ lên). Chậm rãi, cậu nhìn quanh căn nhà bừa bộn, rồi bật cười vu vơ. <br>
<br>
Có lẽ một mở đầu mới như thế này cũng không đến nỗi quá tệ…<br>
<br>
Cậu thanh niên kia bước vào cắt ngang mạch suy nghĩ của Ed, vẫn xuýt xoa sờ trán. Edward Elric lặng người đi khi nhìn thấy rõ khuôn mặt anh ta… đột nhiên cậu thấy tim mình nhói lại và ngừng đập trong một nhịp… có lẽ nếu lớn lên, Al của cậu cũng sẽ như thế này…<br>
<br>
“Ano…” Anh ta lên tiếng khi nhìn thấy Ed “Cho hỏi cậu là…”<br>
<br>
“Tôi là Edward Elric, cha tôi đã viết thư cho anh hồi tuần trước để báo rằng tôi sẽ sang học việc với anh một thời gian, hân hạnh được gặp anh, Alfons Hederich!” Cậu đưa tay ra một cách lịch sự, Alfons nắm lấy bàn tay cậu lắc nhẹ theo phép xã giao thường tình.<br>
<br>
“Ra cậu là con trai của giáo sư Hoheimen… tôi rất ngưỡng mộ cha cậu!” Anh ta cười thân thiện, rồi đột nhiên có cảm giác là lạ, Alfons hỏi một cách dè chừng khi nhìn xuống cánh tay phải Ed chìa ra cho mình “… tay cậu…”<br>
<br>
“Ừ…” Ed nhanh chóng rút tay lại, vẻ mặt vẫn thản nhiên “Nó là giả, tôi mất tay phải và chân trái trong một tai nạn khi còn nhỏ…”<br>
<br>
“Tôi xin lỗi… thật khủng khiếp…”<br>
<br>
“Không sao, tôi quen rồi.” Ed quay đi, bắt đầu cởi áo khoác và khăn choàng cổ.<br>
<br>
…<br>
<br>
…<br>
<br>
…<br>
<br>
“… tôi có thể mang hành lý vào chứ…?” Ed nói để phá vỡ sự im lặng tưởng niệm ngột ngạt. Như nhận ra thái độ khiếm nhã của mình, Alfons vội vã đứng dậy đỡ lấy cái vali của Ed.<br>
<br>
“Ừ… để tôi giúp cho… mà này…”<br>
<br>
“Huh?” Ed dừng lại khi một lần nữa Alfons nhìn cậu chằm chằm. Có lẽ không biết sao nhưng cậu không thích bị người ta nhìn mình quá lâu như vậy. Alfons ngó một dọc, từ trên xuống dưới, từ dưới lên trên, rồi anh chàng phán một câu.<br>
<br>
“Cậu là người Anh?”<br>
<br>
“Ừm. Vậy thì sao?” *ngạc nhiên*<br>
<br>
“Không có gì…” Alfons gãi đầu cười lấp liếm “Chỉ là tôi cứ tưởng người Anh thì phải cao to ghê gớm lắm, không ngờ họ lại nhỏ nhắn dễ thương như cậu thế….này….”<br>
<br>
*Sát khí* <br>
<br>
<br>
“…ơ….”<br>
<br>
…<br>
<br>
…<br>
<br>
…<br>
<br>
…<br>
<br>
<strong>“ Ý ANH LÀ TÔI VỪA NHỎ, VỪA LÙN, VỪA TÍ HON NHƯ HỘT ĐẬU CON BỊ ĐẸT CHỨ GÌ??? PHẢI KHÔNG??? HẢ??? HẢ HẢ HẢ?????”</strong><br>
<br>
“Ý tôi không phải như vậy mà!!!” <br>
<br>
<br>
<br>
<br>
À… đúng là một khởi đầu không tới nỗi tệ…<br>
<br>
<br>
~*~<br>
<br>
<em><span style="COLOR: green"><br>
Oh lovely fairy<br>
I wanna hold you in my arm<br>
Let me feel your holy warmth<br>
Cure my wounds which hurt all the time<br>
And never be broken apart<br>
Lovely fairy…<br>
</span></em><br>
<br>
~*~<br>
<br>
<em><span style="COLOR: blue">Em hay cười. <br>
Và tôi yêu nó.<br>
Em không biết bên trong nụ cười đó, tôi thấy những gì hả em? <br>
<br>
… một linh hồn cô đơn quá đỗi… cô đơn và trầy xước nỗi đau… nhưng em vẫn cười…<br>
<br>
Em kể tôi nghe về một thế giớI khác, và tôi tin rằng mình thấy em hạnh phúc. Cái hạnh phúc mà em cố níu giữ khi lạc lõng, như loài chim xa xứ mang theo cành ô liu để nhớ hương đồng nội nơi mình thuộc về…<br>
<br>
Em đau. Tôi biết. Em khóc trong những cơn mộng. Tôi biết. <br>
<br>
Loài thiên sứ bị kéo xuống khỏi bầu trời thiên đường nơi nó thuộc về… đôi cánh của nó sẽ là nỗi đau… vì nó không bao giờ còn có thể bay được bằng đôi cánh ấy…<br>
<br>
… tôi có thể trở thành đôi cánh của em…?<br>
<br>
… để một lần nữa, em có thể bay về thiên đường…<br>
<br>
</span></em><br>
~*~ <br>
<br>
<em>Berlin<br>
Tháng 12 1921</em><br>
<br>
“Edward!”<br>
<br>
Alfons hồ hởi mở toang cánh cửa, rồi chạy như bay lên phòng Ed vớI một sự vui mừng khó kiềm chế nổi. Edward đang nằm trong phòng, đọc một cuốn sách gì đó, nhưng khi thấy Alfons, cậu liền cất vội nó vào ngăn bàn. Alfons không quan tâm lắm, cậu phóng đến choàng lấy cổ Edward và vò đầu cậu ta điên cuồng. Vẫn chưa hiểu đầu cua tai nheo gì, mà đột nhiên lại bị kẻ khác siết cổ và vò đầu, dĩ nhiên là Edward nổi doá. Cậu la chói lói.<br>
<br>
“Này! Này! Anh làm cái trò gì thế hả? Buông cổ tôi ra và để tóc tôi được yên!!”<br>
<br>
“Edward!! Edward!! Ha ha ha ha!!!” Không những không dừng lại, Alfons còn khuyến mãi thêm cho Ed một tràng cười mà theo cậu nghĩ là vô cùng man rợ. (^^’)<br>
<br>
“Thôi! Thôi! TÔI ĐÃ BẢO LÀ THÔI MÀ KHÔNG NGHE À!!! ARG!!!!!!! BỚ NGƯỜI TA!!! ALFONS ĐIÊN RỒI!” <br>
<br>
“Ừ! Tôi sắp điên đây! TÔI ĐIÊN RỒI ĐÂY NÀY! EDWARD!! AH GAH HAHA!!”<br>
<br>
“….eh…?” Vẻ mặt này được định nghĩa là ‘À, biết rồi, uống lộn thuốc đây mà!’<br>
<br>
“Cậu biết gì không? Quân đội đã chấp nhận tài trợ cho kế hoạch của chúng ta rồI!!”<br>
<br>
“Vậy thì có gì mà…. HẢ??????” lần này đến lượt Ed trợn tròn mắt “ Anh vừa nói là quân đội sẽ tài trợ cho chúng ta?”<br>
<br>
“Không sai!” Mắt Alfons sáng long lanh.<br>
<br>
“TUYỆT VỜI!” Ed hét lên, nhưng lần nay không phải vì khó chịu mà là vì sung sướng. “ANH KHÔNG NÓI DỐI CHỨ? ANH MÀ NÓI DỐI TÔI XỬ BẮN ANH NGAY ĐẤY!”<br>
<br>
“Tất nhiên là không!” Alfons khịt mũi tự hào “Chính đại tá đã gọi tôi vào nói chuyện riêng về vấn đề này đấy!”<br>
<br>
“Vậy là cuối cùng tôi cũng sắp có thể trở về rồi…” Ed nói bằng một giọng xúc động lạ lùng, và nó đột nhiên làm Alfons cảm thấy niềm vui của mình bỗng dưng tan biến đi hơn một nửa.<br>
<br>
<br>
<em>Cậu ấy lại nói về <strong>nơi đó</strong> nữa sao?</em><br>
<br>
<br>
“…Ed này…”<br>
<br>
“Huh?”<br>
<br>
“Cậu thật sự muốn trở về đến vậy sao?”<br>
<br>
“…”<br>
<br>
<br>
<br>
<br>
<br>
Phút chốc, không khí chùng hẳn lại. Cái nhìn của Alfons làm Ed thấy ngột ngạt, cậu không thích khi anh ta nhìn cậu bằng ánh mắt này, nhất khi anh ta lại hỏi cậu câu hỏi đó. Nuốt nước bọt khô ran xuống cổ, Ed bắt đầu nói bằng một giọng trầm trầm rất khác:<br>
<br>
“Tôi biết là anh không tin… nhưng tôi phảI về… tôi không thuộc về nơi này…”<br>
<br>
“Tôi tin cậu, nhưng có cần nghĩ đến nó sớm đến vậy không? Chúng ta vẫn chỉ mới trong giai đoạn nghiên cứu…”<br>
<br>
“Dù nó chỉ là một điều hão huyền, có 0.0001% tôi vẫn hi vọng.”<br>
<br>
“Đối với cậu, nơi đó là tất cả…?” Alfons hỏi, trông chờ một điều gì đó ở câu trả lời của Ed mà chính bản thân anh cũng không hiểu nổi.<br>
<br>
<br>
…<br>
<br>
“…Phải.”<br>
<br>
Edward quay đi, sắp xếp lại mớ sách vở bừa bày trên bàn, nhưng có lẽ chính xác là cậu muốn né không nhìn vào Alfons. Alfons dõi theo từng hành động của cậu, rồi bất giác, anh nở một nụ cười buồn bã.<br>
<br>
<br>
<em>Tàn nhẫn…</em><br>
<br>
<br>
“Này Ed, hôm nay chúng ta làm một chầu nhé?”<br>
<br>
“Huh?” Cậu hờ hững.<br>
<br>
“Tôi đãi! Để ăn mừng chuyện vui hiếm thấy!” Giọng anh vui vẻ.<br>
<br>
“Nhưng mà tôi phải đọc hết những cuốn sách….” Ed phân bua<br>
<br>
“Để sau! Sách thì bao giờ chả đọc được! Đi với tôi nào!” Nói rồi chả cần để cậu ừ hử gì thêm, Alfons lại và vác bổng cậu lên vai một cách dễ dàng. Edward la oai oái.<br>
<br>
“Chà! Xem bộ mấy tháng qua mà cậu vẫn chả lớn thêm được tí nào, bộ tôi nuôi trẻ tệ lắm sao?” Alfons bỡn cợt bằng một giọng trêu chọc thấy rõ.<br>
<br>
“NÀY! NHẮC CHO ANH NHỚ LÀ TÔI CHỈ KÉM ANH MỘT TUỔI THÔI NHÉ!! TÔI ĐÃ 18 RỒI!!! ĐỪNG CÓ ĐỐI XỬ VỚI TÔI NHƯ TÔI LÀ CON NÍT!!! THẢ TÔI XUỐNG!!!!”<br>
<br>
“Hai! Hai! Trẻ con thì phải biết nghe lời người lớn chứ! Cậu hư quá đấy Ed!”<br>
<br>
“THẢ TÔI XUỐNG!!!” *Phản đối kịch liệt* :)<br>
<br>
<br>
…<br>
<br>
…<br>
<br>
…<br>
<br>
<br>
<br>
<em>11h45 đêm</em><br>
<br>
<br>
Anh nhìn Ed nằm ngủ trên giường, mặt vẫn còn đỏ lự vì say, trông cậu như cái bông gạc bị bôi thuốc đỏ, đáng yêu và buồn cười không chịu nổi. Alfons mỉm cười dịu dàng, khẽ khàng đưa tay vuốt phần tóc mái lòa xòa ra khỏi mặt cậu. Lần tay theo mái tóc dài vàng óng, anh nâng nó lên và hôn nhẹ nơi đuôi tóc. <br>
<br>
Ed trở mình. <br>
<br>
Alfons lặng im. Anh biết cảm giác này là không đúng. Anh biết nó là ích kỉ. Nhưng…<br>
<br>
Anh xiết chặt mảnh drap giường trắng nơi cậu nằm. Tay anh muốn nắm lấy một thứ gì đó… vì có cảm giác không neo giữ… <br>
<br>
Anh hơi chồm lên, ngón tay anh vuốt nhẹ má cậu, rồi anh đưa nó lên sóng mũi thanh tú, trượt xuống miệng. Hơi ấm nhè nhẹ phả ra đều theo nhịp thở, chạm vào xúc giác ngón tay anh.<br>
<br>
Anh chống tay, nhẹ nhàng để không làm cậu tỉnh giấc. Anh cúi xuống, rất đỗi dịu dàng, nhưng anh biết mình đang run rẩy… hơi ấm môi cậu đến rất gần…<br>
<br>
<br>
<br>
<br>
“…Roy…”<br>
<br>
<br>
<br>
<br>
Sững.<br>
<br>
<br>
<br>
<br>
“…Colonel…”<br>
<br>
<br>
<br>
<br>
Vỡ.<br>
<br>
.<br>
.<br>
.<br>
<br>
<br>
Anh bỏ chạy. Rất nhanh. Anh thấy đau. Rất nhói. Ngay giữa ngực trái. <br>
<br>
… Anh không biết. Chỉ có cảm giác muốn vỡ oà. <br>
<br>
<br>
<br>
<em>Roy.</em><br>
<br>
<br>
Người đó cậu chưa từng nhắc đến với anh…<br>
<br>
<br>
~*~<br>
<br>
<em><span style="COLOR: green"><br>
Oh gloomy fairy<br>
Don’t cry as if the night’s so cold<br>
There’s moon that’s becoming full<br>
I knew that I’m just like a fool<br>
But… don’t leave me in this darken pool…<br>
Gloomy fairy<br>
</span></em><br>
<br>
~*~<br>
<br>
<em>Carnival<br>
Tháng 5 1922</em><br>
<br>
<br>
<span style="COLOR: red"><em>“Anh giống như chúng tôi, anh không thuộc về nơi này”</em></span><br>
<br>
Ed nhắm mắt lại. Những điều cô gái digan tên Noah ấy nói với cậu cứ vang vang trong óc. Cậu không muốn tin… nhưng đúng là cô ta thực sự thấy được người ta nghĩ gì. Có lẽ như thế thật bất hạnh… khi luôn biết người khác nghĩ gì…<br>
<br>
Gió thổi qua, mang theo vị cỏ tươi nồng nàn quyện đầy không khí. Thảm cỏ bên dưới cậu mát rượi, Ed nằm soải người trên thảo nguyên rộng lớn, hưởng từng chút một hơi thiên nhiên truyền thụ qua mọi xúc giác. Bầu trời bên trên cậu cao vợi và lấp lánh. Ma lực của những con đom đóm vô dạng trên kia là gì, sao chúng có thể cho cậu cảm giác gần gũi tới thế? Mọi thứ của cậu, của thế giới cậu, chúng đang ở đấy, phải không?<br>
<br>
Gió thốc qua lần nữa, lần này se lạnh và lẫn chút bụi, va vào mắt rát xót. Edward ngồi dậy, dụi mắt, bụi vương vào mắt cậu xót và thốn làm nước mắt cậu chảy ra.<br>
<br>
“Khóc nhè hả?”<br>
<br>
Giật mình, Ed quay lại, và bắt gặp anh vớI nụ cười muôn thuở.<br>
<br>
“Alfons? Anh không dự hội carnival sao?”<br>
<br>
“À…” Anh gãi đầu “Tôi chỉ trình bày thí nghiệm của chúng ta cho họ thôi, tôi không thích những chỗ ồn ào như vậy lắm. Mà cậu ở đây làm gì vậy?”<br>
<br>
Alfons thả ngườI xuống bên cạnh Ed, hai chân mở rộng một cách thoải mái. Ed nhìn anh, rồi lại nằm xuống, gối đầu lên tay.<br>
<br>
“Chả làm gì cả.”<br>
<br>
“Ừ. Trời đêm nay đẹp nhỉ.”<br>
<br>
“Ừm.”<br>
<br>
<br>
Im lặng.<br>
<br>
<br>
“Này, sao Bắc Đẩu kìa!”<br>
<br>
“Đâu cơ?”<br>
<br>
“Đó đó! Ngôi sao sáng nhất ấy!”<br>
<br>
“Ừ! Thấy rồi! Sáng thật đấy!”<br>
<br>
“Ừ! Đẹp!”<br>
<br>
<br>
<br>
<br>
Im lặng.<br>
<br>
<br>
<br>
<br>
“Cậu định làm gì tiếp theo?”<br>
<br>
“Không biết nữa, có lẽ chúng ta sẽ giúp Noah, cô ấy không còn nơi để về.”<br>
<br>
“Ừm, thế cũng được.”<br>
<br>
“Anh thì sao?”<br>
<br>
“À, tôi phải hoàn thành cái tên lửa đó.”<br>
<br>
“Vậy à? Cố lên..!”<br>
<br>
“ừ.”<br>
<br>
<br>
<br>
<br>
<br>
Im lặng.<br>
<br>
<br>
<br>
<br>
<br>
<br>
“… sao anh lại muốn chế tạo ra tên lửa?”<br>
<br>
“Tôi muốn bay.”<br>
<br>
“Để làm gì?”<br>
<br>
“…”<br>
<br>
<br>
<em>Để đi vớI cậu.</em><br>
<br>
“…”<br>
<br>
“Sao vậy?”<br>
<br>
“Không, vì tôi muốn bay một lần, tôi muốn tớI được nơi đó.”<br>
<br>
“Nơi nào cơ?”<br>
<br>
“Nơi những ngôi sao ấy.”<br>
<br>
“Vậy à… tôi cũng vậy.”<br>
<br>
“Thế à…?”<br>
<br>
“Ừm…”<br>
<br>
“… vì cậu muốn trở về…?”<br>
<br>
<br>
<em>Nghẹn.</em><br>
<br>
<br>
“… … … ừm…”<br>
<br>
<br>
<br>
<br>
<br>
Im lặng.<br>
<br>
<br>
<br>
<br>
<br>
“Nghe harmonica không?”<br>
<br>
“Huh? Anh biết thổI hả?” *ngạc nhiên*<br>
<br>
“Ừ” *cười* “Hồi nhỏ có chơi.”<br>
<br>
“Vậy anh thổi thử xem.”<br>
<br>
<br>
<br>
<br>
<br>
<br>
Tiếng harmonica văng vẳng, lan vào gió qua từng ngọn cỏ. Âm vang như lời ru, dịu dàng và ngọt nhẹ. Ed nhắm mắt, lúc nào đó xa xôi, cậu từng nghe một tiếng harmonica, xa lắm… <br>
<br>
<br>
<br>
<br>
<em><span style="COLOR: red"><br>
“Cha ơi! Thổi cho con nghe vớI!”<br>
<br>
“Phải! Phải! Cha thổi cho con và anh hai nghe đi!”<br>
<br>
“…cha thổi dở lắm…”<br>
<br>
“Không sao. Anh thổi cho tụi nó nghe đi, em biết anh chỉ nói thế thôi.”<br>
<br>
“Phải! Mẹ nói đúng! Cha thổi đi cha!”<br>
<br>
“…Ừm.”<br>
<br>
</span></em><br>
<br>
<br>
<br>
<br>
<br>
Có gì đó nóng hổi rơi xuống má cậu, Ed vội vàng lau đi. Alfons nhận thấy hành động đó, anh ngưng tiếng kèn. Cậu vẫn nằm đó, mắt nhắm nghiền. Dường như cậu muốn quên một điều gì. <br>
<br>
<br>
Đột nhiên, anh cảm thấy sợ…<br>
<br>
<br>
<br>
“Đừng mở mắt ra.”<br>
<br>
Anh đưa bàn tay ôm lấy đôi mắt cậu.<br>
<br>
“Huh?”<br>
<br>
“Đừng… mở mắt…” <br>
<br>
“…”<br>
<br>
“… tôi không muốn thấy đôi mắt cậu lúc này…”<br>
<br>
<em>Em sẽ lãng quên… phải không…?</em><br>
<br>
“… tôi… không muốn…” Tiếng vật chất gãy vụn.<br>
<br>
“Alfons…?”<br>
<br>
Cậu không biết gì, nhưng bàn tay anh to và ấm. Nó cho cậu cảm giác che chở, giống như đôi tay <em><strong>người ấy</strong></em>. <br>
<br>
Edward chợt cảm thấy đau. Nhói buốt. Từ bên trong nào đó thăm thẳm…<br>
<br>
<br>
<strong><em>Cậu không muốn!</em></strong><br>
<br>
<br>
Ed gạt tay anh ra khỏi mắt, vội vàng ngồi dậy. Nhưng anh nắm lấy tay cậu, kéo cậu ngã xuống cỏ mềm, giờ khuôn mặt anh che khuất bầu trời sao bên trên cậu.<br>
<br>
“Al…fons…?”<br>
<br>
<br>
Anh nhìn cậu, xót xa. Tay anh lại chạm nhẹ vào môi cậu, làm cậu ngạc nhiên đến sửng sốt. Rất nhanh. Anh cúi xuống.<br>
<br>
Mắt cậu mở to, sắc vàng mắt cậu cháy lên trong kinh ngạc. <br>
<br>
Môi anh dịu dàng lướt qua môi cậu, như an ủi vỗ về. Hồ như có mạch nước mát chảy đến, tưới mát và cứu rỗi cậu. Nước mắt cậu trào ra, chảy dài xuống má.<br>
<br>
…vũ trụ tan vào dải ngân hà… tuôn xuống nơi cậu và anh…<br>
<br>
<br>
~*~<br>
<br>
<em><span style="COLOR: green"><br>
They’re dancing in the shadow like whispers of love just dreaming of a place where they’re free as dove<br>
They’re never been allowed to love in this cursed cage<br>
It’s only the fairy tale they believe…<br>
</span></em><br>
<br>
~*~<br>
<br>
<br>
<em><span style="COLOR: blue">Tối.<br>
Tôi và em chìm trong bóng tối. Hư hồ nhấn chìm tôi trong bóng tối.<br>
Bóng tối nơi giấc mơ em.<br>
<br>
Em mơ.<br>
<br>
Tôi là cơn mơ. Cơn mơ của thiên sứ lạc loài. Mãi mãi…<br>
<br>
…muốn chạm lấy… muốn hoá thân… muốn thực tại… muốn…<br>
<br>
… hơi ấm của em…<br>
<br>
…?<br>
<br>
Thiên sứ sẽ bay đi. Giấc mộng… chỉ là để lãng quên.<br>
<br>
</span></em><br>
~*~<br>
<br>
<em><span style="COLOR: green"><br>
Oh painful fairy<br>
Let me sleep in your never ending dream<br>
Where I can’t hear the wicked moon scream <br>
Let me embrace you until we’re broken<br>
…even if never become one…<br>
Painful fairy…<br>
</span></em><br>
<br>
~*~<br>
<br>
“Mọi thứ sẽ biến mất.”<br>
<br>
“…”<br>
<br>
“Tất cả…”<br>
<br>
“…”<br>
<br>
“Anh sẽ mất Edward mãi mãi…”<br>
<br>
“…”<br>
<br>
“Anh sẽ tan biến… vì anh ta…”<br>
<br>
“…”<br>
<br>
“Anh vẫn làm điều đó sao…?”<br>
<br>
“…”<br>
<br>
“Chúng ta… cả thế giới này… chỉ là giấc mơ của thượng đế… chỉ là giấc mơ…”<br>
<br>
“… vậy thì ít ra… chúng ta cũng từng tồn tại…”<br>
<br>
“Ý anh là gì?”<br>
<br>
“… chúng ta tồn tại… vì không có nơi nào là mơ…”<br>
<br>
“…”<br>
<br>
<br>
-~-~-<br>
<br>
Noah khép cửa, nhìn Alfons bằng ánh mắt xa xăm. Anh vẫn ngồi, chờ tiếng bước chân cô gái xa dần…<br>
<br>
Anh khuỵu xuống đất, ngườI anh gập lại. Anh ho mạnh, buồng phổi rát và nóng như thiêu. Cảm giác tất cả trong anh bị xé toạc theo từng tiếng ho gằn khó nhọc. Tay anh nhanh chóng ướt đẫm và nóng hổi thứ dung dịch đỏ hắc mùi kim loại rỉ sét, xung quanh, mọi thứ quay cuồng và đổ sụp.<br>
<br>
“ARG!!!!!!!!!”<br>
<br>
Anh gào lên, đấm tay xuống đất vô vọng. Người anh run lên, tiếp tục những cơn ho dài hành hạ thể xác anh. Anh vươn tay… có gì đó rất sáng cháy lên trong mắt anh… thứ gì đó mềm và óng ánh như nắng ấm… anh muốn bắt lấy nó…<br>
<br>
… tia sáng bay đi xa tầm tay…anh ngã vào bóng tối lạnh lẽo…<br>
<br>
… không có giấc mơ hạnh phúc vĩnh cửu…<br>
<br>
~*~<br>
<br>
<em><span style="COLOR: green"><br>
Oh holy fairy<br>
Do not open your shining eyes<br>
Do not leave my arm are holding tight<br>
...no more tears or laughs of light...<br>
Isn't it true that there's no dream entire...?<br>
Holy fairy...<br>
</span></em><br>
<br>
~*~<br>
<br>
"Al..fons...?"<br>
<br>
"Đừng mở mắt... Edward..."<br>
<br>
Anh đẩy cậu sát xuống giường, tay anh ôm lấy khuôn mặt cậu. Ngón tay khẽ khàng vẽ theo từng nét... một lần cuối... anh không muốn lãng quên nó... Anh siết chặt vòng tay, vùi mặt lên vai cậu... vị kim loại lạnh ngắt...<br>
<br>
"Al..."<br>
<br>
Ed dời tay lên lưng anh... có gì đó rất lạ... cậu muốn hỏi anh... nhưng... <br>
<br>
Cậu sợ. <br>
<br>
...hình như anh đau.<br>
<br>
"Đừng bao giờ bỏ rơi tôi..."<br>
<br>
Thứ nước nóng hổi và mặn chát chảy trên vai cậu, anh run lên nhè nhẹ. Ed luồn tay vào tóc anh, ấn khuôn mặt anh vào chặt nơi ngực trái mình. Anh nấc lên như không thể giữ được.<br>
<br>
"Có chuyện gì vậy?"<br>
<br>
"..."<br>
<br>
"Anh có gì đó không ổn..."<br>
<br>
Edward ngồi dậy, dịu dàng đỡ lấy anh, rồi cậu cúi xuống hôn anh thật nhẹ. Anh ôm lấy cậu, vị chát đắng ướt đẫm. Môi cậu thật êm và ngọt... anh không muốn mất nó... không muốn...<br>
<br>
Ed cau mày, nụ hôn sâu của anh làm cậu ngạt thở. Cậu đẩy anh ra. Anh nhìn cậu, vỡ nát. Ed quay đi, giấu khuôn mặt sau mái tóc dài.<br>
<br>
<br>
<em>Không thể chạm được...</em><br>
<br>
Anh cười lớn. Cảm giác tim mình đã ngừng đập. Cái cười làm anh đau, anh bắt đầu lên cơn ho nặng. Ed hoảng hốt khi máu anh làm đỏ cả tấm drap giường trắng, cậu nhào đến cạnh anh. Đột ngột, anh nắm cổ áo cậu và giật mạnh, tấm áo sơ mi mỏng manh bung ra, tiếng cúc áo va vào sàn gỗ vang vang. <br>
<br>
Ed sững sờ. <br>
<br>
Anh chạm vào cậu, cảm nhận từng chút hơi sống từ làn da mềm mang đầy những vết thương thể xác. Cậu run nhẹ, anh hôn cậu trên vai. Mắt cậu mờ đi... nước làm nhòe khuôn mặt anh trong mắt...<br>
<br>
"Alfons..."<br>
<br>
"Đừng bỏ đi...làm ơn..." Anh bấu tay vào da thịt cậu, với một nỗ lực vô vọng của níu kéo.<br>
<br>
"Tôi... không thể..."<br>
<br>
"...!"<br>
<br>
<em>Rơi.</em><br>
<br>
Tách.<br>
<br>
.<br>
.<br>
.<br>
<br>
<br>
<br>
~*~<br>
<br>
<em><span style="COLOR: blue">Rồi mọi thứ sẽ trôi qua...<br>
Loài chim xa xứ phải trở về chốn cũ... loài thiên sứ lạc đường cũng bay về trong vòng tay Thượng Đế... chút dư âm gì rồi sẽ như tiếng harmonica trong đêm vắng ngày ấy... trôi xa...<br>
<br>
...còn giấc mơ... mãi mãi chỉ là giấc mơ...<br>
</span></em><br>
<br>
~*~<br>
<br>
<em><span style="COLOR: green"><br>
Who are those little girls in pain just trapped in castle of dark sire of moon<br>
Twelve of them shining bright in vain like flowers that blossom just once in year<br>
They’re dancing in the shadow like whispers of love just dreaming of a place where they’re free as dove<br>
They’re never been allowed to love in this cursed cage<br>
It’s only the fairy tale they believe…<br>
<br>
("It's only the fairy tale"_ Yuki Kajiura)<br>
<br>
</span></em><br>
<br>
<br>
~*~<br>
<br>
"Đi đi!"<br>
<br>
"Nhưng..."<br>
<br>
"Trở về nơi của cậu!"<br>
<br>
"Nhưng anh..."<br>
<br>
"Nhanh lên! Quân lính đang tới, và cánh cửa ấy sắp đóng lại rồi!"<br>
<br>
"...tại sao...?"<br>
<br>
Sững.<br>
<br>
... và lại cười.<br>
<br>
"Tôi muốn cho cậu thấy... tôi tồn tại... mọi thứ nơi này đều tồn tại..."<br>
<br>
"..."<br>
<br>
"... tất cả... không có gì là mơ..."<br>
<br>
"Nhìn kìa! Nó đang định vào trong cánh cửa!"<br>
<br>
"Mau lên! Đi đi!"<br>
<br>
"Không! Alfons! ALFONS!!!!!!"<br>
<br>
<strong>ĐOÀNG!</strong><br>
<br>
"ALFONS!!!!!!!!!!!!!!!!!!!!!!"<br>
<br>
....<br>
<br>
~*~<br>
<br>
<em><span style="COLOR: blue">Tới thiên đường rồi kìa em.<br>
<br>
[cười]<br>
<br>
</span></em><br>
<br>
~*~<br>
<br>
<em><span style="COLOR: green"><br>
Oh fairy fairy...<br>
Do you remember?<br>
The way I touched you?<br>
The way I kissed you?<br>
The way… we’re apart?<br>
Oh my fairy, I love you…<br>
Even if I’m nothing my own<br>
Now… you’ve left me…<br>
Now… I’m standing here and cry<br>
But never… you back to my side<br>
Oh sweet fairy… I know<br>
Forever… just a fairy tale…<br>
Fairy tale…<br>
Fairy tale…<br>
</span></em><br>
<br>
~*~<br>
<br>
<br>
<em>Berlin<br>
Nhiều năm sau...</em><br>
<br>
Cậu bước đi trên thảm cỏ xanh ngày nào. Vẫn một màu xanh mơn mởn, không tì vết thời gian. Trời xanh và cao lắm, xanh biếc như màu mắt anh.<br>
<br>
<br>
<em><span style="COLOR: red"><br>
"Vì sao anh muốn chế tạo ra tên lửa...?"<br>
<br>
"... cậu muốn nghe lời nói dối hay sự thật...?"<br>
<br>
"... cả hai."<br>
<br>
"... tôi muốn bay cùng cậu... đó là câu trả lời cho cả hai..."<br>
</span></em><br>
<br>
<br>
"Nii-san!"<br>
<br>
Cậu bé tóc vàng chạy tới, nụ cười thật tươi trên môi, vẫy tay về phía Ed.<br>
<br>
"Alphonse..."Cậu ngạc nhiên"Sao em biết anh ở đầy mà tìm?"<br>
<br>
"Hôm nay là ngày giỗ <em>anh ấy</em> mà, em đoán anh muốn thăm anh ấy!" Alphonse lại cười.<br>
<br>
"...Ừ..."<br>
<br>
<em>Hẫng.</em><br>
<br>
.<br>
.<br>
.<br>
<br>
<br>
Gió thổi. Mang trong nó chút se lạnh và bụi, va vào mắt rát xót. <br>
<br>
... dường như xa lắm... cậu nghe có tiếng harmonica dìu dặt man mác vọng về trong nắng...<br>
<br>
<br>
./.<br>
<br>
<br>
<strong>END.</strong><br>THERE’S A FAIRY IN THE AIRLishrayder<em><br>
Oh fairy fairy<br>
Take me to your side<br>
Clift me up to the sky<br>
Where sun won’t melt into light<br>
And shadow won’t make me cry<br>
Fairy fairy…<br>
</em><br>
Oh lovely fairy<br>
I wanna hold you in my arm<br>
Let me feel your holy warmth<br>
Cure my wounds which hurt all the time<br>
And never be broken apart<br>
Lovely fairy…<br>
Em hay cười. <br>
Và tôi yêu nó.<br>
Em không biết bên trong nụ cười đó, tôi thấy những gì hả em? <br>
<br>
… một linh hồn cô đơn quá đỗi… cô đơn và trầy xước nỗi đau… nhưng em vẫn cười…<br>
<br>
Em kể tôi nghe về một thế giớI khác, và tôi tin rằng mình thấy em hạnh phúc. Cái hạnh phúc mà em cố níu giữ khi lạc lõng, như loài chim xa xứ mang theo cành ô liu để nhớ hương đồng nội nơi mình thuộc về…<br>
<br>
Em đau. Tôi biết. Em khóc trong những cơn mộng. Tôi biết. <br>
<br>
Loài thiên sứ bị kéo xuống khỏi bầu trời thiên đường nơi nó thuộc về… đôi cánh của nó sẽ là nỗi đau… vì nó không bao giờ còn có thể bay được bằng đôi cánh ấy…<br>
<br>
… tôi có thể trở thành đôi cánh của em…?<br>
<br>
… để một lần nữa, em có thể bay về thiên đường…<br>
<br>
<br>
Oh gloomy fairy<br>
Don’t cry as if the night’s so cold<br>
There’s moon that’s becoming full<br>
I knew that I’m just like a fool<br>
But… don’t leave me in this darken pool…<br>
Gloomy fairy<br>
<em>“Anh giống như chúng tôi, anh không thuộc về nơi này”</em><br>
“Cha ơi! Thổi cho con nghe vớI!”<br>
<br>
“Phải! Phải! Cha thổi cho con và anh hai nghe đi!”<br>
<br>
“…cha thổi dở lắm…”<br>
<br>
“Không sao. Anh thổi cho tụi nó nghe đi, em biết anh chỉ nói thế thôi.”<br>
<br>
“Phải! Mẹ nói đúng! Cha thổi đi cha!”<br>
<br>
“…Ừm.”<br>
<br>
<br>
They’re dancing in the shadow like whispers of love just dreaming of a place where they’re free as dove<br>
They’re never been allowed to love in this cursed cage<br>
It’s only the fairy tale they believe…<br>
Tối.<br>
Tôi và em chìm trong bóng tối. Hư hồ nhấn chìm tôi trong bóng tối.<br>
Bóng tối nơi giấc mơ em.<br>
<br>
Em mơ.<br>
<br>
Tôi là cơn mơ. Cơn mơ của thiên sứ lạc loài. Mãi mãi…<br>
<br>
…muốn chạm lấy… muốn hoá thân… muốn thực tại… muốn…<br>
<br>
… hơi ấm của em…<br>
<br>
…?<br>
<br>
Thiên sứ sẽ bay đi. Giấc mộng… chỉ là để lãng quên.<br>
<br>
<br>
Oh painful fairy<br>
Let me sleep in your never ending dream<br>
Where I can’t hear the wicked moon scream <br>
Let me embrace you until we’re broken<br>
…even if never become one…<br>
Painful fairy…<br>
<br>
Oh holy fairy<br>
Do not open your shining eyes<br>
Do not leave my arm are holding tight<br>
...no more tears or laughs of light...<br>
Isn't it true that there's no dream entire...?<br>
Holy fairy...<br>
Rồi mọi thứ sẽ trôi qua...<br>
Loài chim xa xứ phải trở về chốn cũ... loài thiên sứ lạc đường cũng bay về trong vòng tay Thượng Đế... chút dư âm gì rồi sẽ như tiếng harmonica trong đêm vắng ngày ấy... trôi xa...<br>
<br>
...còn giấc mơ... mãi mãi chỉ là giấc mơ...<br>
<br>
Who are those little girls in pain just trapped in castle of dark sire of moon<br>
Twelve of them shining bright in vain like flowers that blossom just once in year<br>
They’re dancing in the shadow like whispers of love just dreaming of a place where they’re free as dove<br>
They’re never been allowed to love in this cursed cage<br>
It’s only the fairy tale they believe…<br>
<br>
("It's only the fairy tale"_ Yuki Kajiura)<br>
<br>
Tới thiên đường rồi kìa em.<br>
<br>
[cười]<br>
<br>
<br>
Oh fairy fairy...<br>
Do you remember?<br>
The way I touched you?<br>
The way I kissed you?<br>
The way… we’re apart?<br>
Oh my fairy, I love you…<br>
Even if I’m nothing my own<br>
Now… you’ve left me…<br>
Now… I’m standing here and cry<br>
But never… you back to my side<br>
Oh sweet fairy… I know<br>
Forever… just a fairy tale…<br>
Fairy tale…<br>
Fairy tale…<br>
<br>
"Vì sao anh muốn chế tạo ra tên lửa...?"<br>
<br>
"... cậu muốn nghe lời nói dối hay sự thật...?"<br>
<br>
"... cả hai."<br>
<br>
"... tôi muốn bay cùng cậu... đó là câu trả lời cho cả hai..."<br>
