<strong>Category</strong>: Angst-Dark-Death-Oneshot-Mild yaoi<br><br><br><br><br><br>
~*~<br>
<br>
<em><span style="COLOR: red">Not here.<br>
Not there.<br>
Not everywhere.<br>
</span></em><br>
~*~<br>
<br>
<em>Ed nắm chặt tấm drap giường. Các vị giáo sư đáng kính ấy… cậu muốn cười khẩy một cái. Những thứ diễn ra không đẹp đẽ chút nào cho cái đạo đức cao vợI của các ngài, cậu muốn nhổ thẳng vào mặt họ như thế. Nhưng thôi. Cũng chả hay ho gì cho cam, cậu cũng đâu hơn. <br>
Run mình. Lão khốn ấy làm cậu đau. Cậu cắn môi. Những con chữ nhảy múa trước mắt. Mớ tài liệu trong tay nhàu đi nhanh chóng.<br>
<br>
“Anh sẽ luôn ở bên tôi, chứ?”<br>
“Chắc chắn.”<br>
<br>
Có không…?<br>
</em><br>
<br>
~*~<br>
<br>
Nắng. Mặt trời lên đã khá cao. Ed tỉnh dậy trong mớ chăn gối nhăn nhúm dơ bẩn đầy mùi ẩm mốc của căn phòng trọ rẻ tiền. Cậu khẽ cau mày, nắng chói quá. Gió hắt mùi nắng vào hanh nồng nặc.<br>
<br>
Rã rời.<br>
<br>
<em>Những thứ không gì khác…</em><br>
<br>
Mệt mỏi, cậu chống tay ngồi dậy. Cả người cậu ê ẩm và đầy những vết đỏ đáng tởm. <br>
<br>
“Lão già đáng kiếp…”<br>
<br>
Cậu gầm gừ nhẹ trong cuốn họng. Một cách uể oải, cậu bước về phía phòng tắm, đóng cửa lại. Ed không chịu nổi cảm giác bẩn tưởi này hơn được. Trong bóng đêm, như thế là đã quá đủ.<br>
<br>
Nước xối từ trên xuống, luồn qua mắt môi, rồi xuống cổ. Tia nước ban đầu lạnh ngắt làm cậu run rẩy cũng dần dần ấm lại, như dịu dàng vỗ về đứa con nhỏ. Nắng sưởi ấm nó rồi…<br>
<br>
<em>“Anh sẽ luôn ở bên tôi, chứ?”<br>
“Chắc chắn.”</em><br>
<br>
Không khác gì. Chỉ mất đi vài thứ không quan trọng. <br>
<br>
… không quan trọng…<br>
<br>
Vai cậu co lại. Hai tay cậu xiết lấy cơ thể. Cậu khụy xuống sàn phòng tắm nhơm nhớp, nước làm trôi tất cả…<br>
<br>
“Dối trá”<br>
<br>
~*~<br>
<br>
<em><span style="COLOR: red">Not new.<br>
Not difference.<br>
Not pain.<br>
</span></em><br>
~*~<br>
<br>
<em>“Anh yêu tôi, chứ?”<br>
“Phải.”<br>
“Anh yêu tôi nhiều, chứ?”<br>
“Phải.”<br>
“Anh… cần tôi, chứ?”<br>
“… Không.”<br>
</em><br>
~*~<br>
<br>
Alfons tát cậu. Cậu không đỡ. Đưa tay quệt mép một cái, Ed nhổ đi mớ máu tanh trong miệng vừa chảy ra. Anh ta đẩy mạnh cậu vào tường, lưng cậu va vào cạnh tường đau điếng. <br>
<br>
“Tại sao?” Giọng Alfons run run “Vì cái gì hả, Ed?”<br>
<br>
“… không phảI chuyện của anh.” Cậu không hề né ánh mắt của anh ta. Cậu hiểu trong mắt mình có gì.<br>
<br>
… thật sự rỗng.<br>
<br>
“Tại sao?” Alfons xiết mạnh tay, Ed nhăn mặt, Al làm cậu đau. “Sao lại không cho tôi biết? Sao không nhờ sự giúp đỡ của tôi? Tới mức nào, hả? Chuyện đó quan trọng đến mức cậu bán cả danh dự của mình thế sao?”<br>
<br>
Cười khẩy. Danh dự? Lâu lắm rồi mới nghe lại từ đó. Cũng có effect đôi chút.<br>
<br>
“Anh giúp được gì?” Ed ngước nhìn anh “Những điều tôi làm, đó là sòng phẳng. Muốn có được thứ gì đó, phải đánh đổi thứ có giá trị tương đương. Alchemy đã dạy tôi điều đó. Anh cho tôi được gì? Nếu cho không?”<br>
<br>
Sững. Ánh mắt anh nở ra, vỡ nát. Cậu thành công. Việc làm một ai đó tổn thương, cậu học khá nhanh. Nắm tay Alfons lơi dần, cậu gạt tay anh ra và bước đi thẳng. Không khí ngột ngạt lắm rồi, cậu không thích. <br>
<br>
Bất chợt, bàn tay ai đó chặn ngang nắm cửa. Ed sững sờ khi nhận ra mình bị kéo ngã xuống nền nhà cứng lạnh ngắt. Alfons giữ chặt hai tay cậu. Cậu cố né, nhưng anh ta nắm lấy cằm cậu và đẩy lên. Alfons hôn cậu. Rất sâu, nhưng quá đỗi dịu dàng. Ánh mắt vàng nở ra, nắng lọt vào làm loá mọi thứ.<br>
<br>
…<br>
<em>“Anh yêu tôi, chứ?”<br>
“Phải.”<br>
“Anh cần tôi, chứ?”<br>
“… không.”<br>
</em><br>
<br>
Cậu đạp mạnh. Alfons ngã ra một bên. Vội vàng, cậu ngồi dậy để bước nhanh. Anh ta quàng lấy cậu từ phía sau, vòng tay anh to và khít…<br>
<br>
“Tôi… yêu cậu…”<br>
<br>
…<br>
…<strong><em> Đừng</em></strong>…<br>
…<br>
<br>
“Tôi… yêu cậu… rất nhiều…”<br>
<br>
…<br>
…<strong><em> Đừng</em></strong>…<em><strong>làm ơn</strong></em>…<br>
…<br>
<br>
Rơi.<br>
<br>
Mặn. Nhưng lạnh ngắt. Nắng không sưởi ấm nơi này…<br>
<br>
…chăng…?<br>
<br>
*cười đau*<br>
<br>
<em>Dối trá</em><br>
<br>
~*~<br>
<br>
<em><span style="COLOR: red">Not blood.<br>
Not wound.<br>
Not fire.<br>
</span></em><br>
<br>
~*~<br>
<br>
<em>“Anh sẽ giúp tôi, chứ?”<br>
“Có lẽ.”<br>
“Anh bảo vệ tôi, chứ?”<br>
“Có lẽ.”<br>
“Anh sẽ giết tôi, chứ?”<br>
“… có lẽ.”</em><br>
<br>
~*~<br>
<span style="COLOR: orange"><br>
“Hôn tôi.”<br>
<br>
Cậu vươn tay. Cỏ vỗ vào má mát rượi. Anh nắm lấy, từng ngón tay đan nhau. <br>
<br>
Môi đan môi. Bồ công anh bay bay, hờ hững. Nắng vàng.<br>
<br>
“Đừng bao giờ rời xa tôi…” Cậu choàng tay ôm lấy cổ anh. Anh hôn cậu lên vai. Nước mắt cậu lăn.<br>
<br>
Hạnh phúc…<br>
… chăng…?<br>
</span><br>
<br>
<br>
Tỉnh rồi. Anh nào có hứa chăng đâu…<br>
<br>
~*~<br>
<br>
<em><span style="COLOR: red">Not you.<br>
Not me.<br>
Nothing.<br>
</span></em><br>
~*~<br>
<br>
Lại tỉnh. Lại mùi chăn gối tanh. Lại mặt trời. Lại nắng. Lại ngày chủ nhật. Lại vẫn nằm đây, xác xơ.<br>
<br>
<em>Những thứ không gì khác…</em><br>
<br>
Người vẫn đau. Khắp chỗ. Tay, chân, môi, mắt, toàn thân. Đỏ tấy lên thứ mục rưỡng. <br>
<br>
<em>Lạ.</em><br>
<br>
Hình như trước đây không đau. Hình như vậy…<br>
<br>
Cắn chặt môi, cái gì đó chảy tràn, lạ là vẫn lạnh ngắt. <br>
<br>
Ai đấm vào ngực chăng? Đau ê ẩm…<br>
<br>
Cậu ngước nhìn. Cánh chim câu vỗ phạch bay lên không… trắng mịt mờ. <br>
<br>
Cậu vươn tay… gió hất cánh lông rơi mất. Nắng chan ngập phòng. Huơ hoác nơi thân xác cậu. <br>
<em><span style="COLOR: blue">Vì cái gì?<br>
<br>
…chả gì hết.</span></em><br>
<br>
<em>“Anh sẽ luôn ở bên tôi, chứ?”<br>
“Chắc chắn.”</em><br>
<br>
…<br>
<br>
“Dối trá…”<br>
<br>
Lại rơi.<br>
<br>
~*~<br>
<br>
<span style="COLOR: orange">Tay anh ôm trọn ngườI cậu. Từng ngón tay luồn vào mái tóc vàng, vân vê. Ed nhắm mắt. Ấm tan ra, xoa dịu cậu khỏi cơn đau. <br>
<br>
“Ôm tôi… chặt hơn…” <br>
<br>
“Ngủ đi…”<br>
<br>
“Ôm tôi… đi…”<br>
<br>
“Edward…”<br>
<br>
Máu lan. Nhanh. Nóng lắm. Khó chịu. Cậu vươn tay chạm vào má anh, anh nắm lấy nó và hôn… automail không cho cảm giác. <br>
<br>
“Đừng… bỏ rơi tôi…”<br>
<br>
Lửa cháy bùng. Vết thương rát bỏng lắm. Cậu vùi vào áo anh… mùi thuốc súng và thịt cháy tanh lòm. <br>
<br>
“Đừng… bỏ…” <br>
“Không. Tôi hứa.”<br>
<br>
…<br>
Anh đã hứa…<br>
…chăng…?<br>
<br>
</span><br>
<br>
~*~<br>
<br>
<strong><em><span style="COLOR: red">Liar.</span></em></strong><br>
<br>
~*~<br>
<br>
Máu. Lửa. Tiếng người la hét. Mùi gỗ cháy. Khói ngạt.<br>
<br>
<em>Những thứ không gì khác…</em><br>
<br>
Cậu cười. Mọi thứ ấm lên rồI đó. Không cần nắng đâu. Lửa đủ rồi.<br>
<br>
“EDWARD!!! EDWARD!!!”<br>
“MỞ CỬA RA!!! MAU!!!”<br>
<br>
Có gì đó ồn ào. Cậu không rõ. Máu chảy lan tấm trải trắng. Loang lổ.<br>
<br>
“EDWARD!!! EDWARD!!! RA KHỎI ĐÓ NGAY!!!”<br>
<br>
Đâu? Đây à? Đây là đâu? <br>
<br>
Cười.<br>
<br>
<em>Roy…</em><br>
<br>
Anh đâu? Tôi đâu đây?<br>
<br>
<em>Roy…</em><br>
<br>
Sẽ đến mà. Sẽ đến…<br>
<br>
“EDWARD!!!! KHÔNG!!!”<br>
<br>
Im lặng rồi. Ấm quá. Anh sẽ đến. Máu chảy nhiều quá rồi. Anh sẽ đến.<br>
<br>
Đã hứa mà…<br>
<br>
<em>Có không…?… Roy…?</em><br>
<br>
…<br>
<em><span style="COLOR: orange">“Anh yêu tôi, chứ?”<br>
“Phải.”</span></em><br>
…<br>
<br>
“Đừng bỏ… tôi…”<br>
…<br>
<em><span style="COLOR: orange">“Anh yêu tôi nhiều, chứ?”<br>
“Phải.”</span></em><br>
…<br>
Mặn. Nhưng lạnh ngắt. Nắng không sưởi ấm đến đây…<br>
<br>
Lửa đủ rồi.<br>
<br>
“Roy… “<br>
<br>
Vươn tay. Màu đỏ tuôn nhanh. Lửa liếm dần. Khô rát.<br>
<br>
...<br>
<em>“Anh sẽ luôn ở bên tôi, chứ?”<br>
“Chắc chắn.”</em><br>
…<br>
<br>
“Roy…”<br>
<br>
Rơi. <br>
<br>
… nóng hổi…<br>
<br>
<br>
<strong><em>Dối trá…</em></strong><br>
<br>
<br>
~*~<br>
<br>
Nắng rơi.<br>
<br>
<br>
<em>Ấm rồi đó.<br>
<br>
[cười mặn]</em><br>
<br>
<br>
<br>
<br>
<br>
<br>
<strong>END…?</strong><br>
<br>
<br>
Not here.<br>
Not there.<br>
Not everywhere.<br>
Not new.<br>
Not difference.<br>
Not pain.<br>
Not blood.<br>
Not wound.<br>
Not fire.<br>
<br>
“Hôn tôi.”<br>
<br>
Cậu vươn tay. Cỏ vỗ vào má mát rượi. Anh nắm lấy, từng ngón tay đan nhau. <br>
<br>
Môi đan môi. Bồ công anh bay bay, hờ hững. Nắng vàng.<br>
<br>
“Đừng bao giờ rời xa tôi…” Cậu choàng tay ôm lấy cổ anh. Anh hôn cậu lên vai. Nước mắt cậu lăn.<br>
<br>
Hạnh phúc…<br>
… chăng…?<br>
Not you.<br>
Not me.<br>
Nothing.<br>
Vì cái gì?<br>
<br>
…chả gì hết.Tay anh ôm trọn ngườI cậu. Từng ngón tay luồn vào mái tóc vàng, vân vê. Ed nhắm mắt. Ấm tan ra, xoa dịu cậu khỏi cơn đau. <br>
<br>
“Ôm tôi… chặt hơn…” <br>
<br>
“Ngủ đi…”<br>
<br>
“Ôm tôi… đi…”<br>
<br>
“Edward…”<br>
<br>
Máu lan. Nhanh. Nóng lắm. Khó chịu. Cậu vươn tay chạm vào má anh, anh nắm lấy nó và hôn… automail không cho cảm giác. <br>
<br>
“Đừng… bỏ rơi tôi…”<br>
<br>
Lửa cháy bùng. Vết thương rát bỏng lắm. Cậu vùi vào áo anh… mùi thuốc súng và thịt cháy tanh lòm. <br>
<br>
“Đừng… bỏ…” <br>
“Không. Tôi hứa.”<br>
<br>
…<br>
Anh đã hứa…<br>
…chăng…?<br>
<br>
Liar.“Anh yêu tôi, chứ?”<br>
“Phải.”“Anh yêu tôi nhiều, chứ?”<br>
“Phải.”