<i><b><div align="center">
<h4>LEMARIO 
</h4>
<p>- MƯA CỦA MẶT TRĂNG TÍM -</p>
</div></b></i>



<p></p>
<p></p>
<p></p>
<div align="center">
<i>Tác giả / Author :</i> ajar.cae (Linh Nguyên).
<p><i>Thể loại / Genres :</i> Fantasy, Romance…
</p>
<p><i>Đánh giá / Rating :</i> K+
</p>
<p><i>Cảnh báo / Warning :</i> Không.
</p>
<p><i>Chú ý / Note :</i></p>
</div>
<p>- Nếu bạn nào có nhã ý post truyện của mình ở bất cứ website hay forum nào, xin vui lòng post kèm theo dòng lưu ý : <i><b>"Lemario - Mưa của mặt trăng tím – by ajar.cae – vn.fiction)"</b> </i>và vui lòng gửi link cho mình. Cảm ơn nhiều nhiều.
</p>
<p>- Khuyến khích review. Bản thân mình không hẳn là một newbie (mình đã có một vài cái fanfic nhỏ ở bên Hpfo.net dưới bút danh là Katie Gryffindor), nhưng đây là lần đầu tiên mình viết Truyện Multi-chapter, nên rất cần ý kiến đóng góp của mọi người. Mọi người cứ khen chê tự nhiên, đừng ngại nhé !
</p>
<p></p>
<p></p>
<div align="center">--- --- --- --- ---</div>





<p></p>
<p><i> <b>| PROLOGUE |</b> 
</i></p>
<p>- by ajar.cae -


</p>
<p></p>
<p></p>
<p>Bạn đã từng nghe nói về Chicago - nơi từng có những tên tội phạm có cái đầu của chó sói và lá gan của mãnh hổ ? Bạn đã từng nghe đến Los Angeles - nơi có những kẻ quay cuồng trong vòng xoay tiền bạc, những kẻ sẵn sàng chà đạp lên nỗi đau của người khác để làm đầy túi cho bản thân ?

</p>
<p></p>
<p>Nhưng bạn có bao giờ nghe đến Lemario ?

</p>
<p></p>
<p>Lemario, một cái tên thật lạ tai, phải không nào ?

</p>
<p></p>
<p>Sở dĩ như vậy, vì cha mẹ bạn, thầy cô bạn không bao giờ kể cho bạn nghe những câu chuyện đau buồn như thế này - câu chuyện của một thiên thần bị gãy cánh. Họ không muốn làm cho tâm hồn trong sáng của bạn vẩn vơ cái ý niệm của súng, đạn, máu, những toan tính đặc một màu đen và của cái chết.

</p>
<p></p>
<p>Nhưng, tin tôi đi, đâu đó trong thân tâm bạn cũng từng tồn tại một Lemario đó thôi. Những con người trong Lemario năm 2010, họ vừa giống ta mà cũng vừa khác ta. Giống, vì họ biết yêu, biết ghét, biết hận ; khác, là vì họ sẵn sàng đưa súng bắn chết người mình yêu và cứu sống người mình hận mà không hề chần chừ một giây phút nào.

</p>
<p></p>
<p>Vì đó là Lemario.

</p>
<p></p>
<p></p>
<div align="center">~ * ~</div>


<span style="color:'violet'"><p></p>
<p></p>
<p>Lemario - thành phố nổi tiếng với những sòng bạc đốt tiền và những khu ăn chơi trác táng không bao giờ ngủ.

</p>
<p></p>
<p>Lemario - thành phố nổi tiếng với những sát thủ sinh ra từ bóng đêm và biến mất khi ánh bình minh vừa hắt.

</p>
<p></p>
<p>Lemario - thành phố nổi tiếng với những tiếng súng nổi chan chát trong đêm, hoà thanh vào không gian nhộn nhịp của phố phường.

</p>
<p></p>
<p>Lemario - thành phố nổi tiếng với “mặt trăng tím”, một hiện tượng kỳ bí chỉ xuất hiện mười lăm năm một lần.

</p>
<p></p>
<p>Lemario - nơi con người ta đến với mong ước trở thành một thiên thần, để rồi ra đi với đôi cánh của ác quỷ và chôn chặt tuổi thanh xuân dưới nấm mồ tham vọng.

</p>
<p></p>
<p>Lemario - nơi có một cô gái với ý chí ngoan cường và một tấm lòng trong sáng.

</p>
<p></p>
<p>Nhưng, thương thay, ý chí ngoan cường và tấm lòng trong sáng không thể hoà quyện vào nhau để tạo thành một thiên thần.</p></span>


<p></p>
<p></p>
<p></p>
<div align="right"><i>Ajar không phải là thiên thần.</i></div><p></p>
<p></p>
<p>Lemario - thành phố nổi tiếng với những sòng bạc đốt tiền và những khu ăn chơi trác táng không bao giờ ngủ.

</p>
<p></p>
<p>Lemario - thành phố nổi tiếng với những sát thủ sinh ra từ bóng đêm và biến mất khi ánh bình minh vừa hắt.

</p>
<p></p>
<p>Lemario - thành phố nổi tiếng với những tiếng súng nổi chan chát trong đêm, hoà thanh vào không gian nhộn nhịp của phố phường.

</p>
<p></p>
<p>Lemario - thành phố nổi tiếng với “mặt trăng tím”, một hiện tượng kỳ bí chỉ xuất hiện mười lăm năm một lần.

</p>
<p></p>
<p>Lemario - nơi con người ta đến với mong ước trở thành một thiên thần, để rồi ra đi với đôi cánh của ác quỷ và chôn chặt tuổi thanh xuân dưới nấm mồ tham vọng.

</p>
<p></p>
<p>Lemario - nơi có một cô gái với ý chí ngoan cường và một tấm lòng trong sáng.

</p>
<p></p>
<p>Nhưng, thương thay, ý chí ngoan cường và tấm lòng trong sáng không thể hoà quyện vào nhau để tạo thành một thiên thần.</p><br /><!-- chapter 2 --><br />
<i>Lemario, 11 giờ ngày 15 tháng 8 năm 2010.</i>

<p></p>
<p>Những vạt ánh trăng nhạt nhòa hắt nhẹ lên lề đường, mê mải đuổi theo những bước chân hối hả của vài công nhân viên chức đi làm về muộn, lăn theo bánh xe chậm rãi của những kẻ thích du hành trong bóng đêm, men theo từng khung kính cửa sổ của những căn phòng đã tắt đèn. Không gian tĩnh lặng đến lạ kỳ, dường như chỉ tồn tại một vòng xoay kết thành từ người và người, một vòng quay tơ chỉ không bao giờ chấm dứt. Những kẻ mang mặt nạ bận rộn, làm việc cả ngày rồi bước về nhà một cách vô hồn và trống rỗng.

</p>
<p></p>
<p>Thi thoảng, một vài bóng mặc đồng phục cảnh sát xuất hiện với cây gậy trên tay, chỉ trỏ đâu đó về những ngỏ hẻm ngang dọc. Họ đang trò chuyện với nhau một cách vô cùng hăng hái, tay chân huơ lên trời để minh họa cho một gã ăn trộm không may bị họ tóm cổ cách đây đúng mười tháng hai mươi hai ngày bốn giờ. Thực tế mà nói, đó là chiến công gần đây nhất của họ, vì Lemario có bao giờ chứa chấp tội phạm đâu. Lemario là thiên đường của những con người mơ về công lý, và là chốn lý tưởng cho những tay cảnh sát thích sự rỗi rãi. Đây là thành phố của giấc mơ.

</p>
<p></p>
<p>Nhưng, trong lúc còn đang khoác lác về chiến công thời xa lơ xa lắc của mình, những tay cảnh sát ăn không ngồi rồi không ngờ rằng : cách đó không xa, kẻ mà họ đáng nhẽ phải tống cổ vào tù cách đây ba năm rồi đang xuất hiện trước một khách sạn sang trọng. Hắn không phải là kẻ cướp, cũng không phải là ăn trộm, càng không phải là tội phạm truy nã quốc tế. Ở đây, tất cả những người dân Lemario có chút hiểu biết, đều gọi hắn - và những đồng nghiệp của hắn - đơn giản bằng hai chữ : sát thủ.

</p>
<p></p>
<p>Đúng, sát thủ. Hắn đang ngồi trên một chiếc xe Porche cổ mui trần, sơn đen láng bóng, chứng tỏ nó được chủ nhân vô cùng chăm chút. Có lẽ hắn chỉ mười tám tuổi là cùng, vóc dáng mảnh khảnh trong trang phục sậm màu, mái tóc nâu lòa xòa che bớt vầng trán cao, và đôi mắt lam thẳm đang đăm đăm nhìn về phía mặt trăng ngời sáng. Trông hắn như một cậu công tử thật đẹp trai và lịch lãm, chứ không phải là một kẻ giết người không ghê tay.

</p>
<p></p>
<p>Cứ mỗi mười lăm phút, hắn lại liếc đồng hồ của mình rồi đưa mắt ngó về phía khách sạn. Có vẻ như hắn đang ngóng chờ một ai đó, ngón tay trỏ cứ nhịp nhịp trên vô lăng một cách sốt ruột. Ánh trăng chiếu xiên trên làn da nhợt nhạt, khẽ làm hắn cau mày.

</p>
<p></p>
<p>- Chờ tôi lâu chưa, Jade ?

</p>
<p></p>
<p>Một chàng trai vừa ra khỏi khách sạn, đang đứng bên cạnh cửa xe của hắn. Cậu có lẽ chỉ trẻ hơn hắn hai ba tuổi, khuôn mặt còn nguyên vẹn vẻ trong sáng thơ ngây của tuổi trăng tròn, mái tóc bạch kim bừng sáng dưới ánh trăng đẹp. Có lẽ sự rực rỡ ấy đã đập vào mắt của Jade đầu tiên, nên hắn hói :

</p>
<p></p>
<p>- Tôi nhớ là hai ngày trước tóc cậu màu đỏ cơ mà, Jersey ?

</p>
<p></p>
<p>Jersey nhoẻn miệng cười, nụ cười thật tươi tắn hồn nhiên. Cậu đưa mắt ngó mình trong chiếc gương trên xe, vuốt vuốt tóc :

</p>
<p></p>
<p>- Anh lạc hậu quá - màu đỏ bây giờ xưa lắm rồi. Bây giờ bạch kim mới là “mốt”.

</p>
<p></p>
<p>- Đồng ý là “mốt”, nhưng làm nhiệm vụ mà chơi màu tóc ấy thì hơi liều đấy.

</p>
<p></p>
<p>Jersey mở cửa xe, bước vào rồi mở chiếc máy tính xách tay của bạn đồng hành, vui vẻ nói :

</p>
<p></p>
<p>- Liều à ? Tôi không quan tâm. Anh chả hiểu quá rõ, rằng đối với tôi, ý muốn của chính mình là nhất sao ? Đi làm nhiệm vụ mà đóng bộ đen thui thùi lùi như anh thì chán chết ! Cũng phải tô màu cho cái chết đẹp thêm chứ, nhỉ ?

</p>
<p></p>
<p>Jade phì cười trước cái lý lẽ tự tin ấy. Nếu là người khác, hắn sẽ há hốc mồm lên mà kinh ngạc vì cái gan cùng mình khi phát biểu những điều ngông cuồng như thế ; nhưng đây là Jersey, một người sinh ra để tôn sùng duy nhất một đức tin : bản thân. Nói cậu ngạo mạn cũng mặc, nhưng đối với Jersey, thế giới được định nghĩa như một quỹ đạo quay tròn không bao giờ đổi thay xung quanh tâm điểm là chính mình.

</p>
<p></p>
<p>- Nói gì thì nói, hôm nay cậu cũng ra trễ quá đấy. Chúng ta chỉ còn đúng hai mươi phút nữa để làm nhiệm vụ thôi. - Jade phàn nàn sau khi liếc đồng hồ thêm một lần nữa. 

</p>
<p></p>
<p>- Quá đủ. - Jersey nhăn răng cười, mắt vẫn không rời màn hình mắt tính và tay vẫn gõ lộp cộp - Mà cũng sẵn tiện hỏi luôn, hôm nay chúng ta sẽ thanh toán ai vậy ?

</p>
<p></p>
<p>Jade cau mày, anh ném cho Jersey cái nhìn mang ý nghĩa bực bội :

</p>
<p></p>
<p>- Cậu không hề xem trước kế hoạch trước khi đi làm nhiệm vụ sao ?

</p>
<p></p>
<p>- Ôi dào. Chỉ có những kẻ dở hơi mới làm như vậy. Mà dù đối tượng dù có là ai đi chăng nữa, thì ta cũng chỉ cần “đoàng” một phát là êm xuôi. Xem xét làm chi cho mệt xác. Trong thời gian đó, tôi có thể tìm cách qua được vòng bốn của trò chơi phiêu lưu vào Amazon này. Ối, anh xem, lại thua nữa rồi !

</p>
<p></p>
<p>Jersey tức mình lấy tay đập chan chát trên cửa xe, đôi mắt xanh lục hiện lên sự thất vọng khi nhìn vào màn hình máy tính : chữ “Game over” đang hiện lên rõ to, đỏ và lấp lánh như muốn trêu ngươi cái sự thất bại lần thứ một ngàn của cậu.

</p>
<p></p>
<p>Jade mỉm cười, dưới ánh trăng sáng vằng vặc, nụ cười của anh càng thêm phần lạnh lùng và huyền bí. Jersey rất ngây thơ, cậu hoàn toàn đủ tỉnh táo và bản lĩnh để nhận ra số phận của mình ; nhưng cậu vẫn chưa đủ trưởng thành để cảm nhận được vị máu mằn mặn trên đầu lưỡi mỗi lần nổ súng và cái cảm giác cay đắng khi giết hại một sinh linh. Nhưng Jade hiểu, rất hiểu là đằng khác. Hắn đã mười tám tuổi. Nhưng cái sự hiểu ấy cũng đã mài mòn trái tim hắn, trái tim của hắn không còn nhói lên khi giết người như những lần đầu tiên nữa. Như vết thương để lâu ngày thì tất thành sẹo, và trái tim hắn bây giờ chỉ là một khối sẹo không ai có thể hàn gắn nổi.

</p>
<p></p>
<p>- Anh vẫn chưa trả lời câu hỏi của tôi, đợt này chúng ta thanh toán ai vậy ? Cớm, hay là phản bội ?

</p>
<p></p>
<p>- Cả hai. - Jade đáp gọn, xoay vô-lăng để xe rẽ vào một con đường khá vắng vẻ. - Cậu còn nhớ tay gián điệp đợt trước trốn thoát không ?

</p>
<p></p>
<p>- Có. - Jersey ngay lập tức trở nên hào hứng - Phải là thằng cha thám tử của Công ty Alenia, cái thằng cha mà đã tống gọn lão già “mặt sẹo” Albatross vào bóc lịch trong tù không ? Thằng ấy thì hơi khó chơi ấy, nghe nói hắn bắn súng siêu lắm cơ mà.

</p>
<p></p>
<p>- Bây giờ thì không thế đâu. - Jade nhếch mép cười, khó mà có thể hiểu được đó là nụ cười khinh bỉ hay nụ cười thương hại - Cấp trên vừa báo cho tôi biết là hắn vừa bị tai nạn giao thông ngày hôm kia, đến bây giờ tay hắn vẫn chưa lành hẳn.

</p>
<p></p>
<p>- Ô, thế thì khó hiểu thật. - Jersey vờ vỗ trán - Người như hắn mà cũng để cho bị thương à ?

</p>
<p></p>
<p>- Hắn che cho con gái hắn. À, nhà hắn đây rồi.

</p>
<p></p>
<p>Chiếc xe Porche đỗ xịch trước một căn hộ chung cư năm tầng, trông khá cũ kỹ. Jade bước ra ngoài xe, hắn cau mày lại và ngước nhìn lên một căn nhà còn sáng đèn trên tầng ba. Thật khó tin rằng, một thám tử giỏi như John Walter Fiennes, người đã từng làm chao đảo những thế lực đen tối ở Lemario lại có thể sống ở một nơi ọp ẹp như thế này. Dường như nghe văng vẳng đâu đó một tiếng hát ru rất ngọt ngào, trầm ấm của một phụ nữ. 

</p>
<p></p>
<p>- Có lẽ đó là vợ hắn - Jade nói mông lung - đang hát ru cho con gái hắn.

</p>
<p></p>
<p>- Chừng nào lão thám tử này mới học được bài học rằng “gia đình là điểm yếu” nhỉ ? Ngốc quá đi mất. có ai đời là gan cùng mình mà đi sống cùng vợ con cơ chứ.

</p>
<p></p>
<p>Gật đầu đồng tình với Jersey, Jade nâng khẩu súng cảm ứng loại xịn lên ngang đầu, rồi lặng lẽ bước lên cầu thang, không hề phát ra bất cứ một tiếng động nào. Trông hai sát thủ trẻ nổi danh nhất Lemario này thật giống như những đứa con của thần bóng đêm, những kẻ xuất hiện ở đâu là ở đó có chết chóc. Đôi mắt tĩnh lặng như mặt nước hồ thu, chỉ khẽ xao động khi nghe thấy những tiếng ngáp dài mơ ngủ của một mụ già nào đó. Họ cứ bước như thế, cho đến một ngôi nhà mang số mười tám, tầng ba.

</p>
<p></p>
<p>Căn phòng vẫn còn sáng đèn, tiếng hát ngày càng rõ ràng bên tai. Bóng một người đàn ông và một người phụ nữ đang cúi mình bên một chiếc nôi nhỏ. Ở bên ngoài, Jersey nháy mắt với Jade, rồi thình lình cậu hét lên, giọng của một phụ nữ :

</p>
<p></p>
<p>- Trộm ! Trộm ! Bớ bà con, trộm trộm ! Trộm đêm !!! 

</p>
<p></p>
<p>Tiếng thét thảng thốt và đáng lo ngại đến mức chưa đầy một giây sau, một bóng đàn ông đã lao ra khỏi cửa, xông ra ngoài hành lang để cứu khổ cho người phụ nữ bất hạnh nào đó. Nhưng khi đôi mắt ông còn chưa kịp nhận ra hai bóng đen đang đứng xung quanh mình là ai, thì...

</p>
<p></p>
<p><i>“Đoàng.”</i>

</p>
<p></p>
<p>Tiếng súng thản nhiên, mang theo hơi lạnh của thần Chết quấn quýt bên mình. Là Jade vừa nổ súng. Dứt khoát và chính xác - đó chính là nguyên tắc của một sát thủ. Không tuân thủ nguyên tắc thì chỉ có một kết cục duy nhất : chết.

</p>
<p></p>
<p>Có tiếng một người đàn bà thét lên trong cơn hoảng loạn. Bà đưa tay bế đứa con đang nằm trong nôi chạy ra hướng nhà bếp, nhưng vô ích, nòng súng lạnh lùng của Jersey đã chỉa thẳng vào gáy bà. Trông cậu chẳng còn giống cái cậu bé hồn nhiên hay than vãn về trò chơi phiêu lưu vào rừng Amazon nữa. Giờ đây, cậu đã là Jersey - sát thủ nổi tiếng nhất nhì Lemario có bí danh là Thiên hồng 28.

</p>
<p></p>
<p>“Đoàng” một tiếng nữa, người đàn bà đã gục xuống, tay còn ôm chặt đứa con bé bỏng vào lòng. Jade liếc nhìn xung quanh một cách cẩn trọng, rồi hất hàm :

</p>
<p></p>
<p>- Giết nốt đi. Chúng ta không còn nhiều thời gian nữa đâu.

</p>
<p></p>
<p>- Con bé này á ? - Jersey cau mày, chẳng phải vì cậu thương hại, mà chỉ do thói quen phô trương của mình mà thôi. Cậu đang miết nòng súng, vẻ mặt dò hỏi.

</p>
<p></p>
<p>- Đúng. Giết nó đi.

</p>
<p></p>
<p>Jersey vui vẻ gật đầu, cậu kê súng vào đầu của đứa bé gái còn chưa tròn hai tuổi. Cậu mỉm cười, tựa như nụ cười của một người anh khi sắp cho em gái mình một que kẹo mút :

</p>
<p></p>
<p>- Xin lỗi bé nhé. Tại “sếp” của anh khó tính quá, cứ bắt anh phải giết hết cả nhà thôi. Bản thân ta thì ta chẳng thích tý nào đâu.

</p>
<p></p>
<p>- Nhanh lên.

</p>
<p></p>
<p>Giọng nói lạnh lùng của Jade vang lên nhắc nhở. Jersey gục gặc đầu, nói nhỏ :

</p>
<p></p>
<p>- Thôi thì anh cũng buồn lắm chứ, nhưng mà thôi vậy. Bye bye bé nhé !

</p>
<p></p>
<p>Ánh trăng vằng vặc soi vào đôi mắt đen trong sáng của cô bé nhỏ nhắn, nhưng lại làm rực lên một tia sáng khó hiểu khiến cho Jersey phải ngập ngừng. Khuôn mặt thật ngây thơ, không phải là nét ngây thơ giả tạo như của cậu, mà đó là vẻ đáng yêu thực sự, vẻ đáng yêu của một cô bé luôn được ấp ủ trong vòng tay mẹ, chưa bao giờ phải cọ xát với cuộc sống bề bộn. Cô không hề biết hai kẻ có khuôn mặt thánh thiện của thiên sứ đang đứng trước mặt chính là kẻ đã giết cha mẹ mình, và cũng là kẻ sắp lấy đi nốt sinh mạnh của cô. 

</p>
<p></p>
<p>- Jade này, tại sao con bé này không khóc khi nghe thấy tiếng súng nhỉ ?

</p>
<p></p>
<p>Jade giật mình khi nghe lời nhận xét hoàn toàn chính xác của Jersey. Hai người đã không ít lần phải giết chết toàn bộ một gia đình, nhưng chưa bao giờ có một cô bé - thậm chí là cậu bé nào - mà im lặng và vững dạ như thế này. Thật kỳ lạ, chẳng lẽ cô bé này không sợ khi nghe hai âm thanh chát chúa ấy vang lên sao ?

</p>
<p></p>
<p>- Sao, có giết nó không ? - Jersey tò mò hỏi. Cậu không ngốc đến mức không nhận ra được sự thay đổi trong đôi mắt của Jade.

</p>
<p></p>
<p>- Đưa cô bé ấy về đi. - Jade nói gọn, anh nhét súng vào trong túi áo, vẻ mặt ra chiều suy nghĩ mông lung.

</p>
<p></p>
<p>- Đưa về á ? - Jersey lắp bắp hỏi.

</p>
<p></p>
<p>- Đúng, đưa về. Đó sẽ là một cô nhóc thú vị đấy.

</p>
<p></p>
<p>Jade cúi xuống, khuôn mặt kề sát vào cô bé hai tuổi, bàn tay mảnh khánh vuốt ve mái tóc đen ngắn của cô. Hắn thì thầm :

</p>
<p></p>
<p>- Bé con, từ nay anh sẽ gọi em là...

</p>
<p></p>
<p>Một tia sáng màu tím nhạt xuyên qua bức rèm để hở của căn hộ ọp ẹp, rực sáng trong căn phòng chỉ còn le lói ánh đèn khuya. Qua ban công, Jersey hướng mắt nhìn, vẻ ngạc nhiên đông cứng trên khuôn mặt điển trai của cậu :

</p>
<p></p>
<p>- Ôi không Jade, anh nhìn kìa.

</p>
<p></p>
<p>Jade liếc mắt ra ngoài, ánh sáng tím rực dần trong đôi mắt lam nhạt của anh. Là....

</p>
<p></p>
<p>- Mặt trăng tím, hiện tượng mười lăm năm một lần ở Lemario ! Đẹp, đẹp thật, đây là lần đầu tiên tôi được chiêm ngưỡng nó đó.

</p>
<p></p>
<p>Jersey xuýt xoa khen. Ánh trăng tím cứ dần rực lên, đổ xuống con đường đầy những bóng người đang chìm đắm trong sự kinh ngạc và mê hoặc. Họ thốt lên những câu cảm thán về cái vẻ đẹp huyền bí ấy, vẻ đẹp chỉ có một không hai ở thành phố tội ác này. Vẻ đẹp của sự tôn thờ, của sự linh thiêng thần thánh mà không người phàm tục nào có thể với tới. Ánh trăng tím đẹp như một tiên nữ, được người ta thờ phụng và hết lòng ca ngợi ; nhưng nó cũng thâm độc như một con ác quỷ, nó hút toàn bộ sự sống trong thành phố hai mặt này, để lại những cái xác chìm đắm trong đam mê vô tận.

</p>
<p></p>
<p>Nhưng, ánh trăng đêm hút hồn ấy không lôi cuốn được một người. Jade đã quay đầu về phía cô bé nhỏ, đôi mắt lam như đan vào những tia nhìn ngây thơ ấy. Anh khẽ nói, giọng ấm áp đến lạ lùng :

</p>
<p></p>
<p>- Từ nay, anh sẽ gọi em là Ajar.</p>
<br /><!-- chapter 3 --><br />
<i>Mười một năm sau, Lemario năm 2021.</i>

<p></p>
<p><i>Tí tách, tí tách...</i>

</p>
<p></p>
<p>Những hạt mưa cuối cùng của đêm đang tí tách rơi trên bậc thềm, mang theo hơi ngai ngái của đất ẩm. Sấm chớp đã ngừng đánh ầm ầm trên căn nhà bé nhỏ, màn sương đêm dày đặc đã dần dần nhường chỗ cho những tia nắng yếu ớt le lói từ phía đằng đông. Vài giọt nước mưa li ti còn đọng lại trên chậu hoa cúc trắng bên bệ cửa sổ đang ánh lên những tia sáng lấp lánh như muốn khoe nốt vẻ đẹp của mình lần cuối. Một vài chú chim cất lên bài ca trong trẻo chào ngày mới, chào thế gian bừng tỉnh lại sau giấc ngủ say nồng bên nữ thần bóng đêm.

</p>
<p></p>
<p>Vẻ đẹp của bình minh rất đặc biệt. Nó không giống vẻ đẹp bí ẩn lạnh lùng của màn đêm, cũng chẳng nhuốm cái nét buồn u uẩn khi mặt trời lặn. Bình minh giống như một cô bé chưa lớn hẳn, hồn nhiên đón vẻ đẹp từ xung quanh mình và ban phát sự kiều diểm ngây thơ đi khắp nhân gian. Có ai đó đã từng ví rằng, nếu bình minh là đứa trẻ, thì hoàng hôn sẽ là đứa trẻ đó mười năm sau, một con người đã từng trải đời. Và ghê sợ đời nữa, nếu có.

</p>
<p></p>
<p>Vẻ đẹp đáng yêu ấy không lôi cuốn được một người, vẫn không xua tan được ánh mắt mệt mỏi của người đó. Cô bé đó ngồi yên như tượng, cuộn mình trong một tấm chăn màu tím nhạt, đôi mắt nhìn đăm đăm vào chậu hoa cúc. Cô không màng đến những tiếng chim trong trẻo mời gọi, cũng chẳng để ý đến những tia nắng vàng nhạt đã xuyên qua cửa số để mở. Ánh mắt cô chỉ toàn một màu đen tuyền pha lẫn sự lo lắng, mi mắt chỉ thi thoảng chớp khi một giọt sương từ cánh hoa rơi xuống nền đất ẩm. Bất giác, cô tự hỏi, có khi nào mình sẽ như giọt sương ấy, rơi xuống cõi hư vô của cuộc đời khi ánh bình minh vừa rạng.

</p>
<p></p>
<p>Cô bé ấy, chính là người của mười một năm trước.

</p>
<p></p>
<p>Nathalie Fiennes.

</p>
<p></p>
<p>Hay - như cô bé vẫn tưởng rằng, hay như cái cách mà Jade gọi - cô bé là Ajar.



</p>
<p></p>
<p></p>
<p>Năm giờ sáng trên ngôi nhà ngoại ô ở Lemario. Một khoảnh sân chỉ vài mét vuông, một phòng khách, hai căn phòng ngủ nho nhỏ, một cái nhà bếp thường xuyên mù mịt khói đen khi Ajar “trổ tài” nấu nướng và một vài cái phòng linh tinh khác. Đó là căn nhà mà Ajar và Jade đã sống bao năm nay. Từ trước đến giờ, anh không thích sự ồn ào khoa trương, anh vốn là một con người lặng lẽ và điềm tĩnh. Điều đó thật trái ngược với Jersey - chàng trai hoạt bát, năng động và tự tin vào chính mình. Thật đáng ngạc nhiên khi họ lại là một cặp đôi ăn ý với nhau, cả về kinh tế lẫn giết người.

</p>
<p></p>
<p>Đúng, giết người. Điều này có lẽ hơi khó tin, nhưng Jade không hề giấu giếm bất kỳ điều gì về thân thế của mình. Sát thủ tài năng nhất Lemario, đã nhận vụ nào thì nạn nhân chỉ có đường chết. Anh luôn luôn đi khỏi nhà vào lúc khoảng mười giờ, ăn mặc tươm tất và cử chỉ lịch lãm đến mức người ta có thể hiểu nhầm anh là một vị công tử giàu có sang trọng nào đó. Và khi anh trở về nhà, trang phục vẫn tinh tươm, không hề có bất kỳ vết máu nào kể cả mùi thuốc súng. Anh vẫn trong cái bọc thượng lưu, nhưng trong cuốn sổ tay của anh lại có thêm một dấu bút đỏ. Ajar biết, một dấu bút đỏ tương đương với một mạng người.

</p>
<p></p>
<p>Nhưng kỳ lạ làm sao, trái tim con trẻ của cô lại không sợ hãi Jade. Anh luôn rất tốt với cô bé, coi cô bé nhưng em gái ruột của mình. Anh dạy cho cô những kỹ năng cần thiết để bảo vệ bản thân trong cái thế giới ma quỷ này. Anh không bao giờ nói dối cô, và luôn luôn nói cho cô mọi chuyện, trừ một điều...

</p>
<p></p>
<p>Jade chưa bao giờ nói thật về thân phận cô bé. Anh chỉ kể qua loa rằng bố mẹ cô cũng là sát thủ cùng công ty với mình, đã chết trong một nhiệm vụ nguy hiểm nên anh nhận nuôi cô. Ajar tin Jade, và anh cũng tin chính bản thân mình, nếu ánh mắt buồn thăm thẳm của anh không tố cáo điều dối trá đó. May mắn thay, Ajar không nhận ra điều đó. Cô bé còn mải đeo đuổi theo những suy nghĩ riêng của mình, về bố mẹ, về ngôi nhà và về một tiếng súng đanh gọn cứ vang lên trong mỗi cơn ác mộng của cô. Vì tiếng súng đó, Ajar đã thề với lòng mình rằng, bằng mọi giá, cô phải trả thù cho cha mẹ. Nhưng cô đâu có hay cái giá ấy đắt đến mức nào đâu ?


</p>
<p></p>
<p></p>
<p>Ajar vẫn ngồi bất động khi đi đồng hồ nhích dần đến con số sáu. Jade chưa bao giờ về trễ thế này. Cùng lắm là bốn giờ sáng anh đã có mặt tươm tất ở nhà, ngân nga một khúc ca khe khẽ và đặt một cái hôn tốt lành lên trán Ajar. Anh chưa bao giờ trễ như thế. Vậy mà hôm nay... Ajar gục mặt xuống, mái tóc đen nhánh xõa dài trên vai, che khuất bớt khuôn mặt dần xanh lại vì lo lắng và thất vọng. 

</p>
<p></p>
<p>- Ajar...

</p>
<p></p>
<p>Một tiếng nói khẽ khàng vang lên trong bóng tối, rất êm dịu. Bàn tay mảnh khảnh, ấm áp vỗ về trên mái đầu của cô bé. Ajar ngỡ ngàng nhìn lên, ánh mắt đen thẳm bắt gặp cái nhìn trìu mến của đôi mắt màu lam nhạt.

</p>
<p></p>
<p>- Anh Jade !

</p>
<p></p>
<p>Ajar thốt lên trong ngỡ ngàng và vui sướng. Cô bật dậy khỏi giường, giang đôi cánh tay ra để ôm lấy người mà cô bé yêu quý. Nhưng, vòng tay đang vươn lên trong không khí chợt khựng lại khi quan sát trang phục của Jade. Ánh mắt cô trợn tròn trong lo sợ.

</p>
<p></p>
<p>Trang phục của Jade không còn cái vẻ nghiêm trang và chỉn chu nữa. Vẫn chiếc áo đen tuyền, nhưng lại đẫm máu ! Màu máu dường như thêm phần nổi bật trong ánh nắng ban mai, rực lên một sắc màu xinh đẹp và quý phái. Nhưng màu máu lại làm Ajar sợ. Bằng trái tim non nớt của mình, cô linh cảm thấy có một điều gì đó bất thường.

</p>
<p></p>
<p>- Anh Jade, sao lại...

</p>
<p></p>
<p>Jade đột ngột quỵ xuống, nhưng vẫn cố đưa tay ngăn cản :

</p>
<p></p>
<p>- Suỵt, đừng hỏi gì hết Ajar. Lấy cho anh cốc nước.

</p>
<p></p>
<p>Ajar gật đầu lia lịa, cô bé vội vàng rót nước rồi đưa cho Jade. Đôi tay nhỏ bé của cô cầm chiếc khăn mặt lau nhẹ trên khuôn mặt anh, khuôn mặt thanh tú nhưng tái xanh vì mất máu. Jade thở dốc khi nghe thấy tiếng chuông cửa reo :

</p>
<p></p>
<p>- Ajar, ra... ra mở cửa. Là Jersey đó.

</p>
<p></p>
<p>Ajar nhíu mắt nhìn người anh thân yêu của mình, rồi chạy ra ngoài cổng. Hệt như lời đoán trước, đó chính là Jersey. Lòng Ajar chợt cảm thấy lạ lùng, vì từ trước đến giờ Jade chưa bao giờ đi làm nhiệm vụ một mình. Jersey đang mặc một chiếc áo màu tía, tóc nhuộm vàng ánh kim tôn thêm nét rạng rỡ cho khuôn mặt. Nhưng khuôn mặt ngây thơ ấy lại tối sầm lại khi nhận thấy bàn tay dính đầy máu của Ajar.

</p>
<p></p>
<p>- Em sao vậy Ajar ? Em bị thương à ? 

</p>
<p></p>
<p>- Không, không phải em. - Ajar lắc đầu nguầy nguậy - Là anh Jade.

</p>
<p></p>
<p>Khoảnh khắc ba từ cuối được thốt ra, Jersey bật lên một tiếng kêu khe khẽ đầy phẫn nộ. Cậu vội vàng xô cổng, chạy một mạch vào trong phòng khách, nơi có thân thể của Jade nằm rã rời trên sàn. Cậu nhăn mặt, nói lớn :

</p>
<p></p>
<p>- Tôi đã nói với anh, là đừng có...

</p>
<p></p>
<p>Nhưng đáp lại thái độ vồn vã của Jersey, Jade chỉ mỉm cười “suỵt” nhẹ một cái rồi liếc mắt ra cửa, ám chỉ Ajar còn đang đứng bên ngoài. Jersey thở dài, cậu gật đầu ra chiều hiểu ý :

</p>
<p></p>
<p>- Thôi được, như ý anh. - Rồi anh quay sang Ajar - Em có thể cho bọn anh vài phút nói chuyện riêng được không ?

</p>
<p></p>
<p>Ajar nhìn đôi mắt xanh lục vẫn hay hấp háy tia cười của Jersey, nhưng kỳ lạ thay, bây giờ nó chỉ tuyền một màu sậm lạnh lùng và cương quyết. Cô bé quay sang nhìn Jade, hơi thở hơi gấp, máu ngày càng loang ra trên lớp áo mỏng. Nén một hơi thở dài, Ajar gật đầu.

</p>
<p></p>
<p>Khi đã đứng một mình ở bên ngòai, để lại không gian yên tĩnh cho hai người anh thân thiết, Ajar lặng lẽ quan sát khung cảnh bên ngoài. Trời đã hửng nắng, ánh mặt trời long lanh soi sáng trên nền trời xanh thẳm. Nền trời bao la như ánh mắt của Jade. Tấm lòng anh thật biết đâu mà lường ! Rốt cuộc anh đang giấu cô điều gì, sao lại không thể cho cô biết ? Những làn gió nhẹ nhàng vuốt ve mái tóc Ajar, như thấu hiểu được tâm trang của cô gái bé nhỏ. Thoảng một hương thơm lạ lùng, e dè mà vẫn sắc nét lạ. Hương thơm... tựa như hương hoa nhài.

</p>
<p></p>
<p>Hoa nhài, loài hoa có lớp áo trắng muốt và hương thơm dìu dịu thoáng qua mà vẫn để lại dư vị trong tâm trí người ta. Jade rất yêu loài hoa ấy, bằng chứng là ở nhà anh, nhài đã trở thành bụi, thành rừng, đến nỗi cứ mỗi sáng thức dậy, đập vào mắt Ajar là sắc trắng thuần khiết, khôi nguyên và tươi trẻ. Anh đã từng nói rằng, hoa nhài giống như một thiên nữ, một giấc mơ mà người phàm không dám chạm vào, sợ sẽ làm bẩn sắc áo thần thánh ấy. Lúc đó, ánh mắt của anh thật buồn, buồn xa xăm như đang lưu luyến một kỷ niệm nào đó.

</p>
<p></p>
<p><i>Jade, anh có giống như giấc mơ của em không ?</i>



</p>
<p></p>
<p></p>
<p></p>
<div align="center">--- --- --- --- --- --- --- --- --- ---</div>

<p></p>
<p>Trong lúc Ajar đang ngổn ngang tâm sự, trong phòng ngủ, vết thương của Jade đã được cầm máu, hơi thở đã đều đặn hơn và gương mặt đã hồng hào dần, ánh vẫn đăm chiêu và đầy nghĩ ngợi. Jersey - tay dính đầy máu - nhăn mặt và càu nhàu :

</p>
<p></p>
<p>- Lại một ngày nữa tôi lại bị anh lôi đầu ra khỏi giường ! Bao giờ thì anh mới bỏ cái thói quen phá rối giấc ngủ của người khác được cơ chứ ?

</p>
<p></p>
<p>Jade mỉm cười, anh đưa tay lên vén gọn vài sợi tóc nâu còn lòa xòa trên trán :

</p>
<p></p>
<p>- Đâu phải là cậu không dự đoán được trước ! Cậu đã để điện thoại di động mở đó thôi.

</p>
<p></p>
<p>Jersey ngao ngán ngả người trên ghế, rồi thở dài :

</p>
<p></p>
<p>- Đúng, biết vậy thì tôi tắt quách cái điện thoại đi cho rồi. Ôi, giấc mơ đẹp của tôi...

</p>
<p></p>
<p>Jade lại mỉm cười, nhưng cái nét châm chọc đã biến mất và anh lại đăm chiêu. Hai người im lặng một lúc lâu, khắp căn phòng nhỏ tràn ngập một bầu không khí nặng nề, vương vất mùi máu tanh tưởi và hương thơm thảo mộc nồng nồng. Khó mà nói đó có phải phải là một khung cảnh đẹp hay không không : hai chàng trai có khuôn mặt thiên thần lạc vào nơi địa ngục, hai hai kẻ ác quỷ đang phá hủy chốn thiên đường ? 

</p>
<p></p>
<p>Một lúc sau, Jersey mới lên tiếng :

</p>
<p></p>
<p>- Anh định làm như thế thật sao, Jade ?

</p>
<p></p>
<p>Jade - đôi mắt vẫn phẳng lặng đến ghê người - đáp :

</p>
<p></p>
<p>- Chuyện gì là chuyện gì ?

</p>
<p></p>
<p>Jersey đột ngột nổi nóng :

</p>
<p></p>
<p>- Anh thừa biết tôi ám chỉ chuyện gì mà ! Chẳng nhẽ anh định làm thế thật sao ? Hi sinh tất cả để đạt được một mối hận ! Anh không nghĩ chút gì cho Ajar sao ?

</p>
<p></p>
<p>Jade từ tốn nói :

</p>
<p></p>
<p>- Vì tôi nghĩ cho Ajar nên tôi mới làm thế. Nếu không, tôi chẳng phải liều mạng làm gì. Chả lẽ anh không nhận ra Ajar càng ngày càng có nét giống như bà Fiennes lúc trẻ sao ?

</p>
<p></p>
<p>Jersey im bặt. Cậu nhìn Jade đang tiếp tục nói tiếp bằng giọng đều đều vô cảm :

</p>
<p></p>
<p>- Sớm muộn gì Ajar cũng biết được sự thật, mà nó thì đã ôm mối hận vì cái chết của cha mẹ nó quá lâu rồi. Nó có thể không giết tôi - đúng, nó sẽ không giết tôi, vì nó còn nợ tôi món nợ ân tình, và có lẽ nó còn yêu thương tôi hơn cả cha mẹ đẻ của nó. Nhưng tôi không muốn đặt nó vào tình cảnh khó xử.

</p>
<p></p>
<p>- Vì vậy, anh muốn chơi canh bạc này ?

</p>
<p></p>
<p>Jade ngồi thẳng dậy, anh đã quá quen với những vết thương loại này rồi :

</p>
<p></p>
<p>- Đúng, và đánh cược bằng chính mạng sống của tôi. Và tối nay, là canh bạc cuối cùng.

</p>
<p></p>
<p>- Canh bạc tử thần, phải không ? - Jersey hỏi, anh nhìn thẳng và đôi mắt lạnh lẽo của người đồng đội.

</p>
<p></p>
<p>- Đó là một cái tên hay. - Jade gật gù ra vẻ thích thú - Bây giờ tôi phải xem Ajar thế nào. Dù sao cũng cảm ơn cậu, thuốc của cậu hiệu nghiệm thật.

</p>
<p></p>
<p>Khi Jade đã đi đến bên cạnh cửa, Jersey chợt lên tiếng, giọt buồn buồn, thật khác hẳn với cá tính cao ngạo và vui nhộn thường ngày :

</p>
<p></p>
<p>- Rốt cuộc, anh coi Ajar là gì ? Một con búp bê, hay là vật hiến tế cho anh lợi dụng ?

</p>
<p></p>
<p>Jade lắc đầu, anh đưa mắt nhìn đến khung cửa sổ, nơi có chậu hoa cúc trắng đang mỉm cười đón những tia nắng hồng trong sớm ban mai :

</p>
<p></p>
<p>- Không. Tôi coi Ajar như giấc mơ của tôi.</p>
<br /><!-- chapter 4 --><br />
<i>“Cậu biết không, Johan, đôi khi tôi cảm thấy thời gian thật giống như một con thoi, con thoi lạ lùng chỉ chuyển động duy nhất có một chiều. Tuổi thanh xuân của con người cũng trôi đi vùn vụt, để lại trong cái xác khô của ta những ký ức buồn không bao giờ phai nhạt.” </i>

<p></p>
<p></p>
<div align="right">[<i>Bạch hoa ngừng tỏa hương </i>- Nước mắt mặt trăng tím]</div>

<p></p>
<p>Đôi khi, những lúc con người ta muốn tìm một cuộc sống khác, một cuộc sống không có máu me, súng đạn, chết chóc, người ta muốn vươn tới ảo vọng là mưa, là gió, là mây cỏ, là những vật thể vô định, người ta thường tìm đến những cuốn sách.

</p>
<p></p>
<p><i>Nước mắt mặt trăng tím </i>là quyển sách Jade thích nhất. Nó không bàn về nhân đạo, cũng chẳng bàn về tri thức. Đó đơn giản chỉ là những câu chuyện không đầu không cuối, những lời đề nao nao chút buồn của một sát thủ trẻ, rất trẻ, một người đã sinh ra và chết đi trong tiếng súng, để lại đám tro tàn là một quyển sách với nét chữ nguệch ngoạc trong cơn vội vã. Chín truyện ngắn hoàn thành, và tác phẩm cuối cùng còn dang dở - là tất cả những gì mà chàng trai bạc mệnh ấy có thể để lại cho Jade. Và Jade - như kẻ ngoại đạo lắng nghe lời hấp hối cuối cùng của một thiên thần bị nguyền rủa - anh giữ gìn nó, và tặng cho Ajar.

</p>
<p></p>
<p>Cô đặt mở quyển sách trên đùi, hướng đôi mắt xa xăm của mình ra phía chân trời thăm thẳm. Đã bao nhiêu lần cô đọc quyển sách ấy, đã bao nhiêu lần cô ngồi đăm chiêu và cũng bao nhiêu lần cô suy nghĩ về những mảnh ghép cuộc sống trong những nét chữ ấy. Người ta có thể khóc khi đọc những câu truyện buồn, nhưng cô không thể khóc khi đọc quyển sách ấy, dù nó có chan chứa bao nhiêu nước mắt. Vì một lẽ quá đơn giản : cô không thể khóc cho những người có số phận quá giống mình.

</p>
<p></p>
<p>- Ajar, em đã đọc câu truyện ấy bao nhiêu lần rồi ?

</p>
<p></p>
<p>Ajar giật mình khi nghe thấy cái giọng nói dịu dàng thân thương ấy. Cô xoay hẳn người lại, đôi mắt mở to như chưa thể tin vào những gì đang rõ ràng trước mặt : anh Jade yêu dấu của cô đang đứng đó, khuôn mặt hồng hào, ánh mắt xanh lấp lánh và trang phục sạch sẽ, tinh tươm như chưa hề có chuyện anh bị trúng ba viên đạn vào bụng. Anh ngồi xuống bên cạnh cô rồi mỉm cười :

</p>
<p></p>
<p>- Làm gì mà nhìn anh như người ngoài hành tinh vậy ? Chưa tin là anh bình phục rồi à ? 

</p>
<p></p>
<p>Ajar lắc đầu, cô bé đưa ngón tay miết nhẹ trên bìa sách. Jade hướng mắt về phía ấy, anh khẽ thì thầm :

</p>
<p></p>
<p>- Em thích cuốn sách ấy đến mức đó sao ?

</p>
<p></p>
<p>Cô cười nhẹ, rồi tựa đầu vào vai anh trai. Mái tóc nâu mềm mại của Jade rũ trên trán, thoang thoảng mùi hương thảo mộc, một mùi hương vô cùng thanh khiết. Khung cảnh thật vô cùng êm đềm : giữa rừng hoa nhài trắng ngào ngạt, hai anh em tựa vào nhau một cách bình yên, tin tưởng. Trong cuộc sống đầy biến động này, dễ gì để tìm một khoảnh khắc như thế ?

</p>
<p></p>
<p>- Em rất thích, thích vô cùng. Có vẻ như em đang lạc vào tâm trí của người sát thủ tội nghiệp ấy. Nhưng anh Jade, rốt cuộc thì người ấy là ai, tại sao anh lại chưa bao giờ kể cho em nghe ? 

</p>
<p></p>
<p>- Anh không muốn nói về điều ấy. Cứ tạm gọi là bí mật đi. - Jade cười, nụ cười đẩy ẩn ý. - Rồi một ngày nào đó anh sẽ nói, chứ nhất định không phải là hôm nay.

</p>
<p></p>
<p>- Anh lúc nào cũng bảo thế. - Ajar phụng phịu - Em không thích những cái gọi là bí mật.

</p>
<p></p>
<p>Jade xoa đầu Ajar, anh cười xòa :

</p>
<p></p>
<p>- Cuộc sống mà không có bí mật thì chán lắm em gái ạ. Cũng giống như thế giới mà không có máu thì chẳng còn là thế giới nữa.

</p>
<p></p>
<p>Ánh mắt đen láy của Ajar chợt ánh lên nét ghê tởm, nhưng cũng rất nhanh trở về vẻ bình lặng thông thường. Tuy nhiên, điều đó không qua được mắt của Jade. Anh khẽ nói :

</p>
<p></p>
<p>- Em ghét máu, anh biết. Nhưng ở Lemario này, máu là chân lý. Em không thể nào sống ở đây mà ghê tởm máu được.

</p>
<p></p>
<p>Ajar không nói gì, cô bé tiếp tục chống cằm và hướng mắt về phía xa xăm. Cô đã không ít lần ngửi thấy mùi máu, nhưng cô chưa bao giờ ngừng ghê tởm chúng. Cô ghê tởm cái thứ dung dịch lỏng sền sệt thấm ướt trên bàn tay và áo quần của các sát thủ Lemario khi họ làm nhiệm vụ về. Giết người để tồn tại, giết người để không bị người giết.

</p>
<p></p>
<p>Jade nhìn Ajar, bất giác anh thở dài. Suy cho cùng, Ajar cũng mới chỉ mười ba tuổi, cái tuổi quá nhỏ để hiểu rõ anh cũng như bao con người sống bằng máu khác. Anh cũng không thể chê trách cô bé ; thế nhưng, sống ở thành phố này mà ghét máu thì quả là chuyện cổ tích giữ trần gian ! Và Ajar cũng vậy, giống như một loài cây dù có mạnh mẽ đến đâu mà không kịp thích ứng với điều kiện sống thì cũng chẳng mấy mà lụi tàn.

</p>
<p></p>
<p>Chính vì vậy, anh phải làm điều đó. Bằng mọi giá anh phải thành công, bất chấp cái giá ấy đắt đến mức nào. Như Jersey đã nói, đó là canh bạc tử thần. Canh bạc tử thần, thắng là sống, còn thua là chết. Thế nhưng, dù cho kết quả thế nào, anh vẫn sẽ không hối hận.

</p>
<p></p>
<p>Vì anh đã để lại tất cả những gì mình có cho người anh thương mến nhất trên đời.

</p>
<p></p>
<p>- Ajar, em còn nhớ câu chuyện về hoa cúc và xương rồng không ?

</p>
<p></p>
<p>Ánh mắt đăm chiêu của cô bé đột ngột chuyển thành vẻ chán ngán, cô thở dài :

</p>
<p></p>
<p>- Dĩ nhiên là em phải nhớ rồi. Anh đã kể đến hơn cả trăm lần rồi ấy chứ.

</p>
<p></p>
<p>- Vậy mà coi bộ em chẳng nhập tâm là mấy, đúng không Ajar ? Nếu không thì em có thể kể lại cho anh nghe được chứ ?

</p>
<p></p>
<p>- Dĩ nhiên là được. - Ajar mỉm cười, nụ cười của kẻ tự tin - Nghe này, trong một khu vườn nọ có một chậu xương rồng và một chậu cúc trắng. Cậu chủ chăm sóc cúc trắng rất cẩn thận. Cậu lúc nào cũng tưới nước một ngày hai lần, ngắt từng chiếc lá úa, bắt từng con sâu nhỏ cho cúc trắng, còn xương rồng thì cứ tự lực mà sống, vươn lên giữa đất cằn...

</p>
<p></p>
<p>- Trông em y như học sinh đang trả bài cho giáo viên vậy. - Jade cười.

</p>
<p></p>
<p>- Vào một ngày nọ, cậu chủ có việc phải đi vắng nhà một tuần. - Không màng đến lời trêu chọc của anh trai, Ajar tiếp tục nói bằng giọng đều đều. - Cúc trắng vì quen được chăm chút chi ly nên héo khô và chết dần chết mòn, trong khi đó, xương rồng vẫn mạnh mẽ mà sống, và còn nở hoa nữa.

</p>
<p></p>
<p>Kể hết chuyện, cô bé quay lên nhìn Jade, nhưng đáp lại cô, anh chỉ ngồi đó, gương mặt phẳng lặng đến kỳ lạ. Phải đến năm phút sau, anh mới lên tiếng :

</p>
<p></p>
<p>- Phải, cúc trắng sẽ chết. Một người, dù có mạnh mẽ đến đâu, nhưng không kịp thích nghi với cuộc sống sẽ chết. Ở Lemario cũng không ngoại lệ.

</p>
<p></p>
<p>Giọng của anh thoáng nét buồn. Ánh mắt lam nhạt từ vẻ cương quyết, đến lo lắng, rồi phiền muộn và cuối cùng là những tia nhìn tràn đầy yêu thương dành riêng cho Ajar.

</p>
<p></p>
<p>- Ajar, anh không muốn em là bông cúc trắng bé nhỏ tội nghiệp ấy đâu, không bao giờ.

</p>
<p></p>
<p>Ajar giật mình. Từ trước đến giờ, Jade chưa bao giờ nói câu đó với cô. Có chăng thì cũng chỉ là khuyên cô đừng nên như chậu cúc trắng đó, chứ không phải là câu nói này, nhất định không phải là câu nói buồn như đang tiễn đưa một linh hồn này. Bất chợt, trái tim cô run lên từng nhịp khi cảm thấy một mối họa đang chực ụp xuống ngôi nhà của cô, ụp xuống Jade yêu dấu của cô. Nỗi lo sợ không rõ xuất xứ dường như đang gặm mòn cảm xúc của cô, khiến cô không thể nào nói nên lời. Cô không biết điều đó có nghĩa gì, nhưng chắc chắn không phải là điềm lành...

</p>
<p></p>
<p>Ajar nhìn lên Jade, anh đang ngâm nga một khúc ca ngắn, khúc ca mà mãi cho đến sau này, cô cũng không thể nào quên được… 

<i></i></p>
<p></p>
<p>“Ánh tà dương...
</p>
<p>Ánh tà dương nhuộm đỏ không gian, khi một ngày tàn...
</p>
<p>Ôi, ánh tà dương, biết còn gặp lại...”

</p>
<p></p>
<p>Đó là khúc ca cuối cùng mà Jade còn  ngân nga bên cô.
</p>
<p>
</p>
<p>
</p>
<p></p>
<p>--- --- --- --- --- --- --- --- --- ---

<i></i></p>
<p></p>
<p>Người ta thường nói rằng, linh cảm của con trẻ là linh cảm của những nhà tiên tri còn chưa ‎ý thức được tài năng một cách toàn vẹn.

</p>
<p></p>
<p>Chưa đầy bảy mươi hai giờ sau, Jade đã chết khi thực hiện nhiệm vụ cuối cùng của mình. Anh đã bị năm phát súng vào người và chết vì mất máu. Những sát thủ - đồng đội của anh đã kể lại rằng, anh chết rồi mà nụ cười vẫn rạng rỡ trên môi, ánh mắt xanh lam vẫn ánh lên cái khí chất mạnh mẽ quen thuộc. Anh vẫn là Jade, anh vẫn mang khuôn mặt, trái tim của thiên thần và l‎ý trí của ác quỷ.

</p>
<p></p>
<p>Nhưng đôi cánh của anh đã gãy.

</p>
<p></p>
<p>Vào giây phút cuối cùng của đời mình, anh đã nắm chặt trong tay một sợi tóc, một sợi tóc màu đen như của nữ thần bóng đêm. Đôi môi anh mấy máy những từ rời rạc mà người ta có thể hiểu là...

</p>
<p></p>
<p>“Giấc mơ...”

</p>
<p>
</p>
<p></p>
<p>Ajar không khóc. Chỉ có một giọt lệ nhỏ là rơi khỏi khóe mắt cô, lăn tròn trên má.

</p>
<p></p>
<p>Có thể gọi đó là nước mắt của mặt trăng tím không ?</p>
<br /><!-- chapter 5 --><br />
<p></p>
<p>- Tôi rất tiếc khi nghe tin này. Cái chết của Bạch quân quả thực là một mất mát rất lớn.

</p>
<p></p>
<p>Jersey chỉ hơi nghiêng đầu cứng nhắc khi nghe những lời chia buồn sáo rỗng nọ. Cậu thừa biết, trong cái đám đông tấp nập mang khuôn mặt u buồn giả tạo kia, có bao nhiêu người thực sự thương tiếc trước cái chết của Jade ? Chẳng những vậy, có lắm kẻ còn vô cùng vui mừng, hoan hỉ trước sự hi sinh của siêu sát thủ có mật danh là Bạch quân 72 kia. Mới hai mươi chín tuổi, anh đã leo lên vị trí vinh dự của một trong những kẻ có quyền thế nhất trong tổ chức tội phạm Lemario. Người ta còn tiên đoán rằng, anh có thể tiến xa hơn nữa, anh có thể vươn tới những chức vụ cao hơn, thậm chí là nắm quyền toàn tổ chức. Nhưng có ai ngờ, anh lại chết trẻ như thế này. Còn chưa đến ba mươi...

</p>
<p></p>
<p>Jersey liếc mắt về phía Ajar đang đứng bên trái cậu, đôi mắt ráo hoảnh nhìn về phía cửa sổ. Cô bé không hề nhúc nhích gì từ sáng đến giờ, chỉ đơn giản là đứng tĩnh lặng và chìm vào trong suy nghĩ hư vô. Từ trước đến giờ, Jersey vẫn cảm thấy Ajar rất khó hiểu. Thế giới tâm tưởng của cô bé như một màn sương mờ mịt, chỉ duy nhất Jade là có thể vén đi màn bí mật ấy. Vậy mà bây giờ, anh đã chết. Liệu ai có thể khiến cô bé có đôi mắt buồn ấy có thể nở được nụ cười trong sáng của tuổi thơ ?

</p>
<p></p>
<p>Jersey lẩm bẩm vài câu xã giao với những kẻ đến viếng Jade, trong đầu cậu đang miên man những câu nói cuối cùng của người đồng đội xấu số. Jade, anh thực sự là một người đáng sợ. Anh chết để bảo vệ cho một người khác được sống, nhưng cũng đồng thời biến người đó trở thành ác quỷ. Anh... thật khó lường.

</p>
<p></p>
<p>- Thật là vất vả cho cậu quá, Thiên hồng Jersey.

</p>
<p></p>
<p>Jersey giật mình khi nghe cái giọng đến rợn tóc gáy trên. Cậu vội vàng ngước mặt lên, ngay lập tức, đôi mắt xanh lục trong veo của cậu chạm phải ánh mắt xám mang đầy toan tính. Cậu sững sờ đến mức suýt làm rớt bó hoa của một lão già nào đó viếng cho, một lúc sau mới lắp bắp được mấy lời :

</p>
<p></p>
<p>- Thật... thật là vinh hạnh cho chúng tôi. Thật không ngờ... ngài Treason cũng đến.

</p>
<p></p>
<p>Ánh mắt của kẻ có tên là Treason không hề dao động lấy một thoáng, hắn liếc mắt đi gặp gian phòng nhỏ đến chính diện, nơi có bức di ảnh mang khuôn mặt Jade tươi cười yên vị. Hắn trạc bốn mươi tuổi, đôi mắt xám nhỏ ánh lên tia nhìn lạnh lùng, mái tóc vàng óng nổi bật bên khuôn mặt dài và làn da nhợt nhạt. Ấn tượng đầu tiên khi người ta nhìn thấy gã là hình ảnh của loài chim ưng, vừa oai phong, vừa thông minh lại có nét xảo quyệt. Gã nhìn Jersey, đôi môi cong lên để tạm gọi là một nụ cười :

</p>
<p></p>
<p>- Có gì đâu, Thiên hồng. Bạch quân quả là một thành viên xuất sắc. Cậu ấy chết mà không để lại được hậu duệ, thật là đáng tiếc.

</p>
<p></p>
<p>Jersey nuốt nước miếng đắng ngắt vào trong cuống họng mình. Người cậu thân thiết nhất đã đi xa, thật xa rồi. Cảm giác ấy thật giống như một con người đang bám bên mép vực, chơi vơi giữa không trung xanh thăm thẳm, không trung rộng khôn cùng mà chẳng biết người về đâu.

</p>
<p></p>
<p>- Anh Jersey, đã đến giờ tổ chức tang lễ rồi. Chúng ta mời quan khách vào chỗ thôi.

</p>
<p></p>
<p>Giọng nói buồn buồn của Ajar vang lên, trông ánh mắt cô như một căn phòng rỗng, chỉ tồn tại độc một nỗi buồn u tối chiếm chỗ mà thôi. Treason có liếc qua cô một chút, nhưng hắn nhanh chóng tiến về chỗ ngồi của mình, chiếc gậy màu bạc yên vị trên đùi, ánh mắt mơ màng như đang chờ một trò vui nào đó. Jersey không khỏi gai mắt trước hình ảnh đó, cứ như một con quạ đang hau háu nhìn mồi.

</p>
<p></p>
<p>Khi thấy hắn đã xa hẳn, Ajar mới cất tiếng hỏi :

</p>
<p></p>
<p>- Anh Jersey, đó là ai vậy ?

</p>
<p></p>
<p>- Ừm. - Jersey ngập ngừng. Anh đã đoán trước cô bé sẽ hỏi câu này. - Đó là một kẻ mà em vừa nên biết vừa không nên biết.

</p>
<p></p>
<p>- Rốt cuộc đó là ai ? - Ajar gặng hỏi.

</p>
<p></p>
<p>- Đó là ông chủ của bọn anh, ngài Treason, kẻ có quyền hành nhất nhì ở Lemario này. Hắn không trực tiếp tham gia thanh toán đối tượng, mà là người vạch ra kế hoạch và địa điểm thời gian cụ thể. Dạng như giật dây vậy.

</p>
<p></p>
<p>- Tức là hắn là ông trùm ở Lemario ?

</p>
<p></p>
<p>Nhìn ấy ánh nhìn thoáng thay đổi ở Ajar, Jersey nói nhanh :

</p>
<p></p>
<p>- Đôi khi, không nên biết quá nhiều, em gái ạ. Nhưng em hỏi nhưng điều đó để làm gì ?

</p>
<p></p>
<p>Ajar ngước lên nhìn Jersey, ánh mắt cô phẳng lặng như nước hồ thu :

</p>
<p></p>
<p>- Đó không phải là chuyện của anh. - Cô mỉm cười.

</p>
<p></p>
<p>Jersey nheo mày ngạc nhiên trước nụ cười của Ajar. Ba ngày trước, cậu đã lẳng lặng đứng đằng sau nhìn Jade và Ajar vui vẻ bên nhau, trông hai người thật giống như anh em ruột thật sự. Nụ cười trong veo con trẻ không chút giả tạo ngày đó của Ajar thật xa vời quá. Vẫn gương mặt ấy, đôi môi ấy, mà bây giờ đã đổi thay nhiều. Buồn, và toan tính. Đó là tất cả những gì Jersey có thể miêu tả qua nụ cười ấy.

</p>
<p></p>
<p>- Ajar, đừng nói với anh là em định xin lão Treason vào đội huấn luyện sát thủ đấy.

</p>
<p></p>
<p>Nụ cười của Ajar có phần mờ đi, nhưng cô vẫn khẽ - rất khẽ thôi - gật đầu.

</p>
<p></p>
<p>Jersey bất giác rùng mình. Cậu không phải là một tay gà mờ, cậu đủ thông minh để nhìn ra thông điệp ẩn chứa trong đôi mắt đen thăm thẳm ấy. Trả thù, đúng, trả thù. Đó là chuyện duy nhất mà Ajar muốn làm bây giờ. Cô muốn báo thù cho Jade, cô muốn giết những kẻ đã mang người cô yêu quý nhất trên đời rời xa cô mãi mãi. Để làm được việc đó, cô phải trở thành một sát thủ, nghĩa là phải dấn thân vào cuộc đời đầy hận thù, toan tính và máu tanh, cuộc đời Jade, Jersey và biết bao nhiêu con người nữa đã sống, đã hy sinh tất cả để đạt được và đã nguyền rủa từng đêm như tù nhân nguyền rủa còng tay tội đồ.

</p>
<p></p>
<p>Vậy mà Ajar, một cô bé có tấm lòng trong sáng và ý chí ngoan cường lại bất chấp mọi thứ, như con thiêu thân lao vào cuộc đời cay nghiệt đó.

</p>
<p></p>
<p>Âu cũng là số phận.



</p>
<p></p>
<p>--- --- --- --- --- --- --- --- --- ---

</p>
<p></p>
<p>Bài diễn văn của Jersey vang lên trong lặng lẽ. Dường như chẳng ai buồn nghe cái âm điệu sầu thảm ấy, mà chính cậu cũng chẳng thèm đọc cái văn bản cứng nhắc dài đến vô tận ấy một cách đàng hoàng. Đôi mắt màu xanh lục của cậu chỉ đăm đăm nhìn vào cái khoảng không phía trước, nói chính xác hơn là nhìn lão già Treason. Lòng cậu như có lửa đốt. Một lát sau, Ajar xuất hiện từ trong phòng ngủ, trang phục màu đen thẫm gọn gàng, mái tóc cặp cao hờ hững trên đầu và khuôn mặt điềm tĩnh với ánh mắt mang tia nhìn cương quyết. Trông cô thấp thoáng hình ảnh của người Bạch quân trẻ tuổi.

</p>
<p></p>
<p>Jersey thở dài đầy mệt mỏi khi thấy Ajar bước thẳng đến Treason. Vậy là sớm muộn gì, chuyện đó cũng đến.


</p>
<p></p>
<p>- Xin lỗi, ông có phải là Ernest Treason không ?

</p>
<p></p>
<p>Lời nói của cô tuy nhỏ nhẹ nhưng hơi có phần dứt khoát, chứng tỏ cô đang thực sự muốn thực hiện dự định của mình một cách mau chóng và chính xác. Ánh mắt cô hơi đanh lại, cái nhìn tỏ rõ ý muốn.

</p>
<p></p>
<p>Trái lại với suy nghĩ của Ajar, Treason không có vẻ gì là đã nghe thấy câu nói của cô. Hắn khẽ mỉm cười, nhịp nhịp chân theo một giai điệu tang tóc vang lên phía cuối phòng.

</p>
<p></p>
<p>- Xin lỗi, ông có phải là Ernest Treason không ? 

</p>
<p></p>
<p>Cô bé lặp lại, ánh nhìn vẫn không hề thay đổi. Nhưng lão Treason vẫn ngồi im như tượng. Mím chặt môi, cô nói nhanh :

</p>
<p></p>
<p>- Xin lỗi, ông có phải là Ernest Treason không ?

</p>
<p></p>
<p>- Này cô gái, muốn nhờ vẻ một người có chức quyền thì phải gọi người đó là “ngài” đấy.

</p>
<p></p>
<p>Ajar hơi giật mình khi nghe tiếng đáp trả sau lưng. Quay lưng lại, ánh mắt cô ngay lập tức chạm phải một tia nhìn khiến tim cô dường như phải ngừng đập.

</p>
<p></p>
<p>Ánh mắt có màu xanh vỏ chai, màu thủy tinh.


</p>
<p></p>
<p>- Sao, cô có nghe tôi nói gì không ? Cô nói gọi ngài Treason là “ngài”, chứ không phải là “ông” đâu.

</p>
<p></p>
<p>Giọng nói lạnh lùng như làn gió buốt giá thổi vào làm bức tường băng đá sắp tan vỡ trong tâm trí của Ajar chợt vững lại. Cô đáp, ánh mắt đen nhìn thẳng vào đôi mắt xanh vỏ chai :

</p>
<p></p>
<p>- Anh trai tôi dạy rằng, không bao giờ gọi người khác là “ngài” nếu ta chưa chứng kiến tận mắt thực lực của người ấy.

</p>
<p></p>
<p>- Em gái của Bạch quân có khác, rất có khí chất.

</p>
<p></p>
<p>Lần này mới đích thực là Treason lên tiếng. Nụ cười lơ lửng trên môi như phớt lờ mọi thứ trên đời, nhưng ánh mắt lại lóe sáng nét nhìn lạ lùng, như nét nhìn của mèo thấy mỡ, nét nhìn không khỏi khiến Ajar rùng mình.

</p>
<p></p>
<p>- Nhưng lần này coi bộ cô bé phạm sai lầm lớn rồi. Chẳng lẽ chàng Bạch quân đáng thương của chúng ta chưa hề dạy cô rằng phải tôn trọng cấp trên sao ?

</p>
<p></p>
<p>“Bạch quân đáng thương”, bốn chữ được phun ra tàn nhẫn ấy chẳng khác nào lưỡi nào sắc nhọn, đâm thẳng vào trái tim còn chưa kịp liền sẹo của Ajar. Cô khẽ run lên, nhưng lý trí vẫn đủ sáng suốt khi bắt gặp ánh mắt đáng sợ kia, cô liền nuốt lời căm giận chực vuột ra khỏi môi lại, để đối đáp một cách bình tĩnh :

</p>
<p></p>
<p>- Chỉ với câu nói vừa rồi là ông đã chứng tỏ ông không đáng để tôi gọi là “ngài” rồi.

</p>
<p></p>
<p>Treason bật cười man rợ, tràng cười đủ để bóp nghẹt không khí vốn đã u ám của căn phòng. Hắn nhìn Ajar, đôi mắt vừa thích thú vừa đe dọa, hắn nói nhỏ :

</p>
<p></p>
<p>- Cô bé à, chữ “đáng” có nhiều nghĩa lắm. Cô có thể giải thích tại sao chỉ với câu nói đó, cô không đáng gọi ta là “ngài” được không ? 

</p>
<p></p>
<p>- Tôi...

</p>
<p></p>
<p>Ajar ấp úng. Không phải cô không biết giải thích thế nào, mà trước đôi mắt lạnh như băng tuyết kia, cô dường như không thể thốt nên lời nào cho ra hồn. Treason nhìn Ajar hài lòng, hắn đưa tay chống lên cằm, rồi chuyển chủ đề :

</p>
<p></p>
<p>- Ta cũng không nhẫn tâm đến mức nhìn một cô bé như thế này lúng túng đâu. Thế nào, cô bé tìm ta có chuyện gì ? Không phải là để xin các kỷ vật của Bạch quân về đấy chứ ? Chẳng phải toàn bộ thứ đồ ấy ta đã đưa hết cho Thiên hồng đó sao ?

</p>
<p></p>
<p>Ajar mím môi, cô nói :

</p>
<p></p>
<p>- Không phải chuyện đó. Mà là... tôi muốn trở thành sát thủ.

</p>
<p></p>
<p>Câu nói không vòng vo của Ajar làm Treason hơi mỉm cười, nhưng đó vẫn là nụ cười ẩn ý và lập lờ như ẩn chứa một thâm ý sâu xa nào đó. Nét cười đó Ajar chỉ mới thấy ở Jade, những lần cô hỏi anh về nhiệm vụ của anh mỗi đêm. Nhưng nụ cười của Jade dịu dàng hơn, không hề có nét hiểm độc, hay là do qua đôi mắt nhìn ngây thơ của Ajar, Jade từ một con quỷ đã được mang đôi cánh thiên thần ?

</p>
<p></p>
<p>- Nói cho ta biết, cô bé bao nhiêu tuổi ?

</p>
<p></p>
<p>- Tôi mười ba tuổi. Nhưng tuổi tác của một sát thủ không thành vấn đề. Anh tôi thực hiện chương trình huấn luyện sát thủ chuyên nghiệp khi mới mười hai tuổi.

</p>
<p></p>
<p>- Còn cậu, Caelus, cậu tham gia chương trình của chúng tôi khi mới tám tuổi đúng không ?

</p>
<p></p>
<p>Ajar quay ra đằng sau, một lần nữa, cô lại chạm phải đôi mắt màu xanh vỏ chai thăm thẳm. Anh gật đầu.

</p>
<p></p>
<p>- Thực tế đã chứng minh tuổi tác không thành vấn đề, đúng. Thế cô bé có biết bắn súng không ?

</p>
<p></p>
<p>- Tôi có thể bắn trúng hồng tâm từ khoảng cách mười lăm mét.

</p>
<p></p>
<p>- Khá đấy. Coi bộ Bạch quân đã rất thành công trong việc huấn luyện một sát thủ nhí rồi nhỉ ?

</p>
<p></p>
<p>Ajar không thích âm điệu của Treason khi lão nói câu đó. Nhấn mạnh chữ “nhí” một cách đầy thâm ý, như thế chẳng khác nào chế nhạo Ajar và cả Jade. Cô khẽ mỉm cười, nụ cười hờ hững như Treason :

</p>
<p></p>
<p>- Tôi không phải là một sát thủ nhí. Tôi sẽ là một sát thủ, và tôi sẽ chứng minh cho ông thấy tôi xứng đáng với danh tiếng của anh trai tôi.

</p>
<p></p>
<p>Treason nghiêng đầu, hắn liếc nhanh đồng hồ, rồi đưa mắt về khuôn mặt đầy vẻ chờ đợi của Ajar rồi nói với cô, giọng thích thú :

</p>
<p></p>
<p>- Một cô bé thú vị như thế mà bỏ qua thì thật tiếc. Nhưng sắp đến lúc ta phải về rồi. Hay là thế này nhé, sáng ngày mai ta sẽ đến đây, và sẽ có một thử thách nho nhỏ dành cho cô bé. Nếu vượt qua được, chương trình huấn luyện sát thủ của Lemario chắc chắn sẽ có một suất đặc biệt cho cô bé. Nếu không, cô bé đủ thông minh để  biết chuyện gì sẽ xảy ra, đúng không ?

</p>
<p></p>
<p>Ajar gật đầu. Cô nhìn đôi mắt xám của Treason như ước lượng về thử thách, nhưng vô dụng. Dường như đôi mắt ấy có một bức tường thành vô cùng kiên cố, không có vật gì dù chỉ là con ruồi vượt qua được bức thành ấy để soi rõ tâm trí của con người này.

</p>
<p></p>
<p>Nhưng, dù thử thách ấy là thế nào đi chăng nữa, cô vẫn phải thắng. Hơn ai hết, cô hiểu rõ đây là cuộc chơi của riêng mình, một cuộc chơi chỉ có thế thắng chứ không thể nào thua. Đơn giản, vì đây chính là bước đi đầu tiên trong chặng đường trả thù của cô. Cô sẽ đi theo cuộc đời của Jade, cuộc đời của sát thủ. Một cuộc đời đầy máu, đầy hận thù và chỉ có thể kết thúc bằng một cái chết. Cuộc đời của những con người lạc bước, bị giam cầm trong vòng xiềng cô đơn vĩnh hằng.



</p>
<p></p>
<p>--- --- --- --- --- --- --- --- --- ---

</p>
<p></p>
<p>Ajar đâu biết rằng, có một đôi mắt buồn màu xanh vỏ chai đang nhìn cô.


</p>
<p></p>
<p>--- --- --- --- --- --- --- --- --- ---
<span style="color:'red'"><p></p>
<p>A/n :

</p>
<p></p>
<p>Đầu tiên, mình xin cảm ơn sự yêu thích của các bạn. Như đã nói, mình không hẳn là newbie, nhưng thời gian cầm bút của mình mà đem so sánh với các tác giả khác thì chỉ như là một nhành cỏ nhỏ với cây đại thụ to lớn mà thôi. Vì vậy, sự ủng hộ của các bạn đã giúp mình rất nhiều trong chặng đường sáng tác này.

</p>
<p></p>
<p>Phần quan trọng hơn, mình xin thông báo rằng, <i><b>toàn bộ những gì được post trong phần này dưới tên “Lemario - Mưa của mặt trăng tím” chỉ là Bản không chính thức (Non official Version). </b></i>Bản chính thức sẽ được post lên một khoảng thời gian sau. Chính vì vậy, mình cần các bạn đóng góp ý kiến để hoàn thiện hơn tác phẩm này. Đọc xong, hãy để lại review các bạn nhé ! </p></span></p><p></p>
<p>A/n :

</p>
<p></p>
<p>Đầu tiên, mình xin cảm ơn sự yêu thích của các bạn. Như đã nói, mình không hẳn là newbie, nhưng thời gian cầm bút của mình mà đem so sánh với các tác giả khác thì chỉ như là một nhành cỏ nhỏ với cây đại thụ to lớn mà thôi. Vì vậy, sự ủng hộ của các bạn đã giúp mình rất nhiều trong chặng đường sáng tác này.

</p>
<p></p>
<p>Phần quan trọng hơn, mình xin thông báo rằng, <i><b>toàn bộ những gì được post trong phần này dưới tên “Lemario - Mưa của mặt trăng tím” chỉ là Bản không chính thức (Non official Version). </b></i>Bản chính thức sẽ được post lên một khoảng thời gian sau. Chính vì vậy, mình cần các bạn đóng góp ý kiến để hoàn thiện hơn tác phẩm này. Đọc xong, hãy để lại review các bạn nhé ! </p>
