<div align="center">
<strong>Category</strong>: Song fic-Angst-Dark-Mild Yaoi-Maybe Violence<br><br><br><br>
</div>




~*~<br>
<br>
<em><span style="COLOR: purple">You’ll never notice<br>
The colour of sin<br>
Just as the storm clouds close in<br>
It’s dark<br>
</span></em><br>
<br>
~*~<br>
<br>
<span style="COLOR: green"><em>Ngày mưa xa</em><br>
<br>
Mờ mịt. Mưa và sấm. Mờ mịt. Đau và vỡ tan. Mờ mịt... tôi không biết... chỉ là mưa trong đêm...<br>
<br>
"AL! AL! TRẢ AL LẠI ĐÂY! AL! KHÔNG!!!"<br>
<br>
Cơn mộng đầu tiên. Tôi đã nghĩ mình có thể đến gần Chúa trời. Và đó là trừng phạt.<br>
<br>
"AL! AL! Mình không muốn như thế này... không phải như thế này... KHÔNG!!!"<br>
<br>
Quá muộn cho một sự trừng phạt. Mưa vẫn cứ rơi. Như chúng vẫn từng rơi. Đêm vẫn cứ trôi. Như vốn dĩ chúng đã trôi.<br>
<br>
...<br>
<br>
Tôi mất...<br>
</span><br>
~*~<br>
<br>
<em><span style="COLOR: purple">Here in the shadows<br>
I am pursued<br>
Until the ends of the earth<br>
Embraced<br>
</span></em><br>
<br>
~*~<br>
<br>
Mở mắt ra. Sáng chan ngập, chói loá nhập nhằng. Bất cứ nơi nào, nắng cũng chỉ mang một màu. Bất cứ nơi nào, giấc mộng cũng chỉ mang một màu.<br>
<br>
Chút gì đó bàng hoàng thoáng sang. Ngộp. <br>
<br>
<em>Tỉnh mộng. Và mình lại ở một cơn mộng... khác...</em><br>
<br>
Chưa bao giờ, dù chỉ một lần, cậu cảm thấy yêu ánh mặt trời.<br>
<br>
~*~<br>
<br>
"Edward! Edward! Cậu có trong đó không?"<br>
<br>
Alfons gõ nhẹ cánh cửa, không có tiếng trả lời. Cửa không khoá. Hơi dè dặt, anh hé cửa bước vào.<br>
<br>
"Edward...?"<br>
<br>
Vẫn vùi mặt vào gối, cậu nằm đó, mái tóc xõa phủ ngập nắng vàng. Khẽ, anh đặt khay thức ăn lên bàn, lượm nhặt mớ giấy tờ bị gió thốc bay tung trong phòng cùng vài vỏ chai rượu rỗng. Thở dài. Dạo này cậu uống nhiều. Vẫn biết Edward không phải người dễ dàng buông mình, nhưng cứ thế này thì thật không ổn. Anh lo.<br>
<br>
"Ed! Dậy đi! Hơn 8h rồi, chúng ta còn hẹn với mọi người trong tổ nữa!" Heiderich kéo bật tấm rèm cửa, nắng ùa vào, tham lam nuốt sạch mọi thứ bên trong bằng thứ ánh sáng trắng tinh hanh hoác. Ed trở mình, lấy chăn che mặt, cuộn người lại nép sát vào góc giường. Alfons lắc đầu.<br>
<br>
"Này! Dậy mau! Đồ mèo lười!" Anh không còn cách nào khác ngoài nhào lên giường giật tấm chăn ra, vực Ed ngồi dậy. Edward không có vẻ gì là muốn tỉnh. Cậu ngã vào người anh, tiếp tục ngủ ngon. <br>
<br>
Alfons bắt đầu thấy bất lực. Nhìn cậu ta ngủ thế này, ngay trên ngực áo mình với hơi thở nhẹ đều đều phả ra, anh vô phương. Có những thứ lí lẽ nào đó chẳng giải thích được bằng vật lí hay toán học, neh?<br>
<br>
"Ah... thế đấy…! Lại trễ nữa cho xem..." Anh ôm trán rên rỉ. Bên dưới, cậu khẽ dụi đầu vào anh, tay nắm nhẹ ngực áo sơ mi, kéo vào người. Alfons lơ đãng mân mê vài cọng tóc vàng dài, vô tình buông rơi đâu đó nụ cười thoảng đến trong vô thức... <br>
<br>
... mơn man...<br>
<br>
~*~<br>
<br>
<span style="COLOR: green"><em>Đâu đó xa xôi</em><br>
<br>
"Anh vì cái gì?" <br>
<br>
Những ngày mưa không ngừng ấy...<br>
<br>
"Vậy cậu vì cái gì?"<br>
<br>
... khắc nghiệt...<br>
<br>
<em>Từ lúc nào...? Hay đã luôn như vậy mà tôi không biết...? Anh...</em><br>
<br>
"Trả lời tôi, nếu có thể, rồi tôi sẽ nói cho cậu lí do." Anh cười, cay đắng mỉa mai thay. Cậu đã không nhìn vào mắt anh. <br>
<br>
<br>
<em>Anh có ghét những ngày mưa lắm không...?<br>
<br>
Mưa đã không rơi vào ngày <strong>anh ta</strong> ra đi, neh? <br>
<br>
Không có thứ để biện minh...? <br>
<br>
Lại cười. Vẫn mỉa mai.</em><br>
<br>
<br>
"Cậu muốn gì ở tôi?" Anh nắm cổ áo, kéo sát cậu vào gần. Hơi thở gấp gáp, lạnh ngắt mùi nước mưa hanh nồng. <br>
Anh hôn. Cậu nhắm mắt. Môi anh tê ran, chưa từng như cậu vẫn tưởng.<br>
<br>
<em>Tôi muốn gì ở anh...?<br>
Thứ tôi thật sự muốn... <br>
<br>
...Al...</em><br>
<br>
Anh luồn tay vào tóc ôm chặt. Cậu níu lấy áo anh, anh quỳ xuống, đẩy cậu sát nền cỏ ẩm tanh. Và xiết tay.<br>
<br>
"Đừng thương hại tôi." Vẫn cười. Mắt cậu sao rát. Môi anh lại tìm. Thứ uỷ mị rẻ tiền.<br>
<br>
<br>
<em>Thương hại sao?</em><br>
<br>
…<br>
<br>
Chưa bao giờ, dù chỉ một lần, mưa trong đêm lạnh buốt như thế.</span><br>
<br>
~*~<br>
<br>
Cậu mở mắt.<br>
<br>
"Ngủ ngon chứ?" <br>
<br>
Nụ cười sáng trên gương mặt thân quen. Dù vẫn biết không phải.<br>
<br>
"Mấy giờ rồi?" Ed dụi mắt ngồi dậy. Những buổi sáng thân quen. Dù vẫn biết không phải.<br>
<br>
"Trễ rồi." Alfons nhún vai. "Đành để họ làm vậy, chúng ta cứ ở nhà tự nghiên cứu tiếp." <br>
<br>
Cậu thả người trở lại giường. Từ khi nào, mọi thứ vẫn trôi. Chỉ là không phải... Heiderich gõ cuốn sách vào đầu Ed, càu nhàu.<br>
<br>
"Này! Lười vừa thôi! Thay đồ rửa mặt rồi ăn sáng kìa!" Anh vật cậu ngồi dậy "Nói vậy là ngủ tiếp hả?"<br>
<br>
<em>...Al...</em><br>
<br>
...nắng nhoà nhạt ý thức... gương mặt kia rất gần...<br>
<br>
Đột nhiên, Ed vòng tay ôm anh chặt. Ngỡ ngàng, anh trượt chân, ngã lên người cậu. Tay cậu không buông.<br>
<br>
"Al..." Ngón tay cào vào lưng anh bỏng rát. Tiếng nói run run đứt quãng như tiếng nấc. <br>
<br>
... anh hẫng...<br>
<br>
"Tôi không phải." Giọng khô ran, Heiderich gỡ từng ngón tay ra khỏi người . "Đừng bao giờ gọi tôi là Al."<br>
<br>
"..."<br>
<br>
Gió mang nắng tràn thêm, oi. Thời gian lết rất chậm. Như màu nắng sẽ không bao giờ tan. <br>
<br>
Ed buông tay. Và lại cười. Tươi.<br>
<br>
"Xin lỗi! Heiderich!" Mắt hấp háy, cậu gãi gãi đầu "Mới ngủ dậy nên còn mớ ấy mà!" <br>
<br>
... diễn rất đạt.<br>
<br>
"Ai da! Đồ ăn nguội cả rồi!" Cậu cúi xuống khay thức ăn, ngửi nhẹ "Chắc anh đem lên lâu rồi hả? Tôi ngủ nhiều vậy sao?"<br>
<br>
<em>Giả dối!</em><br>
<br>
<br>
Anh bước nhanh đến, ôm cậu từ phía sau. Môi anh vụng về lướt trên làn da cổ. Nóng hổi và gấp gáp. Cậu đứng yên.<br>
<br>
Alfons đẩy cậu vào tường. Anh nhìn, bàn tay vuốt nhẹ trên môi. Run rẩy lắm, anh hôn. Cậu không nhắm mắt.<br>
<br>
... môi cậu tê ran... chưa từng như anh vẫn tưởng...<br>
<br>
Thứ gì đó vô nghĩa lắm thay, nhạt nhẽo đến mức anh thấy sợ hãi. Cậu lạnh. Chưa từng như anh vẫn tưởng. Nhưng không muốn buông ra...<br>
<br>
<em>Thương hại sao?</em><br>
<br>
Môi anh rời. Khẽ khàng, nhưng anh ôm cậu chặt. Thứ uỷ mị rẻ tiền.<br>
<br>
"Anh muốn gì ở tôi?" Tay cậu buông thõng, hình như câu nói quen quen. Cậu cũng chả nhớ, chỉ biết là đã từng nghe. <br>
<br>
"Tất cả."<br>
<br>
"Tất cả... là bao nhiêu thì đủ? Một đêm hay hai?" Chợt như có gì đó nhói lên, nhưng thoáng, cậu không rõ nữa. Cười bất giác. <br>
<br>
Da thịt cậu rát vì tay anh đang bấu chặt.<br>
<br>
"Tại sao vậy? Ed...?" Alfons run nhẹ. <br>
<br>
"Anh muốn..." Ed trở lại giường, trút từng chiếc cúc áo. "Tôi có thể cho. Để trả lại những thứ anh từng cho tôi..." <br>
<br>
"Đừng nói nữa!"<br>
<br>
... <br>
<br>
Cậu cười lớn. Tiếng cười khan và rát trong cuống họng. Xót lắm. Khiến nước mắt cậu muốn tràn. <br>
<br>
<em>Thương hại đến vậy sao?</em><br>
<br>
Anh ôm cậu lần nữa. Tay anh riết chặt, nhưng không phải để vỡ cậu ra. Như... chở che.<br>
<br>
"Đừng... Edward... đừng làm mình đau như vậy..." Dịu dàng từng tiếng thì thầm "Đừng…"<br>
<br>
<em>Thương hại đến vậy sao?</em><br>
<br>
Uỷ mị rẻ tiền.<br>
<br>
~*~ <br>
<br>
<em><span style="COLOR: purple">The ghost ship wanders far<br>
For there is no guiding star<br>
And this treasure has no meaning anymore<br>
</span></em><br>
<br>
~*~<br>
<br>
<span style="COLOR: green">"Nii-san! Anh lúc nào cũng vậy! Chẳng biết chăm sóc bản thân một chút nữa!"<br>
<br>
"Al..."<br>
<br>
"Anh ướt cả rồi. Thay áo đi, có nước nóng sẵn đấy, đi tắm ngay không lại cảm thì khổ."<br>
<br>
"Al..."<br>
<br>
"À, Colonel có gọi anh đấy. Hình như có chuyện gì đó muốn trao đổi riêng..."<br>
<br>
"..."<br>
<br>
"Hình như dạo này quan hệ giữa anh và Colonel tốt hơn trước nhỉ?"<br>
<br>
"... anh đi tắm đây."<br>
<br>
"Ừ."<br>
<br>
<em>...<br>
<br>
...xin lỗi... Al... anh xin lỗi...<br>
<br>
...</em><br>
<br>
..<br>
<br>
.<br>
<br>
"Anh nói dối." <br>
<br>
"Về cái gì?" Anh cười, hôn nhẹ lên cơ thể cậu đang run rẩy. Những thứ tội lỗi.<br>
<br>
"Tất cả." Cậu đưa tay che ngang mắt, môi cắn chặt. Anh lại bắt đầu... những thứ tội lỗi. "Tất cả..."<br>
<br>
Thoáng ngừng. Anh gạt tay cậu ra, bắt cậu phải nhìn vào anh. Mắt cậu vơi...<br>
<br>
"Đừng như vậy..." Cậu quay đi khi anh cúi xuống, nhưng anh đã giữ chặt "Ngay từ đầu... mọi thứ đã là dối trá..."<br>
<br>
Cậu bật khóc. Anh làm cậu đau. Cậu muốn mọi thứ chấm dứt. Ngay. <br>
<br>
"Tôi yêu cậu..." Anh thì thầm vào tai "... nếu đó là thứ cậu muốn nghe..."<br>
<br>
"Không! Dừng lại đi! Đủ rồi!" Nức nở, tội lỗi đầy vơi trong bóng tối. <br>
<br>
... vẫn là một ngày mưa...<br>
<br>
Những tội lỗi bị đổ đi và đổi chác.<br>
<br>
...<br>
<br>
... Là sai ... sao...?<br>
</span><br>
<br>
~*~<br>
<br>
Cậu không say. Men rượu hực lên nóng và khát. Cậu khát. Và uống. Lại càng khát. Không say.<br>
<br>
Buồn cười. Cái thứ cay và đắng ngắt này. Anh ta đã từng uống. Cậu đã từng bảo anh ta đừng uống. Và giờ cậu cũng uống. Buồn cười. <br>
<br>
<em>Nhớ quay quắt. Đau quay quắt. Thứ gì đó nhoà nhoạt viễn mộng.</em><br>
<br>
Nốc cạn. Vướng lại gì. Cái vị gắt gỏng gây nghiện và thoả mãn mau tan. Muốn nữa. Và lại nốc cạn.<br>
<br>
<em>Giả dối. Thương hại. Anh. Tôi. Anh ta. Trò đùa uỷ mị. Tội lỗi.</em><br>
<br>
Tiếng thuỷ tinh văng vào tường tan tành. Nát và nhỏ giọt. Màu cũng đỏ như máu. <br>
<br>
Giờ lại gì nữa đây... Đau...?<br>
<br>
Vì cái gì? <br>
<br>
Mọi thứ đều có giá trị tương đương, vậy đâu cái đổi chác cho cơn đau...?<br>
<br>
... chả có gì, neh?<br>
<br>
Thứ khao khát, thứ cần thiết, thứ muốn đoạt lấy... tất cả những thứ đó có là một...?<br>
<br>
<em>Tôi không cần anh!</em><br>
<br>
Cậu gạt đổ tất cả. Chúng vỡ tan thành vô vàn mảnh loang máu cay. Đỏ. <br>
<br>
Ngã xuống đất, đắng chát nghẹn ứ trong cổ. Muốn gào thét. Nhưng chẳng thiết nữa. Chuếnh choáng. Mờ đục trước mắt như sương. Thứ gì nóng rát mặc tình tuôn không ý thức. Nhoà lắm...<br>
<br>
<em>Tôi không cần anh!</em><br>
<br>
Thì đã sao...? Không cần quá nhiều để tồn tại. Một là đủ.<br>
<br>
<em>Al...</em><br>
<br>
Vậy... vì cái gì... đau...<br>
<br>
Quay quắt. Rượu lan thẫm. Như máu. Như đêm ấy. <br>
<br>
Chỉ không mưa. <br>
<br>
...<br>
<br>
~*~<br>
<br>
<span style="COLOR: green"><em><strong>Lại một chiều mưa...</strong></em><br>
<br>
Cậu tựa lưng vào thân cây. Mùi gỗ mục theo nước mưa tràn lan. Cánh ly trắng nát tan. Giữ trên tay thứ gì đó vô thường...<br>
<br>
Anh bên mộ anh ta. Mưa phủ kín anh. Sũng. Anh quỳ. Tay khẽ chạm vào bia đá. Và cào. Đoá huệ tây rũ mình. Khóc. <br>
<br>
Mưa lạnh cắt. Mưa mờ nhạt. <br>
<br>
Để cậu không biết ngực mình thắt lại, không phải vì cơn mưa...<br>
<br>
Để cậu không biết nước mắt chảy lan, không phải vì cơn mưa...<br>
<br>
Tiếng gì ngắt quãng như điệu mưa rơi. Không dám nói đó là tiếng khóc của ai.<br>
<br>
... nước tan...<br>
<br>
Bỏ lại cánh ly tả tơi.<br>
<br>
Bỏ lại anh ở đó.<br>
<br>
Bỏ lại cơn đau phù phiếm cậu không mang.<br>
<br>
Bỏ lại...<br>
</span><br>
~*~<br>
<br>
<em><span style="COLOR: purple">You know completely<br>
The taste of sin<br>
Melting sweet in your mouth<br>
Like chocolate<br>
<br>
A moment of pleasure<br>
You are fulfilled<br>
But every dream has its time<br>
To die<br>
</span></em><br>
~*~<br>
<br>
Anh bước vào. Cậu nằm trên sàn. Rã rời. Ánh mắt anh vơi. <br>
<br>
Anh đỡ cậu lên. Mùi men vang say nồng như mật cấm. Đỏ. <br>
<br>
Tay anh lau đi thứ mặn chát đọng trên mi cậu. Đôi mắt ngủ không chút bình yên. <br>
<br>
<em>Không thể chạm đến.</em><br>
<br>
Muốn cười. Nhưng chả thiết nữa. Mơ lắm quá rồi. Chạm tay vào môi. Hơi thở cậu khát đến bỏng. <br>
<br>
<em>Không dành cho ta...</em><br>
<br>
Nhưng vẫn muốn giành lấy. Anh cúi xuống. Ngọt và cay nghiệt hơn ly whisky. Tay anh quàng. Những ngón tay chảy tan trên làn da...<br>
<br>
Môi khát mềm. Vị độc tố. Tối che. Để anh không thấy... nước mắt ai đang tuôn...<br>
<br>
... tên ai trong cơn mê... không phải anh...<br>
<br>
~*~<br>
<br>
<em><span style="COLOR: purple">The ghost ship wanders far<br>
For there is no guiding star<br>
And this treasure has no meaning anymore<br>
<br>
Will this be my fate?<br>
</span></em><br>
~*~<br>
<br>
<span style="COLOR: green">"Al..."<br>
<br>
"Nani? Nii-san?"<br>
<br>
"Hát cho anh nghe bài hát ngày xưa mẹ vẫn ru..."<br>
<br>
"Huh? Sao tự nhiên anh lại muốn nghe?"<br>
<br>
"... ừ."<br>
<br>
<br>
Vị kim loại tê ran. Vị máu tê ran. Vị môi anh tê ran. Như nhau. <br>
<br>
<em>Không cần...<br>
<br>
Không khát khao...<br>
<br>
... chỉ là...</em><br>
<br>
<br>
Không biết.<br>
<br>
</span><br>
<br>
~*~<br>
<br>
Nắng lan. Cậu nằm dài trong nắng. <br>
<br>
Gì đó trống hoác và vô nghĩa lắm thay. Nhạt nhẽo đến mức làm nước mắt tuôn. Nhưng chẳng thiết giấu nữa. <br>
<br>
Alfons kéo cậu lên. Riết chặt. Vòng tay anh to và khít. Nó nóng. Làm cậu tan. <br>
<br>
... không thiêu cháy... chỉ tan...<br>
<br>
…<br>
<br>
<br>
<br>
"Đã đủ chưa?"<br>
<br>
"... chưa."<br>
<br>
"Anh cần bao nhiêu nữa?"<br>
<br>
"Mãi mãi."<br>
<br>
<br>
<br>
...<br>
<br>
Môi anh lại tìm. Cậu nhắm mắt. Lại chảy tràn.<br>
<br>
Môi anh mềm lắm... không như đôi môi cậu vẫn mong...<br>
<br>
... nhưng chẳng thiết nữa...<br>
<br>
...<br>
<br>
<br>
<br>
<br>
... đã không còn những ngày mưa. <br>
<br>
~*~<br>
<br>
<em><span style="COLOR: purple">So where do I sail?<br>
A ship losing control<br>
My cries swallowed up, lost in the raging sea<br>
<br>
So where has love gone?<br>
Will I ever reach it?<br>
The Cape of Storms echoes the pain I feel inside<br>
</span></em><br>
~*~<br>
<br>
<em><strong>Đâu đó xa xôi</strong></em><br>
<br>
Phòng vắng. Tuyết rơi. Lửa nhảy múa. Điệu vô thường.<br>
<br>
Anh ngồi. Thứ trong tay hắt mùi kim loại. Lạnh.<br>
<br>
<br>
...<br>
<br>
<em>"Anh đợi ai, Taisan?"</em><br>
<br>
...<br>
<br>
<br>
Thứ gì đó nhoà nhoạt viễn mộng. Thứ gì đó lướt trôi. Thứ gì đó... tê ran...<br>
<br>
Rơi.<br>
<br>
Chiếc đồng hồ trong tay. Vị men trên miệng. Đắng rát. Thứ uỷ mị rẻ tiền.<br>
<br>
Thôi.<br>
<br>
Cười khan.<br>
<br>
...<br>
<br>
~*~<br>
<br>
<br>
<strong>END.</strong><br>
<br>You’ll never notice<br>
The colour of sin<br>
Just as the storm clouds close in<br>
It’s dark<br>
<em>Ngày mưa xa</em><br>
<br>
Mờ mịt. Mưa và sấm. Mờ mịt. Đau và vỡ tan. Mờ mịt... tôi không biết... chỉ là mưa trong đêm...<br>
<br>
"AL! AL! TRẢ AL LẠI ĐÂY! AL! KHÔNG!!!"<br>
<br>
Cơn mộng đầu tiên. Tôi đã nghĩ mình có thể đến gần Chúa trời. Và đó là trừng phạt.<br>
<br>
"AL! AL! Mình không muốn như thế này... không phải như thế này... KHÔNG!!!"<br>
<br>
Quá muộn cho một sự trừng phạt. Mưa vẫn cứ rơi. Như chúng vẫn từng rơi. Đêm vẫn cứ trôi. Như vốn dĩ chúng đã trôi.<br>
<br>
...<br>
<br>
Tôi mất...<br>
Here in the shadows<br>
I am pursued<br>
Until the ends of the earth<br>
Embraced<br>
<em>Đâu đó xa xôi</em><br>
<br>
"Anh vì cái gì?" <br>
<br>
Những ngày mưa không ngừng ấy...<br>
<br>
"Vậy cậu vì cái gì?"<br>
<br>
... khắc nghiệt...<br>
<br>
<em>Từ lúc nào...? Hay đã luôn như vậy mà tôi không biết...? Anh...</em><br>
<br>
"Trả lời tôi, nếu có thể, rồi tôi sẽ nói cho cậu lí do." Anh cười, cay đắng mỉa mai thay. Cậu đã không nhìn vào mắt anh. <br>
<br>
<br>
<em>Anh có ghét những ngày mưa lắm không...?<br>
<br>
Mưa đã không rơi vào ngày <strong>anh ta</strong> ra đi, neh? <br>
<br>
Không có thứ để biện minh...? <br>
<br>
Lại cười. Vẫn mỉa mai.</em><br>
<br>
<br>
"Cậu muốn gì ở tôi?" Anh nắm cổ áo, kéo sát cậu vào gần. Hơi thở gấp gáp, lạnh ngắt mùi nước mưa hanh nồng. <br>
Anh hôn. Cậu nhắm mắt. Môi anh tê ran, chưa từng như cậu vẫn tưởng.<br>
<br>
<em>Tôi muốn gì ở anh...?<br>
Thứ tôi thật sự muốn... <br>
<br>
...Al...</em><br>
<br>
Anh luồn tay vào tóc ôm chặt. Cậu níu lấy áo anh, anh quỳ xuống, đẩy cậu sát nền cỏ ẩm tanh. Và xiết tay.<br>
<br>
"Đừng thương hại tôi." Vẫn cười. Mắt cậu sao rát. Môi anh lại tìm. Thứ uỷ mị rẻ tiền.<br>
<br>
<br>
<em>Thương hại sao?</em><br>
<br>
…<br>
<br>
Chưa bao giờ, dù chỉ một lần, mưa trong đêm lạnh buốt như thế.The ghost ship wanders far<br>
For there is no guiding star<br>
And this treasure has no meaning anymore<br>
"Nii-san! Anh lúc nào cũng vậy! Chẳng biết chăm sóc bản thân một chút nữa!"<br>
<br>
"Al..."<br>
<br>
"Anh ướt cả rồi. Thay áo đi, có nước nóng sẵn đấy, đi tắm ngay không lại cảm thì khổ."<br>
<br>
"Al..."<br>
<br>
"À, Colonel có gọi anh đấy. Hình như có chuyện gì đó muốn trao đổi riêng..."<br>
<br>
"..."<br>
<br>
"Hình như dạo này quan hệ giữa anh và Colonel tốt hơn trước nhỉ?"<br>
<br>
"... anh đi tắm đây."<br>
<br>
"Ừ."<br>
<br>
<em>...<br>
<br>
...xin lỗi... Al... anh xin lỗi...<br>
<br>
...</em><br>
<br>
..<br>
<br>
.<br>
<br>
"Anh nói dối." <br>
<br>
"Về cái gì?" Anh cười, hôn nhẹ lên cơ thể cậu đang run rẩy. Những thứ tội lỗi.<br>
<br>
"Tất cả." Cậu đưa tay che ngang mắt, môi cắn chặt. Anh lại bắt đầu... những thứ tội lỗi. "Tất cả..."<br>
<br>
Thoáng ngừng. Anh gạt tay cậu ra, bắt cậu phải nhìn vào anh. Mắt cậu vơi...<br>
<br>
"Đừng như vậy..." Cậu quay đi khi anh cúi xuống, nhưng anh đã giữ chặt "Ngay từ đầu... mọi thứ đã là dối trá..."<br>
<br>
Cậu bật khóc. Anh làm cậu đau. Cậu muốn mọi thứ chấm dứt. Ngay. <br>
<br>
"Tôi yêu cậu..." Anh thì thầm vào tai "... nếu đó là thứ cậu muốn nghe..."<br>
<br>
"Không! Dừng lại đi! Đủ rồi!" Nức nở, tội lỗi đầy vơi trong bóng tối. <br>
<br>
... vẫn là một ngày mưa...<br>
<br>
Những tội lỗi bị đổ đi và đổi chác.<br>
<br>
...<br>
<br>
... Là sai ... sao...?<br>
<em><strong>Lại một chiều mưa...</strong></em><br>
<br>
Cậu tựa lưng vào thân cây. Mùi gỗ mục theo nước mưa tràn lan. Cánh ly trắng nát tan. Giữ trên tay thứ gì đó vô thường...<br>
<br>
Anh bên mộ anh ta. Mưa phủ kín anh. Sũng. Anh quỳ. Tay khẽ chạm vào bia đá. Và cào. Đoá huệ tây rũ mình. Khóc. <br>
<br>
Mưa lạnh cắt. Mưa mờ nhạt. <br>
<br>
Để cậu không biết ngực mình thắt lại, không phải vì cơn mưa...<br>
<br>
Để cậu không biết nước mắt chảy lan, không phải vì cơn mưa...<br>
<br>
Tiếng gì ngắt quãng như điệu mưa rơi. Không dám nói đó là tiếng khóc của ai.<br>
<br>
... nước tan...<br>
<br>
Bỏ lại cánh ly tả tơi.<br>
<br>
Bỏ lại anh ở đó.<br>
<br>
Bỏ lại cơn đau phù phiếm cậu không mang.<br>
<br>
Bỏ lại...<br>
You know completely<br>
The taste of sin<br>
Melting sweet in your mouth<br>
Like chocolate<br>
<br>
A moment of pleasure<br>
You are fulfilled<br>
But every dream has its time<br>
To die<br>
The ghost ship wanders far<br>
For there is no guiding star<br>
And this treasure has no meaning anymore<br>
<br>
Will this be my fate?<br>
"Al..."<br>
<br>
"Nani? Nii-san?"<br>
<br>
"Hát cho anh nghe bài hát ngày xưa mẹ vẫn ru..."<br>
<br>
"Huh? Sao tự nhiên anh lại muốn nghe?"<br>
<br>
"... ừ."<br>
<br>
<br>
Vị kim loại tê ran. Vị máu tê ran. Vị môi anh tê ran. Như nhau. <br>
<br>
<em>Không cần...<br>
<br>
Không khát khao...<br>
<br>
... chỉ là...</em><br>
<br>
<br>
Không biết.<br>
<br>
So where do I sail?<br>
A ship losing control<br>
My cries swallowed up, lost in the raging sea<br>
<br>
So where has love gone?<br>
Will I ever reach it?<br>
The Cape of Storms echoes the pain I feel inside<br>
