<div align="center">
<strong>Gender</strong>: Dark - Shounen ai – Maybe Horror.<br><br><br>
<br><br><br>
</div>

~*~<br>
<br>
<em>Mặt đất hẫng sâu và đen thẳm dưới chân cậu. Ngàn ảo giác vụt qua trong mắt cậu một phần nghìn tích tắc, làm cậu ngợp ngụa và cuồng loạn. Rồi chúng cháy sáng lên, nuốt chửng cậu bởi sắc trắng mông lung huơ hoác. Rồi cậu mất đi. Nơi cánh cửa chực mở.<br>
<br>
Một bàn tay bé nhỏ chìa ra từ phía sâu màn đêm của cánh cửa. Cậu ngần ngại chau mày, nó vẫn giơ ra kêu gọi. Khoảnh khắc, cậu đưa tay... Cái xiết chặt lạnh ngắt. Cậu chuếch choáng và bị lôi tuột. Hai lòng thế giới hoán đổi, ánh sáng hoán đổi màu đêm. Cậu rơi qua phía bên kia. Màu lóa vàng vẫn ngập đầy ngột ngạt. Chậm, cánh cửa khép. Cậu ngoảnh mặt nhìn lại... ánh mắt nở ra kinh hoàng...<br>
<br>
... một cơ thể đang vùng vẫy trong hàng mớ những bàn tay nhỏ xíu đen ngòm... một mái tóc vàng bị lôi vào giữa những tràng khúc khích ám ảnh... một đôi mắt mở to nhìn cậu đầy phẫn nộ...<br>
<br>
<br>
"... quân ăn cắp!" <br>
<br>
Làn môi mím chặt đó mấp máy. Tai và mắt cậu đồng thời mất đi khả năng tiếp nhận. Cậu ôm lấy đầu, sáng mỗi lúc một chói nhòa, Edward bị kéo ra xa... <br>
<br>
… nhưng đủ chậm để cậu nhìn thấy…<br>
<br>
... <strong>chính là "mình" phía trong cánh cửa.</strong></em><br>
<br>
~*~<br>
<br>
<strong><em>Boong! Boong! Boong...!</em></strong><br>
<br>
Cậu bừng tỉnh. Tiếng búa nện vào thanh chuông của chiếc đồng hồ quả lắc rên dài đủ 3 tiếng. Chỉ mới 3 giờ khuya. <br>
<br>
Edward nhận ra mình vừa có một cơn chiêm bao tồi tệ. Đưa tay gác lên trán, cậu thở hắt ra đầy nặng nhọc. Ánh sáng mù mờ từ cây đèn ngủ hắt một góc phòng khiến mọi vật u ám đến rợn. Liếc mắt một dọc quanh, Ed ngồi dậy. Cậu nhìn qua cửa sổ phòng mình, trời đêm Munich mang một không khí lạnh kì lạ, nhất là những ngày cuối thu. Cùng với ý nghĩ đó là một làn gió lạnh đến dựng người lùa qua khe cửa rít lên, Ed rùng mình. Chắc là đêm nay cậu không thể ngủ lại. Ed khoác chiếc áo mỏng vào người, rồi mở cửa bước xuống nhà. Một ly cà phê nóng có lẽ sẽ giúp cậu tỉnh táo hơn. <br>
<br>
Làn nước lạnh chạm vào làm da mặt căng ra. Cậu vuốt mặt, luồn tay ra phía sau cột lại mái tóc giờ đã dài ngang lưng. Nhiều lần cậu đã bảo mình phải cắt nó đi, nhưng rồi cậu lại quên mất đi và dần dà cũng không còn để tâm nữa. Ngoài ra, còn một lí do...<br>
<br>
<br>
<br>
<em>"Đừng cắt! Để thế này trông cậu đẹp hơn!" Alfons cười nhẹ, cầm lấy đuôi tóc cậu lắc lắc, Ed phùng má giật nó khỏi tay anh.<br>
<br>
"Chả đứa con trai nào vui khi nghe nói mình đẹp khi để tóc dài đâu!" Cậu quay mặt đi, vác cái giỏ lên vai mở cửa bước ra, Alfons nhanh chóng theo sau cậu, vẫn mỉm cười nhìn cái đuôi tóc vàng lắc qua lắc lại trước mắt một cách khó hiểu.<br>
<br>
"Cậu thật dễ thương! Như con cún con!"<br>
<br>
"NANI!? ĐỦ RỒI NHÁ!!! ANH LẠI XỎ XIÊN TÔI NHỎ CON NỮA PHẢI KHÔNG!?" <br>
<br>
Rồi vẫn cái viễn cảnh mỗi khi, Alfons ôm đầu chạy trước, bật cười khanh khách, phía sau là Ed-bé-nhỏ đỏ mặt tía tai rượt theo với những món đồ trên tay thi nhau phi về phía cậu trai kia. Khởi đầu một ngày mới là vậy.</em><br>
<br>
<br>
<br>
Mải nghĩ, cậu để nước trong bồn tràn ra và chảy xuống đất. Giật mình, cậu vội vặn khoá. Tay cậu nhấn trong bồn rửa mặt, giật nút chặn đáy bồn, nước nhanh chóng tháo ra ngoài... chợt...<br>
<br>
... thứ gì lạnh ngắt đặt lên cổ cậu... mềm...<br>
<br>
Ed cứng người khi nhìn vào gương... là một bàn tay... chờn vờn... trắng muốt...<br>
<br>
"... ăn cắp..."<br>
<br>
Giọng nói thì thào âm âm. Ed thấy hơi thở mình đông cứng lại, rát khô dưới cổ họng. Cậu mở to mắt, những hình ảnh nhập nhoạng từ cơn mộng tràn về khiến cậu run rẩy... bàn tay chợt xiết chặt...<br>
<br>
"KHÔNG!!!!!"<br>
<br>
Cậu hét lên...<br>
<br>
<br>
<em><strong>Boong!Boong!Boong...!</strong></em><br>
<br>
Cậu bừng tỉnh. Tiếng búa nện vào thanh chuông của chiếc đồng hồ quả lắc rên dài đủ 3 tiếng. Chỉ mới 3 giờ khuya.<br>
<br>
Tay nắm chặt tấm chăn phủ, Ed hớp vội từng ngụm không khí đặc sệt cái lạnh của một đêm cuối thu Munich. Mồ hôi tuôn ướt đẫm người cậu, làm tóc cậu bết vào trán. Uể oải ngồi dậy, Ed co người gục đầu vào tay gác trên gối. Gió đêm lùa khe cửa, vờn bỡn tấm lưng trần sượt mồ hôi. Bên cạnh cậu, Alfons vẫn ngủ ngon, một tay anh vòng qua ôm lấy hông Ed. Cậu khẽ lắc đầu khiến mái tóc xõa dài lung lay, Ed trấn tĩnh mình. Rốt cuộc đó chỉ là một cơn chiêm bao tồi tệ. <br>
<br>
Hững hờ, Ed luồn bàn tay mình vào bàn tay Alfons, khẽ xiết lại. Tay anh luôn to và ấm. Cậu cười vu vơ, nhìn gương mặt say ngủ hạnh phúc kia, cảm thấy mọi thứ dịu đi nhanh chóng, cả cơn mơ ám ảnh kia. <br>
<br>
"Cậu thức đấy à?"<br>
<br>
Giọng nói ấm áp chợt vang lên, Ed ngạc nhiên:<br>
<br>
"Alfons? Không phải anh đang ngủ sao?"<br>
<br>
"Ừ, thì đang ngủ." Alfons lồm cồm ngồi dậy "Nhưng tại có ai đó véo tay tôi một cái rõ đau điếng nên mới giật mình dậy đây..."<br>
<br>
"Láo! Ai véo tay anh hồi nào!" Edward câng mặt lên cãi lại "Tôi mới có cầm tay anh một tí mà đã..."<br>
<br>
"À! Vậy ra không phải véo mà là véo yêu..." Alfons vẫn tiếp tục với cái giọng bỡn cợt. Cậu nhóc tóc vàng gõ cốp lên trán anh.<br>
<br>
"Anh phỡn tôi đấy hử!?"<br>
<br>
"Ui da! Cái tay đó của cậu bằng sắt đó! Vỡ đầu tôi mất!" Nhăn nhó một cách khổ sở giả tạo, anh mếu máo ôm trán.<br>
<br>
"Mặc xác anh! Đi chết luôn đi!" <br>
<br>
Cậu bực bội nằm vật xuống giường trở lại, nép sát mép giường và giật chăn trùm kín mít. Heiderich cười và gãi gãi mũi, rồi anh kéo Ed nắm ngửa ra, chống tay để nhìn thẳng vào cậu. Ánh đèn ngủ lờ mờ hắt lên gương mặt cậu một sắc kì lạ, Alfons luồn tay xuống dưới tóc cậu, mân mê.<br>
<br>
"Cậu đẹp lắm, Edward."<br>
<br>
"Tôi đã nói với anh là đừng bao giờ..."<br>
<br>
Ngón tay anh đặt lên môi cậu, Ed bỏ dở câu nói. Ánh nhìn xanh của anh trong đêm càng trở nên sâu thẳm, nó nhấn cậu chìm vào đại dương vô cùng. Êm ái, tay anh đỡ lấy má cậu, ôm và vuốt nhẹ. Rồi môi cậu nở ra, và mắt cậu từ từ khép...<br>
<br>
Cái chạm nhẹ nhưng sâu. Vòng tay anh kéo lưng cậu áp vào người, Ed ghì lấy cổ anh để cảm nhận sức nóng cơ thể anh đang lấn dần màn đêm lạnh buốt. Những cái hôn trải dần xuống cổ, gấp gáp hơn...<br>
<br>
"Tôi yêu cậu, Ed..."<br>
<br>
"...Alfons..."<br>
<br>
"Tôi yêu cậu. Cậu thật đẹp..." Chợt, tay anh bấu mạnh xuống vai trái khiến cậu run lên vì đau. Alfons vẫn ghì cậu chặt.<br>
<br>
"Cậu rất đẹp... Edward..." Ed giật mình khi nhận ra lưỡi anh chạm vào da thịt. Chưa bao giờ Alfons làm như vậy... bất giác, nhưng cái gì đó tương tự nỗi sợ hãi trùm lấy cậu.<br>
<br>
"Alfons...?"<br>
<br>
"Cậu... rất giống cậu ta..." <br>
<br>
Tất cả trong cậu như vỡ nát. Cơn đau kì lạ từ đâu bùng lên, xâu xé từng tế bào cơ thể. Cậu ôm lấy tay và co người lại, thở nặng nhọc vì không khí không vào tới phổi. Ed vươn tay nắm lấy Alfons, cậu đau, và cần anh giúp. Nhưng tại sao...<br>
<br>
"... cậu là kẻ cắp..."<br>
<br>
Trong bóng sáng mù mờ ẩn hiện, ánh mắt của anh như lưỡi dao mỏng tanh rạch ngọt. Heiderich phía trên cậu, ngẩng mặt nhìn xuống Ed đang đau đớn với vẻ mặt lạnh tanh không chút xúc cảm. Edward thấy như đất trời quay cuồng, cơn đau lẫn cái nhìn của anh nhấn cậu xuống sâu, sâu... tối thẳm và ngợp.<br>
<br>
"... kẻ cắp..."<br>
<br>
Mắt cậu nhoè, nước mắt chảy ra nhòa nhạt mọi thứ... Nhưng hình như... cậu đã thấy sau lưng anh một bóng hình ai đó... với cái nhìn căm phẫn cùng nụ cười độc ác...<br>
<br>
... cái nhìn cậu đã gặp phía trong cánh cửa...<br>
<br>
<br>
<br>
<br>
<br>
<strong>"ARG!!!!!!!!!!"</strong><br>
<br>
<br>
<em><strong>Boong! Boong! Boong...!</strong></em><br>
<br>
Cậu bừng tỉnh. Tiếng búa nện vào thanh chuông của chiếc đồng hồ quả lắc rên dài đủ 3 tiếng.<br>
<br>
Chỉ mới 3 giờ khuya.<br>
<br>
~*~<br>
<br>
"Này Ed, đêm qua cậu ngủ tệ lắm à?" Nhai ngồm ngoàm miếng bánh mì, đồng thời tọng thêm một mớ xúc xích vào miệng, Heiderich hỏi cậu với vẻ mặt của đứa trẻ tò mò hết cỡ "Tôi nghe cậu thét không dưới 3 lần đấy! Sao thế, gặp ác mộng à?"<br>
<br>
Ed mệt mỏi ngáp dài, uể oải cầm ly nước quả của mình lên nhấp môi một cái lấy lệ rồi lại nằm dài ra trên bàn.<br>
<br>
"Ờ~~..." Cậu dài giọng "Tồi tệ! Báo hại cái đầu tôi hôm nay nhức muốn bể!" và đưa tay gõ vào trán mình côm cốp.<br>
<br>
Alfons nuốt nhanh mớ thức ăn trong miệng, vớ lấy ly sữa [vì Ed không uống sữa nên mới phải uống nước quả <img style="VERTICAL-ALIGN: middle" alt="biggrin.gif" src="http://vnfiction.com/thepast/style_emoticons/new/biggrin.gif" border="0">] uống một hơi, rồi anh kéo khăn ăn để lên bàn, vòng qua chỗ Ed.<br>
<br>
"Để tôi xem..." Anh vật Ed đứng dậy - tất nhiên là gặp không ít lời càu nhàu của cậu nhóc - và áp trán mình vào trán cậu. "Ây, cậu nóng đấy! Tốt nhất hôm nay cậu nên ở nhà, tôi sẽ nói với mọi người..."<br>
<br>
"Thôi!" Cậu đẩy anh ra, và loạng choạng suýt ngã [nhưng tất nhiên là không ngã vì đã có Alfons đỡ] "Lúc này tôi không nên vắng mặt, dù gì mỗi tuần cũng chỉ có một lần họp nhóm..."<br>
<br>
"Cậu thế này mà còn đòi đi hả?" Vẫn với Ed trong tay, Alfons chọt ngón tay vào giữa trán cậu đẩy đẩy "Đứng còn không nổi nữa là... Tôi không muốn mang tội với giáo sư Hohemheim đâu!"<br>
<br>
"Tôi đã nói là không sao!" Bướng bỉnh, cậu đẩy tay Alfons ra và nhào khỏi người anh. Xăm xăm bước ra cửa, cậu vươn tay lấy cái áo khoác của mình trên giá, mặc vào, xách cặp.<br>
<br>
"Tôi đi trước!" Ed hét vọng vào nhà "Chào chị Gracia!" Và quay sang hàng hoa kế bên.<br>
<br>
Cửa sập lại. Alfons nhìn theo, thở dài. Ed đúng là một thằng nhóc cứng đầu khó bảo! Lúc nào cậu ta cũng thích cãi lại anh. Nhanh chóng, heiderich cũng gom sách vở của mình, mặc áo khoác vào rồi chạy vội ra, sợ Edward sẽ đi mất.<br>
<br>
"Chào chị Gracia! Cám ơn vì bữa sáng tuyệt vời!" Anh mỉm cười nhìn cô gái hàng xóm tóc nâu khả ái, cô ấy cũng mỉm cười trở lại.<br>
<br>
"Ừ. Edward đi hướng đó kìa! Nhanh lên kẻo mất dấu!" Gracia chỉ tay và nháy mắt với cậu thanh niên kia. Alfons gãi đầu bẽn lẽn.<br>
<br>
"Cảm ơn chị... EDWARD!!! CHỜ TÔI VỚI NÀO!!!"<br>
<br>
Và hết sức có thể, anh chạy như bay theo cái bóng nho nhỏ đang sải dài chân trên con đường sớm còn ẩm sương đêm. <br>
<br>
Ngày mới.<br>
<br>
~*~<br>
<br>
Đầu cậu đau như búa bổ. Không đến một chữ bẻ đôi những người kia đang nói có thể len lỏi vào cái mớ lộn xộn lùng nhùng trong óc cậu. Ed cố gắng tỏ ra bình thường, nhưng có vẻ khuôn mặt ướt sượt mồ hôi của cậu không phải là biểu hiện cho một người đang khoẻ mạnh cho lắm.<br>
<br>
"Ed! Edward!" Alfons khe khẽ kêu và đẩy tay cậu "Cậu không ổn rồi à? Đã bảo hồi sáng ở nhà mà không nghe..."<br>
<br>
Ed không còn đủ sức để cãi nữa. Cậu ôm lấy trán và bắt đầu thở nặng nhọc. Heiderich lắc đầu, quay sang nói nhỏ với người bên cạnh:<br>
<br>
"Này, bảo với trưởng nhóm là bọn này về trước. Tôi phải mang Edward về thôi, cậu ta sắp ngất tới nơi rồi này!"<br>
<br>
"Hả? Ừ! Vậy thì mau đi đi!" Cậu trai tóc nâu kia nhăn răng cười vẻ gian trá "Lo mà chăm sóc cho *người yêu bé nhỏ* của cậu cẩn thận vào..." <br>
<br>
"Khỉ! Tôi giết cậu đấy!" Anh cốc đầu tên bạn trời đánh kia một cái, rồi khoác tay Ed lên vai, dìu cậu ra ngoài.<br>
<br>
"Chúng tôi về trước!"<br>
<br>
"Tạm biệt!"<br>
<br>
~*~<br>
<br>
<em>Cậu bước đi. Bên dưới không gì hơn là bể sâu đen thẫm. Những bàn tay chen chúc nhau, cố gắng bấu víu cho mình một vật sống thế mạng. Ed liếc nhìn, rồi lại bước đi. Chưa bao giờ cậu cảm thấy mình lạnh lùng và vô cảm hơn.<br>
<br>
Xa xa, tiếng trẻ con chơi đùa lọt vào tai cậu, văng vẳng tựa hồ từ cõi mông lung. Cậu nghiêng mái đầu, lặng nghe. Đôi chân vô thức dẫn cậu đuổi theo tiếng cười ấy. Bước đi không còn hẫng nhẹ, dần dần mặt đất lạnh ngắt, cưng cứng, nhơn nhớt dưới chân cậu. Thứ nước gì đó ràn rụa đổ ngập qua vai, tanh lòm chảy lan. Cậu không nhìn. Không muốn nhìn. Nhịp chân dồn dập hơn, cậu chạy. Tiếng cười mỗi lúc càng rõ ràng hơn, lớn hơn... Cậu thấy vầng sáng ở phía cuối đường. Bóng một đứa trẻ đứng trong màu trắng đến lạc lõng giữa bóng đêm.<br>
<br>
Chợt, cậu ngã quỵ. Thứ gì đó mất đi trên cơ thể cậu. Cánh tay phải và chân trái. Nhanh chóng, những bàn tay nhấn cậu xuống. Chìm. Sâu. Đứa trẻ ấy quay nhìn về phía cậu, môi nó nở một nụ cười kì lạ. Và, nó bước đến gần hơn, hai tay để sau lưng, như giấu một thứ đồ chơi nào đó.<br>
<br>
"Chào. Kẻ cắp." Nụ cười nở rộng hơn trên môi, đứa trẻ ấy cúi xuống. Cậu mở to mắt, mái tóc vàng của đứa trẻ rũ xuống che mất nửa khuôn mặt nó.<br>
<br>
"Ta có quà cho ngươi." Từ từ, cánh tay phải phía sau lưng nó chìa ra trước, đặt xuống trước mặt cậu...<br>
<br>
... thứ cảm xúc lẫn lộn khó tả trào lên trong cậu, khiến cậu buồn nôn và ngộp thở... cậu la lên. Nhưng tiếng nói nghẹn ứ dưới cổ, chỉ có nước mắt và những âm thanh ú ớ vô nghĩa bật ra khỏi vành môi.<br>
<br>
... là gương mặt Alphonse trước mặt cậu, với khoé môi rỉ máu...<br>
<br>
Cậu lại bị lôi tuột đi. Đứa trẻ ấy nhìn, cười như cách nó thấy một con bướm đang bị kiến tha. <br>
<br>
"Kẻ cắp. Đó là lỗi của ngươi. Đánh cắp mọi thứ của ta." <br>
<br>
Ánh nhìn nó đột nhiên lạnh ngắt và tàn nhẫn. Nó đứng dậy, lùi ra xa. Chờ cho đến khi cậu bị nhấn chìm hoàn toàn... và vẫn cười...<br>
<br>
"Đồ ăn cắp!"<br>
<br>
...<br>
</em><br>
<br>
~*~<br>
<br>
<strong>Xoảng!</strong><br>
<br>
Alfons giật mình. Có tiếng đổ vỡ từ phòng của cậu. Vội vàng, anh bỏ dở nồi cháo đang nấu để chạy lên xem có chuyện gì. Đập vào mắt Alfons là một cảnh tượng khiến anh toát mồ hôi. Ed đang cố làm một việc gì đó giống như dùng những mảnh sành vỡ để rạch vào người mình. Anh bước đến giật nó khỏi tay cậu, đẩy cậu lại xuống giường, giận dữ:<br>
<br>
"Cậu đang cố làm cái trò quái gì thế hả!?"<br>
<br>
Ed nhìn anh, đôi mắt không chút thần sắc tuôn nước liên tục. Anh cau mày, chưa bao giờ anh thấy cậu ta như thế. Rồi bỗng nhiên, Ed chớp mắt một cái và như bừng tỉnh. Cậu vồ lấy cổ anh, ôm chặt. Không hiểu vì sao, Alfons thấy mặt mình nóng bừng.<br>
<br>
"E...Ed...? Gì vậy?" Anh bối rối đưa tay lên, nửa muốn ôm lại cậu ta, nửa lại không dá.<br>
<br>
"Một chút thôi... Làm ơn..." Cậu rúc đầu vào vai anh, giọng ngắt quãng như sắp vỡ ra. Ngần ngại, anh vuốt nhẹ lên tóc cậu. Đúng là nó mượt như anh vẫn nghĩ.<br>
<br>
Ed buông anh ra. Gương mặt cậu ta lại mang cái vẻ sắt đá nghiêm túc như mọi khi. Alfons hiểu là anh không nên đề cập thêm về chuyện vừa xảy ra. Anh hỏi cậu khi cúi xuống lượm mấy mảnh vỡ dưới sàn:<br>
<br>
"Cậu thấy khỏe hơn chứ? Có muốn ăn một ít cháo không?" <br>
<br>
Cậu khẽ gật đầu, quay mặt nhìn ra ngoài cửa sổ. Mái tóc dài xõa ra phủ hết, khiến anh không thể biết đôi mắt cậu đang nhìn gì bên ngoài nơi ấy. Thở dài, anh bước ra cửa...<br>
<br>
"Alfons?"<br>
<br>
"Huh?" Anh khựng lại khi nghe tiếng cậu gọi "Chuyện gì?"<br>
<br>
"... ngày mai, anh có thể dẫn tôi đến nhà thờ không?"<br>
<br>
"Neh? Cậu? Muốn đến nhà thờ?"<br>
<br>
"... Ừ."<br>
<br>
...<br>
<br>
Cảm xúc kì lạ chảy trong anh khi nhìn cậu từ sau khe cửa khép hờ. Nắng đông mỏng manh lắm, chạm vào da thịt cậu cũng là thứ mỏng manh xa vời. Anh bất giác cười buồn. Cậu luôn như vậy. Nhốt mình trong một vòng tách biệt mỏnh manh trong suốt, chứa đựng tất cả cho riêng mình, đau đớn tất cả một nỗi đau riêng lạc loài. Như loài nhộng xây kén rồi không thể hoá thân ở chốn xa lạ. Nếu kén vỡ, con nhộng sẽ chết. <br>
<br>
Anh không muốn phá vỡ cậu.<br>
<br>
<br>
<br>
Cửa khép lại. Đóng thế giới của cậu vào màn ngăn nơi anh không thể chạm vào.<br>
<br>
~*~<br>
<br>
Edward ngước nhìn. Chuông trên tháp nhà thờ vang dài tiếng cầu hồn. Hôm nay tuyết đã rơi. Lạnh ngắt nơi thánh đường vắng. Tượng Chúa ngủ ngàn năm trên thập giá làm cậu muốn cười. Những con người nơi đây cũng bịa ra những thứ thế này để tin tưởng, không khác mấy ở nơi của cậu.<br>
<br>
"Nói thử xem, Heiderich, liệu tôi có được quỷ sứ mời theo khi cười nhạo Đứa Chúa ngay tại thánh đường của ông ta?"<br>
<br>
"Ây..." Alfons gãi đầu cười ngu ngơ "Tôi theo chủ nghĩa vô thần,Edward."<br>
<br>
Cậu bật cười khanh khách. Âm thanh tan nhanh vào tiếng thở lặng im của những vật chất trắng muốt bên ngoài đang chết. <br>
<br>
Lại im.<br>
<br>
<br>
"Phải chăng có những thứ không thể tồn tại song song?"<br>
<br>
"Sao cơ?" Anh lơ đãng hỏi lại<br>
<br>
"Tại sao phải có thứ mất mát để có thứ khác tồn tại?"<br>
<br>
"..."<br>
<br>
<br>
<em><span style="COLOR: blue">...Để có cậu, tôi phải mất gì đây...?</span></em> <br>
<br>
Heiderich cười khẩy với ý nghĩ ngốc nghếch vừa thoáng sang. Con người là vậy. Thích mơ tưởng thứ mình dù biết là không thể...<br>
<br>
<br>
Chuông đã không ngân từ nãy giờ.<br>
<br>
Anh đứng dậy, bước đến bên cậu.<br>
<br>
"Chúng ta về thôi. Trời đã tối và tuyết sẽ rơi dày đó."<br>
<br>
"...ừ."<br>
<br>
<br>
Cậu im lặng bước đi trước. Tuyết vương vào mái tóc vàng, trông như sáng lên bởi màu sáng tóc cậu. Cậu lượm một cành cây đưới đất, ngồi xuống và vẽ lên tuyết một vòng tròn kì lạ. Anh tò mò cúi nhìn. Vẻ mặt cậu chợt sáng lên khi làm việc đó, cậu hoàn thành nó và vui vẻ vỗ hai tay vào nhau, đập xuống đất.<br>
<br>
"Hey! Chuẩn bị xem điều kì diệu nè!" <br>
<br>
<br>
Tuyết vẫn rơi. Lặng lẽ. Cậu chờ... <br>
<br>
...<br>
Ed xăn tay áo lên, vỗ tay thêm một cái nữa thật mạnh, và lại đập xuống đất.<br>
<br>
"Lại nè! Yah!"<br>
<br>
...<br>
Vẫn chỉ có tiếng thở nhẹ của màu trắng ngập dần. <br>
<br>
Tiếng vỗ tay lại vang lên. Nhiều lần nữa. Anh đứng nhìn. Có gì siết chặt nơi ngực anh. Cậu lặp lại những điều đó. Nhưng vẫn...<br>
<br>
"Ah!" Cậu đứng dậy, khịt mũi "Xem ra tôi ngốc thật rồi! Alfons! Xin lỗi vì đã để anh phải chờ trong thời tiết tồi tệ này! Ta về thôi!"<br>
<br>
Và cậu quay lưng. Chưa bao giờ, anh cảm thấy cậu nhỏ bé hơn, giữa ngàn hạt màu trắng tơi rơi vô thức. Tấm lưng ấy, anh thấy nó gánh sau những điều đen tối tồi tệ mà không ai có thể tưởng tượng...<br>
<br>
Cậu bước lên xe. Anh ngập ngừng. Ánh mắt cậu hướng nhìn anh, trong suốt. Tay anh mất ý thức, đặt lên má cậu. Anh nhận ra cậu ngạc nhiên thế nào. Chầm chậm, anh kéo cậu vào lòng anh, đặt lên trán cậu cái hôn vụng về...<br>
<br>
"Al...fons...?"<br>
<br>
<em><span style="COLOR: blue">Lạy Chúa. Thứ mất mát gì ngài sẽ lấy nơi tôi?</span></em><br>
<br>
Môi anh không kiềm giữ, tìm đến cậu và nuốt chửng. Edward sợ hãi đẩy Alfons ra. Cậu không muốn một mối quan hệ như thế này... cậu không muốn một sự ràng buộc...<br>
<br>
Tay anh thô bạo nắm lấy tay cậu, giữ chặt. Mọi thứ trả giá, anh mặc kệ. Anh cần Edward. Anh không muốn cậu lại vụt qua... <em><strong>một lần nữa</strong></em>...<br>
<br>
"Đừng! Tôi không muốn như thế này..." Cậu van nài khi Alfons kéo dần tấm áo sơ mi khỏi người cậu "Alfons..."<br>
<br>
"Tôi không muốn mất cậu thêm, Ed..."<br>
<br>
<br>
... tuyết rơi rất dày... <br>
<br>
Ed đã biết, từ đêm ấy, sẽ là cơn mộng triền miên không hồi kết nơi đây.<br>
<br>
~*~<br>
<br>
"Tôi yêu cậu. Ed."<br>
<br>
Vẫn là tay anh vuốt trên tóc cậu. Mùi xác thịt vương trên gối chăn. Tối om và run rẩy.<br>
<br>
"Edward..."<br>
<br>
Lại môi anh. Cậu không biết. Hạnh phúc...? Phù du lắm không cho một giấc mơ...?<br>
<br>
"Alfons..."<br>
<br>
~*~<br>
<em>Cậu ta nhìn cậu đầy giận dữ. Đoá bồ công anh trong tay cậu ta tả tơi thành từng mảng chết trôi trôi. Đôi môi ấy mím chặt.<br>
<br>
Đó là đứa trẻ hôm trước.<br>
<br>
"Đồ ăn cắp! Ngươi là đồ kẻ cắp xấu xa!" Cậu ta bước lại phía Edward. Mái tóc dài xổ ra bay bay. <br>
<br>
Cậu sợ hãi lùi dần, chân cậu chạm phải mép vực. Bên dưới, vẫn là những bàn tay đen chầu chực ăn sống. <br>
<br>
"Ngươi lấy tất cả của ta! Cuộc sống đó! Thân xác đó! Và cả <strong>anh ta</strong>!"<br>
<br>
Cậu không hiểu. Cậu ta đang nói gì vậy? Tại sao cậu ta luôn bảo cậu là kẻ cắp? Cậu đã làm gì sai?<br>
<br>
"Tất cả là do ngươi! Tất cả! Hãy trả nó lại đây...!" Bàn tay cậu ta trắng bệch và lạnh ngắt, nó xiết chặt cổ cậu. Ed nhanh chóng thấy mình bị nhấc bổng và khó thở.<br>
<br>
"...ar...g..."<br>
<br>
"Ngươi đi đi! Trả lại nó cho ta! Trả anh ta cho ta! CHẾT ĐI!!!"<br>
<br>
"Không..."<br>
<br>
Vành môi cậu ta kéo thành cái cười man dại. Qua mái tóc dài, ánh mắt ấy long lên vẻ căm hận tột độ. Tay cậu cố vươn tìm thứ gì đó níu giữ, nhưng tất cả vụt qua...<br>
<br>
<br>
<br>
… và cậu rơi. Chìm. Sâu.<br>
<br>
…<br>
<br>
…<br>
<br>
~*~<br>
<br>
[i]<strong>Boong!Boong!Boong!</strong></em><br>
<br>
Chuông đồng hồ đánh ngân. Edward uể oải mở mắt. Nắng yếu ớt rọi vào phòng qua lớp tuyết phủ dày trên bệ cửa. Cậu cảm thấy lạnh. Phủ trên cậu lúc này chỉ có tấm chăn vắt ngang người. <br>
<br>
Đây là phòng Alfons. Cậu vẫn nhớ những điều đã xảy ra tối qua. Thoáng, cậu muốn phải chăng đó chỉ là cơn mơ như mọi khi. Nhưng không thể…<br>
<br>
Anh quàng lấy vai cậu, xiết vào người, thì thầm:<br>
<br>
"Chào buổi sáng. Edward. Cậu ngủ ngon chứ?"<br>
<br>
Alfons hôn nhẹ lên má cậu. Ed cảm thấy cồn cào lạ. Anh bắt đầu đẩy cậu ra và tiếp tục...<br>
<br>
"Đừng như vậy, Alfons! Đã sáng rồi..." Cậu cố né những động chạm gần gũi nơi anh.<br>
<br>
"Tôi không muốn cậu chạy thoát nữa, Ed-kun..." Giọng anh đùa giỡn.<br>
<br>
"Chúng ta còn phải đến buổi họp..." Cậu cắn môi, những cái hôn ấy làm cậu đỏ mặt.<br>
<br>
"Cậu đang bệnh. Nên cứ nghỉ ngơi đã." Alfons nháy mắt.<br>
<br>
Cậu rơi vào bẫy, mỗi lúc một sâu hơn.<br>
<br>
~*~<br>
<br>
Ed dọn dẹp mớ lộn xộn bày bừa trong phòng anh. Cậu tự hỏi đã bao lâu Alfons không động tới cây chổi rồi. Dạo này chị Gracia bắt đầu bận rộn hơn vì Hughes bắt đầu có những dự định cho cả hai, nên chị không thể giúp cậu và Heiderich những việc thế này. Edward đành phải giúp Alfons, vì tên lửa đang trong giai đoạn hoàn thành. <br>
<br>
Cậu khệ nệ gom mớ sách cở cũ trong một cái hốc bụi bặm quăng ra, nó làm cậu ho sù sụ. Chậm chạp, cậu bắt đầu phân loại chúng.<br>
<br>
"Vật lí, Điện cơ khí, Nhật kí...?" Cậu bụm miệng cười "Alfons mà cũng viết nhật kí à?" <br>
<br>
Chợt, thứ gì đó rơi ra phía trong cuốn sổ. Ed nhận ra đó là một tấm ảnh đã khá cũ. Cậu tò mò lượm nó lên và lật xem...<br>
<br>
<br>
... dường như tất cả trong cậu đổ sụp... cậu buông rơi tấm ảnh, run rẩy...<br>
<br>
"...Không... thể..."<br>
<br>
"Cậu đã tìm ra nó?"<br>
<br>
Edward giật mình quay lại. Anh đứng trước cửa, nhìn cậu và cười.<br>
<br>
"Al...fons...?"<br>
<br>
"Rốt cuộc cậu cũng đã thấy." Anh chậm rãi bước vào, lượm tấm ảnh lên và phủi bụi.<br>
<br>
"Đó là..."<br>
<br>
"Rất giống cậu. Không. Phải nói đó là *cậu* mới đúng." Giọng anh có gì đó kì lạ. Ed bất giác lùi xa ra. <br>
<br>
"Tôi đã rất thắc mắc khi gặp cậu ngày đầu tiên. Nhớ chứ? Đó cũng là ngày giỗ đầu tiên của cậu ta. Tôi đã không thể tin vào mắt mình khi cậu xuất hiện trước mặt tôi, Edward."<br>
<br>
"Chuyện gì đang diễn ra ở đây? Alfons?" Cậu cảm thấy đầu mình muốn vỡ tung ra "Tất cả là sao? Cậu ta là ai???"<br>
<br>
Anh cười. Chưa bao giờ cậu thấy nụ cười của anh lạnh đến thế. Alfons nắm lấy cổ tay cậu, đè vào tường. Cậu rên lên đau đớn.<br>
<br>
"Cậu ấy là <strong>cậu</strong>. Cậu ấy là Edward. Kẻ cậu đã giành lấy vị trí tại đây."<br>
<br>
"Không..." Cậu vùng vẫy. Chắc chắn đây là một cơn mê. Đó không phải là sự thật. Alfons cậu biết... không phải như thế này...<br>
<br>
Anh nuốt lấy môi cậu, cậu nhăn mặt khi anh cắn nó đến bật máu. Thứ dung dịch tanh sét ấy rỉ chảy làm cậu sặc. bàn ta anh mơn trớn trên cổ cậu, xiết chặt...<br>
<br>
"Cậu là của tôi. Edward. Tôi không thể để mất cậu... <strong><em>lần nữa</em></strong>..."<br>
<br>
<br>
"...Không!!!"<br>
<br>
<br>
... Tiếng gì đó phun trào. Đỏ thẫm. Tiếng ai đó cười thoả mãn. Âm âm. Tiếng thân người đổ xuống đất. Bất động...<br>
<br>
<em><strong>"Kẻ cắp!"</strong></em><br>
<br>
Tay cậu nóng hổi. Đỏ sực tanh nồng. Mọi thứ quanh cậu tối đen. Những bàn tay lại trồi lên, lặn ngụp bấu víu. <br>
<br>
... cậu đã cười.<br>
<br>
~*~<br>
<br>
<strong><em>Boong! Boong! Boong!</em></strong><br>
<br>
Cậu bừng tỉnh. Tiếng búa nện vào thanh chuông của chiếc đồng hồ quả lắc rên dài đủ 3 tiếng. Chỉ mới 3 giờ khuya.<br>
<br>
Ed bật dậy khỏi giường, lầm lũi bước xuống cầu thang. Hai bên khoé mắt nở to của cậu, nước không ngừng chảy. Môi cậu lẩm nhẩm những thứ vô thức, chỉ thỉnh thoảng nghe được một cái tên:<br>
<br>
"... Alfons..."<br>
<br>
Một dáng người chạy vội về phía cậu từ phía hành lang. Edward quay lại, và môi cậu nở ra nụ cười mừng rỡ. Cậu nhào đến trong vòng tay người ấy, nức nở.<br>
<br>
"Alfons! Alfons! Đừng bỏ tôi một mình! Đừng bao giờ bỏ tôi một mình!"<br>
<br>
Dáng người ấy ôm cậu vào lòng, vỗ về. Ed nhanh chóng trở lại giấc ngủ chập chờn. Tay cậu không hề buông...<br>
<br>
~*~<br>
<br>
Người thanh niên đặt Ed xuống giường, nhẹ nhàng lau đi dòng nước đọng trên mi cậu. Những cơn mộng chưa bao giờ buông tha cậu trong đêm. Khẽ khàng, môi người ấy mấp máy rất nhẹ, dường như còn mỏng hơn tiếng thở của bông tuyết cuối đông đang tan...<br>
<br>
<br>
<br>
<br>
<br>
"... nii-san..."<br>
<br>
~*~<br>
<br>
<strong>END</strong><br>
<br>
...Để có cậu, tôi phải mất gì đây...?Lạy Chúa. Thứ mất mát gì ngài sẽ lấy nơi tôi?