<strong>Category</strong>: Song fic - Shounen Ai - Blood - One shot.<br><br><br><br><br>
~*~<br>
<br>
<strong>First leaf</strong><br>
<br>
~*~<br>
<br>
<em><span style="COLOR: red">Ta thấy em trong bụi gai trường xuân. Mỉm cười và rỏ máu.</span></em><br>
<br>
~*~<br>
<br>
<span style="COLOR: yellow">Như Chúa sáng trên cao, mặt trời nuốt chửng vào lòng. <br>
Không thánh ca, không nguyện cầu. Người mất trong ngày nhật thực.<br>
Mở hàng mi xanh và nhìn, bên trên có sự dối trá không toàn vẹn.<br>
Chúa đã không sòng phẳng cho em...</span><br>
<br>
~*~<br>
<br>
Mưa. Anh ôm cậu. Lửa nổ tanh tách, văng những xác hồng thom thóp thở. Tấm chăn sờn xám cũ không đủ cho hai. Môi cậu run run, cái sần ráp lạnh lẽo. Anh xiết chặt tay.<br>
<br>
...<br>
<br>
Mắt cậu không nhắm. Nước mưa xám đục bầu trời. Ảm đạm lây sang màu mắt. Anh trao cậu tách cà phê nóng. Tay cậu buông, chất lỏng nâu sền chảy loang, hanh mùi rát khan họng. Anh nhìn. Cậu vươn tay ghì lấy cổ, luồn tay vào mái tóc đen. Tay anh với lấy chai rượu đỏ, rồi môi anh mớm cậu thứ mật rát cháy lưỡi. <br>
<br>
Cậu uống. Như đứa trẻ khát sữa. Rồi cuộn mình ngủ yên. <br>
<br>
Anh trả cậu lại...<br>
<br>
<br>
Đốm lửa tàn trong đêm. Bên ngoài mưa chưa kịp ngớt.<br>
<br>
~*~<br>
<br>
<em>If i smile and don't believe<br>
Soon I know I wake from this dream...</em><br>
<br>
~*~<br>
<br>
"Cho anh."<br>
<br>
"Gì đây?"<br>
<br>
"Dây trường xuân."<br>
<br>
"Để làm gì?"<br>
<br>
"Tôi."<br>
<br>
<br>
... Và cậu đi.<br>
<br>
~*~<br>
<br>
<em><span style="COLOR: red">Bước trên tuyết, ta nghe thiên sứ khóc than. Bước chân vô loài lạc lối. Máu nhuộm da em huyền đỏ như nhung. Biến đi trong màu vô sắc. Ta ôm thi hài tuyết đi về, đầu ngọn gió tiếng hát ru em vang âm âm. Em ôm ta vào một hoàng hôn tuyết đỏ như trăng.</span></em><br>
<br>
~*~<br>
<br>
<span style="COLOR: yellow">Bụi trường xuân đổi hình lá lần 1.</span><br>
<br>
~*~<br>
<br>
<em>Playground school bell rings again<br>
Rainclouds come to play again<br>
<br>
Has no one told you...?</em><br>
<br>
~*~<br>
<br>
Trường xuân sau mưa xanh ngắt lạ.<br>
<br>
~*~<br>
<br>
<strong>First leaf fell.</strong><br>
<br>Ta thấy em trong bụi gai trường xuân. Mỉm cười và rỏ máu.Như Chúa sáng trên cao, mặt trời nuốt chửng vào lòng. <br>
Không thánh ca, không nguyện cầu. Người mất trong ngày nhật thực.<br>
Mở hàng mi xanh và nhìn, bên trên có sự dối trá không toàn vẹn.<br>
Chúa đã không sòng phẳng cho em...Bước trên tuyết, ta nghe thiên sứ khóc than. Bước chân vô loài lạc lối. Máu nhuộm da em huyền đỏ như nhung. Biến đi trong màu vô sắc. Ta ôm thi hài tuyết đi về, đầu ngọn gió tiếng hát ru em vang âm âm. Em ôm ta vào một hoàng hôn tuyết đỏ như trăng.Bụi trường xuân đổi hình lá lần 1.<br /><!-- chapter 2 --><br />
<p><strong>Second leaf<br>
<br>
</strong>~*~<br>
<br>
<span style="COLOR: red">Em tỉnh dậy trên cỗ quan tài đá đen mượt. Ta ôm em lần vô vàn nhưng vẫn cái tê dại mơn man. Mái tóc xoã bay sang loá đến vô dạng. Ngày chóng vánh như cơn mơ muộn đời người.</span><br>
<br>
~*~<br>
<br>
<span style="COLOR: yellow">Em nhìn ta. Nhắm mắt. Lệ rỏ hoen vầng cánh gãy lìa.<br>
Em không bay.</span><br>
<br>
~*~<br>
<br>
Anh xiết bàn tay cậu đến tái nhợt. Sự khát khao hiện thực biến thành nỗi ám ảnh không thể gọi tên. Một lần đặt môi lên vai, anh cần hơn một hơi ấm. Khát khao đến man dại.<br>
<br>
Cậu ngây ngô như đá, khẽ nâng lá trường xuân ngậm lên môi. Nắng chói hơn bất tận ngàn đời. Gió thoảng đến không mang chút hương phôi.<br>
<br>
Anh mang cậu về. <br>
<br>
Cánh lông đu them gió tan nhanh.<br>
<br>
~*~<br>
<br>
“Tại sao?”<br>
<br>
“Cái gì?”<br>
<br>
“Mọi thứ.”<br>
<br>
“… tôi yêu.”<br>
<br>
Và cậu đã hiểu cách anh yêu.<br>
<br>
~*~<br>
<br>
<span style="COLOR: red">Ta hôn mắt em dòng lệ máu tuôn nhanh. Ta hôn tay em cái rát bỏng xác thịt. Chút cuồng vọng thoả mãn bản chất nơi ta. Môi em giữ gió đi trong ngày dài. Nắng xanh long lánh hạt sương vô danh. Em ngã xuống vào một buổi chiều thay nắng.</span><br>
<br>
~*~<br>
<br>
<span style="COLOR: yellow">Trường xuân đổi hình lá lần 2.</span><br>
<br>
~*~<br>
<br>
Khung cửa, dây đã leo thay màn.<br>
<br>
~*~<br>
<br>
<strong>Second leaf fade.</strong><br>
<br>
</p>Em tỉnh dậy trên cỗ quan tài đá đen mượt. Ta ôm em lần vô vàn nhưng vẫn cái tê dại mơn man. Mái tóc xoã bay sang loá đến vô dạng. Ngày chóng vánh như cơn mơ muộn đời người.Em nhìn ta. Nhắm mắt. Lệ rỏ hoen vầng cánh gãy lìa.<br>
Em không bay.Ta hôn mắt em dòng lệ máu tuôn nhanh. Ta hôn tay em cái rát bỏng xác thịt. Chút cuồng vọng thoả mãn bản chất nơi ta. Môi em giữ gió đi trong ngày dài. Nắng xanh long lánh hạt sương vô danh. Em ngã xuống vào một buổi chiều thay nắng.Trường xuân đổi hình lá lần 2.
<br /><!-- chapter 3 --><br />
~*~<br>
<br>
<strong>Third leaf</strong><br>
<br>
~*~<br>
<br>
<em><span style="COLOR: red">Em trầm ngâm trong câm lặng triền miên. Sóng âm thanh rơi tõm thành nước mắt. Tay ta nâng máu đào tươi xanh ngắt. Môi tục lụy vờn da huyền mặn tê. <br>
<br>
Ngày cuối hạ...<br>
<div align="right">Ta bắt mùa nhốt nắng lại cùng em.</div></span></em><br>
<br>
~*~<br>
<br>
<span style="COLOR: yellow">Mộ bia tuổi đá, dây trường xuân leo<br>
Ngủ ngoan muôn hạ, em cười trong veo.</span><br>
<br>
~*~<br>
<br>
<em> <div align="center">-Ngày thứ nhất-</div></em><br>
<br>
Phòng tối. Anh gõ tay. Cộp. Điện thoại không reo. Kim đồng hồ trì trệ, quả lắc cành cạch đong đưa. Chậm chạp... rề rà.<br>
<br>
Anh chờ.<br>
<br>
<em>Boong.</em><br>
<br>
6h đúng. 6 tiếng vang, lọt thỏm nơi hoang loại tuyết trắng. Điện thoại nhấc trên tay, từng con số được nhấn như phản xạ. Và chuông đổ. Từ đầu dây bên kia. Xa như nơi khác cõi. Anh nhắm mắt. Dường như bóng dáng ai nho nhỏ chạy đến. Anh cười.<br>
<br>
"Năm... bốn... ba..." lẩm nhẩm, anh chơi trò cút bắt "...hai..." và...<br>
<br>
"Moshimoshi... đây là nhà của Đại tá Roy Mustang..." máy mở, rơi lọt mất tiếng "một", đáp vào bằng một giọng thân thuộc ấm nóng tràn đến tai anh. Dễ chịu và làm thỏa lòng.<br>
<br>
"Tôi đã bảo ở nhà đừng gọi tôi là Đại tá..."<br>
<br>
"... ... anh?"<br>
<br>
"Ừ."<br>
<br>
... ... ...<br>
Lặng đột ngột. Anh nghe tiếng thở nhè nhẹ tan rất khẽ từ phía bên kia, chợt nhiên trong anh mang một đòi hỏi mãnh liệt muốn ôm riết cậu đến tan nát.<br>
<br>
"Mau về đi." Tiếng nói cậu mỏng hơn gió đông đang vờn nắng lạc. Và đáp lại...<br>
<br>
"Không." Anh suy nghĩ một thoáng phức tạp và hơi kì lạ.<br>
<br>
"Roy... về với tôi..."<br>
<br>
"Tôi yêu cậu, Fullmetal." Nụ cười trên môi chợt cằn rát, tàn nhẫn.<br>
<br>
"Đừng để tôi ở đây... Roy... Đừng...!"<br>
<br>
"Tôi yêu cậu."<br>
<br>
--- <em>Tít</em> ---<br>
<br>
<br>
Và ngắt máy. <br>
Một chút thỏa mãn rơn ran trong anh. Nhiều thứ vô nghĩa hiển nhiên đang được anh tự hỏi. Tuyết vẫn rơi bên ngoài.<br>
<br>
<div align="center">Trống vắng.<br>
Anh muốn một cái ôm.</div>
<br>
<br>
~*~<br>
<br>
<em> <div align="center">-Ngày thứ 2-</div></em><br>
<br>
Cửa rên ken két. Mùi bóng tối lẫn hiu quạnh đặt sệt, lùa ra từ bên trong như ám ảnh. Anh khẽ cau mày.<br>
<br>
Ngày có tuyết. Thời gian âm u lạnh lẽo thường trực, dễ làm khái niệm thành thứ lẩm cẩm. Tất cả thời gian là một đêm trắng dài rề rà.<br>
<br>
Cậu co mình trên sàn, tấm sơ mi trắng ướt mùi hơi lạnh, xung quanh vương vãi nhiều món đồ chơi. Cậu ngủ. Chiếc điện thoại vẫn giữ chặt nơi tay…<br>
<br>
<div align="center">…</div>
<br>
<br>
... tiếng cô liêu nhập vào thể xác, thành khao khát cấp thiết dị thường...<br>
<br>
Anh bước nhanh. Nhiều đòi hỏi gấp gáp trong anh lẫn cùng dư vị xót xa. Anh dằn vặt điều gì đấy không thể định hình.<br>
<br>
Rất đột ngột, môi anh tìm nơi cậu lòng thứ tha. Tay anh luồn nhanh vào tóc và bên trong da mềm, cầu xin cho mình thứ ban bố ấm êm. Hương da non ngọt và gây nghiện biết bao, nảy sinh tại anh tiềm thức chiếm đoạt nhỏ nhen. <br>
<br>
Vòng tay cậu vẫn mỏng manh và run rẩy, đặt lên lưng anh cái bấu víu khó khăn. Dòng nước mặn trôi tuột, đuôi mắt khép dài. Thức tỉnh hay hôn mê chốn này?<br>
<br>
Nóng ấm thiêu anh tan chảy. Cậu cho anh cứu rỗi lẫn van lơn. Cơn đau phù phiếm không xác thực từ môi cậu trên vai anh. Cậu cần. Hơn thứ anh cho được nhiều. Bất khả làm anh bế tắc. Anh xiết cậu, đến xác da rỉ máu. Nước mắt cậu vẫn rơi.<br>
<br>
<div align="center">Bàn tay rát trên má, cậu hôn mắt anh thật gần.<br>
Và bình yên.</div>
<br>
<br>
~*~<br>
<br>
<em> <div align="center">-Ngày thứ 3-</div>
<br>
<br>
Cậu đã chết trong bụi trường xuân. Lần thứ nhất. Cành lá xanh dị thường, ôm riết thân xác cậu không buông. Mắt môi cậu, trường xuân mơn trớn nhẹ nhàng, cánh lá hình sao mơn mởn. Tóc vàng như nắng lùa qua cây. Rực rỡ đến bi thương.<br>
<br>
Anh nhìn. Tay trần run, không vì tuyết. Da cậu vẫn tươi nguyên, trắng khôi chưa tì vết. Anh nâng tay lạnh, hôn cánh trường xuân vĩnh cửu. Nguyện cầu. Bài thánh ca không thuộc về Người. <br>
<br>
<div align="center">Ngày ấy, trường xuân chấp nhận trả cậu về.</div>
<br>
<br>
~*~<br>
<br>
<em> <div align="center">-Ngày thứ 4-</div></em><br>
<br>
Anh mang cậu về lần thứ hai. Vẫn từ bụi trường xuân. Tuyết đóng trên vai áo gầy. Môi cậu chảy máu. Trường xuân không có gai. Da cậu tấy xanh nơi dây quấn chặt. Mắt vàng lọt thỏm màu nắng thinh không. Cậu vô nhận thức... <br>
<br>
Nhưng yêu anh hơn trường xuân. <br>
<br>
<div align="center">Vì cậu chỉ cười với anh.</div>
<br>
<br>
~*~<br>
<br>
<em> <div align="center">-Ngày thứ 5-</div></em><br>
<br>
Trường xuân muốn cậu nhiều hơn trước. Cành lá trói cậu vào trong sâu. Máu chảy loang tuyết trắng và cây xanh, cậu chìm ngập nơi tận thẳm xa xăm. Hình như dây phẫn nộ, vì cậu yêu anh nhiều hơn cây. <br>
<br>
Nguyện cầu lẫn thánh ca đều bị từ chối. Anh không được đòi cậu về thêm.<br>
<br>
<div align="center">Cậu vẫn yêu anh nhiều hơn.</div>
<br>
<br>
~*~<br>
<br>
<em> <div align="center">-Ngày thứ 6-</div></em><br>
<br>
Trường xuân bị anh giết chết. Anh giành cậu lại. Ngọn lửa hanh hao mang mùi đố kị. Cây chết trong phẫn nộ bội phản. <br>
<br>
<div align="center">Và nó đã nguyền.</div>
<br>
<br>
~*~<br>
<br>
<em> <div align="center">-Ngày thứ 7-</div></em><br>
<br>
Cậu vẫn yêu anh hơn. Cậu vẫn yêu anh hơn. Cậu vẫn yêu anh hơn. Và cậu muôn đời vẫn yêu anh hơn. <br>
<br>
<div align="center">Vì nó đã nguyền.</div>
<br>
<br>
~*~<br>
<br>
Anh mở mắt. <br>
<br>
Cậu đã chết trong bụi trường xuân.<br>
<br>
<div align="center">Chỉ mới là lần thứ nhất.</div>
<br>
<br>
~*~<br>
<br>
<span style="COLOR: red"><em>Tàn dương nơi hoang đàng mắt đỏ. Máu lạc loài vô loại cõi phù hư. Em ngây ngô lạc thiên đường thác phận. Đem hoa về ủ lấp mộ trường xuân.</em></span><br>
<br>
~*~<br>
<br>
<span style="COLOR: yellow">Trường xuân đổi hình lá lần 3.</span><br>
<br>
~*~<br>
<br>
Cậu vẫn yêu anh hơn.<br>
<br>
~*~<br>
<br>
<strong>Third leaf was burn.</strong><br>
<br></em>Em trầm ngâm trong câm lặng triền miên. Sóng âm thanh rơi tõm thành nước mắt. Tay ta nâng máu đào tươi xanh ngắt. Môi tục lụy vờn da huyền mặn tê. <br>
<br>
Ngày cuối hạ...<br>
<div align="right">Ta bắt mùa nhốt nắng lại cùng em.</div>Mộ bia tuổi đá, dây trường xuân leo<br>
Ngủ ngoan muôn hạ, em cười trong veo.<em>Tàn dương nơi hoang đàng mắt đỏ. Máu lạc loài vô loại cõi phù hư. Em ngây ngô lạc thiên đường thác phận. Đem hoa về ủ lấp mộ trường xuân.</em>Trường xuân đổi hình lá lần 3.
<br /><!-- chapter 4 --><br />
~*~<br>
<br>
<strong>Fourth leaf</strong><br>
<br>
~*~<br>
<br>
<em><span style="COLOR: red">Ta thấy thoáng đôi cánh trắng mờ sương. Hoa rũ vai ngả tóc em mát rượi. Em ngửa mặt, đón màu phai nắng. Giọt nước cạn sau đêm. Hay tay vươn. Nhánh hao gầy, nhành lông vũ tan lệ.<br>
<br>
Hoa rơi... rũ loang màu huyết đỏ<br>
Bước ai về... tuyết muốt lạnh bờ vai.</span></em><br>
<br>
~*~<br>
<br>
<span style="COLOR: yellow">Rồi em còn trong tay tôi khóc nhẹ, mắt mập mờ hoen ố hàng mi đen...<br>
Rỏ trên tôi, Màn đêm - nhành xanh màu nguyệt thực. <br>
Chiếc lá cuối cùng. Và đầu tiên.</span><br>
<br>
~*~<br>
<br>
"Sao lại không yêu tôi?"<br>
<br>
<em>Môi mắt em cay. Ta tham lam khát khao vị ấm mặn. Da em trong như cánh hoa ngày lạ. Ngón em dài ru đến tận ngàn năm.</em><br>
<br>
"Tôi yêu cậu, Fullmetal."<br>
<br>
<em>Em run rẩy. Em van lơn. Đợi chờ phá hủy. Tóc sáng dài, mùi kí ức nhạt phai.<br>
Ta yêu em. Yêu em.<br>
Yêu em.</em><br>
<br>
"Không... không phải..."<br>
<br>
<em>Giọt mặn chát, tê rần nơi đầu lưỡi. Vai ngắn em, máu rỏ thắm vành môi. Ta dìm em, giành môi ngon mật lạc.</em><br>
<br>
"... không phải tôi..."<br>
<br>
<em>Ta yêu em. Yêu em. Yêu em.<br>
Yêu em.Yêu... em.</em><br>
<br>
~*~<br>
<br>
<em>Has no one told you...?</em><br>
<br>
~*~<br>
<br>
Mùa rơi lại phía ngày tuyết nhạt. Cõi gian trần vẫn trắng màu li tang. Anh mở mắt, vị lạnh lẽo chan đầy suy nghĩ dù thoáng qua. Cậu vẫn bên cạnh, tấm chăn cuộn tròn trong vòng tay anh. Lại ngủ say. <br>
<br>
Nhưng có chắc là không mộng mị?<br>
<br>
Ngón tay anh khẽ chạm hơi thở bàng bạc nơi ai, như chạm vào hơi thở mặt trời đã lãng quên. Thể xác không thể lấp đầy anh, anh rỗng toang không lí giải. Anh cần chiếm giữ khỏa lấp, nhưng cậu cho anh lo sợ sẽ phá tan. Tóc vàng sáng mong manh quá, rồi nắng sẽ mang tóc đi xa. Ngón tay chạm môi khô, độc chiếm đơn thuần cái hôn bí mật đánh cắp. <br>
<br>
Và tay rỏ máu. Tanh như xác hoa. Vị giác anh chan ngập mù loà. Anh cần môi cậu cấp thiết hơn. <br>
<br>
Nhưng cậu có cho?<br>
<br>
Ấm nóng da mềm tan như mật. Anh không muốn ai. Trừ cậu. Chỉ cậu.<br>
<br>
Anh yêu. <br>
Cậu cũng hiểu cách anh yêu.<br>
<br>
Nhưng...<br>
<br>
~*~<br>
<br>
<em>Has no one told you...?</em><br>
<br>
~*~<br>
<br>
"Tại sao không yêu tôi?"<br>
<br>
"Tôi luôn yêu cậu, Edward."<br>
<br>
"Tại sao không yêu tôi?"<br>
<br>
"Tôi đã luôn, Ed."<br>
<br>
~*~<br>
<br>
<em>Has no one told you...?</em><br>
<br>
~*~<br>
<br>
Lại là mơ. Lại là tan. Lại anh.<br>
Lại hư vô. Lại ảo ảnh. Lại không.<br>
<br>
Nước mắt đừng chảy thêm, sẽ đóng băng môi mềm. Đau đớn đừng rỏ thêm, sẽ tiêu diệt bản chất. <br>
<br>
Anh yêu cậu.<br>
<br>
Nhưng...<br>
<br>
... cậu muôn đời vẫn yêu anh nhiều hơn.<br>
<br>
~*~<br>
<br>
<em>Still no one's told you...?</em><br>
<br>
~*~<br>
<br>
<em><span style="COLOR: red">Để mỗi chiều tắt nắng, ta vẫn ngồi dưới trường xuân. Đếm lá và chờ nở hoa.</span></em><br>
<br>
~*~<br>
<br>
<span style="COLOR: yellow">Trường xuân đổi hình lá lần 4.</span><br>
<br>
~*~<br>
<br>
<strong>Fourth leaf was broken.</strong><br>
<br>Ta thấy thoáng đôi cánh trắng mờ sương. Hoa rũ vai ngả tóc em mát rượi. Em ngửa mặt, đón màu phai nắng. Giọt nước cạn sau đêm. Hay tay vươn. Nhánh hao gầy, nhành lông vũ tan lệ.<br>
<br>
Hoa rơi... rũ loang màu huyết đỏ<br>
Bước ai về... tuyết muốt lạnh bờ vai.Rồi em còn trong tay tôi khóc nhẹ, mắt mập mờ hoen ố hàng mi đen...<br>
Rỏ trên tôi, Màn đêm - nhành xanh màu nguyệt thực. <br>
Chiếc lá cuối cùng. Và đầu tiên.Để mỗi chiều tắt nắng, ta vẫn ngồi dưới trường xuân. Đếm lá và chờ nở hoa.Trường xuân đổi hình lá lần 4.
<br /><!-- chapter 5 --><br />
<p>~*~<br>
<br>
<strong>Last leaf</strong><br>
<br>
~*~<br>
<br>
<em>I'm the lies<br>
Living for you so you can't hide...</em><br>
<br>
~*~<br>
<br>
<em><span style="COLOR: red">Đêm về. Ta ảo tưởng một vần giao thoa. Ta ôm em và chiếm hữu. Mắt em là dĩ vãng ngàn đời. Màu xanh ngắt vô loại nơi môi em. <br>
<br>
Ngọt hăng.</span></em><br>
<br>
~*~<br>
<br>
<span style="COLOR: yellow">Loài lá vô thường tái sinh trong màu nắng xanh gầy. Hắt hiu lẫn chói lóa, bàn tay em lên tim, máu nhỏ dài. Trắng hơn thực tại, đêm ôm chết bờ vai.<br>
<br>
Ta quỳ, đón tuyết thẫm trên môi... <br>
...ngọt lịm em.</span><br>
<br>
~*~<br>
<br>
<span style="COLOR: green"><strong>Flame Alchemist - Colonel Roy Mustang : Banned.<br>
For: Creating Forbidden Alchemy Creature - Homoculus.</strong></span><br>
<br>
~*~<br>
<br>
Thiếu vắng trở thành nỗi thường trực dễ chấp nhận và gây nghiện. Phòng trắng xóa màu trời nhợt nhạt. Anh thả vòng khói thuốc, nhấp môi ly Rhum vàng sẫm. Vị ngọt tan trên đầu lưỡi, sệt lại dư vị chát đằng, nóng hanh. Điếu thuốc âm thầm, cháy, rơi tàn tro xám ngoét.<br>
<br>
Mắt anh chơi vơi như làn khói... kim đồng hồ rợi từng nấc nặng nhọc...<br>
<br>
Anh lại chờ...<br>
<br>
Vẫn tiếng cành cạch đồng hồ quay...<br>
<br>
Anh nhìn điện thoại...<br>
<br>
... ... ...<br>
<br>
6h. 6h hồi chuông.<br>
<br>
Tay anh cầm ống nghe. Quay.<br>
<br>
Chuỗi âm thanh truyền tải như vô tận.<br>
<br>
<em>---Riing---Riing---Riing---Riing---...</em><br>
<br>
Không có ai.<br>
<br>
Anh chờ một giọng xa xăm.<br>
<br>
<em>---Riing---Riing---Riing---Riing---Riing---Riing---Riing---...</em><br>
<br>
Vẫn... <br>
<br>
...Không.<br>
<br>
... ... ... gì đó buốt lạnh vừa đập vào cửa. Cửa bật mạnh.<br>
<br>
Anh nhìn. Tuyết cười nhẹ tênh.<br>
<br>
<em>]---Riing---Riing---Riing---Riing---Riing---Riing---Riing---...</em><br>
<br>
<br>
... và ống nghe rơi xuống bàn...<br>
<br>
~*~<br>
<br>
<em>... don't cry...</em><br>
<br>
~*~<br>
<br>
Vô vọng chợt trở thành thứ quen thuộc, đến và đi và hiện hữu đơn giản như cách người ta thở. Anh những tưởng đã quen...<br>
<br>
~*~<br>
<br>
"Tại sao?"<br>
<br>
"Anh không yêu tôi."<br>
<br>
"Tôi yêu em. Nhiều hơn tất cả."<br>
<br>
"Anh không yêu tôi."<br>
<br>
"TÔI YÊU EM ! EDWARD !"<br>
<br>
"... ... ..."<br>
<br>
"... tôi... không phải người anh yêu..."<br>
<br>
~*~<br>
<br>
<em>Tóc vàng tan theo nước thẫm màu hoen. Em nhìn ta, mỉm cười và rỏ máu. Tóc không dài như mơ. Tay em lạnh, môi em xanh. Mắt khô nhắm, để máu tràn. <br>
<br>
Em hôn ta say...<br>
<br>
<br>
Môi hôn ngọt... <br>
<br>
... Môi lần cuối lại cay...</em><br>
<br>
~*~<br>
<br>
<em>... don't cry...</em><br>
<br>
~*~<br>
<br>
Anh yêu. Yêu cậu. Yêu cậu. Yêu cậu. Yêu...<br>
<br>
<br>
</p>
<div align="center">...<br>
Nhưng <strong><span style="COLOR: brown">cậu</span></strong> vẫn yêu anh nhiều hơn.</div> <p><br>
<br>
~*~<br>
<br>
<em>Suddenly I know<br>
I'm not dreaming...</em><br>
<br>
~*~<br>
<br>
Cậu đã chết trong bụi trường xuân. <br>
<br>
</p>
<div align="right">... Mãi mãi.</div> <p><br>
<br>
~*~<br>
<br>
<em><span style="COLOR: red">Một lần nữa, trong bụi trường xuân hình lá vô thường, ta chờ em trở về dưới nhật nguyệt ngàn năm, chờ em trở về trong hoang tàn đổ nát, chờ em trở về giấc ngủ ta ru em vĩnh hằng... chờ em...</span></em><br>
<br>
~*~<br>
<br>
<span style="COLOR: yellow">Last leaf will be reborn.</span><br>
<br>
~*~<br>
<br>
<strong>End.</strong><br>
<br>
</p>Đêm về. Ta ảo tưởng một vần giao thoa. Ta ôm em và chiếm hữu. Mắt em là dĩ vãng ngàn đời. Màu xanh ngắt vô loại nơi môi em. <br>
<br>
Ngọt hăng.Loài lá vô thường tái sinh trong màu nắng xanh gầy. Hắt hiu lẫn chói lóa, bàn tay em lên tim, máu nhỏ dài. Trắng hơn thực tại, đêm ôm chết bờ vai.<br>
<br>
Ta quỳ, đón tuyết thẫm trên môi... <br>
...ngọt lịm em.<strong>Flame Alchemist - Colonel Roy Mustang : Banned.<br>
For: Creating Forbidden Alchemy Creature - Homoculus.</strong>cậuMột lần nữa, trong bụi trường xuân hình lá vô thường, ta chờ em trở về dưới nhật nguyệt ngàn năm, chờ em trở về trong hoang tàn đổ nát, chờ em trở về giấc ngủ ta ru em vĩnh hằng... chờ em...Last leaf will be reborn.
