<div align="center">
<strong>Category:</strong> Humor - Romance - One shot<br>
</div>



<div align="center">~*~<br>
<br>
<strong><u><span style="COLOR: red">50 lí do để tôi ghét tên-nhóc-đó</span></u></strong>
</div> <p><br>
<br>
<br>
1. Một kẻ mà khả năng kiềm chế thấp hơn cả chiều cao [không-được-cao] của mình.<br>
<br>
2. Phá hoại quá nhiều thứ không-cần-thiết khi làm nhiệm vụ.<br>
<br>
3. Dám đập tôi bằng automail.<br>
<br>
4. Phản bác lại những chân-lí-hiển-nhiên, chỉ vì tôi là người phát ngôn ra chúng.<br>
<br>
5. Không có chút lễ độ nào hết, với tôi lẫn người khác.<br>
<br>
6. Không chịu mặc quân phục.<br>
<br>
7. Quá lùn. Làm tôi phải cúi xuống mới hôn được.<br>
<br>
8. Không [chịu] hiểu khái niệm *tiếng gọi bản năng* <br>
<br>
9. Khóc nhè về đêm để tôi phải dỗ. Rồi lại nổi khùng lên, la hét lảm nhảm đủ thứ về gì gì đó là "sến súa" khi mở mắt dậy thấy đang được... ôm.<br>
<br>
10. Không cho tôi đụng đến vết sẹo chỗ nối automail.<br>
<br>
11. Lúc nào cũng nhăm nhe rờ lên miếng băng mắt của tôi. Điều đó làm tôi khó chịu... [Có lẽ mình nên thôi rờ vô chỗ sẹo của cậu ấy .___.]<br>
<br>
12. Tại sao không chịu mặc bộ đồng phục hầu bàn Pháp mà tôi mua cho?<br>
<br>
13. Cũng không chịu mặc bộ đồ mèo con [tôi mua nốt] nữa! Chắc chắn cậu ấy sẽ là một bé neko dễ thương :X Hơn nữa đây là cơ hội cho cậu ta thay đổi hình thượng chó-săn-quân-đội. <br>
<br>
14. Ăn hết đồ ăn trong tủ lạnh lẫn tủ dự trữ của tôi.<br>
<br>
15. Không chịu ăn đồ tôi nấu.<br>
<br>
16. Lười như hủi.<br>
<br>
17. Là một O.C.D <br>
<br>
18. To mồm và độc miệng.<br>
<br>
19. Quá tự mãn và cứ làm lơ mọi lười khuyên có ích cho mình.<br>
<br>
20. Giành gần hết chỗ trên giường.<br>
<br>
21. Đọc sách như mọt đói, đã thế còn không xếp lại đúng chỗ.<br>
<br>
22. Đi tìm mấy cô có tên trong sổ công tác Alchemist của tôi rồi nói với họ về chuyện của cả hai [thứ chỉ làm cho họ càng lẽo đẽo theo nhìn tôi với ánh mắt *ham muốn*]<br>
<br>
23. Liều lĩnh và không thèm để ý rằng tôi lo đến phát ốm mỗi khi cậu ta đi nhiệm vụ về với cái xác tơi tả, thiếu tay thiếu chân. Và chuyện automail có thể sữa chữa hay thay thế chả làm tôi cảm thấy đỡ hơn tẹo nào.<br>
<br>
24. Không cho tôi thắt tóc hộ.<br>
<br>
25. Dám bơm keo vào một trong những cây viết tôi thích nhất.<br>
<br>
26. Dám trét bạc hà mèo lên quân phục của tôi. Với ALphonse lúc nào cũng loanh quanh kế bên, cần nói gì thêm không? <br>
<br>
27. Dám vẽ bậy lên cửa sổ văn phòng, mà chùi không ra mới ghê chứ!<br>
<br>
28. Chữ viết quá xấu =&gt; phải báo cáo trực tiếp =&gt; toàn nói nhăng cuội nhảm nhí chẳng đâu ra đâu!<br>
<br>
29. Khoái gác mấy thứ kim loại lên người tôi khi ngủ. Mấy thứ quái ấy lạnh muốn điên!<br>
<br>
30. Cứ như ông cụ non, chả có tí hài hước nào. <br>
<br>
31. Toàn thắng bài nhờ chơi đểu.<br>
<br>
32. Không thích khi tôi muốn , sao thế nhỉ?<br>
<br>
33. Không có chút ý niệm gì khi bị kẻ khác dụ dỗ. Người ta có ý muốn mời về nhà uống cà phê, và cậu ta cứ tin là họ <em><i>chỉ-muốn-thế</i></em>...<br>
<br>
34. Khóai cãi lộn và không bao giờ chấp nhận thua cuộc, cho dù cái thua cuộc nó đã mở tiệc sinh nhật rồi nhảy tưng tưng quanh cậu ta ca bài ca "Thua rồi! Thua rồi!"<br>
<br>
35. Quăng mất hũ mật ong của tôi. NÓ ngon mà. Nhất là khi ăn chung với... cậu.<br>
<br>
36. Đã không còn là con nít 12 tuổi mà cứ xử sự như con nít 2 tuổi.<br>
<br>
37. Sở hữu đôi mắt chó con dễ thương chịu không nổi. [tiền đề cho đôi bốt mới cóng cậu đang mang ^"^]<br>
<br>
38. Có thú vui tao nhã là biến bàn, ghế, tủ, kệ blah blah... thành mọt con quái đói ăn. Món khoái khẩu của nó là tôi.<br>
<br>
39. Thích cạp cạp lên cổ, tai, vai ... v.v tôi. <br>
<br>
40. Chỉ nghe lời 3 người. Cả ca đều tóc vàng hoe. Một người có xu hướng đàm thoại bằng súng. Một người thích chơi với bù lon và tu vít. Một thằng bé bị chứng mèo-ám. Tại sao cậu ta không chịu nghe lời tôi?<br>
<br>
41. La hét ỏm tỏi vì thứ gì đó cả ngày, rồi lại càu nhàu vì bị đau họng.<br>
<br>
42. Ở ngoài đường trong lúc thời tiết đặc-biệt-tồi tệ và bị bệnh. Để tôi phải bỏ làm mà chăn nuôi thú-hư. [="=]<br>
<br>
43. Cứ dộng cửa ầm ầm khi ra vào. [mà nhất là khi đi ra.]<br>
<br>
44. Hiếm khi chịu lắng tai nghe tôi nói.<br>
<br>
45. Khó chịu khi được tôi đọc sách cho nghe.<br>
<br>
46. Tóc vàng làm nghẹt cống.<br>
<br>
47. Để radio ra rả cả ngày.<br>
<br>
48. Không chịu mặc cái miniskirt tôi đặt may riêng cho cậu ta.<br>
<br>
49. Không biết nhảy.<br>
<br>
50. Không bao giờ chịu bày tỏ.<br>
<br>
<br></p>50 lí do để tôi ghét tên-nhóc-đó