<h1></h1>
<div style="text-align: justify; font-family: Georgia,Helvetica;">Tôi không hề mường tượng ra câu chuyện này trước đây. Nó đến trong một giấc mơ kì lạ. Và biến mất cũng kì lạ như lúc nó đến. Có một điều tôi luôn chắc chắn, là thiên sứ thật sự bay đi. Nhìn thấy đôi cánh xám đó quệt những vệt loang lổ trên nền trời. Tôi bừng tỉnh. Và tôi quyết định viết nó ra. Để tôi có thể lưu giữ bất cứ thứ gì về thiên sứ đó. <br>
<br>
Trong giấc mơ của tôi, Lily Saviour không hoàn mỹ. Và trong tác phẩm này cũng sẽ như vậy. Dù tôi rất muốn viết ra một Lily Saviour không chút tì vết. Nhưng cô đã từng nói với tôi, “Đừng gọi em là thiên sứ dù em rất muốn làm một thiên sứ. Em chỉ là một đứa trẻ.” Một đứa trẻ không hoàn hảo. Đã từng mất mát và đau khổ. Tôi muốn cảm nhận những gì đứa trẻ này suy nghĩ, cảm nhận những gì đứa trẻ này trải qua.  <br>
<br>
<div style="text-align: center;">
<i>“Bởi vì đi đến đâu, cũng chỉ có những người yêu thương em. Đi đến đâu, cũng có những người chiều chuộng em. Đi đến đâu, cũng có những người sẵn sàng vứt bỏ mọi thứ vì em.”  <br><br>“Nhưng cuối cùng thì, em vẫn không thể có được những điều đó từ người em yêu.” </i><br>
</div>
<br>
<br>
<div align="center"><b><h1>Lily Saviour<br><br><img src="http://i302.photobucket.com/albums/nn94/smallgreenie/pure.jpg" border="0" alt="Photobucket"><br><br>
1</h1></b></div>
<br>
<br>
Ở đây có tuyết. Tuyết là từng mảng dày. Rụng. Chưa đến mùa đông. Chỉ là rất gần. Lá phong rơi đẫm cả con đường. Con đường dài có vệt bánh xe đỏ hoét như máu. Không khí chuyển dần từ thu sang đông rõ rệt. Tháng mười, trời ẩm ướt hơi sương. Bất kể là thế nào, cô gái vẫn bước ra khỏi nhà. Ngồi trên chiếc ghế gỗ đặt dưới cây phong. Ngắm nhìn bầu trời ngả màu cũ nát. Lẩm bẩm đếm ngược. Cô rất thất vọng vì mùa thu đã gần rời khỏi cô. Năm sau nó sẽ chẳng trở về nữa. Sẽ là một mùa thu mới. Năm nào cô cũng mất hơn một tháng để tập làm quen với mùa thu mới, và khi đã yêu rồi thì nó sẽ lại biến mất. Rất nhanh thôi.  <br>
<br>
“Lily, trời bắt đầu lạnh. Con mặc áo khoác vào rỗi hẵng đi.”  <br>
<br>
“Vâng, nhưng con ở đây chút nữa mới đi ạ.”  <br>
<br>
Người phụ nữ mảnh khảnh kia bước lại gần cô gái. Dúi vào tay cô chiếc áo khoác len màu trắng mà bà vừa đan xong tối hôm qua. <br>
<br>
“Quà sinh nhật sớm của con. À, học kì bắt đầu khi nào vậy con?”  <br>
<br>
“Tuần sau ạ. Nhưng con muốn đến kí túc xá sớm hơn một chút. Vì tuần sau cũng là sinh nhật con mà, con muốn làm quen với bạn mới trước.” <br>
<br>
“Bác nghĩ là con rất khó thích nghi đấy, Lily. Con chưa bao giờ có thể thực sự biểu lộ suy nghĩ của mình cho bất cứ ai cả.”  <br>
<br>
“Có bác và Marble đấy thôi. Năm nay con cũng đã thành người lớn rồi. Bác yên tâm đi. Con sẽ cố gắng hoà nhập hơn.” Cô gái cười. Ôm chặt chiếc áo len vào người. “Năm nào bác cũng tặng con toàn những thứ dễ thương.”  <br>
<br>
Người phụ nữ thở dài, vuốt nhẹ tóc cô gái. “Trước khi rời khỏi, con có định ghé thăm nghĩa trang không?”  <br>
<br>
“Có ạ. Nhưng con sẽ đi một mình.” <br>
<br>
Lily bắt đầu cảm thấy lạnh. Cô không thích mùa đông cho lắm. Nhưng cũng không phải là ghét. Chỉ là nó quá lạnh. Làm cho người có thể lực yếu như cô khó có thể nào mà không bị bệnh. Chưa kể những học kì mới chỉ toàn bắt đầu vào những ngày trở gió. Và cô thì chỉ muốn vùi đầu trong chăn mãi không thôi.   <br>
<br>
Người phụ nữ đã vào nhà trước. Lily cúi xuống nhặt một chiếc lá phong. Còn lấm tấm tuyết. Nhưng cô nghĩ nó rất đẹp, và thật sự nó rất đẹp. Cô hôn chiếc lá, nhét nó vào túi áo. Rồi bước vào trong nhà. Ngửi mùi bánh quy thơm phức trên bàn. Cô nắm lấy va li hành lí của mình, bước ra khỏi cửa. Đi. Người phụ nữ tiễn cô ra tận cửa, bà có khóc. Cô thấy mắt bà sũng nước. Lily ôm lấy bà, hôn lên má, chào tạm biệt rồi quay đầu đi thẳng. Những mối quan hệ như thế này, là thứ duy nhất giữ cô lại nơi đây. Người ta chỉ muốn vẻ bề ngoài, muốn thân xác, và muốn những gì xinh đẹp thuộc về cô. Không ai trên đời, trừ cha mẹ cô đang nằm dưới mồ và người phụ nữ này. Thật sự hiểu được cô muốn gì. Cần gì. Suy nghĩ gì. <br>
<br>
Cô lặng lẽ kéo lê va li vào nghĩa trang, băng qua những con đường đầy đá. Băng qua những nấm mồ rải rác. Sương mù giăng kín. Rồi Lily dừng lại trước hai ngôi mộ sát nhau. Bia đá màu xám bạc. Khắc nguệch ngoạc những dòng chữ đã mờ theo thời gian. Cô khẽ ngồi xuống. <br>
<br>
“Cha mẹ này. Con đã mười tám tuổi.”  <br>
<br>
“Con sắp rời khỏi đây. Con đã nghĩ rằng mình chỉ muốn ở đây mãi. Nhưng con bắt buộc phải rời khỏi.” <br>
<br>
“Cha mẹ sẽ ổn chứ? Ý con là nếu con có đi đâu, thì cha mẹ sẽ vẫn mạnh khoẻ và yên lòng chứ?”  <br>
<br>
“Con sẽ ổn thôi. Con sẽ ổn thôi. Thật đấy.” <br>
<br>
“Mùa thu này lại qua như tất cả những mùa thu trước đó.”  <br>
<br>
“Nhưng lần này, con mong là con sẽ có thể mạnh mẽ hơn nữa.”  <br>
<br>
Cô đặt chiếc lá phong xuống mộ cha mẹ mình. Và ôm lấy cả hai tấm bia. Bờ môi hồng của cô sau khi ở ngoài trời lạnh quá lâu đã thâm lại, trắng bệch. Nhưng cô vẫn mỉm cười. Rồi cô khóc. Cô ôm mặt khóc. Tiếng khóc không to. Chỉ như con mèo nhỏ rên rỉ.<br>
<br>
“Con đi đây. Tạm biệt cha mẹ.” Cô chùi nước mắt. <br>
<br>
Tuyết bắt đầu rơi. Một mùa đông lạnh lẽo có lẽ sẽ không còn phải chờ quá lâu để bao trùm nơi này. Trong màn sương xám đục màu cam lạnh lẽo của tiết trời thu bịn rịn không muốn rời. Cô gái nhỏ nghiêng mình bước đi trên con đường lát gạch hình vệt bánh xe đỏ hoét như máu. </div><br /><!-- chapter 2 --><br />
<b></b><div style="text-align: justify; font-family: Georgia,Helvetica;">
<div style="text-align: center;">
<b><h1>2</h1></b>
<br>
<img src="http://i302.photobucket.com/albums/nn94/smallgreenie/pure.jpg" alt="Photobucket" border="0"><br>
  </div> <br>
Sau bốn tiếng đồng hồ đi tàu. Cuối cùng Lily đã đến nơi. Kí túc xá đại học rất rộng. Tường sơn màu xanh lá nhạt. Phòng ốc cũng rộng rãi. Tuy nhiên phải ở đôi. Cô ghét như vậy. Giống như không còn chút riêng tư nào cho chính mình. Cô là một trong những người đến khá sớm. Mọi người thường đợi khoảng hai ba ngày trước khi vào học rồi mới đến. Nhưng Lily thấy điều này cũng ổn thôi. Cô sẽ có thời gian và cả không gian để xem xét xung quanh nơi đây. Dù gì đến ở một nơi ở mới cũng phải tập tành làm quen với nó chứ.  <br>
<br>
Lily dọn đồ ra phòng. Đồ đạc cũng không nhiều lắm, hơn nữa cô lại khá ngăn nắp. Cho nên mọi thứ cũng chỉ vỏn vẹn chưa đến nửa căn phòng. Tuy vậy cô vẫn nghĩ. Mình muốn một mình một phòng hơn. <br>
<br>
Lúc cô ra ngoài đi ăn. Đã là tám giờ tối. Đèn đường trông rất đẹp. Cô mặc chiếc áo len màu trắng vừa được tặng. Quấn khăn choàng lên đến tận mũi. Tay đút vào túi quần, nắm chặt lại vì lạnh. Chỉ chừa lại đôi mắt nâu sáng. Cô chọn một tiệm thức ăn nhanh, vì bỗng nhiên thèm ăn hamburger kinh khủng. Người ta phải xếp hàng. Cô cũng vậy. Trời lạnh nên mọi người có thói quen tìm những nơi ấm cúng để ngồi cùng nhau. Lily phải đợi hơn ba mươi phút mới đến lượt mình. Cô chọn một chiếc bàn trong góc. Kì lạ là chẳng ai chọn chiếc bàn đó. Nó chỉ có một ghế duy nhất.  <br>
<br>
Lúc về, cô ghé vào một tiệm bánh. Mua ít bánh quy. Trong suốt kì nghỉ, ngày nào cô cũng ăn bánh quy thơm phức của người phụ nữ kia. Gần như trở thành một thói quen không thể thay đổi. Nếu như phải chọn lựa giũa những món ăn khác và bánh quy. Cô nhất định chọn bánh quy.  <br>
<br>
Đến nơi, Lily thấy phòng của mình sáng đèn. Và tự hỏi người nào đến sớm như vậy chứ.  <br>
<br>
Cô gái kia đang cúi xuống thu dọn đồ dùng. Mái tóc dài ngang vai màu nâu đỏ loe hoe. Còn ướt. Cô quay đầu lại nhìn Lily. Không hề ngạc nhiên.  <br>
<br>
“Cô cùng phòng với tôi?” <br>
<br>
Lily không trả lời, chỉ gật đầu. Cô gái đứng trước mặt cô mang một nét đẹp khó tả. Rất mạnh mẽ. Cô ta châm ngòi điếu thuốc lá, rít một hơi dài.<br>
<br>
“Tôi là Christian. Vì gia đình đang có chuyện nên tôi sẽ ở đây khoảng hai ba tuần rồi sẽ đi. Nếu thấy khó chịu về tôi thì cũng làm ơn im lặng. Tôi không có thói quen nghe ai dạy bảo mình.”<br>
<br>
Lily chỉ đứng nghe. Cô vẫn còn ngắm nhìn Christian. Cô ấy rất đẹp. Thật đấy, rất đẹp. Cô ấy cũng cao nữa. Lily có thể chỉ cao một mét sáu, Christian chắc chắn phải cao hơn cô nửa cái đầu.  <br>
<br>
“Nhân tiện, cô tên gì?”<br>
<br>
“Lily.” <br>
<br>
“Thế này thật không phải, nhưng cô thật sự có cái tên rất hợp với mình đấy.” <br>
<br>
Christian chỉ nói vậy, rồi vứt điều thuốc. Leo lên giường đi ngủ. Nhưng Lily thì chưa thể nào ngủ được, cô cảm thấy rất vui. Bởi vì chưa ai khen cô một cách lạ lùng thế này. Khen cô đẹp, khen cô xinh thì có. Chứ chưa ai khen rằng cô rất hợp với tên Lily. Bản thân cô cũng luôn thấy mình hợp với cái tên này. Chỉ là chưa bao giờ nghe người khác nói thế. <br>
<br>
Lily rất vui. Đột nhiên, thấy rất thích người bạn cùng phòng này.  <br>
<br>
Sáng hôm sau, khi cô tỉnh dậy. Trời vẫn chưa sáng hẳn. Christian vẫn vùi đầu trong chăn. Bên cửa sổ là chiếc gạt tàn thuốc đầy những đầu lọc đã cháy đen. Thường thì Lily hay ngủ dậy muộn, nhưng hôm nay, cô nghĩ rằng mình cần phải dậy sớm. Bước xuống giường, sàn nhà lạnh cóng như bị đóng băng cả đêm qua. Khẽ rùng mình, cô đánh răng, rửa mặt, thay quần áo và đi ra ngoài.  <br>
<br>
Ở đây mùa đông đến khá sớm. Như người ta có thể mường tượng rằng mùa thu bị đuổi đi rất vội vã. Cô gái nhỏ không thích điều này. Tuyết đã phủ một lớp dày dưới chân. Chỉ cần thở ra là đã thấy lạnh. Thất vọng vì không tìm được chút dư âm nào của mùa thu, Lily định quay trở về. Nhưng lại thấy bụng đói cồn cào, cô đành đi tìm một chỗ nào để ăn.  <br>
<br>
Những quán ăn mở cửa khá sớm. Chỉ cần đi ra đại lộ chính là thấy cả hàng sa số những cửa hàng lớn nhỏ. Cô chọn cho mình một nơi yên tĩnh. Có tiếng đàn dương cầm. Có cửa sổ nhìn ra con đường phía Tây. Cô gọi một miếng bánh ngọt và một ly sữa nóng. Ngồi nhâm nhi. Nhìn ngắm thành phố dần dần trở nên đông đúc náo nhiệt. Cô nhìn thấy những đứa trẻ tươi cười. Nhìn thấy những đám mây đứt quãng. Nhìn thấy những chiếc xe phóng nhanh trên đường. Cảm thấy những điều đó thật đẹp.  <br>
<br>
“Xin lỗi, tôi có thể ngồi đây được không?”  <br>
<br>
Lily ngước mắt nhìn, cô chạm ngay đến một đôi mắt màu gỗ phỉ. <br>
<br>
“Dĩ nhiên rồi.”  <br>
<br>
Người trước mặt cô có một đôi mắt rất đẹp. Anh ta cũng rất đẹp. Từ khoảnh khắc này liên tưởng đến những điều trước đó. Lily có cảm giác bất cứ ai hay bất cứ cái gì tại nơi này đều hoàn hảo.  <br>
<br>
“Tôi rất thích ngồi chỗ này. Thường thì mỗi khi tôi đến đây, không có ai ngồi đây cả.”  <br>
<br>
“Vâng, từ góc độ này, khung cảnh bên ngoài rất đẹp.”  <br>
<br>
“Ừ, đúng vậy. Nhân tiện, tên tôi là Cedar. Còn em?”  <br>
<br>
“Lily.”  <br>
<br>
“Cái tên này rất hợp với em.” <br>
<br>
Lần này thì cô đỏ mặt. Bởi vì trong một thời gian ngắn, cô nhận được hai lời khen có ý nghĩa giống nhau. Đều là những lời khen cô mong muốn nghe. Cùng một nơi. Chỉ cách thời điểm một khoảng.  <br>
<br>
Cedar rất cao lớn. Anh có mái tóc màu đen. Không hề xem lẫn bất kì màu nào khác. Chỉ là màu đen thôi. Và đôi mắt thì màu gỗ phỉ. Anh cũng hút thuốc. Chậm rãi kéo từng hơi dài. Tựa lưng ra ghế đằng sau. Cedar nhắm mắt lại. Tuyệt nhiên không hề cảm thấy phiền lòng vì cô gái đang ngồi trước mặt. Và cứ như thế, dường như thời gian ngừng lại hẳn.   Khi cứ bình thản ngắm nhìn người trước mặt. Lily nhận ra rằng có lẽ hình ảnh này sẽ không thể nào phai mờ trong trí óc mình. <br>
<br>
Ngày đầu tiên thức giấc tại nơi này, dưới bầu trời chớm đông. Cô đã bị mê hoặc bởi đôi mắt màu gỗ phỉ.                              </div>
<br /><!-- chapter 3 --><br />
<h1></h1>
<div style="text-align: justify; font-family: Georgia,Helvetica;">
<div style="text-align: center;">
<b><h1>3</h1></b><br>
<br>
<img src="http://i302.photobucket.com/albums/nn94/smallgreenie/pure.jpg" alt="Photobucket" border="0"><br>
</div>
<br>
Học kì mới đã bắt đầu. Kí túc xá đã đông nghẹt. Thậm chí bây giờ không gian để thở gần như không có nữa. Sáng bảy giờ là phải dậy, lên giảng đường. Tiết đầu bắt đầu lúc tám giờ. Mười hai giờ nghỉ trưa một tiếng và tiếp tục đến bốn giờ chiều. Buổi tối Lily đi làm thêm ở một nhà hàng. Không đông lắm. Nên có thể tranh thù thời gian rảnh rỗi làm bài tập.<br>
<br>
Christian chỉ học nửa ngày. Hơn Lily hai tuổi, học trên cô hai năm. Kể từ lúc biết, dù rất ít khi nói chuyện, cô vãn đổi cách xưng hô. Gọi Christian là chị. Sáng Christian nằm ngủ đến tận trưa. Buổi chiều dậy đi học. Hình ảnh Lily thường xuyên thấy khi trở về phòng là đầu lọc thuốc rơi vãi đầy sàn. Bản tính cô không thích phải dọn dẹp cho người khác, nhưng cứ nhìn thấy thuốc lá thế này lại không chịu được. Đành nhắm mắt mà dọn dẹp cho xong. Christian thấy vậy không thèm sửa đổi, ngày nào cũng tái diễn. Điều duy nhất mà Lily có thể chịu được, thậm chí là thích thú. Đó là gu âm nhạc của Christian.<br>
<br>
Christian thường nghe những bài hát rất chát chúa. Thật. Nhưng không khi nào Lily cảm thấy những bài hát đó không có ý nghĩa. Cô thích cách Christian thản nhiên hút thuốc, mắt nhắm nghiên, không phải lắc lư theo nhạc như mọi người vẫn thường làm. Chỉ thế thôi đã là tạo nên sự đặc biệt, vì con người đâu ai đủ im lặng để nhắm mắt như vậy.<br>
<br>
<br>
<div align="center"><i>Tôi chưa bao giờ nghĩ máu là đau<br>
Hay như gào thét là độc ác<br>
Chúng ta đều rơi xuống cuộc đời này ngẫu nhiên<br>
Thượng đế chọn nước mắt để nuôi lớn linh hồn<br>
Cứ thế, chúng ta bị chôn vùi<br>
Chôn vùi trong biển đầy nước mắt<br></i></div>
<br>
<br>
Thường thì, Lily không nghe nhạc. Có thể bởi vì vẻ gần như toàn diện và hoàn mỹ của âm nhạc, dù tốt hay xấu, cũng đều khiến cô không thể tập trung. Bản thân cô định hình mình là một thể tồn tai vật chất của quá khứ, mong ước và nỗi nhớ. Cô không tìm thấy bất kì mối dây nào liên kết mình với thực tại. Thậm chí không thể kết nối mình với bất cứ thứ gì ngoài kia, dù là nhỏ nhoi nhất. Chỉ có thể cảm nhận, không thể chạm vào hay lại gần. Vậy nên khi nghe những bài hát này, không khỏi bị mê hoặc. Một sô hoặc một loại người không có khả năng thích ứng, hay thích ứng mà luôn làm cho mình tự hiểu biết một cách quá cao siêu. Thật sự ra thứ mang Lily đến âm nhạc này, là nhờ ca từ. Và nhờ Christian. Cô gái không hề ồn ào, nghe những lời gào thét một cách bình thản. Nhưng người có thể hát lên những ca từ này, cũng sẽ không phải là một người không đặc biệt. Chỉ vì thế nên Lily tin, có một số người đặc biệt, một số người không. Christian nằm trong số những người đặc biệt đó.<br>
<br>
Bản tính của Christian là rất điềm đạm. Hơi bừa bãi. Không thích nghe người khác lải nhải nói nhiều. Christian thích tập trung vào những gì mình đang làm. Thích nghe nhạc. Thích nhắm mắt. Thích cuộn tròn trong chăn cả một ngày. Christian cũng học mỹ thuật. Hiếm hoi thì có một ngày nghỉ mang giá vẽ đi vẽ. Khu kí túc xá khá vắng, sẽ chẳng khó khăn gì để tìm một chỗ yên tĩnh. Đa phần sinh viên ở đây đều là những người có niềm đam mê nhất định gói gọn trong “nghệ thuật”. Âm nhạc, hội họa, kiến trúc. Tất cả những bọn họ đều sống rất riêng, không ai bị lẫn vào ai cả. Bên dãy A có cô bạn lúc nào cũng mặc đồ màu hồng, khoảng năm giờ chiều là ngồi vào phòng piano tập say mê. Dãy B thì có một đứa con gái có vẻ khác lạ ngày nào cũng ngồi vắt vẻo trên cửa sổ, tay cầm bảng vẽ. Lily chú ý không nhiều, nhưng có những điều tưởng như là thói quen, lặp đi lặp lại tuần hoàn không dứt. Cho nên cảm thấy rất ngưỡng mộ những con người ở đây.<br>
<br>
Buổi chiều ngày chủ nhật. Lúc đó đã là vào đông. Rất lạnh. Lạnh đến tê người. Lily nhìn thấy Christian một tay cầm giá vẽ và dụng cụ, tay kia cầm ly cà phê nóng hổi bước vào phòng. Nhẹ nhàng đặt giá vẽ xuống. Christian cởi giày rồi cứ thế nhảy lên giường cuộn tròn chăn lại.<br>
<br>
“Chị đi vẽ à?”<br>
<br>
“Ừ.”<br>
<br>
“Em tưởng chị sợ lạnh lắm cơ. Ngày nào cũng thấy chị cuộn tròn trong chăn.”<br>
<br>
“Hôm nay thì khác, hôm nay là một ngày đông rất đẹp.”<br>
<br>
Mặt của Christian vẫn dính vào gối. Nhưng điều này làm Lily thích thú. Và cô muốn biết, điều gì khiến Christian sợ lạnh lại thức dậy sớm và đi ra ngoài vẽ trong thời tiết cực kì không phù hợp như vậy.<br>
<br>
“Em có thể xem chị vẽ gì được không?”<br>
<br>
“Đừng làm nhăn.”<br>
<br>
Mở khóa kéo chiếc giỏ. Một phần bức tranh đã hiện lên. Màu xám. Lấy cả bức tranh ra, Lily như bị hút vào từng mảng màu.<br>
<br>
Tấm hình hồ nước. Cách kí túc xá khá xa nếu đi bộ. Đi khoảng một tiếng mới đến. Những ngày lạnh nước hồ đóng băng. Không phải màu xanh như những hồ khác. Mà là màu xám, màu xám đục. Ở giữa hồ có tượng đài phun nước hình thiên sứ. Thiên sứ đang ngồi, ngồi rất cô đơn. Cách vẽ của Christian khiến dù không thể chứng kiến vẫn có thể mường tượng được. Vì nó quá gần thực tại. Mà không, có lẽ còn tuyệt vời hơn thực tại. Từng chi tiết nhỏ là một sự ẩu tả. Những nét vẽ phác thô gãy vẫn hằn rất mạnh lên trang giấy. Màu nước được quệt một cách sơ sài, lại càng khó sửa trong tiết trời chỉ cần ra gió là nước đông lại không kịp khô. Mới nhìn thì có vẻ sơ sài. Nhưng bản thân Lily nhận ra không phải như vậy, mà là sự ẩu tả này mới có thể làm đẹp lên bức tranh. Mới thể hiện được sự cô đơn lạnh lùng tự do của thiên sứ. Gói gọn bao trùm cả cảm xúc cuộn lên như sóng. Xoáy vào trang giấy muốn nhàu nát cả màu. Làm cho cả giấy cũng lạnh lẽo theo.<br>
<br>
“Christian.”<br>
<br>
“Em rất thích bức tranh này. Cảm xúc chị thể hiện rất thật.”<br>
<br>
Christian ngẩng đầu lên nhìn Lily bằng đôi mắt màu lục trong suốt. Đôi mắt như mảnh gương phản chiếu ánh sáng, lại có thể nhìn kĩ từng cử chỉ của người khác qua mặt gương này.<br>
<br>
“Giáo viên lúc nào cũng bảo tôi chăm chút không đủ. Haha. Nhưng em biết không, tôi quyết định dậy sớm, đi bộ trong thời tiết âm độ và vẽ cảnh này. Là vì thiên sứ đó rất giống em.”<br>
<br>
Lily nghe xong câu nói đó. Chỉ biết rằng dù tiết trời rất lạnh. Làn da và đôi môi của cô đã khô cả. Nhưng vẫn có thể cảm thấy mặt mình nóng ran. Còn Christian dường như không cảm thấy như vậy. Sau khi nói xong lại ôm lấy chiếc gối. Tiếp tục cuộn tròn.<br>
<br>
Một tuần sau. Christian dọn dẹp đồ đạc. Trên chiếc bàn cạnh cửa sổ không còn thấy chiếc gạt tàn màu xanh lá mạ trong veo đầy tàn thuốc. Dưới sàn cũng không còn đầu lọc. Chỉ còn vết ố do tàn thuốc ở chân giưởng Christian, Lily cố gắng cũng không chùi được. Cô đi làm về sớm. Thấy Christian ngồi bên thành giường hút thuốc nghe nhạc. Đôi mắt màu lục sẫm màu hơn mọi ngày.<br>
<br>
“Về sớm thế.”<br>
<br>
“À, vâng. Hôm nay em có bài luận phải hoàn thành. Hôm nay chị đi đâu à?”<br>
<br>
“Ừ. Cha tôi kêu tôi về rồi. Vài ngày nữa là tôi dọn về nhà không ở kí túc xá nữa.”<br>
<br>
Lily ừ hữ.  Bỗng thấy hụt hẫng kì lạ. Cảm tưởng sẽ rất khác lạ nếu không gặp người con gái kì lạ này mỗi ngày. Cô thả mình xuống giường. Chiếc áo khoác vướng vào dây ba lô của Christian làm rơi xuống đất đánh bộp. Từ trong ba lô, vô số đĩa nhạc rơi ra. Cô cúi xuống nhặt.<br>
<br>
Đầu tiên cô nhìn thấy, là một đôi mắt màu gỗ phỉ.<br>
                               </div>
