<strong>Category:</strong> Hard angst_Mild dark_SA_One shot <br>
<br>
<br>
<br>
~*~<br>
<br>
Anh - không quân phục, mảnh áo sơ mi trắng không cài nút, không cắm thùng, chiếc quần tây nhàu nhì, mái tóc đen lòa xòa trước miếng băng mắt - chẳng còn là Đại tá. Cười thầm. Bó hoa ly trắng trên tay, anh nghĩ, không biết cậu sẽ phản ứng thế nào khi gặp anh. Gõ nhẹ vài tiếng lên cửa, anh bước vào.<br>
<br>
~*~<br>
<br>
Ed mở mắt. Mớ tài liệu trên bàn giấy bay lộn xộn, lẫn vào nhau rải trắng sàn. Tấm rèm xanh lờ lờ, gió thổi tốc nó, bay phần phật. <br>
<br>
Cậu ngồi dậy, người ê ẩm, tóc ướt sũng, nhễu giọt xuống mảnh drap giường.<br>
<br>
“Mình ngủ quên?”<br>
<br>
Thừ người. Trần nhà nắng nhảy lăn tăn. Nhún vai, Ed bước lại lượm đống giấy tờ. <br>
<br>
Trời nóng.<br>
<br>
~*~<br>
<br>
Anh lắc đầu. <br>
<br>
Đặt bó hoa lên bàn, anh quăng mình xuống nệm. Tài liệu rải trắng sàn, nhưng anh không hứng lượm. Ngáp dài. Đèn phòng tắm sáng, có tiếng nước chảy rỉ rả, bóng người thấp thoáng.<br>
<br>
Cười nhạt.<br>
<br>
Anh cởi áo, vuốt nhẹ tóc.<br>
<br>
“Tôi chờ.”<br>
<br>
Rèm bay là. Cửa sổ đóng.<br>
<br>
Trăng mảnh như lá, vật vờ.<br>
<br>
~*~<br>
<br>
Nước nhỏ.<br>
<br>
<em>Toong.</em><br>
<br>
Nước trong bồn gợn nhẹ, va vào thành và vỡ vụn.<br>
<br>
<em>Toong.</em><br>
<br>
Rơi. Lại thêm gợn. Cậu cười.<br>
<br>
Hơi nước phả lên, nóng. Thở nhẹ, tay cậu quờ quạng trong nước, mờ. Nước tuôn chậm chạp, luồn vào cơ thể, nóng lâng lâng. Ed thấy mắt nặng trĩu.<br>
<br>
“Al, lại đây với anh.”<br>
<br>
Mặt nước run mạnh, tràn bồn. Cậu ngước lên, đưa tay ra. Nắng rơi từ kẻ xuống, sáng lóa. Cậu ôm chặt.<br>
<br>
Nước sóng sánh, lay động, rồi im bặt.<br>
<br>
Hơi nước mờ ảo.<br>
<br>
Nắng trắng phòng.<br>
<br>
~*~<br>
<br>
Gần nửa tiếng.<br>
<br>
Đèn phòng tắm vẫn sáng, chỉ có tiếng nước ngừng chảy.<br>
<br>
Anh nằm trên giường, bắt đầu chán và sốt ruột. Trăng lên cao. Không có gió vào phòng. Cửa sổ đóng. Rèm bay. Tối.<br>
<br>
Anh nhìn trần, trăng hắt leo lét bóng mây, lúc ẩn lúc dạng. Cậu chưa ra.<br>
<br>
<em>Cạch… cạch… cạch…</em><br>
<br>
Kim giây rơi từng nấc, nặng. Phòng ngột ngạt, nóng. Cửa sổ không mở. Đèn phòng tắm sáng.<br>
<br>
<em>À.</em><br>
<br>
Anh nhổm dậy, tóm chai vang, bật nắp. Vị men nho ngọt và cay ngắt tuôn xuống cổ, ấm và ngạt. Anh nốc cạn, khẽ quệt mép.<br>
<br>
Lâu.<br>
<br>
“Tôi kiên nhẫn có hạn.”<br>
<br>
Cười. Anh bước đến phòng tắm, gót giầy xéo lên giấy, nghiến, làm chúng nhàu nhúm.<br>
<br>
“Ed, mau ra đi.”<br>
<br>
Im. Tiếng nước lại róc rách. Anh đập cửa, nắm chốt và xoay. Nó kẹt.<br>
<br>
“Làm gì vậy?”<br>
<br>
Vẫn im. Nước vẫn chảy. Chợt, ai cười khúc khích.<br>
<br>
<em>Tách!</em><br>
<br>
Anh búng tay, cánh cửa phụt lên, rồi tro trắng rơi xuống sàn. Anh bước vội, mùi hơi nước nồng nặc, xộc nóng không khí đến ngợp ngụa. Cậu nằm đó. Tóc bết thành vện vắt ngang vai. Ngủ ngon.<br>
<br>
Anh sững, bất giác đưa tay lên ngang môi, phì cười. Nhẹ nhàng, Roy rút chiếc khăn lông, bước đến. Nút bật giật khỏI đáy bồn, nước xoáy thành cuộn, tháo ra ngoài. Anh quàng lấy cậu, bế bổng lên, cẩn trọng không làm cậu tỉnh giấc.<br>
<br>
Cậu co ro, vùi mặt vào tay anh. Nước từ tóc nhỏ xuống sàn, tanh tách.<br>
<br>
Anh đặt cậu xuống giường. Cậu run nhẹ, tấm khăn mỏng manh quấn quanh người ướt nước. Anh cúi xuống, tay anh nắm lấy vai cậu, nước làm trượt, không thể giữ. Tóc vàng rũ rượi đổ dính tay, môi anh dừng, hơi thở phả ra nóng ran. Mùi hoa ly trắng yếu ớt lan lan. Rèm bay là. Cửa sổ đóng. <br>
<br>
Anh bước ra. Cửa sập. <br>
<br>
Bó ly trắng rơi, vỡ nát.<br>
<br>
~*~<br>
<br>
<em><span style="COLOR: orange">“Rainy… oh rainy day… come from so far… take no long… give me a break… make me drop like tears…”<br>
<br>
Mưa. Trời quần quện màu đỏ, cả lửa và máu. Anh nhìn. Cậu khe khẽ hát. Mùi thuốc súng quyện vớI thịt khét, tanh lòm. Mưa rơi trong đêm, không màu và vô dạng.<br>
<br>
“Rainy day… rainy sky… wash this life… so I don’t cry… just a day with rain falls from the sky…”<br>
<br>
Cậu cười, anh đoán vậy, nhưng không chắc chắn. Tóc cậu xổ ra và mưa làm nó bết vào má cậu, anh không thể thấy đôi mắt cậu. Tay anh xiết nhẹ, anh muốn gọi, nhưng không nghĩ ra một cái tên…<br>
<br>
“Đại tá…”<br>
<br>
À. Cậu sắt đá hơn anh tưởng… <br>
<br>
“Tôi có thể nhờ anh một việc?” Giọng cậu lẫn vào tiếng nước rơi, vụn.<br>
<br>
Lặng. Chậm rãi, anh bước đến. Roy thấy tay trái của Ed ôm chặt cánh tay kim loại, cậu thu mình vào, né từng hạt mưa tuôn nhanh. Bất giác, chút rạn vỡ tan trong ánh nhìn đen thấu. Anh quỳ xuống bên cạnh cậu.<br>
<br>
Cậu đổ vào anh. Lạnh ngắt. Tay cậu riết quanh lưng anh, như tìm kiếm chút tồn tại sự sống. <br>
<br>
Bất chợt, anh nhận ra. Máu và kim loại, chúng tanh nồng như nhau.<br>
<br>
</span></em><br>
~*~<br>
<br>
“Anh.”<br>
<br>
“…?”<br>
<br>
“Mở cửa sổ đi.”<br>
<br>
Ed vươn tay tóm hạt ánh sáng vừa bay vào phòng. Nó xuyên qua, rơi xuống mắt anh. Cậu thở nhẹ, đưa tay bắt hạt nắng đi lạc khác. Chúng đều trượt qua và rơi. <br>
<br>
“TạI sao?” Anh hỏi. Bóng sáng lùa vào phòng càng nhanh, cậu không kịp chụp lấy.<br>
<br>
“Tôi muốn bắt nắng bỏ đầy bình hoa kia.” Thản nhiên, cậu chộp lấy bông nắng khác, chúng vẫn bay.<br>
<br>
“Nắng không bắt được bằng tay.” Roy thả mình xuống giường trở lại. Cậu lao theo ánh sáng bị gió thổi, loạng choạng. Anh vội níu cậu.<br>
<br>
“Ngốc!”<br>
<br>
Anh càu nhàu. Cậu như không để ý, tiếp tục vớt nắng, môi cậu hơi nở ra và đôi mắt khẽ hấp háy. Anh giằng lấy tay cậu đang giơ lên, đẩy cậu lại xuống giường. Màu vàng trong mắt cậu mất sáng, cánh tay cậu buông thõng trong tay anh. Roy cau mày, anh không thích cậu những lúc như vầy. <br>
<br>
“Nắng không thể bắt được…” Anh thì thầm khi kề môi xuống cổ cậu “… vì nắng sẽ thành bóng khi ta chạm đến… cậu hiểu không…?”<br>
<br>
Bàn tay anh xiết lấy bờ vai Ed, ngọt và sâu, anh nuốt vội màu nắng vừa trôi đến môi cậu… <br>
<br>
Rèm bay khẽ, dù cửa sổ vẫn đóng. Nắng chạm vào vải, vụn ra li ti muôn vàn giọt trắng tinh. Cậu khép mắt, anh không cho phép cậu chạm đến ánh sáng. Anh sợ cậu sẽ như nắng, tan ra vô vàn mảnh trắng tinh…<br>
<br>
…không lý do, mưa rơi vào mắt ai, chảy lan…<br>
<br>
~*~<br>
<br>
<em><span style="COLOR: orange">Cậu đổ vào anh. Lạnh ngắt. Anh riết lấy cậu, muốn cậu tan vào mình. Máu đổ từ cánh tay auto mail, đen và tanh. Nó thấm, nhuốm bẩn cả sắc vàng tóc cậu. Anh tháo bao tay, da trần run lên khi màu đen chạm vào. Rất nhanh. Cậu bị nuốt chửng. Hàng nghìn những bàn tay đen ngòm bé xíu vươn lên từ vũng máu đen, kéo cậu đi. Anh cố giằng, anh nắm chặt. Cậu không mở mắt. Mọi thứ mềm đi, mờ ảo như bể mây… cậu mờ dần… tay anh không thể ôm cậu thêm… <br>
<br>
Mọi vật lao vụt qua, chói loà, sáng. <br>
<br>
Sáng nuốt cậu đi. <br>
<br>
Và anh tỉnh dậy. Rỗng không.<br>
</span></em><br>
<br>
~*~<br>
<br>
Tuyết. <br>
<br>
Trắng và vẫn sáng, chỉ không lấp lánh. Cậu không thích tuyết. <br>
<br>
“Al, nhớ hồi đó anh và em thường làm gì lúc này không?”<br>
<br>
“Em thích làm người tuyết, và vì người tuyết của em rất đẹp, trong khi anh không thể làm đẹp như em để tặng Winry, nên anh đã xài Alchemist. Ha ha..! vẫn còn nhớ lúc đó em đã giận vì anh ăn gian!”<br>
<br>
“Phải rồI! Nina cũng thích tuyết lắm! Con bé thích lăn lộn với anh em mình trong sân toàn tuyết trắng, những lúc đó con Alexander toàn đè anh đến ngộp thở…”<br>
<br>
“Chị Gracia cũng sinh bé Alicia trong một đêm bão tuyết, em nhớ không? Oài, lần đó anh sợ thật đấy! Cuống lên chả biết làm gì! May mà mọi việc tốt đẹp! Nhìn Hughes và chị Gracia lúc ấy hạnh phúc thật!”<br>
<br>
“Giờ này chắc Winry và bà đã chuẩn bị sẵn tiệc Giáng Sinh rồi ấy nhở? Không biết trong kì nghỉ đông này phía trung tâm có giao thêm nhiệm vụ gì nữa không! Chán thật…!”<br>
<br>
<br>
<br>
Cửa sổ đóng. Tuyết rơi dày. Trắng muốt.<br>
<br>
~*~<br>
<br>
Anh ôm cậu từ phía sau. Cậu nảy người suýt té. Trời đen. Trăng vẫn hình lưỡi liềm. Anh lôi cậu khỏi cửa sổ. Cậu đang định mở nó ra. Tay cậu vẫn cố vươn, nắm lấy mảnh rèm bay chấp chới. Cậu tuột tay. <br>
<br>
Tuyết nhoè.<br>
<br>
<br>
“Cậu không được làm vậy.”<br>
<br>
“…”<br>
<br>
“Cánh cửa đó, không được mở.”<br>
<br>
“…”<br>
<br>
Cậu đẩy anh, thả người xuống nệm. Nhắm mắt, cậu cuộn tấm chăn quanh người. Anh ngồi xuống cạnh bên, vuốt ve mái tóc cậu xõa tràn. <br>
<br>
“Tuyết nhiều…”<br>
<br>
“Hửm…?”<br>
<br>
“Tuyết…” Cậu chỉ bầu trời đêm đen thẳm “Nó rơi…” Khao khát…<br>
<br>
Rất thoáng, ánh mắt anh vơi… <br>
<br>
“Ừ, tuyết.”<br>
<br>
Cười.<br>
<br>
Và rơi…<br>
<br>
Khẽ.<br>
<br>
~*~<br>
<br>
<em><span style="COLOR: orange">“Tôi thích ngựa gỗ.” Cậu đột nhiên cười, quay sang nói với anh. “Roy này, đừng đốt ngựa gỗ của tôi nhá!”<br>
<br>
“Cậu nói gì vậy?” Anh nheo mày, nắng chói lóa, bóng hình cậu phôi pha bởi nắng.<br>
<br>
“Cả nơi này nữa…” Ed giậm nhẹ chân, bước thủng thẳng trên tàng lá cỏ rợp xanh trải dài “Anh… không được đốt nó…”<br>
<br>
“Fullmetal…”<br>
<br>
Lặng. Cậu nhìn đâu đó xa xăm. Gió mơn nhẹ mặt cỏ, rì rào hát thầm. <br>
<br>
“Tôi không có nơi nào để về… tôi không thể quay lưng… tôi không muốn nhìn…”<br>
<br>
“Quá khứ chắc không về nếu ta không có cái để gọi nó, phải không?”<br>
<br>
“Ngựa gỗ… tôi đốt rồi…”<br>
<br>
Bay. Đám bồ công anh phù du thích đu theo nắng. Hẫng.<br>
<br>
“Edward…”<br>
<br>
Anh níu lấy lọn tóc cậu bay…<br>
<br>
… và cháy…<br>
<br>
Lụi.<br>
<br>
<br>
<br>
<br>
Anh tỉnh dậy. Rỗng không.<br>
</span></em><br>
<br>
~*~<br>
<br>
Anh cúi xuống. Cậu ngước nhìn anh. Môi anh chạm vào môi cậu, dịu dàng. <br>
<br>
… lạnh.<br>
<br>
Anh luồn tay vào tóc, nắm chặt, cái hôn trở nên chặt thít. Cậu nhăn mặt, bấu lấy áo anh. Nước mắt cậu chảy.<br>
<br>
… Anh thả cậu ra. Cậu ngã xuống, không níu giữ. Gió luồn khung cửa hẹp, hất tóc cậu lay lay. Nước mắt vẫn lăn, bay và bể. Ed ôm lấy tay phải, ngón tay ấn mạnh xuống. Thứ nước gì đỏ chảy tràn. Cậu giơ tay, thứ nước ấy chậm chạp trượt xuống... nóng hổi. <br>
<br>
Vô thức. Cậu cười. <br>
<br>
… vô thức… anh đau.<br>
<br>
<br>
Cậu giật mình, anh nắm tay cậu rất chặt. Anh xiết cậu đến nghẹt thở. Môi anh huốt sạch tất cả, nước mắt lẫn thứ chất đỏ ấy. Cậu không biết... chỉ là bỗng nhiên...<br>
<br>
Rỗng tuếch. Chả có gì.<br>
<br>
Anh ôm lấy mặt cậu, nhìn sâu vào ánh mắt vàng. Nó sáng. Sáng đến mức trắng xoá. Như nắng. Không thể thấy gì.<br>
<br>
Anh không biết. Anh chỉ nắm lấy cậu. Rất chặt.<br>
<br>
Cậu sẽ không bay như nắng…<br>
<br>
…?…<br>
<br>
~*~<br>
<br>
<em><span style="COLOR: orange">Lá rơi. Nắng trải.<br>
<br>
Cậu ngủ yên. Như lá đổ.<br>
<br>
Anh nhìn. Đen. Không chút màu nắng đang cháy.<br>
<br>
Anh nâng cậu, ôm vào lòng. Và cười.<br>
<br>
Ừ. Cậu chỉ ngủ.<br>
<br>
… mãi mãi…<br>
<br>
<br>
<br>
Lửa. Cháy. Tất cả. Cháy. Trắng. <br>
<br>
…<br>
<br>
Cậu lại nhìn anh lần nữa. <br>
<br>
… không cười.<br>
<br>
<br>
<br>
Anh tỉnh dậy. Rỗng không.<br>
</span></em><br>
<br>
~*~<br>
<br>
Cậu nằm yên. Rèm lay nhẹ. Nắng tràn. Cửa sổ đóng.<br>
<br>
Cậu nhìn. Mặt trời lọt qua khuôn cửa, loá. <br>
<br>
Anh không có ở đây.<br>
<br>
Mùi hoa ly trắng thoang thoảng. Tiếng nước rơi ngừng từ lâu. Đèn phòng tắm đã tắt. Nước cạn.<br>
<br>
Chỉ có màu trắng ngập đầy. Khao khát.<br>
<br>
Mắt cậu chợt sáng, Ed ngồi dậy, đưa tay nắm lấy giọt nắng bay…<br>
<br>
Nắng tròn vạnh.<br>
<br>
… cậu cười.<br>
<br>
~*~<br>
<br>
<em><span style="COLOR: green">Sunny… oh sunny day… come from so far… take so long… give me a break… to be lit like sun…</span></em><br>
<br>
~*~<br>
<br>
Cánh ly cuối cùng rơi. Anh tỉnh giấc.<br>
<br>
Rèm bay thốc. Nắng tràn. Cửa sổ tung.<br>
<br>
Anh nhìn. Mặt trời ngập đầy khung, cháy.<br>
<br>
… cậu không có ở đây…<br>
<br>
Tài liệu rải trắng phòng… tóc vàng vương… mỏng hơn sáng…<br>
<br>
Trắng dâng ngộp màu. Huơ hoác.<br>
<br>
Chợt bàng hoàng, anh nhào đến cửa, cố thấy bóng ai sáng trong phôi pha.<br>
<br>
…<br>
<br>
… ngựa gỗ lắc lư…<br>
<br>
… nắng cười.<br>
<br>
<br>
Tan.<br>
<br>
~*~<br>
<br>
Và anh lại tỉnh dậy.<br>
<br>
…<br>
<br>
Rỗng không.<br>
<br>
<br>
<br>
<br>
<strong>END.</strong><br>
<br>
<br>
<br>
    <div style="TEXT-ALIGN: center">
<img title="462F4487.JPG, hosted by TheImageHosting.com" height="339" alt="462F4487.JPG, hosted by TheImageHosting.com" src="http://images6.theimagehosting.com/462F4487.JPG" width="509" border="0"> </div> <p>  </p>“Rainy… oh rainy day… come from so far… take no long… give me a break… make me drop like tears…”<br>
<br>
Mưa. Trời quần quện màu đỏ, cả lửa và máu. Anh nhìn. Cậu khe khẽ hát. Mùi thuốc súng quyện vớI thịt khét, tanh lòm. Mưa rơi trong đêm, không màu và vô dạng.<br>
<br>
“Rainy day… rainy sky… wash this life… so I don’t cry… just a day with rain falls from the sky…”<br>
<br>
Cậu cười, anh đoán vậy, nhưng không chắc chắn. Tóc cậu xổ ra và mưa làm nó bết vào má cậu, anh không thể thấy đôi mắt cậu. Tay anh xiết nhẹ, anh muốn gọi, nhưng không nghĩ ra một cái tên…<br>
<br>
“Đại tá…”<br>
<br>
À. Cậu sắt đá hơn anh tưởng… <br>
<br>
“Tôi có thể nhờ anh một việc?” Giọng cậu lẫn vào tiếng nước rơi, vụn.<br>
<br>
Lặng. Chậm rãi, anh bước đến. Roy thấy tay trái của Ed ôm chặt cánh tay kim loại, cậu thu mình vào, né từng hạt mưa tuôn nhanh. Bất giác, chút rạn vỡ tan trong ánh nhìn đen thấu. Anh quỳ xuống bên cạnh cậu.<br>
<br>
Cậu đổ vào anh. Lạnh ngắt. Tay cậu riết quanh lưng anh, như tìm kiếm chút tồn tại sự sống. <br>
<br>
Bất chợt, anh nhận ra. Máu và kim loại, chúng tanh nồng như nhau.<br>
<br>
Cậu đổ vào anh. Lạnh ngắt. Anh riết lấy cậu, muốn cậu tan vào mình. Máu đổ từ cánh tay auto mail, đen và tanh. Nó thấm, nhuốm bẩn cả sắc vàng tóc cậu. Anh tháo bao tay, da trần run lên khi màu đen chạm vào. Rất nhanh. Cậu bị nuốt chửng. Hàng nghìn những bàn tay đen ngòm bé xíu vươn lên từ vũng máu đen, kéo cậu đi. Anh cố giằng, anh nắm chặt. Cậu không mở mắt. Mọi thứ mềm đi, mờ ảo như bể mây… cậu mờ dần… tay anh không thể ôm cậu thêm… <br>
<br>
Mọi vật lao vụt qua, chói loà, sáng. <br>
<br>
Sáng nuốt cậu đi. <br>
<br>
Và anh tỉnh dậy. Rỗng không.<br>
“Tôi thích ngựa gỗ.” Cậu đột nhiên cười, quay sang nói với anh. “Roy này, đừng đốt ngựa gỗ của tôi nhá!”<br>
<br>
“Cậu nói gì vậy?” Anh nheo mày, nắng chói lóa, bóng hình cậu phôi pha bởi nắng.<br>
<br>
“Cả nơi này nữa…” Ed giậm nhẹ chân, bước thủng thẳng trên tàng lá cỏ rợp xanh trải dài “Anh… không được đốt nó…”<br>
<br>
“Fullmetal…”<br>
<br>
Lặng. Cậu nhìn đâu đó xa xăm. Gió mơn nhẹ mặt cỏ, rì rào hát thầm. <br>
<br>
“Tôi không có nơi nào để về… tôi không thể quay lưng… tôi không muốn nhìn…”<br>
<br>
“Quá khứ chắc không về nếu ta không có cái để gọi nó, phải không?”<br>
<br>
“Ngựa gỗ… tôi đốt rồi…”<br>
<br>
Bay. Đám bồ công anh phù du thích đu theo nắng. Hẫng.<br>
<br>
“Edward…”<br>
<br>
Anh níu lấy lọn tóc cậu bay…<br>
<br>
… và cháy…<br>
<br>
Lụi.<br>
<br>
<br>
<br>
<br>
Anh tỉnh dậy. Rỗng không.<br>
Lá rơi. Nắng trải.<br>
<br>
Cậu ngủ yên. Như lá đổ.<br>
<br>
Anh nhìn. Đen. Không chút màu nắng đang cháy.<br>
<br>
Anh nâng cậu, ôm vào lòng. Và cười.<br>
<br>
Ừ. Cậu chỉ ngủ.<br>
<br>
… mãi mãi…<br>
<br>
<br>
<br>
Lửa. Cháy. Tất cả. Cháy. Trắng. <br>
<br>
…<br>
<br>
Cậu lại nhìn anh lần nữa. <br>
<br>
… không cười.<br>
<br>
<br>
<br>
Anh tỉnh dậy. Rỗng không.<br>
Sunny… oh sunny day… come from so far… take so long… give me a break… to be lit like sun…