<i><b>Tác giả :</b></i> Ajar (Linh Nguyên).

<p><i><b>Thể loại : </b></i>Học đường, vui vẻ, đôi chút lãng mạn và ngốc xít. Nói chung là về “đẳng cấp thứ ba” mà !

</p>
<p><i><b>Đánh giá :</b></i> K, đặc biệt khuyến khích các bạn teen nhí nhảnh yêu đời (giống mình).

</p>
<p><i><b>Lời tác giả :</b></i> Có thể nói,<i> Ngủ lại sân trường </i>chính là cảm xúc về đời sống học đường thật của mình. Mình đang học lớp chín, năm cuối cùng còn ngồi trên ghế Trung học cơ sở. Chính vì vậy, mình muốn viết về một cái gì đó để đánh dấu mốc trưởng thành của mình nói riêng và cả ngàn bạn học sinh khác nói chung. À mà nè, nếu bạn là fan những câu chuyện tình bi kịch sướt mướt, yêu đương nhăng nhít, phản bội để rồi tái hợp thì không nên đọc <i>Ngủ lại sân trường</i>. Còn trái lại, bạn muốn tìm lại thuở học trò sôi động mà không thiếu phần mơ mộng êm đềm, có những pha bị “ngơ ngẩn” vì cậu bạn lớp bên, thì đây chính là thế giới dành riêng cho bạn !

</p>
<p></p>
<p>--- --- --- --- --- --- --- 

</p>
<p></p>
<p>Tôi có một mơ ước cháy bỏng, một mơ ước chưa kịp định hình trong trái tim tôi lúc còn trẻ.


</p>
<p></p>
<p>Tôi có một mơ ước cháy bỏng, một mơ ước chung của cái gọi là “đẳng cấp thứ ba”.


</p>
<p></p>
<p>Tôi có một mơ ước cháy bỏng, là một trưa về nằm ngủ lại sân trường.</p>