<div align="center">
<strong>Category</strong>: Poem - Romance.<br>
</div>

<br>
<br>
<br>



<b><div style="text-align:center;">A letter from Munich.<br>
By Lishrayder<br>
<br>
~*~<br>
<br>
<br>
<br>
<br>
</div> <div align="center"><span style="FONT-SIZE: 8pt; LINE-HEIGHT: 100%"><span style="COLOR: #999900"><strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 100%"><span style="COLOR: #009900"><span style="FONT-FAMILY: Tahoma">T</span></span></span></strong>ôi sẽ lại gặp anh<br>
<br>
Vẫn trong một chiều <span style="COLOR: #ffcc66">nắng</span> nhạt<br>
<br>
Munich <span style="COLOR: #3366ff">xanh</span> óng sắc phai trời<br>
<br>
Tôi vẫn đứng đó,<br>
<br>
Để tóc vàng bay theo lá rơi<br>
<br>
Nhìn anh và mỉm cười<br>
<br>
"Chào anh, tôi biết sẽ gặp lại"<br>
<br>
Và thấy anh ngạc nhiên lạ lùng<br>
<br>
Nhưng không sao<br>
<br>
Vì tôi sẽ yêu anh.<br>
<br>
<br>
<br>
<br>
<br>
<strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 100%"><span style="FONT-FAMILY: Tahoma"><span style="COLOR: #009900">N</span></span></span></strong>hững con phố dài xa lạ<br>
<br>
Dắt tay nhau rảo bước thật nhanh<br>
<br>
Hơi thở anh trắng mờ như hư ảo<br>
<br>
Một cái xiết chặt dưới lớp găng dày<br>
<br>
Nụ cười anh lấp lánh<br>
<br>
Màu đen mắt sâu ấm nồng<br>
<br>
Chia nhau cốc <span style="COLOR: #990000">cà phê </span>nóng<br>
<br>
Hạnh phúc mịn màng như kem<br>
<br>
<br>
<br>
<br>
<br>
<br>
<strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 100%"><span style="FONT-FAMILY: Tahoma"><span style="COLOR: #009900">N</span></span></span></strong>ụ hôn còn mướt trên da<br>
<br>
Vị trong lành khô tan như <span style="COLOR: #ff99ff">ốc quế</span><br>
<br>
Thì thầm thật nhỏ nhẹ bên tai<br>
<br>
Và ngón tay dịu dàng vuốt trên tóc<br>
<br>
"Ta đã biết nhau chăng?<br>
<br>
Từ những <span style="COLOR: #333399">hoài niệm</span>...?"<br>
<br>
Không phải đâu.<br>
<br>
Nhưng không nói làm gì.<br>
<br>
Để chiều cứ xanh lững lờ.<br>
<br>
<br>
<br>
<br>
<br>
<strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 100%"><span style="FONT-FAMILY: Tahoma"><span style="COLOR: #009900">X</span></span></span></strong>ao xác một ngọn gió côi<br>
<br>
Se sắt nơi đồng xa ôm nắng<br>
<br>
Bó hoa dại trên tay<br>
<br>
Rụt rè anh đưa tôi, cười thật nhẹ<br>
<br>
Những bông hoa cúc áo<br>
<br>
<span style="COLOR: #cccccc">Trắng </span>tinh khôi như tuyết sớm rơi<br>
<br>
Tôi ôm anh<br>
<br>
Và ta ngã xuống đồng<br>
<br>
Trao nhau vị còn lại que kem trên môi<br>
<br>
<br>
<br>
<br>
<strong><span style="FONT-FAMILY: Tahoma"><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 100%"><span style="COLOR: #009900">T</span></span></span></strong>a nhảy cùng nhau<br>
<br>
Trong điệu nhạc se sẽ<br>
<br>
Từ chiếc đài cũ không hay nghe<br>
<br>
Căn phòng chật hẹp<br>
<br>
Khúc tình ca nho nhỏ<br>
<br>
Một <span style="COLOR: #993399">tình yêu </span>không tên<br>
<br>
Ngọt thơm như táo chín.<br>
<br>
<br>
<br>
<br>
<br>
<span style="FONT-SIZE: 12pt; LINE-HEIGHT: 100%"><span style="FONT-FAMILY: Tahoma"><strong><span style="COLOR: #009900">S</span></strong></span></span>ẽ không là chiêm bao<br>
<br>
Vì tôi sẽ gặp anh<br>
<br>
Lần nữa nơi không quen.<br>
<br>
Vì tôi sẽ yêu anh<br>
<br>
Lần nữa dù không <em><span style="COLOR: #cc0000">Anh</span></em>.<br>
<br>
... Tôi sẽ yêu anh.</span></span></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div align="right">
<em><span style="COLOR: #cc33cc">P.S: I <span style="COLOR: #33cc00">loved</span> you.</span></em><br>
<span style="COLOR: #999999">-From Munich.-</span>
</div></b><span style="COLOR: #999900"><strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 100%"><span style="COLOR: #009900"><span style="FONT-FAMILY: Tahoma">T</span></span></span></strong>ôi sẽ lại gặp anh<br>
<br>
Vẫn trong một chiều <span style="COLOR: #ffcc66">nắng</span> nhạt<br>
<br>
Munich <span style="COLOR: #3366ff">xanh</span> óng sắc phai trời<br>
<br>
Tôi vẫn đứng đó,<br>
<br>
Để tóc vàng bay theo lá rơi<br>
<br>
Nhìn anh và mỉm cười<br>
<br>
"Chào anh, tôi biết sẽ gặp lại"<br>
<br>
Và thấy anh ngạc nhiên lạ lùng<br>
<br>
Nhưng không sao<br>
<br>
Vì tôi sẽ yêu anh.<br>
<br>
<br>
<br>
<br>
<br>
<strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 100%"><span style="FONT-FAMILY: Tahoma"><span style="COLOR: #009900">N</span></span></span></strong>hững con phố dài xa lạ<br>
<br>
Dắt tay nhau rảo bước thật nhanh<br>
<br>
Hơi thở anh trắng mờ như hư ảo<br>
<br>
Một cái xiết chặt dưới lớp găng dày<br>
<br>
Nụ cười anh lấp lánh<br>
<br>
Màu đen mắt sâu ấm nồng<br>
<br>
Chia nhau cốc <span style="COLOR: #990000">cà phê </span>nóng<br>
<br>
Hạnh phúc mịn màng như kem<br>
<br>
<br>
<br>
<br>
<br>
<br>
<strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 100%"><span style="FONT-FAMILY: Tahoma"><span style="COLOR: #009900">N</span></span></span></strong>ụ hôn còn mướt trên da<br>
<br>
Vị trong lành khô tan như <span style="COLOR: #ff99ff">ốc quế</span><br>
<br>
Thì thầm thật nhỏ nhẹ bên tai<br>
<br>
Và ngón tay dịu dàng vuốt trên tóc<br>
<br>
"Ta đã biết nhau chăng?<br>
<br>
Từ những <span style="COLOR: #333399">hoài niệm</span>...?"<br>
<br>
Không phải đâu.<br>
<br>
Nhưng không nói làm gì.<br>
<br>
Để chiều cứ xanh lững lờ.<br>
<br>
<br>
<br>
<br>
<br>
<strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 100%"><span style="FONT-FAMILY: Tahoma"><span style="COLOR: #009900">X</span></span></span></strong>ao xác một ngọn gió côi<br>
<br>
Se sắt nơi đồng xa ôm nắng<br>
<br>
Bó hoa dại trên tay<br>
<br>
Rụt rè anh đưa tôi, cười thật nhẹ<br>
<br>
Những bông hoa cúc áo<br>
<br>
<span style="COLOR: #cccccc">Trắng </span>tinh khôi như tuyết sớm rơi<br>
<br>
Tôi ôm anh<br>
<br>
Và ta ngã xuống đồng<br>
<br>
Trao nhau vị còn lại que kem trên môi<br>
<br>
<br>
<br>
<br>
<strong><span style="FONT-FAMILY: Tahoma"><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 100%"><span style="COLOR: #009900">T</span></span></span></strong>a nhảy cùng nhau<br>
<br>
Trong điệu nhạc se sẽ<br>
<br>
Từ chiếc đài cũ không hay nghe<br>
<br>
Căn phòng chật hẹp<br>
<br>
Khúc tình ca nho nhỏ<br>
<br>
Một <span style="COLOR: #993399">tình yêu </span>không tên<br>
<br>
Ngọt thơm như táo chín.<br>
<br>
<br>
<br>
<br>
<br>
<span style="FONT-SIZE: 12pt; LINE-HEIGHT: 100%"><span style="FONT-FAMILY: Tahoma"><strong><span style="COLOR: #009900">S</span></strong></span></span>ẽ không là chiêm bao<br>
<br>
Vì tôi sẽ gặp anh<br>
<br>
Lần nữa nơi không quen.<br>
<br>
Vì tôi sẽ yêu anh<br>
<br>
Lần nữa dù không <em><span style="COLOR: #cc0000">Anh</span></em>.<br>
<br>
... Tôi sẽ yêu anh.</span><strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 100%"><span style="COLOR: #009900"><span style="FONT-FAMILY: Tahoma">T</span></span></span></strong>ôi sẽ lại gặp anh<br>
<br>
Vẫn trong một chiều <span style="COLOR: #ffcc66">nắng</span> nhạt<br>
<br>
Munich <span style="COLOR: #3366ff">xanh</span> óng sắc phai trời<br>
<br>
Tôi vẫn đứng đó,<br>
<br>
Để tóc vàng bay theo lá rơi<br>
<br>
Nhìn anh và mỉm cười<br>
<br>
"Chào anh, tôi biết sẽ gặp lại"<br>
<br>
Và thấy anh ngạc nhiên lạ lùng<br>
<br>
Nhưng không sao<br>
<br>
Vì tôi sẽ yêu anh.<br>
<br>
<br>
<br>
<br>
<br>
<strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 100%"><span style="FONT-FAMILY: Tahoma"><span style="COLOR: #009900">N</span></span></span></strong>hững con phố dài xa lạ<br>
<br>
Dắt tay nhau rảo bước thật nhanh<br>
<br>
Hơi thở anh trắng mờ như hư ảo<br>
<br>
Một cái xiết chặt dưới lớp găng dày<br>
<br>
Nụ cười anh lấp lánh<br>
<br>
Màu đen mắt sâu ấm nồng<br>
<br>
Chia nhau cốc <span style="COLOR: #990000">cà phê </span>nóng<br>
<br>
Hạnh phúc mịn màng như kem<br>
<br>
<br>
<br>
<br>
<br>
<br>
<strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 100%"><span style="FONT-FAMILY: Tahoma"><span style="COLOR: #009900">N</span></span></span></strong>ụ hôn còn mướt trên da<br>
<br>
Vị trong lành khô tan như <span style="COLOR: #ff99ff">ốc quế</span><br>
<br>
Thì thầm thật nhỏ nhẹ bên tai<br>
<br>
Và ngón tay dịu dàng vuốt trên tóc<br>
<br>
"Ta đã biết nhau chăng?<br>
<br>
Từ những <span style="COLOR: #333399">hoài niệm</span>...?"<br>
<br>
Không phải đâu.<br>
<br>
Nhưng không nói làm gì.<br>
<br>
Để chiều cứ xanh lững lờ.<br>
<br>
<br>
<br>
<br>
<br>
<strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 100%"><span style="FONT-FAMILY: Tahoma"><span style="COLOR: #009900">X</span></span></span></strong>ao xác một ngọn gió côi<br>
<br>
Se sắt nơi đồng xa ôm nắng<br>
<br>
Bó hoa dại trên tay<br>
<br>
Rụt rè anh đưa tôi, cười thật nhẹ<br>
<br>
Những bông hoa cúc áo<br>
<br>
<span style="COLOR: #cccccc">Trắng </span>tinh khôi như tuyết sớm rơi<br>
<br>
Tôi ôm anh<br>
<br>
Và ta ngã xuống đồng<br>
<br>
Trao nhau vị còn lại que kem trên môi<br>
<br>
<br>
<br>
<br>
<strong><span style="FONT-FAMILY: Tahoma"><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 100%"><span style="COLOR: #009900">T</span></span></span></strong>a nhảy cùng nhau<br>
<br>
Trong điệu nhạc se sẽ<br>
<br>
Từ chiếc đài cũ không hay nghe<br>
<br>
Căn phòng chật hẹp<br>
<br>
Khúc tình ca nho nhỏ<br>
<br>
Một <span style="COLOR: #993399">tình yêu </span>không tên<br>
<br>
Ngọt thơm như táo chín.<br>
<br>
<br>
<br>
<br>
<br>
<span style="FONT-SIZE: 12pt; LINE-HEIGHT: 100%"><span style="FONT-FAMILY: Tahoma"><strong><span style="COLOR: #009900">S</span></strong></span></span>ẽ không là chiêm bao<br>
<br>
Vì tôi sẽ gặp anh<br>
<br>
Lần nữa nơi không quen.<br>
<br>
Vì tôi sẽ yêu anh<br>
<br>
Lần nữa dù không <em><span style="COLOR: #cc0000">Anh</span></em>.<br>
<br>
... Tôi sẽ yêu anh.<span style="COLOR: #009900"><span style="FONT-FAMILY: Tahoma">T</span></span><span style="FONT-FAMILY: Tahoma">T</span>Tnắngxanh<span style="FONT-FAMILY: Tahoma"><span style="COLOR: #009900">N</span></span><span style="COLOR: #009900">N</span>Ncà phê <span style="FONT-FAMILY: Tahoma"><span style="COLOR: #009900">N</span></span><span style="COLOR: #009900">N</span>Nốc quếhoài niệm<span style="FONT-FAMILY: Tahoma"><span style="COLOR: #009900">X</span></span><span style="COLOR: #009900">X</span>XTrắng <span style="FONT-SIZE: 12pt; LINE-HEIGHT: 100%"><span style="COLOR: #009900">T</span></span><span style="COLOR: #009900">T</span>Ttình yêu <span style="FONT-FAMILY: Tahoma"><strong><span style="COLOR: #009900">S</span></strong></span><strong><span style="COLOR: #009900">S</span></strong>SAnhP.S: I <span style="COLOR: #33cc00">loved</span> you.loved-From Munich.-