<span style="COLOR: green"><strong>HAUNTED</strong></span><br>
By Lishrayder<br>
<br>
HxH fic<br>
<strong>Pairing</strong>: Kuro/Kura<br>
<strong>Rate</strong>: PG 13<br>
<strong>Genre</strong>: Dark_Death<br>
<strong>Disclaimer</strong>: I don’t own any characters in this fic, they belong to Togashi-sensei!<br>
(expect the joker)<br>
<strong>Summary</strong>: Where are you? I come to find you, but you’re not here! I don’t know….<br>
Come here with me… even you’re not in this world….<br>
<br>
<br>
<br>
<em><strong>I took their smile and made them mine<br>
I sold my soul just to hide the light<br>
But now I knew what I really am…<br>
A thief… A whore….<br>
And a liar…</strong></em><br>
<br>
~*~<br>
<br>
<em>Ngày xưa…<br>
<br>
Có một tên hề vô danh nghèo khổ. <br>
<br>
Hắn làm trò, cười và cười suốt quãng đời vộ nghĩa dưới lớp trang điểm rè tiền. Hắn lang thang khắp nơi, bán những trò ngốc để mua từng mẩu bánh mì cũ cho cái bao tử khốn nạn của mình. Dần dần, người ta cũng chán những trò cũ rich của hắn, và thế là hắn bị vứt bỏ, như cách người ta vứt bỏ món đồ chơi cũ nát vào xó xỉnh. <br>
Hắn bị ruồng bỏ, không thừa nhận, như chưa tồn tại…<br>
Hắn chưa từng tồn tại!<br>
<br>
Còn chỗ nào chấp nhận những thứ rác bị cuộc đời vứt bỏ?<br>
<br>
Hắn vào rừng, trong một đêm tối trời lạnh lẽo, khi tất cả cái xã hội bên ngoài đã ngủ say….. <br>
<br>
…đã chết….<br>
<br>
Đêm đó không hề có trăng hay sao….</em><br>
<br>
~*~<br>
<br>
Tuyết phủ trắng đường, trắng thành phố, trắng lên cả cái màn đêm đen đặc.<br>
<br>
Hương cà phê nóng đắng ran xông vào mũi, khiến cổ họng khô rát. Ta nhấp một ngụm cái thứ chất lỏng nâu đen ấy, vị đắng thẩm thấu tê rần đầu lưỡi. Đặt cốc cà phê xuống bàn, ta ngước nhìn em ngồi trầm ngâm bên đốm lửa. Em không nói gì, cũng không nhìn ta, chỉ ngồi, và ngắm lửa liếm dần hơi lạnh. Cái dáng gầy ấy lọt thỏm vào sắc vàng đỏ của hơi lửa, những mảng sáng tối không ngừng dịch chuyền như mơn trớn lên gương mặt thiên sứ. <br>
<br>
Bất chợt, ta cảm thấy trong lòng mình nhen nhóm sự ghen tức. Ánh lửa kia còn có thể chạm vào em, còn ta thì không được quyền. Đôi mắt em lạnh ngắt, bí ẩn và tàn nhẫn, đẹp đến rợn người. <br>
<br>
CÁi đẹp của thiên sứ bị dìm xúông vũng máu.<br>
<br>
<br>
<br>
<br>
<br>
<br>
“Cậu lạnh không?”<br>
<br>
<br>
“…”<br>
<br>
<br>
“Tôi đang hỏi cậu đấy!”<br>
<br>
<br>
“…”<br>
<br>
<br>
“Lạnh quá không nói được nửa à?”<br>
<br>
<br>
Cười.<br>
<br>
<br>
“…”<br>
<br>
<br>
TA quay mặt đi. Ngốc thật! Em có bao giờ trả lời ta đâu! Em sĩ diện quá thiên sứ ạ! Mà ta cũng chẳng chấp em đâu, vì ta yêu em!<br>
<br>
Ta đứng lên, bước lại ngồi cạnh em. Em không phản đối, nhưng cũng có thể là không chấp nhận. Mặc kệ, em sắp chết cóng rồi ngốc ạ! Ta mở áo choàng ra, ôm em vào vòng tay mình. Em đổ gục vào vòng tay của ta, ta biết ngay từ đầu là em chỉ giả đò thôi!<br>
<br>
Coi em kìa, thật là…<br>
<br>
TAy chân em tái mét cả rồi, để ta sưởi nó giúp em nhé!<br>
<br>
Ta xiết chặt vai em, áp mặt xuống mái tóc vàng của em. Nó mềm, mượt lại thơm như là tóc con gái… Chợt ta phì cười, dù đã cố nén. Dám ta đã chết ngay với đống dây xích xủng xoẻng của em rồi, nếu em biết ta đang nghĩ gì, may mà em không ghê gớm tới mức đọc được suy nghị kẻ khác. May cho ta lắm!<br>
<br>
Em nhẹ ngả đầu vào ngực ta, để ta ôm gọn cái thân hình xinh xẻo của mình. Thật hiếm khi nào chúng ta lại gần nhau như thế này phải không em? Vì vậy ta sẽ không để nó vụt qua quá nhanh…<br>
<br>
Tuyết ngoài trời rơi lúc càng dày, đốm lửa dần bị bóng đêm nuốt sống, chỉ còn thoi thóp chút hơn tàn mỏng manh. <br>
<br>
<br>
<br>
Tối…..<br>
<br>
<br>
<br>
Ấm thật!<br>
<br>
<br>
~*~<br>
<br>
<em><br>
“Tại sao ngươi đến đây?”<br>
<br>
<br>
“AI? AI ĐÓ????”<br>
<br>
<br>
“Ngươi muốn gì?”<br>
<br>
<br>
“NGƯỜI NÀO ĐANG NÓI VẬY? ÔNG Ở ĐÂU???”<br>
<br>
<br>
“Ta có thể… biến ước mơ của ngươi…. Thành sự thật…..”<br>
<br>
<br>
“ÔNG NÓI CÁI QUÁI GÌ VẬY????”<br>
<br>
<br>
“Ước mơ của ngươi… sẽ thành sự thật….”<br>
<br>
<br>
“ÔNG LÀ AI??????????”<br>
<br>
<br>
“Ước mơ của ngươi…. sẽ thành sự thật…”<br>
<br>
<br>
“KHOAN!!!!!!!!!!!!!!!!”<br>
<br>
<br>
“…”<br>
<br>
<br>
<br>
<br>
<br>
<br>
Ước mơ của ngươi…<strong> đã thành sự thật.</strong></em><br>
<br>
~*~<br>
<br>
Trời nắng. Tuyết đang tan thành từng dòng nước nhỏ, chảy rỉ rả xuống bệ cửa sổ.<br>
<br>
Ta gõ cửa phòng, hình như em còn ngủ. MỘt cách khá là vất vả, ta mở được cánh cửa gỗ với hai tay khệ nệ bưng khay đồ ăn sáng, và nhờ thế ta biết rằng mình không hề sai: em còn ngủ!<br>
<br>
Em vẫn nằm trên giường, trắng muốt như con búp bê vải nằm trong hộp đựng bọc nhung đỏ đắt tiền. Mái tóc vàng óng xổ ra bị gió từ ngoài cửa thổi lùa xuống mặt, em ngủ ngoan hệt đứa trẻ sơ sinh. Chắc ta phải gọi em dậy thôi.<br>
<br>
<br>
<br>
<br>
“Này! Trời sáng rồi đấy!”<br>
<br>
<br>
“…”<br>
<br>
<br>
“Cậu định ngủ tới trưa luôn à?”<br>
<br>
<br>
“…”<br>
<br>
<br>
“Tôi đem thức ăn cho cậu đây, có ăn không?”<br>
<br>
<br>
Gật đầu.<br>
<br>
<br>
“…”<br>
<br>
<br>
“Vậy thì dậy đi!”<br>
<br>
<br>
<br>
Ta đặt mâm thức ăn xuống cho em, nhưng em vẫn chưa chịu ngồi dậy.<br>
Này! Em định nhõng nhẽo tới chừng nào nữa mấy thôi hả? Đã bảo mà vẫn nằm trên giường thế à?<br>
<br>
Đừng có mà nhìn ta như thế! Em còn muốn gì nữa ?<br>
<br>
<br>
<br>
“Muốn gì?”<br>
<br>
<br>
“…”<br>
<br>
“Tôi đỡ cậu dậy á?”<br>
<br>
<br>
Gật đầu.<br>
<br>
<br>
Cười.<br>
<br>
<br>
“…”<br>
<br>
<br>
“Thua cậu luôn!”<br>
<br>
<br>
<br>
Ta kéo em dậy, đặt em ngồi thẳng lên. Trông em có vẻ thích thú khi “hành hạ” ta theo cách này. Và vì thế, em tiếp tục trò đùa của mình. <br>
<br>
Em không ăn mà chỉ ngồi nhìn ta. <br>
<br>
Em làm ta sắp phát điên lên!<br>
<br>
<br>
<br>
“ Còn gì nữa ? Ăn đi!”<br>
<br>
<br>
“…”<br>
<br>
<br>
“Không vừa miệng à?”<br>
<br>
<br>
“…”<br>
<br>
<br>
“NÀy! CẬu làm tôi bực mình đấy!”<br>
<br>
<br>
Giận.<br>
<br>
<br>
“…”<br>
<br>
<br>
“LẠi giận!”<br>
<br>
<br>
<br>
“…”<br>
<br>
<br>
“Vậy thì… xin lỗi…”<br>
<br>
<br>
Cười.<br>
<br>
<br>
“…”<br>
<br>
<br>
<br>
<br>
Em cười. Đồ khốn!<br>
<br>
Em làm ta…<br>
<br>
<br>
<br>
<br>
TA yêu em.<br>
<br>
~*~<br>
<br>
<em>Đêm hôm ấy…<br>
<br>
Không một ai sống sót…<br>
<br>
Đêm hôm ấy…<br>
<br>
Mọi người đều đã cười…<br>
<br>
Cười thật nhiều…thật nhiều…<br>
<br>
<br>
<br>
<br>
TẤt cả các xác chết đều cười.<br>
<br>
<br>
<br>
<br>
Ước muốn của ta, neh?<br>
<br>
Điều ta muốn. neh?<br>
<br>
<br>
<br>
Phải! Ta muốn!<br>
<br>
<br>
<br>
<br>
<br>
<br>
“Ngươi đã được những điều ngươi muốn ?”<br>
<br>
<br>
“…”<br>
<br>
<br>
“Ngươi mãn nguyện chứ ?”<br>
<br>
<br>
“…”<br>
<br>
<br>
“Hay là chưa ?”<br>
<br>
<br>
Gật đầu.<br>
<br>
<br>
“Ngươi còn thiếu ?”<br>
<br>
<br>
Gật đầu.<br>
<br>
<br>
“Ta biết cái ngươi thiếu…”<br>
<br>
<br>
Cười.<br>
<br>
<br>
<br>
<br>
Ta còn thiếu ? <br>
<br>
Cái ta thiếu ?<br>
<br>
Phải! Ta biết!<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
Đêm hôm ấy…<br>
<br>
Không còn ai sống…<br>
<br>
Chết cả rồi!</em><br>
<br>
<br>
<br>
<br>
~*~<br>
<br>
<br>
Tuyết lại rơi, dày hơn đêm trước. <br>
<br>
Trời đêm trắng xóa. <br>
<br>
Im lặng.<br>
<br>
Ta nhìn em, còn em nhìn mãi trời tuyết trắng. <br>
<br>
Chờ gì?<br>
<br>
Tiếng đồng hồ gõ động.<br>
<br>
Đã 3 tiếng.<br>
<br>
Em vẫn ngồi, như không bíêt việc gì.<br>
<br>
<br>
<br>
<br>
“Khuya rồi, cậu đi ngủ đi!”<br>
<br>
<br>
“…”<br>
<br>
<br>
<br>
<br>
Thở dài. <br>
<br>
Ta bước lại cây dương cầm cũ nát, vu vơ gõ tay xuống. Âm thanh dây đàn lâu ngày không chỉnh nghe lạc nhịp đến bực mình. Ta đóng nắp cây đàn cũ, nghe rõ tiếng mối mọt gặm trong gỗ. <br>
<br>
Em không nói. Em không cười nữa. Sao thế hả?<br>
<br>
<br>
<br>
“ Có chuyện gì vậy?”<br>
<br>
<br>
“…”<br>
<br>
<br>
<br>
Ta đi đến em, vòng tay ôm. Em không có phản ứng, vẫn bất động.<br>
<br>
Ngoài trời, gió bắt đầu thổi mạnh, hất tuyết đập vào cửa lộp bộp. <br>
<br>
Ta không thấy nơi em chút hơi ấm.<br>
<br>
Sao thế hả?<br>
<br>
<br>
<br>
Trời càng lúc càng lạnh.<br>
<br>
VÀ tối.<br>
<br>
<br>
<br>
Ta xiết chặt em hơn, như muốn em vỡ vụn ra, muốn lớp băng bao quanh em vỡ vụn ra.<br>
<br>
… Muốn chạm vào em.<br>
<br>
<br>
<br>
<br>
Không thể.<br>
<br>
<br>
<br>
<br>
“Tuyết hôm nay nhiều quá…”<br>
<br>
<br>
Ngốc.<br>
<br>
<br>
“…”<br>
<br>
<br>
“Cậu nghĩ gì vậy?”<br>
<br>
<br>
<br>
<em><span style="COLOR: red">Đêm hôm ấy, tuyết cũng đã rơi rất dày…<br>
<br>
Tuyết đóng trắng cả vùng núi lạnh lẽo… tuyết phủ băng lên từng tâm hồn… tuyết đông cứng thành những sợi xích, trói buộc những con người đáng kiếp trong cái số phận của bóng tối…<br>
<br>
<br>
MÃI MÃI.</span></em><br>
<br>
<br>
<br>
“…”<br>
<br>
<br>
Chẳng có gì.<br>
<br>
<br>
“Cậu không phải là kẻ nói dối giỏi như cậu nghĩ đâu!”<br>
<br>
<br>
<br>
Vậy sao?<br>
<br>
<br>
<br>
“…”<br>
<br>
<br>
<em><span style="COLOR: red">Đêm hôm ấy, tuyết rơi mỗi lúc một dày…<br>
<br>
Mỗi lúc một lạnh… mỗi lúc một…. đau…<br>
<br>
Tuyết rơi trên những tròng mắt đỏ không bao giờ nhắm được, tuyết phủ lên những hốc mắt sâu không bao giờ còn nhìn được….<br>
<br>
Tuyết đã rơi… vào tôi… <br>
<br>
Vào cậu…<br>
<br>
VÀo số phận.<br>
<br>
<br>
Vào chết</span>.</em><br>
<br>
<br>
<br>
<em><strong>Lay beside me, under wicked sky<br>
Through black of day, dark of night, <br>
We share this pair of lives<br>
The door cracks open, <br>
but there’s no sun shining through<br>
Black heart scarring darker still<br>
But there’s no sun shining through<br>
No, there’s no sun shining through<br>
No, there’s no sun shining</strong></em><br>
<br>
<br>
<br>
<br>
Ta kéo em quay mặt vào ta. Ta nấng cằm em lên để nhìn sâu vào bên trong đôi mắt kia.<br>
<br>
Em đang cất giấu những gì…?<br>
<br>
<br>
<br>
<br>
… Chẳng có gì.<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<em>Đêm hôm ấy…<br>
<br>
<br>
KHông có ngày mai.<br>
<br>
<br>
Tuyết đã rơi cùng máu, cùng số phận…<br>
<br>
Cùng chúng ta…<br>
<br>
<br>
<br>
<br>
<br>
<br>
… Xuống vực sâu.</em><br>
<br>
<br>
<br>
<br>
~*~<br>
<br>
<em><br>
“TA MUỐN NỮA! NHIỀU HƠN NỮA! CHƯA ĐỦ!”<br>
<br>
<br>
“Ngươi muốn những gì?”<br>
<br>
<br>
“TẤT CẢ!!!!”<br>
<br>
<br>
“Ngươi đã có cái gọi là tất cả.”<br>
<br>
<br>
“KHÔNG! CHƯA ĐỦ!!!!!”<br>
<br>
<br>
<br>
<br>
Kh ông bao gi ờ l à đ ủ.<br>
<br>
<br>
<br>
<br>
“ Ngươi chỉ còn thiếu một thứ…”<br>
<br>
<br>
“PHẢI! TA BIẾT MÀ! TA CÒN THIẾU!!!”<br>
<br>
<br>
“… Sự trả giá.”<br>
<br>
</em><br>
<br>
<br>
~*~<br>
<br>
<br>
<br>
Không!<br>
<br>
<br>
Dừng lại!<br>
<br>
<br>
<br>
DỪNG LẠI!!!!!!!!!!!!!!!!!!!!!!!<br>
<br>
<br>
<br>
Ta buông em xuống, lùi lại.<br>
<br>
<br>
Ta… sợ.<br>
<br>
<br>
Sợ màu đen của đêm, sợ màu trắng của tuyết, sợ màu xanh của mắt em…<br>
<br>
Sợ màu đỏ máu.<br>
<br>
<br>
<br>
ĐỪNG NHÌN TA!!! ĐỪNG NHÌN NỮA!!!!<br>
<br>
<br>
Em ngồi bất động. Nhìn vào xa xăm. Nhìn vào vô tận.<br>
<br>
<br>
Nhìn vào nội tâm.<br>
<br>
<br>
<br>
KHÔNG!!!<br>
<br>
<br>
<br>
Em đang nhìn vào ta, nhìn vào sâu cái bản ngã khốn kiếp của ta….<br>
<br>
<br>
Nhìn vào sâu….<br>
<br>
<br>
<br>
<br>
<br>
<br>
<em><span style="COLOR: red">” Ác quỷ…”<br>
<br>
<br>
Tuyết vẫn đập vào người rát buốt, máu tươi vẫn loang lổ nhễu giọt từ bàn tay lạnh ngắt. Em nhìn ta với đôi mắt đỏ, căm thù.<br>
<br>
<br>
“Bang chủ, kết thúc nó đi!”<br>
<br>
<br>
“Hơi uổng! Nó có mái tóc vàng đẹp quá, nếu không mất đi đôi mắt thì cái đầu của nó rất có giá khi bán cho bọn sưu tập đầu người…”<br>
<br>
<br>
“LŨ CẶN BÃ!!!!”<br>
<br>
<br>
Em thét lên căm phẫn, ta tóm lấy cổ họng xinh xắn của em nhấc bổng lên. Dễ thương thật!<br>
<br>
<br>
“Ngươi sẽ được chết ngay thôi!”<br>
<br>
<br>
“NGƯƠI GIẾT TA ĐI! NẾU KHÔNG VỀ SAU LŨ KHỐN KIẾP CÁC NGƯƠI PHẢI TRẢ GIÁ!”<br>
<br>
<br>
“Ê! Thằng nhãi! Ngươi nghĩ ngươi đang nói chuyện với ai?”<br>
<br>
<br>
“Ubogin! Đủ rồi!”<br>
<br>
<br>
Ta nhìn em lần nữa. Em thật xinh đẹp. Thật là không nhẫn tâm giết một sinh vật đẹp đẽ như em. Thật Uổng phí!<br>
<br>
<br>
“Chúa sẽ nguyền rủa bọn mi!”<br>
<br>
<br>
“Chúa? LÀ cái gì?”<br>
<br>
<br>
BẤt giác, ta xiết chặt nắm tay. Em rên lên đau đớn, ôm lấy cổ họng. TA quẳng em xuống cái nền tuyết trắng lạnh loang máu, hợp với em lắm đấy thiên sứ ạ!<br>
<br>
<br>
<br>
<br>
“Nhớ lấy! Chẳng bao giờ có Chúa! Nếu có, hắn đã không để lũ dân tộc của ngươi chết dưới tay bọn ta! Cút đi! Chó con đáng thương!”<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
Đêm hôm ấy, ta đã không giết em…<br>
<br>
Đêm hôm ấy, em vẫn chết…<br>
<br>
Đêm hôm ấy, cả hai chúng ta đều đã bị cái mà em gọi là Chúa trừng phạt…<br>
<br>
<br>
Những kẻ bị nguyền rủa.</span></em><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
“Cậu….”<br>
<br>
<br>
Không nói.<br>
<br>
<br>
“…”<br>
<br>
<br>
“Sao lại như thế…?”<br>
<br>
<br>
Cười.<br>
<br>
<br>
“…”<br>
<br>
<br>
“CHẤM DỨT NGAY! TÔI CẤM CẬU NHÌN TÔI BẰNG ÁNH MẮT ĐÓ!!!!!”<br>
<br>
<br>
Càng cười dữ.<br>
<br>
<br>
“…”<br>
<br>
<br>
“DẸP NGAY ĐI!!!!!!”<br>
<br>
<br>
Vẫn cười.<br>
<br>
<br>
“…”<br>
<br>
<br>
“KHÔNG!!!!!!!!!!!!!!!!!!!!!!!!!”<br>
<br>
<br>
Có tiếng nấc xen lẫn tiếng cười.<br>
<br>
<br>
“…”<br>
<br>
<br>
~*~<br>
<br>
<em>Ngày xưa…<br>
<br>
Có một tên hề vô danh nghèo khổ. <br>
<br>
Hắn làm trò, cười và cười suốt quãng đời vộ nghĩa dưới lớp trang điểm rẻ tiền. Hắn lang thang khắp nơi, bán những trò ngốc để mua từng mẩu bánh mì cũ cho cái bao tử khốn nạn của mình. Dần dần, người ta cũng chán những trò cũ rích của hắn, và thế là hắn bị vứt bỏ, như cách người ta vứt bỏ món đồ chơi cũ nát vào xó xỉnh. <br>
Hắn bị ruồng bỏ, không thừa nhận, như chưa tồn tại…<br>
Hắn chưa từng tồn tại!<br>
<br>
Còn chỗ nào chấp nhận những thứ rác bị cuộc đời vứt bỏ?<br>
<br>
Hắn vào rừng, trong một đêm tối trời lạnh lẽo, khi tất cả cái xã hội bên ngoài đã ngủ say….. <br>
<br>
…đã chết….<br>
<br>
Đêm đó không hề có trăng hay sao….<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
Và người ta kể lại rằng, sau đó không một ai còn gặp hắn. <br>
<br>
Hắn đã đi vào rừng và biến mất, như chưa từng tồn tại.<br>
<br>
Có người nói rằng hắn bị gấu dữ ăn thịt và mất xác, kẻ khác lại nói đơn giản là hắn đi sang nơi khác mất rồi. <br>
<br>
<br>
<br>
Chỉ có một lão tiều phu già sống một mình trong rừng phát hiện trước cửa nhà mình là một bộ xương khô mục rưỡng nằmxiêu vẹo, bên cạnh có một chiếc mặt nạ hề đã vỡ nát.<br>
<br>
</em><br>
<br>
~*~<br>
<br>
<br>
Machi rảo bước nặng nề trên cái thành phố Nakakity tuýêt đóng dày. Mái tóc dày to của cô rũ xuống, ướt mem dưới sức nặng và hơi ẩm của tuyết. Cô quẹo vào một con hẻm tối nằm khuất tầm nhìn của khách bộ hành, trên một con phố ổ chuột nghèo nàn. Ngươi con gái kì lạ dừng lại trước một căn nhà tồi tàn, đưa tay đẩy cánh cửa mục nát làm bản lề rên xiết những tiếng cót két chói tai.<br>
<br>
Cô hít một hơi thật sâu, và vội bịt mũi lại trước cái mùi khó ngửi vừa xộc ra từ sau cánh cửa. Vừa bước vào, cô vừa gọi khẽ:<br>
<br>
“Bang chủ..”<br>
<br>
<br>
<br>
Kẻ được gọi dường như chẳng nghe gì cả. Hắn ngồi bệt dưới đất, dường như đang đăm đăm nhìn vào cái gì đó bên trong căn phòng tối không đèn. Machi thở dài, với tay đầy chốt công tắc trên bản điện bám đầy mạng nhện sang nút ON, chậm rãi bước đến gần Kuroro.<br>
<br>
<br>
<br>
“Hết thời gian rồi!” Cô nói nhỏ khi ngồi xuống bên Kuroro.<br>
<br>
<br>
“Để ta yên….”<br>
<br>
<br>
“ Nhưng anh phải về!”<br>
<br>
<br>
<br>
Đôi mắt đen của Kuroro nở ra, chậm chạp, anh rời mắt khỏi cái thứ trước mặt, ngước nhìn Machi.<br>
<br>
<br>
“Về…?”<br>
<br>
<br>
“Anh em đang chờ!” Cô gật đầu.<br>
<br>
<br>
“Về…?”<br>
<br>
<br>
<br>
… còn nơi để về?<br>
<br>
<br>
<br>
<br>
<br>
<em><br>
<span style="COLOR: green">VÀ trên chiếc ghế gỗ giữa căn phòng, em vẫn ngồi đó. MÁi tóc vàng sáng vẫn để xổ ra như ngày nào, vẫn trên môi nụ cười thiên sứ…<br>
<br>
Em sẽ cười…<br>
<br>
<br>
MÃi mãi.</span><br>
</em><br>
<br>
<br>
<br>
<br>
Machi đưa tay bụm miệng lại khi ngước nhìn cái thứ trên ghế, dù cô không lạ gì với những thứ ghê tởm và đây cũng không phải là lần đầu tiên cô thấy nó, nhưng cô cũng không ngăn nổi cảm giác tởm lợm. Cái dáng người xiêu vẹo, mái tóc vàng bên bết cái thứ chất gì sậm màu, nước da trắng xanh màu xác chết rữa, bộ đồ kuruta hoen ố những vệt màu khô cứng, sợi xích nằm dưới đất trong vũng dung dịch sống nhơ nhớp. Từ nơi đã từng là hốc mắt, chất lỏng đỏ sền sệt chảy dọc xuống hai gò má. Trên chiếc bàn bên cạnh, lọ dung dịch phoocmon đang sáng rực màu đỏ của hai tròng mắt mở to.<br>
<br>
<br>
<br>
<br>
<em><br>
“ Ta yêu em…”<br>
<br>
<br>
Cười.<br>
<br>
<br>
“…”<br>
</em><br>
<br>
<strong>END.</strong><br>
<br>
<br>
<br>
<br>


<img src="http://img.photobucket.com/albums/v394/lishrayder/hinh1.jpg" border="0"><br>
<strong>HAUNTED</strong>Đêm hôm ấy, tuyết cũng đã rơi rất dày…<br>
<br>
Tuyết đóng trắng cả vùng núi lạnh lẽo… tuyết phủ băng lên từng tâm hồn… tuyết đông cứng thành những sợi xích, trói buộc những con người đáng kiếp trong cái số phận của bóng tối…<br>
<br>
<br>
MÃI MÃI.Đêm hôm ấy, tuyết rơi mỗi lúc một dày…<br>
<br>
Mỗi lúc một lạnh… mỗi lúc một…. đau…<br>
<br>
Tuyết rơi trên những tròng mắt đỏ không bao giờ nhắm được, tuyết phủ lên những hốc mắt sâu không bao giờ còn nhìn được….<br>
<br>
Tuyết đã rơi… vào tôi… <br>
<br>
Vào cậu…<br>
<br>
VÀo số phận.<br>
<br>
<br>
Vào chết” Ác quỷ…”<br>
<br>
<br>
Tuyết vẫn đập vào người rát buốt, máu tươi vẫn loang lổ nhễu giọt từ bàn tay lạnh ngắt. Em nhìn ta với đôi mắt đỏ, căm thù.<br>
<br>
<br>
“Bang chủ, kết thúc nó đi!”<br>
<br>
<br>
“Hơi uổng! Nó có mái tóc vàng đẹp quá, nếu không mất đi đôi mắt thì cái đầu của nó rất có giá khi bán cho bọn sưu tập đầu người…”<br>
<br>
<br>
“LŨ CẶN BÃ!!!!”<br>
<br>
<br>
Em thét lên căm phẫn, ta tóm lấy cổ họng xinh xắn của em nhấc bổng lên. Dễ thương thật!<br>
<br>
<br>
“Ngươi sẽ được chết ngay thôi!”<br>
<br>
<br>
“NGƯƠI GIẾT TA ĐI! NẾU KHÔNG VỀ SAU LŨ KHỐN KIẾP CÁC NGƯƠI PHẢI TRẢ GIÁ!”<br>
<br>
<br>
“Ê! Thằng nhãi! Ngươi nghĩ ngươi đang nói chuyện với ai?”<br>
<br>
<br>
“Ubogin! Đủ rồi!”<br>
<br>
<br>
Ta nhìn em lần nữa. Em thật xinh đẹp. Thật là không nhẫn tâm giết một sinh vật đẹp đẽ như em. Thật Uổng phí!<br>
<br>
<br>
“Chúa sẽ nguyền rủa bọn mi!”<br>
<br>
<br>
“Chúa? LÀ cái gì?”<br>
<br>
<br>
BẤt giác, ta xiết chặt nắm tay. Em rên lên đau đớn, ôm lấy cổ họng. TA quẳng em xuống cái nền tuyết trắng lạnh loang máu, hợp với em lắm đấy thiên sứ ạ!<br>
<br>
<br>
<br>
<br>
“Nhớ lấy! Chẳng bao giờ có Chúa! Nếu có, hắn đã không để lũ dân tộc của ngươi chết dưới tay bọn ta! Cút đi! Chó con đáng thương!”<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
Đêm hôm ấy, ta đã không giết em…<br>
<br>
Đêm hôm ấy, em vẫn chết…<br>
<br>
Đêm hôm ấy, cả hai chúng ta đều đã bị cái mà em gọi là Chúa trừng phạt…<br>
<br>
<br>
Những kẻ bị nguyền rủa.VÀ trên chiếc ghế gỗ giữa căn phòng, em vẫn ngồi đó. MÁi tóc vàng sáng vẫn để xổ ra như ngày nào, vẫn trên môi nụ cười thiên sứ…<br>
<br>
Em sẽ cười…<br>
<br>
<br>
MÃi mãi.