<span style="COLOR: orange"><strong>LOST SHEEPS</strong></span><br>
By Lishrayder<br>
<br>
<strong>Manga</strong>: Spiral<br>
<strong>Pairing</strong>: Eyes Rutherford and Kanone Hilbert<br>
<strong>Gerne</strong>: Shounen Ai_One shot<br>
<strong>Rating</strong>: PG 13<br>
<strong>Disclaimer</strong>: No one belongs to me, nothing belongs to me.<br>
<strong>AN</strong>: This is very short fic, maybe it’s just an accidentally thought passed thru my mind.<br>
<strong>Summary</strong>: <em>If you’ve been denied, just believe… you were not the only one…</em><br>
<br>
~*~<br>
<br>
<em>Chúng ta không thể bay… một khi đôi cánh chỉ là ảo tưởng…</em><br>
<br>
~*~<br>
<br>
Một ngày tuyết rơi trắng vườn địa đàng của Chúa. <br>
<br>
Cậu khẽ bước lờ lững, dẫm chân lên từng bông tuyết đang chết dần trong sắc trắng nhòa nhạt. Chúng vô dạng, mờ mịt như cái bản ngã của chính cậu.<br>
<br>
Một ngày tuyết rơi trắng vườn địa đàng của Chúa.<br>
<br>
Anh trở về, cơn đau thể xác không dằn vặt hơn thứ đang đốt cháy lồng ngực, tuyết trong anh đỏ thẫm sự tàn ác vô định. Không tên.<br>
<br>
Một ngày tuyết rơi trắng vườn địa đàng của Chúa.<br>
<br>
Chờ một ngày vòng tay của Chúa còn chở che cho chúng ta.<br>
<br>
~*~<br>
<br>
“Anh bị thương.”<br>
<br>
“…Ừ.”<br>
<br>
“Lần này là ai vậy?”<br>
<br>
“Cha John.”<br>
<br>
“Cha xứ của thánh đường Saint?”<br>
<br>
“Phải.”<br>
<br>
“Ông ấy có tha tộI cho anh không?”<br>
<br>
“Chúa không trả lời.”<br>
<br>
~*~<br>
<br>
Tuyết vẫn hờ hững trôi.<br>
<br>
Ánh mắt cậu vẫn xanh thẳm hun hút sâu, không một cảm xúc nào lọt ra khỏI cái vô vọng xanh. Chỉ có gì đó vừa khẽ khàng rơi xuống đất, nóng hổi.<br>
<br>
Tuyết vẫn hờ hững trôi.<br>
<br>
Anh chợt cườI, khóe miệng còn vương máu tươi ươn ướt. Không phảI anh mỉa mai gì, chỉ là đột nhiên muốn cười. Chỉ có thế. Không gì hơn.<br>
<br>
Tuyết vẫn hờ hững trôi.<br>
<br>
Ừ! Chúa im lặng lắng nghe, ngài vẫn chưa có câu trả lời.<br>
<br>
~*~<br>
<br>
“Sao lạI khóc?”<br>
<br>
“Không biết.”<br>
<br>
“Đau lòng à? Vì ai? Cha John hay tôi?”<br>
<br>
“Cả hai. Nhưng có lẽ anh thắng ông ta.”<br>
<br>
“Thú vị thật.”<br>
<br>
“TạI sao anh bị thương? Tôi không nghĩ là cha phản kháng.”<br>
<br>
“Ừ! Cậu đúng. Tôi tự làm mình bị thương.”<br>
<br>
“TạI sao?”<br>
<br>
“Không biết, chỉ muốn thử xem mình còn đúng là ngườI không.”<br>
<br>
“… Đừng nói thế.”<br>
<br>
~*~<br>
<br>
Gió đổI chiều lạnh buốt.<br>
<br>
Mái tóc tím dài bị hất tung, cố che giấu một thứ gì đó bi thống. Ánh mắt xanh bỗng nhiên trắng mênh mang.<br>
<br>
Gió đổI chiều lạnh buốt.<br>
<br>
Chiếc áo măng tô trắng bay bay, lấp lóang những vết đỏ thẫm như nước mắt loang. Anh vẫn cườI, nhưng nghe tuyết rơi bên tai trĩu nặng.<br>
<br>
Gió đổI chiều lạnh buốt.<br>
<br>
Chúa không khóc lẫn cườI cho ai.<br>
<br>
~*~<br>
<br>
“…”<br>
<br>
“… chúng ta là như thế.”<br>
<br>
“Đừng nói nữa…”<br>
<br>
“ChốI bỏ cũng tốt thôi…”<br>
<br>
“Tôi đã bảo là đừng nói nữa!”<br>
<br>
“Đau sao…?”<br>
<br>
“Không…”<br>
<br>
“Vậy vì cái gì?”<br>
<br>
“Không vì cái gì hết, chỉ là không muốn nghe nữa.”<br>
<br>
“Cậu đang đau. Nhưng không phảI là ngườI duy nhất.”<br>
<br>
“Không đúng…”<br>
<br>
“Ừ, thôi vậy…”<br>
<br>
~*~<br>
<br>
Có tiếng chuông đổ về.<br>
<br>
Cậu quay lưng, tránh đi cái nhìn sâu thẳm của anh. Cái nhìn đó đang làm cậu tan chảy, làm cậu… đau…<br>
<br>
Có tiếng chuông đổ về.<br>
<br>
Anh khẽ vuốt mặt, tuyết rơi cả vào mắt anh, chảy xuống. Tuyết mặn chát, nhưng lạnh ngắt như nước mắt Chúa trời.<br>
<br>
Có tiếng chuông đổ về.<br>
<br>
Thiên Chúa có khóc khi nào đâu…<br>
<br>
~*~<br>
<br>
“Chuông nhà thờ vang rồI kìa.”<br>
<br>
“Thì sao?”<br>
<br>
“Không có gì, chỉ là thấy lạ vậy thôi.”<br>
<br>
“Vì sao lạI lạ?”<br>
<br>
“Tự nhiên nghĩ rằng có ngườI nguyện cầu cho mình.”<br>
<br>
“…….”<br>
<br>
“Cậu không cảm thấy vậy à?”<br>
<br>
“…….anh….làm ơn….”<br>
<br>
“… đừng khóc, nước mắt ác quỉ thì không có ý nghĩa gì đâu…”<br>
<br>
“……”<br>
<br>
~*~<br>
<br>
Bài thánh ca từ đâu chợt vọng về, buồn tê lòng.<br>
<br>
Cậu khuỵu xuống giữa tuyết, run rẩy. Nước mắt vô hình chảy dài, chẳng hiểu vì sao. Cậu đâu có đau… ác quỉ không biết đau…<br>
<br>
Bài thánh ca từ đâu chợt vọng về, buồn tê lòng.<br>
<br>
Anh nắm chặt ngực áo, dòng chất lỏng đỏ lòm vẫn rỉ chảy, bê bết cười cợt cái thứ khốn nạn nơi anh. Tuyết rơi đỏ loang một vùng.<br>
<br>
Bài thánh ca từ đâu chợt vọng về, buồn tê lòng.<br>
<br>
Thiên sứ không đứng chờ trên cổng thiên đường…<br>
<br>
~*~<br>
<br>
“…..”<br>
<br>
“Cậu không nên như thế, Eyes tôi biết không ủy mị như vậy…”<br>
<br>
“…Kanone, ngườI tôi biết không tàn nhẫn như anh…”<br>
<br>
“Chúng ta có tư cách để xét xem thế nào là tàn nhẫn thế nào là nhân đạo ư?”<br>
<br>
“… Chúa không thể phán xét… chỉ có con ngườI mớI là kẻ đặt ra luật lệ…”<br>
<br>
“Chúng ta còn là con ngườI ư…?”<br>
<br>
“Đủ rồI! Anh im đi!”<br>
<br>
~*~<br>
<br>
Tuyết chết đỏ thẫm trong mắt người.<br>
<br>
Cậu thấy lồng ngực bỗng nhiên thít chặt, đau nhói. Cậu thấy khuôn mặt anh kề sát mình, tàn nhẫn nuốt lấy từng hơi thở.<br>
<br>
Tuyết chết đỏ thẫm trong mắt người.<br>
<br>
Anh đẩy cậu ngã xuống tuyết trắng, nhìn khuôn mặt thiên sứ vỡ tan trong nước mắt. Anh tham lam nuốt lấy môi cậu, tìm một thứ gì cứu rỗi... Nhưng chỉ có nước mắt chan mặn đắng.<br>
<br>
Tuyết chết đỏ thẫm trong mắt người.<br>
<br>
Không còn gì, thiên đường mục rưỡng lâu rồi.<br>
<br>
~*~<br>
<br>
“…thiên sứ…cậu chết lâu rồi…”<br>
<br>
“Đừng… anh đừng làm như vậy… tất cả sẽ vỡ nát…”<br>
<br>
“Cậu sai rồi… ngay từ đầu, nó đã vỡ nát…”<br>
<br>
“……”<br>
<br>
“Tôi không thể tin vào sự cứu rỗi…”<br>
<br>
“… anh đã lạc lối…”<br>
<br>
“Nhưng không phảI một mình…”<br>
<br>
~*~<br>
<br>
Trắng. Và trống rỗng.<br>
<br>
Thế giớI trong cậu nhạt nhòa thành từng mảng đỏ loang lổ. MọI thứ…. kể cả anh….<br>
<br>
Trắng. Và trống rỗng.<br>
<br>
Lửa địa ngục đốt rụI tâm hồn anh, cháy nát bươm. MọI thứ… không trừ cậu…<br>
<br>
Trắng. Và trống rỗng.<br>
<br>
Thế gian không có sự cứu rỗI muộn màng.<br>
<br>
~*~<br>
<br>
<em><strong>Don’t try to fix me<br>
I’m not broken<br>
Hello… I’m the lies<br>
Living for you so you can’t hide…<br>
Don’t cry….<br>
</strong></em><br>
<br>
~*~<br>
<br>
<em>Đêm đó, tuyết đã rơi rất nhiều. Tuyết rơi trắng xóa mọI thứ, cả ánh sáng lẫn bóng tối. <br>
<br>
Tuyết đã chôn kín tộI lỗI của ngườI.<br>
Tuyết đã chôn kín nước mắt của người.<br>
Tuyết đã chôn kín nỗI đau của người.<br>
<br>
Để rồI sáng hôm sau… chỉ còn những mảnh lông vũ trắng tang tóc vùi trong đống tro tàn….<br>
<br>
… máu của ngườI cũng trắng lẫn vào tuyết đen…<br>
<br>
</em><br>
<br>
~*~<br>
<br>
<em><strong>Chúng ta không thể bay… khi đôi cánh chỉ là ảo tưởng….</strong></em><br>
<br>
<br>
…. Vì thiên Chúa chưa từng tồn tại…<br>
<br>
<br>
<br>
<strong>END.</strong><br>
<br><strong>LOST SHEEPS</strong>