<div class="postcolor" id="post-9193">
<span style="COLOR: green"><strong>SEA AND SKY</strong></span><br>
By <strong><span class="searchlite">Lishrayder</span><br>
<br>
</strong>Rin fic and a gift for Sis Aster.<br>
<br>
<strong>Manga</strong>: Inuyasha<br>
<strong>Pairing</strong>: Sesshoumaru/Rin<br>
<strong>Gerne</strong>: One shot_POV<br>
<strong>Rating</strong>: PG 13<br>
<strong>Summary</strong>: <em>Where will the sea come to? Where will the cloud come to?<br>
I’ll be waiting for you…<br>
Till the sea ran dry come to dust…<br>
……… Just for you…….</em><br>
<strong>A/N</strong>: Bài hát được sử dụng trong bài là “Biển cạn” của nhạc sĩ Nguyễn Kim Tuấn.<br>
<br>
<br>
<br>
<br>
<br>
<em>Có ngườI hẹn tôi đến phương trờI<br>
Biển xưa lắng nghe trắng xoá nỗI niềm… biển không lên tiếng…</em><br>
<br>
<br>
~*~<br>
<br>
Tôi từng hỏI người…<br>
<br>
“TạI sao biển xanh đến thế?”<br>
<br>
Và như thường, ngườI vẫn lặng im nhấc gót.<br>
<br>
Sóng vỗ tràn bờ, long lanh giọt lệ trong gương.<br>
<br>
Đất trờI xanh một màu vô định.<br>
Xanh….<br>
<br>
Biển cũng xanh một màu vô định.<br>
Xanh ngắt…<br>
<br>
Nắng tuôn bãi cát trắng xoá, sắc trắng nhuốm lên tóc ngươi, như bàng bạc… vô hình…<br>
<br>
Thở dài…<br>
<br>
Sóng cuốn khơi xa, biển tìm về vớI cội…<br>
<br>
Là biển xanh…?<br>
Hay là vô hình?<br>
Biển xanh… nhờ trờI xanh vĩnh cửu…?<br>
Một lần chạm tay, vỡ vụn như bọt sóng…<br>
TrờI xanh mây trôi… tự do tự tại…<br>
Biển đuổI theo sóng… chờ đợI ngóng trông…<br>
Đi đâu, về đâu…?<br>
Chân trờI còn xa mãi…<br>
Bóng ngườI in cát mông lung..<br>
VớI chừng… mãi không tới…<br>
<br>
<br>
<br>
Biển vẫn trôi, mãi tìm đuổI chân trờI xa thẳm…<br>
Ngóng đợI… phản chiếu màu xanh của trời…<br>
Mãi mãi…<br>
<br>
<br>
<br>
Tôi vẫn đi, dẫm chân lên dấu cát hằn sâu ngườI để lại…<br>
Gió cuốn bụI cát trắng nhoà… xóa vết chân ngườI trên cát…<br>
<br>
…. thẫn thờ…………………………. đi đâu…?<br>
<br>
Mắt cay xè muốI biển, vẫn cố nhìn xa xăm…<br>
<br>
<br>
TrờI vô tâm, thản nhiên đi mãi.<br>
Biển ngẩng nhìn, giục sóng đuổI theo…<br>
<br>
Tìm về cuốI chân trời…<br>
<br>
~*~<br>
<br>
<em><br>
“Biển sẽ đi về đâu, Sesshoumaru-sama?”<br>
<br>
“Về phía chân trời.”<br>
<br>
“Đó là nơi nào?”<br>
<br>
“Đó là chỗ trờI và biển giao nhau.”<br>
<br>
“Chỗ đó có xa lắm không? Sao biển cứ trôi mãi mà không tớI? Bên kia chân trờI là gì, Sesshoumaru-sama?”<br>
<br>
“…”<br>
<br>
“… Rin muốn một lần vượt qua đường chân trờI, như vậy có được không…?”<br>
<br>
“Baka ningen! Ngươi sẽ chết già trước khi đến đó!”<br>
<br>
“Jaken-sama…”<br>
<br>
“….”<br>
<br>
“Đi thôi.”<br>
<br>
“Khoan đã… Sesshoumaru-sama… ngườI vẫn chưa trả lờI Rin… Sesshoumaru-sama… Sesshoumaru-sama…!!”<br>
<br>
</em><br>
~*~<br>
<br>
Gió vẫn cuốn bụI vung đầy…<br>
Từng hạt cát biển li ti quặn mình trong gió… bay bay…<br>
Màu trắng bàng bạc của nắng và cát như xoá nhòa hình bóng ngườI trên bãi biển… nhạt dần…<br>
<br>
<br>
Một lần đến được chân trời…<br>
<br>
<br>
~*~<br>
<br>
<em><br>
ĐờI tôi nhỏ bé, tiếng sóng thét cao biệt trong nỗI đau…<br>
Tình em quá lớn vớI những đam mê một đờI oan trái…<br>
Sóng ru não nề…. hảI âu không về…<br>
</em><br>
<br>
~*~<br>
<br>
TôI từng hỏI người…<br>
<br>
“TạI sao biển mặn thế?”<br>
<br>
Và như thường, lão gõ đầu mắng tôi: “ Ngốc!”<br>
<br>
Nắng loang mặt nước, xanh xanh màu ngọc dần phôi pha…<br>
<br>
Gió mây hanh một mùi ngằn ngặt.<br>
Mặn…<br>
<br>
Biển rưng rưng mùi vị ngàn năm.<br>
Mặn chát…<br>
<br>
Nước trôi lặng lẽ chạm bờ… vị mặn thẩm thấu vào hơi thở… như ngàn ngạt… say say…<br>
<br>
<br>
Ngỡ ngàng…<br>
<br>
Gió biệt phương trời…qua trùng dương sóng vỗ….<br>
<br>
<br>
Là biển mặn…<br>
Hay nước mắt trờI xanh…?<br>
Biển mặn, sóng trào dâng nỗI nhớ…<br>
NỗI đau còn khắc khoảI, bóng ngườI trôi về đâu..?<br>
Biển ngàn năm lặng câm.. rì rào in sắc biếc…<br>
TrờI trút nước vô tình… thoạt đến rồI lạI đi…<br>
Khô cạn rồI đầy vơi…<br>
Hay vốn dĩ hoang đàng…?<br>
Đến một lần rồI xa mãi…<br>
Ai đợI ai…?<br>
<br>
<br>
Biển còn mặn đến muôn đời… luôn luôn là thế.<br>
Tôi tiếp tục lặng câm… chỉ để cườI và cười…<br>
Cho người…<br>
<br>
<br>
<br>
Và cho tôi….?<br>
<br>
<br>
Không thể trả lời….<br>
<br>
<br>
~*~<br>
<br>
<em><br>
“Sesshoumaru-sama, có khi nào ngườI khóc chưa?”<br>
<br>
“…?”<br>
<br>
“TạI sao ngươi hỏI thế?”<br>
<br>
“Rin chưa bao giờ thấy ngườI khóc.”<br>
<br>
“Nước mắt của một youkai không phảI là thứ có thể để một ai thấy, nhất là vớI một ningen.”<br>
<br>
“Ngay cả khi đó là Rin…?”<br>
<br>
“…. PhảI.”<br>
<br>
<br>
LạI bỏ đi…<br>
<br>
“Rin có thể khóc thay ngườI chứ..?”<br>
<br>
<br>
Sững sờ.<br>
<br>
<br>
"...."<br>
<br>
"Không."<br>
<br>
</em><br>
~*~<br>
<br>
<br>
Gió biển chiều lồng lộng.<br>
<br>
Người như tan vào bọt sóng, trôi dần xa tầm tay...<br>
<br>
Lặng câm. Nghe muối biển ngấm vào khoé mắt....<br>
<br>
Rát bỏng.<br>
<br>
KHông là gì.<br>
<br>
Không cho người.<br>
<br>
Không cả cho tôi...<br>
<br>
Biển còn mặn đến thiên thu.<br>
<br>
Trời còn xanh đến vĩnh cửu.<br>
<br>
....không thể.<br>
<br>
....thật sao...?<br>
<br>
~*~<br>
<br>
<em><br>
Vắng em tên đời biển thầm than khóc ngàn lời với tôi.<br>
Cùng tôi biển chết... cùng em biển tan...<br>
Ngàn năm nỗi đau hoá kiếp mây ngàn.<br>
Cô đơn biển cạn.<br>
</em><br>
<br>
~*~<br>
<br>
Tuyết đang rơi.<br>
<br>
Trời đất hoà quyện vào nhau bởi hai sắc xám và trắng thê lương.<br>
<br>
Xám của trời, trắng của cát và tuyết, đục ngầu bọt sóng biển.<br>
<br>
Tôi đang nằm trong tay người. Nghe hơi ấm dần rời bỏ cơ thể.<br>
Ừ! Đang rời bỏ... dần dần...<br>
<br>
Nhắm mắt lại để nghe sóng ru hời.... à ơi....<br>
<br>
... đã đến lúc rồi, phải không...?<br>
<br>
<br>
"Sesshoumaru-sama, tuyết đẹp quá phải không người..?"<br>
<br>
Tôi hỏi, vẫn cười, nhưng sao nghe mắt đắng xót...còn người...?<br>
<br>
"Sesshoumaru-sama, có khi nào biển cạn không?"<br>
<br>
"....?"<br>
<br>
"Có phải đó là lúc sóng đã gặp trời...?"<br>
<br>
"...Ta không biết."<br>
<br>
"Liệu còn có ai nhớ tới một ngọn sóng khi nó đã tan biến...nó sẽ bị lãng quên... như biển sẽ cạn....đúng không Sesshoumaru-sama...?"<br>
<br>
<br>
Tôi thấy tuyết rơi vào khoé mắt, tan ra, chảy xuống má. Lần đầu tiên trong đời, tôi mới biết tuyết lại mặn đến thế....<br>
<br>
Đã một lần tôi hồi sinh trong vòng tay người. Và giờ đây...cũng trên vòng tay ấy... tôi...<br>
<br>
<br>
<br>
"Rin vẫn muốn được bên cạnh Sesshoumaru-sama, cười cho người.... khóc cho người...nhưng có lẽ...."<br>
<br>
<br>
Tuyết đã rơi dày rồi, mặt biển trắng xoá những mảng loang lổ.... biển chết...?<br>
<br>
Vốc một nắm cát, nhưng cát trôi tuột qua kẽ tay, chỉ còn hạt tuyết vương lại lạnh buốt....lạnh buốt...<br>
<br>
Người siết chặt hơn vòng tay, để tôi cảm nhận rõ hơn hơi ấm của người… để tôi cảm nhận rõ hơn cái lạnh của người…<br>
<br>
Tuyết cứ chết mãi, làm mắt tôi không ngừng tuôn nước, tôi không khóc đâu…. Nhưng sao lạI mặn quá….<br>
<br>
Ngước nhìn ngườI…. ừ…. ngườI vẫn thế… không có tôi… có lẽ ngườI vẫn thế…. có tôi… ngườI cũng vẫn cô độc….<br>
<br>
Chưa lần tôi chạm được người… như biển kia chưa từng chạm chân mây… trờI xa quá… đúng không…?<br>
<br>
Liệu có ai còn nhớ… khi biển đã cạn rồi….<br>
Liệu có ai còn nhớ… khi con sóng đã bạc đầu….<br>
<br>
<br>
….. liệu ngườI còn nhớ tôi…?<br>
<br>
….<br>
<br>
..<br>
<br>
NgườI sẽ quên… như trờI đã quên…<br>
<br>
<br>
<br>
“Sesshoumaru-sama…. ngườI sẽ quên Rin chứ…?”<br>
<br>
“….”<br>
<br>
“…xin… đừng quên Rin…”<br>
<br>
<br>
<br>
<br>
Tuyết nhiều…. rất nhiều….. quá nhiều…..<br>
<br>
Tuyết lấp đầy…. lấp đầy…. ánh mắt người…. khuôn mặt người….. mái tóc người….. trắng dần…. trắng dần….<br>
<br>
Đưa tay với… chỉ chạm bông tuyết đang bay…… ngườI còn ở đây không….?<br>
<br>
…..lạI nghe tiếng sóng ru hời…..<br>
<br>
<br>
……………à……………………..ơ……..i……………………….<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
~*~<br>
<br>
<em><br>
Có ngườI từ lâu nhớ thương biển<br>
Ngày xưa biển xanh không như bay giờ biển là hoang vắng<br>
ĐờI tôi nhỏ bé gió cuốn thét cao biển tràn nỗI đau<br>
Tình em quá lớn sóng cũng vỡ tan đờI tôi đánh mất<br>
Giấc mơ không còn…. biển xưa đã cạn…<br>
Vắng em trên đờI biển thầm tha khóc ngàn lần vớI tôi<br>
Cùng tôi biển chết…<br>
Cùng em biển tan…<br>
Ngàn năm nỗI đau hoá kiếp mây ngàn.<br>
Cô đơn biển cạn.<br>
<br>
</em><br>
~*~<br>
<br>
Một lần nữa, tuyết lạI rơi theo chu kì ngàn năm của trờI và đất.<br>
<br>
Anh đứng trên cồn cát, nhìn xa xăm nơi cõi hoang đầy cát trắng. Mái tóc bạc bay bay trong gió, vướng vào những bông tuyết lờ lững vô tình.<br>
<br>
<em>Sesshoumaru-sama….</em><br>
<br>
“…..đã đến chân trờI rồI chưa….?”<br>
<br>
Từng tiếng thì thầm tan vào bụI cát, cuốn trôi. Anh quay bước, dấu chân trên cát xóa nhoà.<br>
<br>
Xa xăm…. hồ như có tiếng sóng gọI biển về.<br>
<br>
./.<br>
<br>
<br>
<br>
<strong>END</strong><br>
</div><strong>SEA AND SKY</strong>Lishrayder