<strong><span>AFTER THE MOON.</span><br>
</strong>By <span class="searchlite"><strong>Lishrayder</strong></span>.<br>
<br>
<strong>Manga:</strong> Inuyasha<br>
<strong>Gerne:</strong> Angst.<br>
<strong>Charater</strong>: Sesshoumaru, Inuyasha.<br>
<strong>Rating:</strong> NC 14<br>
<strong>Length</strong>: Unknown<br>
<strong>Summary:</strong> <em>Trăng cũng chỉ là bóng nước soi.</em><br>
<br>
~*~<br>
<br>
<em><span style="COLOR: purple">Anh đào đêm<br>
Sắc hoa xanh bóng nắng<br>
Nắng trăng khuya.</span></em>AFTER THE MOON.<strong>Lishrayder</strong>Anh đào đêm<br>
Sắc hoa xanh bóng nắng<br>
Nắng trăng khuya.Và rồi hồ như lạ lẫm, tôi đã thấy mình rơi ngã chỏng chơ vô định… đến bất chợt hoàng hồn để nhận ra… không phải mình rơi… chỉ là cố với mà không thể chạm đến…