<div class="postcolor" id="post-9192">
<span style="COLOR: gray"><strong>BELIEF</strong></span><br>
By Lishrayder<br>
<br>
Eyes Rutherford &amp; Kanone Hilbert fic<br>
<br>
<strong>Disclaimer</strong>: I don’t own any chara in this fic, not even a cat.<br>
<strong>Gerne</strong>: One shot_ Shounen Ai<br>
<strong>Manga</strong>: Spiral<br>
<strong>Rating</strong>: PG 13<br>
<strong>Summary</strong>:<em> Không có thiên thần, cũng không có ác quỷ….<br>
Chỉ có con người…..</em><br>
<strong>A/N</strong>: This fic was written for no one but because someone. To someone who need to be believe in hersefl.<br>
<br>
<br>
<br>
<br>
Mưa.<br>
<br>
Ào ạt. Nức nở. Rưng rưng.<br>
<br>
Lạnh buốt.<br>
<br>
<br>
Nước mưa thấm qua lớp áo măng tô trắng, chạm vào da cái hơi lạnh rát người. Kanone vuốt nhẹ thớ tóc nâu ướt ra khỏI tầm mắt. Trên đường, những chiếc dù trôi lờ lững trong màn mưa mù xám xịt, hồ như cả đàn bướm ma đang cất cánh lườI biếng bay rong ruổi. Anh chợt mỉm cười. <br>
<br>
Những người đi đường lướt ngang qua, liếc nhìn vớI cặp mắt hờ hững rồI lạI tiếp tục rảo bước thật nhanh. Có lẽ…. thật sự không ai thuộc về thế giớI này một cách hoàn toàn.<br>
<br>
<br>
“Lạnh quá!”<br>
<br>
<br>
Kanone bất giác rên khẽ, anh bước nhanh lên vỉa hè, đi đến máy bán nước và mua một cốc cà phê. Hơi nóng đột ngột chạm vào tay làm anh rùng mình, vị cà phê đắng tan trên đầu lưỡI, tê rần mà dễ chịu. Bản tin cuốI đang được phát trên màn hình lớn giữa quảng trường, song chẳng ai mảy may quan tâm lắng nghe. <br>
<br>
<br>
<em>“…. nghệ sĩ Piano quốc tế Eyes Rutherford đã bị ám sát tạI sân bay quốc tế lúc 7h30 chiều nay. Hiện cảnh sát đang điều tra truy tìm kẻ thủ ác, tình trạng của nghệ sĩ còn nhiều phức tạp…”</em><br>
<br>
Ly cà phê bị vò nát, vứt vào cái thùng rác nằm chỏng chơ bên đường một cách lạnh lùng, dù sao thì bây giờ nó cũng đã là một thứ rác rưởi.<br>
<br>
Kanoe đút tay vào túi áo khoác, nắm lấy vật thể sắc nhọn nằm bên trong. Hình như máu vẫn chưa khô hẳn…<br>
<br>
<br>
“Hãy yên nghỉ, Rutherford.”<br>
<br>
<br>
~*~<br>
<br>
<br>
Nắng vàng rực chảy lỏng xuống ngôi nhà tĩnh mịch, khuôn cửa kính loang loáng ánh sáng nhập nhòe chớp ẩn chớp hiện. Không gian quánh lạI trong tiếng đàn dương tịch, réo rắt trầm buồn như vị thủy tinh chạm vào băng vỡ. Ngón tay lướt nhanh qua từng phím trắng đen của cây dương cầm, mê mẩn trong vũ điệu cầu hồn. Gió đột ngột tung vào, thổI bay bản nhạc ra khỏI giá. Eyes chợt tỉnh, dứt tay và đứng dậy.<br>
<br>
“Cậu chơi tuyệt lắm.”<br>
<br>
Kanone đứng ở của tự bao giờ, anh cúi nhặt bản nhạc chép tay và đưa cho Eyes.<br>
<br>
“Cám ơn vì đã nhặt hộ. Cậu làm gì mà giờ này rảnh rỗI thế?”<br>
<br>
Eyes đón lấy bản nhạc từ tay bạn, buông ra câu hỏI lờ lững rồI lạI ngồI xuống đàn. Anh nhìn cậu, trông anh có vẻ như suy nghĩ gì xa xăm.<br>
<br>
“Sao thế? Có chuyện gì sao?”_ Eyes ngạc nhiên khi nhận ra vẻ khác thường của anh, Kanone chỉ cườI và lắc đầu. Anh bước đến cửa sổ và mở nó ra, gió lạI ào vào thổI tung mái tóc tím dài làm Eyes khó chịu.Cậu càu nhàu.<br>
<br>
“Này! Đóng cửa lạI! Cậu làm mấy bản nhạc lạI bay tứ tung rồI kìa!” <br>
<br>
“Đừng khó tính thế chứ! Cậu không thấy là trờI hôm nay rất đẹp hay sao?”<br>
<br>
TrờI trong và cao lồng lộng, xanh ngăn ngắt không một gợn mây, cứ như chỉ cần vớI tay lên là sẽ ngập trong cái chất dung dịch vàng xanh nóng bỏng ấy. Eyes ngước lên, chiếc áo măng tô trắng của Kanone phần phật bay trước gió, đôi tay dang rộng khiến anh trông như một thiên sứ đang vỗ cánh. Vẻ mặt cậu chợt giãn ra, ánh mắt xanh dịu lạI trong vẻ ưu tư sâu hút.<br>
<br>
“Cho dù là đẹp đi chăng nữa, nó cũng không dành cho chúng ta…” Eyes vô tình cườI chua chát “ Cậu không nên lãng mạn quá thế, ác quỉ thì không có trái tim đâu!”<br>
<br>
Kanone im lặng, chậm rãi kéo màn cửa lại. Anh bước đến cây dương cầm đen màu áo tang, vu vơ gõ tay xuống. Âm thanh khẽ khàng vang lên như tiếng nấc.<br>
<br>
<br>
“Cậu là một ngườI nghệ sĩ, vậy mà cậu không có trái tim sao?”<br>
<br>
“Rất tiếc là không. Nói chính xác ra tôi không đủ tư cách để được đến gần những thứ đẹp đẽ như âm nhạc.”<br>
<br>
“Vậy vì sao cậu vẫn chơi?”<br>
<br>
“Đó là số mệnh.”<br>
<br>
“Ác quỉ mà cũng có định mệnh?”<br>
<br>
“Tốt hơn cậu nên đổI chủ đề đi.”<br>
<br>
<br>
Eyes xếp ngăn nắp xấp nhạc lên giá rồI đóng nắp cây đàn xuống. Kanone trầm ngâm nhìn từng cử động chậm chạp của cậu, không nói gì thêm.Eyes bất giác phóng tầm mắt xa xăm, đôi mắt xanh rót tràn màu vàng nắng chảy.<br>
<br>
“Không có thiên đường, không có địa ngục, chỉ có con ngừơi và con ngườI mớI thật sự tồn tại…”<br>
<br>
“Còn ác quỉ của cậu đâu?” Anh cườI hỏI. Cậu vuốt nhẹ mái tóc rốI bù, trả lờI gần như là lơ đãng:<br>
<br>
“Như thế đã là quá nhiều rồI, Kanone…”<br>
<br>
<br>
~*~<br>
<br>
<br>
Trong veo.<br>
<br>
Thuần khiết và tinh khôi đến kì lạ. <br>
<br>
Anh ngước nhìn ánh mắt của Đức mẹ, vô tình nhận ra mắt mình cháy rát. Tiếng kinh cầu lầm rầm âm ỉ xuyên qua dãy hành lang trống, lọt ra ngoài và vỡ òa trong tiếng mưa. Đêm vẫn đen, tiếng chuông nhà thờ văng vẳng từ chốn vô hình, ru yên cho những linh hồn vô giác đã vùi mình xuống chân thánh giá lạnh lẽo.<br>
<br>
<br>
<br>
<br>
<br>
<br>
“Cậu không yêu mẹ mình ư?”<br>
<br>
“Ý cậu là gì?”<br>
<br>
“TạI sao cậu không khóc?”<br>
<br>
“Không thể. Ác quỉ không có nước mắt.”<br>
<br>
“Vậy thì tôi là ai?”<br>
<br>
Eyes giật mình trước câu hỏI bất ngờ, cậu nhìn gương mặt thân quen kia vớI một vẻ kì lạ. <br>
<br>
<br>
“Cậu là Kanone Hilbert.”<br>
<br>
“Và là kẻ đã giết chết mẹ của ngườI bạn thân nhất?” <br>
<br>
Kanone cảm thấy cổ họng đắng nghét….. TạI sao đột nhiên lạI đau đến thế….?<br>
<br>
“Đừng bắt đầu như thế nữa, Kanone.”<br>
<br>
“TạI sao chứ? TạI sao lạI là chúng ta? TạI sao lạI là tôi? Và tạI sao lạI là cậu?”<br>
<br>
“Đừng hỏI tạI sao…. Chính Chúa còn không biết….”<br>
<br>
“Chúa! Làm gì có Chúa! Nếu có, chúng ta đã không phảI chịu số phận như thế này!”<br>
<br>
Anh quay đi, xiết chặt nắm tay trong tức tối. Cậu bước lạI gần và đặt tay lên vai anh….. bàn tay không chút hơi ấm…..<br>
<br>
<br>
“….. Không có sự khác nhau giữa thiên thần và ác quỉ, tất cả đều là con người, và là những kẻ ‘con ngườI’ hơn hết thảy……”<br>
<br>
“Đừng nói những điều như thế! Tôi chả hiểu nổI đâu!”<br>
<br>
“Không ai hiểu cả, Kanone.”<br>
<br>
<br>
Eyes bước đi, màu đen của bộ đồ tang lẫn vào màu đen của màn đêm và nước mưa, nhạt nhòa. Anh chết sững giữa thờI gian. Dường như…. anh đã chạm vào Chúa…. hay đúng hơn….<br>
<br>
<br>
…..Con người.<br>
<br>
<br>
~*~<br>
<br>
<br>
<em>Trên thế giớI này… tất cả đều là hỗn hợp của những thiên thần gãy cánh và ác quỉ lạc đường…<br>
<br>
Có những sinh thể xứng đáng được tồn tạI, nhưng mặc khác cũng có những sinh thể cần phảI tiêu diệt…. Trái Đất cần được thanh tẩy.<br>
<br>
…. Và trong quá trình thanh tẩy ấy… không có bàn tay của Chúa.<br>
<br>
<br>
<br>
Chỉ có ác quỉ mớI có thể tiêu diệt ác quỉ.</em><br>
<br>
<br>
<br>
<br>
Một đêm Giáng Sinh lạnh và tĩnh.<br>
<br>
Không gian trắng xóa, im ắng và yên bình đến mức có thể nghe thấy tiếng những linh hồn thở đều trong từng bông tuyết đang trôi. Eyes ngồI nhìn tuyết rơi, cảm thấy lạc lõng và trống trảI lạ. Có ngườI nói đây là thờI điểm an lành nhất trong năm, một đêm thánh của tình ngườI, nhưng có lẽ…. <br>
<br>
<br>
<em>Những con ngườI đang cườI hạnh phúc…. Và là một hạnh phúc rất ích kỉ. Họ cườI trên sự cô đơn và đau khổ của những con ngườI khác, chính hạnh phúc khiến họ trở nên tàn nhẫn.</em><br>
<br>
<br>
Đâu đó vang lên tiếng ngườI hát bài thánh ca, vang vang lạnh lẽo. Cậu không thích Giáng Sinh, nhưng chí ít ra, nó cũng khiến cậu phần nào cảm thấy yên lành… phần nào còn là người.<br>
<br>
<br>
<em>Dong..Dong..</em><br>
<br>
<br>
“Tôi biết đó là cậu.” Eyes mỉm cườI dịu dàng khi nhìn thấy Kanone. Không hiểu sao cậu có cảm giác nãy giờ mình đang chờ anh.<br>
<br>
“Vào trong nhà đi, không cậu sẽ chết vì sưng phổI đấy!” Cậu nói khi thấy Kanone đang bắt đầu run vì tuyết đóng đầy trên vai và tóc. “ Cậu nghĩ thế nào mà lạI đi trong trờI tuyết thế này mà chẳng chịu độI mũ hay choàng khăn gì thế hả?”<br>
<br>
<br>
“…….”<br>
<br>
<br>
<br>
“……Tôi đến để vĩnh biệt.”<br>
<br>
<br>
<br>
<br>
Một bông tuyết vừa rơi, chạm vào đất và biến mất trong màu trắng muốt. Eyes sững lạI, nhìn bạn mình, đôi mắt xanh tĩnh mịch không giấu nổI vẻ sững sờ. Kanone ngước lên, khuôn mặt tái xanh gần như rạn vỡ.<br>
<br>
<br>
“TạI sao và vì cái gì?”<br>
<br>
“Tôi không tin vào Kyokata. Tôi không tin hắn có thể giảI thoát cho chúng ta, bản thân hắn KHÔNG PHẢI LÀ CHÚNG TA! Hắn không bao giờ hiểu được, tôi quá mệt mỏI vớI việc luôn phải tin và hi vọng vào những điều viển vông.”<br>
<br>
<br>
…………………<br>
<br>
<br>
“……. vậy cậu sẽ làm gì…?”<br>
<br>
“…tự giảI thoát chúng ta.”<br>
<br>
“Cậu đến để giết tôi…?”<br>
<br>
<br>
<em>Tàn nhẫn! Cậu thật tàn nhẫn…. Eyes….</em><br>
<br>
Eyes vẫn đứng nhìn, cái nhìn sâu thẳm đến vô hạn…. cái nhìn của sự vỡ vụn và tan biến. Anh bước lạI, chạm tay vào mái tóc tím dài… và khuôn mặt có đôI mắt xanh yên bình anh từng yêu. Eyes thấy mình bị kéo và ghì chặt. Trong đôi tay kia, cậu đang vỡ… vỡ vụn….<br>
<br>
<br>
“Không… không phảI là đêm nay…”<br>
<br>
<br>
Tiếng chuông nhà thờ đổ dồn, 12 tiếng rên dài tê lòng. Cái thế giớI bên ngoài đang chúc mừng và cườI vui, an lành và hạnh phúc….<br>
<br>
<br>
…. Bàn tay của Chúa không hề chạm đến đây….<br>
<br>
<br>
Chỉ có tuyết mà thôi….<br>
<br>
<br>
~*~<br>
<br>
<em>Tít….</em><br>
<br>
“Alô ?” Eyes bắt máy di động, thả mình xuống chiếc salon màu da.<br>
<br>
“Chào Eyes. Có lẽ cậu đã biết tôi là ai.”<br>
<br>
Khuôn mặt cậu bỗng tái đi, cậu biết sẽ đến ngày hôm nay, nhưng vẫn không khỏI cảm thấy bàng hoàng.<br>
<br>
“Tôi không muốn chạm mặt vớI cậu, và cậu hãy tránh xa bọn trẻ.”<br>
<br>
“TạI sao? Ác quỉ của cậu đâu?”<br>
<br>
Eyes im lặng, bên đầu dây có tiếng cườI khẽ.<br>
<br>
“Chỉ có ác quỉ mớI tiêu diệt được ác quỉ, phảI không Rutherford?”<br>
<br>
“…”<br>
<br>
“Chỉ có địa ngục là giảI thoát cho ác quỉ, phảI không?”<br>
<br>
“…”<br>
<br>
“TRẢ LỜI TÔI ĐI EYES!!!”<br>
<br>
Eyes nghe có tiếng thủy tinh đổ vỡ, và sau đó là những âm thanh ngắt quãng… giống như tiếng nấc.<br>
<br>
“Trở về đi, Kanone.”<br>
<br>
“Tôi không tin vào Kyokata, càng không tin vào Chúa, còn cậu thì ngược lạI. Chúng ta không thể trở về.”<br>
<br>
“Hãy tin vào hi vọng.”<br>
<br>
“Ác quỉ thì không có hi vọng.”<br>
<br>
Có cơn đau vừa thắt chặt trong ngực Eyes, gần nơi chứa cái gọI là tim. Mà đúng không? Cậu đã nói…. Ác quỉ không bao giờ có tim.<br>
<br>
<br>
“Kanone, hãy nghe tôi một lần cuốI cùng, và sau đó cậu có thể giết tôi nếu muốn. Tôi đã nói, Không có thiên đường lẫn địa ngục, không có thiên thần mà cũng chẳng có ác quỉ, chỉ có con ngườI và con người…”<br>
<br>
“Tôi không quên.”<br>
<br>
“Con ngườI luôn có hi vọng. Kanone, cậu thật đáng thương!”<br>
<br>
<br>
<em>Tít…</em><br>
<br>
Anh sững người. Cậu vừa nói “đáng thương”?<br>
<br>
Buồn cườI!<br>
<br>
Anh bắt đầu cườI, cườI vô thức và một cách điên loạn.<br>
<br>
Ừ! Đáng thương!<br>
<br>
Có cái gì nóng hổI và nặng trĩu trên má….<br>
<br>
<br>
…Rốt cuộc anh đã tin vào cái gì đây? Rốt cuộc anh là cái gì đây?<br>
<br>
Một linh hồn méo mó… một thể xác dị dạng….<br>
<br>
<br>
<em>Con Người…?</em><br>
<br>
<br>
<br>
Lạy Chúa tôi!<br>
<br>
<br>
~*~<br>
<br>
<br>
Anh bước xuống phi trường, mưa bắt đầu nhễu giọt. Bước chân dường như nặng hơn bình thường, anh cố lướt nhanh qua đường băng tốI thẫm. Bên trong sân bay, khách viễn phương qua lạI nhộn nhịp đến vô cảm. Kanone đút tay vào túi, hơi lạnh kim loạI tê rần đầu ngón tay.<br>
<br>
<em>Có nên không?</em><br>
<br>
Bước chân dồn nhịp rượt đuổI suy nghĩ, dường gạch lát dường như mỗI lúc một hẹp dần, anh…<br>
<br>
“Kanone.”<br>
<br>
Anh giật mình quay lại.<br>
<br>
Cậu đang ở đó, vẫn mái tóc dài, vẫn đôi mắt xanh, vẫn dáng ngườI gầy…<br>
….. Vẫn nét buồn ngàn năm của thiên chúa.<br>
<br>
<br>
“Chào. Cậu đón tôi vớI tư cách gì đây?”<br>
<br>
Kanone đưa tay ra, nhưng Eyes vẫn im lặng. Anh phì cười.<br>
<br>
“Có lẽ không phảI là một ngườI bạn.”<br>
<br>
“Tôi không muốn đốI đầu vớI cậu, đây là lần cuốI cùng…”<br>
<br>
<em>Phập!</em><br>
<br>
LưỡI dao cắm gọn vào ngườI Eyes, cậu thảng thốt không nói được gì, Kanone ấn mạnh thêm cánh tay, cảm thấy thân người kia giật nhẹ.<br>
<br>
“Ác quỉ sẽ vẫn mãi là ác quỉ…”<br>
<br>
Kanone nói khẽ gần như là thì thầm, đồng thờI rút nhanh con dao. Eyes lùi lạI, ôm vết thương đang tuôn máu, gương mặt cậu mỗI lúc một trắng bệch.<br>
<br>
“Không hề có ác quỉ, chỉ có con người….”<br>
<br>
“Vậy thì tôi là ai..?” Kanone nói khi lướt qua cậu.<br>
<br>
“Một con ngườI đáng thương.”<br>
<br>
Cậu đổ gục xuống lốI đi, mọI ngườI liền chạy đến, vì tò mò nhiều hơn là muốn giúp. Không ai để ý đến một con ngườI đang lướt nhanh ra khỏI đám đông, chạy trốn vào màn đêm đẫm nước.<br>
<br>
<br>
~*~<br>
<br>
<br>
Lạnh.<br>
<br>
Tê tái. Buốt giá. Ray rứt.<br>
<br>
Mưa lạI rơi nữa rồi. <br>
<br>
Mà đã bao nhiêu giờ rồI nhỉ?<br>
<br>
Anh cũng chẳng biết nữa…<br>
<br>
Đêm đen, gió se sắt.<br>
<br>
Trống rỗng.<br>
<br>
<em>Có đúng không?</em><br>
<br>
<br>
<strong><em>Không có thiên đường hay địa ngục…</em></strong><br>
<br>
<br>
“Mieo…”<br>
<br>
Kanone giật mình, rút dao ra. Một sinh thể gầy còm ướt sũng, lảo đảo bước lại.<br>
<br>
<em>Một con mèo?</em><br>
<br>
Anh hạ tay xuống, đưa về phía con mèo nhỏ tộI nghiệp một mẩu bánh trong túi thức ăn. Một thói quen không bỏ được.<br>
<br>
<br>
<br>
Con mèo gục xuống, ngay khi nó vừa chạm tớI tay anh. Kanone sững người.<br>
<br>
<br>
<br>
<br>
….tất cả đều vỡ tan.<br>
<br>
<br>
<br>
<strong><em>Không có thiên thần, không có ác quỉ, chỉ có con người…</em></strong><br>
<br>
<br>
LưỡI dao rơi xuống đất, âm thanh kim loạI vang lên, khô khan như tiếng khóc.<br>
<br>
<br>
Mưa vẫn tiếp tục rơi.<br>
<br>
<br>
./.<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<strong>END.</strong><br>
<br>
</div><strong>BELIEF</strong>