A/N: Dại khờ viết fic TonHyuk, cho một người đáng ghét chỉ cách tôi mỗi lớp 12A1. Tôi muốn nói rằng, dù sao thì được học cùng trường với nhau thật tuyệt và.. uh.. hi vọng nó không quá tệ 
<br><br>
<br>
<br><b>Author:</b> Hikaru Tokoori<br>
<b>Beta-reader:</b> Pluto<br>
<b>Disclaimer:</b> They’re not mine<br>
<b>Genres:</b> romance<br>
<b>Rating:</b> K<br>
<b>Pairing:</b> <span style="color:red">Ton</span><span style="color:blue">Hyuk</span>
<br><br><br>

<div style="text-align: center;">***<br>
</div>
<br>
<br>
Tôi đánh mất những cơn mơ của mình vào một mùa mưa trên miền hoang vắng. Khi nắng đã mãi trôi xa về cuối chân trời, cậu có lại trở về bên tôi, vẽ lên ngọn cỏ xanh màu ký ức mới.. Phải mất bao lâu Thiên Chúa mới tìm được sự yên bình cho những đứa con đã bị ruồng bỏ? Cậu nheo mắt nhìn bâng quơ. Vì nhau... kiếp sau, tôi vẫn muốn làm người.<br>
<br>
<br>
<div style="text-align: center;">***<br>
</div>
<br>
<br>
Gió làm tấm rèm mỏng bên ô cửa bay phần phật, đứt lìa khỏi giá và rơi xuống mặt tôi, làm tôi thức giấc. Một ngày âm u, loài chuồn chuồn đỏ ngoài sân cứ bay là là bên những giậu ớt. Chẳng biết trời cao đã để nắng ở đâu, mọi vật thể trước mắt tôi hiện lên lờ mờ. Lại thêm lần nữa con búp bê treo trên khung cửa sổ không làm tốt nhiệm vụ được giao. Tôi ghét trời mưa cay đắng !<br>
<br>
<br>
- Hey, giờ này mới dậy sao?<br>
- Tại tối qua thức khuya quá..<br>
- Lại đọc sách nữa hả? Hay tiếp tục ngồi chờ khi nào thì mặt trăng rơi xuống?<br>
<br>
<br>
Tôi đáp lại nụ cười ngu ngơ ấy bằng cái liếc mắt đe doạ. Cậu luôn xuất hiện trong đời tôi vào những buổi sáng âm u như thế. Tưởng chừng đôi mắt đen nhỏ xíu kia đã đem nắng giấu hết vào mái vàng buông xuống hai má tròn bầu bĩnh. Con người kỳ lạ, cứ thích đến gần người khác và bắt đầu huyên thuyên những chuyện vu vơ nhặt nhạnh được từ mấy quyển tạp chí... như cỏ may, bám vào gấu quần tôi mãi không rời.<br>
<br>
<br>
- Ehhh... vẽ sai rồi! Cây ớt nhà cậu còm nhom, nuôi mãi mới được 2 trái bé tí. Sao vào tranh lại đẹp thế kia?<br>
- Im dùm cái đi, nhiều chuyện quá! – Tôi phát cáu.<br>
- Nghệ thuật thì phải chân thực chứ!<br>
<br>
<br>
Đúng là tôi hay bóp méo mọi thứ thật! Người ta thích nhìn ớt sừng trâu, trái nào trái nấy vừa to vừa dài, đỏ chon chót, ai lại muốn vẽ mấy loài thực vật quắt queo, xấu xí đến vầy. Bằng vẻ mặt không chút hài lòng, tôi đành bôi hết những gì nãy giờ đã phác họa. Thế là cậu quay đi, thả lưng lên ghế, chân đung đưa, tiếp tục chúi mũi vào đống truyện đang đọc dang dở. Đôi khi tôi ghét cái kiểu góp ý vào tranh của mình, nhưng phải công nhận cậu thường nói có lý.<br>
<br>
Chúng tôi luôn ngồi cùng nhau trong mảnh sân khuất nắng sau nhà. Đã bảo cậu hay đến vào những lúc trời sắp mưa, nên lắm khi bị kẹt ở đây không về được. Chẳng hiểu sao tôi luôn thích vậy, khi mà cậu ngồi nhâm nhi tách trà ấm trên giường tôi, cả hai cùng say sưa với mấy câu chuyện phiếm.<br>
<br>
<br>
Tủ sách nhà tôi là nơi cậu thích đi qua đi lại ngắm nghía nhưng không bao giờ đọc, bảo rằng chỉ muốn ngửi chút xíu mùi giấy cũ đã ố vàng lẫn trong vị ẩm ướt của ngày mưa. Cậu ghét tiểu thuyết lãng mạn của Pháp, hay đống tài liệu hội họa để bừa bãi ở đầu giường, mỗi lần nhìn thấy là ngay lập tức gạt hết xuống nền nhà, chẳng nghĩ đến kẻ lười biếng phải dọn dẹp lúc sau.<br>
<br>
<br>
- Gì kỳ vậy?<br>
- Shhh... Đọc riết mụ mẫm cả đầu, không thành danh được đâu!<br>
<br>
<br>
Ừ thì tôi có nói là mình sẽ nổi tiếng đâu! Nếu ham muốn mấy thứ đó thì tôi đã chẳng để lại chốn phồn hoa đô hội sau lưng mà trở về đây nghe một thằng con trai phàn nàn, lên lớp. Vùng quê này giống với phần ký ức tôi đã bỏ quên từ rất lâu rồi, nơi có khu vườn nhỏ nhìn ra cánh đồng hoa kim ngân và ngọn đồi xanh thoai thoải. Cậu mắng tôi ngu, ngu sao mà ngu thế không biết..<br>
<br>
<br>
Bầu trời trốn xa những ngày cậu đến. Cười bảo tôi giống con mèo lười sợ mưa, hôm sau đem tới treo lên cửa sổ con búp bê trắng đầu tròn có gương mặt cười nhìn ngố kinh khủng.<br>
<br>
<br>
- Hông phải phòng con gái đâu nghen!<br>
- Đồ khùng, búp bê cầu nắng đó! Làm thế này thì trời sẽ không mưa.<br>
- Moi đâu ra cái này vậy?<br>
- Tạp chí! Mẹo này của người Nhật. <br>
- Chà, sính ngoại dữ hen! – Tôi châm chọc.<br>
- Ờ thì nghe nói ghét trời mưa nên mới có ý tốt chứ bộ..<br>
- Uhm, cảm ơn ý tốt!<br>
- À mà sao lại ghét mưa? Nắng thì tôi hông qua đâu. Hổng muốn gặp tôi neh?<br>
<br>
<br>
Tôi không đáp lại, nhìn quanh quất tìm cách chuyển đề tài. Hỏi câu gì ngu quá, cứ thích khiến lòng người khác bối rối như tơ! Cả tuần liền sau đó sáng nào cũng mưa, tôi nhìn con búp bê treo lủng lẳng mà không khỏi thấy buồn cười. Rồi thì cậu cũng sang, gãi đầu, tít cả mắt lại và nói nó bị ếm thành ra mất linh, tiếp tục quay sang bình phẩm đống tranh tôi vừa mới vẽ. Thỉnh thoảng khi ôm lấy cái máy nghe đài, có bài hát nào hay, cậu liền kéo tôi đến gần nghe cho kỳ được. Ờ.. nhạc hay, nhưng gần vầy thì nguy hiểm quá chừng, nó làm mặt tôi đỏ lên lúc nào không biết. Nhất là khi mái tóc mềm màu nắng ấy.. chạm nhẹ vào má tôi... Ai nói rằng tôi không muốn gặp nhau kia chứ?<br>
<br>
<br>
<div style="text-align: center;">***<br>
</div>
<br>
<br>
Tôi có thói quen bẻ yêu thương thành từng vụn sóng, để nó thôi trào dâng trong biển lòng, lắm khi khiến con người ta không khỏi chới với. Vô tình, cậu dạy tôi cách viết tên nhau lên miền thương mến, vùi chôn ở một góc của đài nguyên, hay khắc trên thân cây lá kim bên mặt hồ lặng gió. Nhiều lúc thấy mình dại, thực sự dại, khi cứ dậy muộn, rồi nhìn con búp bê vải khẽ đung đưa. Trời xanh ngu ngơ sao cứ hay đan nắng mai nơi mái tóc bơ vơ rũ xuống nụ cười khờ khạo? Và mặc cho đôi mắt mí lót tinh ranh giam cả cơn mưa sau lớp pha lê đen thi thoảng ánh ỏi chút u buồn? Cậu cứ kéo tôi đi miết trên con dốc miên man chảy suốt một màu xanh cô tịnh. Dải mây xám chẳng cho người ta ngắm mặt trời lặn lúc hoàng hôn, chỉ biết xa xa nghe tiếng sấm ầm ầm. Chuồn chuồn bay là là bên vai người.. Cậu chộp lấy một con đưa tôi xem và tiu nghỉu thả nó đi khi nhận ra kẻ kia chẳng thích thú gì với giống côn trùng xấu xí.<br>
<br>
<em>Tận cùng của thế giới này nằm ở đâu...?</em><br>
<br>
Cậu đưa tay về phía tây, một sợi chỉ vô duyên trông như đang cắt làm đôi con đường từ thiên đàng xuống mặt đất. Hai thằng con trai rỗi hơi ngồi nói nhiều chuyện vu vơ, về những ngày dài sống không mục đích. Ở nơi trăng treo trên cao và ban ngày không chút nắng này, tôi còn học được gì ngoài cách đem thứ cảm xúc rung động ngây ngô, lạ lẫm giấu vào trong túi áo? Để khi lấy ra, chỉ còn là đám bồ công anh trăng trắng bị cuốn vào cuộc chơi với gió chiều... Và vì chỉ có vậy, cậu cứ hay bắt bẻ tôi, mỗi khi chậu ớt trong tranh hơi đẹp hơn thực tế...<br>
<br>
<br>
<br>
- Nè, Hyuk, kiếp sau cậu muốn trở thành gì?<br>
- Hỏi chi vậy?<br>
- Thì hỏi cho biết, vậy thôi!<br>
- Cậu thì sao?<br>
- Uh... Làm gì đó có thể sống yên bình, sống lâu.. không lo không nhớ.<br>
- ...<br>
- À, tôi sẽ là một ngọn núi, Hyukah!!! Hay một cây đại thụ thiệt bự trong rừng nhiệt đới ẩm!!!! - Lại bắt đầu quen thói bông đùa.<br>
- He he ngày nào đó cậu sẽ nằm trong khu vực bị cháy hay bị chặt phá trái phép.<br>
- Ehhh... đừng có điên! - Cậu đẩy vai tôi thật mạnh.<br>
- Theo tôi cậu nên làm khỉ, kiếp này trông giống quá mà không làm khỉ được, tiếc nhỉ?<br>
<br>
<br>
Và lần này thì đến lượt tôi bị xô xuống nền đất nhám chẳng khác nào đống tiểu thuyết của Pháp kia. Cậu bắt đầu vơ gối và đập tôi túi bụi, vẫn cái thói bạo lực không đổi. Con búp bê có gương mặt ngô ngố hơi cúi đầu, ngoài trời mưa ồ ạt như một sự mỉa mai. Tôi phủi lại quần áo, ngồi lên đệm và bắt đầu suy nghĩ. Làm núi, hay làm đại thụ, vô ưu, vô tâm, hay là quá vô tình? Có thật sự, cỏ cây đất đá không biết yêu người? Vậy khi hoá kiếp, tôi sẽ vấn yêu thương của mình chốn nào cho tốt đây?<br>
<br>
<br>
- Hyukah...<br>
- Huh?<br>
- Còn cậu? Cậu muốn trở thành gì?<br>
- ...<br>
- ...<br>
- Con người.<br>
- Hả?<br>
- Biết lo, biết nhớ, biết yêu thương và luyến tiếc... Tôi sẽ tiếp tục làm người.<br>
<br>
<br>
À thì tôi còn nhớ chứ! Chúa của cậu đã tạo ra loài người, nhưng sau đó lại cho nó đi hoang trong khu vườn có ác quỷ. Cậu lại cười làm tôi có cảm giác mình bị trêu ghẹo. Đôi mắt sâu thẳm hướng về màn mưa không ngừng rơi nhanh. Giọng cậu nhỏ và nhẹ đến nỗi, dường như bị hút cả vào tiếng ồn xung quanh, biến mất đi chẳng chút dấu vết.<br>
Mưa sẽ lại lướt qua địa đàng...?<br>
<br>
<br>
- Người ư? Nghe ngu quá..<br>
- Gì cơ?<br>
- ...<br>
- ...<br>
- Hyuk à.. Ngày mai tôi sẽ...<br>
- ...<br>
- .. phải rời khỏi nơi đây..<br>
<br>
<br>
<div style="text-align: center;">***<br>
</div>
<br>
<br>
<span style="color: rgb(139, 139, 139);">Tôi đã bắt đầu kiếm tìm những ngày âm u trên con đường vô tận nơi vùng đất mới. Vầng dương là thứ người ta khao khát kiếm tìm, nực cười thay kẻ nào suốt đời tìm cách lẩn tránh nó. Luồng không khí ẩm ướt quyện với mùi giấy mục, bất giác làm gió buồn trở nên ngây ngô, đùa nghịch cùng đống bụi chì vương vãi trên mặt đất. Cái lạnh hanh hanh nằm chơ vơ trên đôi tay lấm đen, nham nhám. Tôi khẽ rít một hơi thuốc dài, ngửa mặt lên trần và nhả khói vào không trung. Mặt trời đang lên, tôi chỉ thấy những toà nhà cao mà không sao tìm được sợi chỉ ngăn bước chân kẻ lãng du tìm thấy thiên đường.</span><br>
<br>
<br>
<div style="text-align: center;">
<span style="font-family: Arial,Helvetica,sans-serif; font-style: italic;">Những giấc mơ bị đánh cắp của tôi, tan ra theo vụn sóng vương vãi trên miền yêu thương.</span><br>
</div>
<br>
<br>
Chiếc lá nhỏ dại dột rơi xuống vai tôi sau khi nhận ra mình không đủ sức chống chọi cơn gió mạnh. Công viên rộng và yên ắng, tôi kéo sụp mũ rồi siết chặt mình hơn trong lớp khăn len màu lam - vật duy nhất trên người không khẳng định thêm chủ nhân của nó trông như một kẻ hành khất đáng tội nghiệp. Tôi đã bắt đầu biết vẽ những gì đẹp đẽ và khác biệt hơn là mấy giậu ớt còm cõi, may thay, người ta thích như thế. Đã bảo rồi, ai cũng yêu đồng hoa vàng, con thác đổ, cô gái ngồi lặng lẽ bên dòng suối xanh... riêng kẻ ngốc kia lại chỉ thích nhìn mớ cây còm cõi. Thở dài rồi nhìn lại hình ảnh mình vừa phác hoạ trên tập giấy, tôi lắc đầu, biết rằng suy cho cùng chỉ là bức tranh sẽ chẳng được bán đi.<br>
<br>
Tôi ghét nhìn bình minh trên Los Angeles, có gì đó giả tạo và rực rỡ đến phát điên... cũng ghét nơi đây, những hình khối cao lớn đồ sộ làm đầu óc choáng váng, xoay vần. Lòng chỉ chờ đợi trở về vùng quê xa xôi ấy, tôi thấy tiếc vì chưa thể tìm thấy một cuộc gặp gỡ. Thành phố này quá to, quá nhộn nhịp, cứ như cả hai đã vô tình đánh rơi duyên phận của mình ở một ngã tư nào đó. Ngày nọ khi tôi nhận ra cậu và cậu nhìn thấy tôi, hẳn phải là phần ngàn may mắn!<br>
<br>
<br>
- Hey, ra anh ta là họa sĩ!<br>
- Đâu? Anh xem nào<br>
- Tranh chì thôi sao? Em thích sơn dầu cơ.<br>
<br>
<br>
Tôi ngước lên cao và nhận ra nắng đã tắt từ lúc nào, cũng chẳng lấy làm lạ. Hiển nhiên, chúng bị giam lại đan thành một lớp vàng mỏng mảnh trên mái tóc người thanh niên Hàn Quốc. Đôi mắt tò mò say sưa nhìn quyển tập vẽ khổ A3 trên tay tôi không chút tế nhị, cậu bắt đầu buông những lời bình luận vô duyên.<br>
<br>
<br>
- Ehhh... chỗ này tô bóng hơi vô lý nè!<br>
- ...<br>
- Mảng cận sáng bên này đậm quá..<br>
- ...<br>
- God! Chẳng ai dùng cái chậu đẹp thế này chỉ để trồng ớt đâu!<br>
<br>
<br>
Không thèm để ý đến suy nghĩ người kế bên, cậu tuôn cả tràng tiếng Hàn mà tôi chắc nếu mình là công dân Mỹ nào đó khác thì sẽ ngay lập tức đuổi cậu ta đi chứ không nói là mắng cho một trận!<br>
Tôi bắt đầu nghĩ những điều ngu si, bao giờ thì thiên cung thả dây cho con người lên chơi cùng Đức Chúa? Nếu có khi ấy, tôi nhất định sẽ hỏi Người, có thứ gì là không dễ bị lãng quên? Tâm trí tôi như cuộn băng hỏng, các thước phim bị kéo rê một cách vô ý. Ngày âm u...<br>
<br>
<br>
- Seung Ho...<br>
<br>
<br>
Trong khoảnh khắc tôi đã nghe mùi ẩm ướt lẫn với mớ sách đã ố vàng, ngọn đồi xanh cô liêu ngắm mây xám bảng lảng che không gian trở nên tối mịt mờ, thấy đám ớt nhỏ xíu còm nhom mòn mỏi lắm mới cho được vài trái, thấy đám chuồn chuồn đỏ chót bay là là ngang vai... và bên cửa sổ, con búp bê lủng lẳng đu đưa, trời vẫn mưa, nó biết mình dại...<br>
<br>
<br>
- Hey, Tony! Về thôi!!!<br>
- Ờ... anh đến ngay!<br>
<br>
<br>
Cậu bước đi theo tiếng gọi của cô gái trẻ. Kẻ trộm nắng ngốc nghếch ơi, cậu luôn bỏ đi khi bắt cóc tất cả các giấc mơ của tôi vào đôi mắt sâu không biết đâu là tận cùng ấy.. Cậu nỡ sao?<br>
<br>
<br>
- Vừa nãy... anh nói gì cơ? - Cậu bất chợt quay lại hỏi.<br>
<br>
<br>
Tôi khẽ lắc đầu ra hiệu cho người kia cứ đi như chẳng có chuyện gì xảy ra, lẳng lặng nhét quyển tập vẽ vào balô rồi bỏ đi. Băng ghế trống trong công viên, nơi tôi ngồi hàng giờ để nguệch ngoạc vẩn vơ, và để tiếp tục đánh rơi dấu yêu vào thương nhớ. Ừ thì tất cả đã qua, nói năng thêm cũng có ích gì!<br>
<br>
Một lần nữa tôi bỏ lại sự nghiệp sau lưng cùng chốn phồn hoa đô hội, tìm về chỗ nào đó được nói tiếng Hàn, có ngọn đồi xanh và khu vườn trồng ớt ngày xưa tưởng chừng như bị xoá nhoà trong ký ức. Nắng lên khờ dại, ai sẽ lại đem giấu nó đi cho cậu tìm đến? Nếu có thể, tôi muốn hỏi Đấng tối cao, phải chăng, vẫn có thể quên ngay cả khi làm con người? Tôi bắt đầu hiểu vì sao cậu nheo mắt cười bâng quơ. Ta sẽ tìm nhau, khi trời cao tắt nắng.<br>
<br>
<br>
<div style="text-align: center;">
<span style="font-family: Arial,Helvetica,sans-serif; font-style: italic;">Cậu đã dạy tôi, cách xé vụn mến thương cho lòng thôi thương mến.</span><br>
</div>
<br>
<br>
Xét cho cùng, chỉ tội nghiệp một con búp bê...<br>
<br>
<br>
<div style="text-align: center;">***<br>
</div>
<br>
<br>
Phong linh kêu hờ hững. Căn phòng cũ nhan nhản mùi giấy mục trầm ngâm. Chậu ớt nhỏ ngoài sân không bao giờ thôi xấu xí. <em>Một nụ cười ngu ngơ thoáng qua trong trí nhớ...</em> Dù có treo ngày này qua tháng nọ, con búp bê vẫn không thôi u sầu.<br>
<br>
Tôi thức dậy muộn hơn, vì hôm nay nắng mang màu nhạt thếch.<br>
<br>
<br>
<div style="text-align: center;">***<br>
</div>
<br>
<br>
<strong>Owari</strong><br>
[1:39 pm 18/10/06]<br>
<br>
By Hik<br>
for <em>akaryendy</em><br>
<br>TonHyukTôi đã bắt đầu kiếm tìm những ngày âm u trên con đường vô tận nơi vùng đất mới. Vầng dương là thứ người ta khao khát kiếm tìm, nực cười thay kẻ nào suốt đời tìm cách lẩn tránh nó. Luồng không khí ẩm ướt quyện với mùi giấy mục, bất giác làm gió buồn trở nên ngây ngô, đùa nghịch cùng đống bụi chì vương vãi trên mặt đất. Cái lạnh hanh hanh nằm chơ vơ trên đôi tay lấm đen, nham nhám. Tôi khẽ rít một hơi thuốc dài, ngửa mặt lên trần và nhả khói vào không trung. Mặt trời đang lên, tôi chỉ thấy những toà nhà cao mà không sao tìm được sợi chỉ ngăn bước chân kẻ lãng du tìm thấy thiên đường.Những giấc mơ bị đánh cắp của tôi, tan ra theo vụn sóng vương vãi trên miền yêu thương.Cậu đã dạy tôi, cách xé vụn mến thương cho lòng thôi thương mến.