<div align="center"><img src="http://img507.imageshack.us/img507/4482/raininghikkf9.jpg"></div> <br>
<br>

<b>Author:</b> <span style="COLOR: green"><em>Hikaru Tokoori</em></span> <br>
<br>
<b>Beta-reader:</b> Pluto <br>
<b>Disclaimer:</b> They’re not mine <br>
<b>Genres:</b> Angst/ Sad <br>
<b>Warning:</b> Shounen-ai/ OCC <br>
<b>Pairing:</b> Kuro x Kura <br>
<b>Rating:</b> T <br>
<b>Summary:</b> <em>Em mơ ngày không nắng... Cho người đừng xa em...</em> <br>
<br>
<br>

*** <div align="justify">
<br>
<br>
<br>
<span style="COLOR: gray">Em mơ ngày không nắng <br>
<br>
Cho người đừng xa em</span> <br>
<br>
</div> <div align="right">
<em>Em đã bay rất xa... xa lắm rồi…</em> <br>
<br>
. <br>
. <br>
. <br>
<br>
</div> <div align="justify">
<br>
"Ông đi sao?" <br>
<br>
"Ừ." <br>
<br>
"Chừng nào ông quay lại?" <br>
<br>
"Một ngày mưa..." <br>
<br>
Em khẽ kéo chăn, thu mình vào góc tối im lặng. Người chậm rãi thắt cà vạt trước gương, nhẹ nhàng mặc áo khoác và bước khỏi phòng, không hề quay đầu nhìn lại. <br>
<br>
Cánh cửa khép lạnh lùng, kéo em khỏi giấc mộng còn vương vấn quanh đây, huyễn hoặc em theo chút hương người còn để sót. <br>
<br>
Đừng hỏi vì sao em thích những chiều có mưa, bởi trong cơn mưa em có người. Em ước mình có trái tim giá lạnh, để ngày ấy mình lướt qua nhau như bóng mây. Làm sao để em níu kéo được người, khi mà sau mỗi lần ân ái, người lại đặt lên giường vài tờ bạc vuông vức? <br>
<br>
Qua ô kính mờ, em lặng nhìn con phố vắng bị phủ lấp sau màn mưa bụi. Khẽ phả một làn hơi ấm lên tấm thuỷ tinh, em bắt đầu viết tên mình bằng những nét chữ gãy khúc. <br>
<br>
</div> <div align="right"><em>Cơn mưa qua rồi, người sẽ đi đến đâu?</em></div> <div align="justify">
<br>
<br>
Em tự hỏi. <br>
<br>
Người chỉ về trong đêm mưa, mặc em mong chờ, mặc em khắc khoải. Lẽ nào… em chỉ là chỗ dừng chân cho một kẻ lãng du? Người gõ cửa nhà em để mái tóc đen khỏi lạnh trong sương giá. Em vẫn mong, ngày nào đó, người đến đây tìm chủ quán trọ, không phải để trú mưa… <br>
<br>
. <br>
. <br>
. <br>
<br>
<br>
"Ông làm nghề gì?" <br>
<br>
"Sao lại hỏi thế?" <br>
<br>
"Em muốn biết nhiều hơn về ông." <br>
<br>
Em siết lấy người, cho da thịt cọ xát vào nhau. Mái tóc đen vờn trên môi em mát rượi, ướp cả vị của một cơn mưa. Người nhìn em bằng đôi ngươi sâu thẳm, ràng buộc em với đớn đau. Bóng người khẽ run lên, nhoè vì nước mắt. <br>
<br>
<br>
"Ông... có gia đình không?" <br>
<br>
"…" <br>
<br>
“Ông bao nhiêu tuổi rồi?” <br>
<br>
"…" <br>
<br>
"Tại sao ông không bao giờ chủ động nói chuyện với em?" <br>
<br>
Người giữ lấy em trong đôi tay ấm áp. <em>Cõi lòng người giá băng</em>. Nhưng em không sao thốt lên, lời nói ấy chìm vào bóng tối câm lặng. <br>
<br>
Gió thốc tấm rèm màu kem bay phần phật, nhân cơ hội rót vào lòng chút hơi thở của cơn mưa. Chẳng hiểu sao người cứ để như thế, dù biết vai em vẫn run lên vì lạnh. Chưa bao giờ em thấy lẻ loi đến đau đớn bằng lúc ở bên người. <br>
<br>
Nhẹ nhàng, người đưa tay gỡ mấy chỗ rối trên mái tóc vàng của em. Người đặt em ngồi trên chân mình, để dễ dàng vuốt ve từ cổ xuống bụng. Và em thấy, làn môi khép kín mấp máy trong bóng đêm. Khẽ khàng. <br>
<br>
"Im lặng..." <br>
<br>
"..." <br>
<br>
"Im lặng..." <br>
<br>
"..." <br>
<br>
</div>
<span style="FONT-FAMILY: Arial"> <div align="right">[ Mưa ]</div> <div align="justify">
<br>
<br>
<span style="COLOR: gray">Làm sao người hay biết <br>
<br>
Rằng em đang mong chờ?</span> <br>
<br>
<br>
<br>
Người không cho em nói, làn môi mềm quấn lấy em. Mọi thứ chỉ là ảo ảnh, tan biến ngay khi xuất hiện, như bóng bướm trắng chập chờn trong giấc mơ xanh hoan lạc. Ngón tay em đan vào bóng tối, bất chợt vướng lấy chuỗi xích không màu, nỗi cô đơn em tranh đấu. <br>
<br>
Không thể dứt bản thân khỏi cuồng si thèm khát, em níu người ngã vào đêm, trong chăn, trên giường. <br>
<br>
</div> <div align="right">Be mine. <br>
<br>
Just be mine.</div> <div align="justify">
<br>
<br>
<br>
<br>
Cơn mưa tan đi khi trời vừa hửng sáng. Người mặc em cuốn mình vùi mặt vào chăn, lặng lẽ đứng trước gương thắt cà vạt. <br>
<br>
"Em… nói một điều được không?" <br>
<br>
"Ừ." <br>
<br>
"..." <br>
<br>
"..." <br>
<br>
"Em yêu ông." <br>
<br>
"Ừ." <br>
<br>
Sao người luôn chấp nhận mọi điều em nói, nhưng lại từ chối trả lời những câu hỏi về bản thân? Lúc nào cũng vậy, người đến gần và rời xa em như người khách trọ. Vẫn im lặng, người bước khỏi đời em... <br>
<br>
"Ông... sẽ quay lại chứ?" <br>
<br>
"Ừ." <br>
<br>
"Chừng nào?" <br>
<br>
"Một ngày mưa... <br>
<br>
Bỏ lại mình em trong căn phòng vắng, người khẽ kéo cổ áo hoà mình vào dòng khí lạnh trên phố xa. Chưa dứt mưa mà, phải không? Em ước sao bụi nước níu lấy chân người, giữ người ở lại lâu hơn một chút. <br>
<br>
</div> <div align="right"><em>Một ngày vắng nhau, em để lạc chính mình.</em></div> <div align="justify">
<br>
<br>
. <br>
. <br>
. <br>
<br>
Khi màn đêm buông lơi, và mưa rơi vội vã, em chờ đợi tiếng gõ cửa nhẹ nhàng. Lẫn trong âm thanh của ngày mưa, làm tim em nhói đau, người xuất hiện với bộ quần áo ướt mèm và mái tóc đen bết chặt vào gương mặt tái tê vì lạnh. <br>
<br>
"Nói với em… ông đến làm gì?" <br>
<br>
"Trú mưa…" <br>
<br>
<br>
<br>
Em nhìn người xoay xoay chiếc tách trà tráng men xanh biêng biếc. Làm ơn đi, đừng khiến em thêm ảo tưởng... <br>
<br>
"Đừng giấu em..." <br>
<br>
"..." <br>
<br>
"Em biết vì sao ông đến chỗ này." <br>
<br>
"..." <br>
<br>
"Ông đang chạy trốn." <br>
<br>
"Trốn gì?" <br>
<br>
"Mưa." <br>
<br>
Chỉ là thoáng qua, người nhếch mép cười lặng lẽ. Chưa bao giờ em xem người là khách, là kẻ cần phục vụ vì sinh nhai... Người đến với em như ảo vọng, cho em được mộng mơ. Giữa đời. <br>
<br>
Người là ai? Người tên gì? Người không nói? Người giấu em? <br>
<br>
Người tìm em để bù đắp, người muốn em cho người lãng quên. Có lẽ, người cần em cho một quãng đời khác, khi ấy, người bỏ mặc quá khứ, bỏ mặc bản thân. <br>
<br>
</div> <div align="right"><em>Trốn mưa hay trốn mình?</em></div> <div align="justify">
<br>
<br>
"Em hỏi ông được không?" <br>
<br>
"Ừ." <br>
<br>
"Nếu mình không gặp nhau như thế này..." <br>
<br>
"..." <br>
<br>
"Nếu ông không phải một lữ khách.... và em không bán mình..." <br>
<br>
"..." <br>
<br>
"... Vậy thì ông có thể yêu em không?" <br>
<br>
Im lặng, người nghiêng đầu vào đêm. Sao người lại trốn tránh? Có cảm giác như nước mắt sắp rơi, em dựa vào người lần tìm hơi ấm quen thuộc. Người khác với tất cả, bởi người vốn là tất cả của em. Nhưng... em sắp mất người đấy ư? <br>
<br>
</div>
<span style="FONT-FAMILY: Arial"> <div align="right">[ Cho một ngưỡng vọng của cuộc đời ]</div></span> <div align="justify">
<br>
<br>
<span style="COLOR: gray">Tình xanh khi người đến <br>
Tình buồn khi người xa <br>
Em hỏi trong giông tố <br>
Tình gần hay tình xa?</span> <br>
<br>
</div> <div align="right">Sầu mênh mông.</div> <div align="justify">
<br>
<br>
. <br>
. <br>
. <br>
<br>
Trời sắp sang thu, mưa cũng vơi dần. Em rời chỗ ngồi thân quen bên cửa sổ sau khi để lại trên ô kính mờ những nét chữ gãy khúc... <br>
<br>
Cổ họng khô rát, em gục xuống giường thở nặng nhọc rồi thẫn thờ nhìn dấu máu còn tươi trên chiếc chăn trắng muốt. <br>
<br>
Cánh bướm mờ dần trong giấc mơ của em, ánh chiều xuyên qua khe cửa sổ ngày càng hiu hắt. Em không muốn xa người. <br>
<br>
Khoảng không ngoài kia bỏng những nắng, xơ xác rũ rượi như màu vàng trên tóc em. Tại sao người chỉ đến để trú mưa, mà chẳng bao giờ vì muốn nhìn thấy chủ quán trọ? <br>
<br>
Tất cả dần trở nên mông lung, hơi thở em yếu dần. Siết lấy tấm chăn, em ngỡ như người vẫn giữ lấy em những khi trời đêm đầy mưa bão. Em biết, người không yêu em, chẳng bao giờ yêu em... Người chỉ cần em để lãng quên chính mình. <br>
<br>
Giậu hoa bên cửa sổ đã chết khô, cả em cũng phai tàn, héo úa. Tận đáy lòng em luôn khát khao, ngày nào đó không mưa và trên cao xanh có nắng vàng, người đến bên em, không là mộng tưởng... <br>
<br>
</div> <div align="right">
<br>
. <br>
. <br>
.</div> <div align="justify">
<br>
<br>
<span style="COLOR: gray"><em>Ngày 4 tháng 4 năm xxxx <br>
<br>
Tôi chết.</em></span> <br>
<br>
<br>
<br>
"Em thích những cơn mưa... bởi trong cơn mưa em có người." <br>
<br>
<br>
Ước sao, nếu ta gặp nhau một lần nữa, nếu người không phải là lữ khách... và em không phải là kỹ nam... <br>
<br>
Hãy yêu em, người nhé! <br>
<br>
<br>
</div> <div align="right"><em>Hôm nay tôi đã chết trong người <br>
<br>
Xưa hẹn nghìn năm yêu mến tôi.</em></div> <div align="justify">
<br>
<br>
<span style="COLOR: gray">Em mơ ngày không nắng <br>
<br>
<br>
Cho người đừng xa em <br>
<br>
</span>
</div> <div align="right">Em chết... <br>
<br>
<br>
Ngày không mưa...</div> <div align="justify">
<br>
<br>
<br>
</div> <div align="center">***</div> <div align="justify">
<br>
<br>
<strong><em>Owari.</em></strong> <br>
<br>
<br>
By Hik <br>
<br>
<br>
3:35 pm 4/8/2006 <br>
<br>
<br>
--một chiều mưa--</div></span>
      <em>Hikaru Tokoori</em>Em mơ ngày không nắng <br>
<br>
Cho người đừng xa em <div align="right">[ Mưa ]</div> <div align="justify">
<br>
<br>
<span style="COLOR: gray">Làm sao người hay biết <br>
<br>
Rằng em đang mong chờ?</span> <br>
<br>
<br>
<br>
Người không cho em nói, làn môi mềm quấn lấy em. Mọi thứ chỉ là ảo ảnh, tan biến ngay khi xuất hiện, như bóng bướm trắng chập chờn trong giấc mơ xanh hoan lạc. Ngón tay em đan vào bóng tối, bất chợt vướng lấy chuỗi xích không màu, nỗi cô đơn em tranh đấu. <br>
<br>
Không thể dứt bản thân khỏi cuồng si thèm khát, em níu người ngã vào đêm, trong chăn, trên giường. <br>
<br>
</div> <div align="right">Be mine. <br>
<br>
Just be mine.</div> <div align="justify">
<br>
<br>
<br>
<br>
Cơn mưa tan đi khi trời vừa hửng sáng. Người mặc em cuốn mình vùi mặt vào chăn, lặng lẽ đứng trước gương thắt cà vạt. <br>
<br>
"Em… nói một điều được không?" <br>
<br>
"Ừ." <br>
<br>
"..." <br>
<br>
"..." <br>
<br>
"Em yêu ông." <br>
<br>
"Ừ." <br>
<br>
Sao người luôn chấp nhận mọi điều em nói, nhưng lại từ chối trả lời những câu hỏi về bản thân? Lúc nào cũng vậy, người đến gần và rời xa em như người khách trọ. Vẫn im lặng, người bước khỏi đời em... <br>
<br>
"Ông... sẽ quay lại chứ?" <br>
<br>
"Ừ." <br>
<br>
"Chừng nào?" <br>
<br>
"Một ngày mưa... <br>
<br>
Bỏ lại mình em trong căn phòng vắng, người khẽ kéo cổ áo hoà mình vào dòng khí lạnh trên phố xa. Chưa dứt mưa mà, phải không? Em ước sao bụi nước níu lấy chân người, giữ người ở lại lâu hơn một chút. <br>
<br>
</div> <div align="right"><em>Một ngày vắng nhau, em để lạc chính mình.</em></div> <div align="justify">
<br>
<br>
. <br>
. <br>
. <br>
<br>
Khi màn đêm buông lơi, và mưa rơi vội vã, em chờ đợi tiếng gõ cửa nhẹ nhàng. Lẫn trong âm thanh của ngày mưa, làm tim em nhói đau, người xuất hiện với bộ quần áo ướt mèm và mái tóc đen bết chặt vào gương mặt tái tê vì lạnh. <br>
<br>
"Nói với em… ông đến làm gì?" <br>
<br>
"Trú mưa…" <br>
<br>
<br>
<br>
Em nhìn người xoay xoay chiếc tách trà tráng men xanh biêng biếc. Làm ơn đi, đừng khiến em thêm ảo tưởng... <br>
<br>
"Đừng giấu em..." <br>
<br>
"..." <br>
<br>
"Em biết vì sao ông đến chỗ này." <br>
<br>
"..." <br>
<br>
"Ông đang chạy trốn." <br>
<br>
"Trốn gì?" <br>
<br>
"Mưa." <br>
<br>
Chỉ là thoáng qua, người nhếch mép cười lặng lẽ. Chưa bao giờ em xem người là khách, là kẻ cần phục vụ vì sinh nhai... Người đến với em như ảo vọng, cho em được mộng mơ. Giữa đời. <br>
<br>
Người là ai? Người tên gì? Người không nói? Người giấu em? <br>
<br>
Người tìm em để bù đắp, người muốn em cho người lãng quên. Có lẽ, người cần em cho một quãng đời khác, khi ấy, người bỏ mặc quá khứ, bỏ mặc bản thân. <br>
<br>
</div> <div align="right"><em>Trốn mưa hay trốn mình?</em></div> <div align="justify">
<br>
<br>
"Em hỏi ông được không?" <br>
<br>
"Ừ." <br>
<br>
"Nếu mình không gặp nhau như thế này..." <br>
<br>
"..." <br>
<br>
"Nếu ông không phải một lữ khách.... và em không bán mình..." <br>
<br>
"..." <br>
<br>
"... Vậy thì ông có thể yêu em không?" <br>
<br>
Im lặng, người nghiêng đầu vào đêm. Sao người lại trốn tránh? Có cảm giác như nước mắt sắp rơi, em dựa vào người lần tìm hơi ấm quen thuộc. Người khác với tất cả, bởi người vốn là tất cả của em. Nhưng... em sắp mất người đấy ư? <br>
<br>
</div>
<span style="FONT-FAMILY: Arial"> <div align="right">[ Cho một ngưỡng vọng của cuộc đời ]</div></span> <div align="justify">
<br>
<br>
<span style="COLOR: gray">Tình xanh khi người đến <br>
Tình buồn khi người xa <br>
Em hỏi trong giông tố <br>
Tình gần hay tình xa?</span> <br>
<br>
</div> <div align="right">Sầu mênh mông.</div> <div align="justify">
<br>
<br>
. <br>
. <br>
. <br>
<br>
Trời sắp sang thu, mưa cũng vơi dần. Em rời chỗ ngồi thân quen bên cửa sổ sau khi để lại trên ô kính mờ những nét chữ gãy khúc... <br>
<br>
Cổ họng khô rát, em gục xuống giường thở nặng nhọc rồi thẫn thờ nhìn dấu máu còn tươi trên chiếc chăn trắng muốt. <br>
<br>
Cánh bướm mờ dần trong giấc mơ của em, ánh chiều xuyên qua khe cửa sổ ngày càng hiu hắt. Em không muốn xa người. <br>
<br>
Khoảng không ngoài kia bỏng những nắng, xơ xác rũ rượi như màu vàng trên tóc em. Tại sao người chỉ đến để trú mưa, mà chẳng bao giờ vì muốn nhìn thấy chủ quán trọ? <br>
<br>
Tất cả dần trở nên mông lung, hơi thở em yếu dần. Siết lấy tấm chăn, em ngỡ như người vẫn giữ lấy em những khi trời đêm đầy mưa bão. Em biết, người không yêu em, chẳng bao giờ yêu em... Người chỉ cần em để lãng quên chính mình. <br>
<br>
Giậu hoa bên cửa sổ đã chết khô, cả em cũng phai tàn, héo úa. Tận đáy lòng em luôn khát khao, ngày nào đó không mưa và trên cao xanh có nắng vàng, người đến bên em, không là mộng tưởng... <br>
<br>
</div> <div align="right">
<br>
. <br>
. <br>
.</div> <div align="justify">
<br>
<br>
<span style="COLOR: gray"><em>Ngày 4 tháng 4 năm xxxx <br>
<br>
Tôi chết.</em></span> <br>
<br>
<br>
<br>
"Em thích những cơn mưa... bởi trong cơn mưa em có người." <br>
<br>
<br>
Ước sao, nếu ta gặp nhau một lần nữa, nếu người không phải là lữ khách... và em không phải là kỹ nam... <br>
<br>
Hãy yêu em, người nhé! <br>
<br>
<br>
</div> <div align="right"><em>Hôm nay tôi đã chết trong người <br>
<br>
Xưa hẹn nghìn năm yêu mến tôi.</em></div> <div align="justify">
<br>
<br>
<span style="COLOR: gray">Em mơ ngày không nắng <br>
<br>
<br>
Cho người đừng xa em <br>
<br>
</span>
</div> <div align="right">Em chết... <br>
<br>
<br>
Ngày không mưa...</div> <div align="justify">
<br>
<br>
<br>
</div> <div align="center">***</div> <div align="justify">
<br>
<br>
<strong><em>Owari.</em></strong> <br>
<br>
<br>
By Hik <br>
<br>
<br>
3:35 pm 4/8/2006 <br>
<br>
<br>
--một chiều mưa--</div>Làm sao người hay biết <br>
<br>
Rằng em đang mong chờ? <div align="right">[ Cho một ngưỡng vọng của cuộc đời ]</div>Tình xanh khi người đến <br>
Tình buồn khi người xa <br>
Em hỏi trong giông tố <br>
Tình gần hay tình xa?<em>Ngày 4 tháng 4 năm xxxx <br>
<br>
Tôi chết.</em>Em mơ ngày không nắng <br>
<br>
<br>
Cho người đừng xa em <br>
<br>
