<p><strong>Title:</strong> Khát vọng trong tôi </p>
<p><strong>Author:</strong> sami </p>
<p><strong>Rating:</strong> K+ </p>
<p><strong>Category:</strong> Humor, Autobioghraphy </p>
<p><strong>Summary:</strong> Tuổi thơ tôi đã trôi qua "một cách yên ả" cho tới ngày đó, cái ngày đã đánh dấu một bước ngoặt cuộc đời. Từ đó tôi mang trong mình một khát vọng, một khát vọng mãnh liệt </p>
<p>--------------------- </p>
<p><span style="COLOR: white">.</span></p>
<p><span style="COLOR: white">.</span></p>
<p><span style="COLOR: white">.</span></p>
<p></p>
<p></p>
<p></p>
<p><span style="COLOR: red"><strong>Khát vọng trong tôi…</strong></span></p>
<p><span style="COLOR: sienna"><em>Tự truyện của Sami</em></span> <br>
<br>
<br>
<br>
<br>
Chuyện kể từ hồi tui bé tí ti. Một Tết nọ, hàng xóm nhà tui để xổng một con gì lông màu sặc sỡ rất đẹp. Tui thấy người ta cầm gậy gộc quây nó lại đông lắm. Rồi họ tóm cổ nó kề vô cái gì sáng loáng trông cực ngầu. Tui hỏi mẹ thì mẹ bảo: “Cái con sặc sỡ ấy là con gà, cái con ngon ngon mà mẹ vẫn hay luộc cho bé mèo ăn đó!”. Mẹ chỉ nói thế thôi, chẳng nhắc gì đến cái thứ sáng loáng hấp dẫn kia cả. <br>
<br>
Nhưng tui đã bị nó làm cho mê mẩn, cái thứ sáng loáng còn lấp lánh hơn cả cườm đính trên kẹp tóc của tui. Tui muốn có nó! <br>
<br>
Thấy tui cứ đòi miết, mẹ mua cho tui một cây gậy Tôn Ngộ Không mà tui từng đòi. Nó không đẹp như cái thứ sáng loáng kia nhưng tui cũng thích Tôn Ngộ Không lắm nên thôi. <br>
<br>
Hồi đó, nhà tui chẳng khá giả gì, bố mẹ bận đi làm túi bụi nên không có thời gian chăm sóc tui. Thế là nghiễm nhiên tui được gửi vô trường mẫu giáo. Tui cũng chẳng phàn nàn gì thậm chí còn rất vui vì nghe mẹ tui dỗ ngọt khéo quá. Thế nhưng trường mẫu giáo không vui như tui tưởng. Ở đó toàn những bà cô kể mấy thứ chuyện điêu không thể tả và một lũ nhóc lóc chóc ngốc tin theo sái cổ. Ai đời cô Tấm dịu hiền gì mà đem em ra làm mắm gửi cho mẹ ăn, thử hỏi “dịu hiền” chỗ nào? Chẳng những thế mà trong lớp còn có đứa ganh tị với sắc đẹp và mái tóc óng mượt như tơ của tui, giờ ngủ trưa gì mà nó cứ giựt tóc tui hoài. Tức chít!! Tui mà biết đứa nào thì tui vặt trụi lông nó từ đầu đến chân!! <br>
<br>
May cho nó là tui không biết. Đã thế…tui giựt hết tóc của tất cả những đứa nằm trong tầm tay với &gt;__&lt;*! Chả hiểu vì sao mà từ hôm sau đó mẹ không dắt tui đến trường nữa. Tui đã kết thúc quãng đời học sinh đầu tiên ngắn ngủi như thế đó! <br>
<br>
<br>
Nhưng bố mẹ tui bận nhiều việc lắm, chị tui thì cũng phải đi học cả buổi nên chẳng ai có thể ở nhà trông tui cả. Dù không đành lòng nhưng mẹ vẫn phải để tui ở nhà một mình. Sáng sớm, mẹ tui dặn: “Ở nhà ngoan, không được mở cửa cho ai vào nghen, nếu có thấy ma thì gọi điện cho mẹ về nhé!” Tui tròn xoe mắt: “Nhà mình có con ma hả mẹ? Mẹ không phải về đâu, con sẽ bắt nó nhốt vào bếp để chiều về mẹ luộc!” - tui nhớ lại cái con lông màu sặc sỡ tui từng thấy hồi Tết, cái con ngon ngon mẹ bảo. Mẹ chỉ cười rồi để tui ở nhà một mình. <br>
<br>
Ngày hôm đó, tui cứ ngồi ôm cây gậy Tôn Ngộ Không chờ mãi. Tui cứ thế chờ mà chẳng thấy có con ma “ngon” xuất hiện. Đó là lần thứ hai mẹ làm tui thất vọng sau lần đến trường mẫu giáo. Mẹ đáng ghét!! Mẹ nói dối!! Và thế là tui đã khóc lần đầu tiên trong đời mà tui còn nhớ được vì tức giận &gt;O&lt;*. <br>
<br>
<br>
Tuổi thơ tôi cứ thế êm đêm trôi qua cho đến cái ngày định mệnh đó. <br>
<br>
<br>
Ngày ấy, mẹ dắt tôi vào bếp. Mẹ dạy tôi làm món tôm bóc nõn tẩm bột chiên giòn. Mẹ làm mẫu, tôi làm theo. Nhưng con tôm của tôi không ngoan ngoãn như của mẹ, ngay khi kéo kè sát cổ, nó quẫy mạnh một cái và rơi tòm xuống chậu. Nước văng tung toé bắn cả vào mắt tôi làm cho nó bị viêm. Thế là từ đó tôi nhìn cuộc đời chỉ toàn một màu xám xịt. <br>
<br>
Tôi không được đi học nữa. <br>
<br>
<br>
<span style="FONT-SIZE: x-small"><span><img alt="" src="http://img.photobucket.com/albums/v99/lily_bbe/classroom01.jpg"></span></span> <br>
</p>
<p><span style="COLOR: white">.</span></p>
<p><span style="COLOR: white">.</span></p>
<p><span style="COLOR: white">.</span></p>
<p><span style="COLOR: white">.</span></p>
<p><span style="COLOR: white">.</span></p>
<p><span style="COLOR: white">.</span></p>
<p><span style="COLOR: white">.</span></p>
<p><span style="COLOR: white">.</span></p>
<p><span style="COLOR: white">.</span></p>
<br>
<div></div> <div></div> <p><span style="FONT-FAMILY: arial"></span></p>
<p>Mà có nói thế nào mẹ cũng không cho tôi bỏ cái kính đen chết tiệt đó ra. Trong khoảng thời gian buồn chán đó, tôi đã nuôi mối hận trả thủ. Tôi muốn lột da, phanh thây, xẻ thịt, nhai ngấu nghiến lũ súc sinh &gt;__&lt;*. <br>
<br>
<br>
<span style="FONT-SIZE: x-small"><span><img alt="" src="http://img.photobucket.com/albums/v99/lily_bbe/tom6.jpg"></span></span> <br>
<br>
<br>
Và tôi làm thế thật. Có lẽ trong chuyện này chỉ có bà hàng tôm là thu lợi. <br>
<br>
<br>
<br>
Nhưng rồi tôi lại nghĩ rằng một sinh vật đã chết thì dù có làm gì cũng chẳng thấy đau, cũng không thấy khổ, sao cho hả tôi phải khổ vì mắt đau. Sự trả thù vừa qua là vô nghĩa. Tôi quyết định từ bỏ và ban lệnh ân xá cho tất cả các món tôm xào, hấp, chiên, nướng, tẩm bột rán… <br>
<br>
<span style="FONT-SIZE: x-small"><span><img alt="" src="http://img.photobucket.com/albums/v99/lily_bbe/shrimph.jpg"></span></span> <br>
<br>
……………………… <br>
<br>
<br>
Nhưng không có nghĩa là tôi tha cho một con tôm sống. <br>
<br>
<br>
Tôi phải lột vỏ, cắt đầu sống nó tẩm bột chiên giòn mới hả!! Thế nhưng… đừng nói tới việc giết nó chứ chạm vào nó đang ngọ ngoạy thôi tôi cũng thấy ớn. Mà không chỉ có tôm thôi đâu, con gì cũng vậy cả. Tôi đã từng háo hức và đã từng phát khiếp tiết học mổ giun. NÓ CHỈ LÀ MỘT CON GIUN ! <br>
<br>
<br>
<strong>Tôi không thể chịu đựng được sự yếu đuối đó của mình. Tôi phải giết một ai đó &gt;__&lt;*, hay bất cứ một cái gì đó sống thôi cũng được. <br>
<br>
Đó là một khát vọng, một khát vọng mãnh liệt mà tôi phải thực hiện. <br>
<br>
KHÔNG ĐÙA ĐÂU, NÓI THIỆT ĐÓ!!</strong> <br>
<br>
<br>
Ừm, nhưng dẫu sao nó cũng chỉ là khát vọng chứ tui chưa thực hiện được một vụ “lớn” nào cả T__T (bùn). Tôi cũng không nhớ rõ lần đầu tiên bàn tay mình nhuốm máu là từ bao giờ, có lẽ đã rất lâu về trước…Lần đó, tôi đã đang tâm sát hại con muỗi đang đốt mình ^ ^, máu dính bết vào tay trông ghê lắm, tôi đã tốn nửa bánh xà phòng rửa tay mới sạch, à, mà làm sao sạch được khi tay đã tanh mùi máu…Ôi, tội lỗi… <br>
<br>
<br>
Nói thì vậy nhưng tui đâu phải người biết xám hối hay hối cải mà quay về nẻo chính. Có điều không biết do cảm giác ghê ghê hay lo ngại tốn xà phòng mà từ đó tui thành khách quen của cửa hàng hương trừ muỗi ^ ^. Chuyện về loài muỗi cũng chấm dứt từ đó. <br>
<br>
<br>
Tôi đã xem rất nhiều phim và truyện rồi cũng mê viết tiểu thuyết lúc nào không hay. Có điều phim hay truyện tôi thường xem không hề giống với các bạn đồng lứa, tôi ghét những bộ phim tình củm sướt mướt dài lê thê, thay vào đó tôi xem phim hành động Mỹ và phim kinh dị. Có lẽ để thoả mãn khát vọng chết chóc trong tôi, tôi để cho các nhân vật của mình giết nhau hoặc chìm trong đau khổ T_T. <br>
<br>
Cho tới tận bây giờ, tôi vẫn mang trong mình khát vọng ấy, một khát vọng mãnh liệt mà vì nó tôi sẽ tiếp tục viết những câu truyện củ mì điên loạn ^ ^!</p>...<strong>Khát vọng trong tôi…</strong><em>Tự truyện của Sami</em><span><img alt="" src="http://img.photobucket.com/albums/v99/lily_bbe/classroom01.jpg"></span><img alt="" src="http://img.photobucket.com/albums/v99/lily_bbe/classroom01.jpg">.........<span><img alt="" src="http://img.photobucket.com/albums/v99/lily_bbe/tom6.jpg"></span><img alt="" src="http://img.photobucket.com/albums/v99/lily_bbe/tom6.jpg"><span><img alt="" src="http://img.photobucket.com/albums/v99/lily_bbe/shrimph.jpg"></span><img alt="" src="http://img.photobucket.com/albums/v99/lily_bbe/shrimph.jpg">