<div style="text-align: justify;">
<strong>Author</strong> Jewlitt<br>
<strong>Genres</strong> Angst/Romance<br>
<strong>Rating</strong> T<br>
<br>
<strong>Note</strong> Không rõ genres có đúng không. Đại loại là thế. Rating T cho một số từ ngữ, vậy thôi.<br>
<br>
<br>
<br>
<br>
Ngươi lúc nào cũng là một đứa trẻ bất hạnh. Khi buổi sáng bình minh ló dạng, ngươi không phải thức giấc với đôi vai mỏi nhừ, không phải thức giấc để làm việc. Ngươi thức dậy để đi học, việc đã kéo dài rất lâu rất lâu. Ngươi cảm thấy bất hạnh vì ngươi không biết đủ, không biết thế giới còn việc gì khác ngoài việc cắm đầu vào những con chữ khô khan.<br>
<br>
Ngươi muốn có một căn phòng trắng. Nơi ngươi đang ở là căn phòng màu xanh nhạt. Ngươi ghét căn phòng đó, chỉ đơn giản, ngươi muốn nó là căn phòng trắng trong tưởng tượng của ngươi.<br>
<br>
Cha mẹ ngươi nói, chưa bao giờ, chưa bao giờ họ mong muốn có đứa con đẹp như ngươi. Phải, vì thế nên, ngươi cảm thấy bất hạnh hơn , khi nước mắt của ngươi không đủ. Ngươi chán ghét bức tường xanh nhạt cùng khuôn mặt thẫn thờ của cha mẹ. Ngươi chán ghét vì ngươi không có đầy đủ mọi thứ. Ngươi chán ghét vì tất cả mọi người đều chỉ lo cho bản thân, vứt ngươi bên đường khổ sở với những ước mơ không thể nào thành hiện thực. Ngươi đau khổ vì ngươi không thể có được căn phòng màu trắng ngươi lúc nào cũng mong muốn.<br>
<br>
Ngươi từng có ước mơ, ước mơ từ ngày rất bé. Sau này, ngươi sẽ làm việc. Việc nào đó kiếm ra tiền, để nuôi cha mẹ. Sau này nghĩ lại, ngươi không muốn như thế. Ngươi từ khi tỉnh giấc, đã không muốn làm bất cứ gì cả.<br>
<br>
Ngươi thường dùng thời gian của mình, nhìn ngắm bầu trời. Ngươi nhìn ngắm từ cửa sổ căn phòng bé tẹo mà ngươi ghê tởm. Những lúc như vậy, ngươi lại mong có căn phòng màu trắng hơn bao giờ hết.<br>
<br>
Một căn phòng màu trắng của ngươi. Sẽ nằm ở nơi cao. Cửa sổ không có song sắt mở ra đại lộ lớn. Chỉ nghe tiếng huyên náo của nhựa sống tràn trề. Căn phòng đó có chiếc giường màu trắng nằm bên cạnh cửa sổ để ngươi có thể nhắm mắt vẫn cảm nhận hạnh phúc mỗi đêm. Ngươi còn muốn kê bàn ghế bên cạnh cửa sổ. Thậm chí, ngươi còn muốn để cơ thể trắng muốt của ngươi ngồi lên cửa sổ. Đưa chân ra ngoài mỉm cười.<br>
<br>
Bạn bè của ngươi luôn cười khúc khích khi ngươi nói rằng ngươi chỉ mong ước làm con sứa khi chết đi. Chỉ có cậu ấy nói, cậu nghĩ ngươi cũng giống con sứa, trắng và mềm, đẹp nữa, có điều rất độc. Ngươi nói đúng rồi. Tiếc là những người hiểu ngươi nhiều như vậy, không có nhiều trên đời. Mà cũng có thể chẳng có ai ngoài cậu ấy nữa. Cho nên, sau khi cậu ấy mất đi, không còn ai có thể hiểu ngươi được. Con sứa như ngươi cứ trôi trôi trôi, không ai muốn nắm lấy nó.<br>
<br>
Hắn không phải là một người tốt. Hắn có những vết sẹo, những hình xăm ở cổ và bả vai. Hắn lúc nào cũng thuốc lá và rượu. Hắn thích cười vào giễu cợt người khác, tuy nhiên cũng là người bình tĩnh đến sợ hãi. Không cần bàn cãi khi nói hắn thừa mọi thứ để làm mọi người sợ hãi. Ngươi rất sợ hắn, nhất là mỗi khi hắn cười gằn và tiến đến gần ngươi.<br>
<br>
Thật ra thì, ngươi chỉ sợ chứ không ghét hắn. Ngươi vốn là sợi chỉ mỏng manh, hắn lại là vòng tròn mà sợi chỉ có thể cuộn vào. Mặc dù khá khó khăn, ngươi vẫn chấp nhận được.<br>
<br>
Buổi tối, ngươi lại nhớ đến ngày ngươi bước trên con đường đó. Chẳng có ai ngoài ngươi cả. Lúc đó ngươi chỉ nghe một tiếng động nhỏ cất lên, và ngươi thấy người đàn ông mỉm cười trên tòa nhà cao đó. Nụ cười rất ngạo nghễ. Kể từ lúc đó ngươi không thể nào quên được hắn.<br>
<br>
Hắn đã nhìn thấy. Vào một ngày trời trắng xóa. Kẻ bạc nhược đó nói rằng hắn có một con búp bê rất đẹp. Hắn mỉm cười hỏi, đẹp tới mức nào. Kẻ đó. Sợ hãi và run rẩy. Chưa bao giờ hắn cảm thấy chán nản đến thế. và kẻ đó chết khi hắn quay đi. Hắn vẫn còn nghĩ mình nên cười vì cảm giác sảng khoái khi một thằng hèn ngã xuống mang lại.<br>
<br>
Vậy đấy, kẻ đó giao ngươi cho hắn. Ngươi nói, tốt lắm, đưa ngươi ra khỏi đây. Ngươi nói, mau mau mang đến cho ngươi căn phòng trắng. Ngươi nói, muốn ngươi làm gì cũng được, hãy cho ngươi một căn phòng trắng. Người mẹ trợn mắt, đưa tay với lấy khuôn mặt ngươi. Ngươi bình tĩnh hất ra, bà ấy đã quá khổ sở vì ở bên cạnh một tạo vật đẹp đẽ như ngươi. Ngươi mỉm cười cho người đàn bà lần cuối cùng được thấy rồi bước đi. Sau này, ngươi không còn quan tâm gì đến bà ta nữa.<br>
<br>
Và hắn, người nuôi dưỡng tâm hồn ngươi với sự độc ác bị vắt kiệt. Hắn khen ngươi rất đẹp. Hắn khen ngươi rất đẹp. Hắn làm tình một cách mạnh bạo. Hắn không bao giờ thôi làm ngươi đau đớn. Người bên cạnh lúc nào cũng có những con điếm, những thằng nghiện và những đứa trẻ bị mù chìa tay xin tiền. Phải đấy, hắn của ngươi có quyền lực, hắn của ngươi luôn luôn sẵn sàng bị cướp khỏi tay ngươi. Ngươi sợ điều đó.<br>
<br>
Sáng sớm, khi hắn còn đang ngủ. Mái tóc đen xòa xuống che mất một phần khuôn mặt. Nhưng ngươi thích thế. Ngươi vuốt tóc hắn. Ngươi cúi xuống ngửi mùi thân thể hắn. Ngươi yêu cảm giác đó. Cũng như hắn yêu việc hành hạ ngươi vậy.<br>
<br>
Cũng vẫn mỗi buổi sáng, từ căn phòng trắng của ngươi và hắn. Ngươi có thể nhìn ra cửa sổ, thấy đại lộ trải dài trước mắt. À phải, ngươi mặc áo sơ mi trắng của hắn, vai áo trễ xuống. Tóc ngươi dài quá lưng rồi, ngươi không để ý nữa. Ngươi đưa ngón tay gầy mảnh của mình chạn vào tấm kính. Đây là niềm mong ước của ngươi mà, đây là tất cả những gì ngươi từng mong muốn. Ngươi quay lại giường, hôn lên môi hắn. Ngươi nghĩ, ngươi thật sự đã yêu hắn rồi.<br>
<br>
Hắn thường lờ mờ có cảm giác về những nụ hôn của ngươi. Đôi khi hắn mở mắt và thấy ngươi đang đứng trước cửa sổ. Bản tính hung hãn cùng niềm kiêu hãnh của hắn cản hắn lại. Và mặc dù rất muốn đến gần, siết chặt ngươi, cắn lên bờ vai mảnh khảnh của ngươi. Hắn không làm vậy. Hắn chỉ đưa hình ảnh của ngươi vào tâm trí lờ mờ. Đồng thời với nụ cười của ngươi khi hôn hắn.<br>
<br>
Ngươi thường ở trên cao, ngươi thường ở trong căn phòng màu trắng rất cao, ngươi lựa chọn sự sợ hãi cô đơn còn hơn bước ra ngoài. Dưới đất là những loài hạ đẳng thấp kém. Những con điếm với khuôn mặt lè loẹt, những phần cơ thể đã xào đi xào lại bẩn thỉu. Những thằng nghiện, thở hồng hộc trong ánh đèn mờ, quỳ lạy van xin thuốc. Những đứa trẻ, mù, dị tật, mỉm cười man rợ đưa tiền xin được cho chủ. Và hắn. Ngươi sợ khi xuống dưới, ngươi sẽ thấy sự xấu xa gấp ngàn lần của hắn. Đến nỗi ngươi sẽ ộc máu ra mà chết vì đã ngủ với hắn. Ngươi sợ khi xuống ngươi sẽ nhìn thấy hắn vuốt ve một con điếm nào đó và ngươi sẽ tức giận. Ngươi sợ tất cả. Chỉ có ngươi, chỉ có ngươi, con sứa màu trắng, mới có thể trốn tránh bằng cách khiêu vũ một mình trong căn phòng này.<br>
<br>
Lâu thật lâu, ngươi nói với hắn. Ngươi đã nhớ lại rất nhiều, nhớ lại khuôn mặt cha mẹ, cậu bé ngày xưa tin ngươi có thể làm con sứa. Ngươi nằm bên cạnh hắn, ngươi nói hết. Không biết hắn có nghe không, hắn đã nhắm mắt lại rất lâu rồi. Ngươi nghĩ là ngươi nói với hắn, nhưng có thể hắn không nghe. Ngươi nói ngươi đã sợ hãi, đã cô đơn, đã không hề thanh thản. Ngươi nói bây giờ vẫn vậy, nhưng ít hơn một chút. Đến gần sáng, ngươi hỏi hắn, hắn có nghe không? Hắn không trả lời. Im lặng. Chỉ có vậy thôi. Ngươi quấn chăn, rúc vào cơ thể hắn, ngủ.<br>
<br>
Một đêm nọ, ngươi nằm mơ thấy ngươi trở thành một con sứa. Thời gian không là vấn đề nữa, đã qua rất lâu. Ngươi tỉnh dậy và nhận ra mình lạc lõng. Ngươi ngước mắt lên, đêm nay thật là ồn ào.<br>
<br>
Chiếc gương đó đang đợi ngươi. Ngươi nhận ra, quá lâu rồi mình không hề soi gương nữa, và ngươi đi lại gần nó.<br>
<br>
Ngươi nấc lên một tiếng. Tuổi già thật sự đã đến trong những năm tháng huy hoàng nhất của ngươi. Quầng thâm mắt sâu hoắm và một bộ mặt hốc hác. Ngươi chỉ vừa nhận ra mình đã kết thúc với vẻ đẹp tại đây, tại lúc này. Ngươi nhận thấy mọi thứ đã méo mó, đôi mắt nâu của ngươi không còn mơ màng như xưa. Môi ngươi khô quắt lại và xỉn màu. Thời gian nằm giữa lưng chừng sự thật, ngươi nhận ra ngươi vẫn còn đi học vào mùa xuân trước đó. Ngày ngày ngươi nhìn ngắm con đường vẫn chưa bao giờ già đi, vậy mà ngươi lại trở nên già cỗi trước cả nó. Ngươi đã gào lên. Gào rất to.<br>
<br>
Hắn mở cửa bước vào, nhìn thấy bờ vai mảnh khảnh của ngươi đang run lên. Thấy ngươi quay lại với khuôn mặt đẫm nước mắt. Môi ngươi máu bê bết, đỏ thẫm, đặc lại. Ngươi nhìn thấy hắn, cả người ngươi run lên. Ngươi bị kích động thật sự. Ngươi hỏi hắn, môi ngươi có đỏ không? Ngươi đã trở lại bình thường chưa? Ngươi xấu xí quá, ngươi xấu xí quá. Rồi sẽ có một ngày ngươi xấu xí đến mức hắn sẽ không muốn ở bên cạnh ngươi nữa.<br>
<br>
Ngươi chỉ nghe tiếng hắn cười. Với đôi mắt ngươi đang mở to đau khổ tột độ. Hắn mỉm cười. Hắn nói, một con sứa đến ngay cả lúc chết cũng đẹp. Rồi tiếp lời, vậy nên dù ngươi có như thế nào, hắn chưa bao giờ và sẽ không bao giờ rời bỏ ngươi.<br>
<br>
Vì ngươi là một con sứa rất đẹp.
</div>