<p><strong>Disclaimer:</strong> Rai chan không thuộc về tôi, cả Shizen (Sishin) cũng không thuộc về tôi nốt. Joji Manabi, nhường một tên cho tui cũng được, và chúng ta có thể chung sống hòa bình &gt;*&lt; </p>
<p><strong>Fandom:</strong> Ginga Sengoku Gun Yuuden Rai (aka Thunder Jet) Ginga Sengoku Gun Yuuden Rai <em>Galaxy Warring State Chronicle Rai, aka Thunder Jet) xuất bản đầu tiên năm 1991, là một manga xen lẫn viễn tưởng và cổ trang về thời chiến loạn, xuất hiện ở VN với tên ngắn gọn là Rai. Rai (Rai Ryuga, xuất hiện ở VN với tên Tatsuya Rai) trong vai anh hùng với những tính cách rất dễ thương như nóng nảy, bộp chộp và giết người như ngóe (heeheh, mình đang nói về ai thế này ^^) và quân sư cũng là người bạn thân thiết của mình, Sishin (với tên Việt cũng rất dễ xương- Shizen) cùng nhau lập nên bá nghiệp, xây dựng một thời đại mới. Ừm, trong fic này tôi sử dụng các danh xưng trong truyện xuất bản ở VN bởi tôi thấy chúng hay và dễ nhớ hơn nhìu ^__^ </em></p>
<p><strong>Pairings:</strong> Rai/Shizen </p>
<p><strong>Author:</strong> sami </p>
<p><strong>Rating:</strong> M </p>
<p><strong>Category:</strong> Humor, yaoi </p>
<p><strong>Warning:</strong> S&amp;M</p>
<p><strong>Summary:</strong> cuộc tra khảo trên chiến hạm kim cương, không khí ngột ngạt đến nghẹt thở. Shizen - một quân sư thận trọng, tể tướng của Gomasu, cái đầu thông minh số một ngân hà - bị ép cung bởi Rai - bậc đế vương kiêu hùng chưa từng có trong lịch sử. 'Mở miệng ra, Shizen!' Cậu phải khai khi mà vua của cậu đã ra lệnh như thế. </p>
<p>--------------- </p>
<p></p>
<p></p>
<div style="TEXT-ALIGN: center"><strong></strong></div> <div style="TEXT-ALIGN: center">
<strong>Hỏi cung</strong> </div> <div style="TEXT-ALIGN: center">
<em>by Sami</em> </div> <div style="TEXT-ALIGN: center"></div> <p>-- </p>
<p><br>
Trời không trăng không sao. Không có tiếng gió. Không có tiếng người. Tề Vương Đô như một quả cầu đen đặc quánh mà bất cứ âm thanh nào phát ra cũng có thể bị nuốt lấy trong vô hình. Chiến hạm Kim cương lững lờ ẩn hiện giữa các đám mây, chiến hạm mà người dân Gomasu thường tưởng lẫn với một vì tinh tú đang âm thầm bay lên vũ trụ, lén lút như một con quạ trong đêm tối. Chậm chạp. Nặng nề. Núi nhỏ như một hạt bụi, cái gì có thể đè nặng lên ngươi đến vậy ? <br>
<br>
Có. Có gương mặt Rai lạnh tanh. Có thanh gươm trên tay Rai còn lạnh hơn cả gương mặt. Có Shizen nằm đó chân tay bị xích vào bốn góc, toàn thân buốt giá. Có hai đôi mắt nhìn nhau sắc nhọn như những mũi băng. <br>
<br>
Rai từ từ nâng thanh kiếm lên. Thanh kiếm chậm rãi đưa trong không khí. Từng tảng băng vô hình rào rạo vỡ. Nhói buốt. <br>
<br>
"Shizen, từ nãy đến giờ tôi đã cho anh quá nhiều tiện nghi rồi". Tiếng Rai lành lạnh như gió bấc. "Giờ anh còn cứng cổ nữa, không chừng tôi cũng không thể kiểm soát nổi bản thân mình" <br>
<br>
"Thế à ?" Giọng Shizen vẫn lững lờ như hồi nào. Cái giọng điệu không tình cảm khiến Rai muốn phát điên lên. "Kiểm soát không nổi thì cứ tự nhiên. Kiếm còn trong tay anh đấy". <br>
<br>
Kiếm. Rai lật lật tay. Thanh kiếm này đã giết bao nhiêu người rồi ? Giết người để khỏi bị giết. Giết người để bước qua tiến lên tầm cao tham vọng. Nhưng hôm nay, hôm nay Rai dự định dùng nó để làm một chuyện mà chính Rai cũng chưa từng nghĩ tới. Bàn tay cầm kiếm run run, hơi thở cũng theo đó mà run lên. Đôi mắt Rai lấp loáng giữa muôn vàn hình ảnh. Tươi đẹp có. Bi hùng có. Đẫm lệ có. Và trong những hình ảnh ấy, luôn luôn xuất hiện hắn, Shizen. <br>
<br>
Một nhát kiếm vung ra. Xé toạc. Xé tan nát chúng cho ta. Toàn thân Rai giần giật vì kích động "Ngươi nhất quyết không nói sao ?" Ánh mắt Shizen nhìn Rai trân trối. "Mỗi lần ta hỏi lại, ta sẽ cắt đứt một mảnh trên thân thể ngươi". <br>
<br>
"Biết chứ, Shizen. Ta có thể đọc được sự hoảng hốt trong đáy mắt ngươi. Ta có thể đọc được nhiều hơn thế. Sao ngươi bướng vậy ? Ta đã hy vọng ở ngươi biết bao..." <br>
<br>
Một nhát kiếm nữa lại vung ra. "Sao rồi Shizen ? Với đôi mắt thịt của ta, ta vẫn thấy được mỗi tế bào ngươi đang run lên bần bật. Ngươi vẫn còn ngoan cố nữa sao ? Hãy thú nhận đi. Hãy thú nhận đi bởi vì dẫu sao ta cũng đã biết rồi. Cho dù ngươi có là một đại trí đứng đầu ngân hà, cho dù người đã khéo léo che dấu đến đâu, nhưng sự thật cũng không sao che dấu mãi được." <br>
<br>
"Ngươi vẫn không nói ư ?". Bóng kiếm loang loáng. Tơi tả. "Sao ? Cắn chặt răng cũng không ích gì đâu. Dầu sao ta cũng biết ngươi đang rên rỉ. Lý trí của ngươi mạnh lắm. Nhưng ta không tin lý trí ấy có thể thắng được ta. Nói đi. Nói đi. Nếu không... nếu không đây sẽ là nhát kiếm cuối cùng...." <br>
</p>
<p><br>
Nhát kiếm cuối cùng... </p>
<p><br>
<br>
"Mà... mà sao ngươi vẫn không chịu nói ?" Rai đổ người ngã xuống bên Shizen. "Mái tóc ngươi dài ghê, dài và đẹp như tơ. Làn da của ngươi cũng mịn nữa, người ta thường nói ấy là loại da công tử bột, nhưng có hề gì, ta thích những công tử bột. Ta còn thích cả ánh mắt của ngươi, ánh mắt luôn bừng lên ánh sáng trí tuệ, và nóng nảy chỉ với ta..." <br>
<br>
"Đừng nằm im lìm như thế. Hãy mở miệng ra. Thôi, nhìn ta cũng được. Mở mắt ra và nhìn ta đi. Mở mắt ra trẫm ra lệnh cho ngươi đấy !" <br>
<br>
"Bướng quá. Đến lúc này rồi mà ngươi vẫn còn muốn phản kháng ta ư ? Chẳng lẽ ngươi không biết ta ghét nhất là điều gì sao ? Chẳng lẽ ngươi cũng muốn như Kinado, phụ niềm tin của ta sao ? Nhưng ngươi khác Kinado. Kinado không làm ta đau..." <br>
<br>
"Mở mắt ra Shizen... Với Kinado ta chỉ cần lấy tính mạng hắn. Nhưng ngươi, ngươi có biết ta sẽ trừng phạt ngươi như thế nào không ? Ta sẽ khiến ngươi sống không bằng chết. Ta sẽ lấy đi của ngươi người mà ngươi thương yêu nhất. Mở mắt ra... sao ngươi không mở mắt ? Ngươi tưởng ngươi cứ giả chết thế thì ta sẽ tha cho kẻ đó hay sao ? Coi đây, Shizen..." <br>
<br>
"Dừng... dừng lại !" Tiếng Shizen nhỏ như tiếng muỗi. Rai ngừng tay nhìn xuống, ánh mắt ngập đầy lửa thích thú "Sao ? Chịu lên tiếng rồi đó hả ?" <br>
<br>
"Bỏ.. bỏ kiếm đi...". "Vậy nói cho ta hay, Shizen. Nói ngay trước khi ta cứa cổ hắn". <br>
<br>
Shizen gắng gượng mở mắt, lấy hết hơi sức đáp "Thôi... thôi được rồi. Ta... TA YÊU NGƯƠI HƠN HANAYU !!" @//////@</p>...... <br>
<strong>The end ^__^</strong>