<p>Hoàn toàn riêng tư</p>
<span style="COLOR: beige">
<p><strong>Author: </strong>sami</p>
<p><strong>Rating:</strong> T</p>
<p><strong>Category</strong>: Angst</p>
<p><strong>Summary:</strong> Nó ghét trường học. Nó sợ cô đơn. Nó mải miết đi tìm định nghĩa cho từ "tình bạn". Ai cần đến nó? Nơi nào dành cho nó?</p></span>
<p>----------  </p>
<p><br>
<br>
</p>
<p> </p>
<p> </p>
<div style="TEXT-ALIGN: center"><strong></strong></div> <div style="TEXT-ALIGN: center"><strong>Người để nhớ </strong></div> <div style="TEXT-ALIGN: center">
<em>by Sami</em> </div> <div style="TEXT-ALIGN: center"></div> <div style="TEXT-ALIGN: center"></div> <div style="TEXT-ALIGN: center"></div> <p><span style="COLOR: gray"><strong></strong></span></p>
<p><span style="COLOR: gray"><strong></strong></span></p>
<p><span style="COLOR: gray"><strong></strong></span></p>
<p><span style="COLOR: gray"><strong>9.11.2003</strong></span> </p>
<p><span style="COLOR: purple"><em>Tặng người đã xa, tặng thời đã qua…</em></span> <br>
<br>
<span style="FONT-SIZE: x-small"><span><img alt="" src="http://img.photobucket.com/albums/v99/lily_bbe/dreamland.jpg"></span></span> <br>
<br>
<span style="COLOR: beige">
<br>
Một cơn gió nhẹ mơn man trên gò má. Những giọt nước mắt đã khô nhưng đâu đó thi thoảng còn một vài tiếng nấc nghẹn. Nó ngồi bên cửa sổ, lặng lẽ viết những dòng nhật kí. Có phải nhật kí không nhỉ? Từ bé tới giờ nó chưa bao giờ viết nhật kí cả, bởi vì, theo nó cứ để thời gian xoá đi những kỉ niệm buồn mà nó không bao giờ muốn nhớ. Mắt nó nhoà đi. Một giọt nước mắt rơi trên trang giấy. Nó chẳng muốn lau. Rồi theo thời gian giọt nước ấy sẽ khô. <br>
<br>
<em>Nhưng, nó không hiểu hết, nó chỉ biết nước sẽ khô mà không biết rằng mực ghi đã nhoè thì chẳng bao giờ còn rõ nữa.</em> <br>
<br>
Nó đặt bút xuống, trầm tư nhìn ra ngoài. Ánh nắng ngoài cửa sổ thật ấm áp, không, không phải ấm áp mà là rực rỡ. Một vài chiếc lá bay qua, những chiếc lá không chịu nổi trận mưa đêm qua. Trận mưa to và dữ dội biến thành một trận bão lớn cuốn đi hết thảy những sinh vật nhỏ bé. Cây cổ thụ trước nhà nó đã gãy một cành lớn nhưng những bông hoa hôm qua còn bị quật bầm dập nay đã tươi tỉnh trở lại. Hoặc là… chúng đã chết và lớp hoa mới lại mọc lên. Có gì khác đâu…hoa nào mà chẳng là hoa. <br>
<br>
<em>Người ta vẫn bảo sau cơn mưa trời lại sáng nhưng những chiếc lá đã rơi trong đêm mưa có thể lại liền cành? </em><br>
<br>
<br>
Giống như những gì khắc sâu trong tim nó, những vết thương liệu có thể liền? Nó đưa tay bóp nghẹn trái tim mình. Đau lắm… Nhưng không thể đau như những gì nó cảm nhận. Những cánh tay vô hình làm cho nó nghẹt thở. Nó yếu đuối và nhu nhược. Nó đã phải phẫu thuật suy tim khi nó lên ba, đó là di chứng của bệnh hen bẩm sinh. Nó không yêu cầu sự thương hại, thậm trí nó ghét ai nhìn nó như thế. Nó cố thoát khỏi sự quan tâm của người khác nhưng mà lúc này, khi nó đã hoàn toàn như ý, không ai để ý đến nó cả, nó lại muốn người ta quan tâm. <br>
<br>
<em>Hơ, buồn cười quá nhỉ?</em> <br>
<br>
Nó đang cười mình hay nó nghĩ là như thế. Có lẽ bởi vì không có một cái gương nào ở đó nên nó cũng chẳng nhận ra mặt mình y như một khúc gỗ nhăn nhúm. Rồi tự khoác cho mình cái mặt nạ bình thản, nó đứng dậy, cố gắng bứt ra khỏi dòng suy nghĩ miên man. Nếu không làm vậy chắc nó đã đổ gục lâu rồi. <br>
<br>
Người khác có thể cho nó vô tâm, có thể bảo nó lạnh lùng thậm chí kì quái và lập dị, nhưng có sao, nó vẫn kiên nhẫn để nói rằng nó chỉ là nó thôi. Nó cố gắng vượt qua bao lời xì xầm, bỏ ngoài tai bao lời nói xấu nhưng dù cố gắng mấy cuối cùng nó vẫn là người thua cuộc, như trước giờ vẫn vậy. Bỏ cuộc và rơi xuống vực sâu tuyệt vọng. Xung quanh nó bóng tối và lạnh lẽo bao trùm… <br>
<br>
<em>Nó bỗng ước có được mấy que diêm như cô bé bán diêm.</em> <br>
<br>
Nó với tay lấy một cái bật lửa và bật lên. Ngọn lửa sáng và kéo dài hơn những que diêm rất nhiều nhưng sao nó không thấy ấm. Nó không phải là cô bé bán diêm, nó biết, nhưng nó ước gì mình là cô bé ấy…Tuy nhiên, thành thực mà nói nó và cô bé bán diêm chẳng có gì giống nhau ngoài nỗi buồn và cô đơn cả. Cô bé bán diêm thì cầu xin tình yêu thương, còn nó, chính nó đã đẩy người khác ra xa mình, bây giờ, dù cho nó có hối hận bao nhiêu đi chăng nữa cũng không thể kéo lại ai. Tại nó mà. Trách ai được đây? Nó bao giờ cũng sai, làm cái gì cũng hỏng. Phải thế không? <br>
<br>
<em>Nó cầm trang giấy mới viết và đốt đi. Ánh lửa loé lên trong mắt nó. Cách tốt nhất để không làm sai gì là không làm gì cả.</em> <br>
<br>
Cơn gió hạ thổi khô rát càng làm cho lửa cháy nhanh và tro giấy bay tứ tung cuốn phăng đi kí ức về một ngày qua. Quên hết tất cả đi, nó trở vào phòng và chìm vào giấc ngủ trưa hè. <br>
<br>
------------------------ <br>
<br>
<br>
<br>
Nó đang bay, bay trong niềm hạnh phúc ở thế giới thuộc về riêng nó với những người bạn thật sự. Nó kể cho họ nghe những điều mà nó đã không bao giờ nói. Nó kể và họ nghe, nghe và không bao giờ phán xét. Ở đây, nó có thể làm những gì mình thích, nói những điều mình nghĩ và không phải làm gì mình không muốn. <br>
<br>
Nó ở trong một ngôi nhà nhỏ giữa rừng bên cạnh một dòng suối trong vắt. Nó thường chơi trên cánh đồng hoa cỏ thơm với Sam - một người bạn của nó. Cậu bé ít hơn nó một tuổi, có mái tóc màu nâu nhạt và đôi mắt trong màu xanh lơ. Sam kể cho nó nghe những câu chuyện về cây cỏ và chim muông, những câu chuyện đó nó đã đọc trong sách rồi tuy nhiên nó vẫn thích nghe. Buổi chiều, nó và Sam trở về nhà, nó hay ngồi ở bậu cửa ngắm hoàng hôn và tưởng tượng ra một chàng hoàng tử của riêng mình. Tối đến, nó cùng tất cả các bạn ngồi quanh bàn và ăn những món ăn tuyệt vời mà nó đánh giá là phải ngon nhất thế giới. Samuko nấu ăn rất giỏi, chị rất dịu dàng, đảm đang và ra dáng chị cả. Nó thích nhất món bánh kem dâu tây chị hay làm và chị giống như là thần tượng của nó. <br>
<br>
Ngoài ra, nó còn có một người bạn nữa tên là Sami, Sami là em gái Samuko bằng tuổi nó, một cô bé rất dễ thương, hoạt bát. Có lẽ Sami là người bạn mà nó yêu quí nhất. Sami hay kể cho nó nghe những câu chuyện giả tưởng về tình bạn, tình yêu, cuộc sống… những câu chuyện mà cô bé đã viết - những câu chuyện có phần giống những quyển truyện tranh mà nó đọc nhưng tuyệt vời hơn là dường như nó biết trước được kết thúc và nó yêu cái kết ấy. Nó cũng kể cho Sami những câu chuyện của nó và hỏi xem cô bé nghĩ gì. Sami hay cười và khen hay, điều đó là một lời động viên tuyệt diệu đối với nó. Rồi cô bé và nó cùng đi hái nấm trong rừng. Sami thích những cây nấm nhỏ xinh vì chúng dể thương quá. Đối với cô bé, vạn vật đều dễ thương, nhất là bản thân Sami ^ ^, tất nhiên là nó cũng được xếp vào vị trí dễ thương “nhì”. <em>Nó cười, thế là đủ, phải không?</em> <br>
<br>
------------------ <br>
<br>
<br>
<br>
“Dậy rồi thì đi quét nhà còn học bài đi con, tro ở đâu bay vào không biết!” - mẹ nó càu nhàu bỏ đi. <br>
<br>
Nó ngồi dậy rồi lười biếng đi tới cầm lấy cái chổi đều đều quét đi những kí ức của nó, gom lại để cho vào sọt rác. Xong, nó ngồi vào bàn để làm bài tập về nhà. Nó cố lấp đầy khoảng không trống trải bằng những con số và chữ chằng chịt. Cuộc sống cứ đều đều diễn ra như thế. <br>
<br>
Sáu giờ sáng, nó bị gọi dậy quờ quạng trong bóng tối để tìm cái kính cận. Xách cặp và ăn vội một lát bánh mì rồi đạp xe đi học. Trường nó rất tệ, cổng trường chật hẹp lại không có lối dắt lên, bình thường học sinh thì chen lấn xô đẩy, những khi trời mưa khổ sao cho hết. Nó dựng xe ở một góc khuất dễ lấy, khoá lại rồi đi ra sân xếp hàng. Nó rất ghét xếp hàng, cứ như là một lũ học sinh mẫu giáo vậy, mà trường nó lại cấm không cho vào lớp trước giờ học - một quy định ngớ ngẩn. Cái cặp của nó nặng trịch, vai nó chai cứng. Nó ngồi bịch xuống một gốc cây gần đó. Nó ngước nhìn ra xa bắt gặp đúng nơi đám con gái lớp nó hay tụ tập. Nó không thích ở gần đó mà cũng chẳng ai thích thế cả nên hiển nhiên là nó không đứng. Bọn con gái tụ tập chỉ nói những chuyện luyên thuyên và hay nói xấu người khác. Nó chán ngấy. <br>
<br>
Giờ học diễn ra ảm đạm, những lời xì xào to nhỏ thoảng qua tai nó trôi đi đâu mất chẳng để lại dấu vết nào. Nó nhìn lơ đãng ra cửa sổ, nhìn lơ đãng lên bục giảng, hí hoáy viết trong vô thức. Thật buồn chán. Có lẽ chỉ đến khi tiếng trống vang lên mới kéo luôn nó về thực tại. Một sự giải thoát khỏi khối vô vị này để đến một nơi khác cũng vô vị chẳng kém: Giờ ra chơi. <br>
<br>
Nó đi một mình trong sân trường đông nghẹt, gió thổi cát bụi mù lên. Nếu trong đầu mấy ông giám hiệu không có một con sâu đề ra cái quy định chết tiệt cấm học sinh ở trong lớp vào giờ ra chơi, triệt để tiết kiệm điện, đèn và quạt thì nó đã không phải chịu hứng gió cát bỏng rát nhường này. Nó thà ngồi trong lớp làm lao công trực nhật cho rồi. <br>
<br>
Nó đành đi lánh nạn ở một nơi mà nếu không cần thiết nó chẳng tới bao giờ - khu tụ tập của bọn con gái. Nó đi tới, bọn nó xì xào, nó tới nơi, bọn nó im bớt, nó đi qua, bọn nó nói to như cố ý cho nó nghe. Nó bị tẩy chay bởi cái gì nhỉ? Hay do nó quá khác mọi người? Nó có những nguyên tắc của riêng nó và chẳng hại gì đến ai cả. Vậy thì tại sao? Bọn họ bảo nó kênh kiệu không thèm nói chuyện với ai. Đâu phải, có ai chịu nói chuyện với nó đâu? Bọn họ bảo nó giả bộ ngoan ngoãn cho giáo viên cưng. Thật bực mình, ai bảo họ không chịu học bài nên nó ắt cao điểm hơn thôi. Nó tức giận ngoặt vào hành lang dài tránh xa cái hang quỉ quái kia. <br>
<br>
Tan học nó về thẳng nhà đeo theo một cục tức nặng trĩu. Lướt qua đám học sinh la cà, dắt díu nhau hàng ngang cười khì khì, “Nếu làm học trò vô vị thế nó chẳng muốn làm”. <br>
<br>
Về nhà, nó thả mình rớt xuống giường cái bịch. Mệt mỏi, nó thiếp đi lúc nào không hay. <br>
<br>
------------------ <br>
<br>
<br>
<br>
Nó lại trở về ngôi nhà xinh xắn giữa rừng của mình. Samuko đang ở ngoài sân tưới hoa còn Sam lon ton theo sau. <br>
<br>
“Sao ngồi thừ ra thế?” - tiếng nói cùng với tiếng mở cửa, Sami từ trong phòng đi ra. <br>
“Đi, đi với tớ ra suối, ra chỗ thác, nhiều cá lắm, đi, đi nào!” – Cô bé kéo nó đi, lôi xềnh xệch như kéo lê một con búp bê. <br>
<br>
Thác nước tung bọt trắng mịn, cá nhảy lên tới tấp, bãi cỏ xanh mướt và những bông hoa dại đan xen, tất cả hiện lên trong mắt nó như cả thiên đường. Gió thổi mát rượi cuốn hết bao sầu tư trong nó. Nó với tay định bắt một con cá nhưng Sami ngăn lại. <br>
<br>
“Sao thế?” – Nó hỏi <br>
“Lũ cá này là một bầy đấy!” – Nói rồi cô bé kéo nó đi. “Bầy cá này là bạn của nhau, bắt một con thì con cá đó và bạn của nó sẽ buồn lắm! Hái mấy quả dại nhé!” <br>
<br>
Thế là nó và Sami hái những quả táo căng tròn, những quả nho xanh mọng chua chua. Nắng mai luồn qua các tán lá rừng như những dây leo nối thòng xuống từ vườn địa đàng soi sáng cho hai đứa bé dạo chơi trong rừng. Vị thần Apolo kéo cỗ xe mặt trời xế bóng, những đứa trẻ nằm dài trên bãi cỏ lặng ngắm hoàng hôn. Một tiếng nói nhỏ phá vỡ sự yên tĩnh ấy. <br>
<br>
“Sami, bạn là gì?” – nó hỏi <br>
<br>
“Bạn à, ừm…bạn là người để nhớ đến mỗi khi vui buồn, mỗi khi nghĩ ra một câu chuyện nào đó sẽ là người để ta nhớ kể cho nghe, và bạn cũng là người để nhớ đến mỗi khi ta không gặp,… ờ, nhiều lắm, nói chung chỉ là bạn thôi!” - Sami cười - “Giống như tớ với cậu đó!”. Cô bé quay đi, đôi mắt tím biêng biếc nhìn xa xăm ánh lên những tia hi vọng tươi tắn. <br>
<br>
“Người để nhớ…” – nó nghĩ – “Chắc chắn tớ sẽ nhớ tới cậu, cậu sẽ nhớ tớ chứ, Sami?” Nó cũng nhìn đi xa xăm, cảm thấy tự nhiên nhẹ nhõm và, nó nghe loáng thoáng lời thì thầm “Chắc chắn rồi.” <br>
<br>
Một khoảng lặng dài sau đó, cơn gió nhẹ hiu hiu làm cho nó cảm thấy thật dễ chịu. Nó nhắm mắt lại và khi mở mắt ra nó lại thấy mình ở trong phòng. <br>
<br>
--------------------- <br>
<br>
<br>
<br>
Nó lại thấy mình ở trong phòng nhưng với một tâm trạng khá hơn. Nó bắt đầu buổi chiều của mình theo cách của riêng nó. <br>
<br>
Những ngày tiếp theo đối với nó vẫn vô vị như thế nhưng nó cứ như nhẹ bâng cả người, tự hài lòng với cuộc sống vốn có, nó thả mình trôi, trôi mãi… <br>
<br>
…………………… <br>
<br>
Nó lại nằm trên bãi cỏ cạnh bạn nó, Sami. Mặt trời xế bóng, bỗng Sami ngồi bật dậy: <br>
<br>
- Chít rùi, hôm nay Samuko nấu canh cá cho bữa tôi! Tớ sẽ bị kill mất! <br>
<br>
Nói rồi, Sami kéo nó dậy ra suối. <br>
<br>
- Sami, cậu định bắt cá à? – nó bối rối hỏi <br>
<br>
- Chứ sao. <br>
<br>
- Cậu nói không nên mà? <br>
<br>
- Tại sao? Tớ đã nói thế à? – Sami ngạc nhiên nhìn nó <br>
<br>
- ……Cậu… cậu nói lũ cá này là bạn của nhau, bắt một con thì nó và bạn nó sẽ rất buồn mà? Cậu… - Nó ấm ức, thế mà nó cứ nghĩ Sami của nó…hừm…tình bạn của cá – nghe thật cao cả!! <br>
<br>
<br>
- Đúng, đúng là tớ có nói thế nhưng tớ có bảo là không nên bắt cá đâu! – Cô bé lại bình thản tiếp tục công việc, cái cần câu lại rung lên và cô nhót con cá bỏ tọt vào rỏ. <br>
<br>
Nó vẫn còn tức lắm, quay ngoắt ra sau lầm bầm “Cái quái gì không biết!” <br>
Sami lại tiếp: <br>
<br>
- Sao thế? Cậu không thích ăn cá à? <br>
<br>
- <strong>Không phải vậy.</strong> Chỉ tại…tớ chẳng hiểu gì cả, thật trái ngược! <br>
<br>
- A, lại một con nữa! – Sami lại nhanh tay gỡ con cá ra bỏ vào chiếc rỏ mây. <br>
<br>
<br>
<br>
- TÓM LẠI CẬU ĐANG LÀM GÌ, SAMI !! – Nó gắt. <br>
<br>
- Tớ câu cá, cậu nhìn nè! – Cô bé bình thản giơ cho nó xem rỏ cá đầy ắp. <br>
<br>
Nó ngoái nhìn một thoáng và…nó cười. <br>
<br>
Thì ra thế, thật thú vị, đúng là rất Sami! Rồi nó cũng ngồi xuống: <br>
<br>
- Tớ sẽ giúp cậu, bắt cả đàn cá một mình chắc khuya quá! <br>
<br>
- Biết là sao, để cho chúng khỏi lạc đàn. <br>
<br>
------------------- <br>
<br>
Bữa tối hôm đó là bữa ăn ngon nhất trong cuộc đời nó mặc dù có hơi bội thực. Cuộc sống cứ thế trôi qua, nó sống giữa hai thế giới mà chính nó cũng không phân biệt được nó thuộc về đâu. Nhưng cũng chẳng hề gì, nó cảm thấy thoải mái là được mà! Nó hiểu có những thứ không biết lại tốt hơn là biết, không hỏi lại tốt hơn là hỏi. Những người xung quanh nó có nói sao nó cũng mặc, <em>chỉ cần nó biết <strong>mình không sai</strong>.</em> <br>
<br>
Lúc này, nó giống như con ve sầu lột xác. Nó tự tạo cho mình những mối quan hệ mới, tự đứng trên đôi chân của chính bản thân mình, tự tin nó là người không hề yếu kém. Nó đang sống cuộc sống mà nó vẫn hằng mong. Nó đã gặp nhiều người bạn mới ở một vài lớp học thêm của nó. Hàng tháng liền nó sống trong niềm vui, nó như đang nắm giữ những tình bạn trong mơ ở thế giới thực. Họ rất thú vị và còn rủ nó đi chơi. <br>
<br>
Nó vui đến nỗi thức cả đêm để mà chờ đợi, để mà mơ tưởng. Nó mua rất nhiều đồ, cho nó và cho bạn nó. Nó loanh quanh xung quanh đám bạn suốt cả ngày, nói tất cả những gì mà nó muốn như chưa bao giờ được nói và họ đang lắng nghe nó, thật tuyệt vời… <br>
<br>
Trời nắng, cả đám ngồi nghỉ lại, nó vội đi mua một ít nước ngọt. Nó đi thật nhanh, sao cho các bạn nó khỏi phải chờ và để sớm quay lại nơi có những người mà nó yêu quý. Một mình ôm cả túi lớn nặng, nó khệ nệ đi nép vài mép tường râm mát, và nó đã nghe thấy một thứ mà nó không nên nghe – lũ bạn nó đang bàn tán: <br>
<br>
- Nó ấy à, nói gì mà lắm thế không biết! <br>
- Ờ, nhưng cái con dở hơi ấy mà không cho tao chép bài thì tao đi lâu rồi. <br>
- Đúng đó, nó còn mua đồ bao tụi mình ăn chớ, ngu đếch chịu được! <br>
- Nói khe khẽ thôi nó quay lại đấy! <br>
- Sợ gì, nó đi còn lâu… <br>
<br>
Nó đứng ở đấy mất một lúc. Ra thế, viễn cảnh xung quanh nó sụp đổ. Nó vẫn là kẻ ngu ngốc bị người ta lợi dụng, nó chẳng là gì cả, giống như một món đồ chơi. Tự trách mày đi, mày ngu thì mày chịu mà. Mày vĩnh viễn không có nổi ai là bạn…Nó chợt nhớ đến Samuko, Sam và cả Sami. Đã lâu lắm rồi, nó chợt nhớ ra, đã lâu lắm rồi nó không đến ngôi nhà nhỏ giữa rừng, <em>nó đã quên</em>. <br>
<br>
Sao nó lại ngu ngốc đến nỗi quên cả Sami? Nó lấy lại vẻ bình tĩnh đi tới chỗ đám người mà nó đã từng cho là bạn, cố gắng cười nói bình thường nhất cho tới lúc ra về. <br>
<br>
Hết rồi! Giống như một thùng phi đựng nước đổ ập lên đầu nó. Nó không có cách nào quay lại. Nó thật muốn trở về cái thời bé con vô ưu vô sầu, thậm chí chỉ cần trở về là nó trước đây với niềm tin tuyệt đối vào tình bạn dẫu trái đất này có nổ tung. Nhưng, nó đã đi quá xa, đủ xa để không biết phải quay về đường nào nữa. Nó cảm thấy xung quanh mình ảm đạm, lạnh lẽo vô cùng. Khung cảnh nhạt nhoà đi trong mắt nó. Dẫu có cố gắng đến đâu nó cũng không thể vượt qua số mệnh của một kẻ thua cuộc. Nó vốn cứ nghĩ con người làm nên số mệnh nhưng mà hình như nó sai mất rồi. <br>
<br>
----------- <br>
<br>
<br>
Nó không hiểu? Tại sao bao giờ nó cũng sai? Tại sao người khác có thể nói lên ý kiến của mình còn nó thì không? Tại sao lúc nào nó cũng phải im lặng? Nó không cam tâm, thật sự không cam tâm. Sao lại là nó, sao bao giờ cũng là nó? Tại sao nó chẳng là gì? Giống như một thứ phế thải? <br>
<br>
<em>Nó không tin và không muốn tin. Nếu nó cũng không tin cả chính mình thì nó sẽ chết mất! <br>
<br>
Nó tự hỏi hay là nó đã sai điều gì, sai mất rồi, đã sai…Nó không biết nữa. Có lẽ là nó đã sai thật rồi.</em> <br>
<br>
Nó không biết tại sao nó không thể nói, nói những gì nó nghĩ, nó cứ phải để trong lòng ngồi thu mình lại và khóc một mình như là thứ bỏ đi trong xã hội này cứ như là không có chỗ cho nó vậy. Hay nó không thuộc về nơi đây? Có nơi nào dành cho nó? <br>
<br>
<em>Không có…</em> <br>
<br>
Nếu vậy nó phải tự tạo ra cho riêng mình, chỉ cho một mình nó thôi. Nó ghét tất cả, ghét hết thảy. Nó đã luôn muốn yêu tất cả nhưng khi nó càng muốn thế thì chẳng ai chịu hiểu, không ai yêu nó cả. Nó không cần nữa, không cần, nếu không ai yêu thương nó thì nó cũng chẳng cần phải cố yêu thương người khác. Nó chỉ cần nó thôi. <br>
<br>
<em>Loài người là gì? Chẳng qua cũng là một giống động vật thôi, cứ tự tách mình ra cho là hơn thiên hạ. Động vật ăn thịt người là dã thú, là quái vật. Người ăn thịt động vật. Người là gì? Độc ác. Đạo đức giả. Là gì cơ chứ? Nếu không có họ thì tốt hơn.</em> <br>
<br>
Nó nằm thu mình lại. Cái gối của nó ướt đẫm. Nó không khóc nữa và sẽ không bao giờ khóc nữa. Nó chán lắm rồi, nó cảm thấy đủ lắm rồi, và lần đầu tiên nó thành thực với chính mình: nó muốn được hạnh phúc. <br>
<br>
Nó đang ở đâu đó nó không nhớ ra. Nó biết nó rất buồn. Nó đã khóc và rồi nó thiếp đi. Đây là đâu? Trường học à? Đúng, đây là trường học. Tại sao nó lại ở đây chứ? Nó muốn về lại căn nhà nhỏ giữa rừng. Nó ghét trường. Nó…kia những người cùng lớp với nó đang đứng đằng xa. Nó không muốn lại gần. Họ đâu phải là bạn. Đã từ lâu lắm rồi, bạn là gì? - nó tự hỏi. Nó muốn đi thật xa để khỏi phải nhìn họ. Nhưng mà nó chậm mất rồi. Họ đã nhìn thấy nó và tiến lại gần nó. Nó muốn bỏ trốn. Nó chán ghét những lời xỏ xiên, không nghe, nó không muốn nghe. Nó chỉ muốn được yên thân. <br>
<br>
Ơ kìa, họ cười với nó: <br>
<br>
- Bạn có muốn chơi cùng chúng tớ? <br>
<br>
Đôi mắt nó mở to. Và rồi nó mỉm cười, nó vẫn muốn thử, chỉ một lần nữa thôi… <br>
<br>
......... <br>
<br>
<br>
Tiếng còi xe cứu thương rú lên mỗi lúc một gấp. Họ đưa ai đó lên cáng rồi tức tốc chạy đi. Cái giường nó nằm lúc trước giờ chỉ còn lăn lóc một cái lọ rỗng và những viên thuốc ngủ vung vãi… <br>
<br>
<em>Nó cũng là người.</em></span></p>
<br>
<br>
<br>
<br>
<p>||End||</p>

<p><strong>Author: </strong>sami</p>
<p><strong>Rating:</strong> T</p>
<p><strong>Category</strong>: Angst</p>
<p><strong>Summary:</strong> Nó ghét trường học. Nó sợ cô đơn. Nó mải miết đi tìm định nghĩa cho từ "tình bạn". Ai cần đến nó? Nơi nào dành cho nó?</p><strong></strong><strong></strong><strong></strong><strong>9.11.2003</strong><em>Tặng người đã xa, tặng thời đã qua…</em><span><img alt="" src="http://img.photobucket.com/albums/v99/lily_bbe/dreamland.jpg"></span><img alt="" src="http://img.photobucket.com/albums/v99/lily_bbe/dreamland.jpg">
<br>
Một cơn gió nhẹ mơn man trên gò má. Những giọt nước mắt đã khô nhưng đâu đó thi thoảng còn một vài tiếng nấc nghẹn. Nó ngồi bên cửa sổ, lặng lẽ viết những dòng nhật kí. Có phải nhật kí không nhỉ? Từ bé tới giờ nó chưa bao giờ viết nhật kí cả, bởi vì, theo nó cứ để thời gian xoá đi những kỉ niệm buồn mà nó không bao giờ muốn nhớ. Mắt nó nhoà đi. Một giọt nước mắt rơi trên trang giấy. Nó chẳng muốn lau. Rồi theo thời gian giọt nước ấy sẽ khô. <br>
<br>
<em>Nhưng, nó không hiểu hết, nó chỉ biết nước sẽ khô mà không biết rằng mực ghi đã nhoè thì chẳng bao giờ còn rõ nữa.</em> <br>
<br>
Nó đặt bút xuống, trầm tư nhìn ra ngoài. Ánh nắng ngoài cửa sổ thật ấm áp, không, không phải ấm áp mà là rực rỡ. Một vài chiếc lá bay qua, những chiếc lá không chịu nổi trận mưa đêm qua. Trận mưa to và dữ dội biến thành một trận bão lớn cuốn đi hết thảy những sinh vật nhỏ bé. Cây cổ thụ trước nhà nó đã gãy một cành lớn nhưng những bông hoa hôm qua còn bị quật bầm dập nay đã tươi tỉnh trở lại. Hoặc là… chúng đã chết và lớp hoa mới lại mọc lên. Có gì khác đâu…hoa nào mà chẳng là hoa. <br>
<br>
<em>Người ta vẫn bảo sau cơn mưa trời lại sáng nhưng những chiếc lá đã rơi trong đêm mưa có thể lại liền cành? </em><br>
<br>
<br>
Giống như những gì khắc sâu trong tim nó, những vết thương liệu có thể liền? Nó đưa tay bóp nghẹn trái tim mình. Đau lắm… Nhưng không thể đau như những gì nó cảm nhận. Những cánh tay vô hình làm cho nó nghẹt thở. Nó yếu đuối và nhu nhược. Nó đã phải phẫu thuật suy tim khi nó lên ba, đó là di chứng của bệnh hen bẩm sinh. Nó không yêu cầu sự thương hại, thậm trí nó ghét ai nhìn nó như thế. Nó cố thoát khỏi sự quan tâm của người khác nhưng mà lúc này, khi nó đã hoàn toàn như ý, không ai để ý đến nó cả, nó lại muốn người ta quan tâm. <br>
<br>
<em>Hơ, buồn cười quá nhỉ?</em> <br>
<br>
Nó đang cười mình hay nó nghĩ là như thế. Có lẽ bởi vì không có một cái gương nào ở đó nên nó cũng chẳng nhận ra mặt mình y như một khúc gỗ nhăn nhúm. Rồi tự khoác cho mình cái mặt nạ bình thản, nó đứng dậy, cố gắng bứt ra khỏi dòng suy nghĩ miên man. Nếu không làm vậy chắc nó đã đổ gục lâu rồi. <br>
<br>
Người khác có thể cho nó vô tâm, có thể bảo nó lạnh lùng thậm chí kì quái và lập dị, nhưng có sao, nó vẫn kiên nhẫn để nói rằng nó chỉ là nó thôi. Nó cố gắng vượt qua bao lời xì xầm, bỏ ngoài tai bao lời nói xấu nhưng dù cố gắng mấy cuối cùng nó vẫn là người thua cuộc, như trước giờ vẫn vậy. Bỏ cuộc và rơi xuống vực sâu tuyệt vọng. Xung quanh nó bóng tối và lạnh lẽo bao trùm… <br>
<br>
<em>Nó bỗng ước có được mấy que diêm như cô bé bán diêm.</em> <br>
<br>
Nó với tay lấy một cái bật lửa và bật lên. Ngọn lửa sáng và kéo dài hơn những que diêm rất nhiều nhưng sao nó không thấy ấm. Nó không phải là cô bé bán diêm, nó biết, nhưng nó ước gì mình là cô bé ấy…Tuy nhiên, thành thực mà nói nó và cô bé bán diêm chẳng có gì giống nhau ngoài nỗi buồn và cô đơn cả. Cô bé bán diêm thì cầu xin tình yêu thương, còn nó, chính nó đã đẩy người khác ra xa mình, bây giờ, dù cho nó có hối hận bao nhiêu đi chăng nữa cũng không thể kéo lại ai. Tại nó mà. Trách ai được đây? Nó bao giờ cũng sai, làm cái gì cũng hỏng. Phải thế không? <br>
<br>
<em>Nó cầm trang giấy mới viết và đốt đi. Ánh lửa loé lên trong mắt nó. Cách tốt nhất để không làm sai gì là không làm gì cả.</em> <br>
<br>
Cơn gió hạ thổi khô rát càng làm cho lửa cháy nhanh và tro giấy bay tứ tung cuốn phăng đi kí ức về một ngày qua. Quên hết tất cả đi, nó trở vào phòng và chìm vào giấc ngủ trưa hè. <br>
<br>
------------------------ <br>
<br>
<br>
<br>
Nó đang bay, bay trong niềm hạnh phúc ở thế giới thuộc về riêng nó với những người bạn thật sự. Nó kể cho họ nghe những điều mà nó đã không bao giờ nói. Nó kể và họ nghe, nghe và không bao giờ phán xét. Ở đây, nó có thể làm những gì mình thích, nói những điều mình nghĩ và không phải làm gì mình không muốn. <br>
<br>
Nó ở trong một ngôi nhà nhỏ giữa rừng bên cạnh một dòng suối trong vắt. Nó thường chơi trên cánh đồng hoa cỏ thơm với Sam - một người bạn của nó. Cậu bé ít hơn nó một tuổi, có mái tóc màu nâu nhạt và đôi mắt trong màu xanh lơ. Sam kể cho nó nghe những câu chuyện về cây cỏ và chim muông, những câu chuyện đó nó đã đọc trong sách rồi tuy nhiên nó vẫn thích nghe. Buổi chiều, nó và Sam trở về nhà, nó hay ngồi ở bậu cửa ngắm hoàng hôn và tưởng tượng ra một chàng hoàng tử của riêng mình. Tối đến, nó cùng tất cả các bạn ngồi quanh bàn và ăn những món ăn tuyệt vời mà nó đánh giá là phải ngon nhất thế giới. Samuko nấu ăn rất giỏi, chị rất dịu dàng, đảm đang và ra dáng chị cả. Nó thích nhất món bánh kem dâu tây chị hay làm và chị giống như là thần tượng của nó. <br>
<br>
Ngoài ra, nó còn có một người bạn nữa tên là Sami, Sami là em gái Samuko bằng tuổi nó, một cô bé rất dễ thương, hoạt bát. Có lẽ Sami là người bạn mà nó yêu quí nhất. Sami hay kể cho nó nghe những câu chuyện giả tưởng về tình bạn, tình yêu, cuộc sống… những câu chuyện mà cô bé đã viết - những câu chuyện có phần giống những quyển truyện tranh mà nó đọc nhưng tuyệt vời hơn là dường như nó biết trước được kết thúc và nó yêu cái kết ấy. Nó cũng kể cho Sami những câu chuyện của nó và hỏi xem cô bé nghĩ gì. Sami hay cười và khen hay, điều đó là một lời động viên tuyệt diệu đối với nó. Rồi cô bé và nó cùng đi hái nấm trong rừng. Sami thích những cây nấm nhỏ xinh vì chúng dể thương quá. Đối với cô bé, vạn vật đều dễ thương, nhất là bản thân Sami ^ ^, tất nhiên là nó cũng được xếp vào vị trí dễ thương “nhì”. <em>Nó cười, thế là đủ, phải không?</em> <br>
<br>
------------------ <br>
<br>
<br>
<br>
“Dậy rồi thì đi quét nhà còn học bài đi con, tro ở đâu bay vào không biết!” - mẹ nó càu nhàu bỏ đi. <br>
<br>
Nó ngồi dậy rồi lười biếng đi tới cầm lấy cái chổi đều đều quét đi những kí ức của nó, gom lại để cho vào sọt rác. Xong, nó ngồi vào bàn để làm bài tập về nhà. Nó cố lấp đầy khoảng không trống trải bằng những con số và chữ chằng chịt. Cuộc sống cứ đều đều diễn ra như thế. <br>
<br>
Sáu giờ sáng, nó bị gọi dậy quờ quạng trong bóng tối để tìm cái kính cận. Xách cặp và ăn vội một lát bánh mì rồi đạp xe đi học. Trường nó rất tệ, cổng trường chật hẹp lại không có lối dắt lên, bình thường học sinh thì chen lấn xô đẩy, những khi trời mưa khổ sao cho hết. Nó dựng xe ở một góc khuất dễ lấy, khoá lại rồi đi ra sân xếp hàng. Nó rất ghét xếp hàng, cứ như là một lũ học sinh mẫu giáo vậy, mà trường nó lại cấm không cho vào lớp trước giờ học - một quy định ngớ ngẩn. Cái cặp của nó nặng trịch, vai nó chai cứng. Nó ngồi bịch xuống một gốc cây gần đó. Nó ngước nhìn ra xa bắt gặp đúng nơi đám con gái lớp nó hay tụ tập. Nó không thích ở gần đó mà cũng chẳng ai thích thế cả nên hiển nhiên là nó không đứng. Bọn con gái tụ tập chỉ nói những chuyện luyên thuyên và hay nói xấu người khác. Nó chán ngấy. <br>
<br>
Giờ học diễn ra ảm đạm, những lời xì xào to nhỏ thoảng qua tai nó trôi đi đâu mất chẳng để lại dấu vết nào. Nó nhìn lơ đãng ra cửa sổ, nhìn lơ đãng lên bục giảng, hí hoáy viết trong vô thức. Thật buồn chán. Có lẽ chỉ đến khi tiếng trống vang lên mới kéo luôn nó về thực tại. Một sự giải thoát khỏi khối vô vị này để đến một nơi khác cũng vô vị chẳng kém: Giờ ra chơi. <br>
<br>
Nó đi một mình trong sân trường đông nghẹt, gió thổi cát bụi mù lên. Nếu trong đầu mấy ông giám hiệu không có một con sâu đề ra cái quy định chết tiệt cấm học sinh ở trong lớp vào giờ ra chơi, triệt để tiết kiệm điện, đèn và quạt thì nó đã không phải chịu hứng gió cát bỏng rát nhường này. Nó thà ngồi trong lớp làm lao công trực nhật cho rồi. <br>
<br>
Nó đành đi lánh nạn ở một nơi mà nếu không cần thiết nó chẳng tới bao giờ - khu tụ tập của bọn con gái. Nó đi tới, bọn nó xì xào, nó tới nơi, bọn nó im bớt, nó đi qua, bọn nó nói to như cố ý cho nó nghe. Nó bị tẩy chay bởi cái gì nhỉ? Hay do nó quá khác mọi người? Nó có những nguyên tắc của riêng nó và chẳng hại gì đến ai cả. Vậy thì tại sao? Bọn họ bảo nó kênh kiệu không thèm nói chuyện với ai. Đâu phải, có ai chịu nói chuyện với nó đâu? Bọn họ bảo nó giả bộ ngoan ngoãn cho giáo viên cưng. Thật bực mình, ai bảo họ không chịu học bài nên nó ắt cao điểm hơn thôi. Nó tức giận ngoặt vào hành lang dài tránh xa cái hang quỉ quái kia. <br>
<br>
Tan học nó về thẳng nhà đeo theo một cục tức nặng trĩu. Lướt qua đám học sinh la cà, dắt díu nhau hàng ngang cười khì khì, “Nếu làm học trò vô vị thế nó chẳng muốn làm”. <br>
<br>
Về nhà, nó thả mình rớt xuống giường cái bịch. Mệt mỏi, nó thiếp đi lúc nào không hay. <br>
<br>
------------------ <br>
<br>
<br>
<br>
Nó lại trở về ngôi nhà xinh xắn giữa rừng của mình. Samuko đang ở ngoài sân tưới hoa còn Sam lon ton theo sau. <br>
<br>
“Sao ngồi thừ ra thế?” - tiếng nói cùng với tiếng mở cửa, Sami từ trong phòng đi ra. <br>
“Đi, đi với tớ ra suối, ra chỗ thác, nhiều cá lắm, đi, đi nào!” – Cô bé kéo nó đi, lôi xềnh xệch như kéo lê một con búp bê. <br>
<br>
Thác nước tung bọt trắng mịn, cá nhảy lên tới tấp, bãi cỏ xanh mướt và những bông hoa dại đan xen, tất cả hiện lên trong mắt nó như cả thiên đường. Gió thổi mát rượi cuốn hết bao sầu tư trong nó. Nó với tay định bắt một con cá nhưng Sami ngăn lại. <br>
<br>
“Sao thế?” – Nó hỏi <br>
“Lũ cá này là một bầy đấy!” – Nói rồi cô bé kéo nó đi. “Bầy cá này là bạn của nhau, bắt một con thì con cá đó và bạn của nó sẽ buồn lắm! Hái mấy quả dại nhé!” <br>
<br>
Thế là nó và Sami hái những quả táo căng tròn, những quả nho xanh mọng chua chua. Nắng mai luồn qua các tán lá rừng như những dây leo nối thòng xuống từ vườn địa đàng soi sáng cho hai đứa bé dạo chơi trong rừng. Vị thần Apolo kéo cỗ xe mặt trời xế bóng, những đứa trẻ nằm dài trên bãi cỏ lặng ngắm hoàng hôn. Một tiếng nói nhỏ phá vỡ sự yên tĩnh ấy. <br>
<br>
“Sami, bạn là gì?” – nó hỏi <br>
<br>
“Bạn à, ừm…bạn là người để nhớ đến mỗi khi vui buồn, mỗi khi nghĩ ra một câu chuyện nào đó sẽ là người để ta nhớ kể cho nghe, và bạn cũng là người để nhớ đến mỗi khi ta không gặp,… ờ, nhiều lắm, nói chung chỉ là bạn thôi!” - Sami cười - “Giống như tớ với cậu đó!”. Cô bé quay đi, đôi mắt tím biêng biếc nhìn xa xăm ánh lên những tia hi vọng tươi tắn. <br>
<br>
“Người để nhớ…” – nó nghĩ – “Chắc chắn tớ sẽ nhớ tới cậu, cậu sẽ nhớ tớ chứ, Sami?” Nó cũng nhìn đi xa xăm, cảm thấy tự nhiên nhẹ nhõm và, nó nghe loáng thoáng lời thì thầm “Chắc chắn rồi.” <br>
<br>
Một khoảng lặng dài sau đó, cơn gió nhẹ hiu hiu làm cho nó cảm thấy thật dễ chịu. Nó nhắm mắt lại và khi mở mắt ra nó lại thấy mình ở trong phòng. <br>
<br>
--------------------- <br>
<br>
<br>
<br>
Nó lại thấy mình ở trong phòng nhưng với một tâm trạng khá hơn. Nó bắt đầu buổi chiều của mình theo cách của riêng nó. <br>
<br>
Những ngày tiếp theo đối với nó vẫn vô vị như thế nhưng nó cứ như nhẹ bâng cả người, tự hài lòng với cuộc sống vốn có, nó thả mình trôi, trôi mãi… <br>
<br>
…………………… <br>
<br>
Nó lại nằm trên bãi cỏ cạnh bạn nó, Sami. Mặt trời xế bóng, bỗng Sami ngồi bật dậy: <br>
<br>
- Chít rùi, hôm nay Samuko nấu canh cá cho bữa tôi! Tớ sẽ bị kill mất! <br>
<br>
Nói rồi, Sami kéo nó dậy ra suối. <br>
<br>
- Sami, cậu định bắt cá à? – nó bối rối hỏi <br>
<br>
- Chứ sao. <br>
<br>
- Cậu nói không nên mà? <br>
<br>
- Tại sao? Tớ đã nói thế à? – Sami ngạc nhiên nhìn nó <br>
<br>
- ……Cậu… cậu nói lũ cá này là bạn của nhau, bắt một con thì nó và bạn nó sẽ rất buồn mà? Cậu… - Nó ấm ức, thế mà nó cứ nghĩ Sami của nó…hừm…tình bạn của cá – nghe thật cao cả!! <br>
<br>
<br>
- Đúng, đúng là tớ có nói thế nhưng tớ có bảo là không nên bắt cá đâu! – Cô bé lại bình thản tiếp tục công việc, cái cần câu lại rung lên và cô nhót con cá bỏ tọt vào rỏ. <br>
<br>
Nó vẫn còn tức lắm, quay ngoắt ra sau lầm bầm “Cái quái gì không biết!” <br>
Sami lại tiếp: <br>
<br>
- Sao thế? Cậu không thích ăn cá à? <br>
<br>
- <strong>Không phải vậy.</strong> Chỉ tại…tớ chẳng hiểu gì cả, thật trái ngược! <br>
<br>
- A, lại một con nữa! – Sami lại nhanh tay gỡ con cá ra bỏ vào chiếc rỏ mây. <br>
<br>
<br>
<br>
- TÓM LẠI CẬU ĐANG LÀM GÌ, SAMI !! – Nó gắt. <br>
<br>
- Tớ câu cá, cậu nhìn nè! – Cô bé bình thản giơ cho nó xem rỏ cá đầy ắp. <br>
<br>
Nó ngoái nhìn một thoáng và…nó cười. <br>
<br>
Thì ra thế, thật thú vị, đúng là rất Sami! Rồi nó cũng ngồi xuống: <br>
<br>
- Tớ sẽ giúp cậu, bắt cả đàn cá một mình chắc khuya quá! <br>
<br>
- Biết là sao, để cho chúng khỏi lạc đàn. <br>
<br>
------------------- <br>
<br>
Bữa tối hôm đó là bữa ăn ngon nhất trong cuộc đời nó mặc dù có hơi bội thực. Cuộc sống cứ thế trôi qua, nó sống giữa hai thế giới mà chính nó cũng không phân biệt được nó thuộc về đâu. Nhưng cũng chẳng hề gì, nó cảm thấy thoải mái là được mà! Nó hiểu có những thứ không biết lại tốt hơn là biết, không hỏi lại tốt hơn là hỏi. Những người xung quanh nó có nói sao nó cũng mặc, <em>chỉ cần nó biết <strong>mình không sai</strong>.</em> <br>
<br>
Lúc này, nó giống như con ve sầu lột xác. Nó tự tạo cho mình những mối quan hệ mới, tự đứng trên đôi chân của chính bản thân mình, tự tin nó là người không hề yếu kém. Nó đang sống cuộc sống mà nó vẫn hằng mong. Nó đã gặp nhiều người bạn mới ở một vài lớp học thêm của nó. Hàng tháng liền nó sống trong niềm vui, nó như đang nắm giữ những tình bạn trong mơ ở thế giới thực. Họ rất thú vị và còn rủ nó đi chơi. <br>
<br>
Nó vui đến nỗi thức cả đêm để mà chờ đợi, để mà mơ tưởng. Nó mua rất nhiều đồ, cho nó và cho bạn nó. Nó loanh quanh xung quanh đám bạn suốt cả ngày, nói tất cả những gì mà nó muốn như chưa bao giờ được nói và họ đang lắng nghe nó, thật tuyệt vời… <br>
<br>
Trời nắng, cả đám ngồi nghỉ lại, nó vội đi mua một ít nước ngọt. Nó đi thật nhanh, sao cho các bạn nó khỏi phải chờ và để sớm quay lại nơi có những người mà nó yêu quý. Một mình ôm cả túi lớn nặng, nó khệ nệ đi nép vài mép tường râm mát, và nó đã nghe thấy một thứ mà nó không nên nghe – lũ bạn nó đang bàn tán: <br>
<br>
- Nó ấy à, nói gì mà lắm thế không biết! <br>
- Ờ, nhưng cái con dở hơi ấy mà không cho tao chép bài thì tao đi lâu rồi. <br>
- Đúng đó, nó còn mua đồ bao tụi mình ăn chớ, ngu đếch chịu được! <br>
- Nói khe khẽ thôi nó quay lại đấy! <br>
- Sợ gì, nó đi còn lâu… <br>
<br>
Nó đứng ở đấy mất một lúc. Ra thế, viễn cảnh xung quanh nó sụp đổ. Nó vẫn là kẻ ngu ngốc bị người ta lợi dụng, nó chẳng là gì cả, giống như một món đồ chơi. Tự trách mày đi, mày ngu thì mày chịu mà. Mày vĩnh viễn không có nổi ai là bạn…Nó chợt nhớ đến Samuko, Sam và cả Sami. Đã lâu lắm rồi, nó chợt nhớ ra, đã lâu lắm rồi nó không đến ngôi nhà nhỏ giữa rừng, <em>nó đã quên</em>. <br>
<br>
Sao nó lại ngu ngốc đến nỗi quên cả Sami? Nó lấy lại vẻ bình tĩnh đi tới chỗ đám người mà nó đã từng cho là bạn, cố gắng cười nói bình thường nhất cho tới lúc ra về. <br>
<br>
Hết rồi! Giống như một thùng phi đựng nước đổ ập lên đầu nó. Nó không có cách nào quay lại. Nó thật muốn trở về cái thời bé con vô ưu vô sầu, thậm chí chỉ cần trở về là nó trước đây với niềm tin tuyệt đối vào tình bạn dẫu trái đất này có nổ tung. Nhưng, nó đã đi quá xa, đủ xa để không biết phải quay về đường nào nữa. Nó cảm thấy xung quanh mình ảm đạm, lạnh lẽo vô cùng. Khung cảnh nhạt nhoà đi trong mắt nó. Dẫu có cố gắng đến đâu nó cũng không thể vượt qua số mệnh của một kẻ thua cuộc. Nó vốn cứ nghĩ con người làm nên số mệnh nhưng mà hình như nó sai mất rồi. <br>
<br>
----------- <br>
<br>
<br>
Nó không hiểu? Tại sao bao giờ nó cũng sai? Tại sao người khác có thể nói lên ý kiến của mình còn nó thì không? Tại sao lúc nào nó cũng phải im lặng? Nó không cam tâm, thật sự không cam tâm. Sao lại là nó, sao bao giờ cũng là nó? Tại sao nó chẳng là gì? Giống như một thứ phế thải? <br>
<br>
<em>Nó không tin và không muốn tin. Nếu nó cũng không tin cả chính mình thì nó sẽ chết mất! <br>
<br>
Nó tự hỏi hay là nó đã sai điều gì, sai mất rồi, đã sai…Nó không biết nữa. Có lẽ là nó đã sai thật rồi.</em> <br>
<br>
Nó không biết tại sao nó không thể nói, nói những gì nó nghĩ, nó cứ phải để trong lòng ngồi thu mình lại và khóc một mình như là thứ bỏ đi trong xã hội này cứ như là không có chỗ cho nó vậy. Hay nó không thuộc về nơi đây? Có nơi nào dành cho nó? <br>
<br>
<em>Không có…</em> <br>
<br>
Nếu vậy nó phải tự tạo ra cho riêng mình, chỉ cho một mình nó thôi. Nó ghét tất cả, ghét hết thảy. Nó đã luôn muốn yêu tất cả nhưng khi nó càng muốn thế thì chẳng ai chịu hiểu, không ai yêu nó cả. Nó không cần nữa, không cần, nếu không ai yêu thương nó thì nó cũng chẳng cần phải cố yêu thương người khác. Nó chỉ cần nó thôi. <br>
<br>
<em>Loài người là gì? Chẳng qua cũng là một giống động vật thôi, cứ tự tách mình ra cho là hơn thiên hạ. Động vật ăn thịt người là dã thú, là quái vật. Người ăn thịt động vật. Người là gì? Độc ác. Đạo đức giả. Là gì cơ chứ? Nếu không có họ thì tốt hơn.</em> <br>
<br>
Nó nằm thu mình lại. Cái gối của nó ướt đẫm. Nó không khóc nữa và sẽ không bao giờ khóc nữa. Nó chán lắm rồi, nó cảm thấy đủ lắm rồi, và lần đầu tiên nó thành thực với chính mình: nó muốn được hạnh phúc. <br>
<br>
Nó đang ở đâu đó nó không nhớ ra. Nó biết nó rất buồn. Nó đã khóc và rồi nó thiếp đi. Đây là đâu? Trường học à? Đúng, đây là trường học. Tại sao nó lại ở đây chứ? Nó muốn về lại căn nhà nhỏ giữa rừng. Nó ghét trường. Nó…kia những người cùng lớp với nó đang đứng đằng xa. Nó không muốn lại gần. Họ đâu phải là bạn. Đã từ lâu lắm rồi, bạn là gì? - nó tự hỏi. Nó muốn đi thật xa để khỏi phải nhìn họ. Nhưng mà nó chậm mất rồi. Họ đã nhìn thấy nó và tiến lại gần nó. Nó muốn bỏ trốn. Nó chán ghét những lời xỏ xiên, không nghe, nó không muốn nghe. Nó chỉ muốn được yên thân. <br>
<br>
Ơ kìa, họ cười với nó: <br>
<br>
- Bạn có muốn chơi cùng chúng tớ? <br>
<br>
Đôi mắt nó mở to. Và rồi nó mỉm cười, nó vẫn muốn thử, chỉ một lần nữa thôi… <br>
<br>
......... <br>
<br>
<br>
Tiếng còi xe cứu thương rú lên mỗi lúc một gấp. Họ đưa ai đó lên cáng rồi tức tốc chạy đi. Cái giường nó nằm lúc trước giờ chỉ còn lăn lóc một cái lọ rỗng và những viên thuốc ngủ vung vãi… <br>
<br>
<em>Nó cũng là người.</em>