<div align="center"><b>Công Chúa và Nữ Vương hay Lôm Côm không đúng chỗ</b></div>
<br>
<br>
<b>Author:</b> Ngầu Đại Ca<br>
<b>Genres:</b> Humor/Fantasy/Romance<br>
<b>Warning:</b>Shoujo ai<br>
<b>Rating:</b>T<br>
<b>Status:</b> Ongoing/Multi-chapter<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div align="center">~oOo~
<br>
<br>
<br>
<br>
<br>
<br>
Thời đó, một thời đại đã bị loài người và thần linh quên lãng, ở một vương quốc nọ, cũng đã bị quên lãng nốt, có một nàng công chúa.<br>
<br>
<br>
Vậy thì tại sao tôi lại nhớ về nàng? Khi nàng đã bị quên lãng bởi tất cả giống người trên Trái Đất này lẫn ở nơi Thánh Địa của các vị thần.<br>
<br>
<br>
Nàng đã đến với tôi trong một giấc mơ nọ vào buổi tối khi trăng chưa lên, và tôi xức nước hoa hương Nhài để ngủ.<br>
<br>
<br>
Công Chúa Nghèo Đói, đó là biệt hiệu của nàng. Nàng chính là Poême đệ thất của truyền thuyết Lôm Côm (tức truyền thuyết Lancôme Paris)<br>
<br>
<br>
Đừng liên tưởng đến thứ nước hoa Pháp màu vàng hổ phách thanh nhã trong lọ thủy tinh có hình dáng không biết miêu tả thế nào, dành cho đàn bà quý tộc trên ba mươi tuổi. Tất cả chỉ là một sự trùng hợp. (Hoặc là một sự nhoi)<br>
<br>
<br>
Poême đệ thất là nàng công chúa Vĩ đại nhất của vương triều Lôm Côm, nàng có tất cả sáu chị em gái, cha của nàng, tức đại đế Lôm Côm, sau khi biết Hoàng Hậu của ngài có mang nàng công chúa thứ bảy, bèn tức giận lấy một cây đũa khuấy bằng thủy tinh đang khuấy xạ hương màu hổ phách đập thật mạnh vào cái bụng hơi to của bà, khiến Poême khi mới sinh ra đã có đôi mắt hổ phách chứa đầy lòng thù hận khinh bỉ nhân loại, và nhất là đối với cha nàng, Lôm Côm.<br>
<br>
<br>
Vương triều Lôm Côm Pa Gi là một vương triều nổi tiếng về sự đói nghèo, bù lại Lôm Côm có một Thần Uy đáng sợ, đó chính là điểm cốt yếu duy trì ngai vàng (một cái ghế đẩu gỗ tạp) của Lôm Côm. Mỗi sáng khi Hoàng Hậu Hypnôse đi chợ cho hoàng thất, đức vua của bà luôn căn dặn đủ mọi điều về giá cả. Đừng mua khi nó nói rau thơm hôm nay mắc hơn hôm qua, đừng mua thịt bò hãy mua tép, đừng mua khi trả giá nó không bớt, đừng chần chừ khi hạ giá cực thấp và bỏ đi, đừng mua thêm đồ gia vị, đừng dắt con theo nó sẽ đòi, đừng, đừng đừng...<br>
<br>
<br>
Hoàng bào của Lôm Côm là một bộ áo cực kỳ tinh tế từng nét kim mũi chỉ, đáng tiếc là vì đã dùng hơn ba mươi năm tại ngôi nên không tránh khỏi sờn rách và những dấu vết do cà phê kem bột sữa son môi và đủ loại dây dính không sao giặt sạch.<br>
<br>
<br>
Nhưng chúng ta đừng quan tâm đến sự đói kém đáng kinh ngạc của vương triều Lôm Côm nữa, hãy cho đó là một sự thể bình thường, hãy nhớ đến nhân vật chính của chúng ta, công chúa Poême đệ thất.<br>
<br>
<br>
Công chúa Nghèo Đói luôn cảm thấy đớn đau và bất an vì cơ thể yếu ớt và sự đói rách của mình. Từ lúc sinh ra nàng đã mang một khuôn mặt vàng như bệnh nhân gan mãn tính, mẹ nàng bọc nàng trong một tấm vải điều đã cũ, đem nàng đến cho Nữ Thượng Tế ban phép lành và cầu chúc nàng mọi thứ mà một công chúa xứng đáng có, sắc đẹp, sự duyên dáng tinh tế, và nên thơ như tên của nàng. Chính nàng - Poême đệ thất - đã trở thành như thế khi vừa mới lớn lên, một nàng công chúa quyến rũ như hoa nhài, bé nhỏ và dễ yêu như hoa mimosa, ngọt ngào như nho đen Hy Lạp, tươi mát như Đào, Quýt, mái tóc nàng như kết toàn Chanh Yên và hoa Cam, đôi môi có nét kiêu kỳ hắc ám như loài Lan Nam Phi, đôi mắt màu cam vàng trong suốt đầy sự bí ẩn cao quý của hổ phách, làn da có chất mê hoặc của Xạ Hương, tuy vậy trong ánh mắt nàng lại chứa chất nét trong trắng ngây thơ như hoa Huệ và niềm đam mê tự do của Bồ Công Anh.<br>
<br>
<br>
Khi mang nàng đến cho nữ Thượng Tế mù ban nước thánh, mẹ nàng được bà ta cảnh báo, Poême là đứa con của Thần Uy, sau này sẽ xây lại cơ đồ, có một số phận dữ dội và gây ra biến động cho thời đại cũng như vương triều Lôm Côm. Nữ Thượng Tế lẩm bẩm mấy câu:"Hỏa Tinh và Thiên Vương Tinh giao thoa trong thế phương hóc hiểm gây ra cuộc tranh giành Thần Tố, Người sẽ nắm giữ Con mắt của Đế Vương tuân theo xúc cảm sâu xa nhất." Liền đó bà hộc máu tươi mà chết, chỉ kịp hối tiếc với Hypnôse hoàng hậu, ta vẫn còn chưa chạm đến được điều uy mãnh của Thần Tố, vẫn còn chưa nắm hết đường đi của Hoàng Đạo, nay buột miệng nói ra điều cấm kỵ, đến lúc phải lìa đời, Thần sẽ tái sinh ta trong hình hài khác.<br>
<br>
<br>
<br>
Poême lớn lên như một đóa Nhài, tỏa hương lặng lẽ nhưng nồng nàn trong bầu trời đêm đen của vương triều Lôm Côm, nàng hát bài ca ca ngợi tự do và lòng khao khát yêu thương, nàng sống như một con sói hoang dại, cô độc và dữ dội, sắc đẹp của nàng làm người ta đê mê và khao khát, nhưng nàng vô cùng tàn nhẫn. Poême sinh vào mùa đông, nàng thuộc chòm Thiên Hạt, nàng có huyết thống của loài Thiên Hạt thuần chủng, trong lòng đầy căm giận và độc ác.<br>
<br>
<br>
Vào năm nàng mười sáu tuổi, nhân một chuyến du ngoạn ngoại thành, nàng đã gặp một con người làm thay đổi lịch sử của Lôm Côm, tác động đến chính quá trình tỏa hương của nàng và đánh dấu một bước ngoặt cho cuộc đời Poême, khiến nàng trở thành Nữ Hoàng Đại Đế của truyền thuyết Lôm Côm. Đó là ai?<br>
<br>
<br>
<br>
Suỵt.<br>
<br>
<br>
(Đón đọc phần Vĩ tiếp theo)<br>
<br>
<br>
</div>