<div align="center">Một tiệm cafe 3 tầng. Với gió với nắng với một không gian phân mảng hài hoà.
Tự nhiên muốn giữ lại cho riêng chúng ta, tất thảy những cảm xúc khi ấy ").
<b>
Seven-color Sky - by Rei &amp; 
<span style="color: rgb(128, 192, 255);">Forest Fairy</span> @vnfic
</b>
</div>

<br>
<br>
<br>
<br>





<div style="text-align: center;">
<b>1.</b> Người đưa thư gõ cửa.<br>
<br>
<br>
<br>
<br>
Bạn có thư xa.<br>
<br>
<br>
<br>
<br>
Lá thư có cánh và trái tim.<br>
<br>
<br>
<br>
<br>
Có gió và vị nắng dễ chịu.<br>
<br>
<br>
<br>
<br>
Gửi bạn yêu thương và yên bình, Nơi ấy.<br>
<br>
</div>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);"><b>2. </b>Nhận được một cái hộp.</span><br>
<br>
<br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">được gói rất kĩ</span><br>
<br>
<br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">lắc</span><br>
<br>
<br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">lắc... lắc lắc... lắc lắc</span><br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">mở ra</span><br>
<br>
<br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">bên trong,</span><br>
<br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">Bình yên và an lành đang say ngủ.</span><br>
<br>
<br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">cười toe</span><br>
<br>
<br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">Cảm ơn bạn, bạn ở xa. </span><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div style="text-align: right;">
<b>3.</b> Ở đây có một tiệm đồ chơi. Màu kem.<br>
<br>
<br>
<br>
<br>
Có một nhà ảo thuật lang thang trên phố.<br>
<br>
<br>
<br>
<br>
Có chiếc cầu vắt ngang qua một con sông nhỏ.<br>
<br>
<br>
<br>
<br>
Có trái tim đang bay.<br>
<br>
<br>
<br>
<br>
Và... tớ  ^^.<br>
<br>
<br>
</div>
<br>
<br>
<div style="text-align: center;">
<span style="color: rgb(128, 192, 255);"><b>4.  </b>Tớ thấy tiệm đồ chơi đó</span><br>
<br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">trong đó có rất nhiều rối gỗ.</span><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">Qua lớp cửa kính</span><br>
<br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">Tớ thấy chúng đang xoay tròn</span><br>
<br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">và một con thỏ bông nâu nhỏ trong góc.</span><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">Tớ thấy cây cầu đó</span><br>
<br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">và dưới bầu trời cao, tớ thấy</span><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">Bạn.</span><br>
<br>
<br>
<br>
<br>
<br>
</div>
<br>
<br>
<br>
<br>
<br>
<b>5.</b> Hôm nay bầu trời có bảy màu dịu êm.<br>
<br>
<br>
<br>
<br>
Quán nước treo thêm những lẵng hoa mới.<br>
<br>
<br>
<br>
<br>
<br>
Có người bán hàng rong đang nghỉ bên đường.<br>
<br>
<br>
<br>
<br>
Hôm nay mây lửng lơ trên những mái nhà<br>
<br>
<br>
<br>
<br>
Và mùi hoa sữa chạy tung tăng khắp phố.<br>
<br>
<br>
<br>
<br>
Và, ly kem. Cũng bảy màu.<br>
<br>
<br>
<br>
<div style="text-align: center;">
<div style="text-align: right;">
<span style="color: rgb(128, 192, 255);"><b>6.</b> Tất thảy họ</span><br>
<br>
<br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">hoặc trò chuyện</span><br>
<br>
<br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">hoặc uống một cái gì đó</span><br>
<br>
<br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">hoặc ăn một cái gì đó</span><br>
<br>
<br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">hoặc chẳng làm gì cả.</span><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">Tất thảy họ đều ở trong một quán nước màu nâu nhạt</span><br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">Có những bông hoa màu nhỏ nhỏ</span><br>
<br>
<br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">Và họ, </span><br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">đều có</span><br>
<br>
<br>
<br>
<br>
<br>
<br>
<span style="color: rgb(128, 192, 255);">những màu sắc khác biệt.</span><br>
<br>
<br>
<br>
</div>
<br>
</div>
<br>
<br>
<br>
<br>
<div style="text-align: center;">
<b>7. </b>Áp tai vào tường và nghe im lặng trong đó<br>
<br>
<br>
<br>
<br>
Nhắm mắt lại để thấy màu ấm áp trong đó<br>
<br>
<br>
<br>
<br>
Và đưa tay lên đi<br>
<br>
<br>
Để biết gió mang gì đến làm quà tặng<br>
<br>
<br>
giữa nhân gian. Và phép màu.<br>
<br>
<br>
<br>
<br>
Bạn thân mến. <br>
</div>Forest Fairy<b>2. </b>Nhận được một cái hộp.được gói rất kĩlắclắc... lắc lắc... lắc lắcmở rabên trong,Bình yên và an lành đang say ngủ.cười toeCảm ơn bạn, bạn ở xa. <b>4.  </b>Tớ thấy tiệm đồ chơi đótrong đó có rất nhiều rối gỗ.Qua lớp cửa kínhTớ thấy chúng đang xoay trònvà một con thỏ bông nâu nhỏ trong góc.Tớ thấy cây cầu đóvà dưới bầu trời cao, tớ thấyBạn.<b>6.</b> Tất thảy họhoặc trò chuyệnhoặc uống một cái gì đóhoặc ăn một cái gì đóhoặc chẳng làm gì cả.Tất thảy họ đều ở trong một quán nước màu nâu nhạtCó những bông hoa màu nhỏ nhỏVà họ, đều cónhững màu sắc khác biệt.