<br>
<br>
<span style="color: #4B0082"><span style="font-size: 7pt;">Màu hường. Phát hiện ra vậy là mình còn khả năng viết những thứ màu hường. Viết vào ngày 14 tháng 2, một ngày trước ngày 15 và sau ngày 13 cùng tháng. Nến, đèn giăng, hay màu hồng hay mọi sự xứng hợp với ngày Valentine, tuyệt nhiên, chỉ là một "<i>Sự trùng lập tai họa</i>(*)".</span>
<br>
<br>
<center>* * *</center>
<br></span>
<br>
<br>
Nếu chỉ xóa đi riêng những thói quen về tôi, thì còn 31 phút nữa <em>em</em> sẽ dậy. <br>
Bây giờ, là 2h29 sáng rồi. <br>
<br>
<br>

<center>Suy cho cùng, tôi mất ngủ, là bởi vì trời nóng.<br> 
Chứ có phải là vì <em>em</em> đâu.</center>
<br>
<br>
<br>
Chỉ là, sau khi không ngủ được, mới nghĩ về <em>em</em>. Rõ ràng như vậy rồi, nghen. <br>
<br>
Đối xử với <em>em</em>, bất cứ điều gì cũng <em>nên</em> rõ ràng như vậy. <br>
<br>
<br>
<center>* * *</center>
<br>
<br>
<br>
Tử linh đăng bằng thủy tinh rất mỏng. Trong trong. Báo hại tôi cứ hay tưởng tượng lớp dát mảnh đó là pha lê. Mà pha lê, càng dễ vỡ hơn. <br>
<br>
<br>
Mùa đông, <em><em>em</em></em> mua Tử linh đăng, gói lại cẩn thận bằng giấy Vân long màu tím, thắt nơ xanh. Đ<em>em</em> bỏ vào một cái túi xách bằng nhựa trắng, cái túi to đến nỗi khi ép chặt hai quai lại mà xách lên, chẳng ai có thể thấy gì bên trong. Rồi tặng cho tôi. Gương mặt tôi giá lạnh. <br>
<br>
Vô ích thôi, không có một milimet-khối băng nào tan chảy. <br>
<br>
Mà này, <em>em</em>, cái này chẳng hợp với mùa đông một chút nào. <br>
<br>
<br>
<em>Thảo nào, băng không tan</em>. <br>
<br>
<br>
Mùa đông, thiệp Giáng Sinh tặng tôi, <em>em</em> thích ghi lời chúc lành bằng viết nhũ, ký tên hình một ngôi sao. <br>
<br>
<em>Em</em> đoan chắc tôi sẽ thích tấm thiệp <em>em</em> tặng. <br>
<br>
Trong khi tôi cứ trơ trơ. Rõ ràng đấy nhé. <br>
<br>
<br>
<em>Thảo nào, băng không tan.</em> <br>
<br>
<br>
<center>* * *</center>
<br>
<br>
<br>
Tôi từng nghĩ, nếu sau này viết cái gì liên quan đến <em>em</em>, nhất định phải có, ít nhất là một chương, được lấy tiêu đề như sau, <br>
<br>
<center>
<em>Em</em> và tôi và thơ dại và những sự-<em>Tình-cờ</em>.</center>
<br>
<br>
Nghe ngờ nghệch. Ngu ngơ. Vậy là đúng-chất rồi. <em>Chất</em> của <em>em</em>, không phải của tôi. <br>
<br>
<br>
Tôi cũng không hiểu nổi, khi chúng tôi còn nhỏ, Tình-cờ của tôi và <em>em</em> từ phương nào mà có thể tấp nập bay lại như vậy. Đến nỗi, có lần, trong lớp học, vào một ngày cuối năm rảnh rỗi, <em>em</em> còn lấy giấy ra ngồi liệt kê những sự-Tình-cờ đó nữa kia. <br>
<br>
Này, tôi còn nhớ gương mặt <em>em</em> lúc đó, lộ ra vẻ thú vị, hệt như đang chơi một ván ca-rô với những nước đi lắc léo trước một đối thủ đáng gờm. <br>
<br>
Này, tôi cũng còn nhớ màu mực hôm đó, nhũ xanh đàng hoàng nhé. <br>
<br>
<em>Em</em> đừng có mà quên. <br>
<br>
<br>
Có một Tình-cờ vào sáng thứ ba. <em>Em</em> ngồi sau chiếc xe kềnh càng của mẹ <em>em</em>, tôi thong thả đạp xe. Tôi tới trước. Mì của tôi bưng ra, ăn được hai gắp đũa rồi, <em>em</em> mới bước vào quán, đ<em>em</em> theo đôi mắt ngơ ngác nhìn tôi. <br>
<br>
<em>Em</em> cũng gọi mì, không nước tương, không ớt, không chanh. <br>
Khi đó, mẹ <em>em</em> chưa biết tôi là bạn học của <em>em</em>. <em>Em</em> ăn xong, đứng dậy vẫy tay tạm biệt tôi, đi trước. Tôi ngồi thong thả đến gắp cuối cùng, đứng dậy gởi tiền cho cô chủ quán, cô nói Mẹ của <em>em</em> đã trả rồi. <br>
<br>
Nhớ ra chưa, vậy đó, từ những ngày đầu, <em>em</em> đã chơi không đẹp rồi. <br>
<br>
<em>Thảo nào, băng không tan.</em> <br>
<br>
<br>
Khi <em>em</em> ăn bất kỳ món gì, mua từ bất kỳ nơi đâu, cũng không bao giờ nêm thêm gia vị. Mì của quán Tình-cờ-ngày-thứ-Ba đó rất lạt, không thực khách nào dùng mà không cho ít nhất là một lát chanh vào. Trừ <em>em</em>. <br>
<br>
Chủ quán bưng lên như thế nào, <em>em</em> cứ vậy mà dùng như thế đó. Nguyên văn <em>em</em> nói với tôi đấy nhé. <br>
<br>
Đôi khi tôi thắc mắc, không hiểu đến bây giờ, <em>em</em> đã làm chủ được khẩu vị của mình hay chưa. <br>
<br>
Cũng giống như, đôi khi trong bóng tối tôi thường thắc mắc, không hiểu đến bây giờ, nếu tôi để-cho <em>em</em> hiểu, thì liệu, <em>em</em> có hiểu được tôi hay là chưa. <br>
<br>
<br>
Hồi ấy, tôi thi thoảng lại nói với <em>em</em> những gì tôi vẫn chưa sẵn sàng để nói và không hiểu tại sao. Tôi đồ rằng, tại tuổi trẻ đấy. Bởi tại tuổi trẻ, mà tôi không thể tránh né năng lực đặc biệt của <em>em</em>. Để tôi nói <em>em</em> nghe cái mà tôi gọi là Năng lực đặc biệt của <em>em</em> ấy là gì, chớ <em>em</em> thì cũng chẳng biết đâu.
<br> 
<em>Em</em> có khả năng, làm cho người ta nếu tỏ ra nghiêm-nghị quá mức một chút thôi, thì sẽ có cảm giác như mình đang phạm phải một tội lỗi tày đình gì lắm vậy. <br>
<br>
Hậu quả là lần nào về đến nhà, tôi cũng phải tự tiến hành những cuộc chất vấn bản thân, xem khi nãy đã vô tình ăn hay uống phải loại chế phẩm từ men nào, lại tuôn ra những điều lẽ ra chỉ nên giữ lại riêng tôi như thế, với <em>em</em>. <br>
<br>
Mà chất vấn về men lại nghĩ tới rượu. Nghĩ tới rượu, là lại lò dò đến cái tủ cao cao, lôi chai rượu ra. Mà rượu đặt trước mặt rồi, là không thể không nghĩ tới <em>em</em>. <br>
<br>
Tại sao? <br>
<br>
Bởi vì chai rượu tôi tự mua đã hết lâu rồi. Bấy giờ, tất cả rượu cất trong tủ nhà tôi đều do <em>em</em> đem tới trong những chuyến trở về từ Thành phố Sương mù. <br>
<br>
Dòng chảy của rượu vào ly mang một màu đỏ rất trầm, và ấm. <br>
<br>
Thế nhưng, ai nói rằng nó sẽ làm tan chảy được những khối băng. Vốn trơ trọi ngàn năm, căm căm lạnh. <br>
<br>
<br>
<center>* * *</center>
<br>
<br>
<br>
Khi nãy, tôi đã nói về Tình-cờ, nhưng ấy là hồi còn nhỏ thôi. Thuở còn non dại. <br>
<br>
<br>
Khi Mẹ tôi bắt đầu khen <em>em</em> cười duyên. Tươi tắn. Khi <em>em</em> bắt đầu cười duyên rất duyên với tất cả những đứa con trai. Khi tôi bắt đầu sử dụng những ánh mắt có tác dụng thay cho cái nhếch môi với tất cả bọn chúng. <br>
<br>
<br>
Những bạn Tình-cờ ngày trước có ngược gió mà bay lại, thì giữa đường cánh cũng tả tơi. <br>
<br>
<br>
Khi tôi vẫn cứ lười lười nhác nhác trong việc hỏi han quan tâm <em>em</em>, đơn giản vì cái cảm giác nặng trịch tự đeo mang của mình. Khi <em>em</em> cũng đã nhận ra, nếu cho <em>em</em> một vốc thời gian ở cạnh tôi, <em>em</em> sẽ chỉ có thể làm một việc duy nhất, là đặt sự im lặng của mình, bên cạnh sự im lặng của tôi. <br>
<br>
Có lẽ, những bạn Tình-cờ ngày trước, khi đó, đã bắt đầu kiệt sức. <br>
<br>
<br>
Trước ngày thi cuối học kỳ năm cuối cấp, <em>em</em> nói với tôi muốn nghỉ học hai tuần, kéo lê cái lý do Ổn định tinh thần ngu ngốc ấy trên tay, mà tôi biết lại là dư chấn của thêm một lần Thậm xưng về quan hệ tình cảm. Cái giai đoạn giữa <em>em</em> và những đứa con trai, tôi coi là giai đoạn bạn-bè thì <em>em</em> lại xem là vô-cùng-xa-hơn-thế. <br>
<br>
Có lẽ, từ dạo ấy, những bạn Tình-cờ ngày trước, đã chết dần. <br>
<br>
<br>
<center>* * *</center> <br>
<br>
<br>
Này <em>em</em>, theo lẽ cái đứa sinh trước năm tháng phải là tôi. Tôi. Tôi. <br>
<br>
Nhưng nghĩ lại, cũng còn may, vì nếu như vậy, trông chúng tôi sẽ còn chênh-lệch nhiều hơn nữa. <br>
<br>
<br>
<em>Em</em> rộn rã với mùa hè của <em>em</em>. Hoa. Bong bóng màu hồng. Thú bông cỡ lớn ôm mỗi tối. và Ánh sáng. Ngập đầy trong mắt. <br>
Tôi với quang cảnh phủ tuyết bốn bề của riêng tôi, lặng ngắt như tờ. <br>
<br>
Tôi và cô đơn kết bạn với nhau, bình thản và điềm nhiên như thế. Thật tôi cũng không hiểu <em>em</em> còn mong gì hơn nữa. <br>
<br>
<br>
<br>
Mà quay đi. <br>
<br>
<br>
<em>Em</em> cuối cùng cũng đã thú nhận không còn chịu nổi sự tỉnh táo giản đơn của tôi. Khi <em>em</em> nói <em>em</em> đau. Khi tôi bảo <em>em</em> ngừng huyên thuyên về niềm vui của mình vì nó quá xa lạ với tôi. Khi tôi nhìn đời. Thật tôi cũng không hiểu tôi còn trông đợi điều gì. <br>
<br>
<br>
Mà chưa quay đi. <br>
<br>
<br>
<br>
Rồi cũng đến lúc tôi nhận ra rằng tôi đã hiểu, <br>
<br>
cho nên, <br>
<br>
tôi quay đi. <br>
<br>
<br>
<br>
<br>
Vì tôi chưa bao giờ trông đợi điều gì. Từ <em>em</em>. <br>
<br>
<br>
<center>* * *</center> <br>
<br>
<br>
Này <em>em</em>, <em>em</em> ăn mì mà ngay cả một giọt chanh cũng không vắt thêm vào. Như vậy, tôi gọi là lạt lẽo đấy <em>em</em>. Nhưng mà, vị giác của <em>em</em> có cảm nhận được đâu. <br>
<br>
Còn tôi, <em>em</em> thấy có kỳ quái lắm không, nếu mọi bữa ăn của <em>em</em>, tôi đều túc trực ở bên, chỉ để khiến cho nó trở nên đậm đà? Mà <em>em</em> cũng biết đấy, tôi không thể như thế. Sẽ có những bữa ăn của <em>em</em>, tôi đang mải miết leo lên triền đồi, theo đuổi Tự do. <br>
<br>
Này <em>em</em>, khi <em>em</em> ghi ngày sinh của tôi vào sổ, còn tôi ghi số điện thoại di động của <em>em</em> vào cái não với vùng Nhớ chật hẹp của tôi. <br>
<br>
Này <em>em</em>, khi <em>em</em> sợ bóng tối, ở bên cạnh và ôm <em>em</em> không phải là tôi vẫn được, <em>em</em> vẫn sẽ bình ổn mà thôi. <br>
<br>
Này <em>em</em>, khi <em>em</em> còn chưa kịp nhận ra, <br>
tôi gọi cảm giác khi chúng ta đối diện với nhau, là <em>phai nhạt</em>. <br>
<br>
<br>
Tôi nghĩ, trước khi nó biến thành <em>chán chường</em> hay <em>mỏi mệt</em>, tôi nên cất đi một mối dây liên lạc với thế giới. Mối dây mang giọng nói trong trẻo. Mối dây mang nụ cười tươi tắn. Mối dây mang rất nhiều ánh sáng. Của <em>em</em>. <br>
<br>
<br>
<br>
Tôi nghĩ, là làm. <br>
<br>
<br>
* * * <br>
<br>
<br>
Tôi là kẻ ra đi tùy-tiện. Khi đi, mang theo cảm xúc từ người khác, cũng rất tùy-tiện. Nên, tôi vẫn còn tự cho mình cái quyền, mang theo vẻ tươi tắn trong lành của <em>em</em>, khi <em>em</em> đi bên cạnh tôi dưới giăng giăng những dây đèn ngũ sắc một ngày tháng mười hai. <br>
<br>
Hằng đêm, tôi vẫn không lôi Tử linh đăng ra từ ngăn tủ. Tử linh đăng là một ngọn đèn thủy tinh dát mỏng, không tim, chẳng phương cách gì để nó thắp sáng được đêm đen. <br>
<br>
Điều này, khi <em>em</em> tặng tôi, <em>em</em> đã biết. Và tôi cũng biết. <br>
<br>
<br>
Thực ra, ngồi cảm nhận thân-tình từ bóng tối, tôi thấy mình được lấp đầy vừa đủ. Nhưng có thêm Tử linh đăng, tôi nhận ra mình có thêm một chút yên vui. <br>
<br>
<br>
Và trong những đêm mùa hè, nhìn vào Tử linh đăng im lìm chìm trong màn đen, tôi có thể nhìn thấy thấp thoáng trong lớp pha lê thanh thanh ấy, gương mặt thơ ngây <em>em</em>, với nụ cười tỏa rạng, dành cho tôi. <br>
<br>
<br>
<div align="right">06:20 AM <br>
<strong>14/02/2008</strong>
</div>
<br>
<br>
<br>
---
<br>
<br>
<span style="color: #4B0082">(*) Tên một cuốn truyện trinh thám kinh dị của tác giả Alfred Hitchcock trong bộ "Ba thám tử trẻ" tôi đọc khi còn nhỏ, xuất bản năm 1998 bởi NXB Trẻ.</span><span style="font-size: 7pt;">Màu hường. Phát hiện ra vậy là mình còn khả năng viết những thứ màu hường. Viết vào ngày 14 tháng 2, một ngày trước ngày 15 và sau ngày 13 cùng tháng. Nến, đèn giăng, hay màu hồng hay mọi sự xứng hợp với ngày Valentine, tuyệt nhiên, chỉ là một "<i>Sự trùng lập tai họa</i>(*)".</span>
<br>
<br>
<center>* * *</center>
<br>Màu hường. Phát hiện ra vậy là mình còn khả năng viết những thứ màu hường. Viết vào ngày 14 tháng 2, một ngày trước ngày 15 và sau ngày 13 cùng tháng. Nến, đèn giăng, hay màu hồng hay mọi sự xứng hợp với ngày Valentine, tuyệt nhiên, chỉ là một "<i>Sự trùng lập tai họa</i>(*)".(*) Tên một cuốn truyện trinh thám kinh dị của tác giả Alfred Hitchcock trong bộ "Ba thám tử trẻ" tôi đọc khi còn nhỏ, xuất bản năm 1998 bởi NXB Trẻ.