<b>Author:</b> Lee<br><b>Genres:</b> Oneshots/General<br><b>A/N: </b><br><br>.Phần lớn những gì ở đây đều đã rất cũ, có cả những thứ bản thân cũng quên mất nếu không lật nhìn lại.<br><br>.Ghi lại vì muốn trả cho bạn tôi những món quà đã xóa đi và giữ cho tôi cảm giác của những ngày còn ở nơi đó, những ngày thích cầm bút viết lung tung hơn là ngồi gõ bàn phím.<br><br><br>Nhắn bạn: mình sẽ để đây và không xóa nữa. Cám ơn bạn vì tất cả.<br><br><br><br><br><br><br><br><br><br><br><br><br><div align="center">
<h2><b>Sổ tay</b></h2>
<br>Lee<br>
</div>
<br><br><br><br><br><br><br><br><br><br><br><i>Tôi tìm thấy những điều mình đã bỏ quên.<br><br><br>Tất cả đều ở đây, những dòng chữ đầu tiên, thành phố tôi yêu và những ngày cũ.<br></i>