<span style="color:red"><i>Oneshot_Finished</i></span>

<br>
<br>
<br>
<strong>Author :</strong> wann<br>
<strong>Warning :</strong> shounen-ai<br>
<strong>Rating :</strong> T<br>
<strong>Pairing :</strong> TonHyuk<br>
<strong>Disclaimer :</strong> Nhân vật không thuộc về tôi.<br>
<br>
<strong>A/N :</strong> Là một món quà thật muộn. Bao nhiêu thời gian đã qua rồi kể từ lúc đó ? <br>
Thật muốn nói với cậu một lời xin lỗi. Là tôi viết cho cậu nhưng thứ cảm xúc này lại như hướng về nơi khác. Tôi chỉ là, muốn nói thật giản đơn, mừng sinh nhật cậu, <em>Zeanie</em>. Chúng ta sẽ còn nhớ đến nhau, neh ?<br>
<br>
<br>
<strong>Summary : </strong><br>
<br>
<em><span style="color: gray;">Tôi vu vơ hát thật chậm một bài hát dài chẳng kịp nhớ tên. Có những điều cố mãi rồi sẽ nhớ. Đã mất rồi sao còn quay lại ? Tôi khóc bẽ bàng tầm thường giữa phố đông người qua...</span></em><br>
<br>
<span style="font-family: Arial;"><div align="right">Tôi. Hoà. tan.<br>
<em>Đừng tuyệt vọng, tôi ơi... Đừng tuyệt vọng...</em>
</div>
<br>
<br>
<br>
***<br>
<br>
<span style="color: gray;"><em>Khi mà bóng tối phủ lên ánh mắt, đường chân trời nhoà tan, và ngày vụt tắt, tôi thật mới nhận ra, có những khắc dài chẳng thể nhớ nổi mình đã là ai...</em></span><br>
<br>
<br>
Tôi gặp anh, thật nhẹ nhàng và giản đơn cho những nhớ mong giải toả. Nhưng luôn luôn, một khoảng cách tồn tại. Thứ cảm giác thật xa... và thật gần. Nắng trải nhẹ về phía cuối cơn gió muộn màng. Hạ đã tiếp bước xuân mà xuất hiện từ rất lâu. Mùa hạ nắng lạ, mưa nhiều, ướt át triền miên mà khô đến cháy lòng. Mùa hạ không tôi, mùa hạ không ai, mùa hạ lặng lẽ chạm tay vào không khí.<br>
<br>
Trên cánh đồng dài những màu cỏ xanh thẫm đến nhức nhối không tan, tôi bước thật chậm, anh tiếp sau một bước. Thứ hư vô ngọt ngào không dung hoà được vào sự thật, như bầu trời hạ sầm sập ngột ngạt không rớt nổi thành cơn mưa. Thật tệ, tệ như tôi, như thứ cảm giác đang xâm chiếm tất cả... Tệ như những né tránh của anh và con người...<br>
<br>
<br>
Tôi cũng là người ? Có đúng không ?<br>
<br>
Ngước nhìn bầu trời rất sẫm nối theo màu cỏ, đưa tay che mắt mình, không chói chang, chỉ là cảm thấy rất tệ. Cái cảm giác không sao có thể gọi tên, như một khắc của ngày không cách nào đặt lên trang giấy toàn vẹn được. Chỉ hiểu rằng nó thật tệ. Tệ như một nỗi buồn, tệ như một sự lắng đọng quá mức, như xót xa, như đau và như có thể rơi lệ, tệ như một sự chảy trôi mải miết vô tình, muốn giữ lại mà luôn trượt ra... Và tệ nhất vẫn là không thể hiểu.<br>
<br>
<br>
Anh cũng là con người ?<br>
<br>
Làm sao đây ? Tôi phải nhìn anh như thế nào ? Phải nhìn anh bằng ánh mắt ra sao ? Phải để những xúc cảm gì xuất hiện, để những tiếng lòng nào lắng xuống ? Làm thế nào để tránh khỏi những tổn thương thật mơ hồ vô kể... <br>
Bởi vì tôi là con người, bởi vì anh là con người...<br>
<div align="right"><span style="color: gray;"><em>Những tiếng lòng xa xôi...</em></span></div>
<br>
<br>
<br>
Nỗi sợ hãi, cái trốn tránh vội vàng... <br>
<br>
Bắt đầu từ đôi mắt con người, bắt đầu từ trái tim con người... Tất cả đều từ những điều rất con người.<br>
Đến đây, tôi bật cười, vậy ra cái mối dây mỏng manh duy nhất giữa tôi và anh không xuất phát từ đó mà xuất phát từ cái ‘loài vật’ còn lại trong tâm sao ?<br>
<br>
<br>
À ~ không, có lẽ đấy lại là một cảm giác rất tốt, rất tốt và không tệ chút nào.<br>
Hoang dại và không phụ thuộc, tự do và phóng khoáng nhưng cũng rất dịu dàng, rất yên - như những mâu thuẫn nhỏ bình lặng.<br>
<br>
<br>
Thoáng cười nhẹ.<br>
Làm thế nào để tôi đến với anh ?<br>
Làm thế nào để con người đến với con người ?<br>
Dễ ở một số thời điểm và thật như không thể vượt qua ở một số thời điểm khác.<br>
<br>
<br>
Tôi và anh cũng là con người ?<br>
Vậy tại sao ?<br>
Bỗng ước gì có thể tan ra làm màu cỏ và bầu trời nơi đây. Nối tiếp nhau theo những màu xanh rất giống. Đợi một lúc nào đó đường chân trời nhoà tan và ngày sẽ vụt tắt, như là mơ một giấc mơ giữa đời thực.<br>
<br>
<br>
Tôi bước thật chậm. Cái chậm lại đầy khúc mắc của tấm lòng mình và thời gian. Chỉ là chờ một bước chân anh thôi mà sao lâu đến thế.<br>
<br>
Đưa tay và níu khẽ vạt áo anh. Tôi ngắm nhìn con người bên cạnh mình. Cái vẻ đẹp luôn khiến tôi ngỡ ngàng, luôn khiến tôi xúc động, vẻ đẹp không cách nào diễn giải thành lời. Tôi sẽ còn giữ được bao lâu, cảm giác này ? Học cách để nhớ, học cách để yêu thương và như bàng hoàng bất lực trước cái chia cắt con người.<br>
<br>
Đến bao giờ, tôi mới hiểu ? Có những người và những người không thể yêu nhau như giữa cánh đồng và áng mây, có ước mơ đến lúc chết cũng không thể gặp được phút giây đường chân trời nhoà tan thành quá khứ, mà chỉ biết theo gió, để nâng lên những hạt bụi không đến đích bao giờ.<br>
<br>
<br>
Thở ra nhè nhẹ.<br>
Cảm thấy bình tâm mà như bị xáo trộn khi nhìn vào đôi mắt ấy, cái xáo trộn rất tĩnh và dịu dàng, như mùa chuyển tiếp mùa giữa không gian.<br>
<br>
Ngày dài thuần túy.<br>
Trời thật đẹp. Nắng rất rộng và thi thoảng, gió rất dịu dàng - buông xuống.<br>
<br>
<br>
Buông tay, và những bước đi nối tiếp.<br>
Lần này là tôi bước sát sau. Như thế, tôi sẽ giống như là một kẻ đi hoang thích lùi lại trong vô thức. Cảm thấy rất ấm, sẽ rất nhanh để tan biến... khi bóng tối phủ trùm lên ánh mắt và con người trở về với loài người rất vội.<br>
<br>
<br>
Ngày mai.<br>
Ngày mai nữa... <br>
Có thể lúc đấy, tôi sẽ hiểu ra, vì sao mình lại ước mong lá cỏ và bầu trời xanh cùng một sắc và vì sao tôi luôn là kẻ ngoài cuộc giữa trò chơi pha trộn trên một bức tranh.<br>
Vì sao không thể đến với nhau... người và người...<br>
<br>
.<br>
.<br>
.<br>
<br>
Anh chạm vào tay tôi. Đưa tay và chạm rất khẽ và từ tốn giữ lại.<br>
<em>Thanh âm của sự tĩnh lặng này mang dáng vẻ gì ?</em> Không chắc là tinh tế, không chắc là tự do, tôi chỉ biết nó rất thanh và xanh màu thời gian đã cũ, thứ sắc màu không bao giờ tôi có được.<br>
<br>
<br>
Cố thả lỏng mình mà vẫn quá nhiều trói buộc quanh tôi. Thứ trói buộc con người, kẻ như tôi cũng bị vướng phải...<br>
Làm sao đây ? Tôi không dám nhìn thẳng vào mắt anh, chỉ biết tự vấn, nhìn bóng mình ngả dài tìm câu trả lời không tồn tại.<br>
<br>
Nắng vẫn rất xanh, gió xanh một màu bàng bạc và rất mát, màu xanh không chứa đựng tôi ở đó, màu xanh rất lạ.<br>
<br>
<br>
<span style="color: gray;"><em>...Đó là những ngày loài người không chạm đến được ánh Mặt Trời.</em></span><br>
<br>
<br>
Tôi buồn một nỗi buồn dài, thân quen, nhưng đau như hoàn toàn lạ lẫm. Nếu như trong ngôn ngữ của con người đừng tồn tại những nghĩa từ <em>“giá như”, “nếu như”,</em> có lẽ cũng sẽ chẳng còn nghĩa từ <em>“có lẽ”,...<br>
<br>
<span style="color: gray;">Như thế loài người sẽ ngừng đặt những giả thiết và bất cứ mối quan hệ, tình cảm nào cũng đều phân minh và rất thật.</span></em></span><br>
<br>
<br>
<br>
Tôi muốn chạy trốn loài người.<br>
Tôi muốn dừng lại ở đâu đó.<br>
Thật muốn dừng lại. Để không phải in lên những con đường dấu chân mình. Để không phải quên đi những hình ảnh cũ. Để không phải đánh mất một ngày...<br>
<div align="right"><span style="color: gray;"><em>Ngày cơn gió nhỏ cuốn tôi đi,<br>
bỏ rớt lại trời chiều mãi mãi.<br>
.<br>
.<br>
.</em></span></div>
<br>
<br>
Thật khập khiễng, tôi và màu xanh vô thức và anh.<br>
Màu xanh đẹp.<br>
Anh... đẹp.<br>
Đều là thứ vẻ đẹp làm tôi bật khóc khi nhìn thấy, thứ vẻ đẹp có thể làm tim người ta vỡ ra bất thần khi cảm nhận.<br>
<br>
<br>
Tĩnh lặng...<br>
Tất cả những gì tôi còn hiểu là nắng, là gió, là anh.<br>
Tất cả những gì tôi không bao giờ biết là nắng, là gió, là loài người.<br>
<br>
Tôi muốn nhìn sâu vào đôi mắt ấy những luôn thấy mình như bị đứng ngược sáng trong một không gian quá rộng. Rạng rỡ và tràn đầy. Tôi e sợ và rụt rè trước cảm giác đó.<br>
<span style="color: gray;"><em><div align="right">Thứ mà tôi không thể hiểu.<br>
Thứ mà anh không bao giờ sẻ chia.</div></em></span><br>
<br>
<br>
<br>
<span style="font-family: Arial;">Thật ước muốn mình là loài cá trốn tránh nơi đại dương sâu thẳm.<br>
Ở nơi đấy, dù đôi mắt có đẫm nước cũng không ai nhận ra, dù có thấm đầy nỗi buồn cũng không ai nhận thấy, bởi biển đã quá xanh một mình... Màu xanh có anh ở đó, màu xanh không thuộc về cỏ...<br>
<br>
<br>
Thật ước muốn mình là loài chim không bao giờ mỏi cánh, bay mải miết không thôi về phía bầu trời rất rộng.<br>
Luôn luôn được chở che, luôn luôn được bảo bọc, cho đến chết cũng không nhận ra cái quẩn quanh của phận đời quá nhỏ bé.<br>
<br>
<br>
Thật ước muốn mình là loài thiên thần giả dối. Bước đi, hay bay lên, hay lặn xuống, tất cả đều dẫn đến Chúa trời.<br>
Chỉ một cái nháy mắt đã không còn xiềng xích trói buộc. Trắng tinh khôi, không màu sắc, tự do, đẹp đẽ và mỉm cười.<br>
<br>
<br>
Thật ước muốn mình là loài người, để một ngày chợt hiểu ra, có những người không thể đến với những người, như tôi và anh... Dù vẫn là loài người.</span><br>
<br>
<br>
<br>
<span style="color: gray;"><em>Khi mà bóng tối phủ lên ánh mắt, đường chân trời nhoà tan, và ngày vụt tắt, tôi thật mới nhận ra, có những khắc dài chẳng thể nhớ nổi mình đã là ai...</em></span><br>
<br>
<br>
<span style="font-family: Arial;">Ví như là loài người.<br>
Thật muốn dừng lại ở một nơi nào đó...</span><br>
<br>
<span style="color: gray;"><em>Kết thúc.</em></span><br>
<br>
<br>
<span style="font-family: Arial;">[19.08.2006]</span><br>
<br>
<br>
---<br>
<br>
Chỉ là chút tản mạn cảm xúc, lúc viết không khúc mắc gì, không vội vàng gì, chỉ là nhẹ nhàng suy nghĩ nhưng hồ như có chút gì vẫn hẫng hụt.<br>
Thật xin lỗi cậu. Muộn màng như thế này...<i>Oneshot_Finished</i>Tôi vu vơ hát thật chậm một bài hát dài chẳng kịp nhớ tên. Có những điều cố mãi rồi sẽ nhớ. Đã mất rồi sao còn quay lại ? Tôi khóc bẽ bàng tầm thường giữa phố đông người qua...<div align="right">Tôi. Hoà. tan.<br>
<em>Đừng tuyệt vọng, tôi ơi... Đừng tuyệt vọng...</em>
</div>
<br>
<br>
<br>
***<br>
<br>
<span style="color: gray;"><em>Khi mà bóng tối phủ lên ánh mắt, đường chân trời nhoà tan, và ngày vụt tắt, tôi thật mới nhận ra, có những khắc dài chẳng thể nhớ nổi mình đã là ai...</em></span><br>
<br>
<br>
Tôi gặp anh, thật nhẹ nhàng và giản đơn cho những nhớ mong giải toả. Nhưng luôn luôn, một khoảng cách tồn tại. Thứ cảm giác thật xa... và thật gần. Nắng trải nhẹ về phía cuối cơn gió muộn màng. Hạ đã tiếp bước xuân mà xuất hiện từ rất lâu. Mùa hạ nắng lạ, mưa nhiều, ướt át triền miên mà khô đến cháy lòng. Mùa hạ không tôi, mùa hạ không ai, mùa hạ lặng lẽ chạm tay vào không khí.<br>
<br>
Trên cánh đồng dài những màu cỏ xanh thẫm đến nhức nhối không tan, tôi bước thật chậm, anh tiếp sau một bước. Thứ hư vô ngọt ngào không dung hoà được vào sự thật, như bầu trời hạ sầm sập ngột ngạt không rớt nổi thành cơn mưa. Thật tệ, tệ như tôi, như thứ cảm giác đang xâm chiếm tất cả... Tệ như những né tránh của anh và con người...<br>
<br>
<br>
Tôi cũng là người ? Có đúng không ?<br>
<br>
Ngước nhìn bầu trời rất sẫm nối theo màu cỏ, đưa tay che mắt mình, không chói chang, chỉ là cảm thấy rất tệ. Cái cảm giác không sao có thể gọi tên, như một khắc của ngày không cách nào đặt lên trang giấy toàn vẹn được. Chỉ hiểu rằng nó thật tệ. Tệ như một nỗi buồn, tệ như một sự lắng đọng quá mức, như xót xa, như đau và như có thể rơi lệ, tệ như một sự chảy trôi mải miết vô tình, muốn giữ lại mà luôn trượt ra... Và tệ nhất vẫn là không thể hiểu.<br>
<br>
<br>
Anh cũng là con người ?<br>
<br>
Làm sao đây ? Tôi phải nhìn anh như thế nào ? Phải nhìn anh bằng ánh mắt ra sao ? Phải để những xúc cảm gì xuất hiện, để những tiếng lòng nào lắng xuống ? Làm thế nào để tránh khỏi những tổn thương thật mơ hồ vô kể... <br>
Bởi vì tôi là con người, bởi vì anh là con người...<br>
<div align="right"><span style="color: gray;"><em>Những tiếng lòng xa xôi...</em></span></div>
<br>
<br>
<br>
Nỗi sợ hãi, cái trốn tránh vội vàng... <br>
<br>
Bắt đầu từ đôi mắt con người, bắt đầu từ trái tim con người... Tất cả đều từ những điều rất con người.<br>
Đến đây, tôi bật cười, vậy ra cái mối dây mỏng manh duy nhất giữa tôi và anh không xuất phát từ đó mà xuất phát từ cái ‘loài vật’ còn lại trong tâm sao ?<br>
<br>
<br>
À ~ không, có lẽ đấy lại là một cảm giác rất tốt, rất tốt và không tệ chút nào.<br>
Hoang dại và không phụ thuộc, tự do và phóng khoáng nhưng cũng rất dịu dàng, rất yên - như những mâu thuẫn nhỏ bình lặng.<br>
<br>
<br>
Thoáng cười nhẹ.<br>
Làm thế nào để tôi đến với anh ?<br>
Làm thế nào để con người đến với con người ?<br>
Dễ ở một số thời điểm và thật như không thể vượt qua ở một số thời điểm khác.<br>
<br>
<br>
Tôi và anh cũng là con người ?<br>
Vậy tại sao ?<br>
Bỗng ước gì có thể tan ra làm màu cỏ và bầu trời nơi đây. Nối tiếp nhau theo những màu xanh rất giống. Đợi một lúc nào đó đường chân trời nhoà tan và ngày sẽ vụt tắt, như là mơ một giấc mơ giữa đời thực.<br>
<br>
<br>
Tôi bước thật chậm. Cái chậm lại đầy khúc mắc của tấm lòng mình và thời gian. Chỉ là chờ một bước chân anh thôi mà sao lâu đến thế.<br>
<br>
Đưa tay và níu khẽ vạt áo anh. Tôi ngắm nhìn con người bên cạnh mình. Cái vẻ đẹp luôn khiến tôi ngỡ ngàng, luôn khiến tôi xúc động, vẻ đẹp không cách nào diễn giải thành lời. Tôi sẽ còn giữ được bao lâu, cảm giác này ? Học cách để nhớ, học cách để yêu thương và như bàng hoàng bất lực trước cái chia cắt con người.<br>
<br>
Đến bao giờ, tôi mới hiểu ? Có những người và những người không thể yêu nhau như giữa cánh đồng và áng mây, có ước mơ đến lúc chết cũng không thể gặp được phút giây đường chân trời nhoà tan thành quá khứ, mà chỉ biết theo gió, để nâng lên những hạt bụi không đến đích bao giờ.<br>
<br>
<br>
Thở ra nhè nhẹ.<br>
Cảm thấy bình tâm mà như bị xáo trộn khi nhìn vào đôi mắt ấy, cái xáo trộn rất tĩnh và dịu dàng, như mùa chuyển tiếp mùa giữa không gian.<br>
<br>
Ngày dài thuần túy.<br>
Trời thật đẹp. Nắng rất rộng và thi thoảng, gió rất dịu dàng - buông xuống.<br>
<br>
<br>
Buông tay, và những bước đi nối tiếp.<br>
Lần này là tôi bước sát sau. Như thế, tôi sẽ giống như là một kẻ đi hoang thích lùi lại trong vô thức. Cảm thấy rất ấm, sẽ rất nhanh để tan biến... khi bóng tối phủ trùm lên ánh mắt và con người trở về với loài người rất vội.<br>
<br>
<br>
Ngày mai.<br>
Ngày mai nữa... <br>
Có thể lúc đấy, tôi sẽ hiểu ra, vì sao mình lại ước mong lá cỏ và bầu trời xanh cùng một sắc và vì sao tôi luôn là kẻ ngoài cuộc giữa trò chơi pha trộn trên một bức tranh.<br>
Vì sao không thể đến với nhau... người và người...<br>
<br>
.<br>
.<br>
.<br>
<br>
Anh chạm vào tay tôi. Đưa tay và chạm rất khẽ và từ tốn giữ lại.<br>
<em>Thanh âm của sự tĩnh lặng này mang dáng vẻ gì ?</em> Không chắc là tinh tế, không chắc là tự do, tôi chỉ biết nó rất thanh và xanh màu thời gian đã cũ, thứ sắc màu không bao giờ tôi có được.<br>
<br>
<br>
Cố thả lỏng mình mà vẫn quá nhiều trói buộc quanh tôi. Thứ trói buộc con người, kẻ như tôi cũng bị vướng phải...<br>
Làm sao đây ? Tôi không dám nhìn thẳng vào mắt anh, chỉ biết tự vấn, nhìn bóng mình ngả dài tìm câu trả lời không tồn tại.<br>
<br>
Nắng vẫn rất xanh, gió xanh một màu bàng bạc và rất mát, màu xanh không chứa đựng tôi ở đó, màu xanh rất lạ.<br>
<br>
<br>
<span style="color: gray;"><em>...Đó là những ngày loài người không chạm đến được ánh Mặt Trời.</em></span><br>
<br>
<br>
Tôi buồn một nỗi buồn dài, thân quen, nhưng đau như hoàn toàn lạ lẫm. Nếu như trong ngôn ngữ của con người đừng tồn tại những nghĩa từ <em>“giá như”, “nếu như”,</em> có lẽ cũng sẽ chẳng còn nghĩa từ <em>“có lẽ”,...<br>
<br>
<span style="color: gray;">Như thế loài người sẽ ngừng đặt những giả thiết và bất cứ mối quan hệ, tình cảm nào cũng đều phân minh và rất thật.</span></em><em>Khi mà bóng tối phủ lên ánh mắt, đường chân trời nhoà tan, và ngày vụt tắt, tôi thật mới nhận ra, có những khắc dài chẳng thể nhớ nổi mình đã là ai...</em><em>Những tiếng lòng xa xôi...</em><em>...Đó là những ngày loài người không chạm đến được ánh Mặt Trời.</em>Như thế loài người sẽ ngừng đặt những giả thiết và bất cứ mối quan hệ, tình cảm nào cũng đều phân minh và rất thật.<em>Ngày cơn gió nhỏ cuốn tôi đi,<br>
bỏ rớt lại trời chiều mãi mãi.<br>
.<br>
.<br>
.</em><em><div align="right">Thứ mà tôi không thể hiểu.<br>
Thứ mà anh không bao giờ sẻ chia.</div></em>Thật ước muốn mình là loài cá trốn tránh nơi đại dương sâu thẳm.<br>
Ở nơi đấy, dù đôi mắt có đẫm nước cũng không ai nhận ra, dù có thấm đầy nỗi buồn cũng không ai nhận thấy, bởi biển đã quá xanh một mình... Màu xanh có anh ở đó, màu xanh không thuộc về cỏ...<br>
<br>
<br>
Thật ước muốn mình là loài chim không bao giờ mỏi cánh, bay mải miết không thôi về phía bầu trời rất rộng.<br>
Luôn luôn được chở che, luôn luôn được bảo bọc, cho đến chết cũng không nhận ra cái quẩn quanh của phận đời quá nhỏ bé.<br>
<br>
<br>
Thật ước muốn mình là loài thiên thần giả dối. Bước đi, hay bay lên, hay lặn xuống, tất cả đều dẫn đến Chúa trời.<br>
Chỉ một cái nháy mắt đã không còn xiềng xích trói buộc. Trắng tinh khôi, không màu sắc, tự do, đẹp đẽ và mỉm cười.<br>
<br>
<br>
Thật ước muốn mình là loài người, để một ngày chợt hiểu ra, có những người không thể đến với những người, như tôi và anh... Dù vẫn là loài người.<em>Khi mà bóng tối phủ lên ánh mắt, đường chân trời nhoà tan, và ngày vụt tắt, tôi thật mới nhận ra, có những khắc dài chẳng thể nhớ nổi mình đã là ai...</em>Ví như là loài người.<br>
Thật muốn dừng lại ở một nơi nào đó...<em>Kết thúc.</em>[19.08.2006]