<p class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 16pt;">Mối Tình Đầu</span><br>
<br><br>
</p>
<p class="MsoNormal" style="margin-bottom: 12pt;"><br>
<br>
“Nè, sao bà còn cô đơn hoài vậy? Không chán hả?”<br>
<br>
“Lớp 12 rồi, học không lo ở đó bồ bịch chi cho mệt.”<br>
<br>
“Bà cụ non!”<br>
<br>
“Kệ tui. Còn ông? Con nhỏ gì đó lớp 10 sao rồi, hình như hơn ba tháng rồi hả? Định để nhỏ phá kỷ lục?”<br>
<br>
“Ủa? Con đó tui say goodbye tháng trước rồi mà? Bộ chưa kể với bà hả?”<br>
<br>
“Never once!”<br>
<br>
“Sorry, chắc tui quên.”   <br>
<br>
“Làm tui tưởng có đứa cặp với ông nổi ba tháng.Vậy giờ là nhỏ nào?”<br>
<br>
“Một con lớp 11, chừng nào cua xong tui kể cho nghe.”<br>
<br>
“Ờ, coi chừng có ngày bị đá!”<br>
<br>
“Xìa, tui ko đá người ta thì thui chứ con nào dám đá tui mà lo. Mà bà cũng nên kiếm đại một thằng để nó đưa đón, lên đại học thì byebye, kiếm thằng khác cũng được mà!”<br>
<br>
“Thôi đi, tui ko lăng nhăng như ông.”<br>
<br>
“Còn nhớ nó hả?”<br>
<br>
“Ai chứ?”<br>
<br>
“Ai biết, một thằng nào đó ở Hà Nội!”<br>
<br>
“Xìa, dư hơi.”<br>
<br>
Tôi khuấy khuấy mấy viên đá trong ly trà trân châu. Cười khẩy. Tôi với Nghi học sát lớp nhau suốt năm năm tiểu học, lúc đó hai đứa chỉ biết đến mặt nhau chứ chả nói được câu nào. Cấp hai. Học chung. Hơi thân thân một chút, bởi cả hai cùng nghiện nặng truyện tranh. <br>
<br>
Rồi cấp ba, chung trường khác lớp, nhưng không hiểu sao tự nhiên lại thân thiết đến lạ. Hai đứa có thể thoải mái nói với nhau mọi chuyện, từ “trong sáng” đến “đen tối” nhất mà không lo bất cứ gì. Nếu nói Nghi là đứa hiểu tôi nhất thì chắc cũng đúng đến 99,99%.<br>
<br>
Thỉnh thoảng chúng tôi vẫn cùng đi uống nước. Và giờ đây, ngay lúc tôi đang định thư giản sau một tuần muốn nổ đầu với cả núi kiểm tra, Nghi lại nhắc đến hắn.<br>
<br>
==========<br>
Đầu lớp sáu, tôi chỉ biết mặt mỗi một con bạn học chung hồi tiểu học và Nghi. Tôi đang ngồi mơ màng thì bị cô chỉ định làm lớp-trưởng-tạm-thời. Nhưng ở đời con người ta khoái nhất là trò đùn đẩy trách nhiệm! Và một khi đã dính vào thì tôi bị ném từ tạm-thời lên chính-thức chỉ là chuyện sớm muộn. Thế đấy, bốn năm cấp hai chả có vẻ gì là dễ dàng của tôi bắt đầu.<br>
<br>
Và chẳng cần đợi chi lâu lắc, ngay tuần học đầu tiên tôi đã được nếm mùi  “lớp trưởng là đầy tớ của nhân dân”. Sổ đầu bài, thằng lớp phó học tập làm biếng, tôi phải lo. Ghi kích cỡ để lấy đồng phục thể dục, nhỏ lớp phó văn-thể-mĩ bỏ xó, tôi lãnh đạn. Chép thời khoá biểu, tôi chép. Danh sách lớp, tôi viết. Trả bài lần đầu, “Lớp trưởng!”. Thu học phí, “Lớp trưởng!”. Túm lại mọi chuyện từ tí hon đến khổng lồ đều đổ vào đầu tôi.<br>
<br>
Như sợ tôi chưa đủ khổ, trời còn quăng <span style=""> </span>xuống học chung với tôi. Giờ thể dục, hắn mang dép, cô nhắc nhở. Tiết kế, hắn vẫn vậy. Thế là “Lớp trưởng sao không nhắc nhở bạn?”. Bình thường cứ năm ngày học thì hắn không đeo huy hiệu hết bốn ngày, ngày thứ năm là do mượn … tôi! Lớp bị trừ điểm liên miên, cô phê bình hắn, dính luôn tới tôi. Đơn giản, vì tôi là lớp trưởng!<br>
<br>
Mà nào có phải tôi im lìm không nói năng chi, tôi nhắc hắn đấy chứ, còn cằn nhằn nữa là đằng khác. Hắn chỉ cười. Thằng cha bị đười ươi nhập hay sau mà đến chửi hắn hắn cũng cười. <br>
<br>
“Lớp trưởng bớt giận, mai nhớ mà!”<br>
<br>
Hắn nhớ? Nhớ tôi đi đầu xuống đất! Câu đó nghe đến nhàm cả tai rồi. Thật muốn lấy bao trùm hắn lại rồi tẩm quất một trận. Bình tĩnh! Tôi là lớp trưởng, không được quá khích!<br>
<br>
Rồi một ngày nọ tự nhiên hắn ngoan ngoãn hẳn ra. Đi học đúng giờ, quần áo chỉnh tề, bài vở đầy đủ. Thiệt hôm đó tôi tưởng bão đến cấp … mười ba! Hắn uống lộn thuốc hả? Nhưng kệ, nhờ thế mà đời tôi bình yên tí xíu. <br>
<br>
Một hôm, học bồi dưỡng về, tự nhiên thấy hắn đi bộ. Tôi vốn tốt bụng mà, chạy lại hỏi thăm hắn chút, rồi hổng hiểu sao lại cho hắn quá giang. Ra nhà hắn cũng chẳng xa nha tôi là mấy.<br>
<br>
Mà xe hắn sao hư lâu thế không biết, cả tháng trời hắn lẽo đẽo theo đi nhờ xe tôi ( dĩ nhiên hắn chở ) làm những cái đầu sâu bọ lúc nhúc trong lớp bắt đầu hoạt động. Công cuộc ghép đôi bắt đầu, và chủ điểm của tháng này là tôi và hắn. Xàm! Mặc xác bọn họ, tôi chẳng hơi đâu mà lo mấy vụ này! Nhưng hình như hắn rất để ý, mặc xác hắn luôn!<br>
<br>
Xe của hắn cũng đã đến lúc phải sửa xong. Dám cá thằng cha chủ tiệm là tay gà mờ, sửa có chiếc xe cũng mất cả tháng! Hôm nào phải hỏi hắn tiệm chả chỗ nào để biết mà tránh. Chà, nhưng tự nhiên đi - về có một mình cũng thấy buồn buồn.<br>
<br>
Tụi tôi đi xe riêng, ai dè mấy cái đầu đen hơn mực tàu ấy vẫn chưa chịu buông tha. Nào là nói tụi tôi “có tật giật mình”, rồi thì “cãi nhau hay sao mà mỗi người một nơi thế?”. Thật thán phục trí tưởng tượng của bọn họ. Có điều tôi vẫn không hiểu, riết rồi sao mỗi lần nghe chọc, tôi lại thấy … thích thích. Chắc dạo này học nhiều quá nên đầu óc tôi có vấn đề theo bọn họ luôn rồi.<br>
<br>
Giáng sinh, đột nhiên hắn nói thích tôi. Ban đầu tưởng hắn đùa. Nhưng rồi nhìn gương mặt nghiêm túc của hắn, tự nhiên cũng thấy nao lòng.<br>
<br>
Hôm sau, tôi nhận lời hắn. Trẻ con! Lớp sáu mà bày đặt yêu đương nhăn nhít. Tuy nhiên, có lẽ lúc đó tụi tôi yêu thật. Yêu nhau bằng thứ tình cảm trẻ con ngốc nghếch, mong manh hơn hoa giấy. <br>
<br>
Đương nhiên thứ tình cảm đó sẽ chả kéo dài được bao lâu. Valentine, người ta có đôi, tôi và hắn chia tay. Vì một lý do nhảm nhí nào đó mà có cố vắt óc ra cũng chả nhớ nổi. Kệ. Tụi tôi chia tay mà không đứa nào mở miệng nói đến một lời. Cãi nhau. Giận. Rồi đường ai nấy đi. Tự hiểu.<br>
<br>
Từ đó, hai đứa chẳng nói gì với nhau cả, chỉ khi thật cần thiết mới mở miệng mà thôi.</p>
<p class="MsoNormal" style="text-align: right;" align="right"><em>Yêu đương trẻ con. <br>
<br>
Giận hờn trẻ con.<br>
<br>
Và chia tay trẻ con.</em></p>
<p class="MsoNormal" style="margin-bottom: 12pt;"><br>
Chẳng ai để ý, nhưng đã ba năm trôi qua. Trời xui đất khiến sao mà học thêm tụi tôi lại ngồi kẻ trên người dưới. Và lúc này xuất hiện thêm nhân vật mới. Đó là Huy, ngồi cạnh tôi. Huy hay chọc cho tôi điên lên. Theo lẽ thường thì mọi người nghĩ Huy thích tôi, và chắc hắn cũng thế, tự nhiên hắn bắt chuyện với tôi. Tôi thì vô tư thôi, bạn bè mà, nói vài câu có mất miếng thịt nào đâu mà lo. Nhưng hắn lạ lắm, cứ nói nào tôi là “vợ” hắn, rồi đủ chuyện trên trời dưới đất. Chỉ là không hiểu sao tôi không thấy giận, mà thấy vui vui.<br>
<br>
Bữa nọ, con nhỏ bạn thân của hắn tự nhiên hỏi tôi <br>
<br>
“Bà nghĩ sao nếu thằng tóc quăn (biệt danh của hắn) muốn nối lại tình xưa với bà?”<br>
<br>
Tôi cười khẩy, nhúng vai ra vẻ không tin. Không tin hắn hay không tin vào những tình cảm trong lòng mình? Hay là không dám? Tôi vẫn chưa tìm được  một câu trả lời.<br>
<br>
Gần cuối năm, những nhân lười chảy thây lớp tôi cũng bắt đầu chịu ôm lấy cuốn tập. Thi tốt nghiệp mà, sao không lo cho được? Hắn vẫn cứ thế, vẫn chọc ghẹo tôi, cả Huy cũng vậy. Tôi tuy học bù đầu, nhưng cũng dần nhận ra một thứ gì đó bắt đầu nảy nở trong lòng. Rất chậm, chỉ có điều đến khi nhìn lại, nó đã nhú lên những cái chồi non xanh mơn mởn tự lúc nào. Tôi định nói với hắn về cái mầm non đó sau khi tốt nghiệp.<br>
<br>
Hắn sắp chuyển trường, ba ngày sau khi thi tốt nghiệp hắn sẽ đi. Tôi là người biết cuối cùng trong lớp. Tôi cười cay đắng, tự nhiên thấy lòng hơi nhoi nhói. </p>
<p class="MsoNormal" style="text-align: right;" align="right">Tôi gọi điện cho hắn. <br>
Sáng. <br>
Hắn không có nhà. <br>
Trưa. <br>
Không. <br>
Chiều. <br>
Cũng không. <br>
Tối. <br>
Vẫn chưa về.</p>
<p class="MsoNormal" style="margin-bottom: 12pt;"><br>
Tôi nói lời cám ơn lịch sự với nhỏ em hắn rồi gác máy. Đã chín giờ mười lăm. Tôi chán ngán bước vào phòng ngủ. Co người, cắn chặt mềm, thấy tai mình ù đi, nhưng thỉnh thoảng vẫn vang vọng đâu đó trong lòng tiếng nấc, sáng ra bỗng thấy mắt mình đỏ hoe.<br>
<br>
Năm giờ sáng hôm sau, tôi yên vị trên xe tiến về Châu Đốc cùng ba và các dì, dượng. <br>
<br>
Cố kìm tiếng nấc.<br>
<br>
Lén gạt đi cái gì đó ươn ướt trên mi. <br>
<br>
Mười một giờ, tôi mượn di động của ba gọi cho hắn... Mới biết hắn đã đi... <br>
<br>
...Tôi vẫn chưa nói lời từ biệt!<br>
<br>
Tôi ngồi trên mõm đá, tận hưởng làn gió núi mát đến lạnh người. Tiếng lá xạc xào như tiếng khóc. Tôi không khóc. Tự nhiên tôi có ý nghĩ hơi ngu ngốc. Biết đâu gió sẽ mang lời chào của tôi đến hắn?<br>
<br>
“Tạm biệt.”<br>
<br>
Tôi khẽ thì thầm. Tôi không khóc. Chỉ có mây khóc. Gió khóc. Và lá khóc. Mưa ở núi đến nhanh hơn cả gió. Tôi vội chạy vào xe. Trời đang khóc đấy, không phải tôi. </p>
<p class="MsoNormal" style="text-align: right;" align="right"><em>Mối tình đầu là mối tình hay dang dở<br>
Kỷ niệm đầu là kỷ niệm khó phôi phai</em></p>
<p class="MsoNormal" style="margin-bottom: 12pt;"><br>
Tôi đậu vào trường chuyên nổi tiếng nhất tỉnh và cùng lớp với năm đứa bạn cũ. Dạo cuối năm tôi đã quá bận rộn với kỳ thi cùng những tình cảm rối tinh rối nùi trong lòng nên không để ý đến sự thân thiết đột ngột và đặc biệt của hắn với Minh. Giờ đây thì tôi biết. Lại là người biết cuối cùng nữa. Hắn và Minh yêu nhau. Ha, và ngay trong khoảng thời gian miệng hắn vẫn cứ gọi tôi vợ này vợ nọ.<br>
<br>
Đêm đó tôi khóc, rồi không hiểu sao sau đó chẳng thể rơi nổi thêm giọt lệ nào. Chẳng bao lâu sau, hắn và Minh chia tay. Phải, tình yêu vượt hàng ngàn cây số chỉ có thể tồn tại bền vững trong thời chiến! Tôi biết chuyện. Không vui cũng không buồn. Giờ đây mỗi lần nghe tên hắn, tôi không còn thấy lòng quặn thắt như lúc đầu nữa. Chỉ một chút gợn sóng nhè nhẹ còn sót lại. Dần dần cũng nhạt phai. <br>
<br>
Mầm non trong lòng tôi đã ngập trong nước mắt, úa tàn kể từ ngày chuyện của Minh và hắn đến tai tôi. Vương vấn? Không. Nhưng cũng phải nhớ một chút, vì đứa em họ mới chào đời của tôi được mẹ nó gọi bằng cái tên của hắn.<br>
<br>
Lòng tôi chai sạn. Tôi không còn tin vào tình yêu. Đặc biệt từ lúc Huy có bạn gái mới chỉ trong vòng một tuần sau khi bị tôi từ chối.Tôi không luyến tiếc Huy, vì chỉ coi Huy là bạn. Nhưng chuyện đó cũng khiến tôi có chút nghĩ suy, thật người ta có thể dễ dàng quên đi kẻ mình đã theo đuổi suốt hai năm trời? Vậy đâu mới là tình yêu đích thực? Tôi không biết câu trả lời, đành tự giẫm nát những mầm non vừa manh nha trong lòng.</p>
<p class="MsoNormal" style="text-align: right;" align="right"><em>Trốn tránh tình yêu ...</em></p>
<p class="MsoNormal"><br>
==========<br>
“Nè bà, nghĩ gì mà mặt ngu ra dzậy? Bộ nhớ hắn thiệt hả?”<br>
<br>
“Con khỉ. Nhớ ông á!”<br>
<br>
“Wah, vinh hạnh vinh hạnh. Mà cũng tội bà, lần đầu yêu lại gặp gã bắt cá hai tay.”<br>
<br>
Nghi trêu tôi. Tôi nhìn lại bằng ánh-mắt-hình-viên-đạn. Thiệt tình, tự nhiên nhớ chuyện đâu đâu. Mấy viên đá đã hoà mình vào nước, giờ chỉ còn thứ chất lỏng màu nâu nhạt sóng sánh nơi đáy cốc.<br>
<br>
“Ê, nghe nói bà mới giết một thằng nữa hả?”<br>
<br>
“Giết gì? Nói như tui là sát nhân hàng loạt không bằng.”<br>
<br>
“Thì tên Dương hay Dê gì đó bên lớp Lý, bà từ chối nó coi như bóp nát trái tim nó rồi, sống sao nổi?”<br>
<br>
“Xìa, không yêu thì nói không yêu thôi.”<br>
<br>
“Thằng đó tuy không đẹp trai bằng tui nhưng nó giàu, học giỏi, bỏ hổng uổng hả?”<br>
<br>
“Tui không như ông đâu. Mà cũng nhờ ông cả đấy thui!”<br>
<br>
“Tui sao?”<br>
<br>
“Nhờ có thằng bạn lady-kill như ông mà tui mất lòng tin ở bọn đàn ông. Phải cám ơn ông nhìu nhìu.”<br>
<br>
“Bà đổi sang họ đổ tên thừa rồi hả?”<br>
<br>
Tôi cười. Nói chuyện với Nghi thấy rất vui và thanh thản. Dù thỉnh thoảng cậu ta lại nhắc đến những chuyện tôi muốn quên.<br>
<br>
“Này!”<br>
<br>
“Gì nữa?”<br>
<br>
“Tuần sao nó về chơi.”<br>
<br>
“Nó nào?”<br>
<br>
“Ai biết, một thằng nào đó từ Hà Nội.”<br>
<br>
Nghi huýt sáo ngó lơ. Nghi là đứa rõ hết mọi chuyện, kể cả những tình cảm mà tôi đã-từng dành cho hắn. Tụi tôi thân mà. Nghi biết mọi chuyện của tôi. Và tôi biết mọi chuyện của Nghi.<br>
<br>
Vậy là hắn sắp về?<br>
<br>
==========<br>
<br>
Miền Nam chỉ có hai mùa mưa nắng, nhưng Tết cũng mang được chút đặc trưng riêng của nó. Tôi hơi rùng mình trước cái lạnh mà cơn gió vừa lướt qua đã mang theo. Nghi chở tôi dọc qua những ngã đường quen thuộc. Nếu không phải xe hư bất tử tôi đã tự đi một mình. Đích đến là quán trà trân châu “Dì 9” mà không một 8X – 9X nào ở cái thị xã này không biết. Hôm nay ở quán đó sẽ có chút khác lạ, có một bọn học sinh họp mặt ở đó. Và có hắn!<br>
<br>
“Gì mà bà im lìm dữ dzậy?” <br>
<br>
“Chứ nói gì dzờ?”<br>
<br>
“Hồi hộp không?”<br>
<br>
“Why?”<br>
<br>
“Lát sẽ gặp nó.”<br>
<br>
“Tầm phào, tài xế thì lo chạy xe đi.”<br>
<br>
Tôi đấm vào lưng Nghi. Một cánh hoa nào đấy rơi trên lưng cậu, tôi gỡ lấy, đột nhiên nghĩ vẩn vơ<br>
<br>
“Nè ông, nếu mối tình thứ hai của mình cũng cùng người với mối tình thứ nhất, vậy nó có được tính là mối tình đầu luôn không?”<br>
<br>
“Đi mà hỏi ông trời!”<br>
<br>
Tôi buông cánh hoa. Như thế được không? Gặp lại hắn, liệu có một gợn sóng nhỏ nào vỗ được vào bờ tim tôi? Tình đầu có dễ phôi phai? <br>
<br>
Những mầm non tôi đã giẫm nát, có còn hạt giống nào dám vì hắn mà vươn lên? Có còn đủ sức đưa hắn đứng vào vị trí của cả hai mối tình trong lòng tôi. Một kẻ như hắn đáng để tôi luyến tiếc?<br>
<br>
Trong tình yêu không tồn tại “đáng” hay “không đáng”, chỉ có yêu hoặc không mà thôi!<br>
<br>
Vậy à?<br>
<br>
<em>Thế khi gặp lại hắn, lòng tôi có xuyến xao?</em><br>
<br>
Vòng xe quay đều. Khoảng cách dần ngắn lại. Con tim sao vẫn thấy rất xa …<br>
<br>
</p>
<p class="MsoNormal" style="text-align: center;" align="center"><strong>[End]</strong></p>
<p class="MsoNormal"> </p>Mối Tình Đầu 