<p><b>Title:</b> Đã từng và Sẽ</p>
<p><b>Author:</b> SpiritsFlame @ AO3</p>
<p><b>Translator:</b> archeklein</p>
<p><b>Permission:</b> http://spiritsflame.tumblr.com/post/25823248470</p>
<p><b>Disclaimer:</b> lại một lần nữa, bọn khỉ này là của cụ Stan chứ không phải của tôi ._.</p>
<p><b>Pairing:</b> Steve/Tony, Erik/Charles</p>
<p><b>Genre:</b> romance</p>
<p><b>Rating:</b> PG</p>
<p><b>Link fic gốc:</b> http://archiveofourown.org/works/257616</p>

<p><i>Unbeta-ed. Sẽ update chừng nào có người beta cho 8"D</i></p>
<p></p>
<p></p>
<p></p>
<div align="center">~*~*~*~*~*~*~*~</div>
<p></p>
<p></p>
<p>
    Charles Xavier, như nhiều người đều biết, hết sức kiên nhẫn. Đức tính này qua rất nhiều năm mới có được, với những tháng ngày liên tục lắng nghe suy nghĩ
    và tiếp nhận xúc cảm của người khác, để biết lúc nào nên phản ứng hay chỉ cần cười xòa và giả bộ không để ý.
</p>
<p>
    Nhưng thật tình, chỉ thêm một ngày nữa ở Tháp Avengers thôi anh sẽ phát điên lên mất. Và bằng cách nào đó đàng hoàng và nghiêm chỉnh, tất nhiên.
</p>
<p>
    Anh chỉ mới đến đây được một tuần, đại khái như một cuộc thăm viếng xã giao mà Hank McCoy đã đặt vấn đề và Charles hoàn toàn đồng thuận. So với công việc
    hàng ngày của anh, đây đáng ra phải coi như một kỳ nghỉ đúng nghĩa.
</p>
<p>
    Tuy vậy, vẫn có cái gì đó nhói đau và tuyệt vọng không lý giải nổi mỗi khi anh nhìn Steve Rogers đứng bên Tony Stark.
</p>
<p>
    Chẳng cần phải dùng đến ngoại cảm Charles nghĩ anh cũng thừa sức để ý thấy hai người họ đang yêu. Từ những ánh mắt thích thú các thành viên Avengers khác
    trao đổi với nhau, họ chắc chắn cũng đã biết. Một số việc – những thứ đầy trên TV hay mặt báo – có thể coi như tình bạn đơn thuần, giả sử như cách Captain
    America hầu như chỉ nhờ đến Iron Man mỗi khi cần di chuyển trên không, hay cách mỗi lần chiến đấu dưới mặt đất họ đều lưng đối lưng, đặc biệt để ý đến hành
    động của đối phương.
</p>
<p>
    Nhưng anh còn nhận ra nhiều điều nữa, ngay từ ngày đầu tiên gặp họ. Steve, trong vòng nhận thức ban đầu của Charles, là người duy nhất lôi được Tony ra
    khỏi phòng làm việc, và hầu như trưa nào cũng xuống đó với sandwich và lon soda trên tay.
</p>
<p>
    Hình ảnh đó chỉ khiến Charles luyến tiếc nhớ về những ngày đầu ở tòa Biệt thự, khi Beast vẫn là Hank, khi Havok vẫn là Alex, và Alex thường mò đến nơi Hank
    làm việc kéo cậu đi tập luyện hoặc mang theo đồ ăn những lần Hank quên mất.
</p>
<p>
    Charles không tới Tháp Avengers có chủ đích dính dáng đến ai hết, nhưng anh đã ở đó khi toàn đội mới làm nhiệm vụ trở về - ai cũng bầm dập tuy không quá tệ
    - và đã thấy cái kiểu rõ buồn cười của Steve và Tony, quanh quẩn gần nhau suốt mà vẫn cố tỏ ra không phải cố tình.
</p>
<p>
    Xem cách những người còn lại nhìn họ ngán ngẩm thì chuyện này chẳng mới mẻ gì. Anh thậm chí đã nghe thấy Peter nhắc đến họ bằng 'Bố' và 'Mẹ', lại một lần
    nữa khiến Charles hồi tưởng đến những khi Raven cùng Alex nói y hệt về anh và Erik.
</p>
<p>
    Đôi khi Steve thành công xách được Tony xuống bếp ăn tối (mà không trốn đi mua burger với nhau, việc dù Charles mới ở đây có một tuần đã xảy ra những hai
    lần) họ đều ngồi cạnh nhau, ghế đặt hơi quá sát (thật quen thuộc biết bao, anh có thể nhớ rõ cảm giác Erik ngồi bên anh, ống tay áo mỗi lần cử động đều cọ
    vào nhau sột soạt, và Erik luôn nghiêng người về phía anh để với lấy lọ muối dù nắp lọ làm bằng kim loại).
</p>
<p>
    Tony tỉnh bơ cướp đồ ăn từ đĩa của Steve, còn Steve chỉ làm bộ thờ ơ gạt đi. Trái tim Charles như bị bóp nghẹt khi thấy lại hình bóng chính mình bao nhiêu
    năm trước trong hai người họ.
</p>
<p>
    Thỉnh thoảng họ lại ra ngoài tới hàng tiếng sau mới quay lại, và những lúc Steve cho cả sandwich vào chiếc túi mang theo họ còn đi lâu hơn nữa. Charles lại
    nhớ đến những ngày anh cố nhồi nhét bằng được bữa trưa cho hai người, khăn trải lót và bộ cờ vua vào chiếc giỏ cũ của mẹ mình.
</p>
<p>
    Họ khiến anh nhớ Erik vô cùng, nhớ đến thắt ruột rằng anh cũng từng nhìn Erik với ánh mắt thương yêu đó, và hy vọng (nhưng không bao giờ tin) rằng những
    khoảnh khắc như vậy sẽ tồn tại mãi mãi, rằng chỉ hai người họ có ý nghĩa mà thôi.
</p>
<p>
    Một ngày anh bắt gặp Steve đang vẽ, và dù Steve đưa anh xem bức tranh không chút ngượng ngùng, Charles vẫn không khỏi cảm thấy anh đang xem một thứ hết sức
    riêng tư, bởi trong mỗi nét vẽ đều chứa đầy tình cảm. Chỉ là một khung cảnh đơn thuần: Tony ngồi trên ghế, dụng cụ trong tay, miệng khẽ cười cúi đầu xuống
    sửa một phần bộ giáp - Charles dám cược rằng Steve không hề biết mình đã vẽ bức tranh này chân thành đến mức nào.
</p>
<p>
    (Charles có một ký ức đáng xấu hổ mà anh thà chết chứ không bao giờ thừa nhận với ai, về những khi ngồi bên Erik cạnh lò sưởi nói chuyện không đâu và ước
    rằng anh có thể vẽ, để tự mình lưu lại ánh lửa hắt lên cằm Erik và nét hiền hòa trong mắt cậu ta.)
</p>
<p>
    Cảm xúc - có lẽ - là tệ nhất. Charles luôn gắng giữ vững lá chắn tâm lý khi ở gần những người khác- áp lực từ ý nghĩ của quá nhiều người nếu anh không
    chuẩn bị trước có thể sẽ mạnh quá sức kiềm chế, và đằng nào thời này đọc suy nghĩ mà không được đồng ý trước cũng bị coi là vô duyên rồi. (Anh nhớ biết bao
    cái ngày người ta còn không biết- không chút nghi ngờ gì anh).
</p>
<p>
    Dù vậy, anh vẫn cảm nhận được tình cảm ấm áp tỏa ra từ hai người họ, đến mức anh như ngập chìm trong đó - thứ tình cảm sẵn sàng dâng hiến mạnh mẽ đến xúc
    động và đau đớn. Charles không phải loại người ghét bỏ những kẻ đang yêu chỉ vì anh đã để tuột nó khỏi tay, nhưng mỗi lần tình yêu tràn lan quanh anh như
    vậy, anh không khỏi nghĩ về những gì mình chẳng bao giờ có thể chạm tới.
</p>
<p>
    Suy nghĩ cũng như cảm xúc của hai người họ không hề đơn giản, hẳn rồi, đâu ai là đơn giản. Xen lẫn vào tất cả những yêu thương đó là cam chịu, là thất bại,
    là cô đơn và niềm hy vọng mỏng manh mà anh ngờ rằng cả hai đều không nhận thấy. Bản chất của con người sống là để hy vọng, đó là một trong những điều anh
    thích ở cả người thường và dị nhân, rằng đến những người sợ hãi quá nhiều (như Erik, Erik đáng thương của anh) trong họ cũng vẫn còn hy vọng.
</p>
<p>
    Anh đã nghĩ đó chính là điều đã đưa Erik đến với họ nhiều năm trước, chính là niềm hy vọng Charles và tất cả bạn bè sẽ giúp anh đánh bại Shaw. Và sự thật
    rằng mọi sự đã xảy ra như vậy chẳng giúp Charles thư thái hơn chút nào những đêm trắng theo sau đó.
</p>
<p>
    Giữa cuộc viếng thăm của mình anh cứ thắc mắc hai người kia còn lo lắng điều gì khi cảm xúc của hai bên đều đã rõ rành rành như vậy. Thắc mắc xem nỗi sợ
    nào đã che mắt họ khỏi những gì người kia nghĩ. Anh thậm chí còn không ngại ngùng gì khi nhìn tới bên trong để tìm hiểu, không hề, khi trong mỗi giấc mơ
    của anh đều có mơ ước và khao khát của họ tuôn trào tới (Hank đã dựng hẳn cho anh một căn phòng ở tòa Biệt thự có tác dụng tương tự chiếc mũ của Erik. Nó
    lọc những mơ mộng của đám học viên để chỉ những điều đáng quan tâm đến được với Charles, nhưng ở Tháp Avengers thì lấy đâu ra điều kiện như thế.)
</p>
<p>
    Anh khá hài lòng - và vô cùng nhẹ nhõm - vì những giấc mơ của Tony và Steve không phải lúc nào cũng lên đến mức không-nên-kể-ra (dù thỉnh thoảng cũng có và
    nếu anh còn trẻ có lẽ sẽ phải khó khăn lắm mới nhìn thẳng được vào mắt họ, nhưng thực tế anh trải qua quá nhiều thời gian quanh đám thanh thiếu niên nên đã
    khó có thể bận lòng bởi những chuyện như vậy nữa rồi).
</p>
<p>
    Steve hay mơ về giọng nói của Iron Man đánh thức cậu khỏi giấc ngủ lạnh băng, dù thường là nụ cười của Tony Stark chào đón cậu tỉnh dậy thay vì chiếc mặt
    nạ đỏ vàng mà Charles biết trong thực tế.
</p>
<p>
    Tony lại mơ về cảnh được đưa Steve bay đi thật lâu, cả hai đều trong chiến phục của mình, cứ thế chỉ xuyên qua thành phố không rõ điểm đến cũng không gì
    ngăn cản.
</p>
<p>
    Hai người họ đều mơ đến những thứ có thể khiến kẻ khác phải ngượng, nhưng lại đều sợ mất người kia nhiều đến mức giữa những giấc mơ yên bình cũng không
    thiếu gì ác mộng chen ngang.
</p>
<p>
    Và vậy là Charles điềm nhiên ngó trộm đôi chút, Erik vẫn nói anh tọc mạch chẳng kém ai mà- dù anh ưa hai chữ <i>tò mò</i> hơn.
</p>
<p>
    Thực ra sự sợ hãi của họ rất... ừ thì, Charles không nỡ dùng từ <i>vớ vẩn</i> bởi với người trong cuộc chúng có thể là tất cả, nhưng đại khái chúng lệch
    lạc và nhỏ bé hơn nhiều so với những gì Charles vẫn coi là gánh nặng chắn giữa anh và Erik.
</p>
<p>
    Tony sợ rằng Steve straight, rằng anh sẽ kéo Steve xuống vũng lầy cuộc đời mình. Anh sợ qua lại với anh sẽ bằng cách nào đó vấy bẩn Steve, và sẽ khiến
    những người còn lại không còn kính trọng đối với sự lãnh đạo và chỉ huy của họ nữa.
</p>
<p>
    Steve sợ rằng Tony sẽ cảm thấy cậu đáng chán, rằng đứng bên cạnh những cô gái xinh đẹp yêu kiều Tony từng hẹn hò, Steve sẽ tỏ ra vụng về và bối rối. Cậu lo
    mối quan hệ đó sẽ phá hoại sự liên kết toàn đội. Cậu sợ - hết sức ngớ ngẩn - rằng kẻ thù sẽ sử dụng nó chống lại họ.
</p>
<p>
    Cả hai đều sợ rằng họ sẽ mất đi tình bạn giữa đôi bên, vì ý nghĩ chỉ một lời bày tỏ thôi cũng có thể đập tan mọi thứ, và vì là bạn chắc chắn tốt hơn nhiều,
    chỉ là hai người bạn thân để có thể chạm lấy nhau, nói chuyện với nhau và đi ăn tối mỗi khi cần thiết.
</p>
<p>
    Charles nghĩ đến chính anh, đến hai phe đối đầu nhau trong cuộc chiến, đến những điều Erik đã làm mà anh tuyệt không thể tha thứ, đến cách họ đứng hai bờ
    chiến tuyến mà nhìn nhau như kẻ thù - và lại càng thêm mệt mỏi.
</p>
<p>
    Charles không cao ngạo đến độ thấy tự hào về khả năng kiềm chế của mình. Nó khá ấn tượng, anh thừa nhận, đặc biệt là khi nghĩ tới những gì anh phải kiềm
    chế (và đôi khi, những thứ anh buộc phải gạt đi <i>không</i> kiềm chế) nhưng Raven vẫn có thể - có lẽ đã - kể được vài câu chuyện cho đến giờ vẫn khiến anh
    xấu hổ.
</p>
<p>
    (Đôi khi anh vẫn lo rằng cô vẫn làm thế, kể đi kể lại những mẩu chuyện về Giáo sư X vĩ đại cho đám trẻ để chúng ít sợ anh hơn- cô bé dám làm vậy lắm chứ.)
</p>
<p>
    Vậy nên khi anh giãy nảy lên trong ngày cuối cùng ở lại, anh không thấy ngạc nhiên cho lắm. Ngượng, có. Ngu ngốc, có. Nhưng không ngạc nhiên. Và hẳn là
    không cảm thấy mình có lỗi - anh nghiêm túc tin cả Steve và Tony đều đáng phải nghe những gì họ sắp nghe.
</p>
<p>
    Tất cả bắt đầu từ một chuyện cỏn con, không phải lúc nào cũng thế sao? (Những thứ vặt vãnh luôn là đau đớn nhất, một đồng xu bạc, một viên đạn đồng, hay
    vài lời không nên nói ra chẳng hạn).
</p>
<p>
    Lúc đó vừa xong bữa trưa - Charles ngờ rằng Tony không trốn xuống nơi làm việc chỉ vì Steve cứ nhằn đi nhằn lại rằng phải cư xử lịch sự với khách - và
    Steve đang chạy qua chạy lại dọn dẹp bếp trong khi Tony giả vờ đọc báo, nhưng thực ra là đang giận lẫy.
</p>
<p>
    Steve - rõ ràng hiểu điều đó không kém gì Charles - bước đến sau ghế Tony, khe khẽ lướt ngón tay qua vai Tony với cái điệu bộ Charles có thể thề là
ít-trong-sáng nhất mà anh từng thấy. Tony hơi rùng mình - và Chúa ơi, anh ta thực sự đang tụng đi tụng lại trong đầu mớ lý do    <i>tại sao yêu Steve là điều vô cùng tệ hại</i> à?
</p>
<p>
    Tony ngửa đầu ra sau nhìn lên Steve, nụ cười trên mặt cứ nhếch lên phá hỏng bộ mặt anh đang cố tỏ ra khó chịu.
</p>
<p>
    "Tôi đang ở đây còn gì?" Tony hỏi, và Steve cười với anh.
</p>
<p>
    "Phải xử tốt với người khác chứ." cậu đáp, ngón tay vẫn đặt trên gáy Tony, và Charles nghĩ tới khi anh bị từ chối dù chỉ những cử chỉ nhỏ bé đầy tình cảm
    như vậy thôi, khi chỉ vài tuần ngắn ngủi là không đủ, không bao giờ đủ.
</p>
<p>
    "Đi chỗ khác mà tình tứ đê!!!!" Peter hú, không thèm rời mắt khỏi tờ báo trong tay, khiến Steve ngượng chín người.
</p>
<p>
    "Peter, đừng có trêu Steve thế." Tony vặc lại, nhưng sự trêu đùa trong giọng anh gần như gượng gạo, thay vào đó là khao khát nghẹn đặc trong cuống họng và
    Charles chỉ muốn gào lên rằng vô nghĩa thôi, bởi Steve đã ở ngay đó, yêu thương anh và muốn có anh nhiều lắm rồi.
</p>
<p>
    Peter khịt mũi, hẳn là đã quá hiểu, nhưng từ đầu đến cuối tay Steve không rời vai Tony dù chỉ một chút - và Charles có lẽ cũng cảm thấy chút khao khát của
    riêng mình. Erik vẫn luôn gạt tay anh đi, luôn không dám lại gần ai hoặc cho ai lại gần mình, dù là Charles người đã hiểu anh quá rõ.
</p>
<p>
    Không biết vì muốn vuốt đuôi Peter hay vì Tony Stark yếu ớt thiếu tình cảm quá độ, mà Tony lại nắm lấy tay Steve và đùa: "Không biết sao, Peter, tình yêu
    của bọn này rồi sẽ chẳng ra gì đâu."
</p>
<p>
    Và khát vọng giờ không chỉ tuôn ra từ mình Tony mà còn cả Steve, cả hai người đều đang nghĩ tới những lý do tại sao <i>họ </i>là "không thể" khiến Charles
    muốn cười hoặc khóc hoặc hét lên bởi họ không hiểu điều đó thực sự có nghĩa gì.
</p>
<p>
    "Tại sao không?" ai đó hỏi, và Charles mất vài giây mới nhận ra, à, là mình.
</p>
<p>
    Tất cả đều đang nhìn anh, đến Peter cũng phải đặt tờ báo xuống bàn, nhưng Tony vẫn cầm tay Steve.
</p>
<p>
    "Tôi- cái gì cơ?" Steve lắp bắp, má lại đỏ hồng lên.
</p>
<p>
    Thôi thì đến đâu hay đến đấy vậy. "Tại sao lại chẳng ra gì?" Charles hỏi lại, và có phải anh đang nghe trong giọng mình có gì đó mãnh liệt toát ra không,
    lẽ ra anh chỉ định hỏi một câu bình thường thôi chứ.
</p>
<p>
    Tony bật cười - rõ ràng là giả. "Tôi thấy điều đó rõ quá rồi còn gì."
</p>
<p>
    "Không, tôi không nghĩ vậy." Charles đáp. "Hai anh đều yêu người kia, chẳng phải vậy sao?" Thậm chí nó còn không phải một câu hỏi nghiêm túc, anh không
    mong có được câu trả lời, nhưng anh thực sự khó chịu khi thấy Tony buông tay Steve, còn Steve lùi ra xa khỏi chiếc ghế ngay lập tức.
</p>
<p>
    "Nhất định không thể nào." Steve lầm bầm, không nhìn ai, mặt thì đã đỏ đến không thể đỏ thêm nữa. Lại là từ đó kìa. <i>Không thể</i>.
</p>
<p>
    "Tôi không hiểu." Charles phát cáu. "Cả hai người đều yêu thương nhau, tôi có thể đảm bảo điều đó. Hai người đang ở ngay đây, cùng chung chí hướng, cùng
chung quan điểm." <i>'Chúng ta chung chí hướng, Charles à.'</i> "Hai anh đều không phải kẻ giết người, đều chiến đấu vì một lý tưởng,"    <i>'Xin lỗi, bạn của tôi, nhưng chúng ta không hề'</i> "Thậm chí lại còn sống chung! Tôi chẳng hiểu còn cái quái gì ngăn hai anh đến với nhau nữa! Trừ ý
    nghĩ ngu ngốc về cái gọi là không thể ấy."
</p>
<p>
    Chỉ khi dừng lại Charles mới nhận ra mình đang thở dốc, và những người xung quanh đã đờ ra, có lẽ còn hơi ngơ ngẩn nữa.
</p>
<p>
    "Tôi, ờ." Steve lên tiếng.
</p>
<p>
    "Tôi đi sắp đồ đây." Charles cắt ngang với tất cả tự trọng anh có thể vét ra nổi. Anh nghi họ cũng chẳng để ý nổi vì còn bận nhìn nhau trân trối.
</p>
<p>
    "Ừ." Peter cũng nói ngay sau đó. "Tôi cũng."
</p>
<p>
    Charles nhìn cậu hơi ngờ vực. Peter nhún vai như có ý nói 'họ có quan tâm đâu' - và Charles phải thừa nhận cậu đúng.
</p>
<p>
    Họ rời phòng.
</p>
<p>
    --
</p>
<p>
    Steve mân mê gấu áo, ngón chân nghịch nghịch lớp thảm dưới chân và cố không nhìn Tony, hay cần cổ mời gọi của anh khi đó đang ở đúng tầm mắt cậu.
</p>
<p>
    "Steve." Tony nói, "làm ơn đi ra đây đứng ở chỗ tôi thấy được cậu được không? Tôi không muốn nói về chuyện này trong lúc cậu đang lờ vờ bên trên mình đâu."
</p>
<p>
    Steve bước tới cạnh ghế và ngồi xuống chiếc sofa ở ngay đó, vẫn cố gắng không nhìn Tony quá nhiều.
</p>
<p>
    Tony thở dài. Steve nhìn lên vừa kịp thấy anh lùa một bàn tay qua mái tóc xù. Anh trông rất lạ, lạ theo cách nào đó không tả nổi. "Steve." anh bắt đầu, rồi
    lại lặng đi. Steve co người lại chờ đợi những câu kiểu 'Tôi rất vui nhưng-' mà anh sắp nói. "Steve, hy vọng những gì Giáo sư X nói không làm cậu khó xử.
    Tôi không ngờ- Tôi không muốn-" anh ngập ngừng - thật không giống Tony bình thường - khiến Steve không kiềm nổi mình mà buộc phải chen vào.
</p>
<p>
    "Tôi." cậu nói, giọng dứt khoát, và hy vọng mình không tỏ ra thảm hại như thực tế.
</p>
<p>
    Tony quay ngoắt sang nhìn cậu. "Cái gì?"
</p>
<p>
    Steve chống tay lên đầu gối. Cậu đã mong rằng chẳng bao giờ phải nói đến những thứ như vậy. "Anh không cần tôi. Cái đó" cậu hít một hơi. "không sao đâu,
    tôi cũng đã quen rồi." cậu nhìn Tony, cười mệt mỏi. "Tôi chỉ không muốn anh phải khó chịu vì những gì Giáo sư vừa nói."
</p>
<p>
    Tony há hốc mồm nhìn cậu, cứ mở miệng ra rồi lại đóng. Steve suýt chút nữa đã cười. "Tôi. Steve, cậu á?" anh nuốt khan. "Hình như Professor không chỉ nói
    trúng mình tôi nhỉ."
</p>
<p>
    Steve mất mội hồi mới hiểu Tony đang nói gì, nhưng chỉ vì cậu không tin nổi điều đó là sự thực. "Thật sao?" cậu hỏi, một nụ cười ngốc nghếch đến ngớ ngẩn
    nở ra trên mặt.
</p>
<p>
    Tony cũng cười lại với cậu. "Ừ." Họ cứ thế cười với nhau phải vài phút, Tony mới nói "Thế có định hôn tôi không thì bảo?"
</p>
<p>
    Steve lại đỏ mặt, dù chỉ một chút. "Tony." cậu nghiêm giọng, nhưng quá vui để có thể tỏ ra nghiêm túc.
</p>
<p>
    Tony không trả lời, chỉ rướn người lên khỏi ghế, tựa một tay lên chân Steve và ấn môi họ vào nhau. Cằm anh thô ráp và lạ lùng nhưng tuyệt vời đến kỳ lạ,
    khiến Steve phải rên lên và đặt tay lên vai Tony kéo anh lại gần.
</p>
<p>
    Tony mất thăng bằng, đổ hẳn người vào lòng Steve, nhưng không ai thấy phiền cả. Tony rời ra chỉ đủ lâu để dịch người sang đè hẳn lên người Steve trên chiếc
    sofa.
</p>
<p>
    "Vậy là chúng ta nợ Giáo sư một lần đấy nhỉ?" Steve hỏi, hơi nghiêng đầu ra sau cho Tony tiện thể hôn lấy cổ cậu.
</p>
<p>
    "Chắc thế." Tony lầm bầm, nửa để ý nửa không.
</p>
<p>
    Steve cười, vô lo và hạnh phúc. "Anh lúc nào cũng thế này sao?"
</p>
<p>
    Tony nhìn vào mắt cậu cười toe toét. "Tất cả mọi ngày."
</p>
<p>
    "Tốt." Steve nhăn ra cười, và kéo anh lại vào lòng.
</p>
<p>
    --
</p>
<p>
    Sáng hôm sau cả hai tay trong tay cùng ra tiễn Charles. Charles vui thay cho họ khi thấy sự bình yên cứ trào ra từ phía hai người nhưng không thể không
    nghĩ - không ao ước - rằng mình cũng đã có thể có chút chuyện tình riêng.
</p>
<p>
    Vừa trở lại tòa Biệt thự, đã có một bức thư ở đó chờ anh.
</p>
<p>
    Nó đơn giản lắm; bằng loại giấy dày cộp không ai còn dùng nữa, với thứ chữ viết tay quen thuộc khiến tim anh quặn thắt.
</p>
<p>
    Bên trong chỉ có một dòng. "Charles, đã bảo cậu đừng tọc mạch nữa mà."
</p>
<p>
    Charles nhìn ra ngoài lùm cây, nhưng kể cả nếu Azazel đã ở đó thì giờ cũng không còn nữa. Erik vẫn không thể không dõi theo anh dù qua bao lâu đi chăng
    nữa. Mà Charles cũng vậy, vẫn dùng Cerebro để nhìn ra xem Erik có ổn không, để qua ánh mắt kẻ khác mà tìm kiếm khi chiếc mũ luôn chặn đứng tất cả.
</p>
<p>
    Charles đặt lá thư vào một chiếc hộp cùng những lá khác và cười, một nụ cười nhỏ bé và run rẩy, nhưng là thật.
</p>