<span style="font-size: 14pt; line-height: 1.3em;"><span style="color: purple;"></span></span> <div align="center"><strong>THẤY MÌNH TRONG MẮT  EM</strong></div>[/color][/size]<br>
<br>
<strong><span style="text-decoration: underline;">Genre/Category:</span></strong>  shounen-ai<br>
<strong><span style="text-decoration: underline;">Rating:</span></strong>13+<br>
<strong><span style="text-decoration: underline;">Foreword:</span></strong> Em. Thiên thần không  cánh. Tôi yêu. Muốn thấy mình trong mắt em.<br>
<br>
<br>
<div style="text-align: right;">Em<br>
Thiên thần của riêng  tôi</div>[/i]<br>
<br>
Con đường từ trường về nhà tôi ngang qua một công viên nhỏ.  Những ngày có chuyện không vui tôi vẫn thường ghé vào công viên đi dạo cho khuây  khỏa trước khi về nhà. Và một buổi chiều muộn, tôi đã gặp em. Tôi nhớ khi ấy em  đang bị một đám trẻ con bu quanh chọc ghẹo. Sao ta, à, chúng gọi em là “thằng  mù” và giật cây gậy trắng trên tay em. Cũng có vài người ở gần đó, vậy mà chẳng  ai bênh vực em cả. Em chỉ cúi mặt, lặng im và cam chịu. Hai tay em nắm chặt lại.  Vốn tính thờ ơ, tôi chỉ nhìn và nghĩ rằng “Không liên quan đến mình”. Tôi đã  định bỏ đi. Nhưng ngay lúc ấy, tôi thấy mặt em đỏ lên, rồi một cái gì lấp lánh  rơi xuống bãi cỏ dưới chân em. Em khóc. Tôi ngỡ ngàng. Em khóc vì tủi thân? Hay  vì giận mình bất lực? Chẳng biết nữa. Nhưng tôi bỗng muốn bảo vệ  em.<br>
<br>
…<br>
<br>
Đám trẻ con bỏ chạy, với lời đe dọa của tôi đuổi theo. Thiệt  tình, lũ nhóc bây giờ hư thật. Tôi nhặt cây gậy đặt vào tay em. Em lau nước mắt,  lí nhí:<br>
<br>
- Cảm ơn… anh!<br>
<br>
Tôi không đáp, im lặng quan sát em. Đôi mắt  em không giống đôi mắt của những người mù mà tôi thấy trên ti vi. Nó mang một  màu nâu trong veo, chỉ khác là chẳng có gì được phản chiếu, được giữ lại trong  đó hết.<br>
<br>
- Có cần tui đưa về không? – Tôi lên tiếng. Em quay mặt về phía  có tiếng nói, hơi nheo mắt khi miệng nhoẻn cười:<br>
<br>
- Dạ thôi, lát nữa người  nhà em ra đón mà.<br>
<br>
- Biết tui mấy tuổi mà xưng em? - Tự nhiên tôi muốn bắt  bẻ em để coi em trả lời ra sao. Em hơi nghiêng đầu, rồi lại cười. Tim tôi suýt  nữa là vọt ra ngoài trước cái cười nhẹ hẫng và rạng rỡ.<br>
<br>
- Vậy… mấy  tuổi?<br>
<br>
- 18. – Tôi đáp gọn lỏn. Một nụ cười nữa lại nở bừng trên gương mặt  em. Nó làm mặt tôi nóng bừng lên. Sao mà em hay cười thế nhỉ?<br>
<br>
- Em 16.  Xưng em được chưa?<br>
<br>
Tôi không biết nói sao, cũng bật cười  theo.<br>
<br>
<br>
- Đi dạo một tí không?<br>
<br>
Nói xong tôi tự thấy mình thật là  điên. Không chừng em sẽ nghĩ là tôi đang dụ dỗ con nít. Vội vàng tôi nói  thêm:<br>
<br>
- Ừm… vì bây giờ tui chưa muốn về. Tui không có ý gì hết  á.<br>
<br>
Em gật nhẹ đầu. Tôi thở phào, không hiểu sao trong lòng thấy vui  vui.<br>
<br>
Em lặng lẽ đi bên cạnh tôi, tay cầm cây gậy trắng dò đường. Một vài  người đi qua, nhìn em ái ngại. Dường như em cảm nhận được điều đó, vì tôi thấy  em cúi đầu có vẻ buồn. Cũng phải, có ai thích mình bị thương hại đâu.<br>
<br>
-  Xin lỗi… - Tôi lấy cây gậy ra khỏi tay em. Em hơi bất ngờ. Không để em kịp hỏi,  tôi nắm lấy bàn tay nhỏ bé của em, siết nhẹ. Tay em thật ấm. Lòng tôi dịu lại  một nỗi an lành không tên.<br>
<br>
- Em có thường đến đây không? – Tôi hỏi  em.<br>
<br>
- Ưm… cũng thường.<br>
<br>
- Sao tui chưa bao giờ gặp nhỉ? À chắc tại  em nhỏ như cục kẹo hà, tui không để ý! – Tôi chọc. Em cười:<br>
<br>
- Nhà em vừa  chuyển về đây hai tuần trước.<br>
<br>
- Hèn chi! – Tôi à lên. Lần cuối tôi buồn  bực và đến đây là tháng trước.<br>
<br>
Tới lúc tôi phải về, nếu không muốn bị mẹ  “tụng kinh” nguyên buổi tối. Em để yên cho tôi dẫn ra cổng. Người nhà em chưa  đến. Em mò mẫm ngồi xuống cái ghế đá gần bồn hoa hồng, cười với tôi:<br>
<br>
-  Anh về đi, em không sao đâu.<br>
<br>
- Ừ.<br>
<br>
Tôi vừa quay người thì em gọi  lại.<br>
<br>
- Mai anh có đến đây nữa không?<br>
<br>
- Ờ… có chứ! – Tôi đáp một  cách chắc chắn. Dù sao về nhà cũng chẳng làm gì – tôi tự nói với mình như thế để  khỏa lấp một sự thật khác: tôi - muốn - gặp - lại – em.<br>
<br>
Tối hôm đó tôi  mang cả nụ cười của em vào giấc ngủ.<br>
<br>
Bên em<br>
Thời gian bỗng ngừng  rơi<br>
<br>
Tôi gặp em gần như mỗi ngày (trừ khi trời mưa, em nói nếu mưa thì em  không được ra ngoài, mà dù sao thì mưa chúng tôi cũng không đi dạo được). Tôi  thường nắm tay em đi vòng vòng trong công viên, tả cho em nghe cảnh vật xung  quanh. Tôi dốt văn lắm, không biết em có cảm nhận được những thứ mà tôi tả không  nữa. Nhiều khi chính tôi còn không rõ mình đang nói gì, thế mà em vẫn chăm chú  lắng nghe. Em dễ thương quá!<br>
<br>
Em thích văn chương. Em thường nói với tôi  những suy nghĩ của em về những bài văn, bài thơ mà em đọc (chữ nổi, tất nhiên)  hay nghe từ sách nói. Có những bài tôi đã được dạy trên lớp, chẳng hiểu mô tê gì  ráo, vậy nhưng nghe em nói, tôi bỗng thấy nó hay lạ kỳ. <br>
<br>
Thiệt tình, muốn  bắt đền em quá. Em thay đổi tôi mất rồi.<br>
<br>
Vì em mà tôi biết đợi chờ, biết  bồn chồn khi có những chiều em không đến. Tôi có thêm cái tật xấu là hay giả bộ  giận hờn mỗi lần em rối rít xin lỗi vì lỡ hẹn. Và tôi tha thứ thật nhanh, chỉ  với một nụ cười của em.<br>
<br>
Chết tôi rồi. Hình như… tôi đã thích  em…<br>
<br>
<div style="text-align: right;">Chiều ấy, tôi bên em<br>
Ngu ngơ <br>
Nụ hôn  đầu</div>[/i]<br>
<br>
Chiều nay em có vẻ đang suy tư gì đó. Lâu lâu em nhíu cặp  chân mày thanh, quay sang hình như muốn hỏi tôi điều gì, nhưng lại thôi. Cuối  cùng tôi đành lên tiếng trước:<br>
<br>
- Có chuyện gì vậy?<br>
<br>
Em lưỡng lự.  Tôi kiên nhẫn chờ đợi. Kinh nghiệm cho tôi biết là thể nào em cũng nói ra. Sau  một hồi lâu, em ấp úng:<br>
<br>
- Anh… có hôn bao giờ chưa?<br>
<br>
- Hả?<br>
<br>
-  Em thắc mắc cảm giác đó là như thế nào mà trong bài thơ em đọc tối qua, họ tả  rất hay.<br>
<br>
- Sao em không hỏi chị em? - Lần trước em có nói em có một bà  chị gái, và một đứa em trai.<br>
<br>
- Em có hỏi – Em ỉu xìu - Chị ấy nói em chưa  cần biết.<br>
<br>
- Hì hì, - Tôi không nín được cười – em 16 tuổi rồi chứ có nhỏ  nhít gì nữa đâu. Khi bằng tuổi em, tui cũng… á!...<br>
<br>
Tôi ngưng bặt vì nhận  ra mình nói hớ. Em khúc khích cười:<br>
<br>
- Vậy là anh đã từng hôn?<br>
<br>
- Ư…  ừm! – Tôi thú nhận, mặt nóng bừng lên – Nhưng chỉ… chỉ hôn lên má thôi.<br>
<br>
-  Chứ phải hôn vào đâu?<br>
<br>
- Mai mốt em có bạn gái em sẽ biết hôn thật sự là  thế nào – Tôi lảng chuyện. Thật ra trong thâm tâm tôi chẳng muốn em có bạn gái  đâu.<br>
<br>
Em thở dài, giọng buồn lạ:<br>
<br>
- Ai mà thích một người như  em?<br>
<br>
- Bậy nào! – Tôi vọt miệng không suy nghĩ – Có mà!<br>
<br>
- Ai? – Em  háo hức. Tôi hối hận vì đã không uốn lưỡi bảy lần trước khi nói.<br>
<br>
-  Thì…<br>
<br>
- Ai vậy?<br>
<br>
- Thì… tui. Tui thích em đó, được không? – Chết, lỡ  nói thiệt ra luôn rồi. <br>
<br>
Mặt em ửng lên. Tôi nổi máu trêu chọc:<br>
<br>
-  Em muốn biết nụ hôn là gì hả? Để tui tặng em nha?<br>
<br>
- Thiệt hả? - Mặt em  bừng sáng cứ như một đứa trẻ được cho kẹo. Em ngập ngừng – Hôn lên má  hả?<br>
<br>
- Không! Hôn môi chứ! – Tôi hết hồn khi nhận ra chút ranh ma trong  giọng nói của mình. Sao giống tôi đang lừa gạt em quá. Em trong sáng đến thế mà…  Một cảm giác tội lỗi dâng nhanh trong lòng tôi.<br>
<br>
- Anh? – Em chạm nhẹ vào  tay tôi. Tôi giật mình. Nắm lấy tay em, tôi nói (mà thấy hơi tiếc):<br>
<br>
- Nè  tui nói trước. Thứ nhất, nụ hôn đầu rất quý giá, trao cho tui có khi em sẽ hối  hận đó.<br>
<br>
- Nhưng anh nói thích em mà? – Em cười hiền. Mặt tôi lại được dịp  đỏ lên.<br>
<br>
- Thứ hai, nụ hôn ở môi chỉ dành cho những người yêu nhau thôi  hiểu không?<br>
<br>
- Yêu nhau là gì? – Em thật thà. Tôi xém xỉu. Biết nhiều văn  thơ thế mà bây giờ em lại đi hỏi tôi “yêu là gì?” nghĩa là sao chứ?<br>
<br>
-  …<br>
<br>
- Vậy anh không yêu nên sẽ không hôn em hả? – Nhìn em buồn mà tôi chả  biết phải làm sao. Trời ơi ông muốn dồn con vào ngõ cụt à? Tôi nhìn quanh. Không  có ai hết. Thở mạnh, tôi đặt hai tay lên vai em và kéo em xoay lại phía  mình.<br>
<br>
- Ừ thì hôn, nhưng rồi không được khóc đấy nhé.<br>
<br>
- … - Mặt em  đỏ bừng. Tôi thở dài. Mình đang làm gì vậy nè?<br>
<br>
- Em nhắm mắt lại  đi.<br>
<br>
- Sao…?<br>
<br>
- Phải như vậy mới được. – Tôi ngắt lời em. Thật ra là  nếu cứ nhìn đôi mắt nâu rất đẹp nhưng trống rỗng buồn bã đó, tôi sẽ không thể  hôn em được.<br>
<br>
Em ngoan ngoãn nhắm mắt lại. Tôi chạm nhẹ tay vào môi em,  tim đập mạnh như thể muốn vọt ra khỏi lồng ngực, nhiệt độ cơ thể tăng nhanh tới  mức tôi tưởng là mình sắp phát sốt đến nơi. Chúa ơi, đây là cảm giác người ta  thường có khi sắp hôn một người đấy à? Cứ thế này thì tôi sẽ bị bệnh tim cho mà  xem.<br>
<br>
Không nghĩ ngợi nữa, tôi kéo em lại gần hơn, và cuối  xuống…<br>
<br>
Mềm<br>
<br>
Ấm<br>
<br>
Khoảnh khắc môi tôi và môi em chạm nhau, mọi  thứ xung quanh dường như tan biến hết. Không gian tĩnh lặng. Thời gian ngừng  trôi. Chỉ còn tiếng tim tôi, và cả tiếng tim em đập liên hồi.<br>
<br>
Khi tôi  buông em ra thì mặt cả hai đã đỏ chín lên. Tôi thậm chí còn không dám nhìn em  nữa. Một hồi sau, em ấp úng:<br>
<br>
- Ưm… hôn là vậy đó hả?<br>
<br>
- Ừ…, chắc…  chắc thế! - Tự nhiên tôi cũng ấp úng theo.<br>
<br>
- …<br>
<br>
- Cám ơn em… ừm… -  Muốn phá tan cái không khí ngại ngùng khó chịu, tôi cười, nói với em. Em ngạc  nhiên:<br>
<br>
- Cám ơn cái gì?<br>
<br>
- Vì có em là một điều rất tuyệt, và vì em  đã dành nụ hôn đầu cho tui – Tôi nói bằng tất cả sự chân thành. Tôi muốn em cảm  nhận được tình cảm của tôi. Chẳng biết qua nụ hôn lúc nãy em có nhận ra điều gì  không…<br>
<br>
- Thì anh cũng đã cho em nụ hôn đầu của anh mà – Em nhoẻn cười,  trông đáng yêu tệ. Tôi đưa tay véo nhẹ má em:<br>
<br>
- Em cười thêm vài lần chắc  tui xịt máu mũi quá!<br>
<br>
- Anh… - Em xoa tay lên má nơi tôi vừa “véo  yêu”.<br>
<br>
- Gì?<br>
<br>
- Thích em thiệt hả?<br>
<br>
- Ai biết! – Tôi giả lơ,  nhưng tay nắm lấy tay em. Đôi bàn tay nhỏ ấm nóng mà tôi muốn giữ trong tay mình  mãi mãi.<br>
<br>
- Em cũng… ừm… cũng…<br>
<br>
- Hửm?<br>
<br>
- … thích  anh.<br>
<br>
- Ừ… Hả, gì, nói lại đi?<br>
<br>
- Hông!<br>
<br>
Phụt! Chết rồi, tôi  chảy máu mũi. Kệ, ôm em trước đã, hì hì.<br>
<br>
<div style="text-align: right;">Anh<br>
Chờ em</div>[/i]<br>
<br>
Hôm sau, em không  đến. Tôi kiên nhẫn chờ, nghĩ rằng em chỉ đến muộn như mấy lần trước thôi. Kết  quả là tôi chờ đến tối, rồi thất thểu đi về. Mai tôi giận em cho mà  xem.<br>
<br>
Hôm sau nữa, tôi vẫn chờ.<br>
<br>
Hôm sau nữa nữa<br>
<br>
Rồi sau nữa  nữa nữa<br>
<br>
Tôi lo lắng đến phát điên. Tại sao? Em chưa bao giờ để tôi chờ  lâu đến thế mà… Có chuyện gì đã xảy ra với em chăng? <br>
<br>
Một tuần trôi qua,  tôi gần như đã mất hết hy vọng sẽ gặp lại em. Lòng tôi ngổn ngang trăm câu hỏi.  Em không thể đột nhiên biến mất như thế được. Cho dù thế nào thì cũng nói với  tôi một tiếng chứ.<br>
<br>
Em ở đâu?<br>
<br>
Tôi nhớ em.<br>
<br>
Chiều nay tôi lại  đến công viên. Đến chiếc ghế đá em và tôi thường ngồi, tôi hơi ngạc nhiên khi  thấy một cậu nhóc đang ngồi sẵn đó. Cậu nhóc có gương mặt hao hao em, làm tim  tôi như muốn ngưng đập.<br>
<br>
- Anh là anh Du?<br>
<br>
Tôi gật đầu.<br>
<br>
- Bạn  của anh hai em?<br>
<br>
- Anh hai? Em là em trai của Nhiên à? Vậy Nhiên  đâu?<br>
<br>
Trước một lô câu hỏi của tôi, cậu nhóc vẫn bình thản:<br>
<br>
- Anh  hai đi Mỹ với mẹ em rồi.<br>
<br>
- Hả? Bao giờ?<br>
<br>
Tôi cảm thấy ai đó vừa đem  cả một xô nước đá tạt vào người mình. Em đi rồi sao? <br>
<br>
- Thứ ba tuần  trước. Ảnh gửi cho anh cái này.<br>
<br>
Thứ ba? Vậy là ngay sau cái ngày tôi hôn  em… Tôi cầm lấy thứ cậu nhóc chìa ra. Thư của em. Cậu nhóc khịt mũi:<br>
<br>
-  Ảnh đọc cho tui viết đó. Yên tâm, chuyện hai người ảnh nói tui nghe lâu rồi. Cả  tuần nay thấy anh ngày nào cũng ra đây, tui tin anh thật lòng nên mới quyết định  đưa lá thư này cho anh.<br>
<br>
- …<br>
<br>
- Anh hai tui có vẻ rất hạnh phúc khi  ở bên cạnh anh đó.<br>
<br>
- …<br>
<br>
- Đừng lo, ảnh chỉ đi Mỹ để chữa mắt chứ có  đi luôn đâu.<br>
<br>
- … - Tim tôi nhẹ hẫng như vừa thoát khỏi một tảng đá lớn.  Tôi thở phào.<br>
<br>
- Cỡ chín mười năm gì đó ảnh về mà.<br>
<br>
- …<br>
<br>
Tôi  xém xỉu. Niềm vui chưa kịp nhen nhóm đã bị dập tắt một cách tàn nhẫn. Mười năm  nữa mới gặp, liệu em có còn nhớ tôi là ai? Và lúc đó em có còn thích tôi? Và bản  thân tôi nữa, tình cảm tôi đang dành cho em bây giờ có là tình yêu chưa? Chỉ mới  một cái hôn thôi, em có hiểu?<br>
<br>
- Đừng nói với tui là anh không chờ được à  nghen?<br>
<br>
- Tôi không có nói vậy! – Tôi nổi khùng với kiểu nói chuyện của  cậu nhóc. <br>
<br>
- Thì thôi, anh đọc thư đi. Tui về.<br>
<br>
Cậu nhóc hếch mặt,  quay lưng đi, huýt sáo một giai điệu nào đó. Thằng nhóc đáng ghét, anh nó đi mắc  gì nó vui dữ vậy. Trong khi tôi đang rầu thúi ruột đây này. Trời ơi, mười năm  nữa,… Lâu quá!!!<br>
<br>
Tôi ngồi xuống ghế đá. Nhớ em. Nhớ cái cách em say sưa  nói về những bài thơ em vừa đọc. Nhớ bàn tay em ngoan ngoãn nằm trong tay tôi  khi tôi và em đi dạo quanh công viên. Nhớ tiếng em cười, gương mặt ửng đỏ đáng  yêu. Nhớ cả cảm giác ấm áp và hạnh phúc khi tôi và em trao nhau nụ hôn đầu…., và  lúc mà em nói thích tôi…<br>
<br>
Nhớ<br>
<br>
Tôi mở thư ra đọc. Nét chữ tròn và  đẹp như chữ con gái. Nhóc hồi nãy viết chữ đẹp ghê.<br>
<br>
Vỏn vẹn có mấy  dòng<br>
<br>
<em>Xin lỗi vì đã đi mà không báo cho anh biết, nhưng em không thích  anh buồn. Mà anh khờ ghê, em nói không biết hôn là gì anh cũng tin hả? Em dụ anh  đó, vì muốn anh là first kiss của em.</em><br>
<br>
Hả? Cái gì? Em lừa tôi? Trời ạ!  – tôi suýt khóc nhưng vẫn ráng đọc tiếp:<br>
<br>
<em>Nhưng em chỉ nói dối mỗi  chuyện đó thôi, thiệt đó. Những gì trước và sau đó đều là thật. Nhớ cho kỹ  nghen: EM - RẤT – THÍCH – ANH.<br>
<br>
Khi em về, em hứa là anh sẽ thấy anh trong  mắt em.<br>
<br>
Lêu lêu!!!</em><br>
<br>
Hết thư. Tôi không biết mình nên khóc hay  nên cười. Rốt cục đến giờ tôi vẫn chưa hiểu hết về em. Trong sáng là thế (trong  sáng thiệt hông trời?), vậy mà em lại nghĩ ra cách để tôi hôn em. Bó tay!!! Mà…  dù sao… Tôi đưa tay lên môi, mặt nóng bừng. Em đã “đánh đổ” tôi hoàn toàn cũng  bởi cái hôn đó…<br>
<br>
Phù, thôi thì chờ… Mười năm… Hay hơn nữa… Nắm chặt lá thư  trong tay, tôi ngước lên nhìn trời. Tôi chờ ngày nhìn thấy mình trong mắt  em…<br>
<br>
Gió. Bụi cuốn. Chợt thấy mắt cay cay…<br>
<br>
~~~~~~~~~<br>
<br>
<em>Nếu  bạn thích cái kết này, thì cứ để vậy. Còn nếu không, mời đọc thêm vài dòng  nữa:</em><br>
<br>
Cậu nhóc em Nhiên vừa chạy ù về nhà, vừa cười sặc sụa. Nó đang  nghĩ: “Trời ơi công nhận anh hai nói đúng, cái ông đó dễ gạt kinh khủng. Nói  mười năm mà cũng tin. Cuối năm nay ảnh về chứ gì… Anh hai cũng ác thiệt, đi rồi  mà còn nghĩ cách hù người khác, hì hì…”<br>
<br>
Gió chiều mát rượi. Gió đang  cười, phải không?<br>
…<br>
<br>
<br>
SÀI GÒN 07/03/2008<br>
<br>
<div align="center">- THE END -</div>
<br><span style="color: purple;"></span>Genre/Category:Rating:Foreword: