<div align="center">
<em><span style="font-size: 24pt; line-height: 1.3em;">sóng</span></em><br>
</div>
<br>
<div style="text-align: right;"><em><strong>[</strong>…Làm sao được tan ra<br>
Thành trăm con  sóng nhỏ<br>
Giữa biển lớn tình yêu<br>
Để ngàn năm còn  vỗ…<strong>]</strong></em></div>
<br>
Tôi là con nhà giàu. Học giỏi. Và gương mặt là phần  đáng tự hào nhất của tôi. Tôi rất tốt bụng, có một tình yêu thương nhân loại bao  la. Bất cứ ai tìm đến, tôi đều sẵn sàng chia cho họ chút đỉnh trong cái tình yêu  vĩ đại đó. Để rồi khi chán chê, tôi vứt họ đi như món đồ phế thải, không chút  mảy may động lòng.<br>
<br>
Giờ tôi đang nghỉ hè. Đầu năm sau sẽ là sinh viên năm  hai. Ở nhà chán quá, tôi bỏ ra biệt thự ở Vũng Tàu chơi. Ban đầu định lên Sapa  hay ra Hạ Long, nhưng làm biếng, và con Hà, nhỏ bạn thân nhất của tôi không hiểu  sao có hứng bất tử với Vũng Tàu. Tôi không yêu nhỏ, nhỏ cũng không yêu tôi, dù  gia đình hai bên đều nghĩ là có. Nhưng cũng nhờ nhỏ tôi mới thoát nạn những khi  vướng phải một em khó bỏ. Nhỏ cũng chả tốt lành gì, nhỏ “dùng” tôi đối phó  mấy  gã bám quá dai. Tôi thì yêu hết người này đến người khác, còn nhỏ cứ “vương vấn  trong tim một bóng hình”. Chả hiểu sao tụi tôi lại thân nhau cho  được.<br>
<br>
Tôi đi dọc bờ biển. Hoàng hôn đang dần buông. Lẽ ra giờ này tôi  đang ở một vũ trường hoặc một quán cà phê nào đấy cư cẩm vài em, vì tôi mới đá  xong một nhỏ. Nhưng tất cả cũng tại cái chiếc SH chết tiệt, ra tới cửa tự dưng  nổ lốp. Con Hà rinh chiếc Atila đen thui, hoa hoè của nó dạo phố mất tiêu rồi,  thành ra tôi đơn thương độc mã lang thang chốn này. Biết vậy lúc nãy đi chung  với nó có phải hơn không.<br>
<br>
Một gã nào đó đang đi ngược hướng với tôi. Chắc  gã cũng cỡ tuổi tôi. Chúng tôi lướt ngang nhau. Đột nhiên gã dừng lại nhìn tôi,  nét mặt có vẻ ngạc nhiên lắm. Tôi cũng nhìn lại. Đôi mắt gã thật đẹp! Tuy không  điển trai bằng tôi nhưng đôi mắt đó lại hơn rất nhiều. Mắt tôi như bị hút sâu  vào hai con ngươi đen lay láy đó. Gã khẽ mỉm cười, một nụ cười xã giao hết sức  bình thường dành cho kẻ vừa mới gặp, rồi bình thản bước đi. Nhưng tôi thì không,  tôi như bị đóng đinh tại chỗ. Nụ cười của gã làm tim tôi lỡ mất một  nhịp…!<br>
.<br>
.<br>
.<br>
“Bà này, hình như tui bị tiếng sét ái  tình.”<br>
<br>
“Hả?!” - nhỏ Hà phản ứng mạnh hơn tôi nghĩ, làm rơi quyển sách và  trái táo đang ăn dở xuống sàn – “Trời sập rồi hả?”<br>
<br>
“Ê, thái độ vậy là  sao?”<br>
<br>
“Cái bản mặt ông mà cũng nói được tới bốn chữ tiếng-sét-ái-tình thì  tui phản ứng dzầy còn nhẹ đó.”<br>
<br>
“Làm như tui sắt đá không  bằng.”<br>
<br>
“Không phải sắt đá, mà là … nước đá! Bài tình-iu-nhân-loại ông  thường ca với tui quăng cho mối gậm rồi hả?”<br>
<br>
“Ai biết.” – tôi thở dài,  mắt đăm chiêu, thả hồn vào đôi mắt đen tuyền của gã trong ký ức  mình.<br>
<br>
“Nè, đừng nói tui ông iu thiệt nghe.” - nhỏ nghiêm túc.<br>
<br>
“Tui  nghĩ là vậy.”<br>
<br>
“Trời, trên đời cũng còn có đứa nắm chuôi được đại thiếu  gia nhà ta hả, coi bộ không phải tầm thường, nhỏ tên gì, mặt mày ra  sao?”<br>
<br>
“Bà...”<br>
<br>
“Gì?”<br>
<br>
“Bà có phản đối vụ đồng tính  không?”<br>
<br>
“Đừng nói “nhỏ” đó là … boy nghen.” - Hà để cuốn sách vừa mới  nhặt dưới đất lên bàn.<br>
<br>
“Bà hiểu tui nhất.”<br>
<br>
“Giời ạ!!! Đừng giỡn  kỉu đó chứ.”<br>
<br>
“Thiệt mà.”<br>
<br>
“Gặp bao lâu rồi?”<br>
<br>
“Mới nãy, trên  bãi biển.”<br>
<br>
“Hết hiểu nổi ông. Vậy thân phận chàng ra sao?”<br>
<br>
“Có nói  được tiếng nào đâu mà biết!”<br>
<br>
Hà nhìn chằm chằm vào tôi, thằng bạn thân  nhất của nhỏ, cố nghĩ đến một từ nào đó để nói. Thật Hà không ngờ có ngày tôi  lại có-vẻ nghiêm túc với một người, và lại là một thằng con trai lạ hoắc. Chính  tôi còn không ngờ nữa là, tôi đã đứng rất lâu trên bãi biển để suy nghĩ. Tuy  không dám khẳng định, nhưng chắc có đến 90% là yêu. Ra “tiếng sét ái tình” là có  thật!<br>
<br>
“Bà có thấy tui kinh tởm không?” <br>
<br>
“Ông quên tui là yaoi fan  hả? Nhớ đã nói rồi mà, tui ghét transvestite chứ không kỵ gay. Chỉ có điều không  ngờ lady-kill như ông lại thành gay. Cái đó gọi là quả báo.”<br>
<br>
“Ừ, quả báo,  báo cái đầu bà á!”<br>
<br>
Tôi và nhỏ quay lại với những suy nghĩ của riêng mình.  Thật may tôi có một con bạn thân như nhỏ. Nếu không giờ tôi đã nổ tung vì không  biết phải chia sẽ cùng ai.<br>
<br>
Hôm sau, tôi lại đến quãng bờ biển đó, cũng  khoảng giờ đó, chỉ mong được gặp lại em. À, tôi tự cho mình quyền gọi gã đó là  em (lạy trời gã đừng lớn tuổi hơn tôi). Và rồi em cũng xuất hiện, em hơi ngạc  nhiên vì sự tình cờ, nhưng rồi như lần trước, em lại lướt qua tôi.<br>
<br>
Một  ngày… <br>
Hai ngày… <br>
Rồi ba ngày… <br>
<br>
Tôi và em cứ thế lướt qua  nhau.<br>
<br>
Ngày thứ tư, tôi đánh liều bắt chuyện. Thiệt là tôi mới gặp vụ này  lần đầu. Trước giờ chỉ toàn bọn con gái hùa lại bám dính lấy tôi, nài nỉ tôi trò  chuyện. Em mỉm cười. Wah, em nói chuyện với tôi! Chả khó như tôi nghĩ, biết thế  tôi đã không mất những ba ngày im hơi lặng tiếng.<br>
<br>
Tôi tự giới thiệu, em  cũng thế. Ra em bằng tuổi tôi, và cũng ở Thành phố ra đây nghỉ hè, đang ở nhà bà  con. Em không chịu nói tên, cũng không nói trường. Lúc tôi hỏi, ánh mắt em nhìn  tôi lạ lắm. Giờ tất cả những gì tôi biết về em chỉ là tuổi.<br>
<br>
<div style="text-align: right;"><em><strong>[</strong>...Dữ dội và dịu êm<br>
Ồn ào và lặng  lẽ<br>
Sông không hiểu nổi mình<br>
Sóng tìm ra tận bể...<strong>]</strong></em></div>
<br>
Tôi  không đến vũ trường, cũng chả chơi bời ở mấy tiệm cà phê nữa. Mỗi chiều tôi lại  ra đây để được gặp em. Được ngắm em. Tình cảm tôi dành cho em cứ thế lớn dần. Em  vẫn bí ẩn và rất xa xôi. Cứ như cơn sóng vậy, tiến đến gần tôi, nhưng khi tôi  đưa tay định bắt lấy, sóng lại dạt ra xa. Em trốn tránh sự quan tâm của tôi, dù  chỉ như một người bạn.<br>
<br>
Thời gian dần trôi, chả còn bao lâu nữa tôi phải  trở về chuẩn bị cho năm học mới. Ban đầu tôi định chỉ ở đây vài ngày. Cũng may  con Hà chịu thông cảm cho mối tình đơn phương của tôi, chấp nhận ở lại đến hết  hè, bằng không ba mẹ đã nắm đầu lôi tôi về từ lâu rồi.<br>
<br>
Hôm nay cũng như  mọi ngày, tôi và em đi dạo, nói chuyện phiếm. Đột nhiên trời đổ mưa. Chúng tôi  chạy vội tìm chỗ trú. Trời đã tối, chỉ có tôi và em. Em khoanh tay run rẫy vì  ướt và gió biển. Môi em hơi tái, run lên bần bật. Tôi thề là lúc đó tôi mất trí.  Vì đột nhiên tôi cúi xuống hôn em. Em mở to mắt nhìn tôi… Mặc! Tôi nhắm mắt và  tận hưởng cái lạnh trên đôi môi mềm mại. Tôi muốn đôi môi đó ấm lại. Sau một  lúc, có vẻ đã lấy lại lý trí, em đẩy tôi ra, thở hỗn hễn. <br>
<br>
Em bỏ chạy.  <br>
<br>
Tôi không dám đuổi theo…<br>
<br>
<div style="text-align: right;"><em><strong>[</strong>…Ôi con sóng ngày xưa<br>
Và ngày sau  vẫn thế<br>
Nỗi khát vọng tình yêu<br>
Bồi hồi trong ngực  trẻ...<strong>]</strong></em></div>
<br>
Hôm sau tôi đến bãi biển. Không gặp em. Cũng phải,  chắc em đang giận tôi lắm... Một ngày, rồi ba ngày trôi qua. Vẫn không gặp. Ngày  thứ tư, tôi quyết đến lần nữa, vì mai đã phải rời đây. Tôi ôm theo chút hy vọng  mong manh và mong rằng nó không biến mất.<br>
<br>
Là em… Em ngồi trên mõm đá, ánh  mắt xa xăm… Tôi muốn ôm em… Muốn hôn em… Nhưng không thể… Em sẽ lại bỏ chạy… Tôi  sẽ lại mất em…<br>
<br>
Tôi bước đến ngồi xuống bên em. Em không nhìn. Cũng không  nói. Chúng tôi lẳng lặng ngồi cạnh nhau, đến khi tia sáng màu cam cuối cùng nơi  chân trời xa vụt tắt. <br>
<br>
“Mai tôi về Thành phố rồi, tạm biệt.”<br>
<br>
Em  nói nhỏ rồi đứng dậy, quay mặt bỏ đi. Ra mai em cũng phải về. Như một phản xạ tự  nhiên, tôi nắm lấy tay em. Nắm chặt.<br>
<br>
“Ít nhất cũng cho tôi biết tên cậu  với chứ?”<br>
<br>
“Để làm gì?”<br>
<br>
“Để gọi.”<br>
<br>
“Không cần  đâu.”<br>
<br>
“Cần chứ.”<br>
<br>
“Nói rồi cũng sẽ quên thôi.”<br>
<br>
“Không quên  đâu.”<br>
<br>
“Chẳng phải đã quên rồi đó sao?”<br>
<br>
Tôi ngạc nhiên nhìn em. Tôi  đã quên? Trước đây tôi có gặp em sao? Gương mặt em buồn buồn. Em nhẹ gỡ tay tôi,  quay mặt. Tôi không hiểu sao mình lại không ôm chặt lấy em. Em bỏ tôi ngồi đó,  một mình trên mõm đã với hàng trăm thắc mắc trong lòng. <br>
.<br>
.<br>
.<br>
Nhỏ  Hà nhìn tôi thông cảm, nhỏ không giải đáp được những thắc mắc của tôi, thành ra  chỉ im lặng. Nhỏ hiểu hơn ai hết tôi không cần những lời an ủi suôn. Dù sao tôi  cũng thấy bình yên khi ở bên cạnh nhỏ.<br>
<br>
Tôi trải qua những ngày sau đó  trong vô thức. Cũng may nhỏ Hà biết nên luôn ở cạnh lấp liếm dùm tôi, nhờ nhỏ ba  mẹ không thấy được sự khác lạ nơi thằng con trai yêu quí của mình. <br>
<br>
Ngày  học đầu tiên. Tôi chán nản bước vào trường. Phải chi nhỏ Hà học cùng khoa với  tôi thì hay biết mấy, nhỏ sẽ giúp tôi được yên tĩnh. Trước giờ tôi luôn là một  con người của đám đông, thành ra muốn một mình cũng khó.<br>
<br>
Tôi đảo mắt nhìn  quanh giảng đường để quyết định xem mình sẽ yên vị tại khoảng trống nào. Mấy cô  nàng cứ ngoắt tôi mãi. Tôi cười-như-mùa-thu-toả-nắng để … từ chối họ. Nụ cười  giả tạo! Từ khi gặp em, tôi biết ghét nụ cười giả dối của mình. Nhưng kệ, dù sao  nó cũng có ích. Hôm nay tôi muốn được yên tĩnh. Mắt tôi dừng lại ở một góc xa…  <br>
<br>
…Không thể nào! <br>
<br>
Là em! <br>
<br>
Chính là em! <br>
<br>
Em đang ngồi  đó, những ngón tay xinh xắn lướt trên từng trang sách. Tôi ước mình được là  quyển sách trước mặt em. Tôi hồi hộp, hồi hộp đến lạ kỳ, con tim phản chủ như  muốn phá tung lồng ngực mà bay thẳng đến hoà nhịp trái tim em. Em cùng khoa với  tôi ư? Tôi tiến lại gần<br>
<br>
“Chào, tôi ngồi đây nhé?”<br>
<br>
Em không đáp,  chỉ khẽ gật đầu rồi lại hướng mắt về trang sách. Em nhìn tôi như nhìn một gã xa  lạ. Em phớt lờ tôi ư? Em giận vì tôi đã không nhớ tới em dù học chung suốt cả  năm trời? Em hành hạ bằng cách ném vào lòng tôi một hạt giống tương tư, khiến  đầu óc tôi tràn ngập bóng hình em. Rồi lại hững hờ khi gặp mặt. Em im lặng, chú  tâm vào bài giảng, thỉnh thoảng lại ghi chép gì đấy. Tôi thì chỉ nhìn  em.<br>
<br>
Em đeo kính, có lẽ chỉ cận nhẹ, vì lúc ở Vũng Tàu em có mang nó đâu?  Hai tròng kính thuỷ tinh trong suốt phản chiếu ánh sáng ban ngày, che bớt cái  long lanh trong mắt em. Không thì chả ít cũng nhiều, sẽ có vài "em" đắm chìm  trong đôi mắt đó.  Kệ, vậy càng tốt. Chỉ mình tôi biết vẻ đẹp của em là được  rồi!<br>
<br>
Em không tham gia nhiều vào những hoạt động ăn chơi của lớp, chỉ  biết học và học. Vì thế một con người của đám đông như tôi lỡ vô tình bỏ mất sự  tồn tại của em. Đến khi nhận ra đã quá muộn màng. <br>
<br>
Tan học, em bình thản  bước đi, không chào tôi lấy một lời. Em không nhìn tôi. Không thèm đoái hoài tới  tôi. Tôi vội vã bước theo, sợ em sẽ biến mất như hôm ở bãi biển. Mười chín tuổi,  lần đầu tôi biết thế nào là vị đắng của tình yêu.<br>
<div align="center">.<br>
Em quay đi<br>
.<br>
Tôi bước theo<br>
.<br>
Em bỏ  chạy<br>
.<br>
Tôi đuổi theo<br>
.<br>
Em trốn tránh<br>
.<br>
Tôi kiếm tìm<br>
.<br>
Cứ  thế ngày này qua tháng nọ, tôi bỏ những cuộc vui náo nhiệt chỉ để lặng lẽ bước  theo em.<br>
.<br>
Tôi bắt đầu biết thế nào là khao khát.<br>
.<br>
.<br>
.</div>Cuối  cùng tôi cũng đuổi kịp em. Bắt được em. Em run rẫy trong tay tôi, nhìn tôi sợ  sệt. <br>
<br>
<div style="text-align: right;">Em chạy trốn vì sợ sẽ yêu tôi. <br>
<br>
Tôi đuổi  theo vì sợ sẽ mất em. </div>
<br>
Em đáng thương đến tội nghiệp. Tôi không cho em  thời gian. Tôi sợ em lại trốn. Tôi chiếm lấy bờ môi mềm mại của em, nhẹ nhàng  rồi thô bạo. Máu tôi sôi lên, nóng không thể tả. Tôi bứt tung hàng cúc áo, đánh  dấu từng khoảng trống trên người em. Tôi mặc cho những đam mê dẫn đường. Tôi bơi  rất giỏi, nhưng lại bị chìm trong thân xác của em, không ngoi lên được. Tôi cố  tìm một mối liên kết, gắn nối hai cơ thể lại với nhau. Tôi ôm chặt như sợ gió sẽ  cuốn em đi. Nước mắt em rơi, long lanh như giọt ngọc. Tôi liếm lấy, sợ bị ai  khác cướp đi. Tôi vấy bẩn em bằng cơ thể của chính mình.<br>
<br>
Người ta nghiện  rượu … còn tôi nghiện em… <br>
<br>
…Nếu quả thật đây là “quả báo” như Hà nói, tôi  nguyện chịu phạt suốt đời.<br>
<br>
Tôi yêu em bằng thứ tình yêu ích kỷ và chiếm  hữu. Tôi không chịu nổi khi thấy em tươi cười với kẻ khác. Tôi ghen. Tôi giận.  Tôi tránh mặt em. Nhưng em vẫn chưa kịp xuống nước năn nỉ, tôi đã vứt bỏ tất cả  để chạy đến bên em … Vì nhớ … Vì yêu…! <br>
<br>
Nếu được, tôi muốn giam em vào  một nơi nào đó không ai biết, để em mãi là của riêng tôi. Nhưng vì không thể,  tôi đành vứt bỏ lòng tự trọng còn cao hơn ngọn núi của mình để bám dính lấy em.  Tôi ôm em, hôn em, nắm lấy tay em bất cứ lúc nào có thể, tôi theo em đến bất cứ  nơi nào em đến.<br>
<br>
<div style="text-align: right;"><em><strong>[</strong>...Con sóng dưới lòng sâu<br>
Con sóng  trên mặt nước<br>
Ôi con sóng nhớ bờ<br>
Ngày đêm không ngủ được<br>
Lòng anh nhớ  đến em<br>
Cả trong mơ còn thức...<strong>]</strong></em></div>
<br>
Tôi và em tốt nghiệp. Khó  khăn lắm tôi mới thuyết phục được em đến sống cùng tôi. Tôi không muốn em đi  làm, chỉ muốn em ở nhà hưởng thụ. Nhưng em cũng là đàn ông, cũng có lòng tự  trọng của một đấng nam nhi. Tôi đành chịu thua, để em đi làm. May thay chúng tôi  làm cùng chỗ. Tôi không cho em đi xe riêng. Tôi chở em đi-về mỗi ngày. Tôi giữ  em như một gã nhà giàu ôm khư khư lấy của báu của mình. Em là báu vật của tôi.  <br>
<br>
Tôi không bận tâm đến tiền bạc, nhà, xe… <br>
<br>
… Chỉ cần có  em!<br>
<br>
Tôi giữ em kỹ thế đấy, ấy vậy mà em vẫn vuột khỏi tay  tôi.<br>
<br>
“Rồi cậu sẽ tìm được người cậu yêu hơn cả yêu tôi.”<br>
<br>
Em mỉm  cười, nụ cười đẹp hơn cả thiên thần. Và với nụ cười đó, em tan biến trong tay  tôi như bọt sóng, chẳng còn biết đâu là em giữa biển cả mênh mông.<br>
<br>
<em>Tôi  đi qua hơn ngàn phố, ngàn đường<br>
Tìm kiếm một bóng hình không quen biết<br>
Tôi  đi qua hơn ngàn tháng, ngàn ngày<br>
Cố quên một bóng hình tôi nhung  nhớ…</em><br>
<br>
Tôi trở lại cuộc sống cũ của mình, chơi bời lêu lỏng. Hà chỉ  biết lắc đầu. Tôi hẹn hò hết người này đến người khác, cả nam lẫn nữ, chỉ mong  tìm được một người như em nói, người có thể khiến tôi yêu hơn cả yêu  em.<br>
<br>
Nhưng vô vọng.<br>
<br>
Tôi chỉ thấy gương mặt em khi nhìn họ. Tôi  tưởng đang nắm tay em khi tay trong tay với họ. Tôi tưởng đang ghì chặt lấy em  khi có họ trong lòng. Tôi không ân ái được với ai cả. Tôi không thấy hơi ấm mà  tôi cảm nhận được nơi em. Tôi không nghe được mùi hương nhẹ dịu của em. Nếu em  thật là thiên sứ Thượng đế phái xuống để trừng phạt tôi, thì em đã hoàn thành  xuất sắc nhiệm vụ của mình. Trong mắt tôi không có cả thế giới, chỉ có em. Tôi  cố quên đi … Chỉ khiến mình thêm nhớ.<br>
<br>
<em>Lần đầu gặp – em – thiên thần bé  bỏng<br>
Em cho tôi một viên kẹo ngọt ngào<br>
Và sau đó là muôn ngàn vị  đắng<br>
Ngàn ngày qua tôi đã cố quên em…</em><br>
<br>
Tôi không hẹn hò với ai nữa.  Vì quá vô vị. Hôn họ tôi chỉ thấy nhạt thếch chứ không ngọt ngào như bờ môi dịu  nhẹ của em. Hà ngạc nhiên lắm. Thật ra mối tình đầu của tôi là năm lớp 8. Sau  khi tan vỡ, tôi bắt đầu ăn chơi trác táng. Hà đã phải mất năm năm mới thấy được  thằng bạn thân làm lại cuộc đời. Hẳn nhỏ nghĩ phải đợi lâu hơn nữa, đợi đến khi  người có thể thay thế em xuất hiện, giống như em đã thay thế hình bóng cũ trong  lòng tôi.  Nhưng lần này khác, tôi đã tự từ bỏ.<br>
<br>
==========<br>
Tôi bước lên đỉnh đồi, ôm lấy tấm bia trắng. <br>
<br>
...Lạnh! <br>
<br>
Không ấm áp như em... <br>
<br>
....Tôi có ôm bao lâu nó vẫn lạnh! <br>
<br>
Chắc em ... cũng đang lạnh lắm phải không?<br>
<br>
<div style="text-align: right;">“Biết ngay là ông ở đây.” - nhỏ Hà thở  dài<br>
<br>
“…”<br>
<br>
Tôi không đáp lại. Buông tấm bia ra, tôi đứng lên cạnh Hà,  nhìn ra phía biển xa. <br>
<br>
“Bà này, nhớ hồi lớp 12, có lần bà hỏi tôi nếu mối  tình thứ hai của mình cũng cùng người với mối tình thứ nhất, vậy nó có được gọi  là mối tình đầu không. Bà nhớ chứ?”<br>
<br>
“Ờ, lúc đó ông bảo tôi đi mà hỏi ông  trời.”<br>
<br>
“Có lẽ tôi biết câu trả lời rồi.”<br>
<br>
“Nói thử nghe  chơi.”<br>
<br>
“Chỉ cần bà yêu ai đó thật lòng, thì đấy là mối tình đầu. Vì dù  trước đó bà có yêu bao nhiêu lần cũng không thật gọi là yêu. Cùng người hay  không cũng vậy thôi.”<br>
<br>
“First love của tụi mình đều thê thảm quá nhỉ? Bạn  thân có khác!”<br>
<br>
Chúng tôi im lặng, đứng đó rất lâu. Tôi đã nghĩ chuyện năm  lớp 8 là yêu, nhưng đến khi gặp em mới biết hoá ra mình nhầm. Tôi có thể vì nhỏ  đó từ bỏ chính mình. Nhưng không thể vì nhỏ mà quay đầu lại. <br>
<br>
…Chỉ có em.  <br>
<br>
Chỉ vì em mà thôi!<br>
<br>
“Tôi thường bảo bà ngốc, trên đời đâu thiếu  đàn ông, mắc gì cứ phải nhớ nó mãi. Vậy ra tôi cũng là thằng  ngốc.”<br>
<br>
“Không phải nhớ, chỉ là không quên được thôi. Đúng  chứ?”<br>
<br>
Tôi mỉm cười, <br>
Hà cũng cười... <br>
<br>
Tôi không khóc, <br>
Hà  cũng không khóc… <br>
<br>
...<br>
<br>
Từ bao lâu rồi chúng tôi đã quên đi nước  mắt…?<br>
.<br>
.<br>
.<br>
Trời bắt đầu mưa... <br>
<br>
Gió biển mang theo hàng ngàn  giọt nước bé tí ti… <br>
<br>
…Quất vào mặt… <br>
<br>
…Rát rạt!<br>
<br>
Mưa cứ nặng  hạt dần…</div>
<br>
<div style="text-align: right;">
<em>Em cũng như mưa<br>
Nhạt nhoà khi tôi vừa chạm  tới<br>
Em cũng như gió<br>
Tan biến khi tôi mới đụng vào<br>
Em cũng như  cát<br>
Len khỏi tay dù tôi luôn nắm chặt<br>
Và em cũng như sóng<br>
Vụn nát trước  đại dương mênh mông…</em><br>
.<br>
.<br>
.<br>
Hai mươi lăm tuổi.<br>
.<br>
Tôi biết  thế nào là niềm đau...<br>
.<br>
.<br>
.<br>
End<strong>.</strong>
</div>
<br>
<br>
A/N: <br>
+ có  sửa 1 câu trong bài "Sóng" của Xuân Quỳnh.<br>
+ transvestite: từ chỉ những gã  đàn ông mặc đồ nữ.sóng