<div align="center">
<h1>Lặng Lẽ</h1>
<br><b>-Aki-</b>
</div>
<br><br><br><div align="center">
<br>Có con gió nào đây<br><br>Thổi qua lòng nhẹ dịu<br><br>Ai đó còn bận bịu<br><br>Lo chuyện học mùa thi<br><br> <br><br>###<br><br> <br><br>Có ai vẫn hoài nghi<br><br>Chút tâm tình vụng dại<br><br>Biết mai này gặp lại<br><br>Còn vương vấn tình xưa?<br><br> <br><br>###<br><br> <br><br>Có những buổi trời mưa<br><br>Đứng trú trong lớp học<br><br>Trộm nhìn ai qua tóc<br><br>Áo mưa giấu, "không đem!" .... </div>