"Mày biết gì không?"<br>
<br>
"Mày  tìm thấy cái quần tím của tao trong đáy tủ mày rồi hả?"<br>
<br>
"Không, trên  vnfiction đang có cuộc thi viết nữa đó."<br>
<br>
"Gì, nữa hả? Lần này là cái gì  nữa vậy?"<br>
<br>
"Chủ đề là 'lần đầu tiên'. Tham gia đi mày."<br>
<br>
"Gì, điên.  Cả đời tao có viết fic bao giờ đâu. Mày muốn thì tham gia đi."<br>
<br>
"Nhưng mà  tao lười lắm, có người tham gia chung may ra tao mới hăng lên được! Chưa viết  bao giờ thì bây giờ bắt đầu viết, có gì đâu! Tao làm quân sư kiêm beta cho! Cả  đời tao cũng chỉ mới đọc điên cuồng chứ đã viết lách gì đâu! Đi,  đi~!"<br>
<br>
"Buông! Trời ơi, buông ra! Ghê quá! Thôi được rồi, viết thì viết!  Giải thưởng là cái gì đó?"<br>
<br>
"Ờ, một mớ bùi nhùi gì đó tao không nhớ rõ,  với một quyển Harry Potter 7. Nói chung tao không quan tâm chuyện đó lắm, vấn đề  là tao muốn tham gia cuộc thi~ Chắc chắn là tao sẽ đuợc trượt trớt quớt, làm sao  mà đọ lại nổi mấy vị anh-hùng-dân-tộc trên đó, nhưng mà tao nghĩ, đã trượt rồi  thì phải trượt cho hoành tráng!"<br>
<br>
"...Là sao?"<br>
<br>
"Là, ừm, viết được  một fic nổi bật nhất trong tất cả các fic trượt giải, đến nỗi làm cho tất cả ban  giám khảo phải đập đầu vào tường mà kêu lên, 'lạy chúa, sao trên đời này lại có  một cái fic phi thường đến vậy'?"<br>
<br>
"...Là sao?"<br>
<br>
"Tao mệt mày quá.  Nhiệm vụ đầu tiên của mày nè: đi lên vnfiction đọc lại toàn bộ các fic trong thư  viện cũng như các fic đã dự thi, từ đó rút ra gu đọc chính của độc giả. Vấn đề  đầu tiên của việc viết truyện là phải biết được độc giả muốn gì. Có cầu thì phải  có cung. Mà nhớ đọc phần nguyên tác ấy, tao không muốn viết fanfic, phải mất  công lo giữ hình tượng nhân vật mệt lắm."<br>
<br>
<br>
-<br>
<br>
<br>
Hai mươi tám  cái fic sau.<br>
<br>
"Tao gục ngã! Tao đầu hàng! Đọc nữa tao sẽ cắt cổ tay tự tử  mà chết!"<br>
<br>
"Gì, gì đó? Mày hoàn thành nhiệm vụ chưa?"<br>
<br>
"Tao nghĩ là  tao hoàn thành nhiệm vụ từ cái fic thứ năm tao đọc. Tại sao tao không ngừng từ  lúc đó??? Gu đọc chính của độc giả nè: trời xanh mây trắng nắng vàng/mưa tầm  tã/tuyết rơi lả tả, anh hào nhoáng bất cần đời gặp em thiên thần trong trắng,  bùm, tình yêu sét đánh, sex xảy ra với rất nhiều các thứ từ ngữ hoa cò mà tao  mất mười phút mới nhận ra đó là sex, rồi bùm, có đứa bệnh chết/tai nạn chết/tự  tử chết/bị giết chết, đứa còn lại thề sống thề chết sẽ yêu đứa kia trọn đời.  Ahhhhhhh!!! Chờ tí, cho tao dừng lại thở."<br>
<br>
"...Nãy giờ mày xem phim  truyền hình nhiều tập Hàn Quốc hay mày đọc fic vậy?"<br>
<br>
"Tao thề! Mày chưa  đọc fic trên vnfiction bao giờ hay sao vậy? Tao mà đọc thêm một cái fic dùng đến  từ 'thiên thần' hay ví một thằng con trai như hoa như tuyết nữa chắc tao nhảy  xuống biển tự tử luôn quá! ...Mà tao đã nói với mày chuyện tất cả mấy fic đó đều  là shounen ai chưa vậy? Hai thằng con trai với nhau! Hoa với chẳng tuyết!  Ahhhhhh."<br>
<br>
"Bình tĩnh mày... Tao có đọc nhưng không đọc nhiều fic nguyên  tác... Gì nghe ghê vậy... Mà mày sao vậy?"<br>
<br>
"Nãy giờ nhiều angst và sap  quá, tao không thở được... Mà người đời dùng từ ngữ hoa cò quá, mắt tao giờ cũng  hoa cả lên nè... Tại sao đến cả sex mấy người đó cũng hoa cò được? Tao không thể  hiểu nổi. Tao đọc mà chẳng hiểu mấy đứa nhân vật đang làm gì nhau  hết."<br>
<br>
"Tại tác giả đều là mấy bạn nữ dễ thương chưa have sex bao giờ, thế  mà cũng hỏi. Thôi, nói chung tiêu chuẩn chính của một oneshot điển hình là phải  là shounen ai, có các từ ngữ sau theo bất kì một thứ tự nào: thiên thần, trái  tim, đôi môi, sóng biển, số mệnh, nỗi đau, máu, thiên thần. Đúng  chưa?"<br>
<br>
"Và phải có tên một loại cây hoa nào đó, nghe càng lạ hoắc lạ huơ  càng tốt. Tử đinh hương, dạ hương, bồ công anh, bla bla bla. Tao có thắc mắc,  tại sao chúng ta cứ phải đi theo thị hiếu chung của công chúng? Tại sao chúng ta  không đi theo thực tế và viết một cái fic không hoa cò giữa hai thằng con trai  và cho tụi nó have thật nhiều sex?"<br>
<br>
"Vì độc giả của chúng ta là một đám  con gái dễ thương dưới tuổi hợp pháp chưa bao giờ have sex và rating của cuộc  thi phải dưới MA. Đừng có giẫm đạp lên mơ mộng con gái chứ mày. Thôi được rồi,  giờ mày muốn viết về lần đầu tiên gì? Tình yêu đầu tiên? Nụ hôn đầu tiên?  ...Thôi thôi, khỏi trả lời nữa, nhìn mặt mày là tao biết mày muốn viết lần have  sex đầu tiên rồi. Tao mệt mày quá."<br>
<br>
"Gì, thông cảm, giờ nhắc 'lần đầu  tiên' tao chỉ nghĩ được đến đó thôi. Mà tao vẫn không hiểu, hai thằng cặp với  nhau thì cái thú nhất là là sex chứ còn gì nữa. Con trai chứ có phải con gái đâu  mà bày đặt hoa hồng với chẳng đi dạo trong mưa với chẳng bữa tối trong ánh nến  vàng. Mày nhìn tụi mình coi - hoàn toàn vui vẻ và vững bền mà đâu cần mấy thứ  đó! ...Ủa, khoan, hay ý mày là chúng ta nên có thêm mấy thứ đó?"<br>
<br>
"Không!  Lạy mày! Trời ơi, bỏ cái bộ mặt mắt chớp chớp má phồng phồng đó của mày đi, nhìn  kinh quá! Thôi bắt đầu viết đi, tao mệt mày quá!"<br>
<br>
"Chờ chút, tao chuẩn bị  cà phê cho cuộc hành trình vĩ đại này đã."<br>
<br>
<br>
-<br>
<br>
<br>
Năm tách cà  phê sau.<br>
<br>
"Viết về cái gì giờ mày?"<br>
<br>
"Thôi thì viết về tình yêu đầu  đại cho nó đỡ phải suy nghĩ mệt óc. Tên nhân vật là cái gì giờ?"<br>
<br>
"Ờ, đúng  rồi, nhớ đặt tên nhân vật cho nó văn hoa một tí. Mấy thứ tên mà cả đời mày cũng  không gặp được như kiểu... Tử Nghi hay Dạ Phong hay Vỹ Cầm hay cái gì gì đó. Ờ,  càng giống tên con gái càng tốt."<br>
<br>
"Gì nghe như phim Tàu vậy?"<br>
<br>
"Cho  nó thêm phần ~lãng mạn. Ai lại đi đặt ba cái tên Tùng Tuấn Tèo Tí, nghe chán  muốn chết. Thôi lấy luôn ba cái tên đó cho tiện đi. Giờ mày muốn hoa  gì?"<br>
<br>
"Hả?"<br>
<br>
"Hoa. Làm chủ đề cho truyện. Thủy tiên hay tử đinh  hương hay phượng vĩ hay anh túc? Thôi tử đinh hương đi nghe cho nó  kêu."<br>
<br>
"Gì mà anh túc ở đây nữa... viết truyện về thuốc phiện hả... Mà tao  còn không biết tử đinh hương là cái hoa gì."<br>
<br>
"Google nó đi. Tao cũng có  biết đâu, nên lấy cái đó đi. Mình không biết chứng tỏ nhiều người cũng không  biết, mà người đời thì luôn yêu đương những thứ mà họ không biết là cái quái gì.  Thôi rồi giờ bắt đầu nha. 'Trời mưa lất phất hạt bụi, trắng xóa bờ vai áo khoác  của Tử Nghi. Anh vừa trờ tới cửa quán cà phê ấm áp quen thuộc thì có ai đó đâm  sầm vào sau lưng. Hất mái tóc đen dài của mình với một tay, anh quay lại đang  định chửi kẻ nào đi đứng nhảm nhí thì bỗng sựng lại, vì đứng đó sau anh là một  thằng con trai nước da trắng muốt, đôi môi đỏ hồng, ánh mắt to tròn đen láy, mấy  lọn tóc ướt mưa ôm lấy khuôn mặt bầu bĩnh, nhìn như một thiên thần giữa bóng tối  của cơn mưa đầu mùa.' Được chưa? Ủa, mày sao vậy?"<br>
<br>
"Chờ tí, tao ói xong  đã. Tao thề, tao mà gặp thằng nào như vậy chắc tao sẽ sợ hãi mà chạy mất dép.  Mấy thằng xinh kiểu đó ghê gớm đáng sợ lắm. Nhớ thằng Bảo không? Đó. Thật, đứa  nào mà vướng phải lưới tình vì cái vẻ ngoài của thằng Bảo, tao sẽ thắp hương ba  đời cho nó."<br>
<br>
"Sỉ nhục quá mày, thắp hương bảy đời chứ. Thôi mà mày tiếp  đi. Chưa có sự xuất hiện của hoa nữa đó. Cho hai người đó hẹn nhau ngoài công  viên ngày hôm sau đi. Mặc dù nếu là tao thì tao sẽ hẹn ngày hôm sau gặp ở phòng  ngủ của tao chứ không phải ở công viên."<br>
<br>
<br>
-<br>
<br>
<br>
Bảy trang giấy  A4 sau.<br>
<br>
"Thôi, thôi, đủ rồi, trời ơi, mày mà dùng từ 'thiên thần' thêm  một lần nữa chắc tao bị đứt ruột mà chết quá. Mày giết một trong hai đứa đi.  Khúc này cho em Dạ Phong của mày vào bệnh viện được rồi đó."<br>
<br>
"Nhưng mà  bệnh gì nghe cho bi thảm giờ? Bệnh tim?"<br>
<br>
"Xài nhiều quá  rồi."<br>
<br>
"Khối u trong não?"<br>
<br>
"Cũng nhiều rồi."<br>
<br>
"Ung thư  gan/phổi/dạ dày/miệng/mũi/tai?"<br>
<br>
"Mày coi phim Hàn Quốc nhiều quá rồi  đó."<br>
<br>
"Tao mệt mày quá, nguyên cái fic này không phải kịch bản phim Hàn  chứ còn cái gì nữa! Máu trắng?"<br>
<br>
"Nhưng mà mấy bệnh đó được dùng nhiều quá  rồi, nghe nhàm chết luôn. Phải có cái gì bi thảm đánh động lòng người đọc mới  được... A, AIDS?"<br>
<br>
"...Sao mày không nói giang mai luôn đi. Tao đi lấy  thêm bánh quy đây, đói quá."<br>
<br>
<br>
-<br>
<br>
<br>
Ba hộp bánh  sau.<br>
<br>
"'...Anh đặt một cành hoa tử đinh hương lên bia mộ còn chưa kịp xanh  cỏ và chợt nhận ra rằng dù thân xác em không còn đây, nụ cười của em sẽ vẫn mãi  cháy trong mắt anh. Tử Nghi cúi xuống hôn nhẹ lên cánh hoa và cảm nhận một giọt  mưa ngọt lạnh trên đầu môi. Trời lất phát mưa, như cái lần đầu ấy anh gặp được  thiên thần đẹp nhất của đời mình.' Hết."<br>
<br>
"Thở... tao không thở được...  trời ơi, đau đớn quá... thế giới như đang tan vỡ quanh tao, tao đang chìm dần  vào trong bóng tối của sự tuyệt vọng..."<br>
<br>
"Tao có cảm giác tao đang viết  truyện cười cho con em gái mười hai tuổi của tao. Giờ tới công đoạn chỉnh sửa  thêm thắt hoa cò. Mày muốn lời bài hát Trịnh Công Sơn, thơ Xuân Diệu, hay nhạc  phim Titanic làm kết bài?"<br>
<br>
"Trịnh Công Sơn mở bài, Xuân Diệu kết bài. Tao  dị ứng Titanic. Mà khoan, tao mới nhớ ra một điều, mày biết mình quên gì không?  Chủ đề 'lần đầu tiên'!"<br>
<br>
"Chết cha, thôi đúng rồi. Nãy giờ lo nói nhảm mà  quên nhấn mạnh chủ đề của bài dự thi. Thôi giờ vậy nè, mày cứ chọt chữ 'lần đầu  tiên' vào bất cứ chỗ nào mày thấy có thể, càng nhiều càng tốt. Người đọc thấy  nhiều chữ 'lần đầu tiên' là tự biết nó về cái gì. Ví dụ nè: 'Anh mua cho Dạ  Phong một tách cà phê nóng, và đó là lần đầu tiên em nói hai chữ cảm ơn với anh  trong suốt cả buổi tối.'"<br>
<br>
"Nhảm quá mày, người ta mua cho mình cái gì thì  tất nhiên phải nói cảm ơn chứ."<br>
<br>
"Kệ nó chứ, miễn chêm vào được là được  rồi. Rồi đó, mày ngồi chỉnh sửa lại đi."<br>
<br>
<br>
-<br>
<br>
<br>
Hai tách trà  sữa sau.<br>
<br>
"Tao hoàn toàn gục ngã. Gửi cái fic đi mày."<br>
<br>
"Và tao thề  là tao mà nhìn thấy chữ 'thiên thần' hay 'đau đớn' hay 'lạnh lùng' trong bất cứ  một cái fic nào nữa, tao sẽ bị lên cơn nhồi máu cơ tim mà chết. Nhớ mua hoa hồng  vàng để lên mộ tao."<br>
<br>
<br>
---