<div align="center"><span style="font-size: 24pt; line-height: 1.3em;"><em>Cho xin  cái tên</em></span></div> <div align="center">~~~</div>
<br>
Tôi chạy chầm chậm, giữ đều nhịp thở, thư thả  ngắm những con đường yên tĩnh vẫn còn mờ sương sớm. Tôi có thói quen chạy bộ từ  năm lớp sáu. Thường sẽ có nhỏ bạn thân chạy chung, nhưng tối qua nó thức khuya  nên giờ vẫn còn đang “nướng”.<br>
<br>
Tôi đang lẩm nhẩm một bài hát, thả hồn mình  theo những ca từ êm dịu thì một gã nào đó tiến lại gần<br>
<br>
“Chào em, cho anh  làm quen nhá?”<br>
<br>
“…” - hừ, lại một gã dê xồm, tôi mặc kệ, làm lơ, hơi tăng  tốc<br>
<br>
“Làm gì chạy nhanh thế em, cho biết tên đi nà, để ý em mấy hôm rồi  giờ mới dám bắt chuyện.” – gã vẫn bám theo<br>
<br>
“…” – xìa, nghe đủ biết xạo,  mấy hôm nay có chạy đường này đâu?<br>
<br>
“Thôi nào, im lặng hoài thế, anh là  Việt kiều, mai về Mỹ rồi, muốn xin em cái tên để còn liên lạc ấy mà!”<br>
<br>
Hứ,  Việt kiều dỏm, muốn dụ bổn cô nương hả? Tôi thầm nghĩ, định sẽ mắng vào mặt hắn  một trận, nhưng rồi chợt nảy ra một “tối kiến”<br>
<br>
Tôi dừng lại, hắn cũng  dừng theo. Tôi nở nụ cười đẹp-rạng-ngời-mà-không-chói-loá<br>
<br>
“Oh, really?”  [Ồ, thật hả?]<br>
<br>
“Hả?!... E…em nói gì anh nghe không rõ?” - mặt hắn ngố ra  trông buồn cười hết sức.<br>
<br>
“Liar, It’s just a simple word but you don’t  understand. Wanna cheat me huh?” [Xạo ke, chỉ một từ đơn giản mà còn không hiểu.  Định gạt chị đây hả?] – tôi làm bộ mặc ngơ ngác như chả hiểu hắn nói  gì<br>
<br>
“Ơ…à…” - hắn gãy gãy đầu<br>
<br>
“You dirty old man, pervert, idiot!  Have you ever looked at the mirror? Wanna be a lady-kill with this ugly face of  your? Go and dream!” [Cha già mắc dịch, dê xồm, ngu ngốc! Bộ chưa từng soi gương  hả? Định tán gái với bộ mặt xấu xí đó à? Mơ đi cưng!]<br>
<br>
Tôi vẫn nói bằng  cái giọng hết sức dịu dàng. Đảm bảo kẻ nào không biết tiếng Anh (điển hình là  hắn) có nằm mơ cũng không ngờ đang bị tôi … chửi! Xìa, vậy cũng bày đặc Việt  kiều này nọ. Muốn diễn kịch thì đóng tiền, chị đây dạy cho một khoá! <br>
<br>
Mặt  hắn đó au, hắn ấp úng ậm ờ vài chữ gì đấy rồi bỏ chạy mất. Đợi hắn khuất dạng  sau cua quẹo tôi mới phá lên cười<br>
<br>
“Muốn dụ chị hả cưng, kiếp sau cũng  đừng có hòng!”<br>
<br>
“Perfect!!!” [Tuyệt vời!!!]<br>
<br>
Tôi giật mình quay lại.  Một tên lạ hoắc nào đấy đang đứng dựa rào, vỗ tay. Ai cần hắn khen chứ? Tôi liếc  hắn bằng ánh nhìn … lưỡi lam!<br>
<br>
“Whaddaya want?” [Muốn gì hả?]  <br>
<br>
“Hey, what makes you so angry? I just want to be a hero, but the beauty  didn’t let me save her.” [Ôi, làm gì giận dữ thế? Đây chỉ muốn làm anh hùng, có  điều mỹ nhân không cho cứu.] - hắn điềm tĩnh tiến lại gần.<br>
<br>
“Who needs  your help?” [ Ai cần giúp?] – tôi kênh mặt<br>
<br>
“Oh yeah, I know. Poor this  pervert!” [Vâng, biết rồi. Tội gã dê xồm đó ghê!]<br>
<br>
“Huh! Don’t care…Ah…who  are you anyway?” [Hứ! Mặc kệ … À … dù sao thì đằng ấy là ai?]<br>
<br>
“Me? …Uhmm…  A Vietnamese, like you.” [Đây hả?...Uhmm… Một người Việt Nam, như đằng ấy thôi.]  - hắn nhúng vai<br>
<br>
Xàm, ai không biết hắn người Việt? Cái người ta muốn hỏi  là tên kìa. Giỡn mặt với đây hả?<br>
<br>
“And you?” [Còn đằng ấy?]<br>
<br>
Tôi  chưa kịp “xả” hắn một chập thì hắn hỏi lại.<br>
<br>
“A Vietnamese, like you.” [  Một người Việt Nam, như đằng ấy thôi]<br>
<br>
Muốn thì đây chơi tới cùng, ngại ai  chứ! Hắn thoáng chút ngạc nhiên rồi cười<br>
<br>
“Good.” [Giỏi.]<br>
<br>
“Of  course!” [Đương nhiên.]<br>
<br>
“Nói gì thì nói, cho xin cái tên  nhá?”<br>
<br>
“Hổng cho. Sao? Không nói tiếng Anh nữa à?”<br>
<br>
“Nói với đằng ấy  thì Anh hay Việt gì cũng vậy thôi, nhưng thích thì chìu. Hey, wanna compete?”  [Này, muốn đấu không?]<br>
<br>
“Compete what?” [Đấu gì?]<br>
<br>
“Running, ok?”  [Chạy nhé?]<br>
<br>
“Who scares?” [Ai sợ ai.]<br>
<br>
Tôi hất mặt. Hai bên vào vị  trí rồi xuất phát. Gì chứ chạy thì khỏi lo, trong lớp đến mấy boy còn qua mặt  tôi không nổi nữa là. Chạy bền, cự ly ngắn, cự ly dài tôi đều ok hết.  <br>
<br>
Được một quãng khá dài, tôi và hắn vẫn ngang cơ. Nhưng hắn chẳng phải  vừa. Sau năm phút hắn đã tạo được khoảng cách. Rồi dần dần, hắn bỏ xa tôi cả  thước! Gay go đây, coi bộ gặp cao thủ rồi. Sau mười lăm phút “mở máy hết công  suất”, tôi bỏ cuộc. Mệt không chịu nổi. Lần đầu có một gã đánh bại được tôi. Thề  sẽ giết hắn T_T.<br>
<br>
Tôi một tay chống tường rào, một tay chống hông, gập  người thở hồng hộc.<br>
<br>
“Nè, đang chạy mà dừng kiểu đó dễ <em>die</em> lắm  nghen!”<br>
<br>
Hắn quay trở lại, người đẫm mồ hôi nhưng trông vẻ mặt chẳng mệt  mỏi là bao. Hắn người ngoài hành tinh hả?<br>
<br>
“Biết…chứ…đây… mệt muốn…chết…đi  không…nổi!”<br>
<br>
Tuy tôi ngoan cố thật, nhưng giờ nhìn cũng đủ biết tôi thở  hổng ra hơi rồi, chả việc gì phải giấu. Hắn nhoẻn miệng cười. Ghét cay ghét đắng  nụ cười của hắn. Rồi chả hỏi han tiếng nào, hắn đỡ tôi đứng dậy. Coi như cũng  còn chút lương tâm. <br>
<br>
“Khát không?”<br>
<br>
Hắn quay sang hỏi. Giờ tôi đã  đỡ mệt và tự đi một mình. Kể ra cũng lâu lắm rồi mới chạy “hết ga” kiểu này. Hắn  bước chầm chậm kế bên.<br>
<br>
“Hổng lẽ hông!?”<br>
<br>
“Sữa đậu nành nhá?” - hắn  chỉ ngón cái vào quán nước bên đường<br>
.<br>
.<br>
.<br>
.<br>
“Rồi mi ngồi chơi  xơi nước với hắn hả?”<br>
<br>
“Đương nhiên, miễn phí mà!”<br>
<br>
“Hiếm à nha,  thường mi đâu thèm để ý mấy lời thách thức nhảm nhí giữa đường? Đằng này xong  lại còn uống nước với người ta?”<br>
<br>
“Hừ, ai biết. Nhưng lần sau mà gặp thì  đừng hòng ta thua.” – tôi mạnh miệng cho có chứ thừa biết “lần sau” cũng chưa  chắc thắng nổi.<br>
<br>
“Ha, vậy là gặp đối thủ rồi nhá! Coi chừng, đừng có mà …  iu hắn đấy!”<br>
<br>
“Ăn thì lo ăn đi, con nhiều chuyện, ta đòi tiền hộp cơm bây  giờ!”<br>
<br>
Tôi trừng mắt nhìn nó - nhỏ bạn thân từ hồi còn … trong bụng mẹ.  Lúc nãy chạy bộ về tôi có mua đồ ăn sáng cho cả hai.<br>
<br>
“Ê, hồi đi shopping  với ta chút hẳng về nghen?”<br>
<br>
“Ok, đi xe mi mà, tốn xăng ai ráng chịu!” –  tôi đáp<br>
<br>
Nhà chúng tôi cách nhau khoảng … năm trăm mét. Mấy hôm nay ba mẹ  nó không có nhà nên tôi sang ở chung. Nhà nó lúc nào cũng có đầy đủ bàn chải  đánh răng, khăn tắm và … quần áo của tôi. Chúng tôi thân nhau cũng coi như nối  tiếp truyền thống gia đình. Tôi gọi cha mẹ nó bằng “ba má” và nó cũng thế. Nói  ra có lẽ mọi người không tin, nhưng trước giờ chúng tôi chưa từng giấu nhau một  việc gì.<br>
.<br>
.<br>
.<br>
Con nhỏ này nói “shopping chút xíu” vậy chứ cũng mất  những ba tiếng đồng hồ. Ấy là còn nhanh đấy nhé! Thường thì bốn tiếng là ít  đấy!<br>
<br>
Xe thắng lại. Tôi bước xuống, không quên đấm nhẹ vào vai nó một  cái<br>
<br>
“Lần sao đừng hòng ta shopping với mi nữa, muốn gãy chân luôn vậy  đó!”<br>
<br>
Nó cười hì hì rồi rồ ga biến mất. Cằn nhằn thì cằn nhằn vậy thôi chứ  nó mà phone một cái, đang ngáy ngủ tôi cũng phải ráng lồm cồm bò dậy. Không thì  nó cũng vào tận giường mà lôi đầu tôi đi. Tôi có con bạn thân tốt hết  sức!<br>
<br>
“Huh? Nhà có khách à?”<br>
<br>
Tôi thắc mắc nhìn đôi giày thể thao lạ  hoắc trước thềm. Và để giải đáp thắc mắc của tôi, chủ nhân đôi giày đó ngay lập  tức xuất hiện cùng với … mẹ tôi.<br>
<br>
“Con về rồi đó hả? Để mẹ giới thiệu, đây  là Nguyên, con của bạn mẹ, người mẹ nói với con sẽ ở trọ nhà ta đó!”<br>
<br>
Mặc  tôi ngố ra, chắc cũng không khác vẻ mặt gã dê xồm bị tôi chơi xỏ hồi sáng là  mấy. Tên trước mặt tôi chính xác là cái tên đã đánh bại tôi ngay lần gặp đầu  tiên.<br>
<br>
“Chào bạn.”<br>
<br>
Hắn mỉm cười. Lại cái nụ cười khó ưa  đó!<br>
<br>
“Ờ chào!” - tôi cũng chào xã giao lại.<br>
<br>
“Giờ mẹ có chuyện phải  đi, chiều mới về, ba con cũng vậy. Mẹ nấu cơm sẵn rồi đó, lát nữa hai đứa dọn ra  ăn nghen.”<br>
<br>
“Dạ, còn anh hai đâu mẹ?” – tôi ngoan ngoãn <br>
<br>
“Nó đi đâu  với bạn rồi, con khỏi chừa cơm cho nó. Thôi mẹ đi đây!”<br>
<br>
Mẹ tôi nói rồi xỏ  giày vào, dắt xe ra cổng. Đúng là mẹ có nói vụ này. Nghe đâu hắn đậu vào cùng  trường đại học và cũng cùng khoa với tôi. Lúc hắn dọn đến thì tôi đang ở nhà con  bạn. Tôi đóng cửa xong quay vào, hắn ngồi chéo chân trên ghế, cười  mỉm<br>
<br>
“Đằng ấy trông vậy chứ cũng ngoan hiền quá nhỉ?”<br>
<br>
“Rồi sao nào?  Liên quan gì tới đằng ấy không?” – tôi kéo ghế ngồi đối diện<br>
<br>
“Chỉ nói vậy  thôi mà, làm gì ghê thế?”<br>
<br>
“Kệ đằng này…Xìa, biết người ta rồi còn bày đặt  hỏi tên này nọ. Xạo sự!”<br>
<br>
“Đâu có, biết thì biết nhưng chủ nhân không cho  đâu dám tự ý xài.”<br>
<br>
“Nhảm nhí!”<br>
<br>
“Vậy người Việt Nam có chịu cho  đằng này xin cái tên chưa?”<br>
<br>
“Trong từ điển đằng này không có chữ  <em>cho</em>” <br>
<br>
“Vậy <em>bán</em> nhé?”<br>
<br>
“Lấy gì mua?”<br>
<br>
“Tên đằng  này.”<br>
<br>
“Xí, biết rồi, không thèm.”<br>
<br>
“Nhưng đằng này nhớ đâu có cho  đằng ấy xài tên?”<br>
<br>
Tên này dư hơi hết sức. Nhưng chả hiểu sau suy nghĩ một  lát rồi tôi cũng đồng ý. Ay da, hôm nay tôi điên rồi!<br>
<br>
“Cũng được, vậy  đằng ấy nói trước đi!”<br>
<br>
“Gì kì vậy? Chưa đưa coi hàng trước đã đòi tiền  à?”<br>
<br>
“Vậy lỡ đưa ra rồi giựt chạy luôn, không trả tiền tính  sao?”<br>
<br>
“Thôi, thua đằng ấy, đằng này nói trước. N-G-U-Y-Ê-N.”<br>
<br>
“Vậy  đưa hàng nè. N-G-U-Y-Ê-N.”<br>
<br>
“Vậy là mua bán công bằng rồi nhé. Tiền nào  của nấy,”<br>
<br>
“Hổng dám đâu, xét cả họ và chữ lót thì đằng này nhiều chữ cái  hơn chứ bộ!”<br>
<br>
“Nhưng đằng này chỉ mua cái tên chứ có mua luôn họ và chữ  lót đâu?”<br>
<br>
“Vậy đằng ấy dám chắc không bao giờ gọi cả tên họ đằng này  không?”<br>
<br>
“Thôi được rồi, coi như cám ơn đằng ấy bán rẻ!”<br>
<br>
“Tốt  đó!”<br>
<br>
Tôi mỉm cười mãn nguyện. Trước giờ tôi luôn là kẻ thắng cuộc, vậy mà  mới gặp hắn đã bị thua những hai lần - lần thi chạy và lần này, tự nhiên cũng  hùa theo trò “bán tên” nhảm nhí của hắn. Nhưng kệ, ít ra còn gỡ gạt được chút  vốn. Gì chứ những trò “cãi ngang” thì tôi thiên hạ vô địch.<br>
<br>
“Vậy làm quen  lại nhé. Chào bạn, tôi là Nguyên, lần đầu gặp, có gì mong bạn giúp đỡ!” - hắn  trịnh trọng.<br>
<br>
“Không dám. Chào bạn, tôi cũng tên Nguyên. Mong được giúp  đỡ.” – tôi làm ra vẻ nghiêm túc.<br>
<br>
Cả hai im lặng nhìn nhau đâu chừng … ba  giây rồi phá ra cười.<br>
<br>
“Hahah, nói năng kiểu cách vầy nghe mắc cười  quá!”<br>
<br>
“Ừ, đằng ấy - đằng này vẫn hơn.”<br>
<br>
Sau một trận cười sảng  khoái, hắn đưa tay ra nói<br>
<br>
“Bắt tay cái nào, nói thật lần đầu gặp đối thủ  đấy, hồi sáng đằng ấy chạy khiếp thật!”<br>
<br>
“Đằng ấy mới ghê chứ, lần đầu có  người thắng được đằng này đấy!”<br>
<br>
Tôi bắt tay hắn, cố ý siết thật chặt. Hắn  cũng chả vừa, siết mạnh tay tôi. Tôi mím môi, gồng tay vẫn không làm lại hắn.  Mặt hắn chả biết sắc tí nào, tay tôi thì đau điếng. Chịu, coi như tôi thua. Tôi  không dùng sức nữa. Như biết cái thói cố chấp không chịu nói ra miệng chữ “thua”  của tôi, hắn cũng buông tay ra.<br>
<br>
“Đằng ấy cũng “chì” quá ta.”<br>
<br>
“Quá  khen. Thôi, xuống phụ đằng này dọn cơm, đói quá rồi, không ai dư hơi mà dọn sẵn  cho ăn đâu.” – tôi co tay đấm nhẹ vào vai hắn một cái, thói quen ấy  mà.<br>
<br>
“Ok!”<br>
<br>
Hắn nhe răng cười rồi bước theo sau. Hừ, nữ nhi trả thù  ... hai mươi năm còn chưa muộn! Đợi đấy, đừng mong đây chịu thua một gã cùng tên  nhá! <br>
<br>
Tối đó tôi lăn qua lăn lại trên giường, không ngủ được. Bất giác  đưa tay phải lên nhìn. Tên này thật chẳng biết “thương hoa tiếc ngọc” gì cả. Đau  chết đi được. Đến giờ vẫn còn thấy đau đây này!<br>
<br>
Không hiểu sao tôi lại  mỉm cười.<br>
<br>
Là "sự bắt đầu" của một cái gì đó chăng?<br>
<br>
Rất mới mẻ và  lạ lẫm.<br>
<br>
Trên đời phải có “lần đầu” mới có cái gọi là “lần tiếp  theo”.<br>
.<br>
.<br>
.<br>
Đêm trôi qua bình yên…<br>
<br>
Hôm sau có hai kẻ mắt đỏ  hoe vì … thiếu ngủ!<br>
<br>
<br>
~End~<em>Cho xin  cái tên</em>