<em>*Loneliness...*</em><br>
<span style="color: red;">Chạm vào người,<br>
Không cần lời.</span><br>
Một cái chạm nhẹ,  không hơn không kém, không phải va quẹt mạnh hay ôm lấy đến nghẹn cứng, chỉ là  một cái, cần không nhiều. Tất cả chỉ là hơi ấm da thịt lướt qua, không hề vô  tình. Em đứng đó, vòng tay rang rộng, căng mọng đôi môi.<br>
Từ trước đến nay,  chỉ có em là hay chạm vào ta, em luôn chủ động dù em là người chăm lo như một  người mẹ và trưởng nhóm là ta. Em chạm vào ta, vô tình hay chưa bao giờ vô tình  chúng luôn là những cái ôm ngang eo. <br>
Ta đã thử chạy trốn cái cảm xúc sống  dậy dưới mỗi cái ôm bị ngăn cản bởi lớp quần áo, hơn ai hết ta biết, chúng mang  ý nghĩa gì. Dưới mỗi cái siết của em, ta khiếp sợ, ta ghê tởm, kinh hãi chính  bản thân mình, run rẩy trước con thú đang lớn dần.<br>
<span style="color: red;">Chạm vào người,<br>
Không vụ lợi.</span><br>
Ta không đáp lại  những cái quẹt tay, lảng tránh đôi mắt đen nâu day dứt từng mảnh tâm hồn ta mỗi  khi em hướng về phía này. Em đau, ta biết chứ, dù em cười nhưng ai rõ em hơn  ta?<br>
Ta chưa bao giờ ôm em, ôm em như em mong muốn. Ta lẩn tránh những buổi  tập. Cho đến giờ ta vẫn còn nhớ ánh sáng nâu đỏ bùng cháy đằng say hàng lông my  cong vút ấy khi ta đáp lại cái ôm của em trong một buổi phỏng vấn. Cái ôm đó là  trong kịch bản, em biết, tất cả những gì ta làm cho em, chưa bao giờ mang một  hàm ý khác.<br>
<span style="color: red;">Môi em cười,<br>
Nước mắt  rơi</span>.<br>
Ta là một kẻ nói dối đại tài hay em là một đứa trẻ mang vẻ đẹp  thiên thần?<br>
<em>*Loneliness can...*</em><br>
Ta chưa bao giờ chạm vào em thật  sự, một cái chạm mang ý nghĩa yêu thương như em muốn. Ta không thể kiềm lòng  nữa... Em vẫn đang ở đó mà, đôi môi hồng khiêu khích, ánh mắt ướt át hào cùng  mái tóc đen rủ trước trán.<br>
<div align="center">Đã bao lần ta muốn ôm em? <br>
Đã bao lần ta muốn em chỉ là của  ta?<br>
Đã bao lần ta ngứa mắt khi fan gán ghép em với một ai đó?<br>
Đã bao lần  ta muốn cho em cái em cần?</div>Em vẫn kiên nhẫn chờ đợi, dù có bị ta rũ bỏ, em  vẫn tìm cách để có được thứ em muốn. Ta quá nhát gan phải không? Khóe môi em  nhếch lên như khích lệ ta hãy tiến lên, ánh nắng chan hòa trong hồ nước sau hàng  liễu rủ.<br>
Da chạm da, dù chỉ là một ly cũng không phải là tội lỗi, nếu như nó  không hàm chứa thứ ta muốn trao em mà sao ta không thể di chuyển được?<br>
Một  khi da quấn da rồi sẽ không thể rời được nữa.<br>
<em>...Hòa quyện và tan  biến...</em><br>
Em đứng im không cử động, đôi mắt vẫn cười dưới nắng, làn da  trắng mịn như tỏa sáng, hình như em không còn biết đến sự mệt mỏi nữa. Phải, em  không nhúc nhích một ly, nắng không thể đong đầy khóe mắt bởi nó đã bị tình yêu  tràn ly.<br>
Yêu là một thứ xa xỉ phẩm, và ta chỉ muốn em trao cho ta.<br>
Không  phải bây giờ ta mới muốn chạm vào em vì ta biết đây có lẽ sẽ là lần cuối cùng,  vì em rồi sẽ biến mất. Cái ôm này không chỉ là giữ em lại, cái ôm này sẽ đem ta  theo em.<br>
<em>*Loneliness can create...*</em><br>
Đôi chân nặng trịch kéo từng  hơi thở lại gần em, những đầu ngón tay điêu luyện trên phím đàn nay run rẩy như  thiêu như đốt khi chạm vào em. Để mặc ta muốn làm gì thì làm, em đứng im, ôm em  gọn trong vòng tay. Em mát lạnh.<br>
<span style="color: red;">Chạm vào em,<br>
Áo  nới vai.</span><br>
<div align="center">Em vẫn luôn chờ ta mà, chờ mình ta phải không? <br>
Em chỉ là  của ta, em thuộc về ta, về ta...</div>Vùng mình khỏi em, đúng, kể cả em có thảng  thốt, trả lời ta đi, em có yêu ta không?<br>
Em im lặng.<br>
Cái ôm đầu tiên có  tình yêu... và là cuối cùng... tình yêu...?<br>
Mặn chát vị biển.<br>
Ta biết đây  là lần cuối, sẽ không còn lần sau nữa, em hiểu mà phải không? Em hiểu nhưng sao  đôi mắt cười ấy cứ u hoài? Ngực áo em ướt đẫm, nước mắt em  à?<br>
.<br>
.<br>
.<br>
<span style="color: red;">Chạm vào em,<br>
Nhạt nhòa  mưa.<br>
Chạm vào em,<br>
Không lời thưa.</span><br>
Âm thanh nhàu nát, chỉ còn ta  với con dao trên tay, ta không cười nữa vì em tan biến.<br>
Em tan biến vì  ai?<br>
<em>*Loneliness can create madness*</em><br>
<div style="text-align: right;">
<br>
...Mực in nhòe nhoẹt vì nước mắt ai...<br>
...  khiến nụ cười nắng mùa thu méo mó xộ xệch...<br>
...Xé và xé...Ta còn tỉnh  lắm...<br>
...Đôi mắt em vẫn cười không tì vết... Đôi môi đâu mất  rồi...<br>
...Tại vì ta không chạm vào em... <br>
...Nếu ngày ấy ta chạm vào em...  Ta muốn chạm vào em...<br>
...Quay lại và cười...<br>
...Nực cười chữ nếu...  <br>
...Em kia kìa...<br>
...Đôi mắt cười bên đôi môi... <br>
...Em chạy lại, nắng  thu vàng rực rỡ..<br>
Nụ cười trong tranh rơi đâu mất  rồi...?</div>.<br>
.<br>
.<br>
<span style="color: red;">Chạm vào em<br>
Tay vòng  tay<br>
Chạm vào em<br>
Tim lồng tim<br>
Chạm vào em<br>
Mãi không  rời.</span><br>
.<br>
.<br>
.<br>
END.<br>
*Loneliness can create madness*: Sự cô độc  đem lại những cơn điên.<br>
Dành tặng Fyk và Yuki, mỗi cái chạm là một sự tan  vỡ...<br>
By KT, NZ, Auck 13/03/2008. Kiss Yori Mo Hayaku.<br>Chạm vào người,<br>
Không cần lời.Chạm vào người,<br>
Không vụ lợi.Môi em cười,<br>
Nước mắt  rơiChạm vào em,<br>
Áo  nới vai.Chạm vào em,<br>
Nhạt nhòa  mưa.<br>
Chạm vào em,<br>
Không lời thưa.Chạm vào em<br>
Tay vòng  tay<br>
Chạm vào em<br>
Tim lồng tim<br>
Chạm vào em<br>
Mãi không  rời.