<div align="center">Cà phê</div>
<br><br>
1. <br>
<br>
Nó bước vào quán cà phê  mà cứ ngơ ngác như đi nhầm vào chỗ ko nên đến vậy. Cái quán bé tẹo tèo teo giữa  lòng thành phố đô hội nhưng sao lại lắm người đến thế. Này thì một cô em tóc  vàng hoe, môi đỏ chót, áo hai dây ngắn cũn cởn cười toe toét với một ông lão độ  tuổi thuộc hàng U50. Này thì đôi tinh nhân trẻ con nắm tay nhau và con nhỏ thỏ  thẻ gì đó vào tai thẳng nhỏ, chúng nó cười rúc rích. Này thì một anh chàng áo sơ  mi trắng, cà vạt xanh đen, mắt kiếng sáng choang và đang ngồi trước một em  laptop hãng Hp hầm hố - mà theo giá thị trường là trên 20 chai. <br>
<br>
<em>Vậy  mà hắn hẹn nó ở đây. Có nhầm ko đó?</em><br>
<br>
Nó đi lạc vào trong một tí nữa.  Bản nhạc giao hưởng chết tiệt nào đó của ai đó đang vang lên rè rè từ cái loa  đen nho nhỏ treo ở góc tường phả vào một bên tai nó nhưng tai còn lại của nó  đang căng ra lắng nghe chuyện của hai cô gái mặc áo công sở - áo công sở theo  định nghĩa của nó là: Áo trắng sơ mi bên trong, áo vest đen bên ngoài, váy dài  qua đầu gối nhưng hai cố gái này đang mặc váy ngắn vá áo thì trễ xuống ngực.  Nhưng thôi kệ, cũng cứ gọi là áo công sở đi. Chết ai đâu.<br>
<br>
- Tối qua sao  rồi?<br>
<br>
- Thì thế thôi chứ sao. <br>
<br>
- Vui ko? – Cô nàng hỏi che miệng  cười khúc khích. – Hắn là ngon ăn nhất công ty đó.<br>
<br>
- Tạm. Nhưng thiếu  kinh nghiệm lắm. Hắn hỏi tao lần đầu tiên hả. Ngu chưa từng thấy. <br>
<br>
- Thế  mày nói sao? <br>
<br>
Nó chưa kịp nghe hết câu trả lời thì một anh chàng phục vụ  đẹp trai sáng láng nào đó đến bên nó và hỏi:<br>
<br>
- Chị đi một mình hay hẹn  với bạn?<br>
<br>
Nó hơi to tròn mắt một tí khi anh phục vụ gọi nó bằng chị. Nó  nhỏ hơn anh ta mà. Nhưng dù sao cũng nên trả lời cho phải phép.<br>
<br>
- Em hẹn  với bạn. Nhưng có lẽ bạn em chưa tới. – Nó đảo mắt nhìn quanh. Ko thấy cái đầu  tổ quạ của hắn đâu cả.<br>
<br>
- Vậy mời chị chọn bàn.<br>
<br>
Nó trông qua trông  lại, ko cảm thấy thích chỗ nào cả. Anh phục vụ niềm nở nói:<br>
<br>
- Hay chị  chọn bàn kia nhé. Cạnh cửa ra vào đấy. Cái bàn có đặt hoa cẩm chướng.<br>
<br>
Nó  gật đầu cho lẹ. Rồi khi nó vừa đặt mông xuống ghế thì hắn tới.<br>
<br>
<br>
<br>
-  Tới lâu chưa?<br>
<br>
- Chưa. Sao ông đến trễ thế?<br>
<br>
- Lớp ra muộn  quá.<br>
<br>
Hắn – kẻ đang ngồi trước mặt nó, kẻ hẹn nó ra đây – đưa tay lên vò  mái tóc tổ quạ rồi cười toe toét với nó.<br>
<br>
- Bà đói ko?<br>
<br>
- Cũng có tí  chút. – Nó nói dối. Từ sáng tới giờ, nó loay hoạy chọn áo, chọn quần, chọn dây  chuyền, chọn túi xách, chọn giày, chọn tất, chọn nhẫn, chọn dây buộc tóc, chọn  kiểu tóc dù rằng vốn quần áo, dây chuyền, nhẫn, túi xách, v.v… túm lại là phụ  kiện của con gái khi đi hẹn hò của nó chỉ dừng ở con số 4 mỗi loại nhưng nó vẫn  chưa ăn được gì cả. <br>
<br>
Hắn rút ra từ trong cặp hai ổ bánh mì thịt. Và hắn  đưa nó một ổ.<br>
<br>
- Mới mua đó.<br>
<br>
Hắn thanh minh với nó về độ xẹp lép và  o ép của hai ổ bánh mì tả tơi.<br>
<br>
- Nhưng do để trong cặp nên...<br>
<br>
Nó  cười hiền:<br>
<br>
- Ko sao.<br>
<br>
Anh chàng phục vụ ban nãy sà tới bên bàn nó  với hai tách cà phê và nhướn mày điệu nghệ khi nhìn thấy hai ổ bánh mì “giẻ  rách” của tụi nó.<br>
<br>
- Mời anh chị.<br>
<br>
Anh chàng cố gắng nhếch mép lên  để nó trở thành một nụ cười khi duyên dáng một cách điêu luyện đặt hai ly cà phê  cao lênh khênh xuống mặt bàn thủy tinh rồi lại bước đi rất khoan thai. Nó cá anh  phục vụ đang cười thầm tụi nó. Nhưng thây kệ, anh ta đâu phải là người nó hẹn hò  hôm nay.<br>
<br>
2. <br>
<br>
Nó vừa ăn bánh mì vừa nói chuyện phiếm với hắn về  trường học của nó. Rồi ngó xuống luôn đôi giày của mình. Đôi giày búp bê màu  xanh dương đậm xinh xắn với cái nơ dây buộc, cái tất màu da ngắn lên trên mắt cá  chân. Rồi đến cái quần tây đen, tới cái áo sơ mi màu xanh lá cây nhạt, tới cái  túi xách màu đen ca rô, dây chuyền đen với mặt hình trái tim. Mọi thứ ổn. Nó xơi  tái xong ổn bánh mì tàn tạ và nhìn hắn. Cười.<br>
<br>
- Có cái này cho  ông.<br>
<br>
Nó rút ra từ trong túi xách một hộp quà màu xanh lá cây đậm đặt lên  bàn và đẩy về phía hắn.<br>
<br>
- Ủa, cái gì đây? – Hắn hỏi. Và nó trả lời đúng  như đã lập trình sẵn.<br>
<br>
- Quà sinh nhật. Sinh nhật ông sắp tới mà tui phải  về quê hôm đó. Hôm nay sẵn dịp tặng luôn.<br>
<br>
Hắn mở to mắt ngạc nhiên, miệng  hắn suýt xoa ko ngớt.<br>
<br>
- Ái chà, bà làm tui bất ngờ đó. Cảm ơn bà nhiều  lắm nhé. Tui ko nghĩ là có ai đó nhớ đến sinh nhật tui sớm như bà.<br>
<br>
Nó  cười thầm. <em>Thành công bước một</em>.<br>
<br>
- Thì tui mà. Ai bảo tụi là bạn  thân nhất của ông cơ chứ. Mà dạo này học hành thế nào?<br>
<br>
- Khá hơn nhiều.  Tui thấy mình đỡ ngu hơn trước.<br>
<br>
Nó phì cười. Hắn vẫn quen nói chuyện tếu  như trước. Nỗi buồn thi rớt Đại học của hắn chắc đã tan đi rồi.<br>
<br>
- Ông  chọn được trường nào chưa?<br>
<br>
- Có rồi. Trường của bà, trường Công Nghệ  Thông Tin í, với lại trường Hoa Sen.<br>
<br>
Nó miên man nghĩ đến cái cảnh nó hay  thấy trong Kí túc xá. Hắn sẽ đi cạnh nó, nói chuyện với nó và nó sẽ nhận được  hàng ngàn ánh mắt ghen tị của những cô gái chưa có người-đi-cùng. <br>
<br>
- Thi  tốt lên nhé. <br>
<br>
- Ừ. Tui sẽ ráng mà. Bởi vì còn một chuyện phải làm sau khi  thi xong nữa.<br>
<br>
Nó ngạc nhiên. Trước giờ hắn chưa bao giờ nói về chuyện sau  khi thi xong hắn sẽ làm gì. Nó đơn giản nghĩ rằng hắn sẽ thi đậu, và nó sẽ đi  học cùng hắn. <br>
<br>
Hắn ngượng ngùng ko nhìn vào mặt nó. Nó băn khoăn tự hỏi  tại sao lại như thế. Trước giờ hắn chưa bao giờ như vậy cả.<br>
<br>
- Có chuyện  gì. Báo cáo coi. – Nó dùng cái giọng nghiêm túc mà nó cố chỉnh sửa. <br>
<br>
-  À.. Bà nè, nếu tỏ tình với người ta mà người ta từ chối thì sao?<br>
<br>
Hắn hỏi  nó cái chuyện này làm cho nó vỡ ra biết bao nhiêu là điều. Hắn. Sẽ tỏ tình với  ai đó. Sau khi hắn thi đậu Đại Học. Và theo như tầm hiểu biết của nó, thì trong  cuộc đời hắn, hắn chưa kể với nó về bất cứ cô gái  nào.<br>
<br>
3.<br>
<br>
<em>Wait!! Nếu thế… cô gái đó là nó ư?<br>
<br>
Oh My  God!!<br>
<br>
Khoan.. Stop..<br>
<br>
Nếu là nó, sao hắn lại đi hỏi nó cái chuyện  này.</em><br>
<br>
- Thì đứng dậy mỉm cười rồi đi về cứ sao. Hổng lẽ ông nghĩ phải  cầu xin sao? Tình yêu đâu có thể trói buộc. <br>
<br>
- À ừ.. Hiểu. – Hắn gật gù  như đang được nghe giảng.<br>
<br>
Nó chơi luôn bài ca về tình yêu cho hắn nghe.  Ai bảo hắn hỏi trúng một cô nàng về tình yêu chứ.<br>
<br>
- Giả sử, cô nàng ta  cười vu vơ-giả lơ-uống sinh tố bơ thì ông cứ an tâm là cô nàng rất ý nhị ko đồng  ý làm bạn gái ông. Còn nếu cô ta nói “Ủa, bạn nói gì?” thì hẳn nhiên là ông đã  tìm nhầm đối tượng. Ngoài ra, nếu cô nàng phản lại “Cậu đùa à?” thì chắc chắn cô  ta xem ông là bạn rồi. Còn nhiều cách khác nữa để từ chối lắm.<br>
<br>
- Vậy..  khi nào thì con gái đồng ý?<br>
<br>
- Hả? – Tới phiên nó chơi trò tròn xoe mắt  ngây thơ. – À thì. – Nó lấy lại phong độ của một bà giáo đang giảng bài cho con  nít cấp 1. – khi các em ấy e lệ nhìn ông, mắt chớp chớp và gật gật đầu. Hoặc nói  câu: “Cậu đùa hả?” nhưng đôi má thì hồng lên như dâu tây đó.<br>
<br>
- Đùa là từ  chối, mà đùa cũng là đồng ý. Sao rắc rối dữ vậy? - Hắn đưa tay xoa xoa đằng sau  gáy, thói quen khi gặp chuyện khó nghĩ.<br>
<br>
- Con gái là thế đó ông ơi, mà em  nào được ông chấm thế?<br>
<br>
- Ừ thì cũng có.. hồi năm ngoái.<br>
<br>
Năm ngoái  là lần đầu tiên nó quen hắn, quen ở đây là quen biết qua mạng í và hai đứa chán  đời gọi điện tám với nhau, từ đó thành bạn. Nghĩa là có cơ hội cho nó trở thành  cô gái mà hắn muốn tỉnh tò.<br>
<br>
- Chà.. dữ ta. Một năm rồi, giờ mới nói, ko  sợ người ta là hoa đã có chủ à.<br>
<br>
- Thì cũng chỉ biết thế thôi. <br>
<br>
-  Mà sao ông lại để một chuyện quan trọng như thế sau khi thi Đại học  xong?<br>
<br>
- Vì như vậy mới có đủ can đảm. Và coi như ăn mừng thành  công.<br>
<br>
- Huh..<br>
<br>
- Nếu cô ấy nhận lời thì coi như tui tốt số, đậu Đại  Học và có luôn bạn gái, ko thì coi như.. xui. <br>
<br>
- Thiệt tình. – Nó chặc  lưỡi. - Có ai đời tình yêu mà xem như trò chơi kiểu giống ông ko? Con gái ko  thích thế đâu đấy nhé. Mà nè..<br>
<br>
Hắn bỏ tay ra khỏi cái đầu càng lúc càng  tệ-hơn-cả-cái-tổ-quạ của hắn.<br>
<br>
- Bộ ông thích cô ấy lắm à?<br>
<br>
- Ừ. –  Lần này hắn nhìn vào mắt nó thật. – Thích lắm. Nhờ có cô ấy mà tui biết chăm sóc  bản thân hơn, biết cạo râu khi râu dài, biết tắm rửa khi thấy dơ, biết quan tâm  tới người khác hơn.<br>
<br>
- Ấn tượng nhỉ? – Nó nhướn mày lên. – Bộ trước đây,  ko có cô ấy, ông ở dơ lắm hả?<br>
<br>
Hắn đáp tỉnh bơ, ko xem câu hỏi chọc cười  của nó ra gì. Hắn nói với cái vẻ nghiêm túc ít khi xuất hiện.<br>
<br>
- Ko hẳn  thế. Nhưng cô ấy quan trọng với tui lắm.<br>
<br>
- Ok.. ok.. – Nó giơ tay lên như  đầu hàng. Trái tim nó nhói đau kịch liệt khi nhìn thấy bộ dạng mơ tưởng xa xăm  của hắn. – Tui biết rồi. Vậy là vào nửa năm nữa, tôi có cơ hội ngồi nói chuyện  với bạn gái ông ko?<br>
<br>
- Có chứ. - Hắn cười. -  Cô ấy mà đồng ý, tôi sẽ đem  khoe với bà ngay.  <br>
<br>
- Thật vinh hạnh. – Nó mỉm cười yếu ớt. Mọi thứ hình  như đi lạc quỹ đạo hết rồi. Công sức nó chuẩn bị cho lần đầu tiên đi cà phê với  hắn hôm nay thành công cốc cả, thậm chỉ cái lần hẹn hò đầu tiên với một tên con  trai cũng trở thành con số 0 kinh hoàng. <br>
<br>
4. <br>
<br>
- Mà bà có bạn trai  chưa? Trên trường ko kiếm được anh nào sao?<br>
<br>
- Ko. Con trai trên trường  chán lắm.<br>
<br>
- Thì cứ cố gắng heng. Tôi cũng muốn xem mặt bạn trai của bà  lắm.<br>
<br>
- Ờ.. – Nó gật đại. Và cũng nói đại. Mà trên đời này, cái gì càng  bất thình lình nói càng tạo ra các tình huống vô cùng khó xử. – Tui có rồi đó  chứ.<br>
<br>
- Úi chà, giấu tui nhé. – Hắn cười tươi như bông, mà nó nghe lòng nó  rào rạo như có bàn chân ai dẫm đạp lên con đường trải sỏi vào trái tim nó. - Ai  thế? Tui có biết hông?<br>
<br>
Hắn càng hớn hở, nó càng chán nản. À thì ra là  thế. Mọi nhầm tưởng, hoang tưởng, mơ tưởng của nó với hắn đã thành một cơn ác  mộng so với hiện thực.<br>
<br>
- Tui không nói.<br>
<br>
- Nói đi mà.. – Hắn cầm  tay nó mà lắc. – Nói đi.. – Hắn nhìn nó xin xỏ, nó cảm thấy không thể chịu nổi  sự dày vò này. Nó rút tay lại.<br>
<br>
- Không nói.<br>
<br>
- Nói đi mà. Tui là  bạn thân của bà mà.. – Hắn ỉ ôi mè nheo với nó.- Tui nói với bà chuyện của tui  rồi, bà cũng phải nói chuyện của bà cho tui nghe chứ.<br>
<br>
- Thôi đi nào.. –  Nó lên tiếng nhằm để chấm dứt cái trò vòi vĩnh như trẻ con của hắn. – Tui không  nói đâu.<br>
<br>
Hắn bảo nó nói nhưng làm sao nó nói với hắn rằng chính hắn là  cái tên mà nó đang thích, chính hắn là cái tên khiến nó chuẩn bị từ trang phục  tới phụ kiện dù rằng trước giờ chưa bao giờ nó như thế chỉ để đi gặp hắn.  <br>
<br>
- Tui ko nói.<br>
<br>
Nó lặp lại lần nữa và hắn đã nắm lấy cánh tay đang  vung lên của nó. <br>
<br>
- Nói đi mà.<br>
<br>
Nó giật tay lại và nheo mắt nhìn  hắn. <em>Có nên nói ko ta..</em><br>
<br>
- Tui nói cũng được. Nhưng mà ko chịu  trách nhiệm chuyện gì xảy ra sau đó đâu à nha?<br>
<br>
- Ko sao.. Nói đi  mà..<br>
<br>
- Được rồi. Thì thế này nhé. Trong đời tôi, tôi thấy chỉ có 3 người  sau đây là tin tưởng được thôi. <br>
<br>
- Ba người. – Hắn giơ ba ngón tay lên và  bị nó quẳng cho một cái lườm. – Thôi, bà nói đi.<br>
<br>
- Người thứ nhất là  người tui thích hồi còn con nít, cậu ta là bạn hàng xóm của tui, thân với tui  nhất, hay bảo vệ cho tui, chăm sóc cho tui. Nói chung rất tốt.<br>
<br>
- Thế bây  giờ ra sao?<br>
<br>
- Ko liên lạc được. Vì nhà tui chuyển chỗ ở. Sang người thứ  hai, là anh chàng mà tui thích khi học cấp 2, cậu ấy là người có nụ cười rất đẹp  và sẵn sàng ra tay giúp đỡ tui khi tui có chuyện.<br>
<br>
- Và..<br>
<br>
- Lên cấp  3 khác trường, cũng ko liên lạc được.<br>
<br>
Hắn cụp hai ngón tay xuống, còn lại  một ngón trỏ đang chỉa thẳng lên trời.<br>
<br>
- Còn anh chàng bà sắp  kể.<br>
<br>
- Một tên ngốc thế kỷ 21,  kẻ ngu ngơ… - Nó ngần ngừ một tí. Nó cầm  ly cà phê tan ra thành nước của nó lên, uống một hơi nửa ly cà phê và nhận thấy  hắn đang nhìn nó chờ đợi – kẻ đang ngồi trước mặt tui.<br>
<br>
Nó ko dám ngẩng  lên, tiếp tục cúi đầu uống ly cà phê của mình bằng đường ống hút. Cà phê tan  thành nước rồi nên có lẽ vì thế mà ko có mùi vị gi cả. <br>
<br>
- Tui xin  lỗi.<br>
<br>
Nó đặt ly cà phê trên bàn vì sợ sẽ đánh rơi nó mất. Nó chờ đợi hắn  nói thêm nữa.<br>
<br>
- Tui ko xứng.<br>
<br>
Nó mỉm cười.<br>
<br>
- Xin lỗi chuyện  gì?<br>
<br>
- Tui xin lỗi bà mà. – Hắn nhíu mày ko nhìn vào mắt nó, cứ cúi gằm  mặt xuống.<br>
<br>
Nó đã nói ra và nhận được một lời xin lỗi. <em>Thật ấn tượng.  </em><strong>Lần đầu tiên.</strong>Hôm nay có quá nhiều lần-đầu-tiên nhỉ? <br>
<br>
- Ông  chẳng cần phải xin lỗi gì cả đâu. <br>
<br>
- Tui xin lỗi.. – Hắn rồi cũng ngẩng  lên. – Tui không xứng với tình cảm của bà. <br>
<br>
- Ông đừng xin lỗi  nữa.<br>
<br>
- Tui xin lỗi. <br>
<br>
- Thôi đi mà. – Nó gắt lên. – Chuyện đó ko có  gì … ko có gì quan trọng đâu. Đừng xin lỗi nữa.<br>
<br>
Hắn nhăn nhó  nói:<br>
<br>
- Sau này ai yêu được bà đúng là hạnh phúc lắm lắm. Tui xin  lỗi.<br>
<br>
- Được rồi. Nghe đây. – Nó nắm chặt bàn tay lại. – Nếu ông kêu tôi  đến đây chỉ để nói xin lỗi thì hôm nay tôi nghe đủ lời xin lỗi rồi.<br>
<br>
Hắn  im lặng. Khoảnh khắc hắn né tránh mặt nó sao mà lâu đến thế. <br>
<br>
- Sau nay  tui không gặp được bà nữa đâu. Tui bận ôn thi dữ lắm. Nên coi như hẹn gặp bà lần  cuối. Không bà lại trách tui vô tâm.<br>
<br>
À ha, một cách nói khéo để khỏi gặp  mặt nó nữa.<br>
<br>
- Tui hiểu. Chúc ông thi tốt. – Nó đứng dậy và chìa tay ra về  phía hắn. – Giữ sức khỏe nhé. Và nhớ cho tui coi mặt bạn gái ông nữa. Tui phải  về rồi. – Nó khoác túi xách lên vai. – Phiền ông trả tiền ly cà phê vậy.  <br>
<br>
Nó im lặng khi hắn ko bắt tay nó. Nó để tay xuôi theo người. <br>
<br>
-  Lần sau đừng mời bạn gái tới đây nhé. Hãy chọn quán nào lãng mạn một  tí.<br>
<br>
Nó bước đi ko một lần ngoảnh lại phía sau. Hôm nay, thế là đủ  rồi.<br>
<br>
5.<br>
<br>
- Đi cà phê không?<br>
<br>
Hắn hỏi qua điện thoại. Nó cà kê  suy nghĩ.<br>
<br>
- Được. Nhưng lý do?<br>
<br>
- Giới thiệu bạn gái với  bà.<br>
<br>
Nó a lên.<br>
<br>
- Được. – Nửa năm rồi, cái cảm giác khó chịu của hôm  nào đó đã tan biến rồi. Âm ỉ như tro tàn nhưng cũng im ắng rồi, ko khuấy động  như trước nữa.<br>
<br>
<br>
<br>
Hai tiếng sau, nó bước vào một quán cà phê khác.  Dịu dàng, ấm áp, sâu lắng và tiếng nhạc lần này nghe dễ hiểu hơn. Nhạc của  Blue.<br>
<br>
Nó nhìn thấy hắn. Hắn ngồi đó cùng một cô gái nào đó xoay lưng về  phía nó.<br>
<br>
Nó mỉm cười và tiến tới, nó sải bước chân từ tốn.<br>
<br>
- Mọi  chuyện rồi cũng qua thôi mà.<br>
<br>
<br>
<br>
<br>
- Đi cà phê với tớ ko?<br>
<br>
Nó  ngẩng lên. Anh chàng bạn cùng lớp với nó đang đứng trước mặt nó và mỉm cười thật  tươi trong ánh nắng sớm mai.<br>
<br>
- Trốn học hả?<br>
<br>
- Ừ. Đi  không?<br>
<br>
- Đi chứ. – Nó đứng dậy và cầm túi xách đi theo tên con trai đầu  tiên mời nó đi uống cà phê. Ai biết chuyện gì sẽ xảy ra trong lần này  chứ.<br>
<br>
<strong>End.<br>
</strong><br>