<div align="center"><strong>LẦN ĐẦU KỂ CHUYỆN</strong></div>.<br>
<br>
<br>
“Nghe này”<br>
<br>
Tôi  suỵt đứa em họ, tôi kéo nó vào một góc:<br>
<br>
“Chị sẽ kể cho em nghe một bí  mật.”<br>
<br>
“ Bí..mật?”<br>
<br>
“ừ” Tôi liếc mắt để chắc là những người- lớn  không nghe thấy. “ Một bí mật chỉ của hai đứa mình thôi”<br>
<br>
Đứa em họ gật  đầu, dán mắt vào tôi.<br>
<br>
“ Bí mật đó là một thằng nhóc”<br>
<br>
“Một thằng  nhóc?”<br>
<br>
“Ừ” Tôi gật đầu “<em>Đó là một thằng nhóc bằng tuổi tụi mình, nó  cũng học lớp một giống bọn mình, nó học ngu lắm, nó nghịch như quỷ sứ, nhưng  trái tim nó là ánh sáng mặt trời…”</em><br>
…………………<br>
<br>
<br>
Thằng bé đó lại  xuất hiện. Chỉ khi bất cẩn tôi mới lại thấy nó. Tôi biết nó là ai, tôi biết  chắc, tôi biết nó có ý nghĩa gì, tôi biết nó tên gì, tôi biết nó thuộc về đâu,  tôi hiểu nó tận chân tơ kẽ tóc. Nhưng có một điều tôi không biết, là cái gì đã  khiến cho nó xuất hiện ở đây.<br>
<br>
Lúc bấy giờ đang là mùa thu. Những cơn gió  cuối cùng lắng lại trong im lặng màn đêm. Thằng nhóc ngước mắt nhìn tôi, chẳng  đôi mắt trên đời này trong suốt được như thế. Bởi nó không thực sự tồn tại. Nó ở  đây, nhưng nó không thực sự tồn tại. Nó không phải là một sinh vật, nó chỉ là  một ý niệm, nó có được là nhờ tôi, nhưng cũng không phải thế, vì nó đã thoát ra  rồi đây này. Càng lí luận tôi càng không hiểu nổi nó có thực hay không, và liệu  tôi có đang phát rồ rồi đây không?<br>
<br>
“ Kể chuyện đi!” Thằng nhóc  nói.<br>
<br>
“Đừng ồn!”<br>
<br>
Nó ngồi buông thõng chân bên cửa sổ. <em>Nó mười  một tuổi, nó nghịch như quỷ sứ, mọi người không ai muốn chơi với nó, nhưng tâm  hồn nó đẹp như ánh sáng mặt trời</em>. Tôi càng không muốn, thì câu chuyện lại  càng trào lên. Nóng và đau. Như một ánh sáng cuồn cuộn không kìm nén được, như  một dòng chảy không sao cưỡng lại được.<br>
<br>
Thằng nhóc ấy luôn là mười một  tuổi. Từ lâu tôi đã không cho nó ăn nữa.<br>
<br>
“Kể chuyện đi, làm em sống lại  đi!’<br>
<br>
Thằng nhóc cười.<br>
<br>
Không.<br>
<br>
Tôi lắc đầu. Nó tròn mắt, rồi  nó cũng lắc đầu. Nó đưa tay, rồi đột ngột thả mình qua cửa sổ.<br>
<br>
Trong một  khoảng khắc, tôi quên mất nó là một ý niệm, tức là nó không tồn tại, tôi lao đến  túm lấy nó mà lôi lên. Nhưng bàn tay tôi chỉ bắt được mùi hương của những trưa  hè trốn học, của những kí ức bị bỏ quên, và tiếng cười của nó vụt qua kẽ tay  tôi, nghèn nghẹn như một câu chuyện bị bỏ dở.<br>
<br>
“Chị thương em lắm mà” Nó  cười hồn nhiên, bay lơ lửng trong cơn mưa đêm mùa thu “ Chị không để em chết  được đâu, làm em sống lại đi!”<br>
<br>
Nó cười rồi lại biến mất. Bao giờ thì nó  mới chết thực trong tôi?<br>
<br>
……………..<br>
<br>
Nó tên là Chính, nó là bạn của  chúng tôi. Chúng tôi đây có nghĩa là tôi và em họ. Gọi là em họ nhưng chúng tôi  lớn bên cạnh nhau như một cặp song sinh. Và cũng như một cặp song sinh, chúng  tôi che dấu cùng nhau những bí mật nho nhỏ.<br>
<br>
Và Chính là bí mật lớn nhất  của chúng tôi.<br>
<br>
“Đừng có kể những câu chuyện điên khùng!” Mọi người hét.  Bọn tôi không hiểu. Vì Chính có thực. Thực mà. Một điều kì cục là những người  xung quanh cứ làm bộ như không thấy Chính.<br>
<br>
Những lần chúng tôi muốn gặp  Chính, tôi sẽ làm thế này, tôi sẽ đặt một ngón tay lên miệng em tôi, nói thật  nghiêm trọng. “ Có một thằng nhóc bằng tuổi bọn mình, nó học lớp một ( hoặc cũng  có thể là lớp hai lớp ba lớp bốn, vì Chính lớn lên cùng với bọn tôi) nó học ngu  lắm, nó lên lớp được là một chuyện kì diệu. Nhưng nó đẹp lắm, trái tim nó là ánh  sáng mặt trời.”<br>
<br>
Và Chính hiện ra trước mặt bọn tôi, thường là đội mũ lưỡi  trai, thường là thắt khăn quàng theo kiểu thít cổ lại ( hình như đứa trẻ nào  cũng làm thế cả). Chính thích ăn kem đá năm trăm một cây giống tôi, Chính ghét  môn Toán giống em tôi. Chính là một điều tuyệt vời.<br>
<br>
Bởi Chính là một câu  chuyện không bao giờ kết thúc, Chính còn hơn cả một câu chuyện, Chính là một bí  mật, một bí mật mà những đứa con gái học tiểu học cất trong tủ áo bằng một chiếc  hộp bìa cứng, cùng với vài viên bi ve.<br>
<br>
“Có ai muốn nghe kể chuyện về mình  không?”<br>
<br>
Chính nói, và bọn tôi, không phải bịa những câu chuyện kể về  Chính, mà là nghe Chính kể những câu chuyện về mình. Chính có một thế giới nho  nhỏ, thế giới ấy gần gũi mà thực kì lạ. Chúng tôi có một ông thầy dạy Toán trẻ  măng hắc xì dầu, giờ ra chơi lại gõ gõ cạnh bàn tôi mà hỏi, đỏ mặt :  “ Cô hai  khoẻ khon?” Chính nói là một điều bí mật nhé, ông thầy của chúng tôi là một vị  tướng đó, còn cô hai của tụi tôi là một nàng công chúa. Mỗi lần ông thầy tới  chơi, cả hai ( lộn, ba) đứa hét lên: “ Công chúa ơi, tướng quân tới rồi đó” Cô  hai tôi cười “Ủa, Thiết đó hả, còn tụi bay, chập hết rồi sao?”<br>
<br>
“Thầy ơi,  ít bữa em lớn rồi em kể chuyện về thầy được không?”<br>
<br>
“Kể chuyện gì? Chuyện  cho học trò điểm một hả?”<br>
<br>
“Không, kể bí mật của thầy cơ!”<br>
<br>
Ông thầy  giật mình. Tôi nói <br>
<br>
“Bí mật là thầy là một vị tướng, Chính bảo cho em  biết đó”<br>
<br>
Ông thầy cười. Ông thầy không hỏi Chính là ai. Tôi nghĩ là ông  thầy tôi nhìn thấy Chính, vì Chính ngồi bên cạnh tôi mà. Nhiều lúc ông thầy  không phải nhìn tôi mà là nhìn Chính. Tôi nghĩ ông thầy hiểu Chính là một đứa  tốt đẹp, dù Chính học ngu lắm và quậy phá, hay nói những chuyện tầm phào. Và tôi  tin ông thầy hiểu tôi.<br>
<br>
……………………<br>
<br>
ừ, mà tôi có hiểu tôi không vậy  kìa?<br>
<br>
Sau hôm mưa rơi ấy Chính cũng không đến nữa, tôi nhận ra mình đang  nhớ Chính. Chuyện kì lạ. Chính tôi đã vứt bỏ Chính năm tôi và Chính cùng được  mười một tuổi. “ Làm ơn đi chỗ khác, mày là đổ nói láo!” Hình như tôi đã hét vào  mặt Chính như thế. Chính bị sốc. Chính sốc thật. Chính không chịu rời đi, dù tôi  đóng cửa tâm hồn lại với Chính, dù tôi đã gọi Chính là đồ nói láo, bằng cách đó,  tôi đã gián tiếp gọi tôi là đồ nói láo.<br>
<br>
“Chị đang làm gì  vậy?”<br>
<br>
Thỉnh thoảng Chính lại xuất hiện những lúc tôi không ngờ. Chính  hỏi. Có lúc tôi trả lời, có lúc không.<br>
<br>
“Tôi lớn rồi!” Tôi bảo Chính. “  Tôi hoàn toàn bình thường. Tôi không muốn bị con là đồ điên. Tôi muốn giống như  người ta.”<br>
<br>
“Ai cũng có giấc mơ của mình cả mà” Chính khoát tay “ Mà thực  ra người ta có trên đời chỉ là giấc mơ thôi!”<br>
<br>
Nhưng bây giờ thì Chính  không có ở đây. Tôi ngồi một mình đọc câu chuyện của người khác. Tôi không thể  kể chuyện. Em họ yêu quý của chị, bây giờ thì thế giới của em và của chị đã hoàn  toàn cách biệt. Còn ông thầy dạy Toán bỏ trường xoay ra làm nghề khác. Gặp thầy  đôi lần, tôi cảm thấy thầy chưa nguôi nỗi buồn bị cô tôi chê. Nhưng thầy khác  trước nhiều lắm. Thầy không thể nhìn thấy Chính được nữa. Thầy không còn là một  vị tướng. Câu chuyện Chính kể đã chết thực rồi.<br>
<br>
<br>
……………<br>
<br>
“ Thầy  ơi”<br>
<br>
“À, là em”<br>
<br>
“ Chính không đến nữa thầy  ạ.”<br>
<br>
“?”<br>
<br>
“Em đã từng mong cho Chính đừng đến, nhưng Chính không đến  nữa thầy ạ.”<br>
<br>
“…”<br>
<br>
“Em muốn gặp Chính, bây giờ em mới nhận ra là em  muốn gặp Chính. Thầy ơi! Thầy có nhìn thấy Chính phải không ạ? Chính không phải  là ảo ảnh, có đúng thế không? Làm sao gặp được Chính bây giờ? Chính đã nói thầy  là một vị tướng, Chính không nói láo, phải không thầy? Em không phải là một đứa  nói láo đúng không?”<br>
<br>
“..”<br>
<br>
“ Em đã từng muốn cho Chính biến mất,  nhưng giờ đây em rất sợ, thầy ạ. Em sợ là giông bão của thế giới này sẽ giết em  mất. Thầy thấy cơn bão đến từ đằng xa kia chứ thầy…?”<br>
<br>
“…”<br>
<br>
“ Tôi  chưa bao giờ cho rằng em là đứa nói láo!”<br>
<br>
“ Làm sao để gặp Chính đây,  thầy ơi? Cách duy nhất là kể chuyện, nhưng em biết kể cho ai bây giờ. Không phải  ai cũng nhìn thấy Chính. Thầy ơi, không phải ai cũng hiểu rõ cơn bão đang đến  gần. Không phải ai cũng nghe thấy. Không phải ai cũng nhận ra mình sắp chết chìm  trong câu chuyện dối trá của những người độc ác!...”<br>
<br>
…<br>
<br>
“Hay là kể  cho em nghe thầy nhé”<br>
<br>
“?”<br>
<br>
“Em sẽ kể cho chính em nghe. Rồi sẽ đến  người khác. Làm cho Chính sống lại đã, rồi hãy để Chính gặp người khác. Rồi  người ta sẽ hiểu chứ thầy nhỉ, rằng Chính không nói dối, là Chính sáng trong như  ánh nắng mặt trời…”<br>
<br>
“…”<br>
<br>
“Thầy ơi, thầy có hiểu em đang nói gì  không?”<br>
<br>
“.Hiểu chứ” Vị tướng trả lời “ Luôn  luôn”<br>
<br>
……………………<br>
<br>
Trước đây tôi chưa bao giờ kể chuyện cho chính  mình. Đây là lần đầu tiên. Và đến giờ này tôi vẫn còn đang thử. Và tôi vẫn không  gặp được Chính. Nhưng ít nhất tôi hiểu là Chính vẫn còn ở đâu đó ngoài kia, rằng  Chính nhất định sẽ sống dậy, và mỉm cười, và bước vào thế giới của tôi một lần  nữa …<br>
<br>
<br>
<em>Nó mười một tuổi, nó nghịch như quỷ sứ, mọi người không ai  muốn chơi với nó, nhưng tâm hồn nó đẹp như ánh sáng mặt trời<br>
<br>
Nó mười một  tuổi, nó nghịch như quỷ sứ, mọi người không ai muốn chơi với nó, nhưng tâm hồn  nó đẹp như ánh sáng mặt trời<br>
<br>
Nó mười một tuổi, nó nghịch như quỷ sứ, mọi  người không ai muốn chơi với nó, nhưng tâm hồn nó đẹp như ánh sáng mặt  trời…</em><br>
<br>