<div style="text-align: justify;">
<b>Author</b> bomb</div>
<br>
<div style="text-align: justify;">
<b>Link gốc</b> http://archiveofourown.org/works/1587635/chapters/3374003</div>
<br>
<div style="text-align: justify;">
<b>Translator</b> Adora aka Thelovedbird</div>
<br>
<div style="text-align: justify;">
<b>Category</b> M/M (thorki)</div>
<br>
<div style="text-align: justify;">
<b>Rating</b> <span style="color:red">MA/Explicit</span> - làm ơn tuân thủ dùm (và tránh xa nếu dị ứng), cho dù trình độ dịch của tôi có yếu kém tới mức nào đi nữa (dù vậy không phải chương nào cũng có cảnh nhạy cảm nên tôi sẽ thông báo trước mỗi chương).</div>
<br>
<div style="text-align: justify;">
<b>Tags/Warning</b> trai bao, hành hạ trẻ em, loạn luân anh em (không hẳn vì họ không phải anh em ruột, chậc), mất trí nhớ</div>
<br>
<div style="text-align: justify;">
<b>Translator's notes</b> Motif cliché nhưng tác giả thực sự đã thổi hồn vào một Thor yêu thương em trai đến tan nát (nhưng xứng đáng chịu khổ gấp trăm ngàn lần như thế này) và một Loki đi đến tận cùng bao kiếp sống cũng chỉ có tang thương. Một fic tuyệt vời từ đầu đến cuối, lâu lắm rồi không viết lách dịch dọc gì nên mong rằng dịch xong không vì thành quả của mình mà mất hình tượng. <br>Đang đợi tác giả cho phép. Tóm lại dịch vì muốn một người đọc nhưng lại không dám đưa cho người đó đọc (một phần vì chưa xong). Hoàn toàn vì sở thích cá nhân, không nghiêm túc hay có ý định nâng cao tay nghề (phải nhấn mạnh cái này vì i know i know nó là như vậy nhưng có những thứ dịch về tiếng việt sẽ rất kì và rất gross và tôi chưa đủ level để làm nó không thô tục ¯_(ツ)_/¯). </div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: center;">
<b><span style="font-size: x-large;">dream state</span></b>
</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
<b><br></b>
</div>
<div style="text-align: justify;">
<b><br></b>
</div>
<div style="text-align: justify;">
<b>Summary </b>
</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Nhiều năm sau khi đánh mất em trai mình, Thor gặp một người giống hệt cậu.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
<b>Author's notes</b> lấy bối cảnh sau The Dark World.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: center;">
<b><i><span style="font-size: large;">Chương 1</span></i></b>
</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Ở Midgard, đi bộ trong dòng người mà không bị nhận ra lại dễ dàng đến đáng ngạc nhiên.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Nếu anh bỏ đi bộ giáp, nếu anh mặc loại quần áo giống như họ thường mặc và buộc tóc lên, anh có thể đi qua đám đông chật kín mà không ai thắc mắc gì. Không Mjolnir, không áo choàng và áo giáp, anh cũng chỉ là một con người, nhẹ bước qua những con phố dài dưới màn đêm tăm tối.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Gần đây Thor không ngủ được. Anh trở mình trằn trọc trên giường, cho dù anh muốn đến vô cùng để có thể thiếp đi. Nếu anh đang một mình, anh sẽ ép mình dưới chăn, nhắm mắt cho đến khi ánh sáng yếu ớt đầu tiên của buổi sáng xuyên qua cửa sổ. Nếu Jane ở cạnh anh, cơ thể cô mềm mại và ấm áp và tràn đầy năng lượng cho đến khi cô mệt mỏi thiếp đi, anh không thể ở lại quá một tiếng. Nằm yên là bất khả với anh và cô thì không thể nghỉ ngơi khi không yên tĩnh, cô nhíu mày cả khi trong giấc ngủ, trở mình khó chịu, rồi anh khẽ trườn khỏi chăn để ra ngoài.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Và anh xuống phố. Và anh anh đi. Lúc nào ngoài đường cũng có người, cho dù sớm cỡ nào đi nữa. Dòng xe lướt qua. Tiếng ồn và ánh sáng tuôn ra từ các quán bar. Những người đàn ông và những người phụ nữ đứng ngái ngủ trong khi chó của họ tè vào mấy gốc cây nhỏ cằn cỗi. Thor thấy tất cả mà như không thấy gì, kiệt quệ và tuyệt vọng trông mong đến một giấc ngủ yên bình.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Đây là một đêm như vậy, lại một đêm Jane trở về từ phòng lab, trò chuyện với anh vào bữa tối và cuộn mình lại bên anh ngủ một giấc ngủ khiến anh ghen tị. Những con người mờ ảo lướt qua. Thor va phải một cặp đôi đang rời khỏi xe, họ cười và xin lỗi anh, má họ đỏ lên lẫn sau hơi thở mù sương. Thor gật đầu, có vẻ chẳng ai quan tâm rằng anh mới là người vô ý, họ quấn lấy nhau đi về phía tòa chung cư.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Đến lúc tiếng cười của họ khuất sau tai, Thor không thể nhớ họ trông như thế nào nữa. Tất cả đều giống nhau. Những kẻ mệt mỏi đi trong đêm tối. Họ cũng vô danh như anh. Ít nhất màn đêm còn mang đến sự yên bình, ngoài ra anh chẳng còn gì.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Anh đi. Trên cao là mặt trăng và những ngôi sao trốn sau chiếc mặt nạ đúc bằng ánh đèn thành phố. Chúng khiến anh mụ mị. Có lẽ anh đã ngủ, trong một khoảnh khắc, trên đôi chân này. Có lẽ anh đang mơ, bởi anh nghe một giọng nói đã biến mất vĩnh viễn trên nhân thế đang chuyển mình, một vài lời trần trụi. "—sẽ chăm sóc cưng."</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Thor thấy như có luồng điện chạy qua xương sống. Anh giật mạnh đầu, thở thật sâu, những ngón tay gần như kêu gọi Mjolnir, nhưng cảm xúc khiến anh không làm vậy. Có lẽ là sự kiềm chế. Có lẽ đó chỉ là sự sửng sốt, hoài nghi.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Bởi có một người. Trong mờ ảo, cậu ta ở bên kia đường, đang dựa vào một chiếc xe và gần như bị che khuất. Cậu ta nhợt nhạt. Khuôn mặt sắc nét và góc cạnh. Một vài sợi tóc đen dài rơi nhẹ lên xương gò má, và Thor biết người đó, biết ngay tức thì không một chút nghi ngờ, dù chỉ một nửa khuôn mặt và không thể nào, không thể nào như vậy.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Thor không nghĩ và không thắc mắc. Anh không nghĩ mình sẽ thắc mắc. Chỉ thốt lên, "Loki," gần như kêu to. Đôi chân tự tiến đến. Anh va phải một chiếc xe đậu bên lề đường và đẩy nó qua một bên. Cậu ta—Loki, chính là Loki, không quan trọng làm sao cậu lại ở Midgard, không quan trọng làm sao cậu còn sống, chẳng còn gì quan trọng hơn việc Thor cố với lấy cậu—đang mở cửa xe, cúi gập người chui vào trong.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
"Đợi đã!" Lần này Thor kêu lên, vội vàng như mệnh lệnh, và trong một giây anh nghĩ mình thấy Loki quay lại nhìn, nhưng rồi một chiếc xe tải, đèn pha chói lóa, tiếng còi ầm ĩ, rồi tiếng kim loại kêu răng rắc. Khi Thor thoát ra, chiếc xe không còn ở đó nữa. Loki đã cùng nó đi mất.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Thor ở lại khu đó cho đến bình minh. Thật sự, cho dù muốn tiếp tục đợi xem Loki có trở về, anh cũng không được chọn lựa. Cảnh sát đến cùng với những câu hỏi và rồi một trong những người đại diện của Stark xuất hiện cùng chiếc vali đầy tiền, ám chỉ là tiền bảo lãnh cho Thần. Lúc anh về đến nhà xem ra tất cả mọi người đều đã biết, Jane liên tục hỏi những câu như tại sao anh lại ở ngoài đường vào giữa đêm, tít phía bên kia thành phố. Cô lo cho anh, anh biết, nhưng anh không thể cảm kích điều đó. Tâm trí anh ồn ào, bận bịu và bị phân tâm vì một ảo ảnh thoáng qua.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Anh trải qua ngày hôm đó lặp đi lặp lại một ký ức. Chắc chắn đó không thể thực sự là Loki. Chắc chắn. Dù vậy...</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Thor thở dài, bồn chồn. Có lẽ bây giờ anh sẽ ra ngoài. Dường như anh không thể làm những việc anh vẫn thường làm cho dù mới chỉ nửa ngày trôi qua. Anh cau mày trước cửa khi Steve bước vào, đưa cho anh một chiếc hộp thiếc. Cậu ta cười nhẹ đầy thông cảm, dúi nó vào tay Thor và nói, "Công thức đặc biệt của Natasha. Có ích đấy." Rồi đi mất.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Trong chiếc hộp là lá trà. Thor hé nhìn vào và hít một hơi dài mùi hương ngọt lịm. Anh không rõ chúng gồm những gì, không biết, nhưng hương thơm đó xoa dịu, khiến anh yên tâm. Nếu Natasha pha một li để tìm đến giấc ngủ, chắc chắn cô sẽ thành công. Vậy nên anh nhíu mày trầm tư nhìn chiếc hộp. Anh cần ngủ. Không cách nào anh tin mình đã gặp Loki. Loki đã...</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Anh nên ngủ.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Anh mang trà vào phòng. Buổi tối khi màn đêm đã buông xuống, anh cầm một cốc nước nóng đứng trước nó và nghĩ về cậu ta, về ánh đèn thoáng qua màu trắng trong đôi mắt và đường cong của những chiếc răng. Phần còn lại của những tòa nhà trở nên trầm lặng khi Thor bỏ ra ngoài, một lần duy nhất anh không hề đụng đến chiếc giường của mình.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Không khó để quay lại. So với đường phố Asgard rối rắm phức tạp, thì thành phố New York này chỉ đơn giản thôi. Thor đã đi quá nhiều kể từ khi anh đến đây, nhưng đêm nay cảm tưởng như anh đang nhìn thấy nó lần đầu tiên. Anh mở to mắt, quan sát kỹ những khuôn mặt vụt qua, nhíu mày nhìn vào những chiếc xe. Tim anh đập đầy kích động, dù anh đã tự nhủ bản thân không biết bao nhiêu lần rằng anh sẽ chẳng tìm thấy gì, đó không thể là Loki, không thể nào.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Anh không gặp cậu ta. Cuối cùng anh lại trở về chiếc giường lạnh lẽo, với Jane bắt gặp anh ngoài hành lang và nảy người ra khỏi cái ôm của họ để kêu lên, "Anh lạnh quá! Anh lại đi ra ngoài sao? Sớm thế này? Anh muốn uống cà phê không—Em sẽ đi pha chút cà phê." Anh đi theo, cô có khả năng làm vơi bớt nỗi khổ sở trong lòng anh, dùng tay vẽ những hình thù khác nhau lên không khí, vén làn tóc mềm qua sau tai và khiến anh quên đi những suy nghĩ khó chịu.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Một lúc sau, cô cuộn tròn cạnh anh, nhắm mắt thì thầm, "Chỉ chợp mắt chút thôi," và Thor nghĩ anh sẽ ngủ. Nhưng không. Ánh mặt trời ban sáng trườn qua mắt, dường như Jane đã mang theo vào giấc ngủ của mình tất cả sức mạnh đang kiềm hãm tâm trí rối ren này.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Anh chỉ cần gặp. Nói chuyện với cậu ta. Để chắc chắn rằng đó không phải là Loki, rồi giấc mơ điên cuồng này sẽ chấm dứt, anh tin như thế. Vậy là anh tiếp tục bỏ mặc chiếc giường, lần theo những con phố một cách kích động, liên tục quay lại nơi anh đã gặp cậu ta. Không một dấu hiệu nào. Đêm đó, đêm tiếp theo, đêm tiếp theo của tiếp theo và rồi Thor nghĩ, với một sự sợ hãi vô cùng anh không thể tả thành lời, rằng những gì anh nhìn thấy đêm đó chỉ là một trò đùa do tâm trí anh tạo nên.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Nhưng dù sao đêm hôm sau Thor vẫn quay lại, dù lòng biết chắc kết quả cũng như trước. Mắt anh nhức nhối vì mệt. Đôi chân nặng như chì. Cổ và lưng đau nhức vì căng thẳng còn bụng thì sôi lên liên tục. Để được gì? Một ảo ảnh không có trên đời. Anh thấy bản thân điên cuồng, anh nên quay về, tìm đến chiếc giường hoặc Jane, nhưng anh không thể.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Cố hết sức để không phá nát toàn nhà gần đó, không thể làm vậy. Kiến trúc ở Midgard yếu ớt hơn nhiều so với sức mạnh của anh, anh chỉ nhìn chúng đầy giận dữ, những ngón tay siết chặt. Anh ước một kẻ ác nào đó sẽ tấn công. Một trận đấu ra trò sẽ có khả năng lọc sạch tâm trí, anh nên hỏi Stark—</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
"Này, xin chào."</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Giọng nói đó đánh thức đầu óc Thor nhiều hơn cả những suy nghĩ. Anh biết nó. Anh biết nó. Anh liếc nhìn về phía bóng tối, đôi chân tự động di chuyển đến nơi có giọng nói, qua bên đường, đến chỗ cậu ta, ah, cậu ta, cậu ta,... Cao và gầy, mặc bộ quần áo màu đen trông không hề đủ ấm so với thời tiết bên ngoài, nhưng có thể cái lạnh chưa bao giờ làm phiền Loki. Dựa vào tường gạch, một quán bar, nhìn lên trên qua làn mi và đôi môi đang mỉm cười, một khoảng da thịt lộ ra nơi áo cậu bị kéo lên.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Còn một người đàn ông khác. Anh với tới, ngón tay chạm vào má Loki—không thể là Loki, chỉ là một người Midgard, anh phải nhớ—rồi Thor nắm lấy sau áo người đàn ông kia và đẩy hắn sang một bên. Anh gầm gừ, không buồn nhìn hắn, không thể nào rời mắt khỏi Loki, không cần nghĩ đến những điều phải nói hay làm sao để nói, "Cút đi."</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Tên đó càu nhàu lại, "Đợi đến lượt mày đi thằng khốn," và kéo tay Thor. Thor quay lại nhìn hắn ta và anh không rõ biểu hiện của mình ra sao, nhưng khuôn mặt đối diện dần tái đi, hắn lui ra sau như bị giật. Hai tay đưa lên. Hắn vấp ngã, lùi lại, lắp bắp, "Này, thôi được rồi, được rồi."</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Thor khịt mũi, thả lỏng miệng—anh đã gầm gừ sao? Anh quay lại Loki, chỉ nhìn thấy cậu thôi cũng giống như bị đâm vào tim. Không cách nào để anh thuyết phục bản thân mình rằng đó không phải là Loki. Sự nhận thức mà anh đã buộc mình phải nghĩ đến, cả nỗi thất vọng, không. Là đôi mắt xanh lục của em trai anh, sắc sảo và một chút thích thú. Là tóc của em trai anh, trải xuống mềm mại và là cổ của em trai anh, dài và nhợt nhạt và trần trụi, và—</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Loki kéo dài giọng, nghiêng đầu dựa vào tường, "Tôi thường đòi thêm tiền nếu anh dọa khách quen bỏ chạy. Nhưng."</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
"Gì cơ?" Suy nghĩ ồn ào của Thor đột nhiên yên lặng. Loki nhìn anh, mắt nheo lại, tìm kiếm thứ gì đó, hai tay đút túi. Trong Thor vang lên một giai điệu hân hoan, vì anh không hiểu tại sao hay vì sao hay làm sao anh phải trả tiền cho việc này, nhưng anh không quan tâm. Anh thốt lên, "Anh đã tìm em nhiều ngày rồi."</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Loki chớp mắt. Cậu nói, "Thật sao?" với một nụ cười rộng, nhưng dáng vẻ của cậu thay đổi, đề phòng hơn.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Thor tự trách mình. Chắc chắn Loki sẽ lo sợ. Anh nhanh nhẹn đáp, "Không vì mục đích xấu nào cả. Anh chỉ muốn—muốn nói chuyện với em, chúng ta có thể—"</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Loki cười. Thor cũng mỉm cười đáp trả, dù anh chẳng hiểu có gì đáng cười. Nhưng nghe thấy tiếng cười của cậu thật tuyệt vời. Nó chữa lành tâm hồn anh, sao có thể nhiệm màu như vậy. Rồi Loki nói, "Có phải đây là, ah, đợi đã," cậu nghiêng đầu sang một bên, bước ra xa khỏi bức tường tiến đến cạnh Thor, nhìn chăm chú vào những đường nét trên khuôn mặt anh, như thể cậu chưa bao giờ nhìn thấy chúng trước đây. Đôi môi mỏng của Loki kéo lên thành một nụ cười, vẻ đắc thắng, "Tôi nghĩ là mình đã nhận ra anh. Trông rất khác khi không có bộ giáp và chiếc búa. Nơi anh ở họ hay làm thế này sao?"</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Bụng Thor trở nên lạnh lẽo. Anh hỏi lại, "Gì cơ?"</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Loki vẫn cười với anh. Gần hơn. Hay cậu đang lạnh, vì những ngón tay dài của cậu nắm lấy áo khoác Thor. Chúng xanh xao quá. Cậu nói, gần như thì thầm với chính mình, "Tôi không nên ngạc nhiên, chắc vậy. Mọi người ai cũng biết Stark bán mình khắp thế giới này." Rồi cậu nhún vai, như muốn kéo vấn đề đó ra khỏi suy nghĩ, "Vậy, anh đã nghĩ đến nơi nào chưa, hay những hoàng tử ở Asgard cũng hạ cố đằng sau hẻm tối như chúng tôi?"</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Những người bạn ở Midgard nghĩ rằng Thor ngây thơ và không biết nhiều như họ, nhưng Thor không ngốc. Anh đã chiến đấu nhiều hơn thời gian sống của tất cả các chiến hữu ở tầng này. Anh đã lang thang khắp nơi, thấy những thứ tốt đẹp và cả những thứ xấu xa của nhiều tầng, và anh không phải một gã khờ. Anh chớp mắt nhìn xuống Loki, để hiểu được những gì cậu đang nói, rồi lùi lại. Thú vui tiêu khiển của Loki lúc nào cũng méo mó, nhưng điều này—sự mời gọi—Thor nghiến răng, "Dừng lại ngay."</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Loki đóng băng. Cậu tiến đến gần hơn. Mũi giày của họ chạm nhau. Loki hất cằm, mắt cậu đề phòng. Cậu có một vết bầm ở khóe môi, đã cũ và đang mờ dần. Lông mày nhướn lên, và đó là một biểu cảm Thor biết quá rõ, sự băn khoăn thiếu kiên nhẫn của Loki dành cho những người đang cư xử lạ lùng xung quanh. Loki thì thầm, hạ giọng, "Xin lỗi, tôi không hiểu, không phải đây là những gì," Loki rướn người về phía Thor, ngực và hông, rồi những ngón tay cậu trượt sau tay Thor, "những gì anh muốn sao?"</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
"Anh đến vì muốn nói chuyện với em!" Thor nảy về phía sau như bị bỏng. Dưới lớp quần áo, da thịt anh cảm giác đang có kiến bò. Anh thấy tốt hơn—tệ hơn—với mỗi bước khoảng trống giữa họ.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Loki quan sát anh, nhíu mày, thiếu kiên nhẫn. Giọng cậu khó chịu, "Anh muốn nói chuyện. Với tôi. Tại sao?" Rồi Loki cười, không phải nụ cười thích thú khi nãy, mà là một nụ cười chua cay. "Siêu anh hùng không đi tìm điếm trong nhiều ngày chỉ để nói chuyện."</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Đến lúc này Thor mới là người thấy thiếu kiên nhẫn. Anh quá mệt mỏi với những trò đùa của Loki. Không ngạc nhiên nếu Loki tỏ ra cay nghiệt với anh, với vai trò của anh ở Midgard, nhưng cách biểu thị này thật sự quá nực cười. Thor siết chặt nắm đấm, "Đến đây, đùa giỡn đủ rồi," và với lấy tay Loki. Họ sẽ tìm một nơi ấm áp, một nơi có thể ngồi xuống nói chuyện và tất cả sẽ, một cách nào đó, ổn thỏa thôi. Thor không thể biết, nhưng anh tin như vậy.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Ít ra là anh tưởng vậy cho đến khi Loki giật tay ra, mắt cậu lóe lên tức giận và sợ hãi. Có ánh kim loại phản chiếu dưới ánh trăng và cậu rít lên, "Đừng. Tôi có dao đó." Đúng là cậu có. Chỉ là một vật nhỏ xíu với lưỡi dao cũng sắc nhưng... chẳng là gì. Kim loại thường. Tạo nên bởi dân Midgard. Thor cười, với lấy nó, và Loki kêu lên một tiếng anh không thể ngờ, mắt cậu mở to, co chân lại như sắp chạy trốn. Tiếng cười của Thor ngưng bặt.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Anh nhìn lại Loki một lần nữa. Cậu đang run rẩy, nhìn chằm chằm vào Thor như thể thực sự tin rằng anh sẽ làm hại cậu. Trong đôi mắt màu lục đó không có sự quen thuộc. Cậu không nhận ra. Cổ họng Thor khô khốc, anh kéo tay lại buông thõng hai bên, giọng khàn khàn hỏi, "Tên em là gì?" và hi vọng rằng Loki sẽ đứng thẳng lên rồi cười chế nhạo anh, mỉa mai vì anh đã tin vào một trò hề, xỉa xói anh vì anh đã không thể nhận ra chính em trai mình.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Người trước mặt anh phóng tầm nhìn ra xung quanh, trông cậu như sẵn sàng chạy trốn đến nơi, "Này, tôi không—"</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
"Làm ơn," Thor thốt lên, "làm ơn, nói cho anh tên em. Anh thề anh không có ý định làm hại em."</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Mắt cậu nhìn sang một bên, điều mà cậu sắp nói ra đây sẽ là một lời nói dối, hoặc có thể là một lời nói dối, nếu cậu là Loki, nhưng Thor không chắc chắn như trước nữa. Cậu nói, "Anh có thể gọi tôi là Jack."</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Anh nhìn cậu và cậu nhìn anh, cố gắng tỏ ra đã sẵn sàng tham chiến với chiếc dao bé tí cùng cơ thể run rẩy. Thor đợi xem cậu đã nói hết chưa, anh đợi nhưng chỉ thế thôi, không còn gì nữa. Thor nhăn mặt, anh muốn đập tan thứ gì đó. Cậu ta, cậu ta không phải Loki, hoặc cậu ta là một âm mưu Loki muốn diễn cho đến tận phút cuối, Thor không tài nào hiểu được.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Thor không có thời gian để tìm ra sự thực. Cậu ta—Loki—Jack—đang lùi ra xa, dần dần tăng thêm khoảng cách giữa họ. Ý nghĩ cậu sẽ biến mất trở nên khủng khiếp; làm lu mờ mọi thứ. Thor tiến đến chỗ cậu, lắp bắp, "Đợi đã, làm ơn. Cậu," anh liếm môi cố gắng tìm ra một lời giải thích để Loki, nếu đó là Loki, nếu đây chỉ là một trò đùa, sẽ không giễu cợt anh, "cậu làm tôi nhớ đến một người... một người tôi đã đánh mất." Từ ngữ dội lại phía anh, cấu xé máu thịt anh. Chúng thật hơn anh nghĩ.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Loki—Thor tiếp tục tin như vậy, anh đã quyết, một cách nhanh chóng, ít nhất cho đến khi anh có thể chứng minh thật sự rằng đây không phải em trai mình—đang chau mày nhìn anh. Cậu thở dài, kéo dao lên và cất đi, hà hơi vào những ngón tay, nhún vai càu nhàu, "Tuyệt. Rất tiếc về sự mất mát của anh, nhưng anh làm tôi mất đứt tiền thuê nhà hôm nay rồi, nên làm ơn đi dùm trước khi tạo cho tôi thêm tổn thất nữa." Rồi cậu quay đi, lầm bầm khó chịu với bản thân mình, như thể mọi thứ giữa họ đã kết thúc.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
"Đợi đã," Thor không nhớ được bất kì lần nào anh đã gọi với theo Loki như vậy, chuyện này chắc không thường xuyên xảy ra, nhưng anh chẳng thể ngăn bản thân mình.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Loki không thèm nhìn anh, cậu nhổ nước bọt qua vai, "Này, tôi cũng phải—"</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
"Tôi có xèng." Những từ ngữ lộn xộn. Loki lưỡng lự, quay lại, đói khát và tính toán hiện trên mặt cậu. Thor thò vào túi quần, nắm lấy đống tiền giấy xỉn màu mà Stark thường xuyên dúi vào anh, cười đùa nói đó là tiền trợ cấp rồi hỏi anh đã vứt rác chưa. Anh không rút xấp tiền dày ra, anh không ngốc đến vậy, anh kéo nhẹ nó và mắt Loki sáng lên rõ rệt.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Loki lùi lại một bước. Vẫn đang nhìn chăm chăm vào xấp tiền. Cậu hỏi, đầy thận trọng, "Anh sẽ trả tiền để tôi nói chuyện với anh?"</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Vai Thor bớt nặng nề. Loki không bỏ đi. Anh đã bước đúng hướng. Anh thở nhẹ, "Đúng vậy."</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Loki nhìn thẳng mặt anh, một sự cân nhắc sau ánh mắt mà Thor chẳng đoán ra được. Cuối cùng cậu nói, "Tôi không giảm giá cho Thần. Và anh phải trả tiền trước. Cuộc trò chuyện này sẽ kéo dài bao lâu?"</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Thor không thể ngăn mình cười hết cỡ. Nếu đây là một trò đùa, ít ra chỉ số tiền trong túi anh là thiệt hại. Anh hỏi, "Đến sáng thì bao nhiêu?"</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Loki cười, và nhận ra mình đang nhìn Thor như thể chờ đợi anh rút lại lời nói. "Bao nhiêu—sẽ là nhiều tiền đấy." Thor chỉ nhún vai, rồi đầu Loki lắc nhẹ. Cậu lại run rẩy. Thật lạ khi nghĩ rằng cậu cũng lạnh. Thor không nghĩ nhiều, cởi áo khoác và Loki nhìn anh chằm chằm, ngờ vực hơn là ngạc nhiên, khi anh đưa cho cậu. Dù vậy, cậu không từ chối. Cậu khoác nó vào rồi kéo khóa, kéo cả mũ trùm đầu lên mặt và Thor, nhìn cậu, không còn cảm thấy lạnh giá.</div>
<div style="text-align: justify;">
<br>
</div>
<div style="text-align: justify;">
Anh còn thời gian, ít nhất cho đến sáng, để hiểu được chuyện gì đang xảy ra.</div>MA/Explicitdream stateChương 1