<div align="center"><strong>KHÓC</strong></div>
<br>
<br>
<br>
<br>
<br>
<div align="center">~o0o~</div>
<br>
<br>
<br>
- Chị à!<br>
<br>
<br>
- Gì?<br>
<br>
<br>
-  Mẹ sắp sinh em bé à ?<br>
<br>
<br>
- Ừ.<br>
<br>
<br>
- Không biết là em trai hay em  gái nhỉ ?<br>
<br>
<br>
- Nếu là con trai thì nó thật may mắn, còn nếu là con gái  thì...<br>
<br>
<br>
- Nếu là con gái thì nó cũng sẽ phải giống chị em mình, sẽ  không được đi học, không được ra ngoài đường và phải làm việc suốt  ngày...<br>
<br>
<br>
- Không.<br>
<br>
<br>
- Sao ạ ?<br>
<br>
<br>
- Nếu là con gái thì  nó sẽ phải chết.<br>
<br>
<br>
- CHẾT !?<br>
<br>
<br>
- Tại sao ạ ? <br>
<br>
<br>
- Vì  nhà đã có 7 đứa con gái, đã đủ người làm việc rồi, không cần thêm  nữa.<br>
<br>
<br>
- Nhưng...<br>
<br>
<br>
- Mẹ sẽ giết nó nếu nó là con  gái.<br>
<br>
<br>
- Nhưng... nó do mẹ đẻ ra mà, mẹ sao có thể nhẫn tâm giết chết  nó chứ.<br>
<br>
<br>
- Mẹ có thể đấy !<br>
<br>
<br>
- ...<br>
<br>
<br>
- Tao với mày  cũng là con của mẹ đấy thôi, thế mà mẹ chỉ muốn tao, mày, và cả mấy đứa kia chết  đi thôi.<br>
<br>
<br>
- Tại vì chị em mình không phải là con trai à ?<br>
<br>
<br>
-  Ừ.<br>
<br>
<br>
- Nhưng sao mẹ lại để chị em mình sống.<br>
<br>
<br>
- Vì nhà cần  người làm.<br>
<br>
<br>
- Vậy sao mẹ lại giết em bé.<br>
<br>
<br>
- Tao đã nói rồi,  nhà đã đủ người làm, mẹ không cần giữ nó lại.<br>
<br>
<br>
- Em không  tin.<br>
<br>
<br>
- Mày không tin cái gì ?<br>
<br>
<br>
- Mẹ sẽ không giết nó  đâu.<br>
<br>
<br>
- Mẹ sẽ giết, nếu là tao, tao cũng sẽ làm thế.<br>
<br>
<br>
- Em  không nói chuyện với chị nữa, chị ác lắm.<br>
<br>
<br>
- Ơ, cái con  này.<br>
<br>
<br>
<br>
<div align="center">~o0o~</div>
<br>
<br>
<br>
<strong>Nếu có sinh ra thì hãy là con trai  em nhé ! Nếu không mẹ sẽ giết em mất, em của tôi, đứa em đầu tiên của tôi.  </strong><br>
<br>
<br>
<br>
<div align="center">~o0o~</div>
<br>
<br>
<br>
- Chị ơi, mẹ nói mẹ đau  lắm.<br>
<br>
<br>
- Mẹ sắp đẻ rồi, đi gọi bà đỡ. MAU LÊN !<br>
<br>
<br>
-  Dạ.<br>
<br>
<br>
<strong>Mệt ! Mệt quá ! Sao nhà bà đỡ lại ở xa thế chứ  ?</strong><br>
<br>
<br>
- Bác... bác ơi... mẹ... mẹ cháu...sắp ... sắp...  sinh...<br>
<br>
<br>
- Mày là con mẹ nào ?<br>
<br>
<br>
- Bác... đến... đến mau...  lên.<br>
<br>
<br>
- Rồi, từ từ... đừng kéo mạnh thế.<br>
<br>
<br>
Bịch. Bịch .  Bịch.<br>
<br>
<br>
- Chị ơi...<br>
<br>
<br>
- Bà làm ơn vào mau lên.<br>
<br>
<br>
-  Tụi bay nấu nước nóng chưa ?<br>
<br>
<br>
- Rồi, bà vào đi.<br>
<br>
<br>
Hộc. Hộc.  Hộc.  <br>
<br>
<br>
...<br>
<br>
<br>
...<br>
<br>
<br>
...<br>
<br>
<br>
AAAAAAAAAAAAAAAAAAAAAAAAAAA<br>
<br>
<br>
-  Sao rồi chị ?<br>
<br>
<br>
- Không biết.<br>
<br>
<br>
- Sao mẹ kêu ghê thế  ?<br>
<br>
<br>
- Đẻ thì phải đau chứ, mà đau thì kêu thôi, có thế mà cũng  hỏi.<br>
<br>
<br>
- Em bé ra chưa chị ?<br>
<br>
<br>
- Tao không biết.<br>
<br>
<br>
-  Khi nào nó ra rồi thì mẹ sẽ không la nữa.<br>
<br>
<br>
- Mẹ vẫn đang la  kìa.<br>
<br>
<br>
- Ừ, thì nó chưa ra nên mẹ phải la.<br>
<br>
<br>
- Sinh con đau  lắm hở chị ?<br>
<br>
<br>
- Ừ, đau lắm.<br>
<br>
<br>
- Đau thế nào ạ ?<br>
<br>
<br>
-  Ờ... ờ thì đau.<br>
<br>
<br>
- Đau thế nào ?<br>
<br>
<br>
- Đau là đau chứ còn thế  nào ?<br>
<br>
<br>
- Nhưng...<br>
<br>
<br>
- Con này, hỏi lắm thế. Tao đã sinh đâu  mà biết thế nào ? Mày vào mà hỏi mẹ ấy.<br>
<br>
<br>
- Thôi, em sợ  lắm.<br>
<br>
<br>
- Thế thì câm miệng  đi.<br>
<br>
<br>
...<br>
<br>
<br>
...<br>
<br>
<br>
...<br>
<br>
<br>
- Chị ơi, mẹ hết kêu  rồi kìa.<br>
<br>
<br>
- Ừ.<br>
<br>
<br>
- Vậy là em bé ra rồi hở chị ?<br>
<br>
<br>
-  Ừ.<br>
<br>
<br>
<strong>Em bé ra rồi, em của tôi ra rồi. Vui quá ! Em của tôi, đứa em  đầu tiên của tôi. Tôi được làm chị rồi!</strong><br>
<br>
<br>
- Nó là con trai hay con  gái ?<br>
<br>
<br>
<strong>Mẹ đang nói, sao tiếng của mẹ nhỏ và yếu thế nhỉ  ?</strong><br>
<br>
<br>
- Con gái.<br>
<br>
<br>
- LẠI LÀ CON GÁI À ?<br>
<br>
<br>
Mẹ đang  nổi điên. <br>
<br>
<br>
- ĐƯA CHO TÔI CÁI CHĂN.<br>
<br>
<br>
- Tôi nghĩ cô  nên...<br>
<br>
<br>
- ĐƯA CHO TÔI CÁI CHĂN, CÁI CHĂN, NGHE RÕ KHÔNG, NHANH  LÊN.<br>
<br>
<br>
Một tiếng khóc ré lên rồi lịm dần.<br>
<br>
<br>
Im  lặng.<br>
<br>
<br>
<strong>Sợ.<br>
<br>
<br>
Đáng sợ quá !<br>
<br>
<br>
Đó là tiếng khóc đầu  tiên của em tôi, đứa em mà tôi chưa được nhìn thấy mặt. Và cũng là tiếng khóc  cuối cùng... của em tôi.</strong><br>
<br>
<br>
- Chị ơi...<br>
<br>
<br>
- Mày khóc đấy à  ?<br>
<br>
<br>
<br>
<div align="center">~Hết~</div>
<br>