<b>Title</b>: Yesterday Once More<br><b>Disclaimer</b>: Mọi nhân vật trong Shingeki no Kyojin đều không thuộc về mình.<br><b>Author</b>: Blood D.<br><b>Pairing</b>: Levi/Eren {RiRen}<br><b>Genres</b>: BL. Reincarnation. Modern AU. [Slightly] dark romance. Light angst. <br><b>Status</b>: Ongoing.<br><b>Rating</b>: M.<br><b>Warning</b>: Fuckedup!Eren. Language.<br><b>A/N</b>: Chủ đề chuyển thế tái sinh. Eren mười lăm tuổi. Levi ba mươi tuổi. Và trong fic này, mình sẽ để giới tính của Hange là nữ, cho dễ viết =)). Fic cũng được đặt theo tên một bài hát của The Carpenters.<br><br><br><br><br><div align="center">
<div align="center"><b><span style="color:maroon">.LEVI'S BIRTHDAY PROJECT.</span> </b></div>
<br><br><div align="center"><img src="http://imageshack.com/a/img912/4226/ZqIFS2.png" align="center" alt="http://imageshack.com/a/img912/4226/ZqIFS2.png"></div>
<br><br><br><br><span style="color:maroon"><div align="center">
<b><h1>Yesterday Once More</h1></b><br><br><br><br><br><b>.I.</b>
</div></span>
</div>.LEVI'S BIRTHDAY PROJECT.<div align="center">
<b><h1>Yesterday Once More</h1></b><br><br><br><br><br><b>.I.</b>
</div><b>//. tbc .//</b>