<b>Author</b> paxlux<br>
<b>Translator</b> Adora aka Thelovedbird<br>
<b>Link gốc</b> archiveofourown.org/works/508903<br>
<b>Category</b> M/M (sterek)<br>
<b>Rating</b> M<br>
<b>Tags</b> có chút bạo lực, lấy bối cảnh sau thảm họa gần giống thảm họa zomebie?<br>
<b>Translator's note</b> Không liên quan lắm nhưng trong lúc dịch mình đã nghe Broken của Lifehouse, Echo của Jason Walker, và Time của Hans Zimmer cùng mấy bài được nhắc đến trong fic, recommend nếu bạn muốn thử cảm nhận giống mình ▼o・ェ・o▼<br><br><br><br>
<div align="center"><h1>when the highway takes me</h1></div>
<br><br>

<p>Đã một trăm ngày.</p>

<p>-</p>

<p>Đôi lúc radio vẫn phát nhạc. Lạ lùng, như kiểu nghe thấy bóng ma. Lần đầu tiên, dễ dàng tìm được đống gạch vữa của trạm dừng lân cận. Chẳng có một ai bên trong, chỉ là chiếc máy đang chạy các bài hát lưu sẵn và quảng cáo lốp xe cùng Taco Bell.</p>

<p>Lần thứ hai cũng vậy. Và thứ ba. Và rồi thứ tư. Họ không còn nghĩ rằng trạm radio có người nữa.</p>

<p>Radio kêu vo vo âm thanh đùng đục cho đến khi nghẹn lại bằng một bài nhạc, sặc ra từng lời hát, như bị ám bởi con quỷ Top 40 Bản Hit, rồi lại lịm đi, chìm vào hư không.</p>

<p>Nhưng đôi khi, may mắn mỉm cười và tiếng nhạc còn kéo dài được vài dặm đường.</p>

<p>-</p>

<p>Họ là một đoàn hai xe. Derek trục được mấy cái CB từ vài xe tải chở hàng, Stiles chụp ảnh đống xe kẹt trên đường liên bang, và với ngón tay mình, cậu cẩn thận viết RENO HAY BUST lên lớp bụi phủ đầy một chiếc xe tải Lay's Potato Chips.</p>

<p>'Reno?' Derek đã hỏi, ném một chiếc CB về phía Stiles.</p>

<p>'Anh chưa bao giờ coi hoạt hình hả? Giờ khi đã có một cái radio, tôi muốn có thêm biệt hiệu nữa. Tôi <em>cần</em> có một cái tên để lái xe. Và thêm một cái nón xe tải. Tốt nhất là hàng John Deere. Tôi sẽ đẹp trai hơn trong màu xanh sáng và đôi mắt lấp lánh ánh vàng.'</p>

<p>'Không, cậu cần câm mồm và giúp tôi kết nối mấy cái radio lại với nhau trước khi trời tối.'</p>

<p>Stiles liếc Derek và Derek trừng mắt lại.</p>

<p>'Được thôi. Nhưng tôi vẫn sẽ kiếm một cái tên xe tải tuyệt hảo. Optimus Prime hay gì đó. Anh có thể làm Megatron,' Stiles nói.</p>

<p>'Tôi sẽ cho cậu biến hình thành một đống xương máu me,' Derek trả lời.</p>

<p>'Tôi khóc thương cho tuổi thơ anh.'</p>

<p>-</p>

<p>Chiếc Camero đi đời. Chiếc Camaro đi đời do Derek đâm xe vào một cái cây vì ngủ gật sau tay lái và Stiles la lối qua CB.</p>

<p>Họ chia nhau ra để thám thính xung quanh ("Tuyệt, hai ta sẽ toi thôi," Stiles nói, "vì trong phim kinh dị là vậy, và biết gì không, chúng ta đang <em>sống</em> trong một bộ phim kinh dị, chúng gọi là kinh dị <em>sống còn</em> vì đáng ra mình phải <em>còn sống</em>," và Derek đáp lại, "Vui lên, Stiles, chắc cậu sẽ tồn tại được thôi," và Stiles bẻ lái chiếc Jeep, "Hết sảy, tôi sẽ là Thiếu Nữ Cuối Cùng, ngây ngất thật đấy"). Chỉ là một đoạn đường đơn giản, thăm dò phía bắc Beacon Hills, nhưng cả hai đều đã kiệt sức, sự im lặng dày đặc và luôn hiện diện, khiến Stiles phát điên, nên cậu nói nhiều hơn, cậu nói liên tục, nói đến khi cậu chỉ là đang nối những từ ngữ lại với nhau thành từng chuỗi hạt. Derek không ngủ được, hóa sói vào ban đêm, và Stiles không ngủ được, ngắm nhìn Derek chăm chú trông ra ngoài cửa sổ khi thế giới không còn gì ngoài tĩnh mịch.</p>

<p>Cả hai đã kiệt sức và Stiles vẫn đang không ngớt lời qua radio, tay cậu đổ mồ hôi ra chiếc mic khi đột nhiên, Derek nói, "Stiles—" và rồi có tiếng kêu thất thanh, kim loại va vào nhau vỡ vụn, thủy tinh tan nát qua một thanh âm rít lên cao vút.</p>

<p>Stiles vòng chiếc Jeep lại, quay lại ngã ba đường nơi họ rời nhau và cậu có thể nhìn thấy, có mũi tên đang cắm xuyên qua một cái cây. Cậu đạp mạnh thắng và để mặc chiếc Jeep giữa đường.</p>

<p>Cậu gào thét khi chạy về phía Derek, đang cúi gập người ở ghế trước, dựa ngực vào vô lăng, máu trên đầu anh, máu trên kính chắn gió và đầy xung quanh, và chiếc xe uốn mình theo cái cây trong khi đáng lẽ nó không nên thế.</p>

<p>"Đồ <em>chó chết</em> khốn kiếp!" Stiles la lên và cậu không tài nào mở cửa được, nó đã bị cong ở đâu đó, giấu mình cùng với tác động vật lí bẫy Derek bên trong khóa hàm của xe. Cậu quét đống thủy tinh ra khỏi cửa sổ tài xế, đầu ngón tay mắc vào mấy mảnh vỡ và chảy máu khi chạm được tới Derek.</p>

<p>"Derek, tôi không muốn phải đấm anh lần nữa đâu, đừng bắt tôi phải bò vào cái xe đó theo phong cách Dukes of Hazzard và đá cái đít sói của anh, tỉnh dậy ngay đồ chết tiệt và <em>thoát ra</em>—"</p>

<p>Khói và cậu ngửi thấy mùi xăng, một vài tiếng động nhỏ giọt không rõ ràng và có thể đó là máu, nhưng hình như không.</p>

<p>"Stiles, cậu vừa gọi tôi là chó chết à."</p>

<p>Mắt Derek mở to, choáng váng, và Stiles cười lên trong cơn sốc.</p>

<p>Qua cửa sổ, ra khỏi chiếc xe, Derek kiềm chế nhịp thở của mình, còn Stiles kìm lại hai bàn tay đang run rẩy, họ quay lại con đường rồi đổ sụp xuống bên chiếc Jeep.</p>

<p>Nhựa đường ấm nóng. Derek thở dài, u ám và mệt mỏi, khi các vết thương đang bắt đầu lành lại. Stiles chùi máu khỏi quần jean. Cậu không khóc; Derek chẳng đủ sức lấy tay chạm vào sau gáy Stiles, không, không thể.</p>

<p>Radio vẫn chạy, chiếc Jeep vẫn đợi chờ.</p>

<p>-</p>

<p>Họ có hai can xăng, ba lô của Stiles, một đống túi thô đựng đồ đã được phân loại, ba khẩu súng, mấy hộp đạn dược, đồ ăn, vài quyển sách, một chiếc CB còn lại, một hộp vali cứu thương, và chút tiền nữa.</p>

<p>Họ có tính sói của Derek, Stiles gọi vậy, và mấy siêu năng lực đi kèm.</p>

<p>Họ có sự thông minh, tài xoay xở tháo vát và khiếu hài hước của Stiles ("hãy cảm thấy biết ơn vì anh kẹt lại với tôi, tôi thắp sáng cuộc đời của anh bằng sự khôi hài, không có tôi thì khải huyền ảm đạm lắm, bảo đảm đó.")</p>

<p>Họ có một tấm ảnh của người phụ nữ tóc màu mật ong với mắt và miệng y hệt Stiles, ôm lấy một người đàn ông đang mỉm cười trong bộ đồng phục cảnh sát phẳng phiu; họ có một lá thư nét chữ bay bướm ký tên <em>Laura</em> bên cạnh hình mặt cười trái tim; họ có một quyển kỷ yếu trung học; họ có một phù hiệu cảnh sát trưởng và một chiếc áo da và một bộ sưu tập áo hoodie vương vãi ở ghế sau.</p>

<p>-</p>

<p>Mọi chuyện là như vầy. Ở một phòng thí nghiệm đâu đó, có một sinh vật được nhân rộng rồi đột biến. Con người nhiễm bệnh và chết. Có hỏa lực nữa. Một ông già tâm thần bắn cảnh sát trưởng và Stiles gần như phát điên khi mắt cha mình khép lại, cái nắm tay cha-con ép chặt dòng máu Stillinski giữa những ngón tay họ. Quân đội tiếp nhận cô McCall vì cô ấy là nhân viên y tế và mang theo cả Scott vì Scott là con cô. Nhà Argent cũng được nhận vì họ có liên kết với quân đội và kỹ năng chiến đấu, và Allison sẽ không rời xa Scott.</p>

<p>Họ không thể tiếp nhận Stiles. Một người lính đẩy cậu lùi lại, nói, 'Tôi <em>sẽ</em> bắn cậu đấy, chàng trai.'</p>

<p>Stiles chỉ còn hai ngôi mộ và một cái nồi đơn.</p>

<p>Lydia biến mất cùng Jackson vì gia đình cậu ta sơ tán với tiền và tài sản, nên cô cắn môi, tóc đỏ như cờ hiệu trước gió, và rời đi.</p>

<p>Phần còn lại của bầy sói tự ngấu nghiến nhau.</p>

<p>Stiles ngồi trong phòng, một mình, trong căn nhà giờ đây chỉ cần gió thổi cũng kêu cọt kẹt. Cậu ngồi trên giường nhìn chăm chăm vào tường.</p>

<p>Rồi thị trấn trở nên tĩnh lặng khi cậu ở bàn bếp ăn khoai tây và súp cà chua.</p>

<p>Và Derek xuất hiện trong hình dạng sói, phóng nhanh vào qua cửa trước mở tung.</p>

<p>-</p>

<p>Ngày đầu tiên, Stiles gọi Derek và cất lời, 'Anh vẫn ở đây,' và Derek gần như làm hỏng chiếc xe khi nghe thấy giọng cậu, khi Stiles lên tiếng như thể đó là điều kì diệu, có một bóng hình trên bầu trời kia làm anh choáng ngợp khi cậu nói <em>anh vẫn ở đây</em>.</p>

<p>Stiles đếm từng ngày từ lúc thị trấn trở nên im lặng, khi Derek bước vào bếp Stiles đang khóc, nước mắt rơi lã chã xuống cổ tay.</p>

<p>Derek chạm tới và cậu có vị mằn mặn, đầu mũi anh lạnh lẽo áp vào da thịt, anh đưa một ngón tay cậu lên lưỡi. Stiles đã cười.</p>

<p>Giờ đây cậu không còn cười nhiều nữa, nhưng. Đôi khi. Vào những ngày đẹp trời khi họ bắt trúng sóng radio.</p>

<p>Đã một trăm ngày.</p>

<p>-</p>

<p>Stiles lấy cái kính râm.</p>

<p>Chúng đã nháy mắt với cậu trên quầy bên cạnh đống tàn dư của kẹo cao su và bom đồ chơi. Kính râm hình trái tim đo đỏ chảnh chọe lấp lánh. Cậu xé tag đi và đeo vào, đuôi trái tim đâm vào má khi cậu nhe răng trước gương an ninh.</p>

<p>Bên ngoài, cậu nhét một đồng vào máy, lấy một vốc đầy Reese's Pieces, nhét một đồng vào máy khác, lấy một quả banh nảy màu tím.</p>

<p>Cậu chui vào chiếc Jeep, hát nho nhỏ, thả kẹo Reese vào miệng và cả thế giới trước mắt đỏ ngầu qua chiếc kính.</p>

<p>"Đeo gì vậy." Derek xuất hiện từ trong bóng râm của trạm xăng vì đó là phong cách của anh ta.</p>

<p>Stiles đảo mắt và thế giới vẫn đỏ ngầu. Cậu bĩu môi, thể hiện một nụ cười ngờ nghệch giả tạo và Derek cau mặt.</p>

<p>"Cậu vẫn đeo nó."</p>

<p>"Dĩ nhiên rồi. Anh không phải sếp của tôi. Anh không phải người giám hộ, bà ngoại, chú, họ hàng, chị kế, em sinh đôi thất lạc đã chết, cộng sự trong mấy phim cảnh sát, sếp sòng câu lạc bộ sách, Bruce Wayne—"</p>

<p>"Stiles—"</p>

<p>"Vậy nên, không, thưa ngài. Cái kính vẫn sẽ ở lại. Trên mặt tôi. Chúc một ngày tốt lành."</p>

<p>"Stiles—"</p>

<p>"CHÚC MỘT NGÀY TỐT LÀNH."</p>

<p>"Cậu biết không, đống Reese đó chắc đã hết đát từ lâu," Derek nói. Stiles nhìn anh chằm chằm.</p>

<p>"Gì." Cậu tra chìa khóa và nhạc Beastie Boys vang lên inh ỏi qua radio, looking down the barrel of a gun sonuvagun sonuvabitch gettin' paid gettin' rich. Khi cậu không vặn nhỏ tiếng được, quả banh nảy rơi ra và Derek chụp lấy như thể nó là con ruồi. "Bắt tốt lắm, Cal Ripken."</p>

<p>"Màu tím."</p>

<p>"Nó <em>đúng</em> là màu tím! Hooray! Kính của tôi màu <em>đỏ</em>! Chiếc Jeep màu <em>xanh</em>!" Stiles phẩy tay như đang làm phép. "Trạm xăng <em>màu trắng bẩn thỉu</em>! Hãy thử nói tên màu sắc bằng tiếng Tây Ban Nha nào! Bánh Twinkie màu <em>amarillo</em>! Cỏ màu <em>verde</em>! Nhìn anh như <em>sát nhân</em>!"</p>

<p>"Đó không phải tiếng Tây Ban Nha." Biểu cảm trên mặt Derek cho thấy anh chẳng vui vẻ gì, nhưng có đó, hoàn toàn thích thú trong cái phần nhỏ bé của bản thân mà anh cho là trái tim mình, Stiles nhận ra được mà, Stiles đã có khả năng nhận biết vài dấu hiệu từ Derek trong vòng một năm qua hay đại loại vậy, nhất là khi giờ chỉ còn cậu và đống lông xù già này ở đây, và.</p>

<p>Chỉ còn họ.</p>

<p>Chỉ. Họ. Cả hai chưa tìm thấy bất cứ ai khác trong vòng một trăm ngày. Toàn xác người và mấy ngôi mộ nông hay mấy chiếc xe, nhà cửa, tòa cao tầng, bệnh viện rỗng không. Hầu như cả California đã bị rút cạn sự sống.</p>

<p>Chỉ còn <em>họ</em> mà thôi.</p>

<p>Đầu gối cậu oằn lại, kẹo Reese rơi xuống sàn ngoại trừ vài hạt còn dính trên lòng bàn tay, những vệt cam và nâu, và cậu có thể nghe được trong đầu tiếng tim mình đập rộn rã, cũng như hơi thở, mạnh và thô ráp, có sự khó chịu đang ép vào khuôn mặt cậu, <em>mọi nơi trên thế giới này đỏ ngầu vì chỉ còn họ mà thôi</em>.</p>

<p>Stiles, Stiles, này, sao vậy, chuyện gì đang xảy ra, cái quái gì – được rồi, thôi nào, nhóc, thôi nào, tôi phải làm—</p>

<p>Cậu nghe tiếng Derek như thể mình đang rơi xuống vực sâu, giọng anh vang vọng về phía cậu qua những cơn gió vội vã có thể là phổi cậu đang tham lam níu chặt không khí và có khi cậu sẽ rơi xuống mặt đất và mọi thứ sẽ kết thúc.</p>

<p>Stiles. Mở mắt ra nào.</p>

<p>Mở mắt ra nào.</p>

<p>Thế giới không phải màu đỏ. Thật ra, thế giới màu xanh, <em>azul</em>, và trắng, <em>blanca</em>, và khuôn mặt Derek màu xám, <em>gris</em>. Có gì đó trên ngực Stiles, trên xương ức của cậu; khi cậu chuyển mình, là tay Derek. Giữa những ngón tay anh, Derek đang cầm miếng nhựa đỏ.</p>

<p>"Cậu làm hỏng kính," anh nói với cái nhíu mày và Stiles gật đầu.</p>

<p>"Tôi xỉu à?"</p>

<p>"Không, nhưng cậu đã cố. Có nỗ lực."</p>

<p>"Đây không phải lúc đùa, thời điểm để giỡn đã qua rồi, là lúc tôi đóng vai Dora trước mặt anh, đồ tồi tàn thiếu hiểu biết văn hóa," Stiles nói, "nếu anh không học mấy ngôn ngữ khác, làm sao anh có thể trở nên hoành tráng như tôi được. TÔI LÀ BATMAN."</p>

<p>Derek thở dài và môi anh cong lên như thể anh đang cười. Stiles <em>đúng</em> là hoành tráng nhưng giờ cậu chóng mặt quá. "Tôi sẽ lái xe, Batman. Chấp nhận đi."</p>

<p>"Một ngày nào đó, tôi sẽ hạ anh. Để tôi tìm batarang đã. CÔNG LÝ."</p>

<p>Anh đưa Stiles một chai nước và một thanh KitKat và có chút đàn ông khi giúp-Stiles-giữ-thăng-bằng và nhiều hơn chút đàn ông khi chắc-rằng-Stiles-không-ngã-nhào-xuống, và trong một phút thì thêm chút không xấu hổ lắm vì Stiles đột ngột bấu chặt lấy áo Derek và vẫn chưa buông ra.</p>

<p>Stiles bò vào ghế hành khách và dựa người qua một bên. Derek chỉ đẩy cậu ra một chút để cậu khỏi ngồi lên anh.</p>

<p>Họ rời nơi này. Derek ném thứ gì đó vào người cậu khi cậu đang dần thiếp đi.</p>

<p>Một cặp kính trái tim mới. Chảnh chọe, lấp lánh. Thế giới màu cam, <em>naranja</em>.</p>

<p>-</p>

<p>Họ không ở lại Beacon Hills.</p>

<p>Đâu còn lí do nào nữa.</p>

<p>-</p>

<p>Derek quan sát Stiles đút tay thật sâu vào túi áo hoodie. "Bắc hay nam," anh hỏi.</p>

<p>Stiles nhún vai, mỗi bên một lần, như cuộn sóng. Cậu nhìn vào biển hiệu nhà nghỉ, nơi chữ I trong 'inn' đang lập lòe.</p>

<p>Họ không thể ở lại đây, nhà nghỉ dẫn đến mấy sự ngạc nhiên tởm lợm: xác trong phòng; người điên nhiễm bệnh; hay một lần, cả dãy phòng, một đội bóng chày trẻ em đã bỏ đi (cũng chẳng đi đâu được nữa), Stiles nhìn tất cả dụng cụ và đồ chơi để lại bằng đôi mắt buồn bã, ôm lấy một con voi bông vải sọc mà cậu nhặt được trên giường cho đến khi Derek muốn đá nó vào thùng rác.</p>

<p>Giờ đây họ có hai chiếc gậy đánh bóng chày.</p>

<p>Có vài người nhiễm bệnh thôi và họ đang ở xa phía sau, thật cám ơn quá, vì họ không còn là con người: họ điên loạn, nguy hiểm, và hung hãn. Không thể nói lí được nữa, phần người trong họ đã chết rồi; Stiles cố giao tiếp với một người phụ nữ, cả hai đã tìm thấy cô ta ôm một chiếc ba lô Iron Man be bé cùng dòng chữ OWEN trên đó; 'hãy nghĩ về con mình, nghĩ về con trai mình,' Stiles cầu xin, 'nó nhớ mẹ, chúng tôi sẽ tìm nó cho cô, hãy để chúng tôi giúp.'</p>

<p>Người phụ nữ đó xém nữa thì rút ruột Stiles bằng con dao thái thịt giữa bãi đậu xe Olive Garden trước khi Derek chặt tay cô ta. Anh bẻ xương sống dưới sọ, răng ấn mạnh xuống, móng vuốt xuyên sâu vào bả vai người phụ nữ.</p>

<p>Anh không nhìn Stiles cho đến khi đã chùi hết máu trên mặt và Stiles cứ nói suốt, 'Anh có sao không, cái <em>khỉ gió</em> quái quỉ gì, Derek, <em>Derek</em>, anh vừa mới để mình bị <em>nhiễm bệnh</em> hả?!'</p>

<p>Không lây nhiễm, không biến đổi, anh cảm thấy máu mình sôi sục, tiếng xèo xèo như thể nó đang thiêu hủy mấy kháng thể lạ, và sự lành lại không chậm đi.</p>

<p>Anh rùng mình trở lại bình thường trước khi kiểm tra Stiles.</p>

<p>Điều này xảy ra vài lần rồi; đã tạo nên thói quen.</p>

<p>Nhà nghỉ này chỉ là nơi dừng chân tạm thời và chữ I trên biển hiệu cuối cùng cũng tắt lịm sau tiếng rít cuối cùng. Stiles tiếp tục nhìn nó khi bóng tối hoàng hôn trải xuống và đèn bãi đỗ xe sáng lên.</p>

<p>Họ cần ngủ, Stiles thực tế đang run lên và thị lực của Derek không còn rõ nữa.</p>

<p>Stiles thở ra chậm rãi, hai tay cuộn vào nhau trong túi áo. "Có muốn kiểm tra nơi này không?"</p>

<p>Nơi trú ẩn lúc nào cũng có lợi; đêm sẽ xuống nhanh thôi. Derek nói, "Chắc rồi." Anh hướng về phía văn phòng nhà nghỉ để xem họ có vớt vát được gì không.</p>

<p>Và gió kêu xào xạc khi Stiles kéo anh về đằng sau, thật mạnh, cậu gầy nhưng không yếu, giật Derek lại nhanh chóng với tất cả sức lực của mình, Derek cắn môi.</p>

<p>Anh gầm gừ, nhưng giọng Stiles hốt hoảng bên tai, "Bẫy Tripwire."</p>

<p>Một đường thẳng mờ cắt qua ánh sáng trên con đường gần giày Derek. Lần theo dấu vết không khí bằng ngón tay mình, Stiles thì thầm, "Có khi là Rube Goldberg cũng nên. Bẫy Tripwire dính, sẽ nối thêm với mấy cái khác nữa, sẽ dẫn đến—"</p>

<p>Một đống lựu đạn vung lên trên đầu họ, gần như biến mất trong đống lá cây.</p>

<p>"Thánh thần ơi," Derek nói. Họ đứng đó, bị sốc, Stiles nắm chặt vai và xương sườn anh.</p>

<p>"Rời khỏi đây thôi," Stiles nói. "Ý kiến điênnn-khùng, tôi biết, nhưng cứ làm vậy đi."</p>

<p>Derek nuốt nước bọt, lùi lại một chút, nhẹ nhàng, và Stiles di chuyển theo anh, không buông ra.</p>

<p>"Rời khỏi đây thôi," Derek lặp lại, "Bắc hay nam."</p>

<p>Sau lưng anh, Stiles nhún vai.</p>

<p>-</p>

<p>"Đàn ông đích thực thì giặt đồ," Stiles nói.</p>

<p>"Cậu quả là người hùng nước Mỹ," Derek đáp trả.</p>

<p>"Tôi khá đặc biệt đấy."</p>

<p>Hiệu giặt tự động có một máy phát điện nho nhỏ; Derek nối nó lại, khiến nó hoạt động và anh nghe Stiles kêu lên bên trong khi có tiếng <em>clang clang clang</em>, ánh đèn sáng soi trong đêm tối.</p>

<p>"PINBALL, ÔI CHÚA ƠI."</p>

<p>"Giặt đồ trước đã," Derek ra lệnh, chỉ vào đống túi và Stiles trừng mắt, "Vâng, làm ơn, phá vỡ Thiên Đường Giặt Tự Động bằng cách bắt tôi <em>làm việc nội trợ</em>."</p>

<p>Derek nhún vai như thể anh không thay đổi được quy luật vũ trụ, "Đàn ông đích thực thì giặt đồ."</p>

<p>Stiles giơ hai tay lên, "<em>Chúa ơi</em>," và bắt đầu phân loại quần áo theo màu sắc. Rất ấn tượng. Derek thường chỉ gom lại giặt hết một lượt.</p>

<p>"Anh giặt hết tất cả một lần, đúng không? Chắc chắc là vậy rồi, anh đâu có mặc <em>màu</em> đâu."</p>

<p>Anh ngước lên khi đang chăm chú vào bàn tay Stiles để thấy mình bị nhìm chằm chằm như con vật trong sở thú. Laura thường phân loại quần áo bẩn của họ và trong ngày đem đi giặt, họ sẽ ra ngoài, ăn pizza, kiểu New York, béo ngậy, từng miếng cũng to như hộp giấy bọc ngoài, họ sẽ gấp đôi lại mới ăn, và Laura có mùi như sói, như thế giới này, thay vì trống rỗng và xi măng và bùn đất. Họ sẽ ngồi ở hiệu giặt và chơi Monopoly và tấm bảng có vết móng cào vì một trong hai đã ăn gian, khi làm cái, lúc nào cũng là khi làm cái.</p>

<p>Đánh lưỡi kêu tách tách, Stiles đảo mắt. "Làm sao anh có thể tồn tại để trở thành người đàn ông ma sói ôi-thật-đáng-sợ của ngày hôm nay."</p>

<p>"Rườm rà quá."</p>

<p>"Cái gì."</p>

<p>"Người đàn ông ma sói."</p>

<p>Một trong những chiếc áo của Derek ló ra sau ngón tay Stiles khi anh quan sát được một vệt bẩn trên đó, máu nếu Derek nhớ không lầm và có chăng là nôn vì Stiles đã vấp ngã, <em>theo nghĩa đen</em>, vấp phải một cái xác đề rồi té nhào vào một cái xác khác và tay cậu xuyên qua ruột nó khi cậu đứng lên, rồi cậu nôn vào Derek vì cuộc đời của anh giờ là vậy. Anh chợt nhận ra bây giờ cuộc đời của mình là thế này.</p>

<p>Stiles đang nói gì đó về ninja, mắt cậu như đồng xu dưới ánh sáng đèn huỳnh quang, khuôn miệng chuyển động, cái môi đó, Derek luôn luôn chăm chú vào môi và mắt cậu để hiểu được Stiles đang nói gì, và ngoài mùi hóa chất thuốc tẩy, anh nhận ra một mùi hương, ấm áp và thỏa mãn, như bánh táo.</p>

<p>Họ cần phải giặt đồ, ngay lúc chết tiệt này, trước khi Derek mất tập trung, anh thấy răng nanh mình dài ra, con sói trong anh bồn chồn vì Stiles đang vui vẻ và trong tuần vừa rồi, mặc quần áo bẩn sống trên đường cao tốc, mùi của Stiles càng ngày càng mạnh, thứ mùi Derek có thể cảm thấy từ rất xa, có thể nhận ra trong đám đông, dữ dội và truyền nhiễm và dính chặt vào anh hơn bất kì thứ gì. Thứ mùi như <em>gia đình</em>.</p>

<p>Nhịp tim của Stiles vang lên trong đầu anh, to hơn cả máy pinball, đều đặn và trôi chảy, và anh nghe, để bình tâm lại, không còn nghĩ đến đã hơn một trăm ngày và có lẽ chỉ còn anh và Stiles mà thôi.</p>

<p>Máy pinball hiện lên, "BÓNG RƠI ĐIÊN CUỒNG," rồi Stiles cười vang, mặc mỗi quần lót, trong lúc điểm số trên màn hình tăng dần.</p>

<p>-</p>

<p>Derek sẽ biến thân, ra ngoài và đánh hơi xung quanh, tìm kiếm những người khác, tìm kiếm những con sói khác, ngày chết tiệt nào cũng vậy.</p>

<p>Stiles khó chịu gác chân trên bộ điều khiển và ăn Red Vines.</p>

<p>Derek không quên tru lên và Stiles rùng mình khi tiếng kêu vang vọng lại, cho dù là ngày hay đêm.</p>

<p>Không ai trả lời.</p>

<p>Derek sủa-tru lên lần nữa.</p>

<p>Im lặng, rồi một cách yếu ớt, cậu nghe Derek rên rỉ.</p>

<p>Rồi có tiếng đập vào cửa chiếc Jeep; Stiles đẩy cửa ra, để Derek có thể chui vào, hàm ngậm chặt, mắt và mõm chùng xuống chán nản. Họ vừa đủ chỗ nếu Derek cuộn người lại, cuộn cả móng vuốt và đuôi, và Stiles cũng vậy, nâng tay và đầu gối lên.</p>

<p>Mũi sói mát lạnh kề vào cổ Stiles. Cậu nắm lấy túm lông dày.</p>

<p>Cuối cùng Stiles cũng ngủ được.</p>

<p>-</p>

<p>Stiles mang chút hoảng sợ trong xương sống. Nó ở đó từ khi mọi chuyện bắt đầu và chưa từng rời đi. Mỗi buổi sáng, cậu tự nhủ bản thân sẽ ổn thôi, cậu đã trưởng thành, cậu an toàn, cậu có Derek kẻ sử dụng lông mày cho việc tốt. Derek kẻ bị cậu làm phiền muốn chết đi được, cho là vậy.</p>

<p>Nhưng Derek sẽ không bỏ cậu mà chết đâu, tên khốn thậm chí không thể bước hai bước giữa nơi đồng không mông quạnh mà không bị banh xác, phải, Derek có thể tự đâm đầu vào chỗ chết cho dù cậu thả anh ta chính xác giữa ruộng ngô xung quanh năm trăm dặm không một bóng người.</p>

<p>Nên cậu để nỗi hoảng sợ ngồi đó và không làm gì cả vì nếu có phát điên đi chăng nữa, cậu cũng không kéo theo Derek.</p>

<p>Stiles không ngủ, cậu ảo giác thấy cha mình. Cậu vẫn giữ chiếc áo đi mưa của cảnh sát trưởng, phù hiệu BHPD còn đính trên đó, mấy chữ cái S-H-E-R-I-F-F chạy dài sau lưng.</p>

<p>Mùi như cha cậu vậy.</p>

<p>"Có một căn nhà," đột nhiên cậu nói, nhớ ra, cậu dừng lại giữa đường để có thể tập trung (thiếu Adderall khiến não cậu <em>chạy loạn xạ mọi hướng</em>) và Derek vẫy tay về phía vạch vàng (chẳng có lí do gì để lái xe theo vạch, tại sao phải làm vậy khi không có chiếc xe nào, "thôi đi, Derek, <em>mạo hiểm lên!</em> ... hoặc thôi thì, xem tôi có quan tâm không chứ, dừnglại, tôi có thể thấy anh khè móng vuốt") như thể họ đã dừng trên Con Đường Gạch Vàng chết dẫm.</p>

<p>"Gì cơ?"</p>

<p>"Có một căn nhà gỗ, hướng tây và và và bắc. Chúng tôi thường đi câu cá. Xây dựng tình cảm huynh đệ dù mẹ cũng đi theo, và bà câu nhiều cá hơn cả hai cộng lại. Bà biết cách rửa cá nữa." Vô lăng kêu cọt kẹt, Stiles buông ra, chỉ chạm lòng bàn tay lên trên. "Nó ở bên hồ, hẻo lánh và biệt lập... chúng ta có thể đến đó. Ẩn mình. Đốt lửa đùng đùng và đọc thơ và nhìn chằm chằm vào mắt nhau."</p>

<p>Derek cười một tiếng. "Tôi tưởng mình mới là con sói hung ác."</p>

<p>"Anh sai rồi. Hẳn nhiên. Không phải lần đầu." Cậu bắt chước tiếng tĩnh điện của radio bằng hơi thở, <em>sssssssssiiiiiisssssshhh</em>, trong khi Derek suy đi nghĩ lại và anh mặc áo đỏ, đợi đã nào, Derek đang mặc chiếc hoodie màu đỏ lớn nhất của Stiles, Stiles thực sự <em>đang</em> đóng vai con sói hung ác.</p>

<p>Cậu nhìn ra đường và nhớ lại mọi thứ trước đây: chạy trốn, giữ mạng; lo lắng cho Scott và Lydia; theo dõi Allison đảm đương mọi thứ theo cách cậu không thể; chứng kiến Derek cứu mình và hi sinh cho đàn sói và phạm sai lầm; Boyd và Erica và Isaac cùng nhếch mép trên cây sau khi nghe cậu nói; Scott phát biểu mấy điều hiển nhiên; Derek ngồi trên giường cậu, lật từng trang bài tập lượng giác, và mỉm cười khi Stiles nói, 'Không thể biết sin ở trong hố trên mặt đất cho đến khi nó vấp ngã rơi xuống để lộ cosine.'</p>

<p>Giờ thì cậu quan sát Derek nhìn chăm chăm qua kính chắn gió về hướng hàng cây ngoài kia, mắt dõi theo thứ gì Stiles chẳng thể thấy hay nghe, cậu quan sát và nhớ lại cả sự ham muốn khô khốc, nhớ lại cả nỗi sợ cứng đờ và kích thích khó chịu, cậu nhớ lại adrenaline trong huyết quản khi chạy đến cứu Derek, khi não bộ bị ép lại, chết tiệt chết tiệt chết tiệt làm ơn đừng chết làm ơn đừng chết trước mặt tôi không ai cần phải chết vì tôi nữa đừng bỏ tôi mẹ kiếp trời đất ơi.</p>

<p>Stiles hít một hơi dài; Ánh mắt Derek đảo về phía cậu và có lẽ con sói có thể nhận ra.</p>

<p>"Được thôi. Nhà gỗ."</p>

<p>Vậy là họ đi về hướng tây bắc.</p>

<p>-</p>

<p>Căn nhà gỗ hẻo lánh và biệt lập, Stiles không nói giỡn. Derek lái xe qua biển chỉ dẫn con đường đến hồ, và nghe theo hướng dẫn của Stiles, rẽ trái ở đây, thấy hàng rào đó không? đi theo hàng rào đến một hộp thư màu xanh, rẽ phải, rồi đi qua một hai ba bốn biển chỉ dẫn nữa, rồi rẽ trái và lênnnn núi.</p>

<p>Thật chứ, Derek rẽ vào một con đường hầu như chẳng phải là đường, chỉ là những lối đi bộ xuyên suốt cánh rừng và lốp xe trượt dài trên vỏ thông.</p>

<p>Nhưng rồi mấy hàng cây nhường lối cho một khu đất trống bên cạnh ngọn núi và một căn nhà gỗ lớn hiện ra, gạch và củi và nơi trú ẩn.</p>

<p>"Ta-da," Stiles mệt mỏi nói. Cậu có quầng thâm dưới mắt, khiến mắt cậu trông to lớn kì dị, cậu xanh xao hơn thường lệ, miệng chỉ còn là một dấu cứng đờ trên mặt. "Chìa khóa luôn giấu trên lồng chim."</p>

<p>Một con chim ruồi màu đỏ và vàng bên cạnh chiếc lồng, vẫn còn đầy chất lỏng màu đỏ, có ánh sáng xanh lung linh bao bọc xung quanh.</p>

<p>"Chào," Stiles nói với con chim. Cả hai có vẻ khó chịu với nhau, đôi mắt đen của con chim theo dõi cậu cho đến khi nó bay lên và Stiles di chuyển như thể cậu muốn bắt nó lại, Derek nắm lấy cổ tay cậu và Stiles vẫn cứ bồn chồn, cựa quậy, lúc nào cũng cựa quậy.</p>

<p>Căn nhà sạch sẽ và rộng rãi, phòng khách, nhà bếp, hai phòng ngủ, nhà tắm, cùng với một căn phòng có máy giặt và máy sấy dùng cho việc gì cũng được. Cảnh quan tuyệt hảo, toàn cây là cây và ánh sáng bàng bạc từ hồ nước.</p>

<p>Im lặng chìm sâu trong cánh rừng, thi thoảng có tiếng sột soạt của một con vật nhưng vẫn là tĩnh mịch.</p>

<p>Họ dỡ đồ từ chiếc Jeep và Stiles vấp vào bệ cửa vài lần. Derek đi trước ra xe, gặp cậu ở bậc thềm, vì giờ phút nào Stiles cũng có thể lao xuống phía trước rồi làm hư hại gì đó, không ngoài cả bản thân.</p>

<p>"Ngủ đi," Derek nói, Stiles lắc đầu, bướng bỉnh, hờn dỗi, "Tôi <em>không có</em> sao hết," vậy là Derek kéo tay và lôi cậu vào phòng ngủ chính.</p>

<p>Đẩy cậu xuống giường, anh ra lệnh, "Ngủ. Ngay." Rồi không đợi trả lời, bỏ ra ngoài tiếp tục chuyển đồ.</p>

<p>Có một garage sau nhà; hoàn hảo, Derek khéo léo lui chiếc Jeep vào, khuất tầm mắt, giờ đây họ đã hoàn toàn thoát khỏi... gì cũng được.</p>

<p>Rồi anh đứng một mình dưới hàng cây, nhìn những đám mây sẫm màu hờ hững trôi từ hướng tây bắc, anh ngửi được mùi sét, mùi mưa. Anh tiếp tục đợi, để tiếng sấm gầm vang trên đầu.</p>

<p>Anh đứng dưới mưa và thở đều.</p>

<p>-</p>

<p>Stiles ngủ tròn một ngày. Và Derek thức suốt khoảng thời gian đó.</p>

<p>Anh kiệt sức và nghĩ ngợi và hai thứ đó phối hợp không tốt lắm. Bằng cách này hay cách khác, họ đã rời bỏ Beacon Hills, thoát khỏi tầm với của bệnh dịch, họ an toàn rồi.</p>

<p>
  <em>An toàn. </em>
</p>

<p>Stiles nói mê khi ngủ, từ ngữ lắng xuống chiếc gối; Derek rời xa cửa phòng ngủ để nối chiếc CB trong phòng khách.</p>

<p>Stiles là một thứ khác nữa. Stiles khác biệt. Stiles trung thành đến tội lỗi với ý thức bảo vệ kéo dài cả dặm và không hề giới hạn bản thân khi cố gắng làm điều tốt, không để ai phải chết, cũng là phẩm chất đã khiến cha cậu trở thành cảnh sát trưởng.</p>

<p>Cậu sẽ không để Derek chết. Nhưng cậu sẽ muốn tìm Scott, tìm Lydia và Jackson, cậu sẽ muốn đi khỏi nơi này đến những vùng khác và tìm ai đó, một con người nào khác, cậu sẽ muốn làm việc tốt cho mọi người và mọi người, nếu còn có ai tồn tại.</p>

<p>Còn Derek chỉ muốn ngủ mà thôi, muốn trốn tránh nhiều hơn một ngày, muốn dừng nỗi sợ hãi đã khiến anh biến thân liên tục, ngày qua ngày anh phải tự ép buộc bản thân đè nó xuống.</p>

<p>Anh muốn Stiles đừng đi đâu nữa và <em>ở lại</em> thôi.</p>

<p>Derek thở dài, phủi bụi chiếc CB, con sói trong anh thút thít.</p>

<p>Stiles <em>khác biệt</em>. Stiles là con sói biến thân thành người, không phải ngược lại, không giống Derek.</p>

<p>Có lẽ ở đây là an toàn nhất.</p>

<p>-</p>

<p>Khi Stiles tỉnh lại, cậu nằm trên một chiếc giường xa lạ, xung quanh có mùi ẩm mốc, và cậu trườn khỏi phòng để nhận ra chỉ còn lại một mình mình. Chết tiệt, căn nhà gỗ bên ngọn đồi giữa thời khắc khải huyền. Phải rồi.</p>

<p>Cậu đi vòng xung quanh, gãi bụng, ngáp dài. Cậu vẫn mặc quần áo đi đường. Đống đồ ăn ít ỏi của họ đã nằm rải rác trong bếp. Mấy chiếc túi vải xếp chồng ở phòng khách.</p>

<p>Cậu vặn vòi. Nước chảy ra. Đánh vần thành V-Ò-I-H-O-A-S-E-N.</p>

<p>CB đã được kết nối. Cậu bật đèn lên. Vẫn có điện. Điện và nước sạch nghĩa là có lẽ có người trong khu vực. Có lẽ. Đoán vậy thôi. Cậu nhận thấy sức nặng của chiếc điện thoại trong túi áo, cắm sạc nó trước khi nhớ ra. Sao phải làm vậy. Trừ khi cậu muốn chụp hình. Cậu đã có một chiếc camera cho việc đó rồi, nó là một camera hiện trường, nhưng ai thèm quan tâm nữa. Laptop của cậu thì chẳng còn tác dụng gì. Cậu nhớ internet. Cánh rừng thật sự, thật sự quá tĩnh lặng.</p>

<p>"Derek? Kẹo gấu ơi?"</p>

<p>(Tuần trước, cậu đã bắt đầu dùng tên thân mật, chỉ để nhìn môi Derek co lại hơn nữa và hơn nữa thành vẻ cau có, 'cưng, mặt bánh nướng, cơ bụng cẩm thạch, thanh kẹo', vai cậu rụt lại như thể cậu đang chờ đợi, như thể khi Stiles gọi đúng một cái tên Derek ghét nhất và anh sẽ chặt đầu cậu, theo kiểu dân miền núi. Là một cách giết thời gian và cậu hồng lên vì vui thích. <em>Rosado</em>, có chăng.)</p>

<p>Chiếc radio nằm trên áo khoác và sau cú click, một bài hát vang lên, mamas, don’t let your babies grow up to be cowboys, they’ll never stay home and they’re always alone, even with someone they love.</p>

<p>Stiles để nó chạy vì những thanh âm. Không khí có mùi mưa bão, bầu thời vẫn nặng nề, nhưng cậu cần phải ra ngoài, cần phải hít một hơi dài. Cậu đẩy cửa ra – và Derek trong hình dáng sói.</p>

<p>Đang ngủ, như canh gác lối vào.</p>

<p>"Tất nhiên rồi," Stiles nói, đưa tay xuống mặt anh. Cậu ngồi xuống cạnh con sói, chăm chú quan sát thật gần để thấy bên sườn thon dài phồng lên xẹp xuống, phồng lên xẹp xuống, rồi cậu chống khuỷu tay lên đầu gối và chờ đợi.</p>

<p>-</p>

<p>Đá giày thể thao ra xa, Stiles xỏ chân vào đôi boot và thở một hơi dài cường điệu làm như không khí trên núi khiến cậu phê thuốc. "Được rồi, Jeremiah Johnson. Đi thôi nào."</p>

<p>Họ đi bộ. Stiles kiểm tra chiếc Jeep. Rồi họ đi vòng tròn theo hình xoắn ốc ngoằn nghèo nới rộng xung quanh căn nhà, để xem có gì khác không. Derek chầm chậm bên cạnh cậu, chà hai bên hông vào những hàng cây, và Stiles đảo mắt.</p>

<p>"Phải, đây chính là lãnh địa của anh. Giờ đây. Tôi quá <em>hạnh phúc</em> khi mọi con sóc đều biết điều này. Vì quan trọng ghê ta ơi. Lại đánh dấu khúc cây bên kia đi, chắc anh bỏ lỡ nó rồi. Không muốn tụi chồn hôi nhầm tưởng rằng tụi nó là khách quý đâu nha. Không hề."</p>

<p>Derek thở mạnh cáu bẳn, y hệt như lúc còn trong hình dạng người, nên Stiles cũng thở mạnh cáu bẳn lại, cậu sẽ không chịu đựng Derek kể cả khi anh đang là sói đi nữa. Đến khi Derek vòng qua người cậu như con mèo, lớp lông dày cọ vào quần jean Stiles và cậu giơ hai tay lên, "Ôi Chúa tôi, được rồi, cám ơn, vì điều này, để nếu tôi có té xuống giếng, Lassie, anh cũng sẽ tìm thấy được. Thêm nữa, <em>không phải</em> địa phận của anh đâu nha."</p>

<p>Có tiếng gầm gừ khe khẽ và răng nanh sắc nhọn lóe lên và Stiles vỗ nhẹ vào mõm Derek. "Lần sau khi mình đi tìm thức ăn, tôi sẽ lấy thức ăn của cún cho anh. Đóng hộp. Cái thứ gớm guốc, tởm lợm nhầy nhụa hay <em>chảy</em> ra ngoài hộp thiếc, toàn là—"</p>

<p>Tiếng gầm gừ to hơn, Derek hướng sự chú ý ra nơi khác, và anh hoàn toàn bất động, Stiles cố không di chuyển. Cậu cưỡng lại sự thúc giục phải nói, <em>gì vậy hả, nhóc</em>.</p>

<p>Rồi Derek thúc vào khuỷu tay cậu, kéo cậu về căn nhà gỗ, ánh mắt anh hoang dại và dữ dội, và chết tiệt, Stiles chẳng có khẩu súng nào bên người, cậu chưa có thói quen đi bộ trong rừng cùng khẩu 9 li mắc bên hông, chết tiệt quá mà.</p>

<p>Cậu đã từng thấy Derek săn mồi trước đây, đuổi theo hạ gục con mồi để làm thức ăn, dù cho điều này khiến đầu óc Derek rối bời: anh ghét đánh mất bản thân mình, có lần anh nói chắc anh có thể cứ là sói mãi cũng được, nhưng phải có người đưa anh quay lại, đưa anh quay lại mặt đất này, quay lại đứng trên đôi chân, mũi tên có hai chiều tác dụng. Hiện tại, Derek vẫn tiếp tục săn mồi, nhưng anh đang bảo vệ Stiles, Stiles biết điều gì là ưu tiên, <em>giữ cho con người an toàn;</em> cậu cắn môi và theo bước anh trở về cửa sau căn nhà.</p>

<p>Rồi Derek trao cho cậu một cái nhìn thật lâu và Stiles gật đầu trước khi con sói biến vào bóng râm ban ngày, hướng về phía trước. Bên trong, Stiles tìm khẩu súng săn, gỡ nòng súng, lên đạn, có gây tiếng động cũng không bận tâm, để khẩu súng lên tiếng hộ mình trước những sinh vật ngoài kia. Cậu thành thực mong rằng đó là con người.</p>

<p>Cậu đã tập phong cách miền tây hoang dã trước đây vào dịp Halloween (dù Scott ý kiến rằng trông cậu như gã say rượu) và giờ cậu thực hành khi bước ra ngoài cửa, miệng ngậm Red Vine, súng sẵn sàng trên tay.</p>

<p>Một người phụ nữ cao gầy với tóc đỏ sậm đang nhìn chăm chăm vào lồng chim, tay chống bên hông. Bên cạnh cô ta là hai con chó – không, không phải chó, khỉ thật, là <em>sói</em>.</p>

<p>Cô ta hỏi, "Cậu làm gì ở đây."</p>

<p>"Ngủ trưa," Stiles trả lời. Hai con sói lười biếng dõi theo cậu cho đến khi Derek xuất hiện bên cửa và tiến về phía Stiles, ánh mắt chúng lúc này trở nên lạnh lùng.</p>

<p>Đôi mắt cô ta nheo lại nhìn Derek. "Có vẻ như cậu có thú cưng."</p>

<p>"Tôi dễ cô đơn. Răng Sún già ở đây để bầu bạn."</p>

<p>Theo ám hiệu, Derek khè răng. Stiles cười.</p>

<p>Hất tóc, người phụ nữ làm cử chỉ về phía hai con sói bên cạnh, "Chỉ một vài loại người bầu bạn với sói thôi," và trong một giây choáng ngợp, Stiles nghĩ tới Lydia và cậu gần như thấy buồn nôn, nhớ về những gì họ đã bỏ lại.</p>

<p>Thay vào đó cậu cười toe toét, miệng vẫn nhai kẹo. "Phải, tụi tôi là hai bông tuyết đặc biệt. Cũng nên góp mặt vào phim tài liệu thiên nhiên mới đúng. Dẫn chuyện phải tuyệt một chút. Tôi thích kiểu dân Anh, kiểu David Attenborough ấy, dù vậy cũng sẽ không chê trường phái cổ điển đại loại như <em>thấy con sói trong môi trường sống tự nhiên của nó, đây quả thực là buổi chiêu đãi đặc biệt, khi một bầy đeo nơ cùng săn mồi giữa ban ngày—</em>"</p>

<p>"Cậu nhiều lời nhỉ." Cô nói như kiểu thấy buồn cười, nhưng ẩn bên dưới là một thông điệp đe dọa, ám muội và đỏ ngầu và nặng nề.</p>

<p>"Vâng, thưa cô, tôi là vậy, và Răng Sún ở đây để đảm bảo rằng tôi còn sống để nói nhiều hơn nữa."</p>

<p>Derek có ích hơn một con khỉ đã được huấn luyện, anh gầm gừ rồi sủa những tiếng sắc nhọn khiến lông cổ mấy con sói dựng lên.</p>

<p>"Bình tĩnh đi, alpha," người phụ nữ nói qua tiếng búng ngón tay. "Chúng tôi đánh hơi thấy người lạ. Cả hai không có vẻ nhiễm bệnh nên tạm thời được đưa vào dạng theo dõi. Các cậu có thể ở lại. Lúc này thôi." Hai con sói biến thân thành hai tên đàn ông cao to, không xạo đâu, họ cao lớn và trần như nhộng và Stiles điều chỉnh khẩu súng bên cạnh phòng khi phải phản ứng nhanh. Cậu đã nghĩ có chăng là, có chăng sẽ tồn tại một thế giới nơi phụ nữ nuôi sói làm thú cưng, nhưng quả thực <em>đây</em> không phải là thế giới đó, và người phụ nữ tiếp lời, "Nếu cần thiết, chúng tôi sẽ giết."</p>

<p>Cậu cảm nhận một cơ thể ấm áp sau lưng, Derek biến thân trở lại thành người, giọng trầm xuống khi anh trả lời, "Tôi hiểu. Chúng tôi không có ý định xâm phạm."</p>

<p>Hai người đàn ông đã biến mất vào chiếc SUV đỏ và người phụ nữ cũng hướng đi, nói, "Trong thung lũng. Hai mươi dặm. Không có ranh giới quanh hồ."</p>

<p>Họ lái xe đi trong đám mây bụi mù.</p>

<p>"Răng Sún," Derek nói, hoàn toàn lờ đi việc anh đang khỏa thân và Stiles nhìn ra nơi khác, bất kì chỗ nào, bên trên, có thể cậu sẽ nhìn lên mặt trời và mù luôn.</p>

<p>"Ừ, để cho vui đó, đồ gắt gỏng, giờ thì cười lên."</p>

<p>Chết tiệt, phải mà, cuộc chạm trán đầu tiên của họ sau bốn tháng là với người sói.</p>

<p>Stiles nâng khẩu súng lên vai, nhắm về phía bầu trời.</p>

<p>"Stiles," Derek nói ở bệ cửa, "ăn hết Pop Tart rồi phải không?"</p>

<p>Cậu không bóp cò.</p>

<p>-</p>

<p>Họ đã phạm sai lầm.</p>

<p>Họ bật đèn lên khi mặt trời xuống núi.</p>

<p>Cả hai đang ăn cơm với xì dầu (hoặc xì dầu với cơm trong trường hợp của Stiles) vì Stiles mở hết tất cả các cánh tủ trong bếp và nói, 'Chúng ta có gạo.'</p>

<p>Derek lên tiếng, "Còn Scott thì sao."</p>

<p>Stiles nhét một muỗng cơm đầy vào miệng. "Cậu ta thì sao."</p>

<p>"Cậu có muốn đi tìm cậu ta không?"</p>

<p>Stiles trở nên nặng nề, buồn bã và sầu thảm, và Derek chuẩn bị rút lui, "Không có gì, khỉ thật—" nhưng Stiles nói, "Không." Liếm môi và tiếp lời. "Cậu ta. Cậu ta chắc đang hạnh phúc. Và an toàn. Có mẹ, có người yêu, có cả một đống người giỏi giang cầm súng bên cạnh, mọi thứ một thằng con trai cần. Tôi không muốn..."</p>

<p>"Gì," Derek nói. "Cậu không—"</p>

<p>"Tôi không muốn liều mạng." Cậu chăm chú vào chiếc bát. "Người quân nhân, ở Beacon Hills, anh ta nói tôi rằng không thể tiếp nhận dân thường. Họ giúp được dân thường đó, nhưng họ không thể mang theo đống—"</p>

<p>"Của nợ." Derek thấy như sát nhân. Biểu cảm Stiles vỡ vụn, trông cậu hoang mang, giống một đứa trẻ, rồi cậu lại trở về là Stiles, mang nụ cười phiền muộn.</p>

<p>"Tôi chỉ ngạc nhiên—"</p>

<p>Và có gì đó đập mạnh vào cửa trước.</p>

<p>Ba gã đàn ông, say xỉn và trang bị vũ khí, Derek ngửi thấy chúng, whiskey, bia, thuốc súng, "tụi tao biết mày ở trong đó, chắc mày đang trữ đồ, phải không, để tụi tao vào và vấn đề giải quyết xong, tụi tao chỉ muốn làm láng giềng tốt."</p>

<p>Có tiếng cười mạnh bạo và một trong bọn chúng lầm bầm, "Phải, láng giềng tốt."</p>

<p>Stiles ra hiệu bằng tay mấy cử chỉ điên rồ, như kiểu cậu đang làm dấu với đội SWAT và một tiên phong và một máy bay phản lực, nên Derek túm lấy tay cậu, nói <em>súng</em>, và biến thân.</p>

<p>Họ không thể chết đêm nay được.</p>

<p>Cánh cửa bị phá khi Stiles xuất hiện cùng khẩu 9 li và Derek để cơn cuồng nộ trào dâng, nanh vuốt dài ra, một tên thốt lên, "<em>Chết tiệt</em>, Tom, một con sói, Tom, <em>là một con sói đó</em>."</p>

<p>"Câm mồm lại đi, Paul. Tao lúc nào cũng muốn có một bộ da sói," Tom nhạo báng nói, "và nhìn xem, một thằng nhóc với đồ chơi con nít. Hai đứa mày còn gì nữa không? Đồ chơi xịn hơn? Cùng vui tí nào!"</p>

<p>Trận chiến rất ác liệt.</p>

<p>Mọi thứ cứ vụt qua, như cuộn phim bị cắt thành nhiều mảnh, Tom sấn tới Derek với con dao mác trên tay, lưỡi dao sáng loáng, và Stiles bắn vào vai hắn ta khi Derek ngoạm sâu xuống cái bụng bia nhớt nháp hôi thối kia, ngay phía dưới ruột. Anh ngửi thấy mùi máu và sợ hãi, cơn thịnh nộ sặc mùi bia rượu và tuyệt vọng. Stiles kêu lên một tiếng, rồi cậu thấy như có tiếng xương thịt nứt vụn, Paul đang thụi vào Stiles, thật mạnh một bên sườn và cậu ngã nhào xuống, rồi Derek xé nát gót chân Paul, làm hắn sụp xuống để anh có thêm thời gian tận hưởng cổ họng hắn kêu răng rắc giữa hàm mình.</p>

<p>Tên thứ ba cứ nói, "Tom, làm sao đây, làm sao đây," lặp đi lặp lại.</p>

<p>Stiles đáp, "Tốt nhất là mày biến đi," chĩa súng về phía hắn, một tay ôm chặt bụng, trên mặt và trước ngực cậu đầy máu, đôi môi đã bầm tím sưng đỏ.</p>

<p>"Đồ khốn kiếp! Nhìn coi mày đã làm gì! Đồ chết tiệt <em>khốn kiếp</em>!" hắn gào thét và hướng về phía trước, lăm lăm cây gậy, bổ lên Stiles, nhưng Derek phóng ra giữa, hứng trọn cú nện vào bên hông sau, và một cú nện hoảng loạn thứ hai nữa và Stiles la hét, bóp cò súng liên tục, liên tục, tiếng nổ đuỳnh đoàng khi Derek ngã xuống, chẳng còn cảm nhận được gì ngoài cơn đau.</p>

<p>Hắn chạy mất, vẫn gào thét.</p>

<p>-</p>

<p>Họ nằm đó, thở dốc. Tai Derek rung lên, quá đau để biến đổi lại; anh thở chậm chạp, đẩy chân sau ra phía trước tiến đến gần Stiles.</p>

<p>Trong ánh đèn vàng chói mắt, Stiles khóc không ra tiếng, nước mắt chảy dài trên má, kéo theo những vệt máu. Hơi thở cậu ẩm ướt. Derek ngửi thấy mùi thâm tím đang hình thành trên người cậu, mùi vết thương sâu dưới da thịt, và anh nghiến răng qua lớp sàn gỗ.</p>

<p>"Chậc, mẹ nó," Stiles nói. Cậu luồn một tay qua màu đỏ nhớp nháp và chống người dựa vào tường. "Mẹ nó."</p>

<p>Rồi cậu với tới và chạm ngón tay vào Derek, mùi máu Stiles xộc vào mũi anh khi cậu vụng về vuốt ve.</p>

<p>Anh lăn người qua bên còn lành lặn, tập trung vào xương sườn đang lộ ra. Dịu dàng, Stiles tìm đến răng nanh anh và ấn đầu ngón tay vào đấy.</p>

<p>"Người hùng của em."</p>

<p>-</p>

<p>Cuộc trạm chán tiên với con người sau hơn một trăm ngày. Bạo lực không chịu nổi.</p>

<p>-</p>

<p>Họ có một khoảnh khắc bình yên.</p>

<p>Rồi chiếc CB kêu lên sống động, "Có tiếng súng, có tiếng súng, ngoài đó có ai không?"</p>

<p>Và nụ cười của Stiles đầy máu; lưỡi Derek thè ra uể oải như một cái nhếch mép.</p>