<br>Cô gái ấy mười tám tuổi.Không,là mười bảy tuổi-tám  tháng-hai mươi lăm ngày.Là một đứa con gái bình thường không có gì đặc  biệt.Nhưng lại rất ngây thơ.Dĩ nhiên,không phải lúc nào cũng thế,chỉ là trong  một số việc,tôi không thể tin rằng lại có người nghĩ theo một chiều hướng đơn  giản và hiền lành hóa tất cả con-người.Vâng,là con và người,không phải chỉ là  con người.Nhưng với cô gái sắp mười tám ấy,tất cả đều là người,không có chữ con  đệm đằng trước<br>
<br>
“Cậu này.Mười tám tuổi,người ta làm được nhiều chuyện lắm  nhỉ.Như là được yêu chẳng hạn”<br>
<br>
Mỗi ngày của cô trôi qua thường là ở cạnh  tôi,kể về những điều trông đợi cho lễ Giáng Sinh của bốn tháng sau.Vì khi ấy,cô  mười tám<br>
<br>
Thật ra mười tám tuổi bất cứ ai cũng trải qua,chỉ là với cô,nó  đặc biệt quan trọng.Vì nó là mười tám,và với một đứa tôn sùng một cách bệnh hoạn  các quy tắc đạo đức luật pháp,thì mười tám là mốc đánh dấu bước trưởng thành của  một con người,họ có thể phạm tội,cũng có thể kết hôn hay làm những chuyện gì mà  họ cảm giác mình có thể<br>
<br>
Ở đây,tôi nói,phạm tội và kết hôn.Chúng không  liên quan gì nhau cả,và ngay cả bản thân tôi,cách đây rất lâu,cũng không nghĩ  rằng chúng có liên quan đến nhau,nhưng cô gái ấy thì có,đứa con gái kỳ lạ trông  chờ vào tuổi mười tám ấy lại nhìn ra một cách dị dạng mối liên quan của hai thứ  ấy.Và tôi,thật lòng cũng không muốn liên tưởng đến thứ dị dạng ấy.Nó khiến tôi  nhức đầu<br>
<br>
Cái cảm giác khi ở cạnh người con gái ấy,có lẽ giống như cái cảm  giác khi phải uống một chai nước dâu với vị ngọt đến gắt cổ.Thật ra,bình  thường,con người ta không ai ghét ngọt cả.Đặc biệt tôi thích những vị ngọt dịu  và thanh.Nhưng cô ấy là một vị dâu ngọt gắt,đến mức đôi lúc cảm giác chỉ muốn  quẳng chai nước dâu đang cầm ấy vào một góc nào đó và không đụng tới  nữa.Nhưng,rốt cuộc vẫn không thể,dù vị ngọt đến thế nào,nó vẫn là vị ngọt.Và vì  cô không phải là một chai nước dâu để có thể quăng ném<br>
<br>
“Cậu này.Tớ hay  nghĩ về sinh nhật mình.Hôm ấy tớ sẽ chạy đến tìm Khoa,rồi nói với cậu ấy tớ yêu  cậu ấy,yêu suốt ba năm.Và nếu cậu ấy có thể,ý tớ là nếu cậu ấy chưa có bạn gái  và chấp nhận tớ,nếu cậu ấy đồng ý làm bạn trai tớ.Bọn tớ có thể ở cạnh nhau.Sau  đó tớ sẽ có lần hẹn hò đầu tiên,nụ hôn đầu tiên,nó có thể là một nụ hôn phớt  chào tạm biệt hoặc là..”<br>
<br>
Cô bạn đỏ mặt.Tôi biết,cô đang nghĩ đến những nụ  hôn nồng nàn,những nụ hôn mà người ta hay gọi bằng một danh từ chung là French  Kiss.Hiển nhiên,không phải tôi tài giỏi đến mức có thể đoán biết người khác muốn  nói gì,chỉ là,đây không phải lần đầu tiên chúng tôi ở cạnh nhau và cô ta nói về  những dự định cho các lần đầu tiên của mình<br>
<br>
Mười tám tuổi,cô ấy đã chờ  cái tuổi này suốt ba năm,bắt đầu từ cái ngày cô gặp Khoa,người con trai lớn hơn  mình một tuổi,đã từng học trên một khối lớp.Thi trượt Đại Học một năm,tình cờ có  cùng một nguyện vọng,nên cả hai gặp nhau năm nay,tại giảng đường Đại  Học<br>
<br>
“Tại sao phải chờ đến tuổi mười tám?Giờ có khối đứa chỉ mới mười một  mười hai tuổi đã yêu đương,cứ thử mà vào các quán cà phê đèn mờ lảng nhảng bên  đường xem,không thiếu các anh chị nhỏ ngồi cạnh nhau hôn hít như điên ấy.Cần gì  mà phải chờ mãi thế?”<br>
<br>
Tôi.Đã từng có thói quen lặp lại câu hỏi ấy với  cô.Nhưng tôi,cũng đã quen với câu trả lời của một kẻ mà những đạo đức pháp luật  tưởng chừng xa lạ lại gần gũi,gắn kết hay đôi lúc như những sợi xích quấn chặt  vào đứa con gái ấy.Không biết từ lúc nào,cô ta đã quen với việc tuân thủ chúng  trong tâm trí và rồi để nó trở thành lằn ranh không bao giờ vượt qua hay vi  phạm<br>
<br>
“Cậu này.Lần đầu tiên hẹn hò,bọn tớ phải đi đâu?Tớ nhớ trong các bộ  truyện tớ từng xem,người ta vẫn thường đi xem phim,nhưng tớ lại không bao giờ đi  đến những rạp chiếu phim.Tớ không thích nơi ấy lắm.Lại còn,nếu bọn tớ hôn  nhau,tớ nên chọn chỗ nào cho nụ hôn đầu tiên ấy nhỉ.Ah mà,chắc anh ấy sẽ không  đột ngột hôn tớ giữa đường như các cặp trong phim đâu hén.Thế thì ngại  lắm”<br>
<br>
Tôi.Rất chán.Nhưng vẫn lắng nghe,vì bây giờ mà còn có một đứa con  gái nói được những câu như thể quả thật rất hiếm.Thật ra nói hiếm cũng hơi  quá,người ngây thơ mơ mộng thì thời đại nào chả có,chỉ là,tuy có nhưng không  nhiều,vì không nhiều nên ít gặp và bởi ít gặp nên khi được gặp thì đúng là của  lạ.Và cô,trong mắt tôi,là một sinh vật lạ có khả năng đem đi trưng bày,tức  là,nhốt vào một cái lồng,đặt một tấm biển nho nhỏ bên dưới với dòng chữ “Sinh  Vật Ngây Thơ Mơ Mộng Còn Sót Lại” rồi để cô nói,nói về những lần đầu tiên của  tuổi mười tám với những khách tham quan.Có thể trong số họ sẽ có người vỗ tay,có  người cười xòa,hay thậm chí có người ném vứt các thể loại món đồ- họ có thể hoặc  dự định bỏ- vào cô,cái thứ sinh vật họ luôn gào lên rằng nên tuyệt chủng  đi,hay,cũng có những người,đi ngang,liếc nhìn,cười mỉa mai và bảo “Đồ giả cả  thôi”<br>
<br>
Rất nhiều thể loại người sẽ đến,sẽ đi.Và có lẽ tôi sẽ giàu có nhờ  việc kinh doanh này.Nhưng hiển nhiên tôi sẽ không làm thế.Tôi chưa muốn bị bắt  vì tội vi phạm nhân quyền.Cuộc đời này,trong mắt một kẻ như tôi,còn tốt đẹp chán  để tận hưởng<br>
<br>
“Cậu này.Chắc đau lắm nhỉ”<br>
<br>
Cô ấy nói như thế với nét  mặt nhăn lại,đôi vai khẽ run và tay cầm cuốn tiểu thuyết ba xu nào đấy.Cô ấy  đang nói về việc quan hệ tình dục lần đầu tiên<br>
<br>
“Không biết.Mà chẳng phải  trong tiểu thuyết,các kiểu thể loại ấy được miêu tả rất,ah,rất hoa lệ sao?Mà  dùng từ đúng không nhỉ,hoa lệ.Có thể dùng cụm này sao?Chẳng rõ nữa.Đôi lúc cũng  chẳng hiểu nào tiếng Việt và chẳng hiểu nỗi ngữ cảnh để có thể tìm được một từ  cho chính xác để nói”<br>
<br>
“Ừ thì sao cũng được.Nhưng hôm trước,tớ nghe Lan  bảo,mà này,đừng bảo với ai là tớ nói nhé.Lan,nó quan hệ với thằng bạn trai từ  năm ngoái đấy,nó bảo lần đầu tiên đau lắm.Nhưng sau đó thì thôi,không đau nữa.Mà  nghe nó tả,thấy kinh lắm.Cái gì mà nhầy nhụa v.v… Nghe mà chóng mặt  luôn”<br>
<br>
Vẫn vậy.Đây cũng không phải lần đầu tiên cô ấy nói về việc  này,không phải lần đầu tiên tôi thấy vai cô run nhưng đôi mắt lại mơ màng về cái  vấn đề tình dục.Cô.Đã quyết định.Vào một ngày nào đấy của năm mười tám tuổi  này,sẽ cho Khoa-nếu việc ngỏ lời thành công-lần đầu tiên của mình.Nghĩa là chấp  nhận lên giường với một thằng con trai trong vài tháng quen nhau mà không cần  biết chính xác thực ra cái thằng-người ấy rốt cuộc là kẻ có tính cách thế  nào<br>
<br>
Mà lại nói.Tính cách con người trong đôi mắt của đứa con gái sắp mười  tám ấy thì lúc nào cũng là ‘nhân chi sơ-tính bản thiện’-chỉ hai câu ấy thôi,vì  cô ta đã quên mất những câu sau,và cô ta,không học chúng mà là nghe lỏm chúng  trên ti vi,trong những bộ phim cổ trang Trung Quốc.Cô ta,không chỉ yêu thích  truyện tranh Nhật bản,phim tình cảm Hàn Quốc mà còn nghiện luôn cả những bộ phim  cổ trang Trung Quốc.Thật đa quốc gia!<br>
<br>
“Cậu này,nhìn xem”<br>
<br>
Nước mắt  cô ta đang rơi trước bức tranh một đứa trẻ mới sinh nằm chết ngạt trong chiếc  túi nylon đen bị người ta-hay người mẹ của chính nó quẳng ra sau khi vừa chào  đời.Là sau khi vừa chào đời chứ không phải ngay khi,nghĩa là,nó có thể đã từng  được may mắn sống trong mười lăm,hai mươi,hay ba mươi phút hoặc một giờ.Có  thể,từng quãng thời gian dài ngắn.Nó đã từng được sống và bị bóp chết.Những điều  đó không phải do tôi tưởng tượng mà là từ câu chuyện,trong một câu chuyện được  đề phía dưới bức tranh<br>
<br>
Đứa trẻ ấy đã từng đến thế giới này,từng được  sống?<br>
<br>
Cái thể loại mà người ta-hay cái người viết những câu chữ dưới  truyện ấy gọi là sống,với tôi,hình như nó vô nghĩa.Chết,dù có thế nào vẫn là  chết,không nên dùng quãng thời gian dài ngắn để làm thước đo sự từ tâm của con  người.Dù sớm hay muộn,quăng bỏ vẫn là quăng bỏ,bóp chết vẫn là bóp  chết<br>
<br>
“Nếu là tớ,khi có thai,kể cả khi không có chồng,hay khi đứa trẻ chưa  thành hình người,tớ cũng sẽ không hại nó đâu.Nó là con cơ mà,là một phần cơ  thể,máu thịt.Lại còn cả chín tháng mang nặng đẻ đau,sao lại tàn nhẫn thế chứ?Đứa  trẻ ấy đáng thương quá”<br>
<br>
Cô vẫn khóc.Và tôi đã nghĩ,có lẽ,cái sự ngây thơ  còn sót lại ấy của cô sẽ vì bài viết này mà biến mất.Tôi gọi là bài viết,bởi nó  không ghi nguồn gốc xuất phát từ báo hay bài phóng sự nào,và việc nó có phải là  sự thật hay không cũng là cả một vấn đề.Và dù thế nào,kể cả khi nó là sự  thật,thì văn chương,với tôi,dường như luôn đồng nghĩa với không thật.Tôi không  phải là kẻ mơ mộng tìm sự thật trong văn chương…<br>
<br>
Nhưng tôi đã nhầm,hình  như quãng thời gian mười bảy năm hơn ấy đã tạo cho cô một lớp áo dày bằng kim  loại,thứ kim loại cứng nhất và khó bị bào mòn nhất,trước những bài viết thế  này.Cái thể loại ngây thơ của cô,vẫn nằm đó,góc sâu nhất,an toàn nhất và lan tỏa  mạnh mẽ không ngừng nghỉ<br>
<br>
<br>
<br>
<br>
“Cậu ơi !”<br>
<br>
Cô ấy gọi và chạy  đến ôm chầm khi tôi đang đứng trước cửa,chuẩn bị đến trường<br>
<br>
Hôm nay vẫn  là Giáng Sinh,và hôm qua,cô ấy tròn mười tám.Buổi hẹn hò đầu tiên vào đêm hai  bốn,cô diện chiếc váy trắng với áo cùng tông,tóc xõa ngang vai,gương mặt trang  điểm nhẹ,dùng màu hồng làm tông chính,dĩ nhiên là màu hồng nhạt,vì màu đậm dễ  gây phản cảm,lại còn xịt cả một ít nước hoa với hương gỗ nồng ấm lên một tấm  giấy,đặt vào chiếc túi nhỏ được may cách điệu bên hông áo.Đó là cô của ngày hôm  qua trước khi đi<br>
<br>
Còn cô gái bây giờ đang ôm tôi nước mắt ràn rụa lại  dường như khác hẳn.Quần áo xộc xệch như thể đã được mặc một cách vội vã,mùi  hương nồng ấm cũng được thay bằng mùi bia rượu nồng nặc qua hơi thở,mái tóc rối  tung,gương mặt nhòe nhoẹt,phấn son lem luốc<br>
<br>
“Sao thế?”<br>
<br>
Tôi hỏi.Cô  im lặng và cứ khóc.Đôi chân run run hệt như sắp ngã<br>
<br>
“Họ…Tớ không biết gì  cả.Hôm qua tớ đi ăn cùng Khoa,sau đấy tớ thấy chóng mặt,và  rồi không biết gì  nữa…Sáng nay khi thức dậy,tớ thấy mình,Khoa và rất nhiều cặp trai gái họ,tất cả  đều không ai mặc gì.Tớ thấy cả vết máu,tớ sợ lắm,tớ không biết phải làm sao  nữa…”<br>
<br>
Tôi nghĩ đến bệnh viện.Những chiếc áo màu trắng.Bác sĩ.Và những xét  nghiệm.Nó cần thiết hơn bất cứ thứ nào lúc này,hơn một tách sữa nóng hay một bồn  tắm giúp gột rửa sạch mọi vết bẩn-hay vô tình xóa đi những thứ có thể bắt những  thằng-người kia phải trả giá cho việc mình đã làm.Nhưng cô thì không.Cô-mười tám  tuổi-đang tránh né vấn đề của chính mình<br>
<br>
Trước đây,cô từng nói với tôi,cô  tin người ta khi mười tám tuổi có thể làm được mọi thứ và đối diện những chuyện  xảy ra.Nhưng bây giờ,niềm tin ấy không rõ đã đi đâu mất.Cô thu mình vào sự sợ  hãi,nước mắt rơi ra,không cách nào dừng lại được.Nỗi đau với cô giờ hình như lớn  đến mức xóa nhòa hết cả những thứ cô từng nói…<br>
<br>
<br>
<br>
Nhiều tháng sau đó  tôi không gặp lại cô.Chỉ một lần gặp lại cô trong bệnh viện khi tôi đến thăm một  người quen sinh nở trong đấy.Cô có vẻ gầy,hơi xanh,nhưng đang cố tỏ ra bình  thường.Cô một mình,ngồi cầm tờ giấy gì đấy và chờ đợi.Cạnh cô cũng còn nhiều  người khác cũng đang đợi<br>
<br>
“Ah,chỗ đấy là mấy người muốn đến để nạo thai  đấy.Ngạc nhiên phải không,toàn những cô gái trẻ bằng tuổi em hoặc có cô còn nhỏ  hơn.Em cũng nên cẩn thận với mình đấy”<br>
<br>
Người quen đã nói với tôi như  thế.Tôi lại nhìn cô.Chợt nhớ những gì cô từng nói khi nhìn tấm ảnh đứa trẻ ngày  trước…<br>
<br>
Thế cũng tốt-tôi tự bảo với chính mình,rồi quay lưng bước đi.Cô  không nhìn thấy tôi,và tôi,cũng coi như không từng thấy cô<br>
<br>
<br>
<em>Mười  tám tuổi.Cô-bỏ qua những lần đầu tiên đã có-chỉ là một cô gái bình thường bước  đi giữa những con người bình thường</em><br>
<br>
<strong>End</strong><br>