<span style="font-size: 18pt; line-height: 1.3em;"><em>Phù bình  mộng</em></span><br>
<br>
<br>
<em>*phù : trôi nổi<br>
*bình : cây  bèo</em><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
Đa tình tự cổ nan  di hận<br>
Dĩ hận miên miên vô tuyệt  kỳ.<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
“Sư phụ, con xin người…”  <br>
<br>
Người phụ nữ áo tím không quay lại. Vang lên từ sau trướng lụa, giọng bà  nghe nhẹ như sương.<br>
<br>
“Thanh Bình, ngươi đừng phí công vô ích.”<br>
<br>
“Sư  phụ…”<br>
<br>
Thiếu nữ áo xanh khẩn thiết lặp lại. Trên khuôn mặt nhợt nhạt của  nàng, nỗi đau đớn kết thành những giọt lệ to tròn, dáng long lanh và lặng  ngắt.<br>
<br>
“Đồ nhi cầu xin sư phụ…”<br>
<br>
Thiếu nữ dập đầu trên nền hang lạnh  toát. Mùi rêu xanh tàn úa thoảng qua trong cảm nhận của nàng, với một chút mơ hồ  của hàn khí chơi vơi nơi thạch động. Lời van nài nghẹn lại rất nhanh, rồi nàng  im lặng. Và chờ. Chỉ có nước mắt là không ngừng sa xuống như sương…<br>
<br>
Vòm  động cao, không gian không có gió, vì vậy mà vừa lặng vừa lạnh. U uất nữa. U uất  như tiếng cười mong manh đột ngột vang đằng sau trướng lụa.<br>
<br>
“Thanh Bình,  ngay từ đầu ngươi đã biết có ngày hôm nay rồi kia mà ?”<br>
<br>
Bóng người in  trên bức trướng khẽ rung lên. Tiếng cười to dần, nghe như lạc đi thành một thứ  gì đó khác.<br>
<br>
“Người thuộc dương, yêu thuộc âm. Âm dương vốn không thể hoà  hợp. Âm dương ở cạnh nhau, tất phải có một suy vong. Đạo lý cơ bản đó mà ngươi  cũng không hiểu, sao còn đến đây cầu xin ta ?”<br>
<br>
Thiếu nữ vẫn quỳ gối, trán  áp lên mặt đá lạnh. Câu trả lời của nàng là tiếng rơi rất nhẹ của những giọt lệ  liên tiếp như mưa.<br>
<br>
“Thanh Bình, ngươi hà tất phải làm như vậy  ?”<br>
<br>
Câu trả lời vẫn chỉ có một, là nước mắt và hai tiếng “sư phụ” nghẹn  ngào trong cổ họng. Thiếu nữ không nói gì thêm, nhưng tiếng nức nở của nàng vọng  âm nơi thạch động, còn thê lương và ảo não hơn bất cứ lời van cầu nào.<br>
<br>
Cứ  thế, im lặng rất lâu…<br>
<br>
<br>
Ánh sáng nhàn nhạt chảy xuống mặt động. Không  nhiều, nhưng cũng đủ làm mờ mờ cảnh vật hiện lên. Cây. Cỏ. Đá. Thứ gì đó lửng lơ  – sương hoặc khói. Và, thiếu nữ áo xanh. <br>
<br>
<em>Với nước mắt của  nàng…</em><br>
<br>
<br>
<br>
<br>
Khoảng lặng như kéo dài cả ngàn năm, vì khi người  phụ nữ lên tiếng, giọng bà có vẻ đã già đi đến hàng trăm tuổi.<br>
<br>
“Cái giá  phải trả cho Vong Ưu thuỷ, ngươi biết rồi chứ ?”<br>
<br>
Bà nói, không thở dài,  nhưng chính câu nói của bà là tiếng thở dài xót xa nhất vậy.<br>
<br>
<br>
Thạch  động, sau đó, im lặng rất lâu.<br>
<br>
Không bao giờ còn thấy thiếu nữ áo xanh  quay trở lại.<br>
<br>
<br>
<br>
<br>
<br>
***<br>
<br>
<br>
<br>
<br>
<br>
<br>
Hồng nhan tự  cổ đa bạc mệnh.<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<em>Người biệt ly,  khúc đàn còn vẳng<br>
<br>
Chốn cô lâu, giấc mộng vỡ  tan</em><br>
<br>
<br>
<br>
<br>
<br>
<br>
Hồ nước trong, mặt nước xanh và rộng như một  chiếc gương bằng đá ngọc.<br>
<br>
Mây pha chút xám, nhưng gió chỉ hiu hiu mà  không dữ dội. Dù sao cũng đủ làm người ta thấy lạnh.<br>
<br>
<br>
Trên tầng cao  nhất của Tống Xuân lâu…<br>
<br>
<br>
Bên chiếc bàn lớn có một nam nhân. Chàng ta  dáng thư sinh, sắc da vàng úa, mắt màu nhạt, dịu dàng như có vẻ kém thần. Chốc  chốc lại ho lên từng cơn, khó nhọc như con bệnh nặng. Song khi tiếng bước chân  vọng nhè nhẹ lên từ cầu thang, đôi môi tái nhợt thấy rõ một nụ cười mỉm. Cái  cười yếu ớt, nhưng hình như là rất dễ chịu…<br>
<br>
“Bình nhi.”<br>
<br>
<br>
“Đường  lang…”<br>
<br>
Người thiếu nữ vừa xuất hiện dịu dàng đáp lại. Trên tay nàng là  một bát sứ sóng sánh nước. Mùi thơm êm dịu toả lan trong gió, thong thả dâng lên  từng đợt như sóng triều.<br>
<br>
“Bình nhi, lại một phương thuốc mới sao ?…Thứ  này ta chưa thấy…”<br>
<br>
Những ngón tay thon dài nâng chiếc bát lên, sắc trắng  trẻo như ánh sứ. Trên môi nàng vẫn đọng nụ cười yên ả và nhàn nhạt của nắng cuối  thu, một nụ cười xa xôi không thành tiếng. <br>
<br>
“Chàng dùng đi cho  nóng…”<br>
<br>
Thư sinh nặng nhọc đón lấy bát thuốc, tay thoáng run rẩy. Sự trân  trọng hiện lên quá nhiều trong đôi mắt mệt mỏi, thành ra không sao giấu nổi nỗi  gắng gượng.<br>
<br>
“Bình nhi, nàng vất vả quá…”<br>
<br>
<br>
Thay vì đáp, thiếu nữ  chỉ khe khẽ lắc đầu. Nàng nhìn đăm đăm vào chiếc bát bằng sứ xanh, cặp mắt nâu  sẫm bất giác long lanh lệ.<br>
<br>
“Nàng sao thế ?”- Thư sinh ngạc nhiên - “Bình  nhi… ?”<br>
<br>
“Thiếp… không… sao cả…”<br>
<br>
Vừa lo lắng vừa nghi hoặc, khuôn  mặt xanh xao của thư sinh lộ nỗi khó hiểu. Nhưng thiếu nữ chỉ im lặng. Nàng  hướng ánh mắt về phía những dải mây trôi dạt phía xa xa, lưng quay lại. Cái bóng  mảnh mai đổ xuống sàn, và nàng, trước cả một khung trời bao la, trở nên bé nhỏ  và nhợt nhạt. <br>
<br>
“Bình nhi… nếu có chuyện gì nàng phải nói với ta  chứ.”<br>
<br>
Lắc đầu. <br>
<br>
Thiếu nữ lặp lại câu trả lời cũ, chỉ khác là lần  này dường như trôi chảy hơn một chút.<br>
<br>
“Thiếp… không sao cả.”<br>
<br>
“Bình  nhi…”<br>
<br>
Thư sinh vẫn thiết tha. Chàng ta không nhìn thấy mặt nàng, chỉ nghe  giọng nàng có vẻ khác lạ. Chậm. Lại đắng. Thư sinh, dù đã đọc cả pho sách thánh  hiền, không hiểu điều đó nghĩa là gì.<br>
<br>
Chàng không biết rằng trên thế  gian, có những điều không cho người ta đến cơ hội thứ hai để học.<br>
<br>
<br>
Vào  lúc đó, thiếu nữ đã quay lại. Nàng đứng ngược sáng, khuôn mặt cũng vì thế mà âm  u không rõ. Chỉ thấy nàng khẽ cười. <br>
<br>
“Thiếp không sao, Đường lang. Giờ  chàng mới là người bệnh mà, mau uống thuốc đi kẻo nguội…”<br>
<br>
Lần này có tươi  hơn một chút. Thư sinh không nhận ra vẻ kì lạ khi nãy nữa, mới yên tâm khuyên  nhủ :<br>
<br>
“Bình nhi, nàng đừng nên lo lắng. Bệnh tình của ta đã thuyên giảm  nhiều, rồi ta sẽ nhanh chóng khoẻ lại…”<br>
<br>
Chàng mỉm cười, bất giác nói thêm  :<br>
<br>
“Ta chợt muốn nghe tiếng đàn của nàng quá…”<br>
<br>
Thiếu nữ ngẩng lên.  Mắt nàng mở to, mờ hẳn đi trong cảm xúc gì đó không thể nào gọi tên được. Nhưng  thư sinh đang định nâng bát thuốc lên, chàng không nhìn thấy. Tưởng như nước mắt  đã sắp sa xuống rồi, song, thiếu nữ chỉ nói :<br>
<br>
“Để thiếp đàn cho  chàng.”<br>
<br>
Rất vội. Bóng nàng ngả trên cây cổ cầm, màu đen nhạt, mềm và dài  như một nhánh cỏ đơn độc. Khúc đàn quen thuộc ngân lên, bắt đầu bằng những âm  thanh chậm và dè dặt.<br>
<br>
“Phù bình mộng ? Lần đầu tiên chúng ta gặp nhau,  cũng là nàng đang đàn khúc này…”<br>
<br>
Thư sinh nở một nụ cười ôn hoà, tay cầm  bát thuốc, cứ giữ như thế mà lắng nghe. Nụ cười lan rộng trên khuôn mặt chàng,  đẹp như những tia nắng đầu tiên của mùa xuân rọi lên cành cây héo hắt. Khúc nhạc  bay trong gió, âm thanh chơi vơi, nghẹn lại…<br>
<br>
<br>
Phù bình mộng… Giấc mộng  của cánh bèo phiêu dạt… <br>
<br>
<br>
Trong tiếng đàn, nghe có cả nước chảy u  hoài, một vạt bèo xanh trôi rất khẽ, tiết trời chuyển từ xuân sang hạ, từ thu  sang đông, sự úa tàn và cả nước mắt của một người con gái. Dây đàn rung lên  thành những âm trong trẻo, man mác buồn nhưng khẽ quá. Tất cả như đều ẩn trong  âm điệu êm đềm, ẩn thật sâu, nên những gì thấy được chỉ là mơ hồ một nỗi luyến  tiếc. <br>
<br>
Khúc đàn mang mang… lòng người mang mang… là sầu nhưng không  hận…<br>
<br>
<br>
Thư sinh nâng chiếc bát lên. Hương thơm của thuốc làm chàng thấy  uể oải một cách dễ chịu, ngòn ngọt, dìu dịu, như muốn ru con người ta vào mộng.  Thiếu nữ kín đáo nhìn chàng. Tiếng đàn vẫn loang dài trong không gian như nước  chảy, còn khoé mi nàng, bỗng vô tình điểm lệ…<br>
<br>
Bát thuốc cạn, chỉ còn chút  hương mơ hồ lưu lại đáy. Không một tiếng động, thư sinh đổ gục xuống bàn, cặp  mắt màu nhạt nhắm nghiền.<br>
<br>
<br>
Cũng không một tiếng động, giọt lệ của  thiếu nữ rơi xuống cây cổ cầm.<br>
<br>
<br>
Một giọt lệ thôi, sáng long  lanh…<br>
<br>
<br>
<br>
<br>
Khúc “Phù bình” chưa dứt, nhưng người thì đã không còn  nữa.<br>
<br>
<br>
<br>
<br>
Trên lầu cao, gió vẫn ngân nga…<br>
<br>
<br>
<em>“Phù bình  mộng”…</em><br>
<br>
<br>
<br>
<br>
<br>
<br>
***<br>
<br>
<br>
<br>
<br>
<br>
<br>
Lai như lưu  thuỷ hề, thệ như phong<br>
Bất tri hà xứ lai hề, hà sở chung<br>
<br>
<br>
<em><span style="font-size: 8pt; line-height: 1.3em;">Đến như nước chảy, tàn như  gió<br>
Không biết nơi nào tới, kết thúc ở nơi nào  </span></em><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
Năm ấy Đường gia mở hội thưởng hoa.  Nói là mở hội, nhưng thực chất là để mừng Đường đại công tử mất tích lâu ngày  bỗng nhiên trở về. Mà trở về nguyên vẹn, không xây xước, thậm chí thần sắc còn  có phần khoẻ mạnh hơn xưa. Mỗi tội chàng ta đột ngột mất tích, đột ngột trở về,  người nhà gặng hỏi đã đi đâu, làm gì đều không nói được, chỉ lặp lại đúng hai  chữ “không nhớ”. Quả là quái sự, nhưng Đường lão gia và phu nhân đều không lấy  thế làm phiền lòng, trái lại còn sung sướng mở hội thưởng hoa, mừng con đã về  nhà bình an.<br>
<br>
<br>
Đường công tử vốn ưa thích ngắm hoa ngâm ngợi, lại vui  sướng vì vừa đoàn tụ với gia đình, nên rảo bước dạo trong  hoa viên, trong lòng  rất lấy làm dễ chịu. Giữa muôn vàn cây cối đang độ đâm chồi nảy lộc, cành lá  biếc rờn tươi tốt, bỗng đâu thấy một nữ lang.<br>
<br>
Nàng còn rất trẻ, y phục  màu xanh, chiếc ô trên tay cũng màu xanh nhưng nhạt hơn một chút. Ánh sáng xuyên  qua tán ô, phủ một lớp mỏng trên khuôn mặt của nàng, nhìn mơ hồ như  khói.<br>
<br>
Nữ lang chầm chậm bước qua Đường công tử, bất ngờ đánh rơi lại một  chiếc khăn thêu.<br>
<br>
Nàng không biết điều đó, cứ thong thả đi tiếp, hình như  đang ngắm cảnh rất say sưa. Mái tóc đen của nàng lấp ló dưới tán ô, cài một  chiếc trâm bằng đá lục, óng ả và dài như suối.   <br>
<br>
“Cô nương, khăn của cô  này !”<br>
<br>
Nữ lang quay lại nhìn chàng, mỉm cười bối rối. Nàng ngẩng đầu lên,  tiếng cảm ơn dịu dàng thốt ra từ đôi môi hồng nhạt :<br>
<br>
“Đa tạ công  tử.”<br>
<br>
<br>
Mắt nàng màu nâu sẫm…  <br>
<br>
<br>
Đường công tử chợt khựng lại.  Chàng hình như đã gặp ánh mắt này ở đâu đó, nhưng…<br>
<br>
Nữ lang áo xanh vẫn  mỉm cười đối diện với chàng. Nụ cười của nàng rất yên ả, rất lặng, chứa một vẻ  gì đó êm dịu như sắc nắng cuối thu.<br>
<br>
Một cảm giác quen thuộc gợn lên trong  lòng chàng. Quen quen… nhưng chỉ là quen thôi, chàng thậm chí còn không chắc  lắm…<br>
<br>
<br>
“Cô nương, thứ lỗi cho tại hạ… nhưng trước đây chúng ta phải  chăng đã từng gặp nhau ?”<br>
<br>
Một ánh cười hư ảo thoảng qua trên đôi môi  nàng. <br>
<br>
“Chưa từng, thưa công tử… Đây là lần đầu tiên chúng ta gặp  nhau.”<br>
<br>
<br>
“Tại hạ… đã thất lễ rồi.”<br>
<br>
Chàng ngượng ngùng tạm biệt,  và rất nhanh lẫn vào những cây hoa đang nở rộ. Tới khi bóng chàng đã khuất, nụ  cười trên môi nữ lang vẫn còn chưa tắt.<br>
<br>
<br>
Chiếc ô xanh khẽ khàng rơi  xuống. <br>
<br>
Trên con đường rải sỏi của hoa viên, không còn thấy nữ lang đâu  nữa. Chỉ thấy bay lên một làn khói mỏng màu lục nhạt, và giữa đám cỏ non lún  phún, có một cánh bèo vàng úa.<br>
<br>
<br>
<br>
<br>
<em>“Cái giá phải trả cho Vong  Ưu thuỷ, ngươi biết rồi chứ ?” </em><br>
<br>
<br>
<br>
<br>
<br>
Trên cánh bèo ấy, còn  đọng một giọt nước trong suốt, to và sáng long lanh như lệ.   <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
Trong gió, khúc “Phù bình mộng” vẫn còn  dang dở…<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><em>Phù bình  mộng</em>Đến như nước chảy, tàn như  gió<br>
Không biết nơi nào tới, kết thúc ở nơi nào  