<div align="center">
<span style="color: red;"><strong>Bạch Ngân Thiên  Sứ</strong></span><br>
<br>
<br>
---------o--- 0 ---o---------<br>
<br>
<br>
<br>
<br>
<br>
1.  <br>
<em>Thánh đường</em> .<br>
<br>
<br>
Thánh đường đổ nát hoang tàn nằm đơn độc trơ  trọi giữa rừng hoang . Nơi những lời cầu nguyện và hy vọng vĩnh viễn không thể  nào chạm tới được thiên đàng . Nơi khiến cho tất cả mọi ảo tưởng tìm đến nơi này  đều tàn úa và vỡ nát .<br>
<br>
Không một bóng người . Con người ta thường tìm tới  những nơi có thể mang lại cho họ những hy vọng , dù nó mong manh tới đâu . Tới  một ngày nào đó khi họ hiểu rằng nơi này không thể cho họ cái họ muốn và rồi họ  sẽ lại rời đi . Thánh đường cô tịch .<br>
<br>
Thánh đường ngàn năm  <br>
<br>
…<br>
<br>
<br>
<br>
2. <br>
<em>Đoạ thiên sứ .</em><br>
<br>
<br>
Rừng đông trắng  như bạch ngọc sáng lấp lánh trong nắng . Không có tuyết . Kết tinh băng giá phủ  kín từng khóm cây ngọn cỏ , làm nên những tạo vật pha lê đẹp đẽ trong suốt.  Không có sự sống .<br>
<br>
Thời gian không đi ngang đây , nó bị bắt bỏ quên nơi  này . Nơi tận cùng thế giới bị Thượng Đế ruồng bỏ .<br>
<br>
Giữa rừng đông ,  trong lòng hồ nước phẳng lặng như mặt gương lớn phản chiếu cả đất trời trọn một  màu trắng toát . Ấp ôm thân thế xinh đẹp lạnh giá đang say ngủ giữa hồ đông .  <br>
<br>
Đoạ thiên sứ xinh đẹp . Tóc nàng xoã trải dài trong nước , ánh bạc soi  rạng đáy hồ kia . Nàng là thiên sứ , nhưng đôi cánh cánh của nàng không mang một  màu trắng tinh khiết mà mang một màu đen tuyền óng ả , huyền bí , tang thương .  Toàn thân nàng được bao bọc bởi toàn một màu đỏ thắm , đẹp như máu , buồn như  máu . Y phục trắng của thiên thần vấy máu đào đỏ tươi .<br>
<br>
Nhưng không vì  đôi cánh của nàng mang màu đen , mà nàng không phải thiên thần . Không vì y phục  trắng trinh bạch của nàng nhuốm màu đỏ , mà nàng không phải thiên thần . Nàng  vẫn mãi là thiên thần xinh đẹp .<br>
<br>
Từ ngàn năm trước  <br>
<br>
…<br>
<br>
<br>
<br>
3. <br>
<em>Hoa của lửa .</em><br>
<br>
<br>
Mi Tử Điệp .  Loài hoa mong manh chứa đầy ma lực và ảo mộng chưa từng tồn tại trong nhân gian  . Tồn tại phía sau lòng khao khát , sự ham muốn và ẩn chứa bao độc tố . Tử Điệp  Hoa từng không có màu sắc và hình dáng , nó chỉ từng tồn tại theo kí ức và mong  muốn của người nhìn thấy nó _ Ôi , đoạ thiên sứ xinh đẹp .<br>
<br>
Nàng rất yêu  Tử Điệp Hoa . Luôn dịu dàng ôm ấp ve vuốt từng cánh mỏng , nâng niu và gởi trọn  yêu thương để dành tặng chúng cho Người . Mỗi khi ấy , khuôn mặt nàng bừng sáng  đôi mắt bạc long lanh tràn ngập cảm xúc , Tử Điệp Hoa nguyện sẽ mãi chỉ nở hoa  trong tay một mình nàng mà thôi .<br>
<br>
Thiên thần không biết nói , ngay từ lúc  nàng mới sinh ra . Thiên sứ xinh đẹp chỉ luôn câm lặng , tất cả những cảm xúc  chỉ có thể được nhận thấy qua từng ánh mắt của nàng . Người đến bên nàng trong  một đêm không trăng , bị hút hồn bởi đôi mắt pha lê bạc trong suốt , đôi môi  hồng đào nhỏ nhắn với làn da trắng ngần như mặt trăng …<br>
<br>
Thiên sứ trắng  tinh khiết trong đêm không trăng mờ ảo . Và , nàng đã trở thành thiên sứ của  Người .<br>
<br>
Thiên sứ lạc loài <br>
<br>
…<br>
<br>
<br>
<br>
4. <br>
<em>Thánh ca  .</em><br>
<br>
<br>
Từng hồi chuông thánh đường ngân lên như chua xót , tiếng thánh  ca trong vắt nhưng da diết và ai oán khóc than đã mang Người rời xa nàng . Thánh  địa u tối , tử huyệt lạnh lẽo đã chia cắt Người và nàng .<br>
<br>
Vĩnh viễn  .<br>
<br>
Mầm mống ái tình được nuôi lớn bằng hy vọng thiên sứ xiết bao đẹp đẽ .  Nhưng chính thứ ảo mộng được sinh ra từ nó đã phủ trắng tim nàng khiến cho nàng  lạc lối , đẩy nàng rơi xuống vực sâu thăm thẳm không đáy chực chờ .<br>
<br>
Khi  nàng muốn Người chỉ thuộc về riêng nàng mà thôi .<br>
<br>
Đôi bàn tay trắng ngần  đẹp đẽ của thiên sứ đã cắm sâu đoá Tử Điệp Hoa mà nàng hằng nâng niu trì mến vào  tim của Người nàng yêu nhất . Thật đau đớn xiết bao . Dòng máu ấy đã thấm đẫm  rồi nhuộm đỏ Tử Điệp Hoa …<br>
<br>
Từ đó Tử Điệp Hoa mang một màu đỏ rực như máu  , với từng cánh nhỏ thon dài uốn cong vờn bay trong gió như từng đốm lửa . Tử  Điệp nở hoa nơi đồi vắng ,với vẻ đẹp rực rỡ kiêu sa nhưng đầy thê lương ai oán .  Sóng sánh sắc đỏ nhuộm kín cả một vùng trời đất hoang vu …<br>
<br>
Độc hoa từ địa  ngục ái tình .  <br>
<br>
…<br>
<br>
<br>
<br>
5. <br>
<em>Thiên Đường  .</em><br>
<br>
<br>
Sự trừng phạt đã được định sẵn . Thiên thần xinh đẹp tóc bạch  kim , đôi cánh trắng nay đã nhuốm màu đen u tối , máu đào thấm đẫm y phục trắng  tinh khôi . Nhưng than ôi, chúng chỉ khiến cho nàng rực rỡ hơn bội phần . Thiên  thần tội lỗi .<br>
<br>
Lần đầu và cũng là lần cuối nàng khóc . Những giọt nước  mắt của nàng cứ tuôn rơi và rơi mãi … Ngàn vạn mảnh thuỷ tinh sắc nhọn cũng đã  đâm nát tim nàng khi ấy , lúc nàng huỷ diệt sinh mệnh Người cũng là lúc nàng huỷ  hoại mình . Nàng sẽ không bao giờ còn có thể là thiên sứ , trắng ngần tinh khôi  đẹp đẽ hiện lên trong mắt Người .<br>
<br>
Nàng rời bỏ thiên đường , cảm thấy sợ  sự vĩnh hằng mình có . Vì nàng là thiên sứ , vì nàng mãi mãi là thiên thần nên  nàng không thể chết . Nàng không được quyền định đoạt sự sống cho riêng mình   .<br>
<br>
Sự sống của con người được giới hạn , dù có cả ngàn vạn nỗi đau cũng sẽ  được bôi xoá qua thời gian . Cái chết sẽ chấm dứt sinh mệnh và cho con người  quyền lãng quên tất cả . Nhưng nàng thì không thể , vì nàng là thiên thần và vì  thế tất cả những nỗi đau trong tim của nàng , và cả sự cô độc của nàng cũng sẽ  tồn tại mãi mãi .<br>
<br>
Nàng vĩnh viễn là thiên thần bất tử  <br>
<br>
…<br>
<br>
<br>
<br>
6. <br>
<em>Ước nguyện .</em><br>
<br>
<br>
Tuyết rải trắng ,  không gian bao phủ toàn một màu trắng xoá và lạnh buốt tê tái cõi lòng . Nơi  thánh đường ngàn năm , chứa dựng bao tôn kính uy nghiêm . Nơi lần cuối đã chia  cắt nàng và Người .<br>
<br>
Nàng quỳ xuống và thầm nguyện cầu với Đấng Sáng Tạo ,  xin hãy tước đi quyền năng vĩnh cửu của nàng mãi mãi . Nguyện dâng dòng huyết đỏ  của nàng _ thiên thần tội lỗi làm tế phẩm .<br>
<br>
Những mong nàng có thể ngủ  yên ở một nơi nào đó . Nơi mà thời gian không thể trôi đi . Nơi sẽ biến nỗi đau  trong tim nàng thành giá băng vĩnh cửu , chôn vùi cả không gian và thời gian  .<br>
<br>
Để khi số phận lần nữa mang Người tới bên nàng , nàng có thể thực sự ở  cạnh người . Có thể mỉm cười nói với Người rằng … <br>
<br>
Em yêu Người  !<br>
<br>
…<br>
<br>
<br>
<em>Vì Người từng bảo . Sẽ tìm thấy , và mang thiên thần  cùng đi .</em><br>
<br>
Mi Tử Điệp nở hoa .<br>
<br>
<br>
…<br>
<br>
<br>
I will be your  cloud up in the sky<br>
<em>Em sẽ là áng mây của riêng anh trên bầu  trời</em><br>
<br>
I will be your shoulder when you cry<br>
<em>Là đôi vai dựa mỗi  khi anh bật khóc</em><br>
<br>
I will be your voice when you are calling<br>
<em>Là  cung giọng mỗi khi anh lên tiêng gọi</em><br>
<br>
I am your angel<br>
<em>Là thiên  thần của anh</em><br>
<br>
…<br>
<br>
<br>
<br>
<strong>23.3.08</strong>
</div><strong>Bạch Ngân Thiên  Sứ</strong>