<div style="text-align: center;">
<span style="color: brown;"><span style="color: maroon;"><span style="font-size: 14pt; line-height: 1.3em;"><strong>Eversleeping  </strong></span></span></span><br>
<br>
(<em>version 2</em>)<br>
<br><div style="text-align: center;"> 
~(*)~<br>
<br>
<br>
<br>
<em>Ngày xửa ngày xưa,  …</em><br>
<br>
<em>Câu chuyện diễn ra tại một, hai, à không, có đến ba vương quốc cùng toạ  lạc trên một vùng đất rộng  lớn...</em><br>
<br>
<br>
<br>
~(*)~<br>
<br>
<br>
<br>
<br>
<strong>1.</strong><br>
<br>
Vương quốc  thứ nhất thuộc quyền cai trị bởi chàng hoàng tử mang tên <strong>Nhóc Lượm</strong>. Chàng  có một cái kiếng cận ba chấm năm điốp, có một cái Nokia N7X (đã bị chôm mất),  và…một đính ước với một nàng công chúa kiều diễm mang tên Thiên Thần Hoàn Mỹ.  Chàng là con người ưu tú và dũng mãnh nhất trong số những hoàng tử nước láng  giềng.<br>
<br>
Cánh đó không xa, chừng …vài chục bước chân, Vương quốc thứ hai sở  hữu một nàng công chúa đặc biệt – mang tên <strong>Thiên Thần <em>cánh đen chuyên ăn  vặt</em></strong> - nàng cũng có một cái kiếng cận, một con “dế” “xịn” (mang công nghệ  Slim chính hiệu LG mới xuất xưởng - *quảng cáo thêm*), và …một quá khứ vất vưởng  vô vàn chuyện tình yêu nhăng nhít kiểu…trẻ con. <br>
<br>
Nhóc Lượm và Thiên Thần  ngang tuổi nhau. Nhóc Lượm với cái kiếng cận mang vẻ ngoài già đời và trưởng  thành trước tuổi. Còn Thiên Thần, nàng là một thiếu nữ ngây thơ - vô - đối  và  mang trong mình bản tính “nít nhà lành” chính hiệu “con nai vàng”.<br>
<br>
Một  ngày đẹp trời, Nhóc Lượm vô tình gặp Thiên Thần cánh đen.<br>
<br>
Câu đầu tiên  Hoàng tử nói, cũng là câu sặc mùi gây chiến:<br>
<br>
“<em>Người như nàng mà là  công chúa à</em>?”<br>
<br>
Nhóc Lượm bảo, rằng Thiên Thần rất chi là luộm thuộm,  cẩu thả, vô phép tắc.<br>
<br>
Nhóc Lượm mắng Thiên Thần là khờ khạo, Đại ngốc  tử.<br>
<br>
Nhóc Lượm chê Thiên Thần quá hư - vì không biết tự lo đồ ăn cho mình,  quá ngốc - vì không biết nấu ăn, quá dở - vì ngay cả mì hộp cũng không biết  nấu.<br>
<br>
Thiên Thần, đáp lại bằng một nụ cười ngây thơ mát  lạnh.<br>
<br>
<br>
~(*)~<br>
<br>
<br>
Một hôm, tại vương quốc nơi Nhóc Lượm sinh  sống, xuất hiện một tên Đại ác Ma tệ hại, xấu xa, đê tiện, hống hách đến lạm  quyền, lạm chức, lạm mình ngon mà đi chê người khờ, đến chèn ép và sỉ vả Hoàng  tử Nhóc Lượm, hòng mượn thế bự con làm để cướp ngai vàng. Dĩ nhiên là, vị Hoàng  tử anh minh trí dũng song toàn của chúng ta vẫn không cần dùng tới bạo lực, chấp  nhận ngoảnh mặt làm ngơ khỏi những trò lố hay dở hơi tệ hại của Đại ác  ma.<br>
<br>
Nhưng, Thiên Thần cánh đen chuyên ăn vặt - khờ khạo, ngốc nghếch, trẻ  con chính hiệu “nít nhà lành” – đã tự dấn thân vào cuộc xung đột của Hoàng tử  với niềm kiêu hãnh tột độ về khoản hùng biện có một không hai của mình mà chấp  vặt từng câu từng chữ với Đại ác ma. <br>
<br>
Hậu quả, Thiên Thần thua thảm  bại.<br>
<br>
Thiên Thần suy sụp. Thiên Thần không nhí nhố như trẻ con được nữa.  Thiên Thần mất đi nụ cười. Thiên Thần đã khóc.<br>
<br>
Hoàng tử Nhóc Lượm xuất  hiện, kéo Thiên Thần đi rong khắp nơi. <br>
<br>
Họ cùng nhau vượt qua thiên  đường, dạo ngang địa ngục. <br>
<br>
Dừng lại, nơi Trời và Đất giao  nhau.<br>
<br>
Tại đây, Hoàng tử ngồi tám với Thiên Thần. Nhưng, vai trò người làm  chủ trong các cuộc đàm đạo mang tính chuyên môn như thế này, vốn dĩ thuộc về  Thiên Thần mang cánh đen, thì nay, lại thuộc về Hoàng tử.<br>
<br>
Hoàng tử nói  nhiều ghê gớm. Thiên Thần khờ khạo, chỉ biết câm nín mà nghe. Một cách mà, uhm,  như người ta nói, “luôn luôn lắng nghe, luôn luôn <em>mới </em>hiểu”. Hoàng tử nói  chi chít tùm lum tà la vô số thứ chuyện thuộc về phạm trù tinh thần cao siêu,  đại loại như cách “thắng thiên trị nhân - ứng người xử thế”, trong đó, có một số  chuyện linh tinh lang tang về phạm trù “fall in love” của Hoàng tử.  <br>
<br>
Chuyện về công chúa Hoàn Mỹ và một ai – đó – mà – thiên - thần – cũng –  không - biết – là – ai – đó. Nhóc Lượm kể về Hoàn Mỹ, về tình yêu của nàng dành  cho Hoàng tử. Không có chi liên quan đến Thiên Thần. <br>
<br>
Nhưng Thiên Thần  lại hết buồn. Hết khóc.<br>
<br>
Thiên Thần bắt đầu quý mến Hoàng tử hơn. Thiên  Thần trở nên thân thiết với Hoàng tử lạ lùng. Còn Hoàng tử vẫn chỉ coi Thiên  Thần là con nít. Cho nên Hoàng tử suốt ngày cứ chăm chăm làm thế nào để biến đổi  và “cải tạo” sao cho Thiên Thần cánh đen trông giống với một nàng công chúa hơn  là một đứa nhóc chuyên ăn quà vặt ^___^. Với Hoàng tử, đó là một công trình rất  chi là vĩ đại - ngang tầm với việc đứng ra bảo vệ luận án tốt nghiệp Tiến sĩ với  đề tài <em>“Thiên Thần cánh <strong>đen </strong>thành cánh <strong>trắng</strong>, đề xuất dự án và  thực tiễn ứng dụng?”</em><br>
<br>
<br>
<strong>2.</strong><br>
<br>
Sinh nhật Hoàng tử tròn hai  mươi tuổi. <br>
<br>
Đại hội diễn ra tại thánh điện lớn nhất, nơi Lân Quy hội tụ,  nơi Long Phụng sum vầy. Tại đây, Thiên Thần đã gặp Hoàn Mỹ công chúa - người con  gái đính ước với Hoàng tử Nhóc Lượm. Nàng dễ thương và rạng ngời như cái tên của  nàng. Mái tóc dài của nàng mềm mại và sải dài không gợn sóng. Mọi người đều bảo  rằng, Thiên Thần cánh đen thật là “một trời một vực” khi đem so sánh với Hoàn Mỹ  công chúa. Thiên Thần cũng công nhận như vậy. Nàng đoan trang và hết mực từ tốn,  như một nàng công chúa kiều diễm nhất trên trần gian này. Hai người họ, mỗi khi  sóng bước bên nhau, trông thật duyên dáng và quý phái hết mực. Lời chúc tụng và  ngưỡng mộ cứ râm ran xuyên suốt đại tiệc.<br>
<br>
Thiên Thần bảo rằng, Hoàng tử  thật là hạnh phúc, rằng hai người quả thật là một cặp đôi rất hoàn hảo. Còn  Thiên Thần, nàng tự nhận rằng mình mãi mãi chỉ là người bạn tốt của Hoàng tử.  Chỉ là bạn thôi. Một người bạn “con nít” của Hoàng  tử.<br>
<br>
<br>
~(*)~<br>
<br>
<br>
Một ngày kia, Thiên Thần cánh đen đi quyên góp  lương thực cho vương quốc - nói trắng ra là đi chôm đồ ăn. Thiên Thần chôm nhầm  đồ của một vương quốc nào đó - mà Thiên Thần không nhớ tên, vì ăn trộm thì không  cần thiết nhớ tên người bị hại. Thiên Thần bị túm. May mắn thay, Hoàng tử ở đó  nhân từ rộng lượng, tha cho Thiên Thần. Hoàng tử dễ thương mang cái tên X - Men  quen Thiên Thần từ lúc đó. <br>
<br>
X – Men yêu Thiên Thần. Khẳng định đó là sự  thật. Vì X – Men chấp nhận cho phép Thiên Thần cánh đen chuyên ăn vặt tiếp tục  ky cóp lương thực từ vương quốc mình mà không đòi hỏi bất cứ một yêu cầu nào. Có  một lần Hoàng tử X –Men đã hỏi một câu hỏi vu vơ với Thiên Thần, đại loại rằng  điều gì là quan trọng nhất đối với Thiên Thần, nếu như không tính đến Thức Ăn và  Ngủ Ngày. <br>
<br>
Thiên Thần trả lời rằng: <br>
<br>
“<em>Trước đây, là Nhóc Lượm -  bạn tốt của Thiên Thần</em>”<br>
<br>
“Còn bây giờ?”<br>
<br>
“<em>Không – ai -  cả</em>”<br>
<br>
“vì sao vậy?”<br>
<br>
“<em>Vì không ai giống với Nhóc Lượm - bạn  tốt của Thiên Thần cả</em>”<br>
<br>
<br>
~(*)~<br>
<br>
<br>
X – Men yêu Thiên Thần.  Do đó, X – Men đến gặp Hoàng tử Nhóc Lượm.<br>
<br>
“<em>Thật ra, Ngài đối với  Thiên Thần, là như thế nào</em>?”<br>
<br>
Câu trả lời mà X – Men nhận được, tựa  như một câu trả lời câm lặng. Và nó đã khiến cho X – Men quyết định đến gặp  Thiên Thần cánh bạc - người bảo trợ và đỡ đầu cho Thiên Thần cánh đen. X – Men  nói rằng, chàng yêu tha thiết Thiên Thần, và mong múôn được đính ước với Thiên  Thần. <br>
<br>
Thiên Thần cánh bạc hỏi về quyết dịnh đột ngột của X – Men. Chàng  đã kể với Thiên Thần Cánh bạc mọi chuyện, kể cả câu trả lời của Nhóc Lượm. Thiên  Thần cánh bạc hứa xem xét chuyện này với Thiên Thần cánh đen và sẽ đưa ra quyết  định sau một tháng.<br>
<br>
Đêm hôm đó, Thiên Thần cánh bạc mang tên Kira kể  chuyện đêm khuya cho Thiên Thần cánh đen, Thiên Thần Ốc con cùng Thiên Thần Cánh  trắng nghe một câu chuyện cổ tích.<br>
<br>
<em>Truyện kể về một vương quốc tuyệt  đẹp xa xưa, có một hoàng tử vốn đã có đính ước với một nàng công chúa, nhưng  chàng lại yêu tha thiết nàng công chúa nước láng giềng hơn ai hết. Hoàng tử đã  bảo rằng, nếu như chàng được gặp nàng công chúa láng giềng ấy trước tiên, chàng  sẽ yêu người con gái giống hệt nàng công chúa láng giềng. Không phải là nàng  công chúa mà chàng đính ước.</em><br>
<br>
Thiên Thần cánh bạc đột ngột hỏi Thiên  Thần cánh đen, rằng nếu như vị Hoàng tử trong câu chuyện đó chính là Nhóc Lượm,  nếu như Người mà Hoàng tử Nhóc Lượm yêu quý nhất, nếu như chàng được lựa chọn  lại từ đầu, là người giống hệt công chúa Thiền Thần cánh đen chuyên ăn đồ vặt,  thì chuyện gì sẽ xảy ra…<br>
<br>
<br>
Thiên Thần Cánh đen ngỡ ngàng.<br>
<br>
Không  hiểu, vì Thiên Thần Cánh Đen thật sự không hiểu.<br>
<br>
“<em>Nếu như tôi được lựa  chọn lại từ đầu, sẽ không phải là Hoàn Mỹ, mà là người con gái giống hệt Thiên  Thần. Tính cánh như vậy, nụ cười như vậy, và đôi mắt giống như vậy. Người tôi  yêu, có lẽ, sẽ giống như Thiên Thần</em>”<br>
<br>
Đó chính là câu trả lời của Nhóc  Lượm.<br>
<br>
<em>giống hệt như vậy, nhưng sẽ không phải là người  đó…</em><br>
<br>
Chàng không chọn ai cả. Người chàng chọn là một – ai – đó giống  Thiên Thần. <br>
<br>
<em>Vậy, chàng với Thiên Thần, rốt cuộc là  gì…</em><br>
<br>
Thiên Thần không hiểu. Thiên Thần không biết. Vì có lẽ, Thiên  Thần là con nít, là con nít với cả Hoàng tử Nhóc Lượm mà  …<br>
<br>
<br>
<strong>3.</strong><br>
<br>
<br>
<em>“Thiên Thần sắp có người  yêu”</em><br>
<br>
“Ai vậy?”<br>
<br>
<em>“Một ai đó không phải là Nhóc  Lượm”</em><br>
<br>
“Tại sao không phải là ta?”<br>
<br>
<em>“Vậy Nhóc Lượm có thể yêu  Thiên Thần không?”</em><br>
<br>
“Ừm…không. Vì ta đã có hôn ước với Hoàn  Mỹ”<br>
<br>
<em>“Vậy nên, Thiên Thần mới bảo là một ai đó không phải Nhóc  Lượm”</em><br>
<br>
“Khi nào?”<br>
<br>
<em>“Một tháng nữa”</em><br>
<br>
“Chúc mừng  nàng, Thiên Thần!”<br>
<br>
<em>“Ừ”</em><br>
<br>
Hoàng tử cười. Thiên Thần cũng  cười.<br>
<br>
Nhưng, là nụ cười giả. Cả hai người, đều đang đeo mặt nạ cho  nhau.<br>
<br>
Không muốn cởi bỏ, vì vốn, đã không thể cởi bỏ. Ngay từ khi họ gặp  nhau lần đầu tiên. <br>
<br>
Vì Hoàng tử còn có Hoàn Mỹ. Hoàng tử không thể huỷ bỏ  hôn ước.<br>
<br>
Vậy là, Hoàng tử lại vẫn cứ bên cạnh Hoàn Mỹ công chúa, như mối  dây giữa hai người đã có từ trước. Công chúa Thiên Thần cánh đen chuyên ăn đồ  vặt vẫn tiếp tục đi quy cóp lượng thực cho vương quốc của mình.<br>
<br>
Nhóc Lượm  và Thiên Thần cánh đen vẫn là bạn tốt của nhau.<br>
<br>
“<em>Mọi chuyện xảy ra  trên đời này không phải là ngẫu nhịên. Đó là tất nhiên</em>”(*)Cả chuyện tình yêu  không tưởng giữa Hoàng tử và Thiên Thần cũng vậy.<br>
<br>
À, mà Thiên Thần cánh  đen có yêu Hoàng tử không nhỉ? Chắc là không, vì Thiên Thần là trẻ con. Mà trẻ  con thì hay quên lắm. Biết đâu được, nhưng có thể là <em>trong khoảnh khắc, Thiên  Thần cũng đã yêu Nhóc Lượm</em>.<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
~o0o~ <strong>The  End</strong> ~o0o~<br>
<br>
<br>
<br>
<br>
Warning: <em>có đến 90% là tự chế, trừ một số  tình tiết đã được ẩn dụ hoá. Còn lại, những câu thoại là có thật. Chuyện cóp  nhặt ngoài lề, và cái bạn dễ thương mang bí danh <i>Thiên Thần cánh đen  chuyên ăn vặt </i></em>cũng có thật nha.<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<em>Ước lành vô vọng</em>
      </div><span style="color: maroon;"><span style="font-size: 14pt; line-height: 1.3em;"><strong>Eversleeping  </strong></span></span><span style="font-size: 14pt; line-height: 1.3em;"><strong>Eversleeping  </strong></span><strong>Eversleeping  </strong>