<b>Author:</b> Hoàng Nguyên<br>
<b>Genres :</b> Truyện. <br>
<b>Summary:...









Chỉ mình em ở lại...Sóng xô vào bờ. Ru lên khúc tình ca. Cô gái đi  trên bãi cát vắng. Tóc cô xõa ra trong gió. Từng bước đi...Mùa xuân đên rồi anh à. Em nghe mùa xuân. Đông giá lạnh đã giã từ dương thế. Nắng ấm lại lên rồi. Mà sao lòng em vẫn lạnh quá anh à! Tim em giá buốt từng hồi, run lên nghìn cung bậc yêu thương. Ai đâu để mà thương hả anh? Anh đi rồi, em chỉ còn mình em. Riêng em mà thôi.












Biển đã mang anh đi. Chỉ còn riêng em ở lại. Em ngốc quá đúng không anh? Em đã không biết nâng niu những ngày tháng hạnh phúc. Em thật ngốc nghếch! Những khi bên anh, sao em không tạo ra những hạnh phúc cho em và cho anh? Em chỉ khóc lóc, giận hờn, để bây giờ, khi anh đã ra đi, em lại hối tiếc. Em là một đứa ngốc nghếch. Em đã bỏ đi, tự mình em làm mất đi, những hạnh phúc dẫu muộn màng...









Em lạnh lắm, anh biết không? Không phải cái lạnh từ da và xác thịt. Cái lạnh đến từ tim em. Em hốt hoảng, bàng hoàng nhận ra em đã mất anh. Em mất anh khi em đã quên anh quá lâu. Cai stôi của em lớn quá. Giá như, em, chịu vì tình yêu, vì anh mà xuống một lời, thì giờ này, có lẽ em đã không mất anh, ta đã không mất nhau....






Bây giờ chỉ mình anh...
Biển đêm thật đẹp. Anh lang thang vô hồn trên bãi vắng. Hồn anh ngẩn ngơ theo tiếng biển. Anh thèm được nhìn dấu chân mình in trên cát, nhưng....Tất cả đã muộn màng! Anh đã không bao giờ còn có thể in dấu chân lên cát. Anh đi trong hư không.




Em à, anh nhớ em thật nhiều. Anh chỉ muốn được choàng tay ôm lấy em. Nhưng anh đành bất lực. Thân thể anh giờ chỉ là làn gió ngọn sương. Anh bây giờ chỉ còn là hư không trong trời đất. Trông bước em qua mà anh đau xót thật nhiều.





Em đã khóc, quá nhiều rồi đúng không em? Anh cũng đâu hạnh phúc gì. Mỗi lần em nghe biển gào thét, em à, đó cũng là anh đấy. Anh cũng thét gào cùng với biển. Anh thét gào tiếc nuối những hoài niệm đã xa.
Anh thật có lỗi với em, thật nhiều. Anh đã không thể bên em đến cuối đường đời. Anh đã ra đi quá sớm trước khi anh kịp nhận ra rằng cuộc sống vốn vô thường. Anh đã không yêu em hết tim mình. Anh ...







Em đang khóc.....
Em cầm trên tay một xấp thiệp mời. Màu hồng xinh đẹp. Màu hạnh phúc của tình yêu. Em điền tên em, tên chồng em. Rồi em bất giác giật mình. Chỗ tên chồng, em lại viết hai chữ: Hư không! 
Vậy là bấy lâu nay, em chỉ yêu mình hư không. Vì sao vậy? Vì hư không có bóng hình anh! Em tìm anh khi biển đang gào thét. Em đã khóc khi lại nhìn thấy ngoài khơi xa có con tàu đang quằn quại trong trận bão giông, để rồi nó đã mang anh của em đi mãi. Em sợ lắm. Anh ơi. Mỗi khi nhắm mắt, em lại thấy điều đó. EM thấy em lại khóc, đang đứng bên chiếc quan tài, đứng bên ngôi mộ gió. Đứng bên đời, nhìn anh ra đi...








Anh....
Mai là ngày em xuất giá. Chúc em hạnh phúc, tình yêu của anh. Chàng trai ấy sẽ yêu thương em thật nhiều. Anh nghĩ vậy. Vì ông trời không bao giờ bắt người ta phải hai lần đau khổ khi yêu. Anh là nỗi đau của em, của chúng ta, của tình yêu khi hoa đang say trái.





Em đang lạc lõng....
Em đã hất tung bó hoa cưới, chạy ù ra biển khơi. Em khụy, khóc thật nhiều. Nước mắt em chan vào nước biển. Biển mặn tình đời, nước mắt mặn tình ta. Cuộc tình nhiều đau khổ. Em đã phản bội chồng em trước khi em làm vợ anh ấy, vì em , mãi mãi, chỉ yêu mình anh.






Anh rất buồn...
Anh đứng ngay cạnh em khi em làm lễ gia tiên. Anh đã nắm tay em. Cố lôi em về phía anh. Nhưng bàn tay anh không đủ sức để làm điều đo. Biển đã lấy đi hơi sức của anh rồi. 
Em chạy ra biển. Anh cũng chạy cùng em. Anh đã cố để gọi em dừng lại. Nhưng miệng anh chỉ còn ú ớ mấy tiếng rì rào của sóng. Của gió. Của có cây. Anh đành nhìn em gục khóc. Anh cũng chỉ biết khóc. KHóc cho em, và cho anh...









Cô gái và chàng trai cứ như vậy. Mãi đến khi trời đất quên mất họ tên là gì. Nỗi day dứt cho một tình yêu đau khổ. Họ đã khổ đau suốt muôn dặm tình đời.
Hỡi những ai đang yêu. Hãy trân trọng tình yêu mà bạn đang có. Dẫu tình yêu đó thế nào. Chí phèo và Thị Nở cũng là yêu, một tình yêu trên bi kịch. Trương Chi - Mị Nương cũng là yêu. Tình yêu oan trái. Dù thế nào thì đã là tình yêu, tôi tin nó luôn đẹp. 
Hãy trân trong người mình yêu, bạn nhé. Đừng để một ngày, lại ra biển rồi khóc cho cuộc tình đã xa, chỉ còn trong nỗi nhớ...












End.</b>