<div align="center">NÓ</div>
<br>
<br>
<br>
<em>Nhân vật 1’s POV</em><br>
<br>
Cuối năm lớp  10<br>
<br>
- Mày ơi, hình như tao bị ‘”tiếng sét ái tình’’ rồi mày!<br>
<br>
- … -  Chúi mũi vào cuốn sách.<br>
<br>
- Sáng nay lúc gửi xe tao vô tình đụng trúng  nàng. Lúc nàng nhìn tao tự dưng tim tao đập mạnh lắm.<br>
<br>
- … - Vẫn chúi mũi  vào cuốn sách.<br>
<br>
- Nàng thật dễ thương, tóc nàng dài ngang lưng, mắt to  long lanh, môi đỏ hồng, mũi cao thanh tú…<br>
<br>
- …<br>
<br>
- Nói túm lại là tao  có cảm giác nàng chính là một nửa mà bấy lâu nay mình tìm kiếm…<br>
<br>
-  …<br>
<br>
Ấy đấy, cái đứa đang tuôn ra hàng đống lời nói sến chảy nước ấy chính  là tôi - một thằng con trai mười sáu tuổi lần đầu tiên biết thế nào là rung  động. Còn cái đứa từ đầu đến cuối cứ chúi mắt vào sách tuy vẫn nghe không sót  chữ nào, là nó - thằng bạn thân nhất của tôi.<br>
<br>
Lớp 11<br>
<br>
- Mày, mai là  sinh nhật nàng.<br>
<br>
- … - chúi mũi vào cuốn sách.<br>
<br>
- Tao muốn làm nàng  bất ngờ, nhân tiện… tỏ tình luôn! Mày thấy được không?<br>
<br>
- … - Không ngẩng  mặt lên.<br>
<br>
- Mày kết cho tao một bó hoa hồng thật đẹp nha.<br>
<br>
-  …<br>
<br>
Tôi nói xong thì đi vào lớp. Nó im lặng thế tức là nó đồng ý  rồi.<br>
<br>
Thế nhưng hôm sinh nhật nàng tôi run quá không dám bày tỏ. Tôi kệ,  để dịp khác.<br>
<br>
Hai “dịp khác” là 14/2 và 8/3 ung dung trôi qua trước mặt  tôi. Mặc dù nó vẫn kết cho tôi những bó hoa hồng tuyệt đẹp. Vấn đề là ở chỗ, tôi  không có can đảm mở miệng với nàng. Để rồi lại ngồi than vẫn với nó. Nó, như  thường lệ, mở sách ra đọc. Và tôi, như thường lệ, cứ nói vì biết nó sẽ nghe  không thiếu một chữ.<br>
<br>
Còn tại sao tôi biết điều đó à? Đơn giản, vì nó là  đứa bạn thân nhất của tôi mà.<br>
<br>
<em>Flash back</em><br>
<br>
Đầu năm lớp  10<br>
<br>
- Sắp tới 20/11 rồi, lớp mình ai nhận trách nhiệm đi mua hoa cho các  thầy cô đây? – Tôi, với tư cách lớp trưởng, đứng lên hỏi cả lớp. Mọi người lao  xao lên, trừ thằng lớp phó học tập đang dán mắt vào cuốn sách dày cộm mang tên  “Chiến tranh thế giới lần 2”. Một đứa con gái giơ tay có ý kiến:<br>
<br>
- Mình  đề nghị bạn lớp phó học tập sẽ lo vụ hoa cho lớp. Nhà bạn ấy bán hoa  mà.<br>
<br>
Một giọng khác phản bác:<br>
<br>
- Không phải bán hoa mà là mở cửa  hàng hoa. Nói chuyện dễ hiểu lầm quá.<br>
<br>
Tiếng cười rộ lên. Thằng lớp phó  vẫn coi như không có gì. Tôi đập bàn lập lại trật tự rồi hỏi nó:<br>
<br>
- Bạn  làm được không?<br>
<br>
Đến giờ này nó mới chịu ngước mắt lên. Đôi mắt màu nâu  sẫm thật đẹp khiến tôi ngây người mất mấy giây. Rồi nó khẽ gật đầu.<br>
<br>
Sáng  sớm 19/11, tôi vừa đạp xe tới cổng trường đã gặp ngay nó xách cặp đi tới. Tôi  ngoắc nó lại, định hỏi thăm coi hoa cỏ tới đâu rồi. Khi nó đến gần, tôi ngửi  thấy một mùi thơm mát dễ chịu. Hương hoa, chẳng biết là hoa gì. Chỉ thoang  thoảng thôi, nhưng mũi tôi vốn rất tinh mà.<br>
<br>
- Bạn có mùi lạ quá! – Tôi  buột miệng.<br>
<br>
- Mùi gì? – Nó chau mày, nói cụt ngủn.<br>
<br>
- Mùi hoa. Xài  nước hoa hả? Con trai mà điệu thế?<br>
<br>
- Sáng nào mà tôi chẳng đi với ba chở  hoa về bán. Không có mùi hoa chứ có mùi gì? – Nó hơi gắt. Tôi ngượng ngùng vì  mình đã hỏi vô duyên:<br>
<br>
- Ờ, phải ha…<br>
<br>
Đó là lần đầu tiên tôi nói  chuyện với nó. Đến học kỳ 2 tôi với nó đã thành bạn thân. Sáng nào khi tôi đến  rủ đi học, nó cũng đang loay hoay với cả đống hoa mới lấy về. Những cành hồng,  cành lan kiêu sa hay hoa lys rực rỡ được nó khéo léo phân ra rồi bỏ vào những  thùng nước lớn. Và khi đạp xe song song với tôi trên con đường đến trường sau  đó, nó cũng mang theo luôn cái hương hoa phảng phất.<br>
<br>
<em>End flash  back</em><br>
<br>
Năm nay tôi đã là học sinh cuối cấp. Và ngày 14/2 cuối cùng của  đời học sinh này cũng đồng thời là cơ hội cuối cùng để tôi bày tỏ cảm xúc với  nàng. Sáng nay dậy trễ tôi không qua rủ nó được, không biết nó đâu rồi nhỉ? Tôi  phải nhờ nó kết một bó hoa thật đặc biệt.<br>
<br>
- Mày! - Thấy nó đứng một mình  ngoài hành lang, tôi xán lại gần. Phải như bình thường chắc chắn tôi đã nghe mùi  hoa, nhưng hôm nay, cánh mũi phập phồng thông báo với tôi có một mùi khác hấp  dẫn hơn.<br>
<br>
- Sôcôla! Mày thơm mùi sôcôla quá! Bộ có nhỏ nào tặng mày rồi  hả? Đáng ganh tị quá nha, còn hai ngày nữa mới tới Valentine mà. Ai vậy? Lớp  nào? Kể tao nghe đi!<br>
<br>
Tôi tuôn ra một tràng. Nó bình thản buông một chữ  ngắn gọn:<br>
<br>
- Không!<br>
<br>
- Hả?<br>
<br>
- Không có ai tặng gì tao  hết.<br>
<br>
Tôi chộp lấy tay nó và… đưa lên mũi.<br>
<br>
- Xạo đi, tay mày thơm  như bánh sôcôla ấy!<br>
<br>
Và, tin nổi không, nó đỏ mặt. Hì hì, vậy là trúng tim  đen rồi hả. Thế là quên mất mục đích chính của mình, tôi bắt đầu truy hỏi nó.  Cuối cùng nó ấp úng:<br>
<br>
- Tao… tao tập làm bánh sôcôla.<br>
<br>
- Trời! – Tôi  la lên – Chi vậy?<br>
<br>
- Tao… năm nay là năm cuối… nên…<br>
<br>
- Mày… bộ mày  có người rồi hả?<br>
<br>
Im lặng. Mấy giay sau, quả gấc trên cổ nó gật gật. Tôi  sững sờ mất 2 giây, đến giây thứ 3 tôi hồ hởi vỗ vai nó, mặc dù không biết sao  trong lòng có chút khó chịu.<br>
<br>
- Chúc mừng mày, cuối cùng trái tim bằng  băng tuyết của mày cũng chịu nhỏ nước rồi. Tao có thể nhìn thấy đôi cánh của  thần tình yêu đang vỗ cật lực trên đầu mày và…<br>
<br>
- Stop, stop ngay cái đống  văn chương của mày lại. Nói thêm câu nữa tao ói bây giờ - Nó nhìn tôi lom lom.  Tự dưng giọng nó buồn lạ - Mày thật sự không biết người tao thích là ai  à?<br>
<br>
- Mày ngộ ghê – Tôi cười, nhìn nó lạ lẫm – Mày không nói sao tao biết  được?<br>
<br>
- Dù chỉ một chút xíu, mày cũng không nhận ra sao?<br>
<br>
Tôi lắc  đầu cười. Không hiểu thằng này hôm nay bị làm sao thế không biết, nghe giọng nó  khẩn thiết đến mức tôi phải nghi ngờ không lẽ nó có nói mà tôi đã quên rồi hay  sao. Nó vẫn nhìn tôi bằng đôi mắt buồn khó hiểu đó.<br>
<br>
- Hôm nay mày bị sao  vậy? Ốm à? – Tôi đặt tay lên trán nó. Nó sững người mấy giây. Tôi hoảng hồn khi  một giọt nước mắt ứa ra từ ánh nâu buồn. Nó nhanh chóng đưa tay lau đi, cười  toe:<br>
<br>
- Không có gì, tao chọc mày chơi vậy thôi. Dạo này tao hay bị chảy  nước mắt sống, chắc tại thiếu ngủ. Thôi tao đi rửa mặt.<br>
<br>
Tôi chưa hết ngạc  nhiên vì trước giờ nó chưa bao giờ nói một câu dài như vậy thì nó đã bỏ đi mất.  Thiệt tình cái thằng… Hôm nay nó uống lộn thuốc rồi chắc. Nhưng nó như vậy làm  tôi cũng thấy lo. Cho nên tôi đem chuyện đi hỏi nhỏ Thúy. Nhỏ này ngồi cùng bàn  và chơi cũng khá thân với nó. Nếu không phải nhỏ đã có đối tượng là thằng tổ  trưởng tổ 4 thì hẳn tôi đã tưởng hai đứa nó là một cặp rồi. Con nhỏ lặng im nghe  tôi nói rồi phán cho một câu xanh rờn:<br>
<br>
- Mày đúng là đồ đầu  đất!<br>
<br>
Tôi chưng hửng:<br>
<br>
- Sao tự dưng mày mắng tao?<br>
<br>
- Chứ còn  gì nữa, mày chơi với nó từ hồi lớp 10 đến giờ mà không biết gì hết á.<br>
<br>
-  Biết cái gì mới được chứ? – Tôi bắt đầu thiếu kiên nhẫn. Con nhỏ ngó tôi một  cái, đứng dậy lắc đầu:<br>
<br>
- Tự mà suy nghĩ lấy đi.<br>
<br>
Tôi ngớ ra. Nhỏ bỏ  đi. Đến cửa lớp, nhỏ quay đầu lại nói:<br>
<br>
- Mày hạnh phúc lắm mà mày không  biết. Không giữ gìn mai mốt mất đi rồi thì đừng hối hận đó.<br>
<br>
Cho tới khi  bóng nhỏ khuất hẳn, tôi mới rút ra một kết luận: hôm nay cả hai đứa này đều uống  lộn thuốc.<br>
<br>
Chán thật!<br>
<br>
Tác giả’s POV<br>
<br>
- Ba ơi, mai đi lấy hoa  sớm một chút nha! – Nó vừa gói hoa cho khách, vừa quay qua nói với ba nó đang  ngồi ở quầy tính toán gì đó. Không ngừng bấm máy tính, ba nó hỏi:<br>
<br>
- Lại  là cậu bạn đó à?<br>
<br>
- …<br>
<br>
- Lẽ ra phải bắt cậu ta trả them tiền mới  đúng. Lần nào gói hoa cho nó con cũng chọn hoa đẹp nhất.<br>
<br>
- Thì bạn con mà  ba! – Nó cười hì hì, lấy cái nơ kết lên bó hoa, đem ra giao cho khách. Tiếng bấm  máy tính vẫn lách cách vang lên. Mẹ nó đang lúi húi lau lại cái sàn nhà, chợt  ngước lên nhìn nó:<br>
<br>
- Mấy hôm nay bếp nhà mình toàn mùi sôcô la. Mày làm  tặng ai thế hả con?<br>
<br>
Nó giật mình, ấp úng:<br>
<br>
- Dạ, là… mà  không…<br>
<br>
Ba nó cười ha hả:<br>
<br>
- Thôi đừng làm khó con nó nữa. Năm 15  tuổi anh đã tặng hoa hồng cho em đấy thôi.<br>
<br>
Mẹ lườm ba một cái, xách xô và  giẻ lau đi vào trong. Nó gượng cười. Ba nó bảo:<br>
<br>
- Thôi con về học bài đi.  Tốt nhất là đừng lo yêu đương gì trong lúc này, hiểu chưa?<br>
<br>
Nó dạ nhỏ, ra  lấy xe đạp về nhà. Gió chiều vò tung tóc nó. Tim nó rối bời. Nó chẳng biết mình  phải làm gì cho đúng. Giống như cái bánh sôcôla dang dở ở nhà, nó không biết  mình có nên làm tiếp hay không. Nó thở dài. Ai nói tình yêu ngọt ngào chứ nó thì  chỉ thấy toàn vị đắng. Vì người nó thích vô tư đến mức không hề nhận ra dù chỉ  là một mẩu tình cảm của nó cơ mà.<br>
<br>
Bốn giờ sáng, ba nó và nó cùng đi lấy  hoa. Hôm nay hoa đổ về nhiều, hai cha con phải vất vả hơn thường lệ. Về đến cửa  hàng lưng áo nó ướt đẫm mồ hôi. Đem hết hoa vào cửa hàng, nó lựa ra 11 bông hoa  hồng mà theo nó là đẹp nhất, thêm một ít hoa baby và lá măng. Nó đang loay hoay  thì PHỤP! – cúp điện.<br>
<br>
- Chà, phiền quá! - Mẹ nó chặc lưỡi - Cửa hàng còn  bừa bộn như vầy mà…<br>
<br>
- Thôi để đó trời sáng một tí rồi dọn. Mà không chừng  có điện lại liền đó.<br>
<br>
- Vậy em vô ngủ thêm một chút.<br>
<br>
Ba nó thắp cây  đèn cầy, dặn nó trông chừng cửa hàng rồi cũng đi vô trong. Nó ngồi nhìn cây đèn  cầy vẻ chán nản rồi lại nhìn cái đồng hồ treo tường. 5 giờ 15 rồi. Thôi cứ gói  vậy, chẳng phải nó là đứa gói hoa “điêu luyện” hơn cả papa và mama sao. Chờ có  điện thì đến bao giờ, nó sẽ trễ học mất.<br>
<br>
- Ui da!<br>
<br>
- Úi!<br>
<br>
-  Oái!<br>
<br>
Thế đấy, nó cứ liên tục bật ra những tiếng xuýt xoa vì bị gai hoa  hồng đâm trúng. Và nửa tiếng sau khi điện có lại thì tay nó chảy máu nhiều đến  mức nó phải đi kiếm băng cá nhân. Xong bó hoa, tay nó mười ngón quấn băng hết  chín ngón. Nhưng nó vẫn cười hài lòng. Chắc chắn người đó sẽ vui khi nhìn thấy  bó hoa này.<br>
<br>
~~~~~~~~~~~~<br>
<br>
Nhân vật 1’s POV<br>
<br>
- Mày  ơi!<br>
<br>
Tôi thất thểu ôm bó hoa bước đến bên cạnh nó. Nó đang đút tay vào  túi, đứng dựa lưng vào gốc phượng. Lần nào tôi đem hoa tặng nàng, nó cũng đứng  đó chờ tôi cả. Nó có vẻ bất ngờ khi thấy bó hoa trên tay tôi.<br>
<br>
- Ủa? – Nó  nhướng mắt. Tôi quá hiểu nó và dễ dàng đoán được cái nhướng mắt đó có nghĩa là  “Sao mày chưa đem hoa tặng đi?”<br>
<br>
- Nàng… từ chối rồi mày! – Tôi thảy bó  hoa qua một bên, thả mình ngồi xuống gốc cây. Nó cũng ngồi xuống kế bên tôi. Im  lặng. Cuối cùng tôi uể oải lên tiếng – Nàng đã nhận hoa rồi, nhưng lúc tao nói  thích nàng thì nàng xin lỗi và trả lại hoa.<br>
<br>
- …<br>
<br>
- Mấy lần trước  tao tặng nàng vẫn nhận, tao tưởng…<br>
<br>
- …<br>
<br>
- Và – Tôi chợt thấy cổ  mình nghẹn đắng khi nó ngước mắt nhìn tôi - Mấy lần trước nàng nhận, mày biết  tại sao không?<br>
<br>
- …<br>
<br>
- Vì nàng biết đó là hoa nhà mày bán, và do  chính tay mày gói!<br>
<br>
Tôi nổi giận. Mặc dù biết mình vô lý nhưng tôi không  thể kiềm chế được, khi tôi là kẻ đã tặng hoa cho nàng suốt 2 năm, để rồi cuối  cùng người nàng thích lại là thằng bạn thân đã gói hoa cho tôi tặng  nàng.<br>
<br>
- Tao… - Nó có vẻ bối rối. Tự dưng trong đầu tôi vang lên câu hỏi  cùng ánh mắt buồn của nó hôm trước “ Mày không nhận ra gì sao?”<br>
<br>
- À, tao  hiểu rồi – Tôi cười nhạt – Mày thích nàng phải không?<br>
<br>
- Không,  tao…<br>
<br>
- Cho nên hoa thì tao tặng nhưng là của mày. Thảo nào mày không chịu  nhận tiền hoa!<br>
<br>
- Nghe tao nói đã… - Ánh mắt nó đau đớn nhưng tôi không để  ý. Sự tức giận đã xâm chiếm đầu óc tôi.<br>
<br>
- Sôcôla mày làm là cho nàng,  đúng không?<br>
<br>
- Tao…<br>
<br>
- Vậy mà tao cứ tưởng mày là bạn thân nhất của  tao chứ?<br>
<br>
- NÈ MÀY NÓI ĐỦ CHƯA?<br>
<br>
Nghe tiếng quát, tôi lùi lại. Mà  tôi cũng không nhớ mình đã đứng lên từ khi nào. Nhỏ Thúy xuất hiện, mắt tóe lửa  nhìn chòng chọc vào tôi:<br>
<br>
- SAO MÀY CÓ THỂ NÓI NHƯ VẬY?<br>
<br>
- Không  phải tại tao, tại nó đấy chứ! – Tôi nói giọng ấm ức. Nhỏ Thúy như càng bị chọc  điên hơn.<br>
<br>
- SAO LẠI TẠI NÓ? NÓ CÓ LỖI GÌ NẾU HẾT LÒNG VÌ NGƯỜI NÓ  THÍCH?<br>
<br>
- Thôi, Thúy, tao… - Nó có vẻ muốn ngăn nhỏ Thúy lại nhưng nhỏ  trừng mắt:<br>
<br>
- Mày chịu đựng ba năm rồi, còn muốn chịu đựng đến bao giờ hả  thằng ngốc?<br>
<br>
- Vậy ra mày thích nhỏ đó từ hồi lớp 10 cơ à? – Tôi cười  khẩy. Nhỏ Thúy bùng nổ:<br>
<br>
- CÒN MÀY LÀ CÁI THẰNG THIỂU NĂNG NHẤT MÀ TAO  TỪNG GẶP. NẾU NÓ THÍCH CON NHỎ ĐÓ THÌ NÓ ĐIÊN SAO MÀ ĐEM HOA CHO MÀY ĐI TẶNG,  NẾU THÍCH NHỎ ĐÓ THÌ VIỆC GÌ NÓ PHẢI NHIỆT TÌNH GIÚP MÀY ĐỦ CÁCH TIẾP CẬN NGƯỜI  TA?<br>
<br>
- …<br>
<br>
- MÀY NGHĨ RẰNG VÌ AI MÀ LẦN NÀO MÀY MUỐN CÓ HOA ĐEM TẶNG  NÓ ĐỀU THỨC DẬY TỪ BA BỐN GIỜ SÁNG ĐI LẤY HOA, RỒI CHỌN HOA ĐẸP NHẤT CHO  MÀY?<br>
<br>
- Thôi mà Thúy… - Nó khổ sở.<br>
<br>
- Mày để tao nói - Nhỏ lại tiếp  tục chĩa mũi dùi vào tôi – Mày có biết cả tuần nay nó trầy trật làm bánh sôcôla  mặc dù không có can đảm đem tặng không?<br>
<br>
- Thì giờ nhỏ đó nói thích nó  rồi, muốn thì cứ tặng ai cấm đâu!<br>
<br>
- MÀY XEM CÁI NÀY ĐI RỒI NÓI CÂU  ĐÓ!<br>
<br>
Nhỏ Thúy bất chợt quát lên, chụp lấy hai bàn tay nó đang đút trong  túi quần đưa ra trước mặt tôi. Tôi ngỡ ngàng nhìn mấy ngón tay nó quấn đầy băng  cá nhân.<br>
<br>
- TẤT - CẢ - LÀ – VÌ – MÀY - HẾT – ĐÓ! - Nhỏ Thúy nhìn thẳng vào  mắt tôi, gằn từng tiếng một cách giận dữ. Nó nhăn mặt rụt tay lại, cười gượng  gạo:<br>
<br>
- Vì… sáng nay cúp điện, tao bất cẩn bị gai hoa hồng đâm – Nó cúi  xuống nhặt bó hoa lên – Cái này mày không cần nữa thì tao đem về.<br>
<br>
- Sao  lại không cần? - Nhỏ Thúy túm áo nó kéo lại - Tặng nó cho người mày thích đi.  Chẳng phải mày nói mày cố tình chọn mười một bông hoa hồng vì nó có nghĩa “một  đời một kiếp chỉ yêu một người duy nhất” đó sao?<br>
<br>
- …<br>
<br>
- Và cái bánh  sôcôla mày làm không dám đề tên đó thật lòng là dành cho ai?<br>
<br>
-  ….<br>
<br>
- Mày là con trai mà, sao mày không nói với cái thằng đần này rằng mày  thích nó?<br>
<br>
- HẢ? – Tôi thấy mình như hóa đá. Còn nó thì cuối gằm mặt xuống  đất, lí nhí:<br>
<br>
- Xin lỗi.<br>
<br>
- … - Đến lượt tôi im lặng. Sao nó lại xin  lỗi? Nhỏ Thúy nhún vai nhìn nó:<br>
<br>
- Xin lỗi vì đã vi phạm lời hứa giữ bí  mật cho mày, nhưng tao không thích nhìn mày đau khổ mãi như vậy. Giờ hai đứa mày  giải quyết với nhau đi, tao không xen vô nữa.<br>
<br>
Nhỏ Thúy đi rồi mà tôi vẫn  đơ ra. Tôi phải làm gì đây? Rất nhiều tình cảm rối rắm đột ngột dâng lên trong  lòng tôi: kinh ngạc, ngỡ ngàng, hoang mang và đâu đó có cả ngọt dịu.<br>
<br>
-  Xin lỗi! - Nó lặp lại, ánh mắt vừa chạm vào mắt tôi đã vội vã cụp  xuống.<br>
<br>
- Xin lỗi cái gì? - Cuối cùng tôi cũng tìm lại được tiếng nói của  mình - Bộ trước giờ thích ai mày cũng nói xin lỗi à?<br>
<br>
Nó lắc đầu, mặt đỏ  như gấc. Tự nhiên tôi phát hiện ra nó cũng khá dễ thương. Sao trước giờ tôi  không biết là nó cũng đỏ mặt nhỉ? Có lẽ tôi chỉ chú tâm đến nàng và quen coi nó  chỉ như một thằng bạn thân nên không để ý. Nếu nó thích tôi thật thì hẳn nó đã  rất buồn bởi sự thờ ơ của tôi. Bởi ngay cả sáng nay khi nó đưa hoa tôi còn không  thấy tay nó bị thương cơ mà.<br>
<br>
- Tay mày đau lắm không?<br>
<br>
- Ưhm…  Không! - Nó vẫn không ngước lên. Coi cái dáng vẻ lúng túng của nó mà tôi thấy  vui vui. Tôi lấy bó hoa ra khỏi tay nó, rồi cầm tay nó xem xét. Mặt nó lại càng  đỏ hơn.<br>
<br>
- Mày thích tao thiệt hả?<br>
<br>
- …<br>
<br>
- Từ lớp 10?<br>
<br>
-  … - Gật đầu.<br>
<br>
- Vậy sao không nói?<br>
<br>
- Tao sợ mày ghét tao! - Nó ấp  úng - Mày… không ghê tởm hay xa lánh tao chứ?<br>
<br>
Mặt nó căng thẳng đến tội  nghiệp. Ba năm… Kềm chế đến ba năm, nghĩ cũng cực cho nó quá.<br>
<br>
- Tao không  tàn nhẫn đến mức đi ghét một người thích mình - Tôi đằng hắng nói với nó. Mặt nó  tươi lên một chút.<br>
<br>
- Thiệt hả? Cám ơn!<br>
<br>
- Nhưng tao cũng xin lỗi vì  ngay lúc này tao không thể đáp lại tình cảm của mày được.<br>
<br>
- ……….. - Nó  ngây người ra một lúc. Rồi mím môi - Tao biết mày sẽ nói vậy.<br>
<br>
- Xin  lỗi.<br>
<br>
- Không có gì, tao không sao, nếu mày chấp nhận tao còn sợ là mày  đang thương hại tao nữa kìa.<br>
<br>
Nó nói vậy và cười. Nhưng tôi biết trong  lòng nó đang khóc. Tôi cũng bị từ chối hơn nửa tiếng trước, tôi biết cái cảm  giác hụt hẫng đó là như thế nào. Và giống như có một mối giao cảm nào đấy mà tôi  biết nó đau hơn tôi nhiều.<br>
<br>
Không kịp suy nghĩ, tôi kéo nó lại gần và ôm  chặt nó. Nó chẳng phản ứng gì, dụi mặt vào vai tôi.<br>
<br>
Vai nó run  lên.<br>
<br>
Nó khóc.<br>
<br>
Gió chiều lồng lộng. Tôi nghe chính mình đang thì  thầm:<br>
<br>
- Xin lỗi…<br>
<br>
- ………<br>
<br>
- Mày có thể chờ tao không? - Tôi  ghì chặt nó, cảm nhận được nhịp tim dồn dập của nó, và hương hoa trên tóc nó nữa  - Bây giờ không được, nhưng một ngày nào đó…<br>
<br>
- Tao không cần sự thương  hại! - Nó cố gắng đẩy tôi ra, nhưng tôi không để cho nó làm thế.<br>
<br>
- Tao  không thương hại mày, tao nghiêm túc đấy - Tôi lau nước mắt cho nó - Vì tao tôn  trọng mày, nên tao mới cần có thời gian!<br>
<br>
- …<br>
<br>
- …<br>
<br>
Nó lại  khóc. Tôi đã làm nó tổn thương? Tôi muốn ngăn giọt nước mắt của nó lại. Không  biết cái gì đã khiến tôi cúi xuống.<br>
<br>
Nụ hôn đầu của tôi là nụ hôn ướt át  nhất - theo đúng nghĩa đen - mà tôi có thể tưởng tượng ra!<br>
<br>
Gió chiều vẫn  lồng lộng thổi.<br>
<br>
7h57’<br>
04/05/2008<br>
<br>
<br>
<br>