<div align="center"><span style="font-family: Time New Roman;"><span style="font-size: 15pt; line-height: 1.3em;">Mưa bên thềm  vắng</span></span></div>
<br>
<br>
<br>
Mưa.<br>
Nó chạy vội vào một mái  hiên.<br>
Mưa…<br>
<br>
<br>
<br>
<br>
<div style="text-align: right;"><span style="color: purple;"><em>Trời hôm nay mưa  nhiều hay rất nắng?</em></span></div>
<br>
<br>
<br>
<br>
Lạnh… Nó khoanh chặt tay,  ngước nhìn khoảng trời xám xịt, trời à? hay lòng nó?<br>
<br>
<br>
Ánh đèn mờ ảo  giữa cơn mưa, tạo nên thứ ánh sáng vàng vọt, nhạt nhòa như ánh nắng của một quá  khứ mông lung diệu vợi.<br>
<br>
<br>
<br>
<div style="text-align: right;"><span style="color: gray;">Một ngày mưa không  anh.<br>
Một mùa mưa không  anh.</span></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<em>“Nhóc, đứng qua bên này  nè!”<br>
<br>
“Nhóc gì chứ, người ta có chứng minh nhân dân rồi à!”<br>
<br>
“Mới có  hôm qua chứ đâu, anh đây có ba năm rồi nhé!”<br>
<br>
“Kệ người ta!”<br>
<br>
“Kệ gì  chứ, còn bướng nữa, sang đây nhanh, ướt hết bây giờ!”</em><br>
<br>
<br>
Nó còn nhớ  anh đã kéo nó một cách thô bạo như thế nào về bên trái, anh chả bao giờ dịu dàng  với nó cả, nhưng anh đứng che cho nó, anh cao to hơn nó, nó không bị ướt, anh  có. Những giọt mưa đi lạc bắn cả vào người…<br>
<br>
<br>
<em>“Lạnh không  nhóc?”<br>
<br>
“Không.”<br>
<br>
“Tiếc quá, tưởng lạnh anh ôm cho  ấm.”<br>
<br>
“Pervert!”<br>
<br>
“Thôi cái thói nói tiếng anh đó đi nhá, đây chuyên  Toán!”<br>
<br>
“Tựu trường em sẽ là chuyên Anh.”<br>
<br>
“Kệ nhóc chứ, anh ra  trường mất tiêu rồi.”<br>
<br>
“Ờ.”</em><br>
<br>
<br>
Giọng nó lúc đó thoáng vẻ buồn  buồn, anh có để ý không nhỉ? Hay bị mưa át mất rồi? Bầu trời xám xịt... Con  đường ướt mưa... Hai kẻ ướt mưa…<br>
<br>
<br>
Mưa rất ấm, thật đấy! Nó chưa bao  giờ thấy mưa lạnh cả. Nếu ở nhà, anh sẽ ôm nó. Nếu ở ngoài, anh sẽ che cho nó.  Mưa rất ấm, ấm như hơi ấm của anh…<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
Miền  Nam hai mùa mưa nắng. Một ngày nào đó trong quá khứ, lõm bõm nước mưa, nó gặp  anh, ướt mem dưới mái hiên. Điệu bộ anh làm nó thấy tức cười, quên mất mình cũng  là một con mèo bị ướt.<br>
<br>
<br>
<em>“Cười gì?”<br>
<br>
“Kệ tôi.”<br>
<br>
“Vô  duyên.”<br>
<br>
“Chả biết ai à nha.”</em><br>
<br>
<br>
Lần đầu gặp đã cãi vả um sùm,  chả đời nào nó nghĩ anh lại chiếm vị trí cao thế trong lòng nó. Hôm sau của hôm  nay, nó bị mắc mưa, anh cũng thế. Hôm sau của hôm nay nữa, nó lại bị mắc mưa,  anh cũng thế. Rồi hôm sau nữa của hôm nay  nữa…<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
Thời gian như một người thợ cần mẫn, cứ mãi  miết làm công việc di chuyển của mình một cách đều đặn, chẳng bận tâm đến những  kẻ đang cố van nài nó đi chậm lại. Mùa mưa qua đi. Mùa nắng đến. Mùa nắng qua  đi. Mùa mưa lại đến. Cuối mùa mưa đó, nó vào lớp mười trường anh, anh vào năm  nhất một trường đại học.<br>
<br>
<br>
<br>
<br>
<br>
Mùa mưa qua đi. Mùa nắng đến.  Rồi mùa nắng lại qua đi…<br>
<br>
<br>
<br>
<br>
Mùa mưa... Một  mình...<br>
<br>
<br>
<br>
<br>
Thì ra mưa lạnh đến thế, lần đầu nó mới biết. À  không, có lẽ nó đã biết lâu rồi, nhưng quên. Đúng, anh làm cho nó quên, rồi cũng  anh làm cho nó nhớ.<br>
<br>
<br>
Gió quất vào người ... mưa bắn vào người ... co  ro ... một mình ... lạnh buốt ... Anh có thấy lạnh không, những lần đứng che cho  nó?<br>
<br>
<br>
<br>
<br>
<br>
<br>
Mưa ... Chợt nhớ lần đầu nó đến nhà anh, căn  phòng bừa bộn với sách là sách. Đàn ông mà! Nó không trách anh được, vì nó cũng  thế. Những căn phòng bừa bộn của những gã độc thân. Anh không cho mẹ dọn dẹp  phòng mình, nó cũng thế. Cứ mỗi lần mẹ vào dọn là y như rằng sau đó, nó lại phải  lục tung cái mớ gọn gàng ấy lên để tìm thứ này hay thứ nọ, và kết quả là căn  phòng chưa bao giờ được ngăn nắp quá nửa ngày!<br>
<br>
<br>
Phòng anh chỉ có một  cái ghế, nhưng đó cũng là nơi an giấc của một chồng sách toán. Nó ngồi xuống  giường, anh ngượng ngập gom mấy quyển sách thảy lên bàn, rồi ngồi xuống cạnh nó  ... Anh hôn nó, cái hôn ngọt như mưa … Anh ôm nó, cái ôm ấm như mưa ... Anh và  nó là một, như những cơn mưa…<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
Anh  đi … Vậy thôi … Đơn giản chỉ là một câu tạm biệt … Ngày mưa đầu tiên trong năm …  anh về … mang theo một lời chia tay … Rồi đi …<br>
<br>
<br>
<br>
Mùa mưa lại bắt  đầu...<br>
<br>
<br>
<div style="text-align: right;"><span style="color: gray;">Mùa mưa một  mình.<br>
Ngày mưa một mình.</span></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
Hình như giờ  nó có thói quen đứng dưới mái hiên trong những ngày mưa, lặng lẽ nhìn ra khoảng  không xám xịt, ướt mem, trắng xoá cơn mưa, mờ căm ánh đèn vàng vọt, nhạt nhoà  …<br>
<br>
<br>
<br>
Và cứ thế đứng đó... <br>
Một mình...<br>
<br>
<br>
<br>
<br>
<br>
<div style="text-align: right;"><em><span style="color: purple;">Mưa tôi chả về  bong bóng vỡ đầy tay…</span></em></div>
<br>
<br>
<br>
<br>
<div style="text-align: right;">~End~</div>
<br>
<br><span style="font-size: 15pt; line-height: 1.3em;">Mưa bên thềm  vắng</span>Mưa bên thềm  vắng<em>Trời hôm nay mưa  nhiều hay rất nắng?</em>Một ngày mưa không  anh.<br>
Một mùa mưa không  anh.Mùa mưa một  mình.<br>
Ngày mưa một mình.Mưa tôi chả về  bong bóng vỡ đầy tay…