<br>
Ta nghe tiếng gió xé.<br>
Từng cành cong đâm  lên, xẻ ngang những luồng gió chướng.<br>
Các tán lá lớn bị tọac ra, xác xơ. Mảnh  lá nhỏ hơn bị xé tóet, run lẩy bẩy, rời khỏi nhánh, vất vưởng. Rơi. Chạm vào  thảm mục vàng nâu. Nảy nhẹ. <br>
Vì bé quá, nó lại bị gió cuốn đi…<br>
<br>
<br>
Ta  nghe tiếng đất rền.<br>
Những bộ rễ dài của cổ thụ chui len vào đất. Đục ruỗng  từng phần.<br>
Máu của đất bị hút lên, cạn kiệt, tan hoang. Mưa nhuần thấm xuống.  Ào cơn gió. Lá rụng về cội. Thảm đất thành cỏ mục vàng nâu. <br>
Máu của đất lại  trở về… <br>
<br>
<br>
Ta đưa những đứa con của mình, từng đứa một, vào bãi cát  vàng…<br>
Chúng rời ra, tan thành bọt, chết đi… Không một khắc lặng. Ta trông  thấy chúng tan ngày này qua ngày khác, tháng này qua tháng khác, đời này sang  đời khác.<br>
Chớp mắt này sang chớp mắt khác.<br>
<br>
<br>
Ta cảm thấy từng nỗi  buồn đau đều đổ về đây, chồng chất, mãi chồng chất. Bao chủ nhân của chúng không  biết rằng, nỗi buồn đau không như những đứa con ta dễ tan vào cát. Nó cứ tồn tại  đó, nhân lên mãi… cho đến khi ta nuốt cái khối đó vào bụng, để khối khác có chỗ  mọc lên.<br>
<br>
<br>
Ta thường vươn thẳng người, giang rộng đôi tay, đón lấy màn  nhung đen thẳm dội xuống từ trên cao. Từng mảnh đêm nhẹ rơi vào mắt ta, vào môi  ta. Rơi qua kẽ răng. Trôi trong cổ họng. Tìm thấy, ép chặt vào tim.  <br>
<br>
<br>
Mảnh đêm chẳng là gì xa lạ, ta với bầu trời cách có mấy chi  đâu…<br>
<br>
<br>
Khi ta bước chân trần trên cát, từng lọn cát chảy qua kẽ ngón  chân, chảy vào trong lòng bàn chân. Chảy qua từng huyết mạch. Chảy đến tim, bám  dính vào đó.<br>
<br>
<br>
Lọn cát chẳng là gì xa lạ, ta với bãi vàng cách có mấy  chi đâu…<br>
<br>
<br>
Ta chẳng có cảm xúc gì, thế mà mỗi khi ta bước trên cát, hay  trên thảm mục vàng nâu, thường có những ngọn gió nhẹ trôi qua mặt. Mỗi lần trôi,  chúng lấy của ta một giọt nước mắt. <br>
<br>
<br>
Ta chẳng tiếc gì những giọt  nước mắt. Mặc dù số nước mắt bị lấy đi nhiều hơn số giây của đời người. Nhiều  hơn số giây của vạn vạn đời người.<br>
<br>
<br>
Nhưng có hôm, khi ta nhẹ ngồi trên  cát, một cơn gió lớn thốc qua. Chỉ một chốc, nghìn tỉ giọt nước mắt rời khỏi  thân ta. Lơ lửng ngợp bầu trời. Không gian chẳng còn chỗ trống nào nữa. Nước mắt  long lanh, tỏa đi khắp mọi hướng.<br>
<br>
<br>
Chỉ có hôm đó là  lạ.<br>
<br>
<br>
Cũng vì thế, hôm đó ta sinh con ít hơn thường lệ.<br>
<br>
<br>
Rất  nhiều lần ta gặp con người. Chúng hay đến đây, mỗi đứa mang vẻ mặt khác nhau,  tâm trạng khác nhau. Chúng nhìn xuyên qua ta, nhìn mãi tận đâu đâu, mặc dù ta  đứng gần chúng tới mức có thể ép cái thân thể phẳng lì này vào thân thể  chúng.<br>
<br>
<br>
Cứ vài cuộc đời là có một điều kì lạ. Có một đứa trẻ nhìn thấy  ta. Tóc nó dài phủ vai, người nó đã nở nang, nhưng nó vẫn chỉ là một đứa trẻ.  Đột nhiên nó khóc cho ta. Nước mắt của nó rớt xuống mặt ta, trôi vào mắt ta. Nó  cho ta ba giọt nước mắt. Nó chạm vào một đứa con đang tan ra của  ta.<br>
<br>
<br>
Hôm ấy ta quyết định mở miệng.<br>
<br>
<br>
Âm thanh trôi từ cổ  họng ta, nghèn nghẹn đùng đục. Thứ âm thanh hỗn tạp quái dị. Ta lấy âm thanh này  từ gió, từ núi, từ cây phủ đỉnh đồi phía xa kia. Ta mượn âm thanh này từ hư vô,  từ bóng đêm, từ "ﻫﻫ ﻫﻫ ﻫﻫ".<br>
<br>
<br>
Phải rồi, ta đã kể cho nó nghe chuyện về  "ﻫﻫ ﻫﻫ ﻫﻫ"<br>
<br>
<br>
<br>
<br>
<em>"ﻫﻫ ﻫﻫ ﻫﻫ" bay trong vũ trụ. Vũ trụ sáng trắng,  lóa lên những cụm bàng bạc, mơn man như mây. Những hành tinh xạm màu, đen thui,  vận hành trong cái quỹ đạo bé nhỏ của nó, hơi mất hướng một chút khi "ﻫﻫ ﻫﻫ ﻫﻫ"  bay ngang qua...   "ﻫﻫ ﻫﻫ ﻫﻫ" dài thon thon, dài gấp nhiều lần một hành tinh,  vảy sáng màu bạc, lưng nhú mấy cái vây có màng mỏng như lụa…. "ﻫﻫ ﻫﻫ ﻫﻫ" cắp  trong chân rồng một luồng sáng trong đó đựng trái đất, và mang trái đất trôi mãi  trong vũ trụ sáng trắng… <br>
<br>
Một hôm "ﻫﻫ ﻫﻫ ﻫﻫ" đột nhiên muốn biết cái gì  đang vận hành trong quả đất mình cắp mang theo. Nó móc một con mắt mình đặt vào  quả đất, để mải mê ngắm nhìn. Chỉ còn một con mắt, nó bay lạc hướng. Quả đất  trong luồng sáng từ cái chân rồng của nó tuột ra, mất hút trong vũ trụ sáng  trắng. <br>
<br>
Mang theo cả con mắt "ﻫﻫ ﻫﻫ ﻫﻫ" trong  đó…</em><br>
<br>
<br>
<br>
<br>
Câu chuyện đó diễn ra bên ngoài, rất xa, rất xa, nơi  tầm mắt người không với tới, nơi bàn chân người không chạm  được...<br>
<br>
<br>
Đứa bé đó có hiểu gì hay không, chẳng phải là chuyện ta nghĩ  đến...<br>
<br>
<br>
<br>
<br>
<br>
<div style="text-align: right;"><em>Nắng ấm ngọt nhảy nhót<br>
Chiều rơi trên đồi  hoang<br>
Nhặt mảnh trăng cho vào lọ cổ<br>
Đêm nặng  tàn...</em></div>
<br>
<br>
<br>
Ta chỉ có một khát khao duy nhất…<br>
Là có kẻ nào  đó, một hôm có thể há miệng và nuốt trọn ta. Như ta vẫn mãi nuốt những buồn  đau.<br>
<br>
Nuốt một cái, là mất.<br>
<br>
-----<br>
<br>
<br>
<br>
<br>