<div align="center"><strong><span style="color: brown;">Mộng đêm không  trăng</span></strong></div>
<br>
<br>
<br>
<div align="center">---o0o---<br>
<br>
<br>
<br>
<strong>I</strong>
</div>
<br>
<br>
<span style="color: navy;"><em>Đêm không trăng…<br>
<br>
Đêm nay là đêm không  trăng…<br>
<br>
Ta sẽ say và sẽ không bao giờ tỉnh lại…</em></span><br>
<br>
<br>
Để  kết thúc câu chuyện dài nhất trong đời mình, Tsuki hát một đoạn, rồi bật ra cười  rũ rượi. Âm thanh chua chát pha lẫn chút phảng phất sự tàn nhẫn của quỷ dữ vang  vọng khắp căn lầu “Vọng Nguyệt”. Tôi thậm chí còn nghe thấy sự khinh bỉ đến cùng  cực trong đó. Cậu ngả người ra chiếc ghề dài sang trọng, mái tóc dài đen thăm  thẳm tràn theo những nếp vải của chiếc nệm gấm thêu hoa, thả những sợi tóc chồng  chéo lên nhau để ùa xuống nằm xô bồ trên nền đất lạnh lẽo. Cậu đang nhìn ra  ngoài khung trời đầy sao lấp lánh trong màn đêm đen đặc.<br>
<br>
Sao cuộc đời cậu  lại có vẻ tăm tối đến thế? Trong suốt một khoảng thời gian dài, Tsuki đã chẳng  thèm có bất kì một giấc mơ nào trong những đêm ba mươi, đêm không trăng. Cậu ta  đã làm gì àh? Không có gì hết, bạn tôi ơi, chỉ là uống rượu, một cách kiên nhẫn,  nhìn vào bầu trời thẫm màu và chờ cho đến khi nó sáng.<br>
<br>
Lí do cũng cực kì  đơn giản, chỉ có một đêm không trăng, cậu đã có một giấc mơ đẹp nhất đời mình,  và cậu không bao giờ muốn quên nó.<br>
<br>
Không bao giờ.<br>
<br>
<br>
<br>
Tsuki  đẹp lắm, ít ra là với tôi. Ngay từ lúc gặp cậu bên một con suối nhỏ ngoại ô  thành phố, tôi đã thấy cậu đẹp rồi. Đôi mắt to tròn nằm cân đối trên khuôn mặt  bầu bĩnh cùng với đôi môi đỏ hồng. Cậu mới vừa được cắt tóc, một thiếu niên Nhật  nhỏ tuổi, với phần tóc mái và phần đuôi chấm vai được cắt ngang. Cậu làm cho tôi  ngỡ ngàng với vẻ ngoài xinh xắn của mình. Mẹ cậu bước đến, cài lên mái tóc đứa  con trai duy nhất một đóa hoa mẫu đơn làm bằng vải màu hồng nhạt, điểm nhấn cuối  cùng cho bộ kimono bằng lụa trắng mà Tsuki đang mặc trên người. Xong việc, bà  nhìn cậu xúng xính trong bộ đồ hiếm hoi đắt tiền và trào nước mắt. Cặp vai gầy  run lên bần bật.<br>
<br>
Bà đang khóc vì chuyện gì? Lúc đó, nó vẫn là một câu hỏi  lớn trong đầu cậu và tôi. Tôi chỉ biết rằng trông bà rất thảm hại, ốm o trong bộ  quần áo đã cũ sờn rách nát bẩn thỉu, mái tóc rối bù được búi một cách luộm  thuộm. Tôi cứ tưởng rằng chỉ có mình bà ta như thế, nhưng sau này tôi mới được  biết là từ trong cái ngôi làng Nhật kiều hẻo lánh mà Tsuki xuất thân, ai ai cũng  như thế, nghèo hèn và nhỏ bé, khi phải làm việc quần quật từ sáng đến tối mà vẫn  không đủ đồ ăn cho gia đình. Cậu đến từ một gia đình có hơn mười anh em và được  chọn để giảm bớt chi phí nuôi nấng.<br>
<br>
Ngày cậu đi, cả làng ùa ra như sắp  sửa có một sự kiện trọng đại. Họ chen nhau đứng chung quanh chiếc xe ngựa lạ lẫm  có nhiệm vụ đến đón và đưa một thằng nhóc bảy tuổi, nhìn bằng những cặp mắt hau  háu, chạm vào và bàn tán một cách say sưa về bất cứ chi tiết nào nằm trong tầm  với. Đó là một vật thể hay chạy trên những con đường rộng rãi, rợp tán tre trúc  hay nhuộm vàng bằng những cái lồng đèn treo lộng lẫy trên đường phố giàu có của  những người Trung Hoa; hay nói cách khác, là thứ mà những người trong làng trước  giờ vốn dĩ chỉ có thể lờ đờ ngắm nhìn từ xa, một cách lén lút mà không dám ước  mơ nổi lấy một ngày được thong dong trên nó. Thế là khi cậu vén vạt áo của mình  và được người lơ xe đỡ lên chỗ ngồi, họ bỗng nhìn cậu với một cặp mắt vừa mang  một nửa sự ngưỡng mộ, nửa kia lại mang sự khao khát thèm thuồng. Tiếng reo hò  chúc tụng có hơi nhuốm mùi giả dối bỗng chốc vang lên, mải miết cho đến khi cỗ  xe đã lăn bánh.<br>
<br>
Khi ấy, cái khái niệm mơ hồ nhất mà tôi và cậu có thể có  được từ bà mẹ khổ sở kia là cậu đã được một gia đình người Hoa giàu có nhận làm  con nuôi. “Họ sẽ chăm sóc cho con, Tsuki ạ. Nếu con ngoan ngoãn, họ sẽ yêu  thương con như mẹ vậy”. Tại sao lại phải ngoan ngoãn, trước đây cậu dù cho có  hiếu động và ngỗ nghịch, mẹ vẫn nhất mực yêu thương cậu đấy thôi. Tại sao trong  gia đình, cậu lại là người đi chứ không phải là ai khác? Sao không phải là anh  hai hay chăm chỉ làm việc với nước da đen sậm khỏe mạnh, hay là chị tư luôn luôn  biết nghe lời và hiền lành? Đặc ân này chỉ giành cho cậu, một đứa trẻ bảy tuổi  hiếu động và hay phá phách?<br>
<br>
Tôi ngồi đó, mặt đối mặt, nhìn cậu chìm trong  suy nghĩ và thi thoảng hướng tầm mắt về phía khu làng nghèo khổ quê mình đang  chìm dần sau những dãy đồi núi nhấp nhô. Cặp lông mày khẽ cau lại rồi lại dãn ra  như cơn gió thoảng qua cánh đồng cỏ, nhẹ nhàng và bay mất. Cỗ xe ngựa lộc cộc  chạy qua một rừng tre, màu xanh tươi mát ngập đầy trong mắt. Khung cảnh đẹp đẽ  như này chưa bao giờ cậu được thấy, Những ống tre có thân còn to hơn cả bắp tay  của người lớn vươn thẳng lên cao, tựa hồ như chỉ một chút nữa thôi, nó sẽ đâm  thủng cả vầng mặt trời kia đang rực nắng kia. Những câu hỏi và mẫu thuẫn bất  chợt xuất hiện trong đầu cậu và biến mất trong những cánh rừng tre. Tôi nhớ rất  rõ rằng, xe ngựa sau đó còn đưa cậu đi qua nhiều khu phố chợ đang buôn bán sầm  uất và rất nhiều cảnh đẹp khác, nhưng không hiểu sao sau này, trong những lời kể  của Tsuki, cậu tuyệt nhiên không hề nhắc đến nó mà chỉ lần theo màu xanh ngăn  ngắt đã in sâu tâm trí.<br>
<br>
<br>
<br>
<div align="center"><strong>II</strong></div>
<br>
<br>
<br>
Người đầu tiên mà Tsuki gặp ở ngôi  nhà mới là một bà lão đã già nua và trông có vẻ rất yếu ớt. Bà nhìn từ đầu đến  chân cậu, rồi khẽ lắc đầu. “Ông chủ vẫn chưa về” – bà quay người chống gậy bước  đi rất nhanh khiến cho cậu rất ngạc nhiên – “Cứ để nó chơi trong vườn”. Bà còn  lẩm bẩm điều gì đó, nhưng cả cậu lẫn tôi đều không thể nghe được.<br>
<br>
Bất  chợt, Tsuki cảm thấy có ai đó đang theo dõi mình từ trên cao. Khi cậu ngẩng đầu  lên cái tầng gỗ, quả đúng là có người, một cô gái rất đẹp, tôi đoán thế, dáng  người dong dỏng cao và bộ áo lụa đắt tiền màu xanh lục. Chỗ đó hơi lóa nắng, nên  cậu phải dụi mắt để có thể tiếp tục nhìn, nhưng rồi người ấy đã biến mất không  một dấu tích, nhẹ nhàng như một bóng ma. Phải ngẩn ngơ một lúc, Tsuki mới có thể  lia mắt đi chỗ khác.<br>
<br>
Sau cỡ chừng mười phút làm quen với những khung cảnh  lạ lẫm, cậu đã nhanh chóng chạy ra khu vườn đầy hoa lá và các thứ chim muông.  Đôi mắt mở to đầy háo hức. Anh lơ xe vừa quay lại đã phải hốt hoảng chạy theo để  trông cậu.<br>
<br>
_ Thứ này là gì vậy anh? Và cả hoa kia nữa, nó tên là  gì?<br>
<br>
_ Đó là hoa ớt và hoa chuông xanh.<br>
<br>
_ Ồ, con bướm đẹp quá. Chờ  ta với. Ta sẽ bắt được nhà ngươi.<br>
<br>
_ Đừng chạy, cái thằng bé này. Dừng  lại.<br>
<br>
Quên mất mình đang mặc bộ kimino, Tsuki tung người chạy theo con  bướm nhiều màu sắc, hồn nhiên như lúc còn ở làng. Có một lúc cậu đã không đuổi  theo kịp, và con bướm đã đậu lên hàng bụi cây thấp cao ngang đầu cậu, nhấp nhô  hai cánh mình chờ đợi. Hình như nó đã rất khôn ngoan khi làm thế, vì khi cậu  chạy đến, cậu đã vấp phải một hòn đá và ngã rạp lên bụi cây, trong lúc đó nó thì  điềm nhiên bay đi.<br>
<br>
Nhưng cậu không còn đuổi theo nó nữa. Đằng sau những  bụi cây rậm rạp, Tsuki đã phát hiện một khung cảnh rất đẹp. Một cái hồ rộng lớn  dường như chạm đến cả đường chân trời, với một căn lầu với vòm mái cong cong  được khéo léo xây ở giữa mặt hồ. Trên bờ trồng những cây liễu rũ dài xuống những  cành xanh, phơ phất uốn lượn nhịp nhàng trong những ngọn gió.<br>
<br>
_ Đó… Đó là  cái gì vậy? – Cậu quay lại hỏi người nãy giờ muốn hụt hơi chạy theo  mình.<br>
<br>
_ Àh. Đó là lầu Vọng Nguyệt, một trong những nơi trước đây bà chủ  hay ra ngắm cảnh. Một thời xa xưa.<br>
<br>
Ngắt đứt câu chuyện là một chuỗi âm  thanh ồn ã từ xa vọng lại khiến cho anh chàng lơ xe trở nên hốt hoảng, nhanh  chóng kéo tay cậu đi. Căn lầu bỗng chốc xa dần, xa dần, rồi cuối cùng khuất luôn  sau những bụi cây rậm rạp.<br>
<br>
_ Nghe cho kĩ đây nhóc. Trước mặt ông chủ phải  quỳ và cúi đầu xuống, không được ngước lên khi chưa có sự cho phép, rõ chưa? Và  cả không được nói gì trừ phi ông chủ hỏi.<br>
<br>
Nói xong, anh ta nhanh chóng và  mau lẹ kéo cậu vào trong sảnh nhà chính. Cậu đứng nhìn căn phòng tối ám bằng một  thứ hương thơm lạ lẫm bằng cặp mắt đầy tò mò, trong khi anh lơ xe vừa nghiến  răng nhắc cậu quỳ xuống vừa đá nhẹ chân cậu. Cúi mặt một cách ngoan ngoãn trong  khi đầu vẫn còn ngập tràn dấu chấm hỏi, cậu chăm chú lắng nghe cuộc nói chuyện  được bắt đầu bằng người mà anh chàng kia cung kính gọi là “ông chủ”.<br>
<br>
_  Thưa ông, nó đây, đúng như lời ông đã dặn ạh.<br>
<br>
_ Làm việc rất tốt. Nhà  ngươi có thể lui.<br>
<br>
Tsuki len lén ngẩng đầu lên để có thể liếc nhìn ông  chủ, nhưng với vóc người thấp bé của cậu thì dù cho có cố gắng lắm thì cũng chỉ  có thể nhìn thấy được một nửa người của người đối diện. Đó có vẻ là một người  đàn ông trung niên với thân hình có phần hơi đẫy đà, bàn tay múp míp cầm một cái  ống điếu dài bằng bạc sáng ánh bạch kim cùng với những đường vân nét được chạm  trổ tinh xảo nổi bật trên thân áo đen. Chỉ vừa kịp nhìn thấy nụ cười của ông  chủ, cậu đã bị phát hiện:<br>
<br>
_ Có muốn nhìn thì nhìn hẳn đi, đừng cúi đầu  xuống nữa.<br>
<br>
_ Nhưng, anh kia bảo…<br>
<br>
_ Tên ấy luôn làm những trò như  thế kể từ khi bị ta phát hiện hắn lén lút qua lại với vợ ta. – Ông chủ bật cười,  nói bằng một giọng Nhật lơ lớ – Không sao, cứ việc ngẩng đầu lên.<br>
<br>
Tsuki  từ từ ngẩng mặt lên. Nét mặt ông chủ thoáng lên vẻ ngạc nhiên, rồi với nụ cười  hài lòng, ông lên tiếng gọi: “Xiang!”. Bức rèm che sau lưng ông rung rinh nhẹ,  rồi người đẹp áo xanh ban nãy đứng trên tầng lầu cao trước cửa bước ra. Tsuki  ngẩn ngơ nhìn không chớp được mắt. Cô ta đẹp như một ánh trăng rằm, nước da  trắng trên màu áo xanh nền nã làm cho cả cậu và tôi bất chợt liên tưởng đến một  đêm trăng rằm ở khu rừng tre trên đường đến đây. Nhướng khẽ đôi lông mày lá  liễu, cô vừa trông xuống đứa bé trai đang quỳ trước mặt mình, vừa lắng nghe  những điều mà ông chủ thì thầm vào tai mình. Chốc lát sau, khi đầu Xiang đã  ngẩng lên và gật nhẹ tỏ vẻ hiểu ý, ông chủ mới nói với Tsuki:<br>
<br>
_ Ta tên  Qieng, con muốn được gọi là gì?<br>
<br>
_ Tsu… Tsuki ạh.<br>
<br>
_ Rất tốt – Ông  chủ Qieng rít một hơi dài từ cái ống điếu dài bằng bạc sáng – Tsuki, từ này anh  Xiang sẽ dạy cho con mọi thứ mà con cần phải học. Con nên nhớ phải chăm chỉ đấy  nhé.<br>
<br>
“Anh? Anh Xiang àh?” – Trong đầu cả tôi và cậu đều bừng lên một câu  hỏi giống nhau. Không phải là “cô”, là “chị” mà là “anh”. Cậu cứ nhìn chăm chăm  mãi vào dáng người đang dẫn mình đi ra khu vườn. Cao và gầy.<br>
<br>
_ Đừng thắc  mắc gì cả - một giọng trầm đục vang lên – Sau này, cậu sẽ hiểu.<br>
<br>
Xiang  quay lại nhìn cậu. Đêm đổ xuống đầy hai vai áo xanh của anh. Bầu trời đen thẫm  lấp lánh ngàn ánh sao. Ánh mắt của anh ta cũng sáng như sao, nhưng bỗng nhiên  tôi thấy rùng mình, vì ánh mắt đó dành cho cậu sắc như một con dao  cạo.<br>
<br>
<br>
<div align="center"><strong>III</strong></div>
<br>
<br>
<br>
Tsuki khá thông minh nên nhanh  chóng quen được với việc thay đổi ngôn ngữ. Tuy nhiên cậu vẫn sợ và tệ nhất là  môn đọc-viết. Xiang là một người thầy rất nghiêm khắc. Anh có một cây roi làm  bằng dây mây, rất ngắn và hơi dày, khi đánh thế nào anh cũng rất thẳng tay và để  lại một lẳn đỏ nổi rõ trong suốt nhiều ngày sau đó.<br>
<br>
_ Tôi đã nói thế nào,  chữ “Xuân” và chữ “Nguyệt” được viết như thế này, thế này – Anh cầm tay cậu, bấm  mạnh những ngón tay nhỏ bé lên đầu cây bút lông đang run rẩy – Vạch cho thẳng và  dứt khoát vào. Em nên biết rằng bằng tuổi em, tôi đã học gấp mười lần  em.<br>
<br>
Xiang thô bạo buông tay Tsuki ra. “Chép lại mười lăm lần cho tôi” –  anh nói, và bỏ đi, để mình cậu ở lại xoay xở khó khăn. Lời nói ra thì nghiêm  khắc thế, nhưng thật sự thì anh rất thương cậu. Những đêm cậu ngủ gục bên cây  viết lông và trang giấy đang chép dở với phần mực chưa khô đã dây đầy ra tay,  anh đều nhẹ nhàng dùng giấy ướt lau cho đến khi tay cậu đã trắng như bình  thường. Xiang còn đắp lên người cậu một chiếc áo lông ấm áp rồi mới bỏ đi. Những  chuyện đó thì cậu không thể thấy được, nhưng tôi thì thấy hết.<br>
<br>
Những cố  gắng của Tsuki cuối cùng thì cũng đã được bù đắp. Vừa viết nhanh và đẹp, đồng  thời cậu cũng tiến bộ rất nhanh trong việc học những quy tắc và nề nếp trong  nhà. Điều này làm Xiang rất hài long, anh cho phép cậu vào phòng của anh chơi  bất kì lúc nào mà cậu muốn.<br>
<br>
Tôi hay ngắm nhìn Tsuki trong lúc chơi đùa  bên hồ nước lớn trong vườn, hoặc là lúc cậu chải tóc và được Xiang dạy cho cách  trang điểm. Lúc ấy Xiang khỏang mười bảy, mười tám tuổi, khá dễ thương và điển  trai. Chập tối, anh ta có nhiệm vụ dọn khay cơm cho ông chủ, và trong những lần  có cậu lẽo đẽo theo sau, tôi thường hay chú ý đến một bông hoa mẫu đơn làm bằng  vải đỏ. Khi nó xuất hiện trong khay cơm, nghĩa là đêm đó anh ta sẽ dặm phấn  khuôn mặt mình thật đậm, bặm môi mình vào tờ giấy son màu đỏ, xõa mái tóc dài ra  và chải bằng dầu hoa cho đến khi những sợi tóc đã đen nhánh và ướp đầy hương  thơm thì mới thôi. Sau đó, anh ta biến mất trong phòng ông chủ, để lại mình cậu  đi lang thang ở khu vườn trong đêm tối và tự chơi đùa một mình. Lẽ dĩ nhiên, một  đứa bé như cậu thì thường hay thắc mắc vì sao họ lại có những buổi gặp mặt lạ  lùng đến thế.<br>
<br>
_ Thế em có biết họ làm gì trong đấy không? –một chị gia  nhân vừa phơi quần áo   vừa hỏi cậu.<br>
<br>
_ Ơ… Không ạ. Xiang bảo là “việc  riêng”.<br>
<br>
_ Ha ha ha. Thế thì sớm muộn gì thì em cũng sẽ biết thôi. Vì em  là người tiếp theo mà.<br>
<br>
Chị gia nhân đó húych vào đám nô tì đang đứng xung  quanh, cuời rúc rích. Cái cách mà họ vừa cười, vừa phóng xuống cậu những ánh mắt  nửa khôi hài, nửa thương hại làm cho cậu cảm thấy khó chịu. Chẳng lẽ có chuyện  gì không hay giữa anh và ông chủ sao?<br>
<br>
<br>
<br>
<span style="color: navy;">_  Đó là “việc riêng”. Hà hà, một cách giải thích mới hay là sao! – Tsuki vung tay  ném mạnh chai rượu xuống sàn nhà – Chẳng qua chỉ là một cách nói hoa mỹ cho  những việc người ta kinh tởm. Cái thằng cha bệnh hoạn ấy…</span><br>
<br>
<br>
Vào  lúc đó, với Tsuki thì ấn tượng của ông chủ ngoại trừ ngày đầu tiên thì còn khá  là mờ nhạt. Thỉnh thoảng sau những chuyến đi xa, ông ta đều mang về quà cho cả  Xiang và Tsuki, miệng ngậm chiếc ống điếu bằng bạc dài chăm chú nhìn cậu háo hức  mở gói quà, khi thì con búp bê, trâm cài tóc hai một bộ quần áo đắt tiền v.v…  Với cậu thì lúc đó ông Qieng quả thật là một người rất tốt, nhưng sao chẳng bao  giờ thấy ông có vợ hay con gì cả. Đem chuyện đó ra hỏi Xiang thì anh khi thì lắc  đầu không nói, khi thì nói lảng sang chuyện khác.<br>
<br>
<br>
<span style="color: navy;">_ Ông ta thật là giàu có, đúng không Yue – Tsuki nói với  tôi, rồi lại bật ra cười rũ rượi – Quả đúng là phong thái đó, phong thái của  quyền lực và tiền bạc.</span><br>
<br>
<br>
“Yue” chỉ đơn giản mà cái tên cậu dùng  để gọi tôi. Nó có nghĩa là “mặt trăng” theo tiếng Trung Quốc, treo trên trời và  sáng rực rỡ vào những ngày rằm. Mười năm trước, cũng vào một đêm trăng sáng và  trời không mây, một quyết định của ông chủ đã bắt đầu chuỗi những ngày tháng  không bình thường trong cuộc đời cậu. Những thắc mắc của  Tsuki dần dần được  giải đáp, và có lẽ cậu không chú ý lắm, nhưng ánh mắt mà Xiang nhìn cậu đã khác  hẳn lúc trước. Ấm áp nhưng chất chứa nhiều điều.<br>
<br>
<br>
<br>
<div align="center"><strong>IV</strong></div>
<br>
<br>
<br>
Hôm ấy Xiang lại nhận được hoa.  Nhưng không phải một, mà là hai. Bên cạnh bông hoa mẫu đơn màu đỏ, một bông hoa  mẫu đơn màu hồng nhạt. Khẽ cau mày, anh kéo Tsuki đi và trang điểm cho cả mình  và cậu.<br>
<br>
_ Từ nay về sau, em sẽ được ông chủ gọi.<br>
<br>
Xiang nói một  cách lắp bắp như thế sau khi Tsuki đã chải xong tóc của mình.<br>
<br>
_ Ngay hôm  nay?<br>
<br>
_ Ừ, ngay hôm nay.<br>
<br>
Xiang quay sang xoa đầu, rồi ôm cậu vào  lòng. Anh siết chặt tay đến nỗi cậu cảm thấy suýt bị nghẹt thở trong khi đầu vẫn  còn đang háo hức vì cuối cùng cũng có cơ hội để biết “việc riêng” là làm gì.  Hành lang dài và hẹp trở nên ngắn và rộng hơn trong mắt cậu. Ông chủ đón họ ở  ngay cửa và nhanh chóng, Xiang kéo tay Tsuki vào.<br>
<br>
_ Bằng tuổi con thì  Xiang đã gần như thành thạo rồi, nhung con thì chắc còn phải huấn luyện nhiều.  Cũng tại vì ta mua con hơi trễ - Ông chủ rít một hơi dài trên cái cái tẩu thuốc  dài màu bạc sáng – Nhưng không sao. Hãy xem và học hỏi cho kĩ nhé.<br>
<br>
Qieng  kéo cánh cửa lại. Đó là một căn phòng rộng lớn, ở giữa có trải sẵn tấm đệm màu  đỏ. Mùi trần hương lạ xông cho căn phòng khiếng cho Tsuki có cảm giác lạ lẫm.  Xiang bỗng bước đi như bị thôi miên, vừa tiến lại gần đến tấm đệm vừa cởi chiếc  áo choàng gấm bên ngoài của mình. Vẫn ngậm cái tẩu thuốc trên môi, ông chủ vật  anh ta xuống, ngước lên nhìn cậu và cười:<br>
<br>
_ Hãy xem và học hỏi  nhé.<br>
<br>
Ông ta phủ mình lên người Xiang, hai bàn tay bắt đầu tháo bỏ những  mảnh vải còn lại. Anh cong người, bắt đầu quằn quại với những tiếng rên. “Việc  riêng” phơi bày trước mắt cậu, bất chợt rõ ràng như người ta có thể thấy được  cái tròn vành vạnh của mặt trăng vào những ngày rằm, thấy được cái ánh sáng bàng  bạc ấy phủ lên con hẻm nhỏ không đèn ra sao. Mờ mờ, ảo ảo, và những chỗ khuất  thì chỉ độc nhất một màu đen đặc.<br>
<br>
<br>
<span style="color: navy;">_ Một  điều rất rõ ràng là lão ta nói đúng, Yue. Cái thằng cha lắm quyền ấy nên ép bà  mẹ tội nghiệp của tớ bán tớ sớm hơn. Và thật sự cũng là một điều điên rồ nếu như  tớ vẫn cứ đi tin một cách vô căn cứ đến bây giờ rằng bà vẫn còn mạnh khỏe, ở cái  ngôi làng nhếch nhác bẩn thỉu ấy.</span><br>
<br>
<br>
Tsuki lại uống, rồi chép  miệng chua chát. Đúng là ông chủ nên phát hiện và mua cậu sớm hơn. Anh hai cần  mẫn không thể thay thế cậu vì anh có bàn tay đã chai sạn với bàn tay đã chai sạn  với việc làm lụng ruộng vườn, làn da nâu sẫm đi vì phải phơi nắng; chị tư lại  càng không thể vì chị là con gái, không hợp với cái sở thích đặc biệt của ông  chủ. “Xiang” biết đến cái khái niệm “việc riêng” vài năm anh ta tám tuổi. Còn  quá nhỏ, nên khi những người hầu cười rúc rích chỉ trỏ vào cái dáng đi đầy xấu  hổ mỗi sáng sau những đêm ở cùng với ông chủ, anh ta mặc kệ và coi đó chẳng là  chuyện gì đáng để bận tâm. Đến khi nhận ra mọi thứ thì đã chai sạn rồi. Còn cậu,  cái đêm đầu tiên ấy khiến co cậu cảm thấy tởm lợm. Nhớ lại cái giọng cười và ánh  mắt nửa khinh bỉ, nửa thương hại giành cho mình, cậu bất chợt nhận thức được  rằng việc ngôi nhà này vắng bà chủ một quãng thời gian dài đến thế là “không hề  bình thường”, và “thay thế chức năng, nhiệm vụ của bà ta là một điều không  thể”.<br>
<br>
<br>
Nhưng rồi cũng giống như Xiang, bằng cách này hay cách khác,  cậu cũng bị buộc phải ngoan ngoãn tuân theo những mệnh lệnh. Lúc ấy, cậu vẫn còn  là một đứa trẻ mười tuổi, và hiển nhiên chẳng thể nào chịu nổi việc bị bỏ đói và  những trận hành xác bằng đòn roi dã man. Việc chấp nhận bị gọi đến được cậu thực  hiện miễn cưỡng, điều đó làm ông chủ không hề hài lòng, ông ta đã dùng roi da  quất cậu cho đến tóe máu. Và lần nào cũng vậy, đau đớn và hãi hùng, Tsuki đều  cắn môi để vượt qua.<br>
<br>
_ Nếu em cứ tiếp tục cứng đầu như vậy, không chỉ  lưng em mà cả người em đều sẽ chằng chịt vết sẹo đấy.<br>
<br>
Xiang vừa nhẫn nại  bôi thuốc cho cậu vừa nói. Nhắm mắt và cắn chặt răng, cậu đã hiểu lý do vì sao  mà Xiang hay trang điểm dày đến thế, che giấu những thứ do ông chủ tạo ra nhưng  lại khiến cho hắn ta không hài lòng. Thật may mắn vì những vết cháy bỏng cho cái  ống điếu dài kia trên mặt anh chẳng bao giờ để lại sẹo lâu. Mười hai tuổi, mái  tóc đen dài của Tsuki đã dài đến chấm hông. Bỗng Xiang bôi thuốc càng ngày càng  mạnh tay hơn lên tấm lưng gầy giơ xương và kết thúc bằng việc siết hai bàn tay  đầy thứ bột nhão có mùi hăng hắc vào cổ cậu.<br>
<br>
_ Giết em đi  Xiang.<br>
<br>
Cậu quay người lại, nhìn chăm chăm vào mắt anh. Cái nhìn xoáy rất  sâu và u tối. Từ trong góc phòng, tôi thấy Xiang thoáng sững người, rồi nghiến  răng siết chặt hơn:<br>
<br>
_ Đừng có tưởng làm như thế thì anh sẽ sợ và chùn  tay. Chính anh đã giết bà chủ bằng cách này đấy. Chính anh đã làm  đấy.<br>
<br>
Tsuki không nói gì, cậu nhắm mắt lại, chờ đợi, không van xin cũng  không khóc lóc. Sống để làm gì với cậu, có chăng thì cũng chỉ là một chuỗi ngày  tàn tạ.<br>
<br>
Xiang buông thõng tay, rồi ôm lấy cậu, ôm lấy tấm thân trần lạnh  lẽo đến vô hồn đang rướm máu.<br>
<br>
_ Anh không thể là, được, Tsuki. Anh không  thể làm được. Anh KHÔNG THỂ.<br>
<br>
Cậu im lặng, rồi cậu mỉm cười, chua  chát:<br>
<br>
_ Người anh, anh có biết không? Nó rất ấm. Cảm giác được anh ôm và  bảo bọc như thế này làm em rất hạnh phúc.<br>
<br>
Những giọt nước mắt rơi xuống,  lặng lẽ. Đêm ấy là một đêm không trăng, là đêm che giấu nhiều diều tội lỗi.  Xiang hôn khẽ lên tấm lưng trần của cậu và cậu hôn lên mắt anh. Cậu ngủ lại cùng  với anh, để lại những tiếng rên gấp gáp lèn chặt trong bốn bức tường gỗ. Anh áp  người mình lên cậu, phà hơi thở ấm nóng của mình lên cậu. Chuỗi sự kiện đó đến,  liên tục và nhanh chóng như điều hiển nhiên phải xảy đến.<br>
<br>
<br>
<em>Anh  không thể giết em<br>
<br>
<br>
<br>
<br>
Tại sao?<br>
<br>
<br>
<br>
<br>
Anh không  thể<br>
<br>
<br>
<br>
<br>
Ah… Xiang… Giết em đi</em><br>
<br>
<br>
<br>
<br>
<br>
<div align="center"><strong><span style="color: red;">GIẾT EM  ĐI!!!</span></strong></div>
<br>
<br>
<br>
<br>
Đó là lần đầu cũng là lần cuối cùng mà anh  chạm vào cậu. Sáng hôm sau, ở lại cùng với cậu là tuyết, căn phòng lạnh lẽo, sự  nhàu nhĩ xô lệch của chăn gối và tấm thân trần trụi. Cô đơn và trống rỗng đến  cùng cực. Đẩy cửa ra, khoảng sân trước mặt Tsuki trắng xóa. Tuyết bắt đầu rơi từ  tối qua, từ đầu tuần hay từ đầu tháng? Từ khi nào, sao cậu chẳng thể nhận ra. Cả  mấy mươi gian phòng, khu vườn rộng lớn cậu lùng sục không sót một góc nhưng  tuyệt nhiên không hề thấy Xiang. Tuyệt vọng, cậu rũ xuống, dựa đầu vào khung cửa  gỗ. Lạnh đến tê dại, sao giờ này cậu mới nhận ra? Cái ấm áp của đêm qua tan biến  như bông tuyết chạm vào lòng bàn tay.<br>
<br>
<em>Xiang đâu rồi? Anh đâu  rồi?</em><br>
<br>
Tsuki mở to đôi mắt. Cái vô hồn ăn sâu vào con ngươi khiến nó  đen láy và tròn vành vạnh. Tôi nhìn vào khuôn mặt đối diện mình và có cảm giác  sơ, như đang nhìn vào một vật kì lạ. Thứ gì đó bình lặng như bóng trăng trên mặt  nước, nhưng sẽ hút lấy linh hồn bạn co đến khi bạn chỉ còn là một cái xác rỗng  tuếch.<br>
<br>
Giống như hai vầng trăng màu đen trên bầu trời trắng  xóa.<br>
<br>
<br>
Cậu giữ đôi mắt ấy trên gương mặt mình rất lâu. Từ dạo đó, Tsuki  đều thức và uống rượu vào những đêm ba mươi. Uống nhiều đến nỗi cậu nói mình có  thể uống thứ có nồng độ cồn cao đó thay cho nước. Vào những đêm nhận được hoa,  để mặc cho ông chủ muốn làm gì thì làm, cậu đột nhiên trở nên ngoan ngoãn, biết  phục tùng và biết nghe lời dưới mắt tên chủ bệnh hoạn ấy. Một đêm, hắn ghì cậu  bằng cánh tay và bộ ngực nung núc những mỡ của mình, nói:<br>
<br>
_ Thời gian qua  con đã phục vụ ta rất tốt. Con có muốn được thưởng thứ gì không? Ta đang rất hài  lòng.<br>
<br>
<br>
_ … Bất cứ thứ gì chứ?<br>
<br>
<br>
_ Bất cứ thứ  gì.<br>
<br>
<br>
Bốn năm trôi qua, mùa đông lại đến. Mái tóc Tsuki đã dài gần đến  gót. Cậu thấy cái lạnh lại bất chợt ùa đến, tê tái. Bốn năm qua, cậu chờ đợi,  chờ đợi trong vô vọng.<br>
<br>
_ Xiang hiện nay đang ở đâu?<br>
<br>
<br>
Nụ cười  hài lòng trên gương mặt ông chủ biến mất, thay vào đó là nghiến răng kèn kẹt và  cái tát như trời giáng.<br>
<br>
_ Hóa ra mấy năm nay mày vẫn còn tơ tưởng thằng  đó cơ đấy. Thế ai nuôi mày cơm, ai đã đưa mày ra khỏi cái khu ổ chuột nghèo hèn  đó, ai đã chiều chuộng mày. Nói đi, ai?<br>
<br>
Vài cái tát mạnh bạo nữa được  giang thẳng vào mặt cậu. Nhưng tất cả những gì cậu làm là để mặc cho một dòng  máu trào ra từ miệng và mở to cặp mắt vô hồn của mình.<br>
<br>
<br>
_ Xiang hiện  nay đang ở đâu?<br>
<br>
<br>
Mặt Qieng biến sắc. Thô bạo nắm lấy mái tóc dài và  dúi đầu cậu vào gối, hắn gầm lên:<br>
<br>
_ Tao biết chuyện này trước sau gì rồi  cũng sẽ đến mà. Được rồi, mày muốn biết nó đang ở đâu chứ gì? Để tao nói cho mày  nghe nhé. Mày có biết cái lầu Vọng Nguyệt nẳm ở giữa cái hồ sen rộng và sâu hơn  hai mươi thước nước không? Thằng Xiang của mày đang ở trên đó đấy, với cái xích  dài ở chân để khỏi trốn đi, mà giờ nó chết rũ xác rồi cũng không chừng. – Tên  chủ ấn mạnh tay hơn – Nó đã thỏa thuận với tao ngay từ hôm đầu tiên mày đến, là  nếu giết được mày thì nó sẽ khỏi phải ra đó, giống như ngày xưa nó đã giết con  vợ của tao khi con khốn đó dám ngủ với thằng lơ xe. Tao cứ đinh ninh nó sẽ được  việc, nhưng rồi cái thằng yếu nhớt đó đã làm gì? Nó đã <strong>ngủ</strong> với mày, và để  cho mày <strong>SỐNG</strong>!<br>
<br>
Tsuki sững người. Những kí ức về đêm không trăng bốn  năm về trước ùa về tràn ngập trong đầu cậu. Cái siết tay lơi ần, cái ôm ấm áp,  hơi thở của Xiang, mùi của anh, thân thể của anh, quấn quýt ủ ấm cho  cậu.<br>
<br>
_ Tao không muốn thấy mặt mày ở đây nữa. Cút đi cho khuất mắt tao!!!  BIẾN! BIẾN NGAY!!!<br>
<br>
<br>
Trong khoảnh khắc, Tsuki không kháng cự, cũng  không nói gì. Cậu vơ tay rút cái tẩu thuốc dài bằng bạc vương giả mà lúc nào  Qieng cũng mang theo bên mình và đâm vào họng hắn, không một chút chần chừ. Máu  bật ra và cậu cứ đâm, đâm mãi cho đến khi xác hắn đổ gục ra nệm, màu máu hòa lẫn  cùng với màu của tấm nệm gấm đỏ quánh mà không la lên được tiếng nào. Buông cái  tẩu thuốc dính đầy máu nhớp nháp, cậu gấp rút chạy ra vườn. Đầu đông, nước hồ  chưa kịp đóng băng, một con thuyền nhỏ được hối hả chèo ra căn lầu nằm trơ trọi  ở giữa hồ. Lần kiếm trong ánh đuốc lập lòe, cuối cùng sợi dây xích đã dẫn cậu ra  mặt hồ lạnh lẽo. Gục xuống. Những giọt nước mắt lại rơi xuống. Xác Xiang hẳn đã  tan ra, hòa vào cùng nước hồ.<br>
<br>
<br>
Trong lầu Vọng Nguyệt, không có gì  ngoài rượu, nến, một cái ghế bọc nệm gấm đắt tiền và thật nhiều gương. Cậu chỉ  vào tôi, nói:<br>
<br>
_ Cậu tên là Yue, nghĩa là “Nguyệt”. Đêm nay cậu sẽ uống  rượu cùng với ớ,<br>
<br>
Xong việc, cậu mỉm cười ngồi lên ghế, rót rượu ra cái  chén nhỏ và ngửa cổ uống.<br>
<br>
_ Nghe tâm sự trọn đêm nay nhé  Yue.<br>
<br>
<br>
<br>
<div align="center"><strong>V</strong></div>
<br>
<br>
<br>
Câu chuyện của cậu, tôi hầu như đã  chứng kiến từ đầu đến cuối, dù cho lời kể của cậu có ngắt quãng hay vỡ vụn đến  đâu. Rừng tre xanh ngày ấy chúng tôi đi ngang qua đã tàn úa từ lâu. Ngôi làng  ngày ấy cậu ở giờ giàu lên nhanh chóng vì những gia đình trong đấy cũng đua nhau  đi bán con mình như mẹ cậu đã từng làm. Mọi người không còn trầm trồ mấy cái xe  ngựa nữa mà còn ganh đua nhau xem người nào có chiếc xe đẹp hơn. Thứ không có gì  đổi khác chỉ còn mình cậu, và tôi. Khung cảnh một đêm ba mươi không trăng hiện  lên trước mặt, chúng tôi cùng nhau nhìn và nốc rượu. Sao giăng lấp lánh trên bầu  trời đen đặc.<br>
<br>
Nhưng điều đã làm tôi thấy ngạc nhiên nhất chính là cậu đã  phát hiện ra tôi, điều mà rất ít người tin rằng tôi tồn tại và cũng có suy nghĩ.  Họ hầu hết đều cho rằng sự hiện diện và sự câm lặng của tôi là điều hiển nhiên  trong cuốc sống. Với Tsuki, tôi đã được mang một ý nghĩa khác, đó là người ở bên  cạnh cậu lúc cậu qua đời. Chứng kiến từ đầu cho đến tận phút cuối  cùng.<br>
<br>
Dưới ánh nến sắp sửa tàn, những dòng chữ của Xiang hiện lên, nhiều  không kể xiết. Anh chỉ ghi đúng một câu giải thích lý do vì sao anh không thể  giết cậu, không thể siết chặt tay hơn để cướp lấy mạng sống cậu và vướt xác cậu  xuống hồ như đã từng làm một cách trơn tru với bà chủ.<br>
<br>
<em><span style="color: navy;">“Tsuki, anh yêu em”<br>
<br>
“Anh yêu em”<br>
<br>
“Anh yêu  em”<br>
<br>
“Anh yêu em”</span></em><br>
<br>
<br>
Tsuki chạm tay vào mặt hồ. Nước đã  đóng băng gần hết.<br>
<br>
_ Lạnh quá Yue ạ. Xiang hiện nay đang chịu lạnh ở dưới  đấy. Tớ sẽ xuống dưới sưởi ấm cho anh ấy, như cái cách mà anh đã sưởi ấm  tớ.<br>
<br>
<br>
Nhanh chóng và không ngập ngừng, cậu nắm lấy sợi dây xích và nhảy  xuống. Mặt hồ như ôm lấy cậu, ghì chặt cậu, vuốt ve cậu. Nhắm mắt, ngay lúc chạm  vào nước, tôi có cảm giác như mình chẳng còn tồn tại với cậu  nữa.<br>
<br>
<br>
<em>Đêm không trăng này, ta sẽ có được giấc mộng dài nhất và sâu  nhất.<br>
<br>
Sẽ say bất tận trong tình yêu triền miên.<br>
<br>
Sẽ không bao giờ  tỉnh để nhìn thấy nhân gian là bể khổ.<br>
<br>
Sẽ không bao giờ tỉnh  nữa…</em><br>
<br>
<br>
<br>
Người ta rất thường nhìn thấy cậu và tôi, ở những tấm  gương, ở những nơi có nước, hay thậm chí ở những nơi có vật sáng bóng. Bên này  là cậu, bên kia là tôi. Bên này là Tsuki, bên kia là Yue. Tôi là cậu và cậu là  tôi. Chúng tôi là một. Nhưng vào cái giây phút cậu quyết định kết thúc cuộc sống  của mình, vào đêm nay, Tsuki và mọi người đã không còn có thể thấy tôi. Có chăng  thì cũng chỉ là tôi đang ngắm nhìn cậu ở thế giới bên kia, dang tay ôm lấy Xiang  và tận hưởng giấc mộng dài nhất vào đêm không trăng mà cậu từng có.<br>Mộng đêm không  trăng<em>Đêm không trăng…<br>
<br>
Đêm nay là đêm không  trăng…<br>
<br>
Ta sẽ say và sẽ không bao giờ tỉnh lại…</em>_  Đó là “việc riêng”. Hà hà, một cách giải thích mới hay là sao! – Tsuki vung tay  ném mạnh chai rượu xuống sàn nhà – Chẳng qua chỉ là một cách nói hoa mỹ cho  những việc người ta kinh tởm. Cái thằng cha bệnh hoạn ấy…_ Ông ta thật là giàu có, đúng không Yue – Tsuki nói với  tôi, rồi lại bật ra cười rũ rượi – Quả đúng là phong thái đó, phong thái của  quyền lực và tiền bạc._ Một  điều rất rõ ràng là lão ta nói đúng, Yue. Cái thằng cha lắm quyền ấy nên ép bà  mẹ tội nghiệp của tớ bán tớ sớm hơn. Và thật sự cũng là một điều điên rồ nếu như  tớ vẫn cứ đi tin một cách vô căn cứ đến bây giờ rằng bà vẫn còn mạnh khỏe, ở cái  ngôi làng nhếch nhác bẩn thỉu ấy.GIẾT EM  ĐI!!!“Tsuki, anh yêu em”<br>
<br>
“Anh yêu em”<br>
<br>
“Anh yêu  em”<br>
<br>
“Anh yêu em”