<b>Author</b> [Người viết] : lamthien<br>
<b>Genres</b> [Thể loại]: Drama<br>
<b>Warning</b> [Cảnh báo] (nếu có): none<br>
<center>--------------------</center>
<br><br>

<br><br><br>

<i>Này, những trái tim, hãy lăn đi<br>
Như những viên bi nhỏ<br>
Thủy tinh trong suốt<br>
Lãng quên ngập nắng</i><br><br><br><br><br>


Này, anh có nghe thấy không? Bản Serenade đấy.<br><br>

Thi thoảng, trong ánh nắng chói gắt của một ngày mùa hạ hoặc giữa cơn hanh khô của một buổi chiều, tôi lại nghe câu hỏi ấy vang bên tai. Cũng vô tình và thường xuyên như kiểu "Anh có thấy nóng không?" hay "Anh có khát nước không?". Nhưng ở đây là một người hỏi vô hình với câu hỏi duy nhất không đổi. Câu hỏi của nhiều năm trước, lúc tôi vẫn còn là một cậu thiếu niên mười sáu tuổi, ngồi dưới cầu thang gỗ uốn cong cong dẫn lên căn gác nhỏ, bên ngoài là một dãy lồng chim treo lủng lẳng ở căn nhà nằm cuối con hẻm vắng vàng màu hoa mai và nắng. Ngồi trên bậc thang, chống cằm lên tay, Diệp hỏi mà mắt chẳng nhìn ai.<br><br>

Này, anh có nghe thấy không? Bản Serenade đấy.<br><br>

Này, đừng hỏi tôi tại sao lại nhớ mỗi câu nói đó. Đem mô hình não ra đây nào, thấy chứ? Não có rất nhiều nếp nhăn, và có thể, có những điều đã rơi vào đúng trong một nếp nhăn sâu, thật sâu, sâu như vực núi hay một vết nứt tách của vũ trụ, thế là chúng bị mắc kẹt và không thể thoát đi đâu được nữa, phải nằm lại mãi mãi nơi đó. Qua rất nhiều năm rồi, cả khuôn mặt cô gái nói câu đó tôi cũng phải mất một lúc lâu mới có thể hình dung lại được, thế mà tôi lại nhớ như in con hẻm của buổi sáng hôm ấy, cả mùi không khí thơm thơm bụi phấn hoa. Tôi không nhớ rõ ràng ánh mắt hay dáng điệu cô ấy, thế mà tôi lại nhớ về đôi bàn chân mang đôi giày bít màu đỏ thả trên những bậc thang gỗ sơn xám tróc lở. Tôi không nhớ lý do hay hoàn cảnh, nhưng tôi nhớ tiếng cười khẽ khi cô ấy quay đầu nhìn nắng.<br><br>

Nói dối, Thiên Thiên cười, vẫn nụ cười kiêu kỳ và tinh quái, có quên bao giờ đâu mà bảo rằng không nhớ. Đàn ông các anh, bảo rằng trái tim nhiều ngăn thì cũng đúng, nhưng cũng có loại chỉ theo đuổi một ảo ảnh đến suốt đời. Sao thế nhỉ?<br><br>

Em đa nghi qúa. Chuyện đó cũ rồi, giờ thì anh yêu em.<br><br>

Nói dối. Mà cũng chả sao. Em đâu có yêu anh.<br><br>

Vâng, nhìn vào mô hình não lần nữa nào. Có thấy những vùng mô trắng trắng ấy không? Có thấy những dây thần kinh không? Thật là tinh tế và phức tạp- mà chỉ cần sai sót một chút thôi thì sẽ gây ra hỏng hóc. Một cỗ máy cồng kềnh và phức tạp nhưng lại dễ hỏng hóc. Như cái cô gái mang tên Thiên Thiên ấy, người vừa có thể ngồi trước mặt mình vừa xa hàng vạn dặm, y như cái nghề nghiệp phát thanh viên truyền hình của cô ta. Ấy thế mà cô ta cũng từng hỏi một câu y như bước ra từ qúa khứ xưa lắc trong con hẻm màu hoàng mai kia.<br><br>

Này, anh có nghe thấy không? Bản Serenade đấy.<br><br>

Cô ta đã hỏi câu ấy ngoài cửa một vũ trường, trong khi tai tôi còn ù đặc, váng vất hàng tấn tiếng ồn vừa mới thoát khỏi được. Cô ta say, phải vịn vào cửa mới đứng vững, nhưng cằm vẫn hất cao kiêu ngạo và đôi chân không chịu khụy xuống. Đột nhiên cô ta hỏi, hơi mỉm cười. Cô ta có nụ cười và đôi mắt đẹp, mà nói chung là cô ta đẹp- đủ để phát triển ở cái giới truyền thông xô bồ này, dù là cái đẹp để lên hình cho người ta ngắm nghía hay để đi đêm với các đại gia. Vậy mà trong nụ cười của cô ta lúc ấy, tôi chỉ thấy cô ta buồn. Buồn như một con bướm đêm.<br><br>

Bướm đêm màu đỏ tím. Cánh to. Phất lên trong ánh đèn như vải lụa kết bằng sương.<br><br>

Lần đầu tiên gặp tôi, Diệp cũng mặc váy sa đỏ dài đến gối, phủ bên ngoài là voan đen- cùng với cái quần jean xanh, cổ đeo lủng lẳng một xâu chuỗi hạt hình bướm. Tóc cắt ngắn ngang cằm, cài mái bằng cái kẹp nhỏ, tay lại ôm ngang một giỏ xách lớn, ngồi trên bậc cầu thang xoắn tróc lở, dưới những chậu cây nhỏ nở hoa đủ màu sắc treo lủng lẳng bên hiên cùng với những cái lồng chim, trông Diệp giống hệt một cô búp bê tóc đen mắt đen mà sau này tôi thường thấy trên mạng. Cả khuôn mặt Diệp cũng mang cái đường nét thanh tú, cái vẻ đẹp rất quen của búp bê- Cái vẻ mà ai gặp Diệp lần đầu cũng phải tự hỏi xem mình đã từng nhìn thấy cô ở đâu rồi.<br><br>

Mình có quen nhau không nhỉ?<br><br>

Tất nhiên, tôi hỏi, sau một hồi cố nhớ xem đã từng nhìn thấy cô gái này vào lúc nào, nhưng vô vọng. Diệp nghiêng đầu, trông cô lại càng giống búp bê hơn. Và đột nhiên, tôi nghĩ ra, cô giống như hình ảnh nào đó mà tôi từng thấy trong mơ, một giấc mơ cực kỳ xưa cũ đến mức tôi không chắc là mình đã từng có nó.<br><br>

Anh không phải là người đầu tiên hỏi như thế.<br><br>

Tất nhiên, tôi thầm nghĩ. Trên đời này qủa thật có vẻ đẹp được gọi là ký ức hay giấc mơ, và đó là cô gái đang ở trước mặt tôi. Không chỉ là sự kết hợp đơn thuần của đường nét, ở cô gái này có điều gì đó đủ sức khuấy động lên những thứ đã nằm sâu trong tiềm thức người khác, khiến ai đã gặp cô một lần thì vĩnh viễn không thể quên, khi nhận ra mình đã nhớ cô từ trước khi gặp gỡ.<br><br>

Buổi chiều ấy, trước khi gặp Diệp, tôi đã có một giấc mơ rất kỳ quặc. Hai anh em tôi rủ nhau đi chơi game ở một con hẻm chật. Khi trò chơi mở lên, xung quanh tôi chỉ còn là một khoảng trống lù mù tối đầy tiếng nhạc trẻ con thường phát vào sau 7 giờ tối. Game thế nào thì tôi cũng quên rồi, nhưng hẳn là đơn giản, vì tôi đã hoàn thành màn một rất nhanh.<br><br>

Nhưng rồi tôi lại không biết tắt game như thế nào để về, tôi cũng không biết phải ra khỏi căn phòng như thế nào.<br><br>

Lúc bấy giờ, khi nhìn quanh, tôi thấy mình ở một nơi nào đó vừa giống như nhà kho, vừa giống như bể cá, vừa giống một căn bếp nữa- với cái bể nước đùng đục bên cạnh, chất đống dưới thành bể là những con sò vĩ đại đang mở vỏ, thò ra cái khoảng thịt hồng hồng bên trong, đồ đạc như gậy lau nhà, thùng sơn xếp gọn một góc.<br><br>
Và rồi, có một loài sinh vật lạ từ từ bò vào căn phòng. Những sinh vật hình chữ nhật, to bằng bàn tay. Chúng bò vào miệng con sò đang mở kia.<br><br>

Lớp thịt hồng rung nhẹ, quằn lên, quấn trọn lấy sinh vật lạ nọ. Khi tôi nhìn lại, lớp thịt hồng giờ đã hóa màu tím tái, sưng phồng và run bần bật. Nước từ bể cũng đang dâng lên và tôi nhận ra mình đang bị bao vây bởi những sinh vật hình chữ nhật. Game vẫn chưa tắt được.<br><br>

Cũng như cái câu hỏi vô thưởng vô phạt kia, giấc mơ này lưu lại mãi trong tôi, hình như cũng chẳng phải vì nó là giấc mơ trước khi gặp Diệp. Mười sáu tuổi, tôi có những giấc mơ điên khùng đáng nhớ hơn thế, nhất là trong những giấc ngủ ngắn dưới bóng cây xoài giữa vườn.<br><br>

Anh đã mơ giấc mơ của đất- Diệp nói, cười nhẹ- Khi ngủ dưới vòm cây, anh mơ được giấc mơ của đất, đôi khi, của bầu trời nữa.<br><br>

Đất chơi game à?<br><br>

Có chứ.<br><br>

Từ năm mười sáu tuổi, tôi đã biết khôn ngoan thì nên tránh cãi nhau với con gái. Sau này, với cả Thiên Thiên và lý lẽ "Em không yêu anh" của cô ta cũng vậy, chẳng hơi đâu mà tôi cố tranh cãi. Chẳng được gì, nhất là với những người đàn bà coi làm khổ kẻ khác là niềm vui của họ.<br><br>

Phải, ngay từ tuổi mười lăm, Diệp đã là một cô gái biết cách làm khổ người khác. Nhưng tôi thường không nghĩ đến chuyện đó, tôi chỉ nghĩ đến một câu hỏi bâng qươ và một vòm cây xanh thẫm để tôi đánh một giấc trưa no tròn đầy mộng mị. Đó là tất cả những gì năm tháng để lại cho tôi.<br><br>

Như âm vang tiếng chân của Diệp chạy trên bậc thang khi cô líu lo hát vào tuổi mười lăm.<br><br>

<i>Này, những trái tim, hãy lăn đi<br>
Dọc đường bụi mù như trải mật<br>
Lăn, xước, nứt rồi vỡ nát<br>
Thành bi ve trong suốt<br>
Trong như lệ<br>
Trong như nắng</i><br><br>