<div align="center">
<b>Nam thiên anh hùng ca </b>
<br>
<br>
 ~o0o~</div>
<br>
<br>
<br>
<div style="text-align: right;">
<span style="text-decoration: underline;"><strong>I.  Nhân vật lịch sử được sử dụng:</strong></span><br>
<br>
<strong>*Những nhân vật mang quốc  tính:</strong><br>
<br>
- Lê Phụ Trần Lê Tần<br>
<br>
- Chiêu Thánh công chúa Lý Phật  Kim<br>
<br>
- Bảo Nghĩa Vương Trần Bình Trọng<br>
<br>
<br>
<strong>*Tướng lĩnh của Trần  Bình Trọng:</strong><br>
<br>
- Nguyễn Trình<br>
<br>
- Phạm Sĩ Viêm<br>
<br>
- Trương Xích  Hoa<br>
<br>
- Lê Ương<br>
<br>
<br>
<strong>*Tướng lĩnh của giặc:</strong><br>
<br>
- Thoát  Hoan<br>
<br>
- Ô Mã Nhi<br>
<br>
<br>
<br>
<span style="text-decoration: underline;"><strong>II. Bối cảnh:</strong></span><br>
<br>
Trong cuộc  kháng chiến chống Nguyên – Mông lần thứ hai, giữa lúc vận nước đang lâm nguy,  tuyệt đại đa số quý tộc họ Trần đều dũng cảm xông pha trận mạc, quyết tâm chiến  đấu một mất một còn với quân giặc. Tuy nhiên có một số kẻ yếu bóng vía, đầu hàng  quân giặc, phản bội đất nước để mưu lợi cầu vinh khiến tình thế trở nên cực kì  khó khăn và phức tạp. Vì thế, quân ta rơi vào thế hạ phong chỉ có thể rút lui để  bảo toàn lực lượng. <br>
<br>
Tháng 2 năm 1285, Trần Bình Trọng nhận lãnh nhiệm vụ  ở lại trấn khu vực sông Đà Mạc để vua tôi nhà Trần có đủ thời gian rút lui.  Trước khi tham chiến, Bảo Nghĩa Vương đã xác định đây là một trận tử chiến, thà  chết không hàng.</div>
<br>
<br>
<br>
<div align="center">~o0o~</div>
<br>
<br>
<br>
<strong>Trời chiều nhuốm một màu đỏ bầm. Màu  đỏ loang dần loang dần đến tận chân trời, cứ như máu loang lổ trên nền đất ẩm.  Dưới đất là máu của người. Còn trên trời… là máu của ai? <br>
<br>
Hay là chiến  tranh khiến cho lòng trời rỉ máu?<br>
<br>
Trên trời hay dưới đất thì cũng là máu  cả. Mắt ta giờ chỉ còn nhìn thấy máu, là máu mà anh em đã đổ xuống vì lũ thân  mang quốc tính mà lòng rữa nát. Đáng hận thay lũ bán nước cầu vinh! </strong>   <br>
<br>
Bình Trọng nhếch mép cười, nhìn trời mà lòng quặn lên một nỗi đau khó  tả. <br>
<br>
- Bảo Nghĩa Vương!  <br>
<br>
- Nguyễn Trình tướng quân, quan gia và  mọi người đã rút hết cả chưa? <br>
<br>
- Tâu, mọi người đã dời đi cả  rồi.<br>
<br>
- Phiền tướng quân mời các tướng Sĩ Viêm, Xích Hoa, Lê Ương lại đây  giúp ta.<br>
<br>
- Vâng.<br>
<br>
Nhìn tấm lưng rộng bản của Nguyễn tướng quân,  vương bất giác thở dài, lòng thoắt trĩu nặng. <br>
<br>
<strong>Quan gia quyết định rút  quân để bảo toàn lực lượng là đúng nhưng giặc đang ở ngay sau lưng, khí thế bừng  bừng lại đông như kiến cỏ, không biết ta có thể chống giữ được đến lúc  nào…<br>
<br>
.<br>
<br>
.<br>
<br>
.</strong><br>
<br>
- Chúng tướng bái kiến Bảo Nghĩa  Vương.<br>
<br>
- Anh em đứng cả lên. <br>
<br>
- Chẳng hay Bảo Nghĩa Vương triệu  chúng tôi đến đây có việc chi? – Xích Hoa cất giọng, âm thanh hào sảng, vững  vàng khiến cho nỗi lo lắng trong lòng Bình Trọng phần nào nhẹ bớt.<br>
<br>
Bình  Trọng mỉm cười, ung dung nói:<br>
<br>
- Nhiệm vụ trước mắt của chúng ta là phải  trấn giữ Đà Mạc để quan gia có đủ thời gian rút lui. Ta xác định đây là một trận  huyết chiến, một mất một còn với kẻ thù.<br>
<br>
Đột nhiên, Bình Trọng đổi giọng,  nét mặt trở nên nghiêm nghị.<br>
<br>
- Vì thế, ta hi vọng mọi người toàn tâm toàn  lực cùng ta quyết chiến. SỐNG NGÀY NÀO THỀ CẦM CHÂN QUÂN GIẶC NGÀY ẤY, CHẾT CŨNG  KHÔNG TỪ! <br>
<br>
Khẩu khí của Bình Trọng như luồng sóng dữ hừng hực đập vào tâm  can khiến cả bốn vị tướng quân nhất loạt hô vang:<br>
<br>
- CHẾT CŨNG KHÔNG TỪ!  <br>
<br>
Bình Trọng cảm động trước ý chí và tấm lòng của các tướng quân liền  chống tay quỳ xuống, nói:<br>
<br>
- Bản vương thay mặt quan gia, thay mặt toàn  dân tộc ghi nhớ ý chí và công lao của chư vị tướng quân. <br>
<br>
Lê Ương vội  vàng đỡ Bình Trọng dậy.<br>
<br>
- Đây là trách nhiệm của mỗi người, vương gia  không cần hành lễ tạ ơn. Chữ Sát Thát vẫn còn hằn sâu trên da thịt ngày nào,  chúng tướng và binh sĩ quyết không phụ ân quan gia, quyết chiến đấu để rửa sạch  quân thù ra khỏi bờ cõi.<br>
<br>
- Hiện giờ trong tay chúng ta chỉ có ba nghìn  quân, đối với quân Nguyên mà nói thì chỉ như châu chấu đá xe, không thể nghênh  chiến trực diện. - Nguyễn Trình trầm ngâm.<br>
<br>
- Chúng ta chỉ cần dùng kế cho  quân mai phục trong đám lau sậy rồi dụ chúng tới. <br>
<br>
- Lê tướng quân nói  phải. – Xích Hoa tỏ vẻ đồng tình.<br>
<br>
- Thế thì chưa đủ. - Nguyễn Trình cau  mày - Cần phải bọc hậu bằng hỏa công, vây chúng vào thế tiến thoái lưỡng nan,  lúc đó lòng quân tất loạn, hàng ngũ tất tan, chúng ta có thể dễ dàng phục kích  tiêu diệt.<br>
<br>
Bình Trọng cười nhẹ rồi nghiêm giọng truyền lệnh:<br>
<br>
-  Chúng tướng nghe lệnh. <br>
<br>
- VÂNG.<br>
<br>
- Nguyễn tướng quân dẫn một nghìn  tinh binh bày bố mai phục. Phạm tướng quân đem theo khoảng chục người, chọn nơi  ven sông nhiều lau sậy cắm cờ hiệu để nghi binh, đồng thời bố trí hỏa công chặn  hậu địch. Trương tướng quân và Lê tướng quân theo ta xông trận.<br>
<br>
- TUÂN  LỆNH.<br>
<br>
<strong>.<br>
<br>
.<br>
<br>
.<br>
<br>
Lửa.<br>
<br>
Vòng vây của  lửa.<br>
<br>
Hãy cháy lên, cháy lên, hãy cháy lên đi ngọn lửa thiêng Đại  Việt.<br>
<br>
Cháy lên! Thiêu chết quân thù cướp nước. Biến dã tâm điên loạn của  chúng thành tro tàn để an ủi linh hồn những người con đã ngã  xuống.<br>
<br>
.<br>
<br>
.<br>
<br>
.</strong><br>
<br>
Lửa lồng lộn. Lửa đau đớn quay  cuồng. Lửa nổi giận quay chín những lời kêu la thảm thiết, nhấn chìm tất cả  trong một màu vàng rực rỡ.<br>
<br>
Mùi khét.<br>
<br>
Tiếng gào thét đau đớn, điên  loạn.<br>
<br>
Tiếng vũ khí chạm nhau lạnh lùng, tàn nhẫn.<br>
<br>
Và  máu!<br>
<br>
Chiến trường…<br>
<br>
- Bảo Nghĩa Vương… không xong rồi, quân giặc  quá đông…quân ta không thể chống đỡ nổi… hết lớp này lại đến lớp khác… quân sĩ  chiến đấu cả ngày trời… càng lúc càng yếu… không được rồi.<br>
<br>
Bình Trọng  quay lại nhìn thì chỉ còn thấy hơn trăm sĩ tốt còn cầm cự được, nhưng cũng hết  sức chật vật, chỉ có thể đánh cầm chừng.<br>
<br>
- Xích Hoa, Sĩ Viêm  đâu?<br>
<br>
- Tử thương rồi.<br>
<br>
- Nguyễn Trình đâu?<br>
<br>
- Thưa, cũng đã  tử thương rồi. Quân Nguyên quá đông, vương gia mau xuống thuyền xuôi dòng, để  Xích Hoa này cản địch.<br>
<br>
- Quan gia giao cho ta nơi này, không giữ được thì  ta còn mặt mũi nào trở về gặp quan gia, có chết ta cũng phải chết ở đây. – Nói  xong liền vứt giáo nhặt kiếm xông thẳng tới thuyền giặc.<br>
<br>
- Vương gia. –  Xích Hoa hét lớn rồi lao ra, lấy thân mình đỡ tên cho Bình Trọng. Vạn tiễn xuyên  tâm chết đứng giữa trời. Bóng viên dũng tướng cắt vào lòng trời một mảng đen sâu  hoắm. Mắt mở to, ứa máu, cái nhìn trừng trừng đầy uất hận.<br>
<br>
Bình Trọng cắn  răng, nước mắt chảy ngược vào tim, nhói đau! <br>
<br>
Nhân lúc quân giặc còn bàng  hoàng, vương chớp thời cơ nhảy lên thuyền giặc, tả hữu xung đột chém chết một  tên tướng giặc. Ô Mã Nhi vội nhảy vào, chỉ trong một đòn chặt gẫy kiếm của Bình  Trọng. Cả chục người xúm lại trói nghiến vị vương trẻ tuổi liều lĩnh đem nhốt  xuống hầm.<br>
<br>
<strong>.<br>
<br>
.<br>
<br>
.</strong><br>
<br>
Tối.<br>
<br>
Tối  quá.<br>
<br>
Bóng tối dày đặc trộn lẫn với mùi thuốc súng, mùi gỗ cũ kĩ quấn lấy  Bình Trọng, như chiếc dây thòng lọng siết chặt cổ chàng.<br>
<br>
Bình Trọng bức  bối cựa quậy thân hình bị cuốn chặt dây thừng. Dù khỏe mạnh nhưng vương đã chiến  đấu cả ngày dài, lại chịu không ít thương tích nên sức cùng lực kiệt, nhanh  chóng thiếp đi.<br>
<br>
<strong>.<br>
<br>
.<br>
<br>
.</strong><br>
<br>
[flashback]<br>
<br>
-  Mẹ.<br>
<br>
- Trọng nhi, con tỉnh rồi à? <br>
<br>
Khuôn mặt Chiêu Thánh sáng bừng  lên một nụ cười dịu dàng, trìu mến.<br>
<br>
- Mẹ.<br>
<br>
Bàn tay Chiêu Thánh ấm  áp siết nhẹ.<br>
<br>
- Mẹ đây, con có đói không? Mẹ nấu cháo cho con ăn  nhé.<br>
<br>
- Con không đói, mẹ đừng đi đâu cả.<br>
<br>
- Không được, con ngủ cả  ngày rồi, không ăn sẽ lả mất. Nương nhi, con xuống bếp nấu cho em bát cháo đi  con.<br>
<br>
- Dạ.<br>
<br>
Đôi mắt khép lại, bàn tay nhỏ siết chặt không  rời.<br>
<br>
[end  flashback]<br>
<br>
<strong>.<br>
<br>
.<br>
<br>
.</strong><br>
<br>
Nhói.<br>
<br>
Bụng Bình Trọng  quặn lên.<br>
<br>
Dường như mọi sức lực đều bị rút sạch, chỉ còn lại lớp vỏ thân  xác mỏi nhừ.<br>
<br>
<strong>.<br>
<br>
.<br>
<br>
.</strong><br>
<br>
[flashback]<br>
<br>
- Khổng  tử nói, chỉ vào mùa đông người ta mới thấy được cây tùng, bách là loài cây rụng  lá cuối cùng, là sao hả mẹ?<br>
<br>
- Câu đó có nghĩa là chỉ trong nghịch cảnh  mới thấy được phẩm hạnh thực sự của một con người.<br>
<br>
- A, như câu lửa thử  vàng, gian nan thử sức hả mẹ?<br>
<br>
- Ừ, làm người thì phải hiểu thông viết  thạo được mười chữ.<br>
<br>
- Là chữ gì hả mẹ?<br>
<br>
- Đó là Nhân, Lễ, Nghĩa,  Trí, Tín và Trung, Hiếu, Chính, Học, Hành. Trong đó chữ Trung bao giờ cũng đứng  trước chứ Hiếu. Điều đó có nghĩa là con phải làm tôi trung trước khi làm đứa con  hiếu thảo.<br>
<br>
[end flashback]<br>
<br>
<strong>.<br>
<br>
.<br>
<br>
.</strong><br>
<br>
Ta  đang ở đâu?<br>
<br>
Trên thuyền của giặc ư?<br>
<br>
Thật nực cười, Bảo Nghĩa Vương  Trần Bình Trọng này mà cũng có ngày sa vào tay giặc...<br>
<br>
Tại sao chúng  không giết ta đi cho rồi.<br>
<br>
Lần đầu tiên rơi vào tay giặc và cũng là lần  cuối.<br>
<br>
Ta quyết sống làm người nước Nam, chết làm ma nước Nam. Tấm lòng  này sẽ không bao giờ thay đổi dù ở trong bất kì hoàn cảnh nào.  <br>
<br>
<strong>.<br>
<br>
.<br>
<br>
.</strong><br>
<br>
[flashback]<br>
<br>
- Bình Trọng, con  biết tội của mình chưa? <br>
<br>
Tiếng quát sang sảng của Lê Tần như quất vào tâm  can người đối diện.<br>
<br>
- Mình không cần phải quát con thế.<br>
<br>
Chiêu  Thánh cản chồng rồi quay sang nhìn, mỉm cười và nói:<br>
<br>
- Con đọc cho mẹ  nghe chín điều tự vấn của người quân tử.<br>
<br>
- Một là khi nhìn phải xét xem  mình nhìn có rõ ràng không; hai là khi nghe phải xem mình có hiểu đúng không; ba  là về nét mặt cần xem mình có thể hiện là một người ôn hòa không; bốn là trong  cư xử cần xem mình có lịch thiệp không; năm là khi nói năng phải xem mình có  chân thật không; sáu là trong công việc cần xem mình có nghiêm cẩn không; bảy là  khi nghi ngờ mình có thỉnh giáo người khác không; tám là khi giận dữ mình có tìm  hiểu nguyên cớ không; chín là khi thấy lợi lộc mình có đắn đo xem đáng được  hưởng không.<br>
<br>
- Con ngoan lắm, rất thuộc bài. Vậy mẹ hỏi con, chín điều đó  chung qui là gì?<br>
<br>
- Dạ, là khi nói năng, hành động phải luôn phải xét đến  hậu quả.<br>
<br>
- Vậy con đã làm được điều đó chưa?<br>
<br>
- Dạ chưa... con xin  lỗi cha, xin lỗi mẹ, từ nay con sẽ không tái phạm nữa.<br>
<br>
- Con biết lỗi là  tốt rồi. Đừng làm cho người khác những gì bản thân mình không muốn, hãy nhớ lấy  điều đó nghe con.<br>
<br>
Chiêu Thánh cười, nụ cười của một ngày trời quang sau  cơn bão, dịu dàng nhưng có chút buồn phiền. <br>
<br>
Nhạt nhòa, nhạt nhòa... là  nước mắt.<br>
<br>
- Dạ.<br>
<br>
- Đừng khóc, lần sau đừng tái phạm là được, mẹ sẽ  không trách đâu. Rồi, nín đi.<br>
<br>
[end  flashback]<br>
<br>
<strong>.<br>
<br>
.<br>
<br>
.</strong><br>
<br>
- Này, tỉnh dậy  đi.<br>
<br>
Bình Trọng choàng tỉnh giấc. Có cái gì đó thúc mạnh vào lưng, khiến  các vết thương nhói lên.<br>
<br>
- Dậy mau, thái tử cho gọi ngươi đó, dậy  đi.<br>
<br>
Bình Trọng thoáng bực mình nhưng ngay lập tức lấy lại bình tĩnh, cố  gắng đứng dậy, đĩnh đạc bước ra khỏi hầm.<br>
<br>
Thoát Hoan nhác thấy Bình Trọng  liền đon đả tiến lại gần, tự tay cởi trói cho vương.<br>
<br>
- Ta nghe tiếng  tướng quân đã lâu, nay mới được gặp quả thực đúng như lời đồn. Đám bầy tôi ngu  muội không biết, lỡ mạo phạm mong vương gia đừng chấp.<br>
<br>
Bình Trọng mặt  thản nhiên, mỉm cười ung dung đáp:<br>
<br>
- Thái tử quả thật nhân đức có thừa.  Không biết ta có làm gì nên nghiệp để thái tử nghe danh. Còn chuyện kẻ dưới  thì... thái tử không cần đổ lỗi cho bề tôi ngu muôi vì như thế thật thiệt thòi  cho các tướng quan, trong đàn trên dưới đều do chó đầu đàn quản lý  cả...<br>
<br>
- NGƯƠI…<br>
<br>
Các tướng soái trong phòng đều tuốt gươm, mặt ai  nấy cũng rất khó coi.<br>
<br>
- Các ngươi rút kiếm vào, không thấy ta đang tiếp  khách sao? – Thoát Hoan quay lại nạt nộ, giọng bực tức.<br>
<br>
Thoát Hoan gượng  cười, nói:<br>
<br>
- Từ lâu ta đã có lòng mến mộ tướng quân. Nếu tướng quân đồng  ý bỏ chỗ tối mà về chỗ sáng, trở thành tướng thiên chiều thì tước vương hay lộc  hậu đều không thiếu...<br>
<br>
- TA THÀ LÀM QUỶ NƯỚC NAM CHỨ KHÔNG THÈM LÀM VƯƠNG  ĐẤT BẮC, KHÔNG BAO GIỜ ĐỘI TRỜI CHUNG VỚI LŨ CƯỚP NƯỚC NHƯ LŨ CÁC  NGƯƠI.<br>
<br>
…<br>
<br>
…<br>
<br>
…<br>
<br>
Sững sờ… <br>
<br>
Thoát Hoan bàng hoàng,  mặt hắn biến dạng. Hắn đứng đó, nhìn chằm chằm vào vương rồi khẽ nhếch  môi.<br>
<br>
- Ngươi không muốn uống rượu mời mà lại muốn uống rượu phạt. Người  đâu, giải hắn ra chém.<br>
<br>
- Đa tạ thái tử ban ân. – Bình Trọng khẽ cười rồi  hất tay tên lính bên cạnh, tự mình bước đến nơi hành quyết.<br>
<br>
Thấy miếng  vải đen bịt mắt được đưa ra, Bình Trọng lắc đầu từ chối. Vương hiên ngang đứng  đối diện và nhìn thẳng với tên đao phủ. Đôi mắt tinh anh đầy nhiệt huyết khiến  cho cây đao trở nên ngập ngừng, chùng xuống. Bình Trọng đột nhiên cười lớn,  quát:<br>
<br>
- CHÉM ĐI, KHÔNG DÁM À?<br>
<br>
Tiếng quát của vương âm vang, dội  thẳng vào tên đao phủ, hào khí mãnh liệt. Chiếc đao rơi xuống, kêu lên một tiếng  keng khô khốc.<br>
<br>
- Ha ha, lũ các ngươi chỉ là một lũ đớn hèn, sẽ không đời  nào có thể chiến thắng quân Đại Việt, không bao giờ. QUAN GIA VẠN TUẾ! ĐẠI VIỆT  TRƯỜNG TỒN! BÌNH TRỌNG MỆNH BẠC, XIN ĐƯỢC PHÉP ĐI TRƯỚC, MÁU NÀY ĐỔ XUỐNG LÀ ĐỂ  RỬA SẠCH LŨ NHƠ NHUỐC.<br>
<br>
Tên đao phủ nhặt lại đao rồi bước xuống nhận một  bình rượu lớn uống cạn.<br>
<br>
Rượu cạn. <br>
<br>
Người say. <br>
<br>
Đao vung.  <br>
<br>
Máu chảy.<br>
<br>
Trên cao kia, từng lớp mây cuộn lại thành khối. Đỏ  bầm.<br>
<br>
Hôm nay, lòng trời cũng rỉ máu …<br>
<br>
<br>
<br>
<div align="center"><strong>~Hết~</strong></div><strong>I.  Nhân vật lịch sử được sử dụng:</strong><strong>II. Bối cảnh:</strong>