<b>Author:</b> Mistress Siana <br>
<b>Disclaimers:</b> HP là của Rowling. Fic là của tác giả. Tớ chỉ có bản dịch.<br>
<b>Genres:</b> Oneshot<br>
<b>Fandom: </b>Harry Potter<br>
<b>Characters: </b>Severus Snape, Albus Dumbledore<br>
<b>Warning</b> (nếu có): none<br>
<b>Author notes:</b> This is a little writing experiment of mine... And I have to warn you: I've very purposefully ignored the rules of storytelling and structure for this fic, and I had the time of my life doing so. So, as always, if you understand nothing, you're most probably sane.<br><br><br><br><br><br>

<center>-----------------------</center>

<p>Trong sâu thẳm và cực cùng tuyệt vọng</p>

<p>Vàng. Vàng và nhiều hơn nữa, và cuộc sống, cuộc sống vừa đủ cho chừng ấy vàng.</p>
<p><em>Hai điều mà những kẻ là con người sẽ chọn trên tất cả... con người thật sự là có sở trường có thể chọn ngay được cái gì tệ hại nhất cho họ.</em></p>
<p>Cuộc sống của con người. Lại ít người nhất.</p>
<p>Snape, đứng quay lưng lại với tấm gương. Hắn biết rằng sau đó là khát khao, thèm muốn sâu thẳm được viết trên bề mặt của cái linh hồn chưa bao giờ vị tha. Nó là chính nó; cái bản chất được tạo thành.</p>
<p>Albus Dumbledore, che giấu cuộc sống sau những khát khao- cái khiên hoàn hảo nhất. Có vài kẻ biết rằng ông ta bào chế cuộc sống cũng tinh tế như bào chế vàng, và có đủ vàng cho mọi cuộc đời. Hay đúng hơn là tất cả đều biết nhưng chỉ có một vài kẻ nhận ra điều đó. Đó đã là một sự thật nhuốm màu của chocolate được trao đổi trong những bàn tay trẻ nhỏ, Dumbledore- Nhà giả kim, đâu đó giữa Dumbledore- Vĩ đại và Dumbledore- Người duy nhất mà Hắn sợ. Đó là một thời gian rất lâu về trước, trước khi có được sự khôn ngoan và ông ta đã quay lưng lại với cuộc sống vĩnh hằng. Ông tin vào cơ hội thứ hai.</p>
<p>Cho nên, Snape nghĩ, thật là tự nhiên thôi khi ông ta tin hắn; một kẻ ghê tởm cuộc sống, một kẻ ghê tởm cái chết, quay lại và gặp nhau ở lưng chừng.</p>
<p>Severus Snape, bậc thầy Độc dược, kẻ bào chế cái chết trong mọi sắc thái và mùi vị, kẻ đã sợ hãi bị bỏ lại ở lưng chừng, giữa khoảng trống rỗng trong nó. Một câu chuyện không nên bắt đầu ở khoảng giữa, phải có một đoạn mở đầu để hiểu.</p>
<p>Ở đoạn mở đầu, Albus Dumbledore đã là một Nhà giả kim thuật.<br>
Ở đoạn mở đầu, Severus Snape đã là một cậu bé với cuốn sách Độc dược rất cũ.</p>

<p>Ở đoạn khởi đầu.</p>
<p>Hắn nhớ đã từng đứng chìm dưới đáy sâu nhìn hai người bạn cũ chuyện trò.</p>
<p><em>... và đồng ý rằng đó là cho Lợi ích lớn lao hơn.</em></p>
<p>Chống lại cái chết của chính mình, chống lại kẻ lẩn tránh cái chết, đấu tranh vì những cuộc đời nối tiếp. (Đừng quay lại).<br>
Hủy diệt đi khát khao khi họ quay quắt trong nó. (Đừng quay lại). Qúa khôn ngoan, nhưng bao nhiêu đau đớn để có được điều đó? Hắn tự hỏi, ở đằng sau đó, Dumbledore đã thật sự thấy gì... Cái điều mà ông ta đã đánh mất khi quay lại, cái điều mà ông ta đánh mất vì quay lại qúa trễ, hay điều mà ông ta không bao giờ có được? Ông ta thật cô độc, sau khi Nicholas ra đi.</p>
<p>Với Dấu hiệu hắc ám in hằn, hắn chưa bao giờ cô độc, luôn luôn phải cảnh giác, luôn luôn phải đề phòng. Mặt khác, hắn nhận ra, người ta luôn quay trở lại thành Một. Một Kẻ Đáng sợ. Một Kẻ được chọn. Một là hoàn toàn. Một là vĩnh cửu.</p>
<p><em>Không thể thay đổi, không thể hủy hoại.</em></p>
<p>Death Eater. Những kẻ nuốt trọn cái chết.</p>
<p>Snape, đứng quay lưng lại với tấm gương. Hắn luôn là kẻ bằng cách nào đó đã sống cuộc đời của người khác, và chỉ nhìn ra điều đó khi hắn nhận biết rằng mình sợ họ chết đi.</p>

<p>------</p>
<p>Lưng chừng, lưng chừng để sống, để rơi, để đứng lên, rơi xuống và tất cả những gì diễn ra ở giữa. Khoảng lưng chừng để dành cho sự lựa chọn.</p>
<p><em>Lựa chọn của chúng ta là điều quyết định, không gì khác.</em></p>
<p>Còn khao khát của chúng ta?</p>
<p>Con người có thể chọn những gì trái với khao khát của mình.</p>
<p>Phải, nhưng đến bao lâu?</p>
<p>Có những điều phải được thực hiện, và họ đã lựa chọn. Thất bại là chuyện bình thường của con người, phải, họ biết, nhưng họ không thể chấp nhận thất bại. Và họ cũng không thể giả vờ như mình không sợ... nhưng họ vẫn tiếp tục.</p>
<p>Cậu bé với làn da trắng tái.</p>
<p>Người đàn ông với khuôn mặt cau có.</p>

<p>Người đàn ông với một nụ cười.</p>
<p>Gặp gỡ. Gục ngã. Đứng lên. Sống?</p>
<p>Họ ngồi trong bóng tối và uống cạn sự thất bại của những kẻ không phải con người.</p>
<p><em>Ta đã bảo rằng nó đi tìm nhầm nơi... Dù thế, ta không thể chỉ cho nó đúng nơi phải đến. </em></p>
<p>Qúa khôn ngoan...</p>
<p>Khoảng lưng chừng không phải là nguyên nhân hay hệ qủa, vì thế là nơi mà con người đơn giản là e ngại. </p>
<p>-------</p>
<p>Phải có sự kết thúc cho ngày chuộc tội.</p>
<p>Ở đoạn kết...</p>

<p>Ở đoạn kết...</p>
<p>Nhà giả kim, bậc thầy Độc dược, cậu bé với cuốn sách cũ, tất cả bọn họ đã trở thành người của chiến tranh. Họ đã đánh đổi, sau đó, trở lại điểm mà họ đã quay đi, bảo toàn hay thiêu cháy sự sống và cái chết để rửa sạch bàn tay mình.</p>
<p>Và giờ đây, Dumbledore đã phá vỡ nó. Đã lao vào. Hèn nhát.</p>
<p><em>Hèn nhát...</em></p>
<p>Snape cảm thấy bị phản bội. Giận dữ.</p>
<p><em>Ông không thể...</em></p>
<p>Bất lực.</p>
<p><em>... đối với tôi như thế.</em></p>
<p>Mỉa mai.</p>

<p><em>... đối với Potter như thế.</em></p>
<p>Ông ta nghĩ mình bí ẩn trong khi thực tế thì ông ta đang liều lĩnh, và ông ta cho hắn những đôi vớ trong ngày Giáng sinh. Hắn không thể nào...</p>
<p><em>Anh đã đồng ý làm điều đó, và đây là tất cả những gì phải làm.</em></p>
<p>Hắn biết mình không bao giờ có cơ hội nào.</p>
<p>Hắn sẽ là Kẻ giết Dumbledore. Hắn sẽ trở thành Một Kẻ nào đó.</p>
<p>-------</p>
<p>Phải có sự kết thúc cho ngày chuộc tội. Phải có nỗi đau, vì chỉ có nỗi đau mới đem lại sự khôn ngoan, không phải là tuổi tác hay kiến thức. Trong nỗi đau của mình, hắn nghĩ rằng thật thích hợp cho Dumbledore khi ông ta tìm được cái chết trong tay hắn. Hắn, kẻ đã van xin cho cuộc sống của những kẻ mà ông ta đang cứu vớt.</p>
<p>Trong nỗi đau của mình, Dumbledore có thể đã luôn biết rằng mọi việc sẽ là như thế. Có những điều phải được thực hiện, và ông đã gọi...</p>
<p><em>Kẻ nuốt trọn Cái chết. Death Eater.</em></p>

<p>Cũng giống như ta.</p>
<p>Niềm khát khao sâu thẳm và tuyệt vọng nhất chưa bao giờ là vị tha. Không nên ngạc nhiên vì điều đó.</p>
<p>------</p>
<p>Ở đoạn kết...</p>
<p>Kẻ phẫn nộ, kẻ chết.</p>
<p>Kẻ đã làm điều đó.</p>
<p>Một mình.</p>
<p>------</p>
<p>Dumbledore, Nhà giả kim, đã sống, chưa bao giờ sống.</p>

<p>Snape, quay lưng về phía tấm gương.</p>